[2021-12-21 11:34] fadeevab opened #5927 "`cargo install near-vm-runner-standalone` fails: error in `staticvec` dependency with Rust 1.57/1.49/nightly"
**Describe the bug**
There is an example in Near SDK Rust which states  "Install NEAR Runtime standalone runner first":
[code]
However, cargo build fails with many errors.

It fails with the following **Rust** compiler versions:

1. 1.42.0
2. 1.45.0
3. 1.49.0
4. 1.57.0
5. nightly

**OS**: Windows/Linux/WSL

Error sample:
[code]

**To Reproduce**
[code]

**Expected behavior**
Installation succeeds.

[2021-12-21 13:20] ilblackdragon commented on #5811
Yes, this should go to near-cli

On Tue, Dec 14, 2021 at 8:38 PM Benjamin Kurrek ***@***.***>
wrote:

--
Best regards,
Illia Polosukhin

[2021-12-21 14:03] BenKurrek commented on #5811
Moving this issue to NEAR-CLI and closing.

[2021-12-21 14:03] #5811 closed

[2021-12-21 14:58] austinabell commented on #5920
It May or not be relevant, but with the new SDK collections, accesses are cached to avoid duplicate access, so this change might only be beneficial for Aurora and anyone accessing storage manually. I suppose that if the accesses are cached per block, it may help if multiple other txs access duplicate keys, but unsure if the overhead of having the cache and potential increase of cost of this would

[2021-12-21 15:08] mm-near commented on #5684
nice, I like it.

can you mention more details on how the frequency mapping would look like? (and how are we going to control it)

[2021-12-21 15:41] AngelBlock commented on #5903
Closing due to inability to check T+1 epoch performance retrospectively.

[2021-12-21 15:41] #5903 closed

[2021-12-21 17:03] ok-everstake opened #5931 "Validator mainnet node restarted with `memory allocation failed` issue"
**Description**
Validator mainnet node has been restarted two times with `memory allocation failed` issue.
Node memory usage for the past 2 days `avg 5,78 GB & max 7,6 GB`. 64 GB on the server.

**To Reproduce**
Nothing special

**Expected behavior**
Validator node works fine without unpredictable restarts

**Logs**
Error on the first restart
[code]
Error on the second restart
[code]

**Version:**

[2021-12-21 17:43] Longarithm commented on #5920
Hey @austinabell, this is interesting! Could you give some examples?

I'm curious how it can be cached, because if cache touches contract storage, I don't see how it can avoid touching trie nodes.

[2021-12-21 17:51] mina86 opened #5932 "`assign_shards` is broken when trying to assign last validator to shard it was already assigned to"
Trying to assign validators with balances `[5, 4, 3]` to two shards with minimum number of validators per shard being two results in a panic.

[2021-12-21 17:54] austinabell commented on #5920
Yeah, so in `near_sdk::store` we are rebuilding the APIs to match Rust `std` collections equivalents, which also comes with an intermediate layer for every operation so reads are lazily loaded into memory and writes are done in memory and are only written when they are dropped. Can see some tangible impls in https://github.com/near/near-sdk-rs/tree/master/near-sdk/src/store.

[2021-12-21 17:58] matklad commented on #4833
Not really, need to revive https://github.com/near/nearcore/pull/5071

[2021-12-21 19:54] mzhangmzz commented on #5900
Yes, sorry for the bug, I will just revert the original commit

[2021-12-21 20:51] marcelo-gonzalez opened #5936 "29 -> 30 database migration panic"
I got this error running neard built from the current HEAD (42e4e129b37a8462d6045ec07f8f):

[code]

Now, I had previously stopped (with ctrl-C) neard while it was doing this migration, so something must have been left in a bad state. Is stopping neard mid-migration supposed to supported as a safe operation? If not, would maybe make sense to print a message saying not to stop the process until it's

[2021-12-21 21:40] bowenwang1996 commented on #4422
@asifhj did you change your config.json between restart of the node? This error could be the result of you trying to change from tracking no shard to tracking some shard

[2021-12-22 02:11] zouyuxuan commented on #5824
i have the same problem ![image](https://user-images.githubusercontent.com/33485252/147023160-f8778b59-bf7b-4d91-9bf0-44f56b891639.png)

[2021-12-22 02:31] pmnoxx commented on #5684
There are multiple uses cases. By default, we should group data in groups of 1m, for a few reasons:
- from my experience, while analyzing Time Series graphs, a frequency of more than 1m, wasn't that useful, due to there being a lot of variance
- If you group for longer period of time, let's say 1h or 10m. You risk loosing data, due to process closing, node crashing, etc. `1m` frequency seems to be

[2021-12-22 07:40] pmnoxx commented on #5684
@mm-near Take a look at https://www.rsyslog.com/

[2021-12-22 19:54] pmnoxx opened #5953 "MacOS binary release pipeline is failing"
See https://github.com/near/nearcore/actions/runs/1611832093

[code]

It looks like this is related to the removal of `near` binary target.

[2021-12-22 19:55] pmnoxx commented on #5953
@bowenwang1996 @mm-near

[2021-12-22 20:05] #5654 closed

[2021-12-23 00:33] #5953 closed

[2021-12-23 00:54] bowenwang1996 commented on #1655
@Rishabhraghwendra18 thanks! closing this issue as it is already implemented

[2021-12-23 00:54] #1655 closed

[2021-12-23 01:14] bowenwang1996 commented on #5927
@matklad @nagisa any idea why this happens?

[2021-12-23 09:07] ChzenChzen commented on #3803
Hi. I can't build near-core for my indexer project. I use `channel = "stable-x86_64-apple-darwin"` on my m1 mac. I wonder if I do something wrong, or it's because nearcore isn't available for m1 users?

[2021-12-23 11:07] ChzenChzen opened #5959 "Can't build near-core on x86 or m1 machine"
It's the same behavior on two different machines (m1 MacBook and Ubuntu x86_64). When I start to compile I get the same compilation error.

`Cargo.toml`
[code]

`rust-toolchain.toml`
[code]

build log:
[code]

[2021-12-23 13:21] matklad commented on #4649
@Longarithm let's close the issue? I think this is mostly done? There's probably some specific follow-ups, but they are worth opening separate issues for.

[2021-12-23 13:57] dimaelkhsos commented on #5824
same happened now for mainnet, how can we get our nodes running

[2021-12-23 14:44] ChzenChzen commented on #5959
So, I solve the problem.
`Cargo.toml`
[code]
I build it and run on m1 mac on `channel = "stable-x86_64-apple-darwin"`

[2021-12-23 14:45] matklad opened #5961 "Use correct cost in gas profile for adding function call key"
This is wrong:

https://github.com/near/nearcore/blob/4234f81db8e9cf2ca90a350b5a6a886e575bf55f/runtime/near-vm-logic/src/logic.rs#L1739-L1751

This is not `function_call` action, this is `add_key` action. I believe this only affects gas profile, so this isn't a correctness issue, just a dev-x one.

[2021-12-23 14:49] matklad opened #5962 "protocol_feature_fix_contract_loading_cost tracking issue"
`protocol_feature_fix_contract_loading_cost` features changes the logic for charging for loading contract. Roughly, this is a per-byte cost which measures the work of "dynamic linker" (loading pre-compiled x86_64 machine code from the database into memory, doing neccesary adjustments and marking the relevant pages as executable).

Specifically, the "fix" here covers:

* charging the cost if contra

[2021-12-23 18:18] ok-everstake commented on #5931
Validator mainnet node has been restarted two more times today (Dec 23).  Available memory on the server - min 56% for the past 2 days.
[code]
[code]

[2021-12-23 19:15] olonho commented on #5707
Further investigations show pretty mediocre IO performance on the system.
Namely `iotop` tool shows the following:

[code]
so we generally get 12M/sec disk drive performance. Compared to https://www.anandtech.com/show/7173/samsung-ssd-840-evo-review-120gb-250gb-500gb-750gb-1tb-models-tested/8 it hints that we get performance 3x worse than slowest of SSD drives in this list. Just for reference comp

[2021-12-23 19:26] olonho commented on #5707
https://cloud.google.com/compute/docs/disks/performance suggests that for GCP instance expected read throughput per instance is between 200MByte/sec and 9GByte/sec.

[2021-12-23 21:42] mina86 opened #5969 "Prefer `neard-sandbox` to `near-sandbox`"
Currently `make sandbox{,-release}` creates a binary called `near-sandbox`.  That naming is inconsistent with how we call the plain executable.  It would be better if we used `neard-sandbox` instead (notice the `d`).

Just changing the name is of course a trivial affair but we are also uploading sandbox release binary under `near-sandbox` name and documentation refer to it.  Those would need to be

[2021-12-24 10:13] olonho commented on #5707
And some nodes (archive backup) shows actual peak read performance around 500Mb/sec per gcloud console.

[2021-12-25 02:27] zouyuxuan opened #5974 "testnet rpc node state sync error"
***Describe the bug***
 the running test network nodes are in synchronization state for a long time
 ***To Reproduce***
 when i run testnet with ./target/release/neard --home /data/neartest run ,when it started downloading headers to 99.5%, it began to be in the State `3steam1uecmpjejmxnjxsqxp8paupvpxk1pjk4xca3a`, which lasted more than ten hours.
 logs like this
 1.5MiB/s 0.00 bps 0 gas/s CPU: 44

[2021-12-25 02:55] sdmurphy opened #5975 "database corruption"
Bowen asked me to create this issue. However I already wiped the data directory and downloaded a snapshot.

My testnet node got kicked and I saw this in the logs.
![image](https://user-images.githubusercontent.com/8061249/147375978-dcb23da4-408c-4f04-afa9-912ee905bd1a.png)

After restart it looked like this:
![image](https://user-images.githubusercontent.com/8061249/147376317-d89bd45b-9178-4323-87

[2021-12-25 03:07] zouyuxuan commented on #5975
I unzipped the test network snapshot without 159644.sst and my snapshot size is 153g

[2021-12-25 18:25] kulame commented on #5372
i meet the same question

[2021-12-25 21:36] sdmurphy commented on #5975
I did the MD5SUM because I was going to compare it to another node, but it didn't have the 159644.sst either. This node was probably synced from scratch.

[2021-12-26 04:55] Rishabhraghwendra18 commented on #5079
@bowenwang1996 I have opened an issue in the repo regarding setting Up the local development environment few days back , see #5735 . It will also have the instructions to build the repo so do we include same those steps here too ? If we did then I think we need to update the same steps at two places if our setting up environment steps change.

[2021-12-26 21:10] willemneal commented on #4153
Not stale.  Storage abstraction should not rely on rocksdb

[2021-12-27 10:12] vorotech commented on #5936
Got the same issue. Has stopped with Ctrl+C after it seemed to be stuck with last entry in the log `INFO near: Migrate DB from version 29 to 30`
Next time I was trying to launch it it was giving the same error. Currently trying to find a way to fix the broken state.

[2021-12-27 19:44] bowenwang1996 commented on #5900
Fixed in #5935

[2021-12-27 19:44] #5900 closed

[2021-12-27 19:44] bowenwang1996 commented on #4633
@matklad I believe @jakmeier is working on this. Is it correct?

[2021-12-28 06:48] bowenwang1996 commented on #5974
This is normal. State sync may take several hours to finish and the node would not make any progress in the meantime.

[2021-12-28 06:52] zouyuxuan commented on #5974
It has been in this state for several days.after synchronization, the data size is only 132g, and its original data size is 153g

[2021-12-28 07:36] ashpooljh commented on #3927
not stale

[2021-12-28 17:58] rencryptofish opened #5976 "peers keep getting banned"
running v1.23.0, the node keeps banning peers down to zero peers

!<span class="error">[image]</span>([https://user-images.githubusercontent.com/84360463/147593859-90a3fd80-756c-47ae-8766-825e0e2c673e.png](https://user-images.githubusercontent.com/84360463/147593859-90a3fd80-756c-47ae-8766-825e0e2c673e.png))

[2021-12-28 18:09] bowenwang1996 commented on #5707
Interesting. @olonho do you think the issue is specific to the instance you use to run the history playback tool? Is there some disk IO benchmark we can run to see whether the instance itself is problematic?

[2021-12-28 18:26] bowenwang1996 commented on #5824
@dimaelkhsos did you use nearup as well?

[2021-12-28 18:29] bowenwang1996 commented on #5931
@matklad is it possible that wasmer sometimes tries to allocate a lot of memory? It could have very well been something else though but just want to double check

[2021-12-28 19:12] bowenwang1996 commented on #4419
This is completely done.

[2021-12-28 19:12] #4419 closed

[2021-12-28 19:14] bowenwang1996 commented on #5975
@sdmurphy just to confirm, did you happen right after you start the node or after your node has been running for a while? If it is the former there may be an issue with the snapshot.

[2021-12-28 19:23] bowenwang1996 commented on #3098
@matklad friendly ping :)

[2021-12-28 19:25] bowenwang1996 commented on #5936
Yeah that is the problem. I believe the migrations are not written in an idempotent way, especially if they involve changes to some data structure.

[2021-12-28 19:46] dimaelkhsos commented on #5824
Yes i am using nearup

[2021-12-28 21:31] MysticRyuujin opened #5977 "README - Documentation - Validator - 404"
The README points to https://docs.nearprotocol.com/docs/validator/staking-overview but that throws a 404?

[2021-12-29 03:47] kucharskim opened #5978 "neard 1.23.0 mainnet panicked with Cannot allocate memory in wasmer2_runner.rs"
**Describe the bug**
NEAR mainnet got stuck after process panicked:

[code]

Process did not crash from that moment, but ended up with log spew:
[code]
and needed manual restart.

**To Reproduce**
Unknown

**Expected behavior**
- Don't over allocate memory
- If there is really a memory pressure and process cannot allocate memory, should process just `exit 1` and not get stuck?

**Version (please c

[2021-12-29 03:56] kucharskim opened #5979 "add rust version to `/status` endpoint"
Recently we had issues on different blockchain (Solana) where process was crash looping. With long streak of troubleshooting it turned out, Rust version was the culprit and not Solana codebase itself. Well both rust+solana, but we were only one of very few validators hitting problematic code path, because of Rust, used to compile Solana binary. Please add `rust` version to the `neard` binary, how

[2021-12-29 04:05] kucharskim commented on #5978
`LimitDATA` and `LimitRSS` are not new settings. We have them probably for 9+ months. I may bump it up to 24GB for a start.

[2021-12-29 04:13] kucharskim commented on #5978
[code]

[2021-12-30 04:01] Rishabhraghwendra18 commented on #5961
Hi @matklad . May I work on this issue ?

[2021-12-30 04:13] Rishabhraghwendra18 commented on #3217
Hi @nikurt are you working on the issue ?

[2021-12-30 09:25] Al3c5 commented on #5975
I have my backup node stuck with this error

I t tried to reset with the 2 last snapshots and it keeps ending up with this error.
Here is what I did

Then downloading headers always works.
It either fails:
- when it comes to download blocks. There is a ~5 min gap in the log, then this error arise
OR
-  after having been able to download a couple of blocks.

Then a restart gives ERROR/WARN about co

[2021-12-30 09:49] Al3c5 commented on #5975
Also, my server is not running out of space and I tried to reset near home on two different NVMe disks.
It keeps running in this error.

[2021-12-30 18:13] bowenwang1996 commented on #3193
we should look into this as many Aurora transactions spend more than 50% of the gas used on touch_trie_node. cc @Longarithm @mm-near

[2021-12-30 18:30] bowenwang1996 commented on #3812
@matklad do we still need this?

[2021-12-30 18:35] bowenwang1996 commented on #5976
@rencryptofish which network is this? This looks like a problem with your set up. Is it possible that your used an incorrect snapshot to run your node?

[2021-12-30 18:39] bowenwang1996 commented on #5978
Same issue as #5931

[2021-12-30 18:43] #5688 closed

[2021-12-30 19:24] kucharskim commented on #5979
Also, what I found useful, a commit hash of git repo checkout and it the checkout clean or not (local uncommitted changes).

[2022-01-03 09:19] frol opened #5983 "Attach compiled binary for releases"
1.  1.  1.  Discussed in [https://github.com/near/nearcore/discussions/5905](https://github.com/near/nearcore/discussions/5905)

<div type='discussions-op-text'>

<sup>Originally posted by ***Ljzn*** December 20, 2021</sup>
 The build time of nearcore is too long, it would be easier to use if we could have a binary release. For most common archs like linux.</div>

[2022-01-03 14:35] BenKurrek commented on #5183
Cross posting from TG and messages with @khorolets:

I’m getting a ton of memory issues with the new commit hash (397a7a45b8efd3e4604374a4efabd567c03c0a19) It has crashed 3 times in a week.

These are my messages with Bohdan:
![image](https://user-images.githubusercontent.com/57506486/147942880-4edf3245-20ff-4a9a-8d25-764dd3768758.png)
![image](https://user-images.githubusercontent.com/57506486/14

[2022-01-03 14:39] pmnoxx commented on #5183
https://github.com/near/nearcore/pull/5902

[2022-01-03 14:40] Rishabhraghwendra18 commented on #5979
@bowenwang1996 I think I can help on this issue . I run the `cargo run -- --home ~/.near run` in `neard` directory . It started the node showing block height and all others stuff . But I don't get a way to interact with blocks (or something else) on which I can make a request to `/status` endpoint to reproduce the issue to know how it's currently . May you tell me how can I see the `/status` endpo

[2022-01-03 14:42] Rishabhraghwendra18 commented on #5976
I think he is using localnet . I am also having this issue

[2022-01-03 14:49] Rishabhraghwendra18 commented on #5345
Hi @pmnoxx is this issue resolved ? I have found some tests in the [file](https://github.com/near/nearcore/blob/master/core/primitives/src/time.rs#L182)

[2022-01-03 15:32] pmnoxx commented on #5345
@Rishabhraghwendra18 I did it already, see #5362

[2022-01-03 15:32] #5345 closed

[2022-01-03 18:15] pmnoxx commented on #4490
@matklad The solution for having many prints is to run the code with
`RUST_LOG=warn cargo test --workspace`.

By setting proper environment flags you eliminate the issue.

[2022-01-03 18:18] pmnoxx commented on #442
I'm a big favor of `clippy`. I detected many potential issues ahead of time.
It also has many useful suggestions on how to write a cleaner, more readable code.I think we should enable it by default.

[2022-01-03 19:06] kucharskim commented on #5931
This occurs every couple of days on multiple of our nodes:
[code]

[2022-01-03 19:24] kucharskim commented on #5931
We are bumping limits up to:
[code]

[2022-01-03 19:25] kucharskim commented on #5931
...we were at 20GB before, for 9 months or so.

[2022-01-04 07:24] Longarithm opened #5985 "Compute RocksDB stats in runtime"
RocksDB allows to compute statistics on the fly. We can do this for rocksdb object:

[code]

List of property descriptions is here - [https://github.com/facebook/rocksdb/blob/6e0f62f2b68f0fc1b40e0a143008a3b8a5ba3c41/include/rocksdb/db.h#L722](https://github.com/facebook/rocksdb/blob/6e0f62f2b68f0fc1b40e0a143008a3b8a5ba3c41/include/rocksdb/db.h#L722).

We can extract size of each column from compac

[2022-01-04 08:12] matklad commented on #5807
was fixed!

[2022-01-04 08:12] #5807 closed

[2022-01-04 08:14] matklad commented on #5560
I believe this is fixed, thanks @jakmeier !

[2022-01-04 08:14] #5560 closed

[2022-01-04 08:15] matklad commented on #5521
fixed by #5715

[2022-01-04 08:15] #5521 closed

[2022-01-04 08:19] matklad commented on #4911
Status: we did this. We pursued the approach where the semantics of gas counter is preserved exactly, so we didn't have to do the parts related to the protocol upgrade.

[2022-01-04 08:19] #4911 closed

[2022-01-04 08:21] matklad commented on #4910
Status: holding back updating the nomicon -- there's a high chance that this isn't in fact a protocol change: there are some contracts which behave differently under wasmer0 and wasmer2 (we have tests for that in the suite), but we have a reason to believe that we've never hit such cases in the history on the mainnet. To figure this out, we are doing a big history replay experiment, which takes mo

[2022-01-04 08:23] matklad commented on #5962
related: #4826

[2022-01-04 08:24] matklad commented on #4753
superceeded by #5315

[2022-01-04 08:27] #4753 closed

[2022-01-04 08:38] matklad commented on #4633
Yeah, @jakmeier is working on this general area, though I'd say this particular issue is fixed, and we should open more specific sub-issues for what's left to be done ...

* residual refactors
* look at each and every cost one-by-one and make sure it makes sense
* update QEMU image
* fix touching-trie-node costs

... with the terminal goal of ensuring that our fees are sound (non-exploitable) and

[2022-01-04 08:38] #4633 closed

[2022-01-04 08:39] matklad commented on #4520
I think this might get fixed by #5960

[2022-01-04 10:37] nikurt commented on #3217
@Rishabhraghwendra18 no updates yet

[2022-01-04 10:58] nagisa commented on #1987
Wasmer2's singlepass backend canonicalizes NaNs as necessary by default (though I cannot vouch for the canonicalization being exhaustive, or bug-free), making the first two points in the checklist above solved.

In response to:

singlepass supports x86_64 _only_, right now, so NaN canonicalization is probably the least of the blockers for this kind of feature request and probably should be tracked

[2022-01-04 11:01] nagisa commented on #4520
I believe we already use the `universal` engine even before the PR in question. I think that makes this issue solved already. Closing, but lets reopen if there's any reason to believe that's not the case.

[2022-01-04 11:01] #4520 closed

[2022-01-04 11:03] nagisa commented on #5014
Could you please elaborate what do you mean exactly by “cold start”?

Is it the speed at which the very first contract is prepared since the `neard` process was launched? Or is it the speed at which any given contract gets prepared to run for the first time? Maybe something else?

[2022-01-04 11:48] matklad commented on #1987
Makes sense!

Do we have tests for nan canonicalization? This is something that might differ between runtimes (as that's not specced by WASM), so we should have tests for this on our side.

I think we have one test here:

https://github.com/near/nearcore/blob/960c4112111bc4a2f214af65c37bfa55a1552062/runtime/near-vm-runner/src/tests/runtime_errors.rs#L794-L843

But I don't think we have [reinterpre

[2022-01-04 14:19] jakmeier opened #5991 "Estimation functions for fundamental unit helper-costs"
Inside `runtime-params-estimator/src/cost.rs` we have one `Cost` entry for each estimation. Some are for specific runtime parameters. Others do not have such a direct relation but we still want to estimate and track them. Let's call the first group *parameter-costs* and the second group *helper-costs*.

This issue is about these specific *helper-costs*:
* `OneCPUInstruction` (this is x86, **not**

[2022-01-04 14:42] jakmeier opened #5992 "Gas metering cost estimation sometimes negative"
The old tests to run gas metering estimation almost always had some subtraction underflows which have been hidden behind a `i128 as u64` conversion. (I discovered this when refactoring.)

Running the estimator with `--metric time--costs GasMeteringBase` still has this problem.

To reproduce, this panics on my machine:
`cargo run --release -p runtime-params-estimator --features required -- --metric

[2022-01-04 14:54] jakmeier opened #5993 "Validate and clean up all cost estimations"
Let's go through all costs defined inside [`runtime-params-estimator/src/cost.rs`](https://github.com/near/nearcore/blob/4166c155e812fb4fc2fb02e94ca318d07b957d81/runtime/runtime-params-estimator/src/cost.rs#L9) and check that the estimation makes sense as it is.

Some things are already known that they need a clean-up:

- [ ] Missing estimations for `Cost::ContractCompileBase` and `Cost::ContractC

[2022-01-04 15:29] matklad commented on #5969
To play devil's advocate, the current naming isn't necessary bad `neard` is "near daemon", and `near-sandbox` is, well, "near sandbox", not "near daemon sandbox". Today the two are rather similar, but I can see them diverging in the future, and becoming two separaet binaries using a common shared library. For example, it doesn't **really** make sense for the sandbox to carry the whole rocksdb, and

[2022-01-04 16:13] nagisa commented on #5927
I can reproduce the same problem, but note that `near-vm-runner-standalone 2.2.0`, which is what `cargo install` pulls has been uploaded a year ago. There most likely is little relation between current master and what's on crates.io.

[code]

(note the `-p` flag) in repository checkout should work better.

[2022-01-04 16:37] nagisa commented on #5927
We should definitely look into publishing a new version though.

[2022-01-04 16:57] jakmeier opened #5995 "Robust IO cost measurements in estimator"
We have to make sure our IO measurements for the parameter estimator are:
* isolated from what runs before (e.g. setup) and afterwards
* immune to artifacts caused by the storage architecture

To get there, I think I need to first understand our storage layers better and we should probably reflect on what the goal of the measurement is.

### Todos
1. We have to understand the factors that cause IO

[2022-01-04 18:15] jakmeier opened #5996 "Quantify under/ overcharging of parameters"
We need to keep an eye on how much we under- or overcharge operations on the blockchain.

I see this as a task with several stages:

1.  Get a rough overview of where we are right now, comparing estimations to real execution times (and to current mainnet gas costs since #4474 is still hanging)
2.  Improve our confidence of each estimation one-by-one. (Tracked in many other issues independent from

[2022-01-04 18:24] mina86 commented on #5969
But is it a ‘near sandbox daemon’? ;) I think of it with analogy to daemon built with nightly features which I would call `neard-nightly` rather than `near-nightly`.

Also note that `make docker-nearcore-sandbox` uses a `neard` executable name.

[2022-01-04 18:25] jakmeier commented on #4633
I've written down all that I could think of as follow-ups around the topic of estimator confidence:

- #5991
- #5992
- #5993
- #5995
- #5996

This covers at least some of what you listed. @matklad
But feel free to create more where you see fit!

I think most pressing are probably the last two, understanding storage better and getting a rough overview of undercharging right now. So I guess that's w

[2022-01-05 06:21] ailisp commented on #5014
It's this one:

Speed of "first contract since neard was launched" isn't important because neard expected to be long running, only restart at  new releases

[2022-01-05 16:39] matklad commented on #5931
cc @nagisa

This particular line indeed allocates a sizable chunk of memory -- 64megs. It's always 64 megs though, it's not variable. It's also serviced directly from mmap, bypassing the allocator. *And* we do this for every contract call, which happens rather often.

So, I am not surprised that this is the line that fails under memory exhaustion condition.

I would be surprised though if this lin

[2022-01-05 16:53] matklad commented on #4490
Seems reasonable to flip the default? Run with `RUST_LOG=INFO` if you need the logs, but get no unnecessary verbose output by default. Generally you only want to see logs for failing tests.

[2022-01-05 17:39] nagisa commented on #5931
There are situations other than exhaustion of physical memory bytes that could cause any attempt to allocate return an ENOMEM. In particular, the failure modes are (paraphrasing the man pages for `mmap`):

* The process's maximum number of mappings would have been exceeded.  This error can also occur for `munmap`, when unmapping a region in the middle of an existing mapping, since this results in

[2022-01-05 21:23] pmnoxx commented on #4490
I agree, it's a good idea to switch the default for tests. However, then we should update the CI to run with `RUST_LOG=INFO`. Otherwise, you won't see errors on test failure.

Also changing the default, would change default settings for `neard` binary.

[2022-01-05 22:25] mina86 commented on #4490
Yes, this is the issue. When I run tests all I want to see is `test foo::bar::baz ... ok` a bunch of times. Logs should only be printed on failure.  And to be honest I don’t understand why this isn’t happening; isn’t test runner supposed to capture output of each test? Why are logs still visible?

[2022-01-06 11:43] matklad commented on #5962
Note: we also should charge this cost if contract fails to compile (ie, it is invalid wasm)

[2022-01-06 15:20] marcelo-gonzalez commented on #4581
So it seems there are actually many different spots where these hashes are recomputed, with various difficulties in untangling. The kind that would probably be easiest to undo now are the ones of the form:

[code]

In this case, we have the hash in hand, so we can just copy it instead of recomputing it. But then there's the trickier case:

[code]

In this case, we have the `struct Foo` hash, but n

[2022-01-06 15:26] marcelo-gonzalez commented on #5485
didn't realize that https://github.com/near/nearcore/issues/5695 existed, but these two issues seem to be talking about pretty much the same thing? I'll just close this one in favor of tht one since there's more discussion over there.

[2022-01-06 15:28] nagisa commented on #5485
Your call. I think this issue is reasonably actionable whereas #5695 is pretty broad.

[2022-01-06 18:09] nagisa opened #8962 "near-vm: Separate stack for VM executables"
Currently wasmer executes the code on the primary stack. This presents a couple of problems – there's some non-determinism due to the native stacks not having a deterministic size (glibc provides 8MB, Windows provides 1MB, musl may provide less space than even that by default) as described [here](https://ariadne.space/2021/06/25/understanding-thread-stack-sizes-and-how-alpine-is-different/).

We s

[2022-01-06 18:16] nagisa opened #8963 "near-vm: Make the stack guard page larger, so that locals can be initialized more efficiently"
Currently the function can have up to [50k-or-so locals](https://github.com/bytecodealliance/wasm-tools/blob/c2be78c61ddee3d4e803c2a6bb23148fc0d29b6a/crates/wasmparser/src/limits.rs#L29-L31). This is slightly less than 800kB of space that could be used to jump past a default 4k guard page.

We should ensure the stack has at least this much (rounded up 1MiB sounds nice) of a guard page, ensuring th

[2022-01-06 18:22] nagisa opened #6007 "Have a mechanism to ensure VMLogic functions have bounded stack usage"
Currently the `VMLogic` functions that are importable into the contract don't really have any setup around them to ensure that their stack utilization is bounded.

Ideally we could establish this bound statically by e.g. asking LLVM to generate it for us and then using a tool such as [`stack_sizes`](https://docs.rs/stack-sizes/0.4.0/stack_sizes/) to parse it, but this kind of analysis only works i

[2022-01-06 18:25] mintiayields opened #6008 "Add --log-level as a command line option OR config.json file option"
I have seen this discussed as a RUST_LOG environment variable usage, however it will have a lot more sense as a config file option or a command line option. I sometimes get a hundred warnings a second written to my neard logs and there is not much I can do to prevent this.
I suggest that this is put in config.json and has multiple options, for instance: "log_level = info, error"

[2022-01-06 18:33] mintiayields opened #6009 "Support log rotation"
Support traditional Linux log rotation. To make this work we need to be able to configure neard to save logs to a file and then have a mechanism to tell it to close the log file descriptor and reopen it.

The way this traditionally works on Linux servers is:

1.  Daemon saves logs to ‘log-file’.
2.  logrotate renames ‘log-file’ to ‘log-file.1’.
3.  logrotate sends SIGHUP to the daemon.
4.  Daemon

[2022-01-06 18:40] mintiayields opened #6010 "init and unsafe_reset_all subcommands enhancement"
When neard is run with "init" parameter it will overwrite any existing files without warning, including node_key.json and validator_key.json. Yes, validators should backup their keys, data, etc. But adding a simple rename function to the code once it finds the existing file would be a safety feature. The rename pattern may be "original_filename_<cur-timestamp>.original_extension.bak
For unsafe_res

[2022-01-06 18:47] mintiayields opened #6011 "Enhancements to start up process"
Currently neard will start up, initialize, check database, connect to peers, catch up, start validating.
Is it possible to launch some processes asynchronously? For instance connecting to peers may be parallel to opening database, right? Also it could make sense to use commands that will skip certain validations at startup, for example "restart" command may tell neard that it is starting up on fre

[2022-01-06 19:26] marcelo-gonzalez commented on #5485
@nagisa hm yah that's true. I'll reopen then, since in any case I dont think there's that much left to do to resolve just this one. will send some PRs soon

[2022-01-07 01:17] bowenwang1996 commented on #2581
@austinabell @MaximusHaximus ?

[2022-01-07 01:27] bowenwang1996 commented on #4581
@marcelo-gonzalez I think we can go with the approach where we introduce a new struct under the enum and remove `#[derive(BorshSerialize, BorshDeserialize)]` and make sure for the new struct, the hash is not recomputed when loading from storage. For historical data, we can leave it there for now and decide later whether we want to do a database migration.

[2022-01-07 01:30] bowenwang1996 commented on #5979
It can be accessed at `http://localhost:3030/status`

[2022-01-07 01:39] bowenwang1996 commented on #5995
The work that @Longarithm did on visualizing the trie could be helpful here

[2022-01-07 01:55] ok-everstake commented on #5931
@nagisa I have some graphs, not sure if this helps. For the last 15 days, falls around the time of crashes/restarts
Memory utilization % by zabbix vm.memory.utilization
![Screenshot 2022-01-07 at 02 28 03](https://user-images.githubusercontent.com/68015865/148475885-5c87acf5-d76d-4fc8-bf41-233d6e5ca2cc.png)
Node used RAM by prometheus metrics
![Screenshot 2022-01-07 at 02 24 48](https://user-image

[2022-01-07 03:42] bowenwang1996 commented on #5920
Update: some further investigation showed that among all the trie nodes touched, only 10% of them are unique, which means that if we cache all trie nodes visited during the execution of a transaction/receipt, we can potentially save 90% of the touching trie node cost for transactions that do a lot of storage reads and writes. See https://near.zulipchat.com/#narrow/stream/295558-nearinc.2Fprotocol-

[2022-01-07 09:18] jakmeier commented on #5995
Some thoughts with regards to background threads:
- IO happens in background threads for good reasons. Moving it to the main thread would maybe make our estimations more consistent but ultimately less accurate. (I.e. the main thread in our estimator lab setup is now slowed down by things it will not do in practice.)
- Another approach is to control *when* exactly IO happens instead of where.
   -

[2022-01-07 13:24] nikurt commented on #4570
Looking into it

[2022-01-07 15:20] mina86 opened #6021 "`sanity/routing_table_sync.py` is broken"
In the loop at line 190 the node never receives `RoutingTableSyncV2` message. This has been broken by https://github.com/near/nearcore/pull/5455

[2022-01-07 15:29] marcelo-gonzalez commented on #4581
@bowenwang1996 here do you mean something like the above duplication into `BlockHeaderData` and `BlockHeader` that are the same except for the hash + borsh derives or something else? because I see a couple different things you could have meant by new struct under the enum

[2022-01-07 16:08] mina86 commented on #4490
Turns out libtest is broken: https://github.com/rust-lang/rust/issues/90785

[2022-01-07 16:39] matklad commented on #4490
[code]

might fix the issue (a bit swamped rn to submit an actual PR)

[2022-01-07 17:15] pmnoxx commented on #4490
I tried that, but that doesn't work. This test will never print anything:

[code]

[2022-01-07 17:19] pmnoxx commented on #4490
Thanks, I tested it. This works fine: https://github.com/near/nearcore/pull/6023

[2022-01-07 17:33] mina86 commented on #4490
Indeed, https://github.com/near/nearcore/pull/6025

The issue with that approach is that if you forget to set the environment variable you end up with a passing test that doesn’t test anything. This is another limitation of libtest which does not allow returning an `ignore` state from a test, see <https://github.com/rust-lang/rust/issues/68007>. The issue mentions test-with crate and an RFC so I’m

[2022-01-07 19:04] bowenwang1996 commented on #6009
I don't think log rotation will be implemented in nearcore itself. It should be done on the devops side. @mhalambek can provide more details.

[2022-01-07 19:07] bowenwang1996 commented on #6011
When neard opens database it will first check whether migrations are needed. Also network code relies on database access as well, so I don't think that could be changed.

Indeed. I think @nikurt is working on that

[2022-01-07 19:08] bowenwang1996 commented on #4967
@marcelo-gonzalez I think this is done. Please reopen if it is not

[2022-01-07 19:08] #4967 closed

[2022-01-07 19:12] bowenwang1996 commented on #5931
@ok-everstake thanks for the graphs! It seems that your node either did not run out of memory or did so extremely quickly that prometheus is not able to catch it

[2022-01-07 19:16] bowenwang1996 commented on #5995
Yeah I think that makes sense

[2022-01-07 19:21] bowenwang1996 commented on #4581
Yes. What other ideas do you have?

[2022-01-07 20:43] marcelo-gonzalez commented on #4581
@bowenwang1996 ok sounds good. The others are kind of just variants on that, but I think less clear. So I'll just go with that

[2022-01-08 13:51] pmnoxx commented on #6021
This test should be rewritten from Python to Rust. I have plans on how to do that. I'll work on that later.

[2022-01-08 16:38] #5959 closed

[2022-01-08 16:59] ChzenChzen opened #6030 "Couldn't build near-core as dependency for indexer service on m1 max."
**Describe the bug**
Couldn't build near-indexer on MacBook m1 max.

**To Reproduce**
my crate setup:

`rust-toolchain.toml`
[code]

[code]

`Cargo.toml`
[code]

building error report:
[code]

[2022-01-10 15:14] #5767 closed

[2022-01-10 15:23] #5001 closed

[2022-01-10 15:23] #5002 closed

[2022-01-10 15:23] #5003 closed

[2022-01-10 15:40] bowenwang1996 commented on #3021
Might be related to #4422. Assigning it to @marcelo-gonzalez

[2022-01-10 15:42] bowenwang1996 commented on #4841
Related to #5340

[2022-01-10 15:57] mina86 commented on #6008
I’m honestly not convinced this needs to be a flag or config option. The feature is available and adding a flag would just introduce unnecessary code and complicate interaction between RUST_LOG and said flag. Adding config option would make it even more complicated since config file is read at later stage during startup.

[2022-01-10 16:19] nikurt commented on #4570
Left localnet running since Jan 07.
Memory usage of each node grew to 150GB

[code]

[2022-01-10 16:36] mintiayields commented on #6008
Exporting RUST_LOG variable will not produce any effect in my case. When printenv clearly shows that RUST_LOG is set to error, the log file continues to be filled with numerous warnings and info messages. I wouldn't mind the latter as they show valuable info, but the warnings are mostly junk and inflate the log file like crazy.

[2022-01-10 16:38] mintiayields commented on #6009
Should I address @mhalambek directly or wait for instructions here? Here would be better as this is a publicly available thread.

[2022-01-10 16:50] birchmd opened #6035 "Feature request: tracking incoming receipts"
The use case I am considering is where I am interested in the traffic through one particular contract (in this specific case `aurora`, but we can imagine any contract more generally).

NEAR is sharded, so my expectation is that I should be able to track just the shard containing my contract of interest to get all the data I want.

However, chunks only give _outgoing_ receipts, not incoming ones. T

[2022-01-10 18:00] nikurt commented on #4570
Seems to be a duplicate of https://github.com/near/nearcore/issues/3970

[2022-01-10 19:30] mina86 commented on #6010
Dunno, `unsafe_reset_all` is explicitly market as unsafe command so I’m not convinced we need extra safety features. The documentation might be updated though to explicitly state that the entire directory is deleted.

[2022-01-11 00:46] pmnoxx commented on #4570
@nikurt My advice is to try the fix: https://github.com/near/nearcore/pull/5902

[2022-01-11 02:49] frol commented on #5983
Max [brought a fair point](https://github.com/near/nearcore/discussions/5905#discussioncomment-1943252):

[2022-01-11 02:57] frol commented on #2850
@janewang I want to bring this up to NodeX team awareness. I feel that there might be a need for granular administration of a running node through a dedicated admin RPC. We already have adversarial features hidden under a compilation flag, which might also be moved under this admin RPC.

[2022-01-11 03:39] frol commented on #4404
Just for the record, there is some update to the conversation happening here: https://github.com/near/nearcore/discussions/4393#discussioncomment-1944862

[2022-01-11 06:37] wangtao19911111 opened #6040 "my node not work"
Jan 11 06:18:05.443  WARN sync: Sync: ban a fraudulent peer: ed25519:92QLB3omymQ773ZFZZboQFFQKVm1j9cQDNi2iJiq2FKq@34.150.250.39:24567, claimed height: 57158728
Jan 11 06:18:05.443  WARN network: Banning peer Some(ed25519:92QLB3omymQ773ZFZZboQFFQKVm1j9cQDNi2iJiq2FKq@34.150.250.39:24567) for HeightFraud
Jan 11 06:18:05.443  WARN network: Banning peer ed25519:92QLB3omymQ773ZFZZboQFFQKVm1j9cQDNi2iJiq2

[2022-01-11 06:37] wangtao19911111 commented on #6040
wath can i do something?

[2022-01-11 06:38] wangtao19911111 commented on #6040
what can i do something?

[2022-01-11 10:31] nikurt commented on #6011
Let me mark this as a duplicate of #4791

[2022-01-11 10:31] #6011 closed

[2022-01-11 12:41] nikurt commented on #5824
Strange, gave this a try and couldn't reproduce it.

[2022-01-11 15:12] jakmeier commented on #5995
I measured RocksDB insertion performance for sequential keys with 1kB and 100kB sized values.
The number of insertions per iteration is 1M and 10k so that each add up to 1GB per iteration.
Then I measured 100 iterations. Here is the summary:

|              |  avg |  min | max |
|-------------------------------------|------------------|-----------------------|----------------|
|  1kB gcloud

[2022-01-11 15:29] mina86 commented on #6008
No, it’s good. Currently waiting for review.

[2022-01-11 15:33] mintiayields commented on #6040
This is more of a Discord question than a github bug report. Your possible reasons are (in descending probability):
1. corrupted database as you are stick on the same block
2. wrong (changed) validator_key.json and/or node_key.json.
Again, I think you should turn to Discord for support.

[2022-01-11 16:37] nagisa opened #6042 "Contract preparation may sometimes produce invalid WASM"
Preparing WASM such as this:

<pre>(module (import "env" "memory" (memory 4097 4097)))</pre>

Ends up producing non-sense such as this:

<pre>(module
 (type (;0![](/images/icons/emoticons/wink.png) (func (param i32)))
 (import "env" "memory" (memory (;0![](/images/icons/emoticons/wink.png) 2049 2049))
 (import "env" "memory" (memory (;1![](/images/icons/emoticons/wink.png) 1024 2048))
 (import "en

[2022-01-11 17:08] mintiayields commented on #6010
unsafe_reset_all - I agree. Yet, this was a surprise to get the whole directory wiped. A warning or a confirmation request would be nice though - like it is accepted in linux systems.

[2022-01-11 19:39] janewang commented on #2454
Suggested UX
`-/4  7/7/40 peers =>  - Fisherman | 4 Validator  7 Connected | 7 Highest Height  | 40 Max`

[2022-01-11 20:19] janewang commented on #6040
@wangtao19911111 Please follow the issue reporting format. This issue is likely due to setup. Could you ask in the OSA support testnet-support channel

[2022-01-11 20:20] janewang commented on #6040
Closing as it is not a bug.

[2022-01-11 20:20] #6040 closed

[2022-01-11 20:47] #4370 closed

[2022-01-12 14:51] #6008 closed

[2022-01-12 14:55] Longarithm commented on #4771
I hit this problem in another situation.

I wanted to iterate over Trie contracts, because of the structure the iterator at first went over all accounts, and then over all contracts. Around 15 Dec, it finished in ~1 minute, but now it takes extremely long time. In the example below, it takes ~2 seconds to iterate over 100 accounts, which is not reasonable:

[code]

https://github.com/near/nearcore

[2022-01-12 15:07] mina86 commented on #6010
Again, I dunno. `rm -r directory` will delete the directory without any warning or confirmation.

Were you surprised because the documentation didn’t mention that the whole directory is deleted? I.e. would #6038 solve the confusion?

[2022-01-12 19:52] marcelo-gonzalez commented on #4581
So after implementing something like the above, I tried to take a look at how much work is actually saved by this. At least on my computer, hashing block headers in a release build usually takes around 2 microseconds and hashing chunk headers takes somewhere around 500 nanos. Given that this hash computation only happens when the object is not cached, and we're reading it from disk, those 2 micros

[2022-01-12 19:56] mzhangmzz commented on #5885
Yes, I'll close the request and update 3662

[2022-01-12 19:56] #5885 closed

[2022-01-12 19:56] mzhangmzz commented on #3662
Now process_partial_encoded_chunk checks validity for all parts and receipts include the partial encoded chunk. There are two optimizations we can make

only check parts and receipts that are not in the current chunk entry
only check parts and receipts that the node cares about
Note that if we only validate some parts and receipts, it is important to only store the parts and receipts that we have

[2022-01-12 19:59] mzhangmzz commented on #5370
solved

[2022-01-12 19:59] #5370 closed

[2022-01-12 20:19] mintiayields commented on #6010
Adding this behavior description in documentation is good. What do you think about adding an explicit notice at run and a request to confirm with "yes/no"? If the latter is not possible,  #6038 will be the only option.

[2022-01-12 21:20] mina86 commented on #6010
It’s not that it’s not possible, but it’s more code I’m not sure is necessary plus it’s not clear what to do if command is snot run on the terminal. Should it not delete the directory then? That might break existing scripts.

[2022-01-12 22:15] mintiayields commented on #6010
I am just not aware of the cases when this kind of command can be run not from the terminal. If you do not think my suggestion is feasible, feel free to close it :) I learned my lesson. The question is what other node runners' experiences will be.

[2022-01-12 22:48] mina86 commented on #6010
Tests, startup scripts.

[2022-01-13 11:08] nikurt commented on #2834
@htafolla Thank you for posting these suggestions. As most of them are currently available, let me close the issue. If you have a concrete use case for one of the metrics please let me know by re-opening the issue.

## Metrics

Available as metrics `near_validators_blocks_expected` and `near_validators_chunks_expected`

Available as metrics `near_validators_blocks_produced` and `near_validators_ch

[2022-01-13 11:08] #2834 closed

[2022-01-13 11:25] nikurt commented on #4570
@pmnoxx Same issue with the fix.
After 2 days, each node uses 2.3GB of resident memory:

[code]

and 100GB of virtual memory:
[code]

[2022-01-13 13:21] nagisa commented on #3812
I believe it to be genuinely needed still. The wasmer codebase doesn't seem to have any tests that would test precisely for at least some of the codes, even though they may be fairly straightforward to reproduce. Which also means that it likely doesn't have any tests for tricky corner cases for these codes either.

[2022-01-13 13:22] matklad commented on #5926
Yeah, we currently don't support building on windows. That's something we want to fix eventually, and we are working in roughly that direction.

[2022-01-13 14:09] matklad commented on #4490
https://github.com/near/nearcore/issues/5817 is related -- tests not being flaky is a part of `cargo test` being usable out of the box.

[2022-01-13 16:24] jackrobsonalpha commented on #3803
to confirm this means m1's cannot run the local develop env described in: https://docs.near.org/docs/tools/kurtosis-localnet

or is there a workaround?

[2022-01-13 16:44] nikurt commented on #3284
Not sure what to do if a pool reaches its maximum size but transactions keep coming in.
Is it possible that rejecting incoming transactions will also the one transaction that needs to be processed next, i.e. a transaction with the lowest nonce?
@mzhangmzz do you have suggestions?

[2022-01-13 16:45] nikurt commented on #3284
To get an idea of a reasonable tx pool size bound, will add a metric get back to it.

[2022-01-13 18:20] BenKurrek opened #6061 "Downloading Headers Potential Bug"
**Describe the bug**
When I started my indexer, it was downloading headers but the remaining headers kept going up. After a few minutes, the downloading stopped as shown below:
![image](https://user-images.githubusercontent.com/57506486/149386551-2bec5679-d14a-452c-82ab-1870db89c017.png)
After about an hour, the same info kept showing up:
![image](https://user-images.githubusercontent.com/57506486

[2022-01-14 01:36] marcelo-gonzalez commented on #4422
Just took another look at this, and I think the logging cleanup in https://github.com/near/nearcore/commit/5c323f2c5b66ee3370ec60733a5b6e7fe97cda75 is actually relevant. In the logs @frol posted in the comment above, we see the log lines:

[code]

So the first block sync debug log line shows that the node was trying to request a block from one out of 3 highest height peers, and there were no other

[2022-01-14 01:45] marcelo-gonzalez commented on #4422
well, at least that explains what happened in that particular case, but not really what happened in the original post...

[2022-01-14 14:21] BenKurrek commented on #6061
EDIT - after re-downloading the `data.tar` on my indexers, everything worked properly.

[2022-01-14 19:18] pmnoxx commented on #5817
No, we should fix those tests..

[2022-01-14 21:50] pmnoxx opened #6070 "`near-rust-allocator-proxy` doesn't compile on windows"
We use `near-rust-allocator-proxy` version `0.3.0`. It doesn't compile on Windows correctly. By updating to `0.3.1`, we will allow fragments of `neard` to compile on `Windows`.

For example, compiling `near-network` will become possible on Windows.

[2022-01-14 21:53] pmnoxx commented on #5926
@matklad @fadeevab Some parts of the `neard` will become build-able on windows, after `https://github.com/near/nearcore/pull/6069

[2022-01-14 22:49] pmnoxx opened #6072 "`tracing::{info, error, warn, trace, debug}` is slower by factor of 30"
We are currently using tracing for logging. This is done through `info, error, warn, trace, debug` macros.
By default, tracing logs data to `stderr`, or the data gets redirected through pipe to a file.

I did a few measurements, that shows that it's taking a considerable amount of time and that can be improved.

For example `tracing::info!` takes around 1600ns to execute, when it's output is logge

[2022-01-14 22:51] pmnoxx commented on #6009
@mintiayields @bowenwang1996 I think we should address the performance of the logger issue first. Current logger is too slow by a factor of 30, and that's affecting our service. See https://github.com/near/nearcore/issues/6072

My plan is to change, the way we use logging, and then adding features like log rotation would be easy to do.

[2022-01-15 22:15] pmnoxx opened #6075 "Improve code quality by deriving `actix::Message` and `actix::MessageResponse`"
There are a lot of places in our code base, where we implement directly traits `actix::Message` and `actix::MessageResponse`.
However, code can be simplified by deriving those traits instead.

Progress:
- https://github.com/near/nearcore/pull/6074
- TODO

[2022-01-16 13:04] frol commented on #5563
I still see these warnings in 1.23.1 release. Should have the fix been part of 1.23.x series or will it only land with 1.24?

<img width="1409" alt="image" src="https://user-images.githubusercontent.com/304265/149661081-cdce73f8-d8b7-40a7-a12a-cb07564397ed.png">

[2022-01-16 15:53] ilblackdragon commented on #2454
I would drop completely "highest height" part and "fisherman" given those were designed for different chain algorithm. Also max peers is not that useful as it doesn't really change. Probably better to report that at the launch of the nearcore with some other configuration information?

[2022-01-17 09:28] ilblackdragon opened #6091 "Documentation on running node in "light" mode"
Describe how to run node in a mode that doesn't track any shards and has limited footprint / CPU capacity.

[2022-01-17 16:28] ashpooljh opened #6095 "Unable to sync a mainnet nearcore node from a public snapshot"
## Describe the bug
As of 16 Jan 2022, a mainnet `nearcore` node is unable to properly sync given the contents of an official [node data snapshot](https://docs.near.org/docs/develop/node/intro/node-data-snapshots) as the initial state. Attempting to make it do so reliably leads to inconsistent state and inability to catch up on blocks.

The approximate time this was last reproduced is 17 Jan 2022,

[2022-01-17 17:27] bowenwang1996 commented on #6030
Duplicate of #3803

[2022-01-17 17:27] #6030 closed

[2022-01-17 23:53] #4617 closed

[2022-01-18 05:22] frol commented on #6061
cc @bowenwang1996 @mm-near @rtsai123

[2022-01-18 05:30] frol opened #6100 "Error during requesting partial encoded chunk"
**Describe the bug**

After the latest testnet upgrade to 1.24.0-rc.1 there were a number of reports in Discord `#validators` channel seeing the following errors:

[code]

**To Reproduce**

Probably, just run 1.24.0-rc.1 release.

**Expected behavior**

No errors should happen

**Screenshots**

<img width="826" alt="image" src="https://user-images.githubusercontent.com/304265/149876212-c6a1769d-96

[2022-01-18 09:17] mina86 commented on #5173
This should now be possible. Transaction have no `related_transactions` field populated so a transaction can be determined finished once all the related transactions are finished. This needs to be handled recursively since related transactions can have further related transactions.

[2022-01-18 09:17] #5173 closed

[2022-01-18 13:14] nagisa opened #8960 "near-vm: Optimize the Gas intrinsic codegen"
Quoting [this](https://github.com/near/nearcore/pull/6066#issuecomment-1013188621):

We should work towards gettting that `subq + js` codegen working.

[2022-01-18 13:17] nagisa opened #8959 "near-vm: Decouple UniversalArtifact from a specific instance of UniversalEngine"

[2022-01-18 13:22] #5969 closed

[2022-01-18 14:39] janewang commented on #5147
@Rishabhraghwendra18 Yes, we are 👍.  The logs need signf improvements.

[2022-01-18 14:53] nagisa commented on #6072
Just to make sure, have you verified all of these are doing the same kind of work?

`println!` will naturally be faster since its going to write its entire output to a [`io::StdoutLock`](https://doc.rust-lang.org/stable/std/io/struct.StdoutLock.html), which not only avoids taking a potentially concurrent lock across format segments, but also is line-buffered, so you can expect only one syscall per

[2022-01-18 15:19] pmnoxx commented on #5563
@frol This log has been removed from the code. It's best to ask the person doing releases when it's going to be pushed to the binary release.

[2022-01-18 16:11] frol commented on #5563
I see, thanks

[2022-01-18 16:11] #5563 closed

[2022-01-18 17:25] pmnoxx opened #6108 "Random test failure `tests::test_download_file::test_file_download`"
We are seeing random tests failures of  `tests::test_download_file::test_file_download`

https://buildkite.com/nearprotocol/nearcore/builds/12173#0c966f8c-aa21-4a4b-8bb1-13469f78cb1d

[code]

[2022-01-18 18:57] pmnoxx commented on #6072
\> > For example tracing::info! takes around 1600ns to execute, when it's output is logged to file, while println! takes "only" 800 ns.

I did the benchmark, and I wrote my own formatting subscriber.  They are not doing exactly the same amount of work.

For example, `info!(?a, ?b, "abc: {}", val);` will do formatting with `std::fmt::Debug` 3 times. Two are written explicitly with `?a`, `?b`, and t

[2022-01-18 19:56] #4837 closed

[2022-01-18 20:07] mzhangmzz commented on #6100
I found where the bug is and I will submit the fix soon. There is no serious issue, as in the bug does not affect the normal running of validator nodes. Please ignore the error messages for now until the fix

[2022-01-18 20:41] marcelo-gonzalez commented on #6108
ah yea i have a PR for this: https://github.com/near/nearcore/pull/6097

[2022-01-19 00:53] bowenwang1996 opened #6119 "Mitigate archival node data size growth"
Context can be found <span class="error">[here]</span>([https://near.zulipchat.com/#narrow/stream/308695-nearinc.2Fprivate/topic/archival.20node.20data.20size](https://near.zulipchat.com/#narrow/stream/308695-nearinc.2Fprivate/topic/archival.20node.20data.20size)). TLDR: archival node data usage grows at a very fast pace and since we require node operators to use SSDs to operate an archival node,

[2022-01-19 00:54] bowenwang1996 commented on #6119
cc @mina86 @posvyatokum

[2022-01-19 01:10] pmnoxx commented on #6072
Actually, that's a good point.
I did tests while using `info!` while outputting data to `stdout`, it took then `1500ns` per call.

However, when using `info!` while outputting data to `stderr`, using the default tracing subscriber takes `2100ns`.

In summary:
- With our current setup used by `neard` in production it takes around `2100ns` per each `info!`, while using default tracing subscriber, an

[2022-01-19 11:40] matklad opened #6120 "Upgrade rust to 1.58"
1.58 is out, we should upgrade to it, preferably early in the release cycle.

[2022-01-19 12:01] nikurt commented on #5194
Blocked.
Need a new version of rust-rocksdb crate published. The interval between versions is anything between 2 and 8 months, the current version was released 6 months ago, which gives us hope.

[2022-01-19 12:04] nikurt opened #6122 "mocknet: Use async http client in mocknet scripts"
Currently a single mocknet client is limited by 1-1.5 tps, due to the serial nature of making HTTP requests, even if those requests submit transactions and don't wait for them to complete.

[2022-01-19 12:05] nikurt opened #6123 "Document betanet loadtest setup"

[2022-01-19 13:13] matklad opened #6124 "Check that `rust-version` in Cargo.tomls is consistent with what we declare in `rust-toolchain.toml`"
The check should go here:

[https://github.com/near/nearcore/blob/6d86ccd4fee74c1567dc2d83d384b1952826e796/tools/themis/src/rules.rs#L28-L48](https://github.com/near/nearcore/blob/6d86ccd4fee74c1567dc2d83d384b1952826e796/tools/themis/src/rules.rs#L28-L48)

See [https://github.com/near/nearcore/pull/5834/files#r787711401](https://github.com/near/nearcore/pull/5834/files#r787711401) for context.

[2022-01-19 13:15] DDeAlmeida opened #6125 "Data folder Size"
Hello,

Latest version of nearcore on mainnet.

I asked OSA members to tell me the data folder size.

Folder size:
- 186Gb
- 176Gb
- 436Gb
- 473Gb
- 169Gb
- **621Gb**
- **655Gb**

this is not depending of how we got data (snapshot/from scratch)

If you need more infos, details and maybe remote acces to servers we can provide it.
You can also open a discussion about this problem on OSA Discord: htt

[2022-01-19 13:17] matklad commented on #6124
(as an alternative, we can also just remove `rust-version` from Cargo.toml. I am still not sure if, on ballance, the field is worth it. #5834 shifted my opinion more in the "not worth it" direction, but that could have played differently if we did have the CI check)

[2022-01-19 13:20] nikurt commented on #6125
The number of transactions increased a lot recently.
@bowenwang1996 can it be that garbage collection triggers differently for different nodes?

[2022-01-19 13:22] DDeAlmeida opened #6126 "Memory Leak + block downloading stuck"
Network: Testnet

Since the lastest update, some of OSA Member reported that they are stuck on Downloading Header and the CPU usage don't stop growing

![image](https://user-images.githubusercontent.com/52310650/150138615-f22f04f7-3720-4f91-86d0-f09b011ab27f.png)

Another Memory usage climbing fast :
![image](https://user-images.githubusercontent.com/52310650/150139024-ede13b8c-d978-427e-afba-989a

[2022-01-19 13:24] DDeAlmeida commented on #6125
This data size where reported at the same time from 6 members (one report testnet + backup)

[2022-01-19 13:56] #6108 closed

[2022-01-19 16:39] jakmeier commented on #5996
Here is a first cost table for `f03f518f20afbfbbfcbf13b7f9dcaaf5fef25e87` as a baseline for current estimations.

<details>

<summary> Expand table </summary>

| Cost                                         |           Time-based  |                   Instruction count + I/O  | Time/ICount |
|---|---|---|---|
| ActionDeployContractBase                     |  98_634_116_000 |        7_451_307_222_33

[2022-01-19 16:55] bowenwang1996 commented on #4404
@frol let's close this issue in favor of the discussion then

[2022-01-19 17:14] nikurt commented on #6126
@DDeAlmeida Can you please run these nodes with the debug logging on?

[code]

[2022-01-19 17:32] nagisa opened #8958 "near-vm: Allow passing in a non-'static resolver to instantiation"

[2022-01-19 19:47] janewang commented on #2454
Thanks, `-/4  7/7/40 peers` => `4 validators   7 connected peers` The 40 max peers is defined in the config.json.

[2022-01-19 19:56] bowenwang1996 commented on #5995
@jakmeier What about `storage_write_key_byte`?

[2022-01-19 21:01] jakmeier commented on #5995
Good point, I should have mentioned that. In this instance, all keys have less than 10 bytes. The associated costs is less than 10 * 70'482'867 and thus completely negligible for the purpose of this high-level comparison of raw RocksDB performance vs current gas cost.

[2022-01-20 02:13] pmnoxx opened #6135 "Actix - deadlock investigation"
There is a potential dealock in Actix.

My plan is as follows:
- PR, where we remove limits, locks in Actix - https://github.com/near/nearcore/pull/6132
- `rust-memory-analyzer` - see https://github.com/near/nearcore/pull/6134 https://crates.io/crates/rust-memory-analyzer
- Code, which detects deadlocks in Actix - https://github.com/near/nearcore/pull/6136

Original issue https://github.com/near/n

[2022-01-20 03:21] bowenwang1996 commented on #6095
I believe the snapshot is fixed. @ashpooljh could you confirm this?

[2022-01-20 03:26] bowenwang1996 opened #6137 "node cannot catch up after the 1.24.0-rc.1 release"
An archival node that runs 1.24.0-rc.1 release on mainnet cannot catch up with the network. It processes blocks at a speed of less than 0.5 bps with relatively high cpu usage (around 200%). We should investigate what happened and whether the new logic for block catchup introduced in 1.24.0-rc.1 is problematic.

[2022-01-20 11:16] matklad commented on #6120
Probably makes sense to wait for 1.58.1: https://blog.rust-lang.org/2022/01/20/cve-2022-21658.html

[2022-01-20 12:28] jakmeier commented on #5995
An interesting find regarding read performance: Writes that have not been flushed & compacted negatively impact read performance.

Here are two plots produced using the script [rocksdb_read_benchmark.sh](https://github.com/jakmeier/nearcore/blob/46b8a86a9f0fe5a2373ae15175762ab8785dceb6/runtime/runtime-params-estimator/rocksdb_read_benchmark.sh).

[rocksdb_read_benchmark.pdf](https://github.com/nea

[2022-01-20 15:23] mintiayields opened #6140 "Peer connections unstable on 1.24.0-rc.1 (node will not catch up or fall back even while validating)"
Since the mentioned release testnet nodes are reported on Discord as being unable to catch up. My observations:
1. Node start well, connects to some 12-16 peers and starts to catch up
2. Occasionally it will lose connections to peers to some 5-7 and will stick at the same download percentage, meaning it receive as many blocks per second as the blockchain produces.
3. When/if number of peers grows

[2022-01-20 17:17] janewang commented on #6140
@mintiayields  Can you attach the log? Thanks

[2022-01-20 17:18] janewang commented on #6140
cc @bowenwang1996 @nikurt

[2022-01-20 18:01] mzhangmzz commented on #6140
cc @pmnoxx

[2022-01-20 18:04] mzhangmzz commented on #6137
We figured out the issue, it's because when a node is sufficiently behind, it starts to ignore blocks sent by other nodes, but only relies on requesting block one at a time. This is inefficient. I'm working on a fix that makes the node request for more than block in blocks catching up mode.

[2022-01-20 18:08] mzhangmzz opened #6143 "Rpc endpoint to display chain status"
Right now, it is hard to debug a node without debug log because it is hard to see the internal state of a node. It would be useful if we can have a simple debug page that prints some basic information about the chain, such as which block it is processing, which blocks it has received, etc.

[2022-01-20 22:32] mintiayields commented on #6140
Here is the log for the latest two days.
[neard.log.gz](https://github.com/near/nearcore/files/7908911/neard.log.gz)

[2022-01-20 22:34] mintiayields commented on #6140
Please, also note this kind of errors:
ERROR chunks: Error during re-requesting partial encoded chunk. Cannot determine whether to request from an archival node, defaulting to not: DB Not Found Error: 4t5CneFYJ4v8EYubz4S9d7RXBmWtpXoLdXZtVuDRMN7h
 Cause: Unknown
Jan 21 01:33:35.284 ERROR chunks: Error during requesting partial encoded chunk: DB Not Found Error: 4t5CneFYJ4v8EYubz4S9d7RXBmWtpXoLdXZtV

[2022-01-20 23:37] mintiayields commented on #6126
To add to the topic: memory usage grows and the block position gets stuck. While this is happening the node is actually falling back and need to catch up a lot after restart. This is on a node with nearup, not built from nearcore. Freshly downloaded testnet DB snapshot.
Part of the log (note memory usage growth):
Jan 21 02:22:34.250  INFO stats: #79613988 5xnZRedxaydGmRayqSiFM3bwQVq293NsyaSZ8XbGEW

[2022-01-21 00:02] mintiayields commented on #6125
Please, check the latest snapshots. They are back to normal as per my latest downloads. I hope the code gets updated soon, too.

[2022-01-21 00:05] mzhangmzz commented on #6140
@mintiayields Thanks for the log!
That error message is benign, we are working on a fix for that now.
It's interesting that your node lost connections to peers though. We will investigate there

[2022-01-21 10:39] matklad commented on #6135
Oh wow, great catch.

My gut feeling is that, if we go as far as patching actix, than it probably makes sense to:

* patch actix short-term, to fix current memory leak
* replace actix with our own in-house thing

That is, I think using a fork of actix long term is a form of technical debt with high interest rate.

[2022-01-21 11:49] matklad opened #6150 "NEP 264 tracking issue"
See https://github.com/near/NEPs/pull/264.

Implementation PR: https://github.com/near/nearcore/pull/6285

The NEP is pre-approved, but not approved. We want to have experimental nightly protocol feature implementation, but we don't yet commit to stabilization.

Plan for implementation:

Implementation wise, gas reshuffling should happen here:

https://github.com/near/nearcore/blob/1cbcc5eb89be9c7

[2022-01-21 11:52] matklad commented on #6150
Tentatively assigning @austinabell -- someone from contract-runtime team can also drive the implementation here, but I think the quality would be hire if both t-contract-runtime and t-dev-platform work on the implementation together.

[2022-01-21 13:34] mintiayields opened #6153 "Mainnet snapshot on S3 is newer version than 1.23.1 release can handle"
I had to download the mainnet snapshot yesterday and found it to be for neard 1.24.x
1.23.1 release will not open it. Updating mainnet to 1.24.0-rc.1 is not in option now I believe.
Please, set up snapshot service to the current mainnet version.

[2022-01-21 15:26] Ekleog opened #6154 "Fuzzer artifacts can not easily be recovered"
We should make it easier (ideally, trivial) for authorized people to access the inputs of the fuzzer that generate crashes

[2022-01-21 16:36] frol commented on #5173
I did not get this sentence; could you re-phrase it?

@asmolarek-bc `related_transactions` support was introduced in #5721, and should be part of 1.25.0 release or you can just build nearcore from master today since either way you need to build nearcore from source code with rosetta feature enabled.

[2022-01-21 16:38] mina86 commented on #5173
Sorry, I meant ‘now’ not ‘no’.

[2022-01-21 16:56] mhalambek commented on #6153
Are you sure this is not a testnet backup, mainnet backup is working fine from me

[2022-01-21 17:07] matklad commented on #6124
Hm, I think what we actually should do here is

* remove `rust-version` from Cargo.toml
* add it on-publish, the same way we add `version`

@miraclx WDYT?

[2022-01-21 17:19] miraclx commented on #6124
I'm not sure if this is an optimal solution. `rust-version` specifies MSRV for a crate. If we decide to keep a consistent version for all crates in the workspace, there would undoubtedly be crates that run just fine on lower versions, but this constraint would prohibit their use.

As currently defined, the `rust-version` spec and compliance checks we have allows each crate to have its own minimum

[2022-01-21 17:28] matklad commented on #6124
There's no way for us to understand *when* we we need to upgrade `rust-version`. We only run CI with what's specified in `rust-toolchain.toml`, and only that version is guaranteed to work.

We *can* add MSRV CI check for every crate, but I think this is clearly unreasonable -- nearcore crates do not generally promise any kinds of stability or compatibility.

But year, *select* crates which do want

[2022-01-21 18:22] pmnoxx commented on #6124
We currently, don't verify whenever a crate will work with `rust-version`, which is specified.

I see a few choices:
- option 1) keep things as they are - we will surely have some crates that claim to work, for example with `1.56.0`, but they don't, for example, due to someone starting to use a features from newer version of Rust.
- option 2) add CI check, which checks whenever each crate, can be

[2022-01-21 18:24] miraclx commented on #6124
My vote is for option 2. A simple `cargo +<msrv> check -p <crate>` for each crate. [`cargo-msrv version`](https://foresterre.github.io/cargo-msrv/commands/verify.html) is well suited to help with this.

Even if we don't adopt this for all the crates, we should at least for the _non-private_ ones.

[2022-01-21 18:39] pmnoxx commented on #6124
Option 2 adds extra maintenance cost. For, example, if I start using by accident new syntax in `near-primitives`. Then I may find out, half an hour later, after CI runs, that some crates need to have their minimum version bumped up.

The question is, what is the upside of it? I see that some external developed, may be able to use some of packages, with lower version of rust stable than the current

[2022-01-21 19:38] pmnoxx commented on #6135
I've been thinking about writing my own in house equivalent of `actix`, and maybe even `tokio` down the line.
The reason why I didn't decide to do it, is because it still not exactly clear what the final state of such in-house system should be.

For row, it would be an actix equivalent api + statistics. I think a lot of code simplification can be done on the way, they are some weird design choices

[2022-01-21 20:44] mzhangmzz opened #6157 "Add more unit tests for chunk requesting and processing logic"
There is no enough coverage for this part of the code right now. Fortunately, an existing struct `ChunkForwardingTestFixture` can be used to write unit tests for ShardsManager logic very easily. We should use it to add more unit tests.

[2022-01-21 21:33] DDeAlmeida commented on #6153
Same for me.
Maybe issue appear yesterday and not today

[2022-01-21 21:41] mintiayields commented on #6153
Downloaded today again - and the issue did not reproduce. Closing.

[2022-01-21 21:41] #6153 closed

[2022-01-22 13:53] mintiayields opened #6162 "Error during re-requesting partial encoded chunk 1.24.0-rc.1"
Getting these errors a lot:
Jan 22 16:33:27.227 ERROR chunks: Error during re-requesting partial encoded chunk. Cannot determine whether to request from an archival node, defaulting to not: DB Not Found Error: BfpLxsmTBjtxMhs1Hd5R155Nyv7k5R3HreQgEuA52Rtc
 Cause: Unknown
Jan 22 16:33:27.228 ERROR chunks: Error during requesting partial encoded chunk: DB Not Found Error: BfpLxsmTBjtxMhs1Hd5R155Nyv7k

[2022-01-22 18:40] bowenwang1996 commented on #4581
@marcelo-gonzalez ah very good point! Thanks for the investigation. I think we can close this issue then.

[2022-01-22 18:40] #4581 closed

[2022-01-22 18:43] bowenwang1996 commented on #4994
@khorolets any updates on this?

[2022-01-22 18:44] bowenwang1996 commented on #3191
@matklad we are working on this right?

[2022-01-22 18:48] bowenwang1996 commented on #4570
Hmm looks like it may be related to https://github.com/near/nearcore/issues/3509. cc @mm-near @mzhangmzz @pmnoxx

[2022-01-22 18:51] bowenwang1996 commented on #5274
@rtsai123 could the SRE team potentially look into what Alex suggested?

[2022-01-22 18:53] bowenwang1996 commented on #3284
We might need to stop accepting transactions at that point. cc @mm-near

[2022-01-22 19:05] bowenwang1996 commented on #4942
@pmnoxx is this fixed?

[2022-01-22 19:20] bowenwang1996 commented on #6061
Yes, I believe this is caused by a corrupt snapshot

[2022-01-22 19:20] #6061 closed

[2022-01-22 19:28] bowenwang1996 commented on #5516
@matklad #4159 :(

[2022-01-22 19:55] bowenwang1996 commented on #5995
@jakmeier fyi there is some plan to have a separate hashtable based storage for reads that would allow for better performance

[2022-01-22 19:56] bowenwang1996 commented on #5073
obsolete

[2022-01-22 19:56] #5073 closed

[2022-01-22 19:59] bowenwang1996 commented on #6125
@DDeAlmeida is your concern that sizes are very different? Unfortunately there are certain migrations we did in the past that did not fully clean some of the old data to optimize for the speed of running the migrations.

[2022-01-22 20:14] bowenwang1996 commented on #6140
Duplicate of #6126

[2022-01-22 20:14] #6140 closed

[2022-01-22 20:15] bowenwang1996 commented on #6162
Duplicate of #6100

[2022-01-22 20:15] #6162 closed

[2022-01-22 20:20] DDeAlmeida commented on #6125
Did we need to remove data folder and use only latest snapshot ?
We also avec different size if we download from snapshot or from scratch.
I can ask OSA community, if they can try with the latest snapshot

[2022-01-22 20:23] DDeAlmeida commented on #6125
On my Mainnet Node, i have 336GB for folder data.

[2022-01-23 07:17] khorolets commented on #4994
Oh, sorry I've completely forgot about this issue. It's working and should be closed.

[2022-01-23 07:17] #4994 closed

[2022-01-24 14:36] matklad commented on #3191
We are working on it this quarter, but not immediately at this very moment.

[2022-01-24 15:13] bowenwang1996 commented on #5975
@sdmurphy @Al3c5 please keep a copy of the database if this happens again. Currently we cannot do anything without seeing the database itself.

[2022-01-24 15:13] #5975 closed

[2022-01-24 15:17] bowenwang1996 commented on #2850
That is actually not the case. You can change `ban_window` in config.json to a small number (such as 1s) to unban peers

[2022-01-24 15:21] bowenwang1996 commented on #5112
This is supposed fixed in https://github.com/near/nearcore/pull/5747 and #5637

[2022-01-24 15:21] #5112 closed

[2022-01-24 15:27] bowenwang1996 commented on #6126
Assigning it to @mm-near since he already figured out what most of the underlying causes are

[2022-01-24 15:34] bowenwang1996 commented on #4040
A more pressing issue: debug log should be enabled without affecting the performance of a node

[2022-01-24 15:42] bowenwang1996 commented on #2447
Today most of the nodes track every shard, so it won't be an issue in the short term

[2022-01-24 19:12] alexfilatov opened #6170 "More details on "Unexpected length of input" error"
Hello all!
 I'm building <span class="error">[NEAR API for Elixir]</span>([https://github.com/alexfilatov/near_api](https://github.com/alexfilatov/near_api)) and faced complication on sending serialised and signed transaction to testnet (or localnet).

Looks like I did something wrong during serialisation (implementing Borsh in Elixir as well) because node returns me the Parsing error like this:
[

[2022-01-24 22:27] pmnoxx opened #6173 "Acitx `BytesMut` leaks memory"
There is a  memory leak, which affects `Codec` from `Actix`.

Actix uses `BytesMut` to represent read/write buffers, however, internally `BytesMut` uses vector, which never frees memory, even if the number of elements used drops to 0.

For example, if you were to receive a message of 500mb, this buffer would grow to 500mb,  and never shrink back. Assuming we have 40 connects, we have 80 such buffe

[2022-01-24 23:39] pmnoxx commented on #6021
@mina86 Thanks for reporting the issue.
I made a fix for it: https://github.com/near/nearcore/pull/6174

[2022-01-24 23:47] janewang opened #6175 "Web UI for the Validator Stats"
Adding a WebUI for Validator stats to show uptime

- start time
- end time
- chain_id: testnet, mainnet

The original issue is here: https://github.com/near/nearcore/issues/4967

[2022-01-25 00:07] pmnoxx commented on #4942
@bowenwang1996 I have a pending fix: https://github.com/near/nearcore/pull/6174

[2022-01-25 09:36] mina86 commented on #5979
That’s `build` in the status, no?

[2022-01-25 11:38] kucharskim commented on #5979
not sure does it say repo was clean or not, I didn't test it, but yeah, that hash below is from a repo, without letter `g`:

[code]

[code]

[2022-01-25 11:40] kucharskim commented on #5979
I think having a hash should always be there. I cannot experiment now, but `trunk` doesn't really say anything, right? Trunk today, tomorrow, last month, next year? It cannot be translated into specific checkout.

[2022-01-25 13:34] matklad opened #6183 "Remove state-viewer as a standalone tool"
After https://github.com/near/nearcore/pull/5333, state-viewer is available as a subcommand of `neard`. That means we can get rid of separate state-viewer binary:

* https://github.com/near/nearcore/blob/96a4d1a2f76ec10280bf79ba3a5fa6035081e158/test-utils/state-viewer/src/main.rs
* https://github.com/near/nearcore/blob/96a4d1a2f76ec10280bf79ba3a5fa6035081e158/Makefile#L24

[2022-01-25 13:48] matklad opened #6184 "Differential fuzzing of wasmtime vs wasmer"
Make sure that we not only fuzz wasmer itself (to catch loud crashes), but also compare the results with wasmtime (to catch silent differences in behavior). Roughly, here:

https://github.com/near/nearcore/blob/977388192ab50c5e9c04242aa2a6d08a89b12c95/runtime/near-vm-runner/fuzz/fuzz_targets/runner.rs#L16

We should run this function with both `VMKind::Wasmer2` and `VMKind::Wasmtime` and make sure

[2022-01-25 15:00] pmnoxx opened #6185 "Create a private net for testing with 1000 machine"
We would like to create a private network, which we can use to test running 1000 instances of nodes in network.

What is the best way to do it?

[2022-01-25 15:01] pmnoxx commented on #6185
@nikurt @chefsale @bowenwang1996 @mm-near Any ideas? Do we have a script somewhere, which can help us with creating such a new network?

[2022-01-25 15:39] matklad opened #6186 "Suspicious unwrap in Account's deserialize"
The following code looks somewhat suspicious to me:

https://github.com/nearprotocol/nearcore/blob/47620d3ec7cdd0d9c30d981d537234ffeb8c0b47/core/primitives-core/src/account.rs#L114-L130

`Borsh` generally doesn't have a contract that the input is valid, and I think we should return a borsh error in this case.

That code is reachable from

https://github.com/nearprotocol/nearcore/blob/47620d3ec7cdd

[2022-01-25 15:39] matklad commented on #6186
@EgorKulikov could you take a look when you have time?

[2022-01-25 15:56] frol opened #6187 "Parallelize fetching receipts inside streamer"
https://github.com/near/nearcore/blob/776f1e86f857e8c90f6edad5dfa73f2a74cb9048/chain/indexer/src/streamer/fetchers.rs#L90-L91

@khorolets This code causes the receipts being fetched in sequential requests, let's introduce batching (futures ordered buffer)

[2022-01-25 16:18] matklad commented on #4490
FWIW, the situation is much improved, `cargo test` now takes only 4 minutes locally! Thanks @mina86 and @pmnoxx !

[2022-01-25 16:18] #4490 closed

[2022-01-25 16:46] matklad commented on #4490
For the future, by running `cargo test -- -Z unstable-options --report-time` we can find further slowest tests.

[2022-01-25 17:16] mina86 commented on #5979
`trunk` is only for the version if building from `master` branch. `build` will always include a tag or hash; it’s literally output of `git describe --always --dirty=-modified`.

[2022-01-25 18:26] mina86 commented on #4040
? That’s sounds exactly backwards to me. If something can be a metric it’s better as a metric which can be collected and aggregated for monitoring.

[2022-01-25 19:17] matklad commented on #4040
Yeah, that was poor wording. What I've meant to say is that `tracing` is basically a generic front-end for emitting events, and the sink can be whatever.

Basically, I want us to write something like the following  (pseudo-runtime)

[code]

and get, by using appropriate subscribes, all of the following:

* stderr logs for important event
* stream of events sent to some kind of structured event agg

[2022-01-25 19:24] rsilvestre commented on #3803
Now I regret getting a M1 Macbook Pro :(

[2022-01-25 22:08] dimaelkhsos commented on #5824
any update, still facing same issue

[2022-01-25 22:58] pmnoxx commented on #4490
@matklad Thanks, that's really useful. I'll add it to my scripts.

[2022-01-25 23:23] kucharskim commented on #5979
Cool. Works for me.

[2022-01-26 11:41] #5701 closed

[2022-01-26 11:54] #6021 closed

[2022-01-26 14:53] matklad opened #6197 "version check fails for release branches"
Today, we set crate's versions as `0.0.0`, and rely on global version in the root Cargo.toml for auto-publishing. This is also checked by CI.

This approach breaks when we do a release, as then we specify the version in the Cargo.toml manually. Here's an example of failure:

https://buildkite.com/nearprotocol/nearcore/builds/12774#58d60fb7-22a9-4ce6-8e74-c87385766c11/105-192

I haven't looked too

[2022-01-26 15:28] miraclx commented on #6197
Acknowledged. Indeed the better option is to make `neard` binary independent from `nearcore` crate version. My patch of cargo-workspaces can already sufficiently exempt specific crates from being versioned. We just need to update the check to whitelist neard. I'll work on this now so it's not blocking anyone.

[2022-01-26 15:28] matklad commented on #6197
I don't think this is blocking, but yeah, would be nice to fix, thanks!

[2022-01-26 15:35] mm-near opened #6199 "Monitor the data used by each column in storage (both archival & rpc nodes)"
We should monitor the data that each column is using in the store.

The quick solution would be to use the sst_dump tool to look at the file sizes (and columns within) each .sst file in rocksdb and then export it via metrics/push gateway to prometheus/grafana.

[2022-01-26 16:29] jakmeier opened #6201 "ActionDeployContractBase estimation needs to be reworked"
As part of #5996 it has become clear that the estimation for deployment / compilation costs are far from the current parameters.
Pulling data from a table provided there, we have:

| ActionDeployContractBase | GGas |
| -- | -- |
| Current Parameter | 184.765 |
| Time based estimation | 1534.721 |
| ICount based estimation | 7810.707 |

This looks a bit like we are massively undercharging deploymen

[2022-01-27 01:53] kucharskim commented on #5900
When this fix is scheduled to be released in mainnet?

[2022-01-27 14:23] matklad opened #6207 "Migrate off failure crate"
We use failure crate in places:

https://github.com/near/nearcore/blob/dcf16645263778b8cc09b0e685a64ac0a5874b1e/chain/chain-primitives/src/error.rs#L7

This crate has been deprecated from years, we should migrate from it to thiserror and anyhow.

(good first issue, if you already are familiar with idiomatic rust error handling)

[2022-01-28 13:19] nagisa opened #8961 "near-vm: We've no codegen tests for the singlepass compiler"
Today our tests consist entirely of running the generated machine code and trying to deduce information from the results returned. This is pretty sketchy for a testing strategy. We should be meticulously verifying codegen output for all sorts of wasm inputs. This can make it much more apparent how the codegen changes with changes to the singlepass compiler and help detect mistakes due to interacti

[2022-01-28 20:32] mzhangmzz opened #6215 "Optimize chunk requesting logic"
Right now, to request a chunk, a node may send up to 400 messages, two for each part. This is a bottleneck in our system because it takes time for PeerManager to serialize these messages. Combining with a bug in actix and the fact the ClientActor resends these messages every 400ms, it can cause the node to OOM if PeerManager gets stuck. This happened during the 1.24.0-rc.1 release [https://github.

[2022-01-29 20:52] vans163 opened #6216 "finality final seems not final for viewState"
**Describe the bug** Before, querying the contract state in under 2 seconds after a state mutation would return the correct final state, now it seems to be stale.

**To Reproduce**

[code]

**Expected behavior** `insert_something` inserts an entry into storage and is reflected in the viewState.

**Actual behavior** `insert_something` inserts an entry into storage and 3-5 seconds need to elapse for

[2022-01-31 09:39] mina86 opened #6217 "Add monitoring for nearup issues"
There was an issue where nearup was unable to start a betanet node. (The root caused turned out to be with release process but that’s besides the point). The issue has been noticed only once someone tried and reported the problem. Ideally we would monitor whether it’s possible for a user to start a node.

The idea is to setup a periodic job in GCP (e.g. running once every quarter or so) which woul

[2022-01-31 17:14] nagisa opened #8957 "Generate debug info, potentially mapping from source language debuginfo to machine code"
It would be interesting and potentially beneficial to the end users' debugging stories if we generated debuginfo for the machine code we produce.

This is a potentially interesting problem to research because the debug info generated would need to map not from machine code back to input wasm, like in the usual compilation scenarios, but rather from the machine code back to the the code from which

[2022-01-31 22:17] #3829 closed

[2022-01-31 22:18] mzhangmzz commented on #3829
I fixed the issue in https://github.com/near/nearcore/pull/5224

[2022-01-31 23:13] bowenwang1996 commented on #6125
It wouldn't affect correctness, but if you want to save some space, sure.

[2022-01-31 23:32] bowenwang1996 commented on #6170
It is probably better to create this issue in https://github.com/near/borsh-rs

[2022-01-31 23:35] bowenwang1996 commented on #6173
looks like #5902 is merged

[2022-01-31 23:35] #6173 closed

[2022-01-31 23:36] bowenwang1996 commented on #6175
I am not sure it belongs to this repository

[2022-01-31 23:43] #5327 closed

[2022-01-31 23:48] bowenwang1996 commented on #5824
@nikurt did you try to reproduce by running a node through nearup?

[2022-02-01 01:41] bowenwang1996 commented on #6126
@BenKurrek could you check whether https://github.com/near/nearcore/releases/tag/1.24.0-rc.2 addresses this issue?

[2022-02-01 01:47] bowenwang1996 commented on #5900
On Feb 7

[2022-02-01 01:50] #6197 closed

[2022-02-01 03:14] bowenwang1996 commented on #6216
be reflected in viewState call.

It is not clear what that means. When you query state with finality being final, the node would return what is currently final from its perspective -- the values you just inserted may not be final yet. If you want to wait for that, you should probably get the block hash of the transaction and wait for that block to become final.

[2022-02-01 11:31] frol opened #6220 "Validation node falls off sync precisely during the block production time slot"
**Describe the bug**

Validation node constantly falls off syncing when it switches becoming a validator:

<img width="1508" alt="image" src="https://user-images.githubusercontent.com/304265/151704842-7c550e1d-55d6-418a-a062-a27e4e4d3fa9.png">

I initially blamed the hardware since the machine that I used was a bit underspeced:

* CPU: Intel Core i7-2600
* RAM: 16GB DDR3
* SSD 512GB

The node work

[2022-02-01 11:32] frol commented on #6220
@janewang I also want to use this issue to highlight a problem that it is hard to troubleshoot such problems.

[2022-02-01 12:55] frol commented on #6220
What I spotted is that time was 2 hours out of sync (common timezone BIOS vs Linux handling issue).

Log:

I installed `ntpdate` package and run `sudo ntpdate-debian` to sync the time:

[code]

I hope this fixes the issue. It would be great to bake in the sanity checks during node boot time.

[2022-02-01 13:47] vans163 commented on #6216
But I swear something changed from September 2021 because the exact same code worked before (and took alot longer to return from viewState, around 100-500ms 1500ms+ sometimes) now it returns in under 10 milliseconds + latency, as if theres a cache on the nodes.

If this is the case did some kind of load balancing perhaps get introduced then to official rpc endpoints? Which would explain why making

[2022-02-01 13:58] #6010 closed

[2022-02-01 14:01] jakmeier opened #6222 "Different PeerMessage size on aarch64"
It seems that `PeerMessage` has a different size on aarch64 platforms. When I try to build neard on a M1 MacBook, using the native target `aarch64-apple-darwin`, the build fails.

[code]

This assertion has been added with #5834. I am not sure what the implications are here for having the larger struct size on aarch64.

@pmnoxx can you maybe comment on this?

My thoughts are, maybe that is okay, s

[2022-02-01 14:22] #5503 closed

[2022-02-01 14:31] bowenwang1996 commented on #6220
Indeed if your time is not correct you will reject blocks. You should be able to see this if you enable debug logs, but yeah, there should be some check :)

[2022-02-01 14:53] janewang commented on #6220
@frol  Thanks for creating the issue. Having more useful logs is definitely something we need to work on and improve, hopefully soon

[2022-02-01 15:05] #6220 closed

[2022-02-01 15:38] nikurt commented on #6183
and also move the code of state-viewer out of the test-utils directory

[2022-02-01 15:43] mattharrop opened #6223 "After restart node get stuck downloading blocks"
**Describe the bug**
After restarting the `neard` process, the node gets stuck downloading blocks.  See logs snip.

**To Reproduce**
Unknown, issue happened after a restart.

**Expected behavior**
The node should sync.

**Logs**
[code]

**Version (please complete the following information):**
This is a mainnet node
`neard (release 1.23.1) (build 1.23.0-9-gc0551c84b) (protocol 50) (db 30)`

**Addit

[2022-02-01 16:06] janewang commented on #6220
Thanks for the wish list @frol. Keep them coming

[2022-02-01 16:41] matklad opened #6224 "Add tracing span calls for deploy action"
Basically, add `tracing::degug_span` here

https://github.com/near/nearcore/blob/d1d45597abe41228e60f725e56c216e87a4c9b84/runtime/runtime/src/actions.rs#L439

and here

https://github.com/near/nearcore/blob/d1d45597abe41228e60f725e56c216e87a4c9b84/runtime/near-vm-runner/src/cache.rs#L403

so that we know which fraction of deploy is compilation.

[2022-02-01 17:10] mattharrop commented on #6223
A few minutes of debug logs from the affected node.

[near.log](https://github.com/near/nearcore/files/7980513/near.log)

[2022-02-01 17:16] Longarithm opened #6225 "Inaccuracy in charging for storage operations in `VMLogic`"
In `storage_read`, `storage_write` and `storage_remove` we work with key-value pairs using `ValuePtr` abstraction.

At first we descend into desired trie node using `storage_get` and get hash of the value stored in `RuntimeExtValuePtr`. Then we call `Self::deref_value` which internally make a DB query using value hash and retrieves the actual value.

The inaccuracy is that in `storage_write` and `

[2022-02-01 17:26] matklad opened #6226 "Use custom profiles to set LTO and such"
Rust 1.57 stabilized custom profiles feature of cargo:

https://github.com/rust-lang/cargo/pull/9943/

That means that we can switch from using env variables for LTO

https://github.com/near/nearcore/blob/d1d45597abe41228e60f725e56c216e87a4c9b84/Makefile#L1-L2

to using a proper `--profile production`

Steps here:

* Add custom profile to root Cargo.toml
* Search all the places that currently set

[2022-02-01 17:27] matklad commented on #6226
cc @jakmeier for estimator changes.

[2022-02-01 17:41] frol opened #6227 "Add rosetta-cli Construction API tests"
Currently, we have rosetta-cli Data API tests configured in the rosetta.cfg.

We need to add the construction section there as well, so anyone can run `rosetta-cli check:construction` and validate that our Rosetta RPC implementation is compatible with RosettaRPC spec.

The tricky part always was to configure everything for mainnet, testnet, and localnet. Thus, in addition to just adding the proper

[2022-02-01 17:49] matklad commented on #6225
Yeah, because `deref_value` is guaranteed to touch at most one node, and because we have a separate cost for "everything except trie traversal itself", I agree that it's valid to not charge here (or, on the contrary, to charge on every path).

I am not sure it's worth doing though -- it won't make simpler, as we'd have to keep two versions anyway to maintain protocol compatibility. Ie, the amount

[2022-02-01 17:56] bowenwang1996 commented on #6223
Copy-pasting from telegram discussion:
@mattharrop This is caused by you switching between tracking shards and not tracking shards. If your node does not track any shard, you cannot make it work by simply changing it to track shards

[2022-02-01 17:56] #6223 closed

[2022-02-01 18:19] tifrel opened #6228 "Indexer initialization fails on fresh directory (Cannot deserialize genesis)"
**Describe the bug**
I think this bug is best described by a stacktrace: ![Screenshot 2022-02-01 at 18 06 12](https://user-images.githubusercontent.com/31419678/152025587-6fe618a6-2327-479e-a327-4bb7f36da08c.png)

**To Reproduce**
- Wipe your NEAR data directory
- Try to init the indexer with downloading genesis and config

**Expected behavior**
I expect it not to fail. More specifically, the down

[2022-02-01 18:26] jakmeier commented on #6224
I guess you were just thinking of the first commit in #6229?

I also added a param estimator CLI flag to make it usable but not sure if this is the best way of handling it.

[2022-02-01 22:33] ivanproskuryakov commented on #4995
https://stackoverflow.com/a/66667245/2235085

[2022-02-01 23:40] #5168 closed

[2022-02-02 00:44] mina86 opened #6230 "Node should fail if there are no boot nodes given"
neard gets stuck waiting for peers if no boot nodes are configured. For example, the following will never get past `Waiting for peers` stage:

<pre> $ neard init --chain-id testnet --download-genesis
 $ neard run</pre>

The node should exit with an error message explaining the issue instead.

[2022-02-02 09:31] jakmeier commented on #6201
The main issue described here is resolved in #6208. But there are open follow-up tasks:

1. Use 5/4 multiplier for compilation cost to address the fact that around 20% of file is data and not code.
2. Check if deployment costs aside from compilation need to be estimated using dummy contracts, as it has been done before. This mostly depends on how much of the total cost is due to compilation and wh

[2022-02-02 10:23] matklad commented on #4995
FWIW, we've landed preliminary support for M1 on master yesterday: https://github.com/near/nearcore/pull/6200

[2022-02-02 12:03] #6120 closed

[2022-02-02 12:57] EgorKulikov commented on #6186
Yep, I agree

[2022-02-02 15:18] mina86 opened #6233 "Noisy logs when starting rpc testnet node from backup"
I’ve spun up a new testnet rpc node from a backup and this resulted in a rather noisy log. In particular, the two types of messages were popping up:

 Feb 02 15:16:23.329 WARN near_network::peer_manager::peer_manager_actor: Peer bandwidth exceeded threshold peer_id=ed25519:HNyCNpxhGBQe9pz6mh7EckvsK4BBgEVdGyYTnod5ZvM bandwidth_used=2372431 msg_received_count=2326
 Feb 02 15:15:26.571 ERROR network:

[2022-02-02 16:56] matklad opened #6234 "Implement proper garbage collection & priming for compiled contract cache"
We currently compile the contracts during deployment:

https://github.com/near/nearcore/blob/8c46b76bc263fbc101d9283bf499e2ed65b55215/runtime/runtime/src/actions.rs#L453-L463

However, the logic here is not fully robust. The main problem is that compilation depends not only on the code of the contract itself, but also on the protocol version and vm config, which change, albeit rarely. This creates

[2022-02-02 16:58] matklad commented on #6234
One interesting idea here is that we should try to recompile contracts *more*: today we have some cache re-use logic, so that *some* upgrades don't actually require busting compiled cache. But in practice, we have to bust the cache relatively frequently.

There's an argument to just *always* bust the cache on protocol/node upgrade, to make sure that "cold cache" is not an exceptional situation.

[2022-02-02 17:31] mzhangmzz commented on #6215
Related issues https://github.com/near/nearcore/issues/3830

[2022-02-02 20:17] nagisa opened #6235 "Disable multi-value WASM extension in our wasm-smith uses"
**Describe the bug**

Today we use `wasm-smith` to generate random modules for testing (in e.g. fuzzing). By default this library generates wasm modules which utilize the `multi value` (allows multiple result values) wasm extension. However our runtime does not support this extension, and so any tests utilizing this extension will immediately fail to deserialize.

While it may be beneficial to tes

[2022-02-02 20:34] nagisa commented on #6235
cc @near/contract-runtime this is the blocker/interesting detail I was talking about today.

[2022-02-03 00:54] bowenwang1996 commented on #6216
That is indeed the case

Agree that this does seem to be an issue. cc @rtsai123

You can get it by querying transaction status, although returning it as part of the transaction submission API may also make sense. cc @MaximusHaximus @jberrytech @frol

[2022-02-03 00:56] bowenwang1996 commented on #6222
Agree. I don't think there is any specific reason why we need exactly 1144 here.

[2022-02-03 01:02] bowenwang1996 commented on #6220
@janewang could you Frol's suggestions into issues? Thanks!

[2022-02-03 01:06] bowenwang1996 commented on #6225
It still helps us save some gas, but agree that it is not high priority

[2022-02-03 01:10] bowenwang1996 commented on #6230
Note: this only applies to the case when a node is first initialized. Otherwise the node will go through peers stored in its database to find peers to connect to.

[2022-02-03 08:21] #6224 closed

[2022-02-03 09:46] tifrel commented on #6228
Update: We had `dependencies.serde_json.features = ["arbitrary_precision"]` in our "Cargo.toml". Removing the feature fixes the issue.

[2022-02-03 11:41] nikurt commented on #6123
https://nearinc.atlassian.net/wiki/spaces/EAP/pages/10125463/Betanet

[2022-02-03 11:41] #6123 closed

[2022-02-03 11:44] nikurt commented on #5824
Made another attempt at reproducing this issue following @dimaelkhsos instructions. No luck, after 24 hours, the node was happy: synced and closely following the chain head.
I can only guess that the is either in some other part of the environment or gets triggered by something specific to the environment.
All my tests were on ubuntu GCP machines of type e2-standard-8 with SSD persistent disk.

[2022-02-03 11:44] #5824 closed

[2022-02-03 12:13] khorolets commented on #6228
@bowenwang1996 @frol we should decide whether we need to ensure we support that feature and check if we don't break it and open a separate issue for that if we want. This one should be closed.

[2022-02-03 12:16] matklad commented on #6225
If the goal here is to save the gas, a simpler (in terms of implementation) approach would be to reduce base cost by one touching trie node cost (cc @jakmeier )

[2022-02-03 12:21] matklad commented on #6235
cc @Ekleog

[2022-02-03 12:28] jakmeier commented on #6225
Yeah, decreasing the base read cost as compensation seems viable to me. It might be a bit confusing for anyone auditing or otherwise working with the code but with some well-placed comments I think it wouldn't be too bad.

[2022-02-03 19:42] mina86 opened #6242 "Archivel nodes should GC ColPartialChunks"
ColPartialChunks is the largest column in archival nodes while at the same time all information stored in it are available in ColChunks column. It would be big win if we could GC the column in archival nodes.

[2022-02-03 20:19] maoueh commented on #6233
I'm seeing those message only on our 1.24.0-rc.2 instance, ou 1.23.1 instance has a different repeating message which is `Feb 03 15:16:00.830  WARN near_network::routing::routing_table_actor: We expected `peer_id` to belong to a component 10167, but it doesn't belong anywhere`.

[2022-02-03 20:49] BenKurrek commented on #6126
Yup I've been in contact with @khorolets and all 3 of our indexers are working fine with the new commit hash. Thanks so much.

[2022-02-03 21:10] DDeAlmeida commented on #6126
Looks closed with the latest version. I don't have issue now on indexer / testnet / guildnet
Thank you guys !

[2022-02-03 21:10] #6126 closed

[2022-02-03 21:38] maoueh opened #6243 "Archival node stuck at block #80955179 on NEAR Testnet"
**Describe the bug** On February 1st around 12:00 EST time, both our indexer node stopped syncing properly with the network, both of our instances where at near core version 1.23.1 and both of them stopped roughly at the same time on block #80955179\. Whatever we tried since then, nothing worked

*   Restart both node multiple times over multiple days
*   Updated to 1.24.0-rc.2 (trying rc.3 soon b

[2022-02-03 21:56] maoueh commented on #6243
[near-stuck-trace-trimmed.log](https://github.com/near/nearcore/files/7998548/near-stuck-trace-trimmed.log)

Trace of around 2m of running from start to stuck mode, trimmed some logs that repeated often and did not seems to be useful here (`cat ~/Downloads/near-stuck-trace.log| grep -Ev "near_rate_limiter::framed_read: attempting to decode a frame|near_rate_limiter::framed_read: frame decoded from

[2022-02-03 22:02] maoueh commented on #6243
Just updated to 1.24.0-rc.3 on one of the stuck node, does not seem to change anything.

[2022-02-03 22:04] maoueh commented on #6243
Most interesting logs in the trace that did not show on the default logging level:

[code]

And also I see

[code]

Repeated 151 times, seems a bit weird to me that we are about to start so many time, but could be all good.

[2022-02-04 10:26] nikurt commented on #6243
Can you please restart your node with debug logs enabled?
For neard it's done like this:

[code]

Should be similar for an indexer node.

[2022-02-04 13:28] nikurt opened #6244 "Create DB snapshots without stopping the node"
Currently we need to stop a node to make a snapshot of the database.
Using Checkpoints feature of RocksDB it should be possible to instantly snapshot the DB of a running node: http://rocksdb.org/blog/2015/11/10/use-checkpoints-for-efficient-snapshots.html

I don't know how checkpoints interact with ongoing updates of the DB. I guess ongoing updates are not a problem, but can't find a confirmation

[2022-02-04 15:33] maoueh commented on #6243
@nikurt trace logs have been appended already to this post https://github.com/near/nearcore/issues/6243#issuecomment-1029438521.

Is this all good to you?

[2022-02-04 16:13] nikurt commented on #6243
Sorry, missed the log.
Haven't found anything obviously broken in it though.

Can you please try setting `boot_nodes` in `config.json` to the following value?

[code]

[2022-02-04 16:21] bowenwang1996 commented on #6228
I don't see a good reason for doing that, but we should document this. cc @janewang

[2022-02-04 16:21] #6228 closed

[2022-02-04 17:22] maoueh commented on #6243
Ok we updated the config with this boot nodes list. Seems it did not help, I can see in the network info results that we seem to be connected to a least one of the peer in the list.

Now, I've settled on running with `RUST_LOG=debug` instead of `trace` and something else interesting came out of the log:

[code]

I'm wondering why it did not show up in `trace` log?

Which seems interesting at first

[2022-02-04 17:52] #6222 closed

[2022-02-06 06:40] frol opened #6249 "nearcore 1.24.0-rc.3 does not keep up with mainnet"
**Describe the bug**

It was reported by the community and I confirmed it today myself, that 1.24.0-rc.3 release cannot sync up with mainnet since the sync speed is slower than the block production:

![image](https://user-images.githubusercontent.com/304265/152670359-3a1fc165-56b9-4872-b726-ab3db0135183.png)

I initially bumped into it with indexer-for-explorer, but I eliminated anything Indexer-s

[2022-02-06 06:44] tarkhil commented on #6249
Same here. Not a disk speed issue, neither throughput nor latency. Disk shows about 0% busy. Maybe it's CPU-bound, CPU usage is always over 100% (but before update it was catching up just fine).

[2022-02-06 07:25] frol commented on #6249
It is a duplicate of #6137

[2022-02-06 07:25] #6249 closed

[2022-02-06 11:19] abacabadabacaba commented on #6244
Checkpoints work by creating hard links to SST files, which hold the majority of the data. Other files are copied. This is safe because once created, SST files are not modified. Instead, during compaction, new SST files are created and old ones are removed.
The [wiki page](https://github.com/facebook/rocksdb/wiki/Checkpoints) says that checkpoints are consistent snapshots, so ongoing updates shoul

[2022-02-06 23:32] bowenwang1996 opened #6250 "Archival nodes do not need to store trie changes for old blocks"
`ColTrieChanges` accounts for about 2TB of archival node's storage on mainnet. However, we can reconstruct them easily if we have prev state, transactions, and receipts for a give chunk. To save storage space, we can compute them on the fly if needed.

[2022-02-07 12:22] abacabadabacaba commented on #6250
In fact, I think that trie changes can be reconstructed more efficiently by diffing the tries. No need to actually reexecute anything. So, I think that we should eventually get rid of ColTrieChanges completely, for all nodes.

[2022-02-07 13:09] matklad opened #8955 "Setup continuous performance benchmarking for the runtime"
We should create a benchmarking infrastructure a-la [https://perf.rust-lang.org](https://perf.rust-lang.org) to track performance regressions (and improvements) as they reach `master` (or even before that). This should also allow us to quickly turn any specific real-world examples (eg, aurora) into entries of benchmarking corpus.

There's an interplay here with parameter estimation on the nearcore

[2022-02-07 15:15] janewang commented on #3970
Related to https://github.com/near/nearcore/issues/3725

[2022-02-07 15:42] #5932 closed

[2022-02-07 18:15] mina86 commented on #6226
Turns out this isn’t as trivial as I thought at first. Issue is that with `--profile production` the binary ends up at `target/production/neard` which means that places which refer to `target/release` would need to be updated as well.

I wonder that maybe it would be better to enable LTO in release profile and introduce dev-release profile equivalent to current release? Just thinking out loud.

[2022-02-07 23:23] bowenwang1996 opened #6261 "Fast archival node"
When blocks are full, it is sometimes difficult for archival nodes to catch up with the network given that they need to process all blocks. However, we could expedite the process by changing the syncing process to:

1.  sync headers to the head of the chain
2.  sync state to the head of the chain by syncing state changes (which we already compute and store today)
3.  after step 1 and 2, the node c

[2022-02-08 01:30] janewang opened #6262 "Update node logs to print messages for troubleshooting and zendesk on panic or err states"
When the node exits in an error state, print message to help node runner to troubleshoot by referring to our docs, and submit a zendesk bug

 It seems that your node has encountered errors, don't give.
 Please visit our troubleshooting selection in the docs: [https://near-nodes.io/troubleshooting/common-errors](https://near-nodes.io/troubleshooting/common-errors)([https://near-nodes.io/troubleshoo

[2022-02-08 01:38] janewang opened #6263 "Print warnings when the blocks/chunks are not produced with clearer message"
Print warnings when the blocks/chunks are not produced with a clear message of a reason for the end user.

https://github.com/near/nearcore/blob/master/chain/chunks/src/lib.rs#L782
https://github.com/near/nearcore/blob/master/chain/chunks/src/lib.rs#L804
https://github.com/near/nearcore/blob/master/chain/chunks/src/lib.rs#L828
https://github.com/near/nearcore/blob/master/chain/chunks/src/lib.rs#L8

[2022-02-08 01:51] janewang opened #6264 "Add time check during node boot time"
Sometimes node operators forgets to sync time such that their node rejects blocks. It is not transparent initially what the issue is. At node boot time, we should run a time check when the node is going to do validation, and WARN user and stop the booting if the time is not set correctly.
 Also we should warn and stop about the time drift regularly (it seems it is safe to ignore those on non-valid

[2022-02-08 01:54] janewang opened #6265 "Add next block/chunk height that is the validation node is expected to produce in the states"
Stats can include the information about the next block/chunk height that is the validation node is expected to produce (it may help to schedule node restarts)

[2022-02-08 01:56] janewang commented on #6264
Related to https://github.com/near/nearcore/issues/6220

[2022-02-08 05:34] bowenwang1996 opened #6266 "archival node unable to sync"
I observed that when running an archival node with this branch [https://github.com/near/nearcore/tree/1.24.0-fix](https://github.com/near/nearcore/tree/1.24.0-fix) something very strange happened. The node stopped syncing at height 59025077 which is the last block of an epoch. Upon investigation I discovered that the very next block is orphaned because the node thinks that it does not have state t

[2022-02-08 10:21] matklad commented on #6226
Good point. I'd probably still lean towards for introduction of `prod` profile: today, to build production artifacts, you are going to use a custom, unusual workflow anyway (`make`), so adding more stuff there doesn't affect conceptual complexity (it's still a custom command!). In contrast, for workflows like "running a test in release mode to access performance" the standard `cargo test --release

[2022-02-08 10:58] matklad opened #8954 "near-vm: Figure out why wasmer0 seems to be generally faster than near-vm"
I've many times observed that wasmer0 is significantly (20%--2x) faster than wasmer2, but I don't think we have ever investigated this. I've build a "large" benchmark which shows that the effect is visible on aurora contract:

[https://github.com/matklad/aurora-engine/commit/671c70378057c107cf0baa11f3ed528e9878cbc3](https://github.com/matklad/aurora-engine/commit/671c70378057c107cf0baa11f3ed528e98

[2022-02-08 12:19] abacabadabacaba commented on #6226
I think that release profile should be what we are actually releasing. Anything less is not a release, it's "debug with optimizations" or something like that.

[2022-02-08 12:39] mina86 commented on #6226
The issue is that people expect `make release` to put all the files in `target/release` which will no longer be true with `prod` profile. I’d rather avoid a situation where someone was testing some code with `cargo build --release` and later made a release by running `make release` and copying files from `target/release`. We can copy the files over in Makefile but then we just made the build comma

[2022-02-08 12:55] matklad commented on #6226
Ahh, so our `Makefile` doesn't do "link files from `target/release` to output directory". Or, rather, we only do this for [sandbox](https://github.com/near/nearcore/blob/e5ec249017cfc51a908d9568ad0cc8644dbbe60e/Makefile#L95) in a rather unprincipled way. Yeah, then it's probably better to not change that just because. I am now 0.7 convinced that it's better to introduce `dev-release` and to mentio

[2022-02-08 13:18] Longarithm opened #6270 "Optimize unnecessary clones in `retrieve_raw_bytes`"
It seems that `retrieve_raw_bytes` can return `&Vec<u8>` or `&<span class="error">[u8]</span>` and avoid cloning, because in many places we even don't use the result or use just a reference: [https://github.com/near/nearcore/blob/f158f333daca1f34d41a2dc44b7d9ad04766e110/core/store/src/trie/mod.rs#L662](https://github.com/near/nearcore/blob/f158f333daca1f34d41a2dc44b7d9ad04766e110/core/store/src/tr

[2022-02-08 15:00] mzhangmzz commented on #6261
Why does the node already has all the state needed? I thought state sync only happens at epoch boundaries, does it work on non epoch boundaries?

[2022-02-08 16:24] #6137 closed

[2022-02-08 17:23] Longarithm opened #6272 "Move `TRIE_LIMIT_CACHED_VALUE_SIZE` to the runtime config"
Since trie nodes cache becomes a part of the protocol, `TRIE_LIMIT_CACHED_VALUE_SIZE` should be moved to the runtime config, with the following reasoning:

*   accidental change of this value may lead to fork
*   if we change node size (in particular, while moving to AVL tree), we need to modify it anyway because `TRIE_LIMIT_CACHED_VALUE_SIZE` is computed based on current max node size.

[2022-02-08 18:18] abacabadabacaba commented on #6272
Do we need an upper limit on the length of a cached node? Can we remove it for chunk cache?

[2022-02-08 18:23] abacabadabacaba commented on #6226
For me, it takes less than 10 minutes to link neard on a GCP instance with 16 GiB RAM when using `make release`. So I think that this claim is kinda exaggerated.

[2022-02-08 19:06] mina86 commented on #6226
My machine used to OOM when trying to `cargo build --release’.  The
measurement I’ve made back then show LTO build 70% slower with full
build and 1400% slower with incremental build:

* Elapsed time of full builds:

    |          |   -j6 |  -j8 | -j12 | -j24 |
    | lto=off  |  5:16 |      | 3:22 | 2:58 |
    | lto=thin | 11:07 |      | 6:24 | 5:21 |
    | lto=fat  |  8:57 | 7:18 | OOM  | OOM  |

[2022-02-09 00:02] bowenwang1996 commented on #6261
We need to introduce this additional step that sync state through state changes so that we don't have to waste time applying blocks.

[2022-02-09 11:12] #5328 closed

[2022-02-09 14:04] matklad commented on #5127
Very non-production impl is here: https://github.com/near/nearcore/pull/6274

[2022-02-09 21:08] birchmd commented on #5127
I had given a crack at this some time ago as well: https://github.com/birchmd/nearcore/commit/b43863cfdd9c7e072625e8cad15435c181241f7e

I found it very useful at the time and would love to see this feature land in nearcore eventually!

[2022-02-10 04:13] bowenwang1996 commented on #5707
I don't think this is in the OKR?

[2022-02-11 13:58] frol commented on #6250
@abacabadabacaba diffs won't give you the reason, e.g. why the balance has changed.

[2022-02-11 15:40] yagop opened #6281 "Compile fails under arm64"
**Describe the bug**
Can't compile under arm64
[code]

**To Reproduce**
[code]
**Expected behavior**
Getting near compiled

**Screenshots**

**Version (please complete the following information):**
`9110028c663b5f9c1a353e064a535f0ebedd82e0` from #6237

- rust version:
1.58.1

[2022-02-11 18:18] mooori commented on #2914
I would like to pick this up. Can it be assigned to me?

I'm unsure what `start_epoch_height` refers to. Maybe `EpochHeight` of the current epoch or `BlockHeight` of the current epoch's first block?

[2022-02-11 23:44] bowenwang1996 commented on #2914
I think it refers to the height of the first block in the epoch. `epoch_start_height` may be a better name (and it is how this thing is named in nearcore anyways). @mooori assigned the issue to you

[2022-02-14 11:20] pompon0 opened #6288 "Framework for stress-testing block/chunk fetching"
We should check how quickly can we catch up with the network, assuming that our runtime/client code is infinitely fast.
The goal is to write a binary that would use our existing classes (PeerManager, etc), connect to the chosen network, and then pretend that it is (let’s say, 2000) blocks behind - and try to request them as fast as possible. (and “accept/trust” received blocks and keep going).
It

[2022-02-14 11:57] jakmeier commented on #5995
Another issue I discovered in the last weeks is that currently the estimator cannot run for large DB stores. If I insert 8 million accounts, then the OOM killer kicks in on a machine with 16GB RAM. I think we load the entire DB into memory for the test setup - which seems generally bad for storage estimation.

[2022-02-14 13:41] matklad opened #6290 "Enable jemalloc support in rocksdb"
After [https://github.com/near/nearcore/pull/6289](https://github.com/near/nearcore/pull/6289), we should be able to take advantage of [https://github.com/rust-rocksdb/rust-rocksdb/pull/542/](https://github.com/rust-rocksdb/rust-rocksdb/pull/542/) – making rocks aware that the allocator we use is jemalloc. Intuitively, it seems like that might bring some substantional perf wins.

[2022-02-14 18:41] matklad commented on #5340
Spawning future manually makes sense to me. If I understand this right, this just entirely bypasses the actix Arbiter infrastructure. This feels somewhat odd (why have arbiters in the first place if we don't use them?), but not odder than average actix. It feels that there *might* be some race here: it seems that what `actix::System::current().stop();` does is stopping all *arbiters*, and, if we d

[2022-02-14 20:08] marcelo-gonzalez commented on #5340
Yeah that's what I was thinking, adding `handle.await` to the main `select!` loop.

And yeah this does bypass the whole Arbiter infrastructure, but what's confusing to me is that exactly the same thing happens when you call `Actor::start()`. What's more, stopping an arbiter doesn't seem to directly affect any actors that were spawned by it, even if they were spawned with `Actor::start_in_arbiter`:

[2022-02-15 11:30] frol opened #6293 "Account deserialization fails on ARM64"
**Describe the bug**

The versioning check for Account type deserialization is invalid since it compares the size of the buffer holding serialized data (72 bytes) with a memory layout size of the struct (platform-dependent due to alignment and it seems to be 72 bytes on amd64, while it is 80 bytes on arm64 [Apple M1]) instead of the size of the serialized struct.

https://github.com/near/nearcore/

[2022-02-15 11:35] frol commented on #3803
I have tested neard with #6200 patch and it works great on my Macbook with Apple M1 chip (except that I needed to hotfix #6293 as otherwise the node crashes on boot)!

While neard cannot be used on M1 in production given that it uses wasmtime instead of wasmer, I believe this particular issue should be closed as the main concern was usability during development cycles and it is now addressed! Kudo

[2022-02-15 11:35] #3803 closed

[2022-02-15 13:33] matklad commented on #5304
Will be fixed once we upgrade to the version of Rust which includes https://github.com/rust-lang/rust/pull/89926 (currently a nightly)

[2022-02-15 16:17] ilblackdragon opened #6295 "[Param Estimator] Docker not found"
**Describe the bug**
Running runtime params estimator with docker: `Unable to find image 'rust-emu:latest' locally`

**To Reproduce**

    Finished release [optimized] target(s) in 0.32s
     Running `/home/ilblackdragon/nearcore/target/release/runtime-params-estimator --accounts-num 20000 --additional-accounts-num 200000 --iters 1 --warmup-iters 1 --docker --metric icount`
[elapsed 00:00:48 remai

[2022-02-15 16:25] ilblackdragon opened #6296 "[Param Estimator] Fails with gas metering assertion"
**Describe the bug**
Running param estimator fails with gas metering should be higher than without:

```thread 'main' panicked at 'Cost with gas metering should be higher than without. Metric: Time. Estimated with gas metering: 54990508000000, without: 63502153000000', runtime/runtime-params-estimator/src/gas_metering.rs:219:5```

**To Reproduce**
```cargo run --release --package runtime-params-es

[2022-02-15 21:22] ashpooljh commented on #6095
Yes, as of now the snapshots are working, thanks.

[2022-02-15 21:22] #6095 closed

[2022-02-16 02:21] marcelo-gonzalez commented on #6243
@maoueh do you remember if you saw the `No available archival peers` log line after setting the boot nodes?

[2022-02-16 02:27] janewang commented on #2454
`-/4  7/7/40 peers` This should be changed to  `Validator  | 4 Validators  | 7 Connected Peers`
- `-` (instead of the "-" there might be "F" [fisherman] or "V" [validator]). We should keep the value for `-` and write out if the node is a Validator
- `4` This shows number of total validators
- `7` This shows the number of connected peers

[2022-02-16 03:13] mina86 commented on #6226
So what’s the consensus here?  The three things we can choose from seem to be:

1. Leave things as they are now.

2. Use a custom profile for release build.  This will remove a few `export` lines from `Makefile` but we will have to deal with executable ending up in a different directory.  This perhaps wouldn’t be such a big issue except it seems we’ve got validators used to building things through

[2022-02-16 13:47] #2454 closed

[2022-02-16 15:37] maoueh commented on #6243
@marcelo-gonzalez Note that I could remember but not impossible there was still there. However the logs did not seem to be stable like changing `RUST_LOG=trace` to `RUST_LOG=debug` surfaced logs that I never seen while in tracing so I'm not totally confident I did see all lines correctly.

[2022-02-16 16:07] matklad opened #6301 "Consider re-exporting rocksdb crate from store"
[https://github.com/near/nearcore/pull/6300](https://github.com/near/nearcore/pull/6300) made me realize that we specify version of rocks we use in several places. This is a bit subomtimal. In the `store/lib.rs` we might want to add `pub extern crate rocksdb;` to have the version specified in just one Cargo.toml

[2022-02-16 17:24] Ekleog opened #6302 "Wall clock time / gas histogram"
As per https://near.zulipchat.com/#narrow/stream/297873-nearinc.2FnodeX/topic/chunk.20gas.20graphs/near/272146187

We should have histogram metrics that log wall clock time divided by gas with buckets centered around 1ms/1Tgas.

See also https://github.com/near/nearcore/pull/6268 for how to implement the metric itself.

[2022-02-16 21:50] mhalambek opened #6306 "Docker image testnet"
Docker image has been changed

[code]

This command does not work anymore, how to pass custom near home directory now ?

[2022-02-17 00:01] mina86 commented on #6306
`--home` should absolutely work. What’s the error here?

[2022-02-17 10:17] Longarithm opened #6308 "Make `TrieUpdate` an exclusive owner of `Trie`"
Work on [https://github.com/near/nearcore/pull/6241](https://github.com/near/nearcore/pull/6241) revealed that `TrieUpdate` is not an exclusive owner of `Trie`. In particular, in `fn apply` we use two `TrieUpdate`s - for checking balances of initial state and updated state.

But in fact, structure for initial state doesn't need exclusive / mutable access to trie. It makes sense to reuse `TrieCache

[2022-02-17 11:06] matklad commented on #6308
There are two slightly related, but different issues here.

The *first* one is that we have `Trie` and `TrieUpdate` structs, and they both implement the read side of the trie API. We don't have any polymorphism here, and only implement various helper functions, like `get_account` on `TrieUpdate`. This leads to the issue that even read-only operations have to create a dummy `TrieUpdate` just to get

[2022-02-17 14:15] mhalambek commented on #6306
[code]

This is the result when trying to run the command

[2022-02-17 15:03] #6306 closed

[2022-02-17 17:08] Longarithm opened #6316 "Implement chunk nodes cache for `TrieRecordingStorage`"
When we enable challenges, `fn apply` will need to work with both `TrieCachingStorage` and `TrieRecordingStorage`, so we need to maintain correct nodes accounting in both of them.

IMO it's a good idea to postpone it because the current architecture around `TrieStorage` is not optimal, but it is also easy to forget about.

[2022-02-18 06:37] frol commented on #5098
I think it is resolved now and the backups are not in .tar archives anymore: https://docs.near.org/docs/develop/node/intro/node-data-snapshots

[2022-02-18 06:37] #5098 closed

[2022-02-18 08:52] kucharskim commented on #5098
How do you guys generate snapshots?

[2022-02-18 09:23] wangtao19911111 opened #6317 "near sync stopped at 59759542"
Cause: Unknown
Feb 18 09:19:12.787  WARN client: receive bad block: Invalid Chunk State
 Cause: Unknown
Feb 18 09:19:15.189  WARN client: receive bad block: Invalid Chunk State
 Cause: Unknown
Feb 18 09:19:16.737  WARN client: receive bad block: Invalid Chunk State
 Cause: Unknown
Feb 18 09:19:17.389  INFO stats: #59759542 Downloading blocks 99.98% (9960)  11/10/40 peers ⬇ 113.6kiB/s ⬆ 54.5kiB/s 0

[2022-02-18 10:43] nikurt commented on #6317
Please restart neard with debug logs and post debug logs containing `Failed to validate chunk extra`:
[code]

[2022-02-18 15:08] nagisa opened #8953 "near-vm: Rework VMOffset/VMContext to be more resilient to changing"

[2022-02-18 19:16] janewang opened #6320 "Allow Node Logging in JSON format"
Node logging could allow logs to use different format: plaintext or JSON.

Background:
 Current logs in ext requires custom regex for parsing and is suboptimal for managing highly available nodes. As we work on enhancing the log content, I suggest we use JSON such logs are backward compatible as we make these changes.

Enhancement:
 JSON format is easily digestible and easily used in third party s

[2022-02-18 19:40] janewang opened #6321 "Print useful message when node exits with failure"
When a node exists with failure (such as Mailbox closed), prints out some useful information to help node operator with what to do as the next step.

[code]

[2022-02-18 19:55] vorotech commented on #6317
Hi @nikurt

Should mentioned that it was on previous version when we first noticed the issue.
Later I've upgraded the version, but error remained.

Got the same issue

<details>

<summary>sudo RUST_LOG=debug /usr/local/bin/neard --home=/mnt/data/.near run</summary><p>

[code]

</p></details>

[2022-02-20 18:10] bowenwang1996 opened #6323 "Validator nodes get stuck at the beginning of an epoch"
Multiple validators reported that their nodes get stuck in the beginning of an epoch. Neard is still running but no new block is processed. For example, [<span class="image-wrap" style="">![](https://user-images.githubusercontent.com/13601726/154857076-4d1a9262-6fec-4acf-8ebf-46d2dde5abee.jpg)</span>](https://user-images.githubusercontent.com/13601726/154857076-4d1a9262-6fec-4acf-8ebf-46d2dde5abee

[2022-02-20 22:58] ashpooljh commented on #6323
Restarting the node helps unstuck it. After restarting the node it will proceed to operate normally until the beginning of the next epoch. During the first few minutes of every new epoch the node is very likely to stall again.

[2022-02-21 00:10] bowenwang1996 commented on #6323
More info from validators: this usually happens with an increase in cpu and memory usage. So it feels similar to https://github.com/near/nearcore/issues/6126. @mzhangmzz do you think the change to chunk request logic in 1.24.0 may have contributed to this?

[2022-02-21 10:42] nikurt commented on #6317
The error originates here:
https://github.com/near/nearcore/blob/e9a28c46c2bea505b817abf484e6015a61ea7d01/chain/chain/src/validate.rs#L134

@EgorKulikov @mzhangmzz

[2022-02-21 14:34] #5979 closed

[2022-02-21 15:58] bowenwang1996 commented on #5145
@mzhangmzz with #5259 merged, should we close this issue?

[2022-02-21 16:02] bowenwang1996 commented on #5995
Indeed. Could we fix that?

[2022-02-21 16:04] bowenwang1996 commented on #6290
Sadly we reverted #6289 as the performance of 0.18 is worse than that of 0.16 according to our benchmark

[2022-02-21 16:11] bowenwang1996 commented on #3201
I believe this is already done. @EgorKulikov please reopen if it is not

[2022-02-21 16:11] #3201 closed

[2022-02-21 16:20] bowenwang1996 commented on #6293
I think it is important that we fix this. Otherwise developers with M1 machines cannot run a node locally. @EgorKulikov could we fix this issue?

[2022-02-21 16:27] bowenwang1996 commented on #6296
@jakmeier could you take a look at this?

[2022-02-21 23:25] bowenwang1996 commented on #6243
Yeah that seems like a bug. @marcelo-gonzalez could you look into it?

[2022-02-21 23:35] bowenwang1996 commented on #6308
@matklad @Longarithm what prevents us from doing that?

[2022-02-21 23:58] bowenwang1996 commented on #5197
@frol @mina86 what is the status of this issue? Did we fix it?

[2022-02-22 00:00] bowenwang1996 commented on #6317
This is caused by node not upgrading in time and the protocol version of your node became incompatible with the protocol version of the network. Usually you need to recover from a backup in this case. You can use https://docs.near.org/docs/develop/node/intro/node-data-snapshots for example

[2022-02-22 00:00] #6317 closed

[2022-02-22 10:24] jakmeier commented on #6295
Oops, I introduced this bug with #6213. Since then we use an explicit docker tag for each Rust version.

Apparently, I didn't test it properly. It tested on three different machines but all of them still had the implicit tag `latest` of the image...

[2022-02-22 10:38] #6295 closed

[2022-02-22 12:53] matklad commented on #6308
I think that's just going to be a big change, and there might be some unknowns there. We'd have to solve two problems:

* Refactor a lot of runtime code to use `&mut TrieUpdate` rather `&TrieUpdate` (just a big diff)
* Refactor code which currently use `TrieUpdate` for readonly operations to
  * either not use `TrieUpdate` and use `Trie` directly
  * or to use `&mut TrieUpdate`

That's a rather bi

[2022-02-22 14:43] #4346 closed

[2022-02-22 17:34] jakmeier commented on #3193
There is some progress on this in PR #6336. But I will also need to solve #3097 to make the estimate meaningful.

Additionally, I should investigate how much the size of the touched nodes matter. Currently, the estimate operates on nodes with only one child each.

[2022-02-22 17:58] mina86 commented on #5885
@mzhangmzz, there’s still this TODO comment in the code:

[code]

Can it be removed?

[2022-02-22 18:11] #4833 closed

[2022-02-22 20:25] janewang opened #6339 "Move Warn for Peer bandwidth exceeded threshold to DEBUG log"
To avoid spamming the log, let's move this WARN to DEBUG log

<img width="783" alt="Screen Shot 2022-02-22 at 3 24 49 PM" src="https://user-images.githubusercontent.com/734336/155213175-ea8d98c5-d1ca-49e9-9eae-c6e298ec2ffe.png">

Too much `WARN near_network::peer_manager::peer_manager_actor: Peer bandwidth exceeded threshold`:
<img width="1276" alt="Screen Shot 2022-02-23 at 10 21 56 PM" src="http

[2022-02-22 20:29] janewang commented on #6175
Closing this issue and moving to different repo.

[2022-02-22 20:29] #6175 closed

[2022-02-23 09:03] #2789 closed

[2022-02-23 09:03] #2790 closed

[2022-02-23 09:03] #2791 closed

[2022-02-23 09:03] #2792 closed

[2022-02-23 09:03] #2793 closed

[2022-02-23 09:03] #2800 closed

[2022-02-23 13:22] matklad opened #6344 "Make it clear which costs have safety multiplier"
Some of our costs are multiplied by `3` to have an extra safety margin, and some are not. This isn't reflected today in production code.

Eg, here:

https://github.com/near/nearcore/blob/845a8ec079fa417dcca50e9a2acbfd086b196f73/core/primitives/res/runtime_configs/50.json

we see premultiplied costs. I *think* the rule is "`regular_op_cost` and all ExtCosts are multipled, all action costs are not m

[2022-02-23 15:17] jakmeier commented on #6296
This particular panic is already tracked in #5992. But I didn't work on it very actively, as it rarely failed for me. (It behaves quite non deterministic.) A possible solution is provided in #6345

[2022-02-23 15:19] jakmeier commented on #5992
#6345 refactors this in a way that makes panics impossible and also allows to change the number of iterations / warmup-iterations using CLI parameters. This behaviour is my default goal for all estimations, unless there is a good reason to deviate from it.

[2022-02-23 16:56] mzhangmzz commented on #6323
@bowenwang1996 actually seems like this issue was resolved after the validators increased their machine spec, so it's probably due to the chunk request logic change

[2022-02-23 20:50] rzheng opened #6346 "Amount value is different between intent and on-chain"
**Describe the bug** `rosetta-cli check:construction` failed with the error:

 Command Failed: unable to process blocks: unable to process block: unable to handle block: unable to handle confirmed transaction tx:FUtmY6vCUGrRrZ5mt5989dpra5gDwWqNW5DU6hNmfwf9: could not intent match <span class="error">[0 1]</span>: confirmed transaction did not match intent: unable to add block to storage BPLKLByNrA

[2022-02-24 01:55] miraclx commented on #4340
@frol, can't we reuse the `UnknownBlock` variant, though? Seems to be documented as a catch-all, including the case where we have garbage collected blocks.

https://github.com/near/nearcore/blob/f951d6ed8e491ef842da6bd9448d3242472c126b/chain/client-primitives/src/types.rs#L349-L350

https://github.com/near/nearcore/pull/6342 introduces the `GarbageCollectedBlock` error variant, which is very speci

[2022-02-24 14:53] jc-near opened #6348 "Create a webpage & API to host sync info page"
As the first step to implement https://github.com/near/nearcore/issues/6143, we need to build an API and a webpage on top of it to host this page.

[2022-02-24 14:57] jc-near opened #6349 "Incorporate sync & network info into the API of sync info page"
The sync info page needs to display sync & network info, once the framework is ready.

[2022-02-24 17:22] bowenwang1996 commented on #5442
looks like this is already addressed

[2022-02-24 17:22] #5442 closed

[2022-02-24 17:23] bowenwang1996 commented on #5447
Looks like this is already fixed

[2022-02-24 17:23] #5447 closed

[2022-02-24 18:16] bowenwang1996 commented on #6323
We didn't observe this on any of the nodes we run

[2022-02-25 13:35] #5992 closed

[2022-02-25 14:52] #6296 closed

[2022-02-25 18:37] BenKurrek opened #6352 "RPC / Explorer Potentially Returning False Information"
**Describe the bug**
RPC shows a receipt where more GAS is being refunded than what was attached to the transaction.

**To Reproduce**
`near call counter.examples.testnet get_num --accountId YOUR_ACCOUNT_ID --gas 200000000000000` This will sign a super simple transaction using the rust counter where you query for the current value of the counter.

You attach 200 TGas which is: 200 * 10^12 * GAS_PR

[2022-02-25 19:07] jakmeier commented on #6352
This is the same thing that I debugged last week. I filed a ticket at the explorer: https://github.com/near/near-explorer/issues/904

The good new is, it is only a problem of displaying the information, everything on chain happens exactly as intended and documented (if you dig deep enough). The bad news is that it is fundamentally more complex than the current explorer UI suggests.

To fix your ca

[2022-02-25 19:48] jakmeier opened #6353 "Clear up estimations around function call costs"
@matklad @Longarithm @olonho

I think there are several things mixed up in our function call estimations. I will write down my current understanding and we can have a discussion in the comments if anyone thinks I got it wrong.

### How we charge a function call

The current cost model for function calls charges the following items:

*   Sending and executing the action receipt
      *   `action_cr

[2022-02-25 19:54] jakmeier commented on #6353
There is also an existing issue around improving correlation between real costs and our estimated costs:: #4826

The issue I created here is not about that. It is about cleaning up existing estimator code. And documenting what we try to estimate. I believe solving this issue can be done separately and will only help to also solve that other issue.

[2022-02-28 16:28] vae520283995 opened #6357 "Send transaction InvalidNonce"
[code]

[code]

[2022-02-28 16:37] vae520283995 commented on #6357
@Longarithm
Please help, seems to be related to this pr https://github.com/near/nearcore/pull/5482

[2022-02-28 19:54] janewang commented on #6233
It would be ideal to move the WARN message debug log is ON. Right now it is quite nosy: https://github.com/near/nearcore/issues/6339

[2022-03-01 13:03] jakmeier opened #6361 "Clear up estimations around logging and UTF8/16 decoding costs"
When a smart contract calls `log_utf8` or `log_utf16`, we currently charge three items, each of them using a `base + n * bytes` formula.

1.  Reading WASM memory
2.  Decoding UTF8/16
3.  Logging output

This looks reasonable to me.

However, our estimations around that make little sense to me. Estimations for 2 and 3 are almost exactly identical. And cost 1 is not subtracted when estimating 2 or 3

[2022-03-01 14:13] jakmeier commented on #6353
Created #6362, mostly to put my code and comment changes around this issue somewhere it doesn't get lost.

Looking at the changes there may also help to understand the problem this issue tracks.

[2022-03-01 15:28] #5878 closed

[2022-03-01 15:58] bowenwang1996 opened #6364 "Allow log levels to be changed without shutting down neard"
It is desirable to be able to change the log level of a node while it is running because 1) having very verbose logs on by default affects performance and generates a huge amount of logs and 2) when debugging a node, restarting the node may lead to a change of state and loss of information.

@nagisa do you have any idea what the best way to do this is?

[2022-03-01 16:56] nagisa commented on #6364
Using the [`tracing_subscriber::reload`](https://docs.rs/tracing-subscriber/latest/tracing_subscriber/reload/index.html) is perhaps the most flexible option to achieve this.

[2022-03-01 16:59] nagisa commented on #6364
Do we have an idea on how we'd inform a running process that the log level needs to be changed? Once we figure it out, implementing this shouldn't be difficult.

[2022-03-01 22:37] bowenwang1996 commented on #6352
@BenKurrek please reopen the issue if anything remains unclear

[2022-03-01 22:37] #6352 closed

[2022-03-01 22:41] bowenwang1996 commented on #5377
looks obsolete

[2022-03-01 22:41] #5377 closed

[2022-03-01 22:46] bowenwang1996 commented on #6357
@vae520283995 yes the nonce used in a transaction should be larger than the nonce on the access key. The logic to set access key nonce upon creation was not enforced for implicit accounts before and now the behavior changed. To combat this, just query the access key nonce first and then increment it by one in the transaction body.

[2022-03-01 22:46] #6357 closed

[2022-03-01 23:26] #2914 closed

[2022-03-01 23:30] bowenwang1996 commented on #6364
Good question. We can potentially do this through a rpc call. Do you have any suggestions?

[2022-03-01 23:44] #6207 closed

[2022-03-02 13:07] nagisa commented on #6364
Other alternative options I can think of are watch for modifications to some configuration file or perhaps just have a location in the filesystem (e.g. `$NEAR_HOME/verbose`) which if present makes `neard` log verbosely while it exists.

RPC has a benefit that the admins can turn on/off debug logging remotely without direct access to the machine and if some sort of distributed log aggregator is bei

[2022-03-02 14:02] nikurt opened #6372 "Support graceful shutdown of RocksDB on Windows"
[https://github.com/near/nearcore/pull/6326](https://github.com/near/nearcore/pull/6326) only adds graceful shutdown for linux:

[code]

Unknown if graceful shutdown is an issue on Windows. If it happens to be an issue, please upvote this issue.

[2022-03-02 14:34] zavodil opened #6373 "Introduce hash of account storage"
We have a `code_hash` which is extremely useful to recognise current application code for the given account.
Could you introduce a similar hash to determine account storage (data)?

Right now we have a continuous bug when 2FA is trying to [overwrite](https://github.com/near/near-wallet/issues/2261) account state and makes account invalid. We can't recognise if account has existing state using [`co

[2022-03-03 02:29] raojianli opened #6378 "error: failed to run custom build command for `openssl-sys v0.9.72`"
os :mac version: 1.24.0

error: failed to run custom build command for `openssl-sys v0.9.72`

Caused by: process didn't exit successfully: `/Users/abel/bworkspace/blockchain/near/nearcore/target/release/build/openssl-sys-f351fd47df521c03/build-script-main` (exit status: 101) — stdout

[2022-03-04 00:53] miraclx opened #6384 "Unstructured errors returned from query RPC method"
**Describe the bug**

Following https://github.com/near/nearcore/pull/3944, the [`process_query_response`](https://github.com/near/nearcore/blob/78c4b0c5938f7a8af37927e554207d68e48ffafa/chain/jsonrpc/src/lib.rs#L131) method was introduced to maintain backwards compatibility when reporting some variants of `QueryError`.

https://github.com/near/nearcore/blob/78c4b0c5938f7a8af37927e554207d68e48ffafa

[2022-03-04 15:29] Ekleog commented on #6186
Overall one thing that bothers me with this assertion is that borsh appears to have as an expectation that BorshDeserialize will advance the buffer by the number of bytes consumed, which sounds to me like it could always pass in a slice bigger than the actual data to deserialize. So I'm not sure even returning an error would actually be implementing the BorshDeserialize as specified.

But then I'm

[2022-03-04 16:04] #6293 closed

[2022-03-04 16:20] #5340 closed

[2022-03-04 18:54] bowenwang1996 commented on #6378
@nagisa @matklad  I think we fixed something around openssl versions. Do you happen to know what this might be about?

[2022-03-04 18:58] matklad commented on #6378
This seems unrelated to that issue we had a while back. Was that the full output of the build? It feels strange that there isn't any kind of error message. Re-running with `cargo build -vv` (very verbose) might help.

[2022-03-04 19:11] nagisa commented on #6378
I'm surprised we vendor and build our own copy of openssl, rather than using the system provided one.

Guesstimating, since there's no output, but you might be missing a tool (perl, a C compiler, make) necessary to build openssl.

[2022-03-05 01:30] ChzenChzen commented on #3803
https://github.com/near/nearcore/pull/6200#issuecomment-1059641212

[2022-03-07 15:07] nikurt commented on #6122
Somehow the loadtest is now able to generate 50 TPS. Let's reopen this when the bottleneck becomes a problem again.

[2022-03-07 15:07] #6122 closed

[2022-03-07 15:08] bowenwang1996 commented on #4422
obsolete

[2022-03-07 15:08] #4422 closed

[2022-03-07 15:40] bowenwang1996 commented on #6125
Looks like there is no action item. Closing

[2022-03-07 15:40] #6125 closed

[2022-03-07 15:42] #6321 closed

[2022-03-07 16:17] pmnoxx opened #6394 "build tool for stress testing network"
We need a tool to stress test requesting blocks / chunks from the network.

Current design:
Node requires 4 actors to run: `PeerManagerActor, PeerActor, ClientActor, ClientViewActor`.
- Node starts with a mocked `ClientActor, ClientViewActor` actors.
- `PeerManagerActor`, `PeerActor` run as usual.
- App provides a CLI, which is used to control the stress test

Done:
- code to requests chunks
- cod

[2022-03-07 17:03] bings47 commented on #4764
Hi, would like to try my hand at this issue if it's still open for contribution.

[2022-03-07 17:47] #6394 closed

[2022-03-07 17:47] #6135 closed

[2022-03-07 17:48] #5840 closed

[2022-03-07 17:48] #5799 closed

[2022-03-07 17:48] #5777 closed

[2022-03-07 17:48] #5757 closed

[2022-03-07 17:48] #5695 closed

[2022-03-07 17:48] #5684 closed

[2022-03-07 17:48] #5653 closed

[2022-03-07 17:48] #5649 closed

[2022-03-07 17:48] #5628 closed

[2022-03-07 17:48] #5527 closed

[2022-03-07 17:49] #3431 closed

[2022-03-07 17:49] #5673 closed

[2022-03-07 17:49] #5453 closed

[2022-03-07 17:49] #5424 closed

[2022-03-07 17:49] #5423 closed

[2022-03-07 17:49] #5379 closed

[2022-03-07 17:50] #5317 closed

[2022-03-07 17:50] #5316 closed

[2022-03-07 17:50] #5274 closed

[2022-03-07 17:50] #5263 closed

[2022-03-07 17:50] #5255 closed

[2022-03-07 17:50] #5254 closed

[2022-03-07 17:50] #5245 closed

[2022-03-07 17:50] #5238 closed

[2022-03-07 17:50] #5226 closed

[2022-03-07 17:50] #5214 closed

[2022-03-07 17:50] #5206 closed

[2022-03-07 17:50] #5174 closed

[2022-03-07 17:50] #5164 closed

[2022-03-07 17:50] #5156 closed

[2022-03-07 17:51] #5155 closed

[2022-03-07 17:51] #4842 closed

[2022-03-07 17:51] #4157 closed

[2022-03-07 18:48] nagisa commented on #4040
I have used tracing + a event/span ingest as well as manually instrumented prometheus metrics in the past. Having event/spans can produce very awesome and useful results. It becomes possible to figure out issues at a granularity of a single unit of work, see at what exact point the issues manifested themselves, etc. They also:

* require to plan a fleet-wide guidelines for event structure[^1];
* r

[2022-03-07 18:54] mikroskeem commented on #6281
Can confirm.

[2022-03-08 01:35] bowenwang1996 opened #6399 "Node behind but is not syncing"
On the mainnet archival canary node we observed something interesting. The node has a relatively large number of peers (27) and it does process blocks. However, it is several hundred blocks behind the head of the network but it for some reason is not in syncing mode.

Log output from the node:

 Mar 08 01:30:10 mainnet-canary-archive sh<span class="error">[81677]</span>: Mar 08 01:30:10.389 INFO s

[2022-03-08 11:04] matklad opened #6400 "Upgrade to Rust 1.60, skipping 1.59"
Rust 1.59 was released recently: https://blog.rust-lang.org/2022/02/24/Rust-1.59.0.html

This is a big release, but it contains one notable regression: incremental compilation is off by default. This would be a big hit for the development velocity, so I suggest skipping this upgrade and move directly to 1.60, once that is released.

[2022-03-08 14:41] #6288 closed

[2022-03-08 14:51] mooori commented on #5080
Running the following test resulted in failures for values `BLOCK_CACHE_SIZE <= 3` (in `epoch_manager.rs`).

[code]

#### Where occurs the error?
In `EpochManager.get_block_info()` when `BlockInfo` is not in the cache and the attempt to retrieve it from `Store` returns `Ok(None)`.

This is triggered by `Client` in `TestEnv` processing a block.

The error which causes the test to fail contains the

[2022-03-09 01:29] bowenwang1996 commented on #4764
@bings47 sure. Assigned it to you

[2022-03-09 01:33] bowenwang1996 commented on #4040
@nagisa I reopened #6072

[2022-03-09 01:35] bowenwang1996 commented on #6281
@Ekleog can you confirm that this is already fixed in master?

[2022-03-09 01:35] bowenwang1996 commented on #4807
Fixed in #5458

[2022-03-09 01:35] #4807 closed

[2022-03-09 03:29] bowenwang1996 commented on #3363
@matklad is there any action item from this issue? If not let's close it

[2022-03-09 07:20] jakmeier commented on #6201
*Overdue status update:*
- #6278 resolved the leftover cleaning up mentioned in my previous comment.
- The current step to straighten the deployment cost is getting #6397 in.

[2022-03-09 08:05] raojianli opened #6403 "how to signed a local transaction?"
as  some limit, i must go  or rust to signed tx,   there is a example? or  any code link?
i try signed a  local tx, but it failed,  code

`
    #[cfg(test)]
    mod tests {
        use bs58::decode;
        use ed25519_dalek::{Keypair, Signer};
        use near_crypto::{KeyType, PublicKey, Signature};
        use near_crypto::Signature::ED25519;
        use near_primitives::block::BlockHeader;

[2022-03-09 09:24] #6403 closed

[2022-03-09 09:51] ashpooljh commented on #5709
not stale

[2022-03-09 14:03] Ekleog commented on #6281
@yagop Your dockerfile lists 1.23.1 as a neard version, which dates back to before neard was ported to aarch64. As for 1.25.0-rc.3, I have not tried with it because neard doesn't work on m1 there anyway, it only builds successfully — 1.25.0 was cut before https://github.com/near/nearcore/pull/6388 happened.

This being said, I've tried `docker build --platform="linux/arm64" --build-arg make_target

[2022-03-09 15:23] jakmeier opened #6404 "Wasm instruction estimation should cover a variety of ops"
The current wasm instruction estimation only looks at memory load/store operations. I guess this has been chosen under the assumption that these are generally the slowest operations. I am not so sure if this is the case, as modern pre-fetcher are pretty hard to trick into not preloading caches correctly. Plus, this means we base our WASM operation cost entirely on the cache and memory performance

[2022-03-09 15:42] jakmeier commented on #6404
Draft PR with a first idea how to measure other ops: #6405

A couple of data points to take away from there:
- Load/store stressing estimation with Icount results in `272_975 gas` without safety factor. (No surprise here, `822_756 gas` is the current factor)
- The arithmetic stressing estimation with Icount results in `406_908 gas`. (again without safety multiplier)
- Time based measurements are l

[2022-03-09 16:37] #5194 closed

[2022-03-09 16:56] matklad commented on #6361
Decoding is also charged for in `panic_utf8` and in `read_and_parse_account_id`.

The rest matches my own understanding

[2022-03-09 19:51] mina86 commented on #6226
OK, I’m gonna close this with no action taken. If anyone has arguments for doing 2 or 3 from my previous comment feel free to reopen.

[2022-03-09 19:51] #6226 closed

[2022-03-09 21:55] austinabell commented on #4803
Completed with https://github.com/near/nearcore/pull/6196

[2022-03-09 21:55] #4803 closed

[2022-03-09 22:34] mina86 opened #6409 "`near_block_head_height` is not updated if no blocks are received"
The `near_block_head_height` metric (a.k.a. `metrics::BLOCK_HEIGHT_HEAD`) is set only when head is updated (in `ChainUpdate::update_head`). This means that if a node is stuck after startup and does not make any progress syncing up the metric is never updated and never exported. This in turn means that even if the node is running it does not show up on some of our graphs. The metric should be initi

[2022-03-10 00:25] bowenwang1996 commented on #6266
We saw this on the mainnet achival canary node again. cc @mina86 @mzhangmzz

[2022-03-10 04:19] bings47 commented on #4764
should I also bump the v3 version out of the beta version and into the latest one? Seems to be [3.1.6](https://github.com/clap-rs/clap/tree/v3.1.6) now

[2022-03-10 11:33] frol commented on #6186
Should this issue be closed as #6388 was merged?

[2022-03-10 11:37] matklad commented on #6186
No, the code still violates the contract of BorshDeserialize trait, by panicing on slices of invalid lenght

[2022-03-10 12:01] matklad commented on #4764
@bings47 probably makes sense to

* first upgrade all betas to proper v3
* then remove the remaining usages of v2

[2022-03-10 13:35] nagisa opened #8952 "near-vm: Ideas around removing memory checks (without signals!)"
In [https://github.com/near/nearcore/issues/8954](https://github.com/near/nearcore/issues/8954) one of the regressing changes that has been identified was around removal of signal based memory access traps. This issue describes an (admittedly silly) idea that would allow removing the memory access checks without re-introducing the signal handlers and the associated complexity.

The WebAssembly spe

[2022-03-10 20:05] mzhangmzz commented on #6266
I did some digging, unfortunately I accidentally overwrote the log that I saved and now I don't have log any more. I think the issue is that for some reason, state sync in the catchup phase is taking a long time (more than an epoch) even though there is no state to download, which is weird. It's hard for me to tell right now whether https://github.com/near/nearcore/blob/master/chain/client/src/cli

[2022-03-11 08:29] mm-near opened #6412 "Move 'Status' to view client"
Currently Status calls (including health) - are handled by the main client actor.
This means that when the system is overloaded - many of these requests are 'hanging'.

We should consider moving them into 'view client'.

(There is a separate question on what should 'health' return if system is overloaded).

[2022-03-11 08:32] mm-near opened #6413 "Chunk processing should not block the ClientActor thread"
Currently we do chunk processing in parallel (using par_iter) - but this call is still 'blocking' the ClientActor thread - which means that it cannot accept/verify any new chunks/blocks etc – therefore limiting the system throughput (especially under heavy load).

There are couple possible solutions to this - one of them would be to move some of the functionality outside the ClientActor (into some

[2022-03-11 13:37] mm-near opened #6416 "Unify the way to create (initialize) localnet"
Currently we have at least 2 ways in which we can initialize localnet:

by calling 'neard init --chain_id = localnet' by calling neard localnet ... or by calling nearup run (which is using neard localnet under the hood)

The problem is, that these 2 methods end up with different-looking localnets which makes testing a lot harder.

We should unify both approaches (possibly in nearup - and removing

[2022-03-11 15:50] #6244 closed

[2022-03-12 17:39] bowenwang1996 commented on #6281
Yeah let's postpone this for now since we only support local development for aarch64 right now

[2022-03-12 17:43] bowenwang1996 commented on #4813
Obsolete

[2022-03-12 17:43] #4813 closed

[2022-03-12 20:35] mina86 opened #6421 "Broken ‘adversarial/start_from_genesis.py overtake doomslug_off’ test"
#6160 breaks `adversarial/start_from_genesis.py overtake doomslug_off` test. Steps to reproduce:

[code]

[2022-03-14 10:48] nagisa opened #6422 "Verify we have a test to verify operation of `used_gas`"
See https://github.com/near/NEPs/pull/324#pullrequestreview-907198115

The problem is that calling `used_gas` multiple times in a single metered block should return values differing only by the amount of gas which `used_gas` itself requires to execute. The fees for executing the WASM code should be paid for before any of the call instructions within a metered block are executed.

[2022-03-14 16:11] nikurt opened #6428 "`dump_state` doesn't set `genesis_time` in `genesis.json`"
Dumped state into genesis. The field `genesis_time` is carried over from the original genesis, but would make more sense to set the time of the dump as the new `genesis_time`.

[2022-03-15 05:07] mina86 opened #6432 "Update to clap 3.1"
Simple search and replace in Cargo.toml is not enough to update clap. Newer version gives use ‘hide’ option which can be used for deprecated commands namely unsafe_reset_data, unsafe_reset_all and testnet.

[2022-03-15 11:23] #6302 closed

[2022-03-15 14:07] Ekleog opened #6435 "Runtime-tester fuzzer has intermitent failures that makes it take >2s to process a block on our infra"
I'm unable to reproduce locally, but it may be linked to external conditions in the metrics, like a memory spike.

This would deserve being investigated more in-depth, but I have noticed that limiting the memory available to 1G (instead of the default 2G) leads to an intermittent OOM that I was able to reproduce locally (after letting it run in a loop for several hours), so this intermittent OOM m

[2022-03-15 17:14] matklad commented on #6353
Yup, this all matches my current understanding. I'd fix https://github.com/near/nearcore/issues/5962 before fixing the estimator

[2022-03-15 17:33] mina86 opened #6436 "Warn about unknown fields when deserialising JSON files"
Currently, if serde encounters an unknown field it silently ignores it. We might want to at least warn if this happens. I’ve just spent noticeable amount of time debugging an issue caused by a typo in `config.json` file.

[2022-03-15 21:22] marcelo-gonzalez opened #6438 "ClientActor's message queues are sometimes very congested"
Recently we've seen a mainnet archival node built from b94948383f4106 process blocks too slowly to sync. What happens is that intermittently it'll fall behind and then stay around 500 blocks behind HEAD, as it doesn't process blocks fast enough to catch up after falling behind.

After adding logging like this:

<pre>diff --git a/chain/network/src/peer/peer_actor.rs b/chain/network/src/peer/peer_ac

[2022-03-16 10:26] mm-near commented on #6438
Yes - and the proper solution is to 'split' ClientActor into couple separate Actors/processes -- so that the runtime execution doesn't block it.

[2022-03-16 10:28] mm-near opened #6442 "Missing 'CHUNK_EXTRA' causes the node to stall"
Happened on localnet - after restarting a job it could no longer catch up.

When I've enabled debug logs, I've noticed:

 Mar 16 11:24:08.157 DEBUG chain: Process block header: CNJS5wi12zjN5o91H5kSK1YMkeSfZDnaG8UFSvDrfzww at 12676
 Mar 16 11:24:08.158 DEBUG Process block

 {#12676}: chain: enter

 Mar 16 11:24:08.158 DEBUG Process block{#12676}

: chain: Block CNJS5wi12zjN5o91H5kSK1YMkeSfZDnaG8UFS

[2022-03-16 10:36] mm-near commented on #6442
this seems to happen - if you were a validator, then you got kicked out (which means that by default you're not tracking any shards) - and then you try to track some shards.

In such case, when you change the config (to add new tracked shards) and restart - the node will get stuck with the message above.

[2022-03-16 13:01] matklad opened #6443 "Replace `debug_assert` with logging"
In #6439, I've noticed a couple of `debug_assert`, which I think were used in a defensive fashion, to not bring down the node in production. `debug_assert` is not the best tool here, as it is completely elliminated in release. What we want here is to panic in debug and to log in release:

<pre> if !cond {
 if cfg(debug_assertions)

 { panic!() }

 else

 { tracing::log!() }

}</pre>

In rust-analy

[2022-03-16 13:54] bowenwang1996 commented on #6438
@nikurt did you assign yourself to fix the underlying issue or to add metrics?

[2022-03-16 13:57] nikurt commented on #6438
@bowenwang1996 to add metrics.
Let me unassign myself to avoid confusion

[2022-03-16 14:47] mina86 commented on #6443
Question can also be asked whether we should just `assert`.  To me, `debug_assert` makes sense in hot paths or generally when checking the condition is too expensive for production code.

[2022-03-16 15:40] nagisa opened #6444 "Should the runtime host functions validate action inputs before creating the actions?"
Today we validate the contents of receipts and actions before executing them by eventually calling functions like [`runtime::verifier::validate_receipt`](https://github.com/near/nearcore/blob/c9e1aaa54b8318e52bc1655a32e31243cd275b18/runtime/runtime/src/verifier.rs#L225), [`runtime::verifier::validate_action`](https://github.com/near/nearcore/blob/c9e1aaa54b8318e52bc1655a32e31243cd275b18/runtime/ru

[2022-03-16 15:43] jakmeier opened #6445 "Proposal: Revamp parameter estimation"
Secure gas cost estimation is hard and not well explored. The closest well-known thing is benchmarking systems to compare performance. That itself is already non-trivial. But people have studied it, created tools for it, and written a vast literature around it that describes how to do it scientifically. To prove that A is faster than B in doing X, it is generally accepted to measure it many times

[2022-03-16 17:19] bowenwang1996 commented on #6442
Yes it is known that changing tracked shards may cause a node to break. I think we should just shutdown the node in this case to prevent further damage. Wouldn't say it is bug because it is designed to be this way from the very beginning

[2022-03-17 16:57] bentleybm commented on #6323
We have only increased disk capacity but left CPU at 8 and memory at 16GB. We are noticing the spike only in CPU usage. However, since March 13th we have had a 10% growth in disk consumption indicated in attachments. If you need more detail on the spikes I can provide exact time stamps.
![image](https://user-images.githubusercontent.com/12435807/158852926-d645453b-1d00-45d2-94b2-c9008e6c3f70.png)

[2022-03-18 15:07] Ekleog opened #6456 "We should enforce our own limits below the implementation limits"
This way we avoid freezing instrumentation

[2022-03-18 16:10] mina86 opened #6458 "Unify access to Prometheus metrics in pytests"
We have pytest/libs/metrics.py library which is able to operate on one-dimensional metrics. There’s also code to access metrics in pytest/tests/sanity/block_sync_archival.py which could not use metrics module because it needed to handle a histogram with labels. AS a refactor it would be great to have a unified code which can handle all kinds of metrics in unified way.

[2022-03-18 16:27] marcelo-gonzalez opened #6460 "Network latencies (and other internal latencies) should be tracked in metrics"
Issues like [https://github.com/near/nearcore/issues/6438](https://github.com/near/nearcore/issues/6438) would be much easier to debug if we had metrics that show different kinds of latencies that we might care about. So in that particular example, block sync is too slow because the chunks are taking a long time to get processed after they're requested.

Right now, without modifying neard in any w

[2022-03-18 16:27] marcelo-gonzalez commented on #6438
@bowenwang1996 @nikurt ok filed https://github.com/near/nearcore/issues/6460

[2022-03-18 17:54] bowenwang1996 opened #6462 "Disable state sync from validators"
State syncs are expensive and given that most nodes today do track all the shards, nodes don't need to do state sync from validators and it can reduce resource usage for validator nodes.

[2022-03-18 17:56] bowenwang1996 opened #6463 "Adding grafana tags for epoch start"
It would be great to see in the dashboards we have where the epoch start, especially because we think that some issues are more likely to occur at the beginning of an epoch. @mhalambek said that we can add tags to show this in grafana dashboards.

[2022-03-19 19:02] #6428 closed

[2022-03-20 18:18] mooori commented on #4961
@nagisa (assignee) would you mind if I work on this issue?

[2022-03-21 09:48] matklad commented on #6364
An alternative to a temporal switch would be a spatial switch: log only `info` to stderr, and dump `debug` to a rotated file.

[2022-03-21 10:46] nagisa commented on #6364
A spatial switch mostly doesn’t address the performance motivations for not logging debug at all, does it? Every `debug!` will invoke the tracing machinery to get the event/span into the subscriber.

[2022-03-21 10:46] nagisa commented on #4961
Feel free to grab this!

[2022-03-21 11:37] nagisa opened #8951 "near-vm: Pick a consistent location to store instance/artifact data"
Today when loading/instantiating an `Artifct`, we store some information with the `Engine` (i.e. maps with the machine code, `VMSharedSignature`s, etc.) and some of the information is contained within the `Artifact` itself.

This makes consistent management of lifetime difficult – dropping the Artifact will drop a lot of information about a wasm module, but not the data allocated into the Engine (

[2022-03-21 11:44] nagisa opened #8950 "near-vm: Allow straightforward reuse of pre-faulted memory maps for storing executable machine code and wasm memories."
`nearcore`'s use of the WASM VM is largely single-threaded – it will grab a contract, deserialize it, execute a function therein, and deallocate the resources before moving on.

Today in this scheme one of the cost centres is in creating and faulting-in new memory maps for the executable code and module memory for every contract execution. Our interface should make it possible and straightforward

[2022-03-21 12:26] nagisa opened #8956 "near-vm: Re-evaluate register allocation in `singlepass`"
Today the `singlepass` compiler is one of the leading solutions for those looking to obtain linear-time wasm JIT. However, in doing so, it is also taking a large number of tradeoffs in terms of generated code quality. The way registers allocated in particular seems like a potential point of improvement.

Typical register allocation algorithms generally focus on the quality of allocation (and so te

[2022-03-21 14:15] matklad commented on #6364
Correct! For perf, I *think* we are still not doing https://docs.rs/tracing-appender/latest/tracing_appender/non_blocking/struct.NonBlocking.html, which feels like it could be an easy win.

[2022-03-21 14:24] bowenwang1996 commented on #6339
@pompon0 could you potentially help with this issue?

[2022-03-21 16:55] bowenwang1996 commented on #6072
@nagisa volunteered to make an improvement on this

[2022-03-21 17:04] pompon0 commented on #6339
sure, on it

[2022-03-21 17:53] mooori commented on #4961
Does the following approach make sense?

1. Setup a new module for the test: `integrations-tests/src/tests/runtime/sanity_checks.rs`
2. Load `RuntimeConfig` from `RuntimeConfigStore`. Do this since `PROTOCOL_VERSION` depends on whether feature `nightly_protocol` is set.
3. Start a node and deploy the test contract, similar to [`setup_test_contract()`](https://github.com/near/nearcore/blob/8fc7bac3

[2022-03-21 23:58] mina86 commented on #6339
I’ve brought it up on Zulip a while back and @mm-near mentioned that:

So it’s just adding `if !sync_status.is_syncing() { ... }` which isn’t that trivial since PeerManager does not have direct access to `sync_status` and ClientActor doesn’t provide a trivial way of getting it out as far as I can see. But I might be missing something here.

[2022-03-22 11:56] frol commented on #5197
Nope, it was not investigated further. @mina86 Could you take a closer look if the issue is reproducible these days once you have some time?

[2022-03-22 15:27] marcelo-gonzalez commented on #6250
@mzhangmzz @bowenwang1996 @mina86  Am i correct here in saying that getting rid of this is actually not that complicated for archival nodes?

So looks to me like the only place `ColTrieChanges` is accessed after storing to it is when clearing old data in `clear_block_data()`. This in turn is only called from `clear_data()` (and `clear_forks_data()`, which is called by `clear_data()`) and `reset_da

[2022-03-22 15:55] mina86 commented on #6250
I think you’re actually right. The only two reads I could find are in `clear_block_data` which is not called in archival nodes.

And the changes is just a trie key→value list so if we ever need that information diffing two tries seem like obvious approach.

[2022-03-22 15:57] mina86 commented on #5197
I’ll assign it to myself not to forget, but haven’t looked at it and most likely won’t in the next few weeks.

[2022-03-23 02:12] appop opened #6474 "Miss upgrade again"
Could you give a prompt every time we upgrade whether we need to upgrade or not, we have reset the data several times.

[2022-03-23 06:54] kakoc commented on #6436
If I understand correctly we may try to use that crate?:
https://github.com/dtolnay/serde-ignored

[2022-03-23 06:59] binggh commented on #2797
is this feature still needed given it was last re-labelled mid-2021? Since I recently worked on #6441 and touched on the cli recently, think i can perhaps work on this if help is needed here

[2022-03-23 08:58] barryz opened #6475 "nearcore snapshot delayed about a week"
We followed the official [doc](https://near-nodes.io/intro/node-data-snapshots) and downloaded the latest snapshot of nearcore, and when the node starts, it shows that the most recent block height is 61614213. This situation may take a long time to sync to the current height.

Is the possible cause the wrong snapshot file was uploaded?

[2022-03-23 10:57] mina86 commented on #6436
Yes, looks exactly like what we want.

[2022-03-23 13:24] bowenwang1996 commented on #5917
@Longarithm given the chunk cache implementation, it seems harder to estimate cost correctly now

[2022-03-23 13:26] bowenwang1996 commented on #5924
@matklad @nagisa what are your thoughts on this

[2022-03-23 13:28] #4764 closed

[2022-03-23 13:28] #6432 closed

[2022-03-23 13:39] matklad commented on #5924
We experimented with formatting hooks in rust-analyzer, and I think it’s better not to, for two main reasons.

*First*, git hooks are not designed to be shared. They don’t “just work” when you clone a repo, you need manual setup steps or extra tools, which add accidental complexity.

*Second*, in my experience rustfmt in particular can be quite annoying when used as a hook, as it can fail on incom

[2022-03-23 13:46] mina86 opened #6480 "Investigate effects of compressing L0 and L1 of RocksDB"
Currently we configure RocksDB such that L0 (memtables) and L1 are not compressed. (We eventually call <span class="error">[OptimizeLevelStyleCompaction]</span>([https://github.com/facebook/rocksdb/blob/main/options/options.cc#L610](https://github.com/facebook/rocksdb/blob/main/options/options.cc#L610)) which does that). We might want to investigate how enabling compression on all levels would aff

[2022-03-23 13:51] bowenwang1996 commented on #6250
@marcelo-gonzalez yeah please do that (removing the whole column)

[2022-03-23 13:54] mina86 commented on #6250
FYI, in https://github.com/near/nearcore/pull/6477 I’m adding an option to recompress-storage to clean out that column.

[2022-03-23 14:11] nagisa commented on #5924
I had 101 bad experiences with hooks and I'm not sure if I'm ready for the 102nd. Any workflow that is dependent on git hooks is a hard pass for me personally.

But if others can derive value here, I definitely don't see a problem with them checking in a config for [`pre-commit`](https://pre-commit.com/) or somesuch that they could then recommend people to `pre-commit install` or something. As lon

[2022-03-23 14:17] matklad commented on #5924
Ok, it seems that we don’t necessary want to move forward here!

[2022-03-23 14:17] #5924 closed

[2022-03-23 15:12] mina86 opened #6483 "Implement StateChangesRequest::AllAccountsChanges and use it in Rosetta RPC"
Currently in convert_block_to_transactions we’re first sending near_client::GetStateChangesInBlock to get list of all changed accounts and then send near_client::GetStateChanges asking for changes for all those accounts. This can be optimised by introducing a StateChangesRequest::AllAccountsChanges which would send buck all changes which touched accounts.

[2022-03-23 15:47] kakoc commented on #6436
If so, am I right that we can do that in the following way:
We can create a de wrapper type and use it for debug deserializations?

[code]

[2022-03-23 17:25] nagisa opened #6485 "Make a runtime introspection tool for investigating all sorts of runtime related details"
Today the runtime is an entirely opaque box to the users of the runtime. Users call a `run` function and things will supposedly happen.

This API leaves very little space to actually get any information back from the VM, which makes investigating issues with the runtime an extremely menial ordeal.

I would like to have a CLI tool which would allow for people working on the contract runtime to invo

[2022-03-23 17:59] mina86 commented on #6436
That looks reasonable. The exact formatting for the debug message would need some work of course and maybe even have the function return `(T, Vec<String>)` rather than printing the unrecognised keys, but in general seems to be what we want.

[2022-03-23 22:39] bowenwang1996 commented on #6474
This is done in the release notes. If `PROTOCOL_UPGRADE` is `true` then you need to

[2022-03-23 22:40] bowenwang1996 commented on #2797
@binggh thanks for pointing this out! I think this issue is obsolete

[2022-03-23 22:40] #2797 closed

[2022-03-23 22:41] bowenwang1996 commented on #6475
That is indeed the cause. @barryz it should be fixed now.

[2022-03-23 22:47] bowenwang1996 commented on #4649
@Longarithm any update on this?

[2022-03-23 22:55] Longarithm commented on #4649
The issue is actually resolved, I forgot to close it.

[2022-03-23 22:55] #4649 closed

[2022-03-23 22:59] Longarithm commented on #5917
The idea was that if we want to get accurate cost, we should simulate only one tx/receipt in a chunk, so the cost won't be affected by other txs/receipts.
Also, it we introduce separate cost for reading cached trie nodes, we can run simulation with runtime config where cached cost and regular cost are the same.

[2022-03-23 23:46] #4951 closed

[2022-03-24 01:05] #6475 closed

[2022-03-24 11:35] #6339 closed

[2022-03-25 15:08] #6072 closed

[2022-03-28 01:24] ailisp opened #6498 "value return and promise return at the same time"
A contract call cannot have both value return and promise return. If both happen, from logic.rs, the earlier one is overwritten silently. I think this behavior is problematic, we either should error at overwritten, or return some joint return.

My use case is in javascript vm contract. It creates promise to refund extra storage deposit in every call_js_contract that refund_amount>0. When this happ

[2022-03-28 14:34] janewang commented on #6474
Hi @appop  Please take a look at the near node docs for the release notes. https://near-nodes.io/maintenance/maintenance

[2022-03-28 14:34] #6474 closed

[2022-03-28 15:26] #6263 closed

[2022-03-28 15:52] chadoh commented on #4153
not stale

[2022-03-28 16:19] matklad opened #6499 "Make promise_and_per_promise consistent"
This cost is used inconsistently. The docs say it's a cost of a single promise:

[https://github.com/near/nearcore/blob/851cef66c392907a38bc45603a4ee686dd2a9779/runtime/near-vm-logic/src/logic.rs#L1228](https://github.com/near/nearcore/blob/851cef66c392907a38bc45603a4ee686dd2a9779/runtime/near-vm-logic/src/logic.rs#L1228)

The code treats it as a cost of a single byte:

[https://github.com/near/ne

[2022-03-28 17:03] matklad opened #6500 "Fuzz VM logic directly"
Chatting with @nagisa , I just realized that `near-vm-logic` would be important target for direct fuzzing. Basically, we can intialize vm-logic with random memory, and start calling random host functions.

I belive this will be much more efficient than fuzzin vm-logic _via_ WASM, and approach I took with [https://github.com/bytecodealliance/wasm-tools/issues/450](https://github.com/bytecodeallianc

[2022-03-28 21:34] janewang commented on #6323
From Lunanova

[2022-03-30 13:04] mina86 opened #6510 "Garbage collect forks in archival nodes"
Archival nodes currently do no garbage collection of forks. We want to keep all blocks of canonical branch but we probably should gc forks.

[2022-03-30 15:32] mina86 opened #6511 "Bette connected peers metric"
There is a near_peer_connections_total metric which corresponds to number of PeerActors. This number includes all peers from those we merely sent SYN packet to (so we don’t even know if the host exists) to those we finished NEAR handshake with. We should at least have another metric which counts how many fully connected peers the node has. Or even have near_peer_connections_by_state{state} which c

[2022-03-31 00:46] bowenwang1996 commented on #6462
@mzhangmzz this issue isn't addressed by #6471. A regular node can still state sync from a validator node and state sync requests can be expensive.

[2022-03-31 04:03] marcelo-gonzalez opened #6513 "buildkite integration tests fail after trying to listen on the same port"
two different integration tests:
https://github.com/near/nearcore/blob/30931af242ce04c08bba363d3483ea7d2c3baf5f/.buildkite/pipeline.yml#L18
https://github.com/near/nearcore/blob/30931af242ce04c08bba363d3483ea7d2c3baf5f/.buildkite/pipeline.yml#L39

try to bind to the same addr and one of them ends up failing because the port is already in use:

[code]

[2022-03-31 10:42] frol commented on #2851
I think this issue does not make sense anymore and the refactoring could happen on a different scale and thus a new issues should be opened

[2022-03-31 10:42] #2851 closed

[2022-03-31 11:20] frol commented on #4341
I believe this issue is still relevant, but I don't have capacity to look into it and my teams are not working on JSON RPC anymore.

[2022-03-31 12:17] Longarithm commented on #4042
Noticed a flakiness in `test_ban_peer_for_ill_formed_block` again.

[Buildkite link](https://buildkite.com/nearprotocol/nearcore-ghsa-5p2h-xpv5-f88m-dot-git/builds/11#200e6df4-f133-4e3d-a513-ae7e7ff45344)

[Error message](https://hackmd.io/5wPClC1LTp2mszViR1_4-w) if you don't have access

[2022-03-31 16:17] mzhangmzz commented on #6462
@bowenwang1996 I guess I understood this wrong. Do you want regular nodes to send their state sync requests to non-validators? Are you worried that state sync requests sent to validators are slowing down validators?

[2022-03-31 18:46] Ekleog commented on #6445
An additional drawback is that the costs would then become non-reproducible, while AFAIU they currently are reproducible. In a way, this puts us more in a position of a trusted third party than with a reproducible evaluation model.

This being said, I don't think this drawback is significant enough to outweigh the gains listed here :)

[2022-04-01 09:37] jakmeier commented on #5962
I started working on this. I wonder what the correct place to charge the new `contract_loading` is. I think ideally, it should be *before* we actually load the contract. Unfortunately we currently do not have the size of the contract in advance. So I see two practical options.

1. Simplest approach: Move it to the the start of each implementation of `runner::VM::run` where it currently is.
2. Lift

[2022-04-02 17:57] kakoc commented on #6443
So, am I right that our intention is to basically replace all `debug_assert!` in the code with appropriate proposed variants with logging so that we will have as much debug info in logs(when invariants are broken) as we can even in production?

[2022-04-02 18:28] bowenwang1996 commented on #5936
Should be addressed with #6282

[2022-04-02 18:28] #5936 closed

[2022-04-02 18:35] #5978 closed

[2022-04-02 18:42] bowenwang1996 commented on #6462
Yes

[2022-04-03 20:12] ECJ222 commented on #1069
Can I attempt this issue @ilblackdragon,  @bowenwang1996 ?

[2022-04-03 22:10] mina86 commented on #1069
What’s the idea here actually? Is it better phrased as ‘password-protect secret keys’? Or we could go all the way an go with some kind of GPG support so that we can take advantage of GPG’s pinentry and such.

[2022-04-04 10:58] matklad opened #6520 "Switch ext costs to strum"
We use the following open-codded pattern to "reflect" on the number of elements in an enum.

https://github.com/near/nearcore/blob/cf6c3177dd0b0bc883038d5c320d92197dd9f315/core/primitives-core/src/config.rs#L615-L617

We should switch that to the `strum` crate, as we use it elsewhere.

I am not entirely sure that using `strum` for these is worth it (the usual argument -- a little boilerplate compi

[2022-04-04 13:33] janewang commented on #5147
We've published a list of common errors for node operators: https://near-nodes.io/troubleshooting/common-errors

Other first touch UX items will be addressed in separate tickets.

[2022-04-04 16:09] mina86 opened #6521 "Fix handling of blaclisted IPs read from storage"
I’ve recently submitted [a change](https://github.com/near/nearcore/pull/6503) which causes peers read from the database to become banned if their IP address matches entry in a blacklist. There are still two outstanding issues:

- [ ] The banned peers will be unbanned after some time. We need to figure out how this should interact with blaclisted addresses (do blacklisted peers never get unbanned?

[2022-04-04 18:48] matklad commented on #5927
Let's close this: `cargo install near-vm-runner-standalone` is not something we support today

[2022-04-04 18:48] #5927 closed

[2022-04-04 19:56] mina86 commented on #6443
I’m not sure it’s as simple as replacing all debug_asserts with
logging on non-debug builds.  For example:

[code]

should stay as debug_assert I think because the cost of the check
involves creating a hash set.  Many places probably should just be
converted to plain asserts.  For example:

[code]

especially since here the last three will be compiled out (though
honestly in this case it’d be bett

[2022-04-04 20:11] mina86 opened #6522 "Store ‘is archive’ flag in database; refuse to start if downgrading to non-archive"
I’ve talked with @bowenwang1996 about this a little and point we’ve reached was to declare switching off `archive` setting is kind of an undefined behaviour. That is, if someone starts a node with `archive` sat to `true`, stops it, flips the option back to `false` and starts the node again, that will result in possibly invalid behaviour.

This is related to [gc ColPartialChunks](https://github.com

[2022-04-05 06:48] AnhTuDo1998 commented on #6520
Hi, I am new to NEAR and would like to try out this problem.

I do notice that the enum ActionCosts in the same file also has this open-codded pattern. Should we fix this also ?

[2022-04-05 08:02] matklad commented on #6520
Yes!

[2022-04-06 12:20] cif commented on #6281
We're using postgres to persist indexer data and our code won't compile on an M1 locally because libpq doesn't yet have a universal binary. This lead us to try docker and encountered the same problem above.

More searching turned up an [issue that was fixed in a later version of wasmtime](https://github.com/bytecodealliance/wasmtime/issues/3672).  Seem on the surface that updating wasmtime depende

[2022-04-06 16:00] austinabell opened #6535 "Investigate gas_used discrepancy"
Based on change in #6468, there was gas used changed within a test that had slightly modified (decreased) and it was assumed that this was just relating to the testing setup because nothing else broke. Definitely should be double-checked before a release with this code. I'll likely do, but if someone with more context wants to jump in, feel free.

[https://github.com/near/nearcore/commit/ab3e7f834

[2022-04-06 17:19] matklad opened #6537 "Confirm that the new promise_batch_action_function_call_weight host function doesn't need a separate set of costs"
We are adding a new host function, `promise_batch_action_function_call_weight`. It works just like `promise_batch_action_function_call`, but allows for a bit of extra logic when attaching gas. Specifically, this fuction supplies each created function call action with a gas weight, and then, in the end of execution, we distribute all the unused gas proportional to the supplied weights.

The questio

[2022-04-06 17:20] matklad commented on #6537
@jakmeier could you make a judgement call here? The relevant function is this one:

https://github.com/near/nearcore/blob/bdc9410515951ab0074442109e083941c24035c5/runtime/near-vm-logic/src/logic.rs#L1602

[2022-04-06 17:43] #6520 closed

[2022-04-06 17:52] matklad opened #6539 "Add imports to our runtime fuzzing setup"
In https://github.com/bytecodealliance/wasm-tools/pull/539 nagisa brought over the finish line adding support to specific imports to wasmsmith.

That means that smith can now generate code which uses our real host functions, and we should take advantage of that capability.

The number of host functions is pretty large, here are two ideas on how to teach wasm-smith about our interface:

* Parse [th

[2022-04-07 08:51] jakmeier commented on #6537
I'm pretty confident we don't need an additional parameter here. The new logic inside the host function is in a part we don't really charge for anyway right now. And it is easily outweighed by the base function-call receipt creation.

However, there is a more interesting question to be raised about the loop you mentioned. The thing is, it happens for all data receipts, no matter their origin. And

[2022-04-07 10:07] AnhTuDo1998 commented on #1762
Hi may I check if swapping propagation of error to expect statements still a good approach for this Issue?

[2022-04-07 11:36] jakmeier commented on #6537
Never mind, I was seeing ghosts. Trying to force the case I had in mind, I finally understood that the loop goes over `gas_weights: Vec<(FunctionCallActionIndex, GasWeight)>` which only contains function call receipts and those are already paid for at this point.

Thus, I don't think we need any benchmarks to answer the question at hand. I will close this issue based on that.

More generally thoug

[2022-04-07 11:36] #6537 closed

[2022-04-07 13:18] mm-near commented on #6510
I'd suggest that we keep the forks in archival nodes.
They should not take much space, and will be useful for analysis/debugging.

[2022-04-07 14:51] mina86 opened #6548 "Don’t write ANSI codes to non-terminal"
Don’t use colours unless sending logs to terminal. Adding ‘--colour=(never|auto|always)’ flag is also an option. Currently, to get rid of the ANSI codes when saving logs to a file one needs to do weird things with sed such as:

[code]

I would also get rid of `log_summary_style` from config.json or replace it with `log_colour` which would then serve as the `--colour` flag.

[2022-04-07 15:26] #3097 closed

[2022-04-07 16:13] mina86 commented on #6548
@nagisa also pointed out [`NO_COLOR` environment variable](https://no-color.org/) which could also work.

[2022-04-07 19:25] matklad opened #6553 "Remove impl From<EpochConfig> for ShardConfig"
Basically, remove this

https://github.com/near/nearcore/blob/6dd51ec4e981798fae16a60b49a20cf09faac5b7/core/primitives/src/epoch_manager.rs#L64-L73

and replace with just

[code]

The `From` impl requires an owed `EpochConfig`, but that contains a bunch of allocated vecs, which are just dropped. So this is a minor perf footgun.

In general, prefer `new` to `From` unless you intend to use `From` in

[2022-04-07 19:25] matklad commented on #6553
cc @mzhangmzz

[2022-04-07 20:19] mzhangmzz commented on #6553
Thanks!

[2022-04-07 20:41] kakoc commented on #6400
I think it could be closed

[2022-04-07 20:51] #6400 closed

[2022-04-07 20:57] bowenwang1996 commented on #5183
I think this is already fixed. Please reopen if that is not the case

[2022-04-07 20:57] #5183 closed

[2022-04-08 09:15] matklad commented on #6150
Status:

I think both the implementation and tests are solid now, I personally would be ok with preparing stabilization PR.

Though, it'd be cool if we have an integrated test for this on the beta net via workspaces.

Stabilization checklist (don't claim it's completete or correct) is here:

https://github.com/near/nearcore/blob/master/.github/PULL_REQUEST_TEMPLATE/feature_stabilization.md

[2022-04-08 09:35] matklad commented on #6150
Note: during stabilization, we should refactor the impl a bit, remove closures and just delegate from `promise_batch_action_function_call` to `promise_batch_action_function_call_weight` with zero weight.

[2022-04-08 11:01] matklad opened #6562 "Some epoch manager tests fail with all features enabled"
The following fails for me locally:

[code]

This is on decd874ed632eefbf1ac595171b4bcedeecc65ff – before #6531 and #6531 just to rule them out. master (ee081bfa2633bbdf8ff2b83d08433aa85084ecb9) fails as well.

[2022-04-08 11:49] bowenwang1996 commented on #6281
@Ekleog what do you think?

[2022-04-10 17:15] mina86 commented on #2485
FYI, nearup does use RUST_LOG and does not pass --verbose to neard so from nearup’s point of view removing neard’s --verbose might just as well not exist.

One thing to remember with this change is to introduce a grace period of at least a release or two when --verbose works but prints a warning.

[2022-04-11 11:07] matklad opened #6572 "EpochManager::get_epoch_validator_info has bug prone semantics"
EpochManager is essentially a bunch of caches over a database. It also is mutable, and reflects mutations in the cache, even before they hit the database.

`get_epoch_validator_info` breaks this pattern – it doesn't have a cache, so it'll return stale results after mutation.

[2022-04-11 11:08] matklad commented on #6572
https://github.com/near/nearcore/pull/6549#discussion_r847173102

[2022-04-11 14:01] #5537 closed

[2022-04-12 14:44] mina86 opened #6583 "Don’t ignore RocksDB iterator errors"
RocksDB iterator will return None on error and requires <span class="error">[status method]</span>([https://docs.rs/rocksdb/latest/rocksdb/struct.DBRawIteratorWithThreadMode.html#method.status](https://docs.rs/rocksdb/latest/rocksdb/struct.DBRawIteratorWithThreadMode.html#method.status)) to be called to check if there were any errors. We’re currently not doing that which means we’re silently ignor

[2022-04-12 19:55] matklad commented on #6443
cc https://github.com/near/nearcore/pull/6586 which adds a logging assert

[2022-04-13 06:52] kakoc commented on #6553
Seems that can be closed due to https://github.com/near/nearcore/pull/6568

[2022-04-13 11:40] mina86 commented on #6553
By the way, in the future you can put:

[code]

in PR’s description and once the PR is merged it will automatically
close the corresponding issue.

[2022-04-13 11:40] #6553 closed

[2022-04-13 15:21] matklad opened #6599 "update to stable actix web"
We use a bunch of actix-web related crates at random versions:

*   actix-web 4.0.0-beta.6
*   actix-http 3.0.0-beta
*   forked actix-cors
*   forked paperclip

Now that actix-web 4 is released, all of the above impose a tax on us, as they make upgrades more painful, all the while ecosystem moves on. We should unfork these non-essential dependencies.

[2022-04-13 15:22] matklad commented on #6599
cc @miraclx I wonder if there's anything preventing us from just doing the upgrades here? (as in, I don't have a backstory as to why we ended up in this situation, but I am guessing that you might know)

[2022-04-13 16:00] miraclx commented on #6599
Yes, it was the next step after https://github.com/near/nearcore/pull/6573. I'll tackle it before the end of the week.

[2022-04-14 11:10] #6409 closed

[2022-04-14 11:39] #6384 closed

[2022-04-14 21:01] matklad commented on #6572
Ok, so it's actually worse than that -- `get_epoch_validator_info` is the one that is "correct" (with respect to some definition of correct), while all the others are wrong.

The overall flow of data here is that `EpochManager` doesn't actually write to the database directly (outside of constructor). Instead, it returns a store update (essentially, a diff to be applied to the database). That `Stor

[2022-04-15 00:15] mina86 commented on #6009
I am actually surprised that `append` doesn’t work.  With that it should be possible to copy and truncate the file (i.e. logrotate’s `copytruncate` behaviour).  Another solution is to leave out `StandardOutput` and `StandardError` and let the logs end up in systemd journal which can be rotated regardless of nerad.

Ideally neard would handle SIGHUP and reopen the log file but that is not currently

[2022-04-15 17:35] bowenwang1996 commented on #5485
@marcelo-gonzalez is this fixed in #6053 ? If so please close the issue

[2022-04-15 17:37] bowenwang1996 commented on #1762
I think so. cc @matklad

[2022-04-15 17:40] marcelo-gonzalez commented on #5485
no not quite. That PR cleans up a lot of it, but it actually still panics, since there's still an unwrap(). It's just that the unwrap() is higher up the stack now. Still needs another PR or two to call this closed

[2022-04-15 17:50] bowenwang1996 commented on #6562
@matklad I think this may be the same issue as #5080

[2022-04-15 18:46] bowenwang1996 commented on #6572
Yes this is a known suboptimality. Related issue #4243

[2022-04-16 20:41] mina86 opened #6622 "Delete old database migration code"
We’re currently keeping code for migrating the database all the way from version 1.  While the code is mostly isolated it forces us to keep no longer used data structure definitions.  Deleting database migration would therefore allow cleaning up those types which would have positive effect on the rest of the code.

For a bit more context, this [has also been discussed on Zulip](https://near.zulipc

[2022-04-18 14:43] telezhnaya opened #6623 "The field naming `gas_price` and `gas_used` is confusing"
I've audited the data around non-constant gas_price in the system.

`block.gas_price` should be actually `gas_price_for_next_block`
 [https://github.com/near/nearcore/blob/master/core/primitives/src/views.rs#L470](https://github.com/near/nearcore/blob/master/core/primitives/src/views.rs#L470)

`chunk.gas_used` should be called `gas_used_at_previous_chunk`
 [https://github.com/near/nearcore/blob/ma

[2022-04-19 11:16] han-devops opened #6632 "Is there documentation for config.json?"

[2022-04-19 12:29] mina86 commented on #6632
Unfortunately not at the moment. You can [look at the sources](https://github.com/near/nearcore/blob/7f12fc991f2d6592778e3cf1d99beed3c3ccef2a/nearcore/src/config.rs#L420-L462) where some of the fields are documented. You’d need to follow through to nested structures to find definitions of those. Also note that `gc` structure is flattened so its values are not nested in `config.json`.

[2022-04-19 14:04] andrewklau opened #6738 "Storage Error: StorageInternalError"
I'm getting this when `Storage Error: StorageInternalError` error after running the indexer, then it stops indexing. This has only came up today on recent blocks.

Restarting the indexer solves the issue. Has occurred twice now. Plenty of disk space, cpu and memory still available.

[code]

[2022-04-19 17:30] mzhangmzz commented on #6572
Good point! What do you think is the best way to fix this @matklad? It seems like to fix this completely we need a big change in EpochManager. Since we are thinking about refactoring store in general, should we delay this fix until we figure out the plan there?

[2022-04-19 17:34] vlad-kopcil commented on #6364
Limiting to localhost might be providing false sense of security here.
While modifying or creating file follows permissions, any local process can reach localhost. You'd still need to implement some other checks, like ownership of process connecting to you service at very least.

Also, I specifically did say that monitoring config files periodically is not a good idea :)

[2022-04-19 19:25] matklad commented on #6572
I definitely don't see any easy fixes here :-) FWIW, at the moment I am not even sure what the hard fix would be

[2022-04-19 20:33] mina86 commented on #6364
We might need to bite the bullet and implement Google authentication or some other OAuth in general for all `/debug` paths.

[2022-04-20 07:14] hansolo228-dev opened #6639 "WARN : Timeout jsonrpc"
!<span class="error">[image]</span>([https://user-images.githubusercontent.com/93795346/164171876-4da13c95-468d-4b74-96cf-57ae48352a24.png](https://user-images.githubusercontent.com/93795346/164171876-4da13c95-468d-4b74-96cf-57ae48352a24.png))

[2022-04-20 09:13] firatNEAR commented on #5197
Are we looking to reproduce the issue on the latest version of the protocol or with version 1.21.release?

[2022-04-20 13:13] Longarithm commented on #5920
Done in https://github.com/near/nearcore/pull/6628.

[2022-04-20 13:13] #5920 closed

[2022-04-20 15:04] nikurt opened #6646 "ViewClient GetBlock returns an error when no blocks were produced"
This affects a number of integration tests. Making a `GetBlock` request too early results in an error which is usually not handled correctly.

[2022-04-20 15:18] mina86 commented on #5197
Latest version.

[2022-04-20 15:28] firatNEAR commented on #5197
**Version**
nearcore tag latest
rustc 1.59.0
rustup 1.24.3
cargo 1.59.0
local env with local network
neard was compiled with --features rosetta_rpc and started with rosetta api enabled in conf file
using default genesis.json

[code]
It looks to me that the issue is not there anymore in latest release

[2022-04-20 18:39] #6242 closed

[2022-04-20 19:20] frol commented on #5197
@firatNEAR Can you set `"storage_amount_per_byte": "90900000000000000000"` in the genesis.json and see if the discrepancy will be there?

[2022-04-20 21:11] frol commented on #6599
@matklad The backstory was initially called futures 0.2, then it was futures 0.3 and async/await, then it was transformed into tokio 1.0 release story and pulled actix, actix-web, and paperclip into being forked. It seems that all of those (even actix-web and paperclip) have reasonable releases cut on crates.io!

@miraclx It is tiresome work, but I hope it is the last time we actually need to go t

[2022-04-20 21:28] frol commented on #4791
@nikurt Was it completely resolved in #5888?

[2022-04-20 21:51] nikurt commented on #4791
@frol No, this needs more investigation.

[2022-04-21 13:59] matklad opened #6659 "Implement correct and maintainable WASM instrumentation"
Today, we rely on wasm instrumentation for:

*   gas metering
*   stack metering
*   various "is this wasm valid?" checks

This code historically caused trouble for us (bugs/performance issues). The issues here are structural – the code is based on pwasm_utils crate, which, at the moment, is deprecated and replaced with wasm-instrumentation crate upstream. Additionally, there's a feeling that we s

[2022-04-21 17:05] mina86 opened #6665 "Replace use of lazy_static_include_bytes in tests with std::fs::read"
https://github.com/near/nearcore/pull/6654#pullrequestreview-948898125

[2022-04-21 22:40] bowenwang1996 commented on #6639
This could happen if your node fails behind