[2021-10-21 12:05] frol commented on #5047
@bowenwang1996 Indeed, it does not affect nodes that track all shards, and that is the current state of things, but when we move on from it, both RPC and archival nodes will be affected. Thus, it is not pressing at the moment, but it is good to keep it in mind.

[2021-10-21 15:41] BenKurrek commented on #5049
@bowenwang1996 This is my Cargo.toml:

`[package]
name = "indexer-example"
version = "0.1.0"
authors = ["Near Inc <hello@nearprotocol.com>"]
edition = "2018"

[dependencies]
actix = "=0.11.0-beta.2"
clap = "3.0.0-beta.1"
openssl-probe = { version = "0.1.2" }
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls"] }
near-sdk = "4.0.0-pre.3"
chrono = "0.4.19"
tokio

[2021-10-21 15:53] matklad opened #5057 "Upgrade to Rust 1.56 and 2021 edition"
In the spirit of https://github.com/near/nearcore/pull/5044, beginning of the cycle is when it makes most sense to upgrade the compiler!

[2021-10-21 16:23] jasperdg commented on #5049
Same on Flux's side on v `fb1e62168693bd995fa59265209cc89ea184c374`

[2021-10-21 17:15] mzhangmzz opened #5059 "Change `neard init` and `neard testnet` to have use simple nightshade shard layout by default"
Now that we have simple nightshade enabled, we should change `neard init` and `neard testnet` to use the simple nightshade layout by default as well. This will make existing nayduck tests to run on the simple nightshade shard layout, which is desired

[2021-10-21 21:08] frol opened #5061 "Node should not stuck in state sync loop"
**Describe the bug**

Booting a node (RPC one, but I believe that is not essential here) from a backup pulls in headers and state, and then downloads more headers and stuck at state sync (same last log line produced for hours):

![image](https://user-images.githubusercontent.com/304265/138356351-8f29f53b-ab05-495e-8e25-55daad31cb30.png)

**Expected behavior**

It should boot, sync, and keep the no

[2021-10-21 21:33] mzhangmzz commented on #5061
@EgorKulikov could you take a look as well? Seems that the node is running state sync for four shards and for some reason restart the work over and over again

[2021-10-21 22:18] mzhangmzz commented on #5061
I think I know what trigged the bug, but I don't know how to fix it quickly since I'm not too familiar with this part of the code.

I think what happens is that the node is running state sync, and state sync actually completed and it enters `BodySync`, https://github.com/near/nearcore/blob/master/chain/client/src/client_actor.rs#L1475. We know that because in the log, it says `Downloading blocks..

[2021-10-21 23:54] Longarithm opened #5065 "Consider having separate RPC for runtime configs"
Currently we use `EXPERIMENTAL_protocol_config` to get actual runtime config, because it is a part of `ProtocolConfig` which is defined as `GenesisConfig`. An example where it is assumed: [https://github.com/near/near-api-js/blob/master/test/providers.test.js#L292](https://github.com/near/near-api-js/blob/master/test/providers.test.js#L292)

But we want to separate them: [https://github.com/near/n

[2021-10-22 16:31] #4710 closed, assigned to mzhangmzz

[2021-10-22 17:58] bowenwang1996 opened #5072 "High memory usage after the sharding upgrade"
**Describe the bug**
We observed on testnet that some rpc nodes run out of memory in less than a day https://nearprotocol.pagerduty.com/incidents/Q3WH1JSK2GGW8B and it has happened twice already.

**To Reproduce**
Run a rpc node.

**Expected behavior**
The node should not crash due to oom

**Screenshots**
dmesg output
[code]

**Version (please complete the following information):**
- nearcore http

[2021-10-22 18:10] bowenwang1996 opened #5073 "Nodes falling out of sync after the sharding upgrade"
After [the most recent release](https://github.com/near/nearcore/releases/tag/1.22.0-rc.2) on testnet we saw that sometimes rpc nodes would fall behind. After looking into it, it seems that the node sometimes would take a long time between two blocks and we see that even health check takes a long time to finish

[code]

At the same time, we also see

[code]
which suggests that these few lines http

[2021-10-25 01:13] bowenwang1996 opened #5074 "Canary node is broken due to #5040"
Canary nodes on testnet broke with
[code]
It appears that they panicked in the garbage collection code introduced in #5040. It requires more investigation to understand what the root cause is.

[2021-10-25 13:32] Pete-LunaNova opened #5078 "Regular OOM crashes on v1.22.0-rc.2 and backup node remains in state sync attempt for > 24 hours"
Since upgrading to v1.22.0.-rc.2 on testnet, our primary node experiences OOM crashes approximately every 24 hours. It is a 16 thread / 8 core VM running on an AMD EPYC 1st gen CPU with 16Gb RAM.

Our backup node is an 8 thread /4 core VM running on an AMD EPYC 2nd gen CPU with 16Gb RAM. This has experienced OOM crashes less regularly than the primary but following the latest one it has remained s

[2021-10-25 13:36] matklad opened #5079 "Centralize documentation for nearcore devlopers"
Today we have [https://docs.near.org/docs/community/contribute/contribute-nearcore](https://docs.near.org/docs/community/contribute/contribute-nearcore) and [https://github.com/near/nearcore/blob/master/CONTRIBUTING.md](https://github.com/near/nearcore/blob/master/CONTRIBUTING.md) with duplicated content. I feel we should have single-source-of-truth here.

Assuming that the purpose of having nearc

[2021-10-25 14:02] bowenwang1996 opened #5080 "Epoch manager should work without caches"
While investigating #5074, I noticed that if I set the size of block cache in epoch manager to 1, some tests would break

 ---- process_blocks::test_gc_long_epoch stdout ----
 thread 'process_blocks::test_gc_long_epoch' panicked at 'Err(Error

 { inner: DB Not Found Error: 42qLuuDARf733d3XYRPHSYmhmFQuwp6soXANFuxGY3u9 }

)', chain/client/src/test_utils.rs:1272:9
 note: run with `RUST_BACKTRACE=1` e

[2021-10-25 17:32] matklad opened #5082 "Check if adding wasm32-unknown-unknown target to rust-toolchain.toml can simplify build"
See https://github.com/near/nearcore/pull/5081#issuecomment-951141224

We get weird CI failure during build sometimes. I *think* this might be due to my clever use of `rustup` to install wasm target in near-test-contracts (although need to check this). If that's the case, modern rustup includes a feature to require a target being pre-installed, so we can try to use that.

[2021-10-25 17:59] #5074 closed, assigned to bowenwang1996

[2021-10-26 12:02] bowenwang1996 opened #5084 "Fix garbage collection for the last block before the number of shards changes"
#5081 did not fix the issue properly. More specifically, if the number of shards changes in epoch T, the last block of epoch T-2 will not be properly garbage collected. It is a small issue and we don't need to fix it any time soon, but it is good to have it documented.

[2021-10-26 12:14] #5078 closed, assigned to EgorKulikov

[2021-10-26 14:00] asmolarek-bc opened #5086 "Rosetta API and near CLI are reporting 2 different balances for given account"
**Describe the bug**
The scenario is as follows:

I have account with ~10k near and I am doing 5 transfers 500 NEAR each to implicit accounts that do not exists at the time of transferring NEAR, transaction will create them (transactions are created with rosetta api)

after that I am transferring funds from all of those accounts to single implicit account that does not exists yet and will be creat

[2021-10-28 09:44] #4987 closed, assigned to miraclx

[2021-10-28 12:18] matklad opened #5094 "Nightly protocol runtime config includes wrong regular_op_cost"
This line is wrong:

https://github.com/near/nearcore/blob/5cbb3a386c59601914b6b3d3332e6ce336a0d8dc/nearcore/res/runtime_configs/123.json#L154

It should say this instead:

https://github.com/near/nearcore/blob/5cbb3a386c59601914b6b3d3332e6ce336a0d8dc/nearcore/res/runtime_configs/48.json#L154

This'll probably get caught once https://github.com/near/nearcore/issues/4961 is implemented. But I wonde

[2021-10-28 13:24] mina86 opened #5095 "`pytest sanity/garbage_collection_sharding_upgrade.py` is broken"
As seen in nightly NayDuck runs, the `pytest sanity/garbage_collection_sharding_upgrade.py` test is broken, e.g.: <[http://nayduck.near.org/#/test/237383](http://nayduck.near.org/#/test/237383)> and <[http://nayduck.near.org/#/test/237509](http://nayduck.near.org/#/test/237509)>.

Variant of the test using regular build has failed three out five times with node reporting:

 ERROR client: Storage V

[2021-10-28 13:51] pmnoxx opened #5096 "Stop using non monotous chrono::DateTime"
As @matklad noted, we are using non-monotonic clock ` chrono::Utc::now()`. Let's fix that.

[2021-10-28 21:20] JonathanLogan opened #5098 "Database snapshot corrupt (s3 hosted, testnet)"
**Describe the bug**
neard fails to load official data snapshot due to data corruption. neard then exits.

**To Reproduce**
wget https://near-protocol-public.s3.ca-central-1.amazonaws.com/backups/mainnet/rpc/data.tar
tar -xf data.tar -C /near/data/
neard

**Expected behavior**
neard should load database snapshot and begin listening to network.

**Screenshots**
Oct 28 20:19:06.529  INFO neard: Vers

[2021-10-29 21:59] #5096 closed

[2021-10-30 20:21] ilblackdragon commented on #3448
@DiscRiskandBisque will sandbox maintain literal copy of the mainnet up to date? E.g. be syncing with current blocks?
If yes, than it make sense to send dry run to those, though I'm not sure how state changes will be rolled back.

It seems like we either way need a dry run mode in the node or in our RPC infra, independent of it's running on sandbox or real nodes.

I do feel like adding dry run mod

[2021-11-01 15:19] #5061 closed

[2021-11-01 15:28] matklad commented on #5094
@Longarithm  Closed?

[2021-11-01 15:32] matklad opened #5105 "Don't rely on default features when validating wasm"
Wasm is a living spec and new features are introduced from time to time. For us, it's important to know exactly which features are introduced when. Today, we just rely on defaults from upstream libraries:

* here, we pass `None` as the config:
  https://github.com/near/nearcore/blob/1cb995fa77664da5fb22c1ad6b0b81a4d8deecca/runtime/near-vm-runner/src/prepare.rs#L18
* and here, we are not calling `.

[2021-11-01 15:54] #4711 closed

[2021-11-01 22:37] Longarithm commented on #5094
Yeah, the cost is fixed. I will come back to storing diffs later

[2021-11-01 22:37] #5094 closed

[2021-11-01 23:34] bowenwang1996 commented on #3448
If yes, than it make sense to send dry run to those, though I'm not sure how state changes will be rolled back.

No I believe the approach it uses is to first download the relevant pieces of state and then execute the transaction, which is going to be slow for large contracts.

Yeah that is the goal :) but it will take a while to accomplish.

[2021-11-01 23:38] bowenwang1996 commented on #4615
@ailisp is this issue still relevant?

[2021-11-02 02:56] pmnoxx commented on #4893
@matklad I added "struct Adv" as you suggested inside https://github.com/pulls

[2021-11-02 03:00] pmnoxx commented on #4893
I'll mark this PR as closed. We made `cargo test` run with `test_features`, and e added `Adv`.

[2021-11-02 03:00] #4893 closed

[2021-11-02 05:09] ailisp commented on #4615
Two of them are still relevant, create two PR to address:
https://github.com/near/nearcore/pull/5107
https://github.com/near/nearcore/pull/5108

[2021-11-02 10:37] pietroblandizzi commented on #5098
We also have the problem that if you stop the node and start it again it says:
[code]
it deletes all the data and start from scratch syncing.

[2021-11-02 12:11] matklad opened #5109 "Upgrade openssl dependency"
Looks like newer version of OpenSSL fails to build for us:

https://buildkite.com/nearprotocol/nearcore/builds/5849#f832f30a-7d82-40da-9f0a-1c25d52990f0/83-680

THe culprit seems to be https://github.com/openssl/openssl/issues/14541 -- open-ssl now requires some core perl libraries to build, and, apparently they are not installed on the builders.

This should be the fix:

I don't know where the fi

[2021-11-02 12:20] matklad commented on #5109
Let me formulate the last part as an explicit sanity check question:

* Should we build our own copy of OpenSSL and link to it statically, or
* Should we dynamically link system's of OpenSSL?

I think we should do the former. If that's the case, I don't understand why we need `libssl-dev` package.

cc @mm-near (are you the right person to cc for "how things are supposed to work in a big way?" ques

[2021-11-02 14:09] mhalambek opened #5112 "RPC nodes falling out of sync"
RPC nodes on mainnet are lagging behind latest block. This is causing issues for users of wallet and other services which use RPC.

User reported errors from wallet
![image](https://user-images.githubusercontent.com/7011689/139862378-730f7e88-a3a2-4612-8865-5a7d5642e348.png)
![image (1)](https://user-images.githubusercontent.com/7011689/139862386-b65ed061-332b-48f8-8936-f4a5dfbcc865.png)

Grafana

[2021-11-02 14:32] mhalambek commented on #5098
This looks like a temporary glitch, tested it out today.
Download mainnet rpc backup.
Node started and downloading blocks.

[2021-11-02 16:30] mhalambek commented on #5098
Reproduced it, still checking two other pairs mainnet/archive and testnet/archive
testnet/rpc backups is corrupted, identified the issue, working on a fix, will post here when done

[2021-11-02 16:41] matklad commented on #5072
Prepared fixes:

* https://github.com/near/nearcore/pull/5114 (master)
* https://github.com/near/nearcore/pull/5115 (1.22.0)

[2021-11-02 19:49] DDeAlmeida commented on #5098
Thank you.
Many member of OSA got this error too.

Thank for your work :)

[2021-11-02 22:31] evgenykuzyakov commented on #5112
I've also got errors from `near-cli` that marks transaction as `Expired`:

E.g. `ServerError: Transaction has expired`

I think the reason is the node is out of sync and rejects the transaction with the blockhash that is recent, but not synced yet.

I suggest to reply from such nodes with a different error. E.g. `OutOfSync` RPC error, so a client can retry the request to a different RPC node.

[2021-11-02 22:42] evgenykuzyakov opened #5119 "near-cli marks transaction as `Expired` from out of sync nodes"
I've also got errors from `near-cli` that marks transaction as `Expired`:

E.g. `ServerError: Transaction has expired`

I think the reason is the node is out of sync and rejects the transaction with the blockhash that is recent, but not synced yet.

I suggest to reply from such nodes with a different error. E.g. `OutOfSync` RPC error, so a client can retry the request to a different RPC node.

_Or

[2021-11-02 23:03] bowenwang1996 commented on #5119
@frol please take a look

[2021-11-03 09:27] nikurt commented on #5072
Enabling jemalloc improves memory usage a lot.
A node used to OOM every 5 hours, but with jemalloc it OOMs every 20-40 hours.
![image](https://user-images.githubusercontent.com/86772482/140035777-b2b60ca0-3c8d-47f8-a89e-e7c1cd8c4a77.png)

[2021-11-03 15:45] matklad opened #5127 "Add debug-only host function to snapshot gas profile"
Awesome idea by @birchmd: inside a contract, we want to get a hierarchical profile of gas breakdown, a-la [https://github.com/matklad/tracing-span-tree](https://github.com/matklad/tracing-span-tree) but for gas.

One way to get this is via contract-side instrumentation. Strawman: add the following to gas counter and execution outcomes:

<pre>pub struct GasCounter {
 ...
 profile: ProfileData,
 pro

[2021-11-03 17:13] hmtri1011 opened #5128 "Stucking and cannot create any transactions due to not enough balance error"
**Describe the bug**
Near wallet keeps throwing "Error: Access Key {account_id}:{public_key} does not have enough balance" even though I am pretty sure that I have enough balance.

This error happened 2 days ago and up to now, I cannot use any dApps in NEAR blockchain because the transaction always failed.

**Screenshots**
![image](https://user-images.githubusercontent.com/16288424/140126432-5739e

[2021-11-03 18:27] asmolarek-bc opened #5129 "Rosetta does not allow to withdraw all available funds"
The situation is that I have an account with 500 NEAR and I am creating transaction to withdraw all the funds, rosetta instead of creating a transaction that will transfer 500 NEAR is creating transaction that transfers less funds, which is understandable because it has to leave funds for storage

What is wrong is:

According to storage_amount_per_byte that is returned from node via near rpc what

[2021-11-03 19:48] bowenwang1996 commented on #5129
@frol could you take a look?

[2021-11-03 22:56] bowenwang1996 commented on #5072
Fixed in #5114

[2021-11-03 22:56] #5072 closed

[2021-11-03 23:11] bowenwang1996 commented on #5127
This will affect the performance right? How do we plan to enable it?

[2021-11-03 23:17] bowenwang1996 commented on #5128
How are you sure that you have enough balance? It is possible that you depleted your access key allowance.

[2021-11-04 01:07] pmnoxx opened #5133 "Component nonce is not updated properly on node restart."
In our current implementation we store all edges removed to DB. Each set of edges is called `component` and has unique id `nonce`.

There is currently a bug, where `nonce` that's saved in database doesn't get updated properly.

If nonce is currently let's say `self.component_nonce = 10`.  In function `try_save_edges`,
which creates new component, we will increase this value by 1; save to database

[2021-11-04 01:13] pmnoxx opened #5135 "Edges not removed properly during routing table pruning."
`RoutingTable::update` method is not removing edges from `Graph` while graph pruning.

[code]

[2021-11-04 01:15] pmnoxx opened #5136 "Memory leak in EdgeVerifier"
There is a memory leak in `EdgeVerifier.edges_info_shared`. We are never removing edges in that data structure. We can fix that by adding a temporary data structure inside `PeerManager.

I will create a new data structure, that stores list of edges, which were sent from `PeerManager` to `EdgeVerifier`, but we didn't get result yet. This structure will cleaned on response from `EdgeVerifier`.

[2021-11-04 01:15] pmnoxx commented on #5136
@bowenwang1996 @mm-near

[2021-11-04 01:24] pmnoxx commented on #5136
Blocked by #5089

[2021-11-04 01:26] pmnoxx opened #5138 "Move EdgeVerifier from `PeerManager` to `RoutingTableActor"
We should finish cleanup, and move `EdgeVerifier` to `RoutingTableActor`.

[2021-11-04 01:33] pmnoxx commented on #5138
After we do this, it will be easy to fix https://github.com/near/nearcore/issues/5136

[2021-11-04 02:43] hmtri1011 commented on #5128
Hi @bowenwang1996,  thanks for your reply.
I have around 100 NEAR in my wallet balance, so I'm sure that is enough.
I have no idea what is `access key allowance` so I cannot delete it.
I'm just a normal user that uses dApps in NEAR, it used to be okie. But 2 days ago, not sure what is going wrong with my wallet, I cannot use or integrate with any dApps (REF, Near Wallet, Metapool), cannot un-stake

[2021-11-04 02:53] pmnoxx opened #5139 "Test randomly failing `test_get_trie_items_for_part`"
I noticed that `test_get_trie_items_for_part` test is randomly failing.
@bowenwang1996 Any ideas?

https://buildkite.com/nearprotocol/nearcore/builds/5957#2c9f2c80-7031-454d-9ec4-4fae067ce0af

[2021-11-04 03:57] hmtri1011 commented on #5128
Any help would be appreciated because up to now I cannot do anything with my wallet. I have a huge amount of NEAR tokens in my wallet (from Metapool, REF, and Near Wallet) and I cannot do anything with them. Hmm, so stressful now.

[2021-11-04 08:58] matklad commented on #5127
More so than performance, this'll add more logic to vm-logic. I think we'll need some more structured discussion about how we'd enable such things. Will tackle the design properly after we make our current gas counter not slow.

My current thinking is that this should be compile-time gated sandbox-only functionality. So, on contract-runtime side, we'll add ability to have sandbox-only host functio

[2021-11-04 10:01] pmnoxx opened #5142 "Refactor PeerManager to move all messages under one enum"
We are in progress of changing all actors in such a way, that all their messages will be under one enum.
This makes it easier to write unit tests, and is needed for https://github.com/near/nearcore/pull/4927

[2021-11-04 13:00] mikedotexe commented on #5086
Having discussions with the team, sounds like we'd like to reopen this issue.

[2021-11-04 16:44] mzhangmzz opened #5144 "Change ViewClient to use ViewRuntimeAdapter instead of RuntimeAdapter"
In [https://github.com/near/nearcore/pull/5125](https://github.com/near/nearcore/pull/5125), we changed ViewClient to use a separate RuntimeAdapter object from Client to prevent ViewClient from blocking ClientActor for block processing. The solution is a quick fix and is error prone if we add more functionalities in ViewClient in the future because it assumes ViewClient only read from storage thro

[2021-11-04 17:23] mzhangmzz opened #5145 "New cache implementation"
Right now, we use `cached` crate for caches for database access. It has a few issues as @matklad mentioned https://github.com/near/nearcore/pull/5125#issuecomment-960527199

* the API is overly-complicated for what it does: there's `Cached` trait, `cached_key` declarative macro, and procedural macros as well. Cache is a kind of hash map, it doesn't really need these advanced features of the Rust t

[2021-11-04 22:09] vgrichina opened #5147 "nearcore first touch UX needs improvement"
_**Describe the bug**_

Following instructions to run RPC node don't result in running nearcore.

 _**To Reproduce**_

Try to setup your own RPC node for testnet by following steps at [https://docs.near.org/docs/develop/node/rpc/run-rpc-node-without-nearup](https://docs.near.org/docs/develop/node/rpc/run-rpc-node-without-nearup)

You are likely to find following issues:

1.  Following steps verbat

[2021-11-04 22:18] bowenwang1996 commented on #5139
This is supposed to be fixed in #5116. @mzhangmzz please take a look

[2021-11-04 22:22] bowenwang1996 commented on #5128
It would be helpful if you can provide your account and the access key you used for us to look into the issue.

[2021-11-04 22:55] bowenwang1996 commented on #5147
@janewang we may need to improve the docs

[2021-11-04 23:38] vgrichina commented on #5147
@bowenwang1996 docs is more of a symptom, I think it is more important to fix underlying fundamental issues (complexity of setup, long startup time, lack of indication of what is going on). Like if you didn't have to `wget` data yourself, then docs wouldn't have incorrect `wget` instructions – as there would be no instructions required.

[2021-11-05 00:08] pmnoxx commented on #5139
@bowenwang1996 Thanks, I'll close the issue.

[2021-11-05 00:08] #5139 closed

[2021-11-05 00:46] miraclx commented on #1905
Update on this: we've successfully completed the task as defined in the original comment as we do now have the new `jsonrpc-client` built from the ground up specifically to be approachable by actual users and outside internal testing. It currently exists in its own repo: https://github.com/near/near-jsonrpc-client-rs. And we have it published in its initial stages at https://crates.io/crates/near-

[2021-11-05 03:17] hmtri1011 commented on #5128
Thanks, I cleared browser cache to sign out Near wallet then login again and the issue is gone.

[2021-11-05 03:17] #5128 closed

[2021-11-05 08:34] olonho opened #5148 "Rethink gas spending logic"
During work on https://github.com/near/nearcore/pull/5121 we identified two questionable places in gas metering.

1. When transaction fails we still require (by tests) that used amount of gas is sum of promised and burnt gas. Seems more natural to zero out promised part.
2. When charging for gas, we always burn the gas even if go the error path. It looks strange and not match with normal paying lo

[2021-11-05 10:30] matklad commented on #5148
If we protocol change this, we should also consider changing how we limit promises gas. Rather than checking gas limit on every `deduct_gas` operation, we can check it once, after wasm execution finishes. Note that we already postpone actual promise creation in the Rust SDK.

[2021-11-05 10:43] matklad opened #5149 "Move vm_logic tests into a single crate"
Currently, each file in [https://github.com/near/nearcore/tree/master/runtime/near-vm-logic/tests](https://github.com/near/nearcore/tree/master/runtime/near-vm-logic/tests) is a separately compiled crate, which hurts compile times. Additionally, the vm_logic_builder.rs code is effectively compiled several times, once for each test.

Let's move the tests from `near-vm-logic/tests` to `near-vm-logic

[2021-11-05 11:49] matklad commented on #5149
While we are at it, might tweak VMLogicBuilder as well to remove `context` argument from the `build` methond, and instead `.with_context()`, `.is_view`, etc, methods on the builder itself.

[2021-11-05 13:31] austinabell commented on #5127
I don't think anything should be added in the SDK, because the gas usage in mocked contexts for unit tests is not a good reflection of actual gas usage afaik. To have something this granular would only really be beneficial for e2e tests through sandbox and then hook into that API with whatever language's workspace, I think.

cc @ChaoticTempest

[2021-11-05 15:25] matklad opened #5152 "Estimate test coverage for our runtime code"
in [https://github.com/near/nearcore/pull/5054](https://github.com/near/nearcore/pull/5054) and [https://github.com/near/nearcore/pull/5150](https://github.com/near/nearcore/pull/5150) we noticed a couple of relatively easy to check corner cases which weren't caught by our test suite. Additionally, in [https://github.com/near/nearcore/pull/5121#discussion_r743749603](https://github.com/near/nearco

[2021-11-05 16:02] mzhangmzz commented on #5139
Yeah the build was before the fix

[2021-11-05 17:48] #5135 closed

[2021-11-05 20:18] nikurt commented on #5112
Based on the issue #4937 , dumped column `ColStateDlInfos` and it was empty.
The code: https://github.com/near/nearcore/compare/nikurt-col-dump?expand=1
Couldn't use `ldb` or `sst_dump` due to `too many files open` error.

[2021-11-05 23:07] bowenwang1996 commented on #5152
cc @posvyatokum given that you are working on runtime related testing

[2021-11-05 23:15] olonho commented on #5148
It's not hard to keep exact promises gas counter IMO.

[2021-11-05 23:35] pmnoxx opened #5155 "Track memory usage for each Peer"
Currently we are not tracing the amount of data that each peer sends to us. It's possible we will run out of memory because we get too many messages for each peer.

We should do the following
- [x] Add TrottledFramedRead - a data structure that tracks the size of all messages, and their count that come from `Peer` and are being processed. (https://github.com/near/nearcore/pull/4927)
- [ ] Add limi

[2021-11-05 23:39] pmnoxx commented on #5155
@bowenwang1996 @mm-near

[2021-11-06 07:52] #5136 closed

[2021-11-06 07:54] pmnoxx commented on #5133
It turns out the code is correct, but it was not well documented. I'll close this issue, the documentation will be updated in #5140

[2021-11-06 07:54] #5133 closed

[2021-11-06 08:26] pmnoxx opened #5156 "Write reference level documentation for the network code"
To make network code easier to understand we should write a reference level documentation.
That will make it easier for new developers to understand different parts of the networking code.

- [x] https://github.com/near/nearcore/pull/5580
- [x] https://github.com/near/nearcore/pull/5621
- [x] https://github.com/near/nearcore/pull/5622
- [x] https://github.com/near/nearcore/pull/5623
- [x] https://

[2021-11-06 08:27] pmnoxx commented on #5156
@bowenwang1996 @mm-near @matklad

[2021-11-06 15:42] frol commented on #5086
I will take a closer look next week

[2021-11-07 18:35] bowenwang1996 commented on #5112
I looked a bit more into this issue. It appears to me that the issue is caused by nodes waiting sometimes too long for a chunk to arrive. I think we may need to prioritize #3863, #1689, and potentially #3890. cc @mzhangmzz

[2021-11-07 20:42] #5142 closed

[2021-11-08 00:53] pmnoxx opened #5161 "Insufficient tests for `struct Graph`"
@mm-near Reported that we don't have sufficient testing in `RoutingTable`, that tests whenever edges added/removed to `Graph` when using method `add_edge`, `remove_edge` or pruned in `RoutingTable.try_save_edges`

[2021-11-08 04:14] pmnoxx opened #5164 "Restructure near-network code to make it easier to document"
We working on network documentation (https://github.com/near/nearcore/issues/5156). It's going to be much easier to explain code structure once we move files to proper places.

- renamed `peer.rs` to `peer_actor.rs`
- renamed  `Peer` to `PeerActor`
- renamed `peer_manager.rs` to `peer_manager_actor.rs`
- renamed `edge_verifier.rs` to `edge_verifier_actor.rs`
- move files related to stats to `/stat

[2021-11-08 06:17] k-moonblade opened #5166 "[feature request] generate contract ABI on contract compilation"
I noticed that there is no contract ABI generator for the SDKs. If this is an intentional decision, I wonder why.

If not, I guess the following high-level structure would be helpful for developers, just a very rough draft:

[code]

[2021-11-08 08:42] nikurt commented on #5112
Extracted a few lines of log during an archival node switching back and forth between syncing and working:
[archive_rpc_sync_log.txt](https://github.com/near/nearcore/files/7495419/archive_rpc_sync_log.txt)

[2021-11-08 09:31] nikurt commented on #5112
All cases of an Asian archival rpc node starting and finishing syncing:
[Uploading archive_rpc_sync_log.txt…]()

[2021-11-08 09:56] #5161 closed

[2021-11-08 10:10] nikurt commented on #5112
The node managed to fall 10 blocks behind merely 10 seconds after finishing the last sync: #52158507 -> #52158517
[big_gap.txt](https://github.com/near/nearcore/files/7496063/big_gap.txt)

[2021-11-08 10:53] mina86 commented on #5119
How would node know the difference between recent but not synced block and a block that does not exist? We cannot rely on node-side solution only. We will need load balancer to look at the entire fleet of RPC nodes and determine this way which are unhealthy.

[2021-11-08 12:09] matklad commented on #5156
Great idea! I've just spend five minutes reading the doc in the wip PR, and I feel I've already learned more about near networking more than I knew before.

I have one high-level comment here: we might want to ensure strict separation between protocol specification and code-level documentation. Ideally, I'd love to see two documents: "NEAR P2P protocol" and "Implementation of networking in nearcor

[2021-11-08 12:53] matklad opened #5168 "Potential dead code in the pipeline.yml?"
This pipeline looks suspect to me:

https://github.com/near/nearcore/blob/5f9c98fd000566dfb024607acb4c95dcd914e90a/.buildkite/pipeline.yml#L67-L79

`nightly-2020-05-15 ` is very, very old, and definitely can't compile `nearcore`. Looking at the `test_nearlib.sh`, it looks like something not terribly reproducible, and chunks of the file are commented away.

It seems like this is just a bit of bitro

[2021-11-08 15:34] khorolets commented on #4930
We had another conversation with @mzhangmzz and accidentally found out that the Node Interfaced team has a bit different plans (not strict though). We were considering running separate instances of NEAR Indexer for Explorer for each shard to manage the data flow.

But the approach described in this issue expects the node to track an account (without even knowing on which shard the account is livin

[2021-11-08 17:54] asmolarek-bc opened #5173 "Being able to use rosetta to determine transaction completion"
This issue is related to the scope of data provided by Rosetta API

**Describe the bug**
Rosetta does not have a way to determine which part of operation in a block is connected to which transaction because initial operation is connected to transaction id, and subsequent ones are identified by they specific receipt id
Because of that it is not possible to connect operations from single transaction

[2021-11-08 18:54] pmnoxx opened #5174 "Implement near-time - a near create for time"
As discussed with @matklad, we discussed implementing our of crate for time.

Currently we use 4 methods to represent time `chrono` (`Utc::now()`) (`Datetime<Utc>`) , `SystemTime`, `Instant::now`, `u64`, they all have their issues.

- We don't want to use external `chrono` library, mainly because we don't really care about timezones
- `Instant` is written in such a way, that it's not possible to c

[2021-11-08 18:55] pmnoxx commented on #5174
@matklad @bowenwang1996 @mm-near @yordanmadzhunkov

[2021-11-08 19:26] pmnoxx opened #5176 "Fix crash on betanet related to `stats_enabled.rs`"
We saw a node crash in `stats_enabled.rs`. This PR will prevent those crashes from happening.

[code]

[code]

[2021-11-08 19:26] #5176 closed

[2021-11-08 21:57] bowenwang1996 commented on #5155
What do we plan to achieve with this? I believe quite a few messages are dynamically sized.

[2021-11-08 22:08] bowenwang1996 commented on #3186
@mina86 I think it is probably a good first task for you in terms of Rosetta

[2021-11-08 22:09] bowenwang1996 commented on #2271
@frol is anyone working on this?

[2021-11-08 22:12] bowenwang1996 commented on #5166
Feel free to read about the history here https://github.com/near/NEPs/pull/3

[2021-11-08 22:19] mzhangmzz opened #5178 "Make node crash if state sync thread crashes"
In [https://github.com/near/nearcore/pull/4714](https://github.com/near/nearcore/pull/4714), we moved applying state parts (part of the state sync process) to a different thread. It's possible that the applying state thread crashes because of some bugs but the main thread will still be running. The node will appear stuck at state sync. This could make debugging harder in production or make users c

[2021-11-08 22:20] mzhangmzz commented on #5178
cc @EgorKulikov @matklad @bowenwang1996

[2021-11-08 22:29] bowenwang1996 commented on #4462
@frol is there any update on this topic? Feels like quite a few people are interested

[2021-11-08 22:31] bowenwang1996 commented on #4930
@khorolets ah that is very interesting! I think there may be a use case for tracking a specific shard by id after all :)

[2021-11-08 22:35] bowenwang1996 commented on #5173
Do you mean you want one endpoint that returns this? It is still possible to reconstruct this information I believe

[2021-11-08 22:37] bowenwang1996 commented on #5174
Please sync with @yordanmadzhunkov to avoid duplication of work

[2021-11-08 22:46] pmnoxx commented on #5174
@bowenwang1996 I'll discuss it tomorrow with @yordanmadzhunkov during a meeting.

[2021-11-08 22:46] bowenwang1996 commented on #5178
I think there is a general problem with neard shutdown. Even when a node panicks in the main thread, neard does not actually shutdown properly #3266. cc @mina86

[2021-11-08 22:55] pmnoxx commented on #5155
@bowenwang1996 `DeepSize` trait works by recursively computing size of each message. The overhead of doing a memory allocations to create given data structure than measuring it's size. So the performance overhead will be negligible.

[2021-11-08 22:56] pmnoxx commented on #5155
I created a PR in the past, that adds `DeepSize` to all our data structures. So it's doable, I'll have to repeat the work.

[2021-11-09 00:57] pmnoxx opened #5179 "restructure network code"
We working on network documentation (https://github.com/near/nearcore/issues/5156). It's going to be much easier to explain code structure once we move files to proper places.

- renamed `peer.rs` to `peer_actor.rs`
- renamed  `Peer` to `PeerActor`
- renamed `peer_manager.rs` to `peer_manager_actor.rs`
- renamed `edge_verifier.rs` to `edge_verifier_actor.rs`
- move files related to stats to `/stat

[2021-11-09 01:16] #5179 closed

[2021-11-09 08:50] asmolarek-bc commented on #5173
No I do not need single endpoint, I can reconstruct it from multiple calls, but what I found it is not possible via current implementation of rosetta I do not have a way to ask for transaction base on receipt id (those are the identifiers of subsequent operations), in general (from what I asked) it is not possible to get transaction by one of its receipts id

afaik rosetta api does not allow askin

[2021-11-09 11:02] matklad commented on #4669
fixed by removing the trap handler altogether.

[2021-11-09 11:02] #4669 closed

[2021-11-09 12:57] nikurt opened #5181 "Investigate the time it takes to receive chunks of a block"
https://github.com/near/nearcore/issues/5112

Things to measure:
* Time between receiving a block and receiving all of its chunks
* Time between requesting a chunk and receiving that chunk
Ideally that should be a prometheus metric to make it obvious whether the delays are decreasing between releases.

[2021-11-09 14:42] mina86 opened #5182 "`pytest sanity/state_sync_fail.py` test is broken"
The test currently fails on NayDuck. To reproduce:

 ./scripts/nayduck -b master -s master -i <<<EOF
 pytest sanity/state_sync_fail.py --features nightly_protocol,nightly_protocol_features
 EOF

The non-nightly variant works fine.

If this should not be run on nightly please remove the commented entry from `nightly/pytest-sanity.txt` corresponding to it. Otherwise, uncomment it once the test is fi

[2021-11-09 15:16] BenKurrek opened #5183 "Indexer memory usage still goes too high after using memory leak fix commit"
**Describe the bug**
Our indexer's memory was steadily increasing until the indexer crashed this morning and stopped printing blocks. The rate at which memory is being used up is much slower than before we switched to the memory leak fix commit (which is here: 25b000ae4dd9fe784695d07a3f2e99d82a6f10bd --> https://github.com/near/nearcore/releases/tag/1.22.0-rc.4).

**Screenshots**
![image](https://

[2021-11-09 16:24] mzhangmzz commented on #5178
@bowenwang1996 i c, this is a separate issue though. We should fix both.

[2021-11-09 16:52] matklad commented on #5178
Heh, that's exactly what https://github.com/near/nearcore/pull/4714#discussion_r692906851 was talking about.

The classical Rust approach is to use channels to communicate with background states, and lean onto "channel is closed when senders/receivers are dropped". So, when you `.send` into background thread and get a closed channel error, you know that that thread has died and panic yourself. Alt

[2021-11-09 16:57] frol commented on #5173
@asmolarek-bc Yep, there is indeed a gap in Rosetta implementation there (there was no notion of `related_transactions` before the very latest Rosetta 1.4.10 spec while we only implemented Rosetta 1.4.4).

Would you like to contribute this feature to Rosetta implementation in nearcore? (That would require to pull in the list of outgoing receipt ids and expose them as `related_transactions` with di

[2021-11-09 17:22] pmnoxx commented on #5174
@bowenwang1996 This is an independent issue. I'll chose the issue for now. First we need to finish implementing mocking for time.

[2021-11-09 18:21] #4859 closed

[2021-11-09 18:25] janewang commented on #5098
Hi @mhalambek, is there an update on this issue of the snapshots being corrupt? Thank you!

[2021-11-09 18:32] bowenwang1996 commented on #5155
@pmnoxx my understanding is that `DeepSize` does some static computation right? My question was about the parts that cannot be determined statically.

[2021-11-09 18:39] bowenwang1996 commented on #5183
@frol @khorolets could we add support for `memory_stats` (a nearcore cargo feature) for indexers?

[2021-11-09 18:40] bowenwang1996 commented on #4490
@matklad this is fixed right?

[2021-11-09 18:41] bowenwang1996 commented on #4469
@matklad I believe this is fixed. Please reopen if that is not the case

[2021-11-09 18:49] khorolets commented on #5183
I'm not aware of this feature. Is it enough to enable logs like "memory_stats=debug" or something else?

[2021-11-09 18:51] pmnoxx commented on #5155
@bowenwang1996 No, `DeepSize`does computations dynamically. It a decorator that generates a code, which goes through all members of a struct, and add up sizes.

[2021-11-09 19:18] pmnoxx commented on #5155
`DeepSize` internally uses `pub const fn size_of<T>() -> usize`, to check known rust types, and direct sizes of structures; see https://doc.rust-lang.org/stable/std/mem/fn.size_of.html

Consider `Vec<SomeType>`. To compute memory usage you need to compute size of `Vec<...>`.
Size of ` buf: RawVec<T, A>,` element of `Vec<...>`.
And for each element of `Vec<SomeType>` indirect sizes of all attribute

[2021-11-09 22:05] mina86 opened #5188 "`pytest sanity/routing_table_sync.py` test is broken"
The test currently fails on NayDuck.  To reproduce:

    ./scripts/nayduck -b master -s master -i <<<EOF
    pytest --timeout=480 sanity/routing_table_sync.py --features nightly_protocol,nightly_protocol_features
    EOF

[2021-11-09 22:26] pmnoxx commented on #5188
@mina86 Thanks, the hotfix has been merged.

[2021-11-10 00:43] maxzaver opened #5189 "Address security audit findings of alt-bn128 code"
See the specific security audits reports.

[2021-11-10 03:23] pmnoxx commented on #5188
@mina86 Sorry, I didn't notice that the previous fix didn't fix issue.
https://github.com/near/nearcore/pull/5190/files

[2021-11-10 03:24] pmnoxx commented on #5188
I reopened this pr.
@bowenwang1996 @mm-near Can you take a look?

[2021-11-10 07:35] pmnoxx commented on #5112
I'll take a look

[2021-11-10 07:37] pmnoxx commented on #5112
This does seem like an issue with routing
[code]
We should add some more debug info to figure it out.

[2021-11-10 07:54] pmnoxx commented on #5112
I notice a code path, where it's possible we will return to `PeerActor` list of peers to which we have no route to `highest_height_peers`.
I added printing an error when that happens.

https://github.com/near/nearcore/pull/5192

[2021-11-10 09:15] nikurt commented on #5183
You can enable this feature in `neard` at compile time: `cargo build -p neard --features memory_stats` and it will print `warn` logs with a stacktrace of allocation when memory usage grows much a lot.
Feature in `neard`: https://github.com/near/nearcore/blob/6afb3473420185b3e61b1cb3d6d84db119064c41/neard/Cargo.toml#L39
Feature in `nearcore`: https://github.com/near/nearcore/blob/6afb3473420185b3e6

[2021-11-10 11:30] matklad commented on #4490
Not at all:

* running `cargo test` still outputs megabytes of DEBUG-level logging to the terminal,
* it still takes 15 minutes to complete on a 12-core machine

[2021-11-10 12:28] frol commented on #5086
If your questions are about rosetta-cli or API usage, Rosetta support channels are better to be asked. I also was confused by the help of `rosetta-cli` utility, but I somehow remembered how I used it (basically, it expects raw JSON input for `/account/balance` endpoint):

[code]

Let's compare it to JSON RPC response:

[code]

The math adds up: `383348266956168680085420257 + 1710000000000000000000

[2021-11-10 12:28] #5086 closed

[2021-11-10 12:43] asmolarek-bc commented on #5086
@frol thank you for the response

no, question was not about rosetta cli usage, I used rosetta to debug if my integration is working, and I provided it as an example that can be reproduced without the code base I am working on, thx for the explanation

[2021-11-10 13:18] asmolarek-bc commented on #5086
rosetta-cli is debug tool, when I passed the JSON you posted it returned balance of the sub account
[code]

[2021-11-10 13:24] asmolarek-bc commented on #5086
what is a bit off is that sub account returned 16543800000000000000000 and storage_usage for this account is 182
which means that the storage_amount_per_byte is 9.09 × 10^19
but near RPC returns storage_amount_per_byte 10^19 is there a configuration that has to be set when running rosetta on local env?
this is described more here https://github.com/near/nearcore/issues/5129

[2021-11-10 13:37] nikurt opened #5193 "Package `state-viewer` with `neard`"
Please consider including `state-viewer` functionality into the `neard` binary.
The two binaries share >90% of the code, and the code size and compilation time increase should be insignificant.

My motivating use case is investigating issues or incidents. I need `state-viewer` to inspect the state of the DB. Currently it requires me to compile `state-viewer` separately and the version of `neard` a

[2021-11-10 13:39] nikurt opened #5194 "Ensure `state-viewer` is strictly read-only"
Steps to reproduce:
* Run 1.21 `neard` binary
* Stop the `neard` binary
* Try to open the DB with a 1.22 `state-viewer` binary
* Restart 1.21 `neard` binary, get an error about an unknown column family `col49` in the DB.

This shouldn't happen. When investigating incidents people are prone to using the wrong versions of the binaries, which can make the incident more complicated.

[2021-11-10 13:52] matklad commented on #5193
I'd expect somewhat significant *decrease* in compilation time, as we'd have to link one fewer binary.

[2021-11-10 14:19] frol commented on #5086
Well, that is weird. Which network is that? If you look at my snippets (tested on testnet), there is `1710` bytes used and `17100000000000000000000` yoctoNEAR locked.

[2021-11-10 14:24] frol commented on #5129
@asmolarek-bc What do you mean by leftovers? Is this the value you *observe* after the transfer? This should not be allowed by the protocol, so this all sounds like your localnet genesis has the storage price set to 9.09 * 10^19.

[2021-11-10 14:29] asmolarek-bc commented on #5129
By leftover I mean funds that are kept on the account when I am trying to withdraw everything, for some reason when I am asking rosetta construction API to prepare transaction that will withdraw everything, lets say I have an account that has 500N and I am requesting to prepare transaction that will withdraw 500N rosetta will prepare transaction that transfers 499.9834562N

because of that on the

[2021-11-10 14:32] asmolarek-bc commented on #5086
yes exactly I see that in your case it is different, my network is local net that I am starting like this
[code]
and .near is created with
[code]

[2021-11-10 14:35] frol commented on #5086
@asmolarek-bc from your #5129 I noticed that you use 1.21.0 release, which indeed produces a genesis file with `"storage_amount_per_byte": "90900000000000000000",`. I am using 1.22.0-rc.4, which does not generate this section to genesis config at all (it is a separate question), but the storage price there is 10^20.

[2021-11-10 14:37] frol commented on #5129
See https://github.com/near/nearcore/issues/5086#issuecomment-965284072

[2021-11-10 14:42] frol commented on #5129
To withdraw all the funds from an account in NEAR Protocol, you need to delete it and set the beneficiary_id to the account id that you want to receive all the funds from the given account.

Is there an action item here or should we mark it as resolved?

[2021-11-10 14:47] asmolarek-bc commented on #5129
Yes that is what we switched to after seeing this behaviour, I am trying to prepare delete account transaction with rosetta construction api, I am trying to create operation of type `DELETE_ACCOUNT`
Is that a correct way to delete account? is it possible to prepare such transaction with rosetta?

[2021-11-10 14:52] frol commented on #5129
Yes, that is exactly the correct way to do it.

Yes, it is absolutely possible to create any NEAR Protocol transactions from Rosetta Construction API.

[2021-11-10 14:58] asmolarek-bc commented on #5086
thx for the explanation, I see that it is set in genesis, I can update it accordingly to be the same as in the docs, but why despite it is set to 90900000000000000000 in the genesis it is reported as 10^19 via near RPC
Is it possible that this value evolves while blocks are produced and rosetta api only check the value from the genesis and do not update it accordingly?

[2021-11-10 15:07] frol commented on #5086
It is a separate problem, indeed. How do you check that value?

[2021-11-10 15:28] asmolarek-bc commented on #5086
I see this value 90900000000000000000 as amount that rosetta is reporting as LIQUID_BALANCE_FOR_STORAGE (182 * 9.09 × 10^19)

the other value I see from near rpc endpoint `EXPERIMENTAL_protocol_config`

[2021-11-10 16:36] matklad commented on #4839
Fixed by #4916

[2021-11-10 16:36] #4839 closed

[2021-11-10 16:43] matklad opened #5195 "Add `tracing::debug_span` calls throughout runtime"
In [https://github.com/near/nearcore/pull/4038/](https://github.com/near/nearcore/pull/4038/) we added some basic tracing support for runtime. We should complete that work and add enough spans to all the critical code-paths to get a full picture of runtime performance.

For example, right now I am debugging an estimator issue, and I am looking at the following trace:

2.01ms Runtime::process_recei

[2021-11-10 17:28] #5129 closed

[2021-11-10 17:37] matklad commented on #4771
This now I think blocks progress on https://github.com/near/nearcore/pull/4733. I am investigating many-orders-of-magnitude differences between the old estimator and the new one, and it seems that I hit "DB is mysteriously slow" case.

The slow case is what is hit by the old estimator, and it looks like this:

[code]

It takes 1.5ms to fetch contract code from the database, which doesn't make any

[2021-11-10 17:54] frol commented on #5129
In order to prepare a transaction through Rosetta API, you would need to do some extra work since each operation in Rosetta only has a single account identifier associated with it. Thus, transfers are always TRANSFER minus balance from account1 and TRANSFER plus balance to account2. Account deletion is not an exception, and a single DELETE_ACCOUNT action in NEAR corresponds to 3 Rosetta operations

[2021-11-10 18:42] frol opened #5197 "Investigate a discrepancy between runtime config values in rosetta RPC vs JSON RPC"
Initiating a new localnet node (1.21.0 release) with the default genesis sets the storage price per byte to 90900000000000000000, but then JSON RPC allegedly reports it to be 10^20. https://github.com/near/nearcore/issues/5086#issuecomment-965397406

[2021-11-10 18:43] frol commented on #5086
@asmolarek-bc I have reported it as a separate issue: #5197

[2021-11-10 21:13] mina86 commented on #5188
Looks like it’s still failing: http://nayduck.near.org/#/test/241592

[2021-11-10 23:01] bowenwang1996 commented on #5183
You will only see logs if the memory usage of some thread is more than some threshold. Please consult with @pmnoxx on this

[2021-11-10 23:15] pmnoxx commented on #5183
@khorolets You also need to enable `performance_stats` feature, Otherwise we will not be reporting any logs.

[2021-11-11 03:09] pmnoxx commented on #5188
I wrote a fix: https://github.com/near/nearcore/pull/5199

I ran in 30 times, it works fine: http://nayduck.near.org/#/run/2200

[2021-11-11 03:24] BenKurrek commented on #5183
do you need me to do anything on my side?

[2021-11-11 10:20] #5188 closed

[2021-11-11 20:16] nearmax opened #5203 "Consider adding LRU cache to RocksDB impl of Database"
We haven't had an opportunity to optimize the performance of the RPC server and the ViewClient inside nearcore. Which leads to individual RPC nodes not being able to sustain the needed throughput, which in turn leads to high cloud expenses for running multiple nodes and the need to use throttling.

Anecdotally, some people were able to optimize RPC server to achieve higher QPS by using Redis in ne

[2021-11-11 20:35] bowenwang1996 commented on #5203
Rocksdb has in-memory cache internally and we have it enabled.

[2021-11-11 20:39] nearmax commented on #5203
Given the complexity of Rocksdb and that we revisited its configuration only once, I don't think we can be sure that we configured it correctly or that it is optimized for the view calls.

[2021-11-11 23:14] pmnoxx opened #5206 "Avoid memory allocations in networking code"
We have data structured indexed by `(PeerId, PeerId)` in networking code. Can we somehow avoid doing memory allocations?

[code]

@matklad Any ideas?

[2021-11-11 23:34] pmnoxx opened #5208 "Tests fail when running `cargo test` locally"
When running `cargo test --all-features --all-targets` on localhost. I always get following failures,, even on master branch.

[code]

[2021-11-11 23:34] pmnoxx commented on #5208
@bowenwang1996 @mm-near @matklad Any ideas?

[2021-11-11 23:59] pmnoxx commented on #5206
@matklad For example: https://github.com/near/nearcore/pull/5209/files

[2021-11-12 00:00] pmnoxx commented on #5206
For example, we could change `key` in `Edge` to be `Arc<(PeerId, PeerId)>`. That way we could avoid copy when using this in
`HashMap<(PeerId, PeerId), Edge>`

[2021-11-12 00:33] bowenwang1996 commented on #5203
Indeed, we currently set the cache size for all columns to be 32mb https://github.com/near/nearcore/blob/6d8eee6ffbf6dedbae5022bd3d8acd2c2870a6b3/core/store/src/db.rs#L664, but not all columns are equal. I think we can and should allocate more for `ColState`. For example, we can do 256mb or even 512 for `ColState`. @mina86 @pmnoxx given that you worked with Rocksdb before, I wonder whether this is

[2021-11-12 01:07] bowenwang1996 commented on #5208
There is a known issue that not all features are compatible. See https://github.com/near/nearcore/issues/4351 for more details

[2021-11-12 01:39] #5208 closed

[2021-11-12 01:52] pmnoxx commented on #5203
@bowenwang1996 Hmm, we could write some PR like this: https://github.com/near/nearcore/pull/5212

[2021-11-12 01:56] pmnoxx opened #5213 "Use bytesize for core/store/src/db.rs"
It will be much cleaner to replace bytes constants inside `db.rs` by a package that we already use in other places `use bytesize::ByteSize`

`ByteSize::mb(128)` looks much better than `1024 * 1024 * 128`

[2021-11-12 04:03] pmnoxx commented on #3679
@bowenwang1996 That's no longer relevant. I'll close the issue.

[2021-11-12 04:03] #3679 closed

[2021-11-12 04:06] pmnoxx commented on #3978
@bowenwang1996 Yes, everything that I planned has already been finished. We can add more features if we find that something is missing. Feel free to reopen this PR or open a new one if some particular feature is needed.

[2021-11-12 04:06] #3978 closed

[2021-11-12 04:14] pmnoxx commented on #3406
We decided to go with a different approach.

Instead we moved out routing table calculation out of `PeerManager` (https://github.com/near/nearcore/issues/4859) and we will me adding tracking memory usage / limiting number of messages that are "being processed" that come from each peer (https://github.com/near/nearcore/issues/5155)

[2021-11-12 04:14] #3406 closed

[2021-11-12 04:35] pmnoxx opened #5214 "Add performance degradation tests"
@matklad We would like to be able to add performance degradation tests within `#[cfg(test)]`.

Could you provide as an example on how to do it? You mentioned previously that it's better to have benchmarks there, rather than in `benches` folder.

[2021-11-12 04:36] pmnoxx commented on #5214
@bowenwang1996 @mm-near

[2021-11-12 08:47] pmnoxx opened #5220 "Fixes related to Betanet incident 2021-11-08 aftermatch"
- [x] Handle times in cleaner way inside `near-performance-stats` to prevent panics https://github.com/near/nearcore/pull/5219
In rust, a subtraction of two unsigned integers can cause panic, which is not desider.

[2021-11-12 09:12] asmolarek-bc commented on #5086
Thank you

[2021-11-12 10:16] pmnoxx opened #5221 "Improve Routing Table exchange by fasctor of 5x"
There are a lot of inefficiencies in network code, we should fix them:

- [x] Replace Edge with Arc<Edge> - This reduced the amount of time `RoutingTableActor` spends on creating copy of routing table from `5s` to `1.3s` (https://github.com/near/nearcore/pull/5211)
- [x] Replace PeerId with Arc<PeerId>- This reduced the amount of time `RoutingTableActor` spends on creating copy of routing table fr

[2021-11-12 12:02] matklad commented on #5206
Yeah, I think I actually suggesting something along these lines in one of the code reviews.

The general pattern here is that we want to store a hash-map with objects, where the key is a part of the object itself (which is a pretty common patteren). The way to achieve this in Rust is somewhat counter-intuitive -- rather than using a map, you want to use a set, and rely on a Borrow trait. Here's a

[2021-11-12 13:10] matklad commented on #5214
I don't have a lot of experience with writing performance degradation *tests* in significant capacity, which literally fail CI if performance is not great. I think couple of times I tried to do that the result was  that the measurements were too noisy to really gate the PR.

I think what is more usually done is having a performance dashboard which, for each commit in the repository, displays resul

[2021-11-12 18:02] #4977 closed

[2021-11-12 20:47] #5220 closed

[2021-11-12 22:40] pmnoxx commented on #5214
@matklad

It really depends on what we want to use benchmarks for, we have a few choices:
- one time code optimization - to see whenever rewriting code makes sense - like for example with replacing `Edge` with `Arc<Edge>`. Or when we improve performance of computing routing table by a factor of 1000x, by replacing edges with integers, and other optimizations
For that use case, it would be great to

[2021-11-12 23:54] Longarithm commented on #4771
What if rocksdb issues list is helpful here? This one is quite curious: https://github.com/facebook/rocksdb/issues/3961

When I disable `set_cache_index_and_filter_blocks` - https://github.com/near/nearcore/compare/558b8e211..bceefb56 - performance become much more stable:
- disabled: 40-80ms to process a single block in most cases, one spike with 120ms
- enabled: 40ms, then **1s for each block**

[2021-11-13 00:21] pmnoxx commented on #4771
@Longarithm We can try to see if it makes difference to try to adjust cache sizes per column. Like in https://github.com/near/nearcore/pull/5212

[2021-11-13 00:40] pmnoxx commented on #4771
It appears that int the slow path we spend a lot of time int `rocksdb::BlockFetcher::ReadBlockContents`. So RocksDB is spending a lot of time reading blocks in the slow case.

[2021-11-13 00:59] pmnoxx commented on #4771
I see that we have a cache in front of the database. This explains the spikes in performance. If you want to debug the issue, please try commenting this code out:

``
impl TrieStorage for TrieCachingStorage {
    fn retrieve_raw_bytes(&self, hash: &CryptoHash) -> Result<Vec<u8>, StorageError> {
        let mut guard = self.cache.0.lock().expect(POISONED_LOCK_ERR);
        /*    if let Some(val) =

[2021-11-13 01:25] pmnoxx opened #5226 "RateCounter not printing correct stats when there is no data"
As @mm-near noticed, truncate method is not called before getting bandwidth stats. This can lead to displayed bandwidth data to be incorrect, especially if no data is send/received.

[2021-11-13 02:12] pmnoxx commented on #5206
@matklad Before we do that, it would make sense first to replace `Edge` with `Arc<Edge>`, and do the same for `PeerId`.

After we do that I'll write a benchmark to see if that's worth it or not.

It may also be a good idea if we could someone create a version of PeerId, that stores inside a precomputed 4 bytes hash. We have to compute a hash for each lookup while doing .get() on
`edges_info: HashS

[2021-11-13 10:10] pmnoxx opened #5238 "Limit imports from `near-network`"
A of imports are not needed from `near-network`.

For example:
- [x] imports going to `near-primitives-network` https://github.com/near/nearcore/pull/5237
- [x] constants belonging to `ClientActor` https://github.com/near/nearcore/pull/5235
- [ ]  a few others

[2021-11-13 23:02] pmnoxx opened #5244 "Random test failure `chunks_delay_tracker::test::test_blocks_ahead_of_head`"
I saw some random test failure
[code]

[2021-11-13 23:02] pmnoxx commented on #5244
https://buildkite.com/nearprotocol/nearcore/builds/6665#2df8ad07-15ef-4ac0-ab41-64491d9f5df2

[2021-11-13 23:02] pmnoxx commented on #5244
After rerun  https://buildkite.com/nearprotocol/nearcore/builds/6673

[2021-11-13 23:03] pmnoxx commented on #5244
@bowenwang1996 @mm-near  any ideas?

[2021-11-13 23:14] pmnoxx opened #5245 "Mocking with `Clock` is not complete"
We recently added mocking time with `Clock::instant()` and `Clock::utc()`.

I checked `near-network` code, and I see that there are places where time is not mocked. For example usage of `SystemTime::now()`

(https://github.com/near/nearcore/blob/c34ea39d2315a977f4882e4d280649bdbaee05bd/chain/network/src/stats/rate_counter.rs#L62)

`Instant::elapsed` in many places, for example
https://github.com/n

[2021-11-13 23:19] pmnoxx commented on #5245
My proposal is to create wrapper, which we can use for mocking time. (https://github.com/near/nearcore/pull/5177)
I'll adjust the change to use `Clock::utc()` instead of `SystemTime::now()`

[2021-11-14 00:13] pmnoxx opened #5248 "Fix randomly failing `routing::ping_jump` test"
Ping pong test is failing
https://buildkite.com/nearprotocol/nearcore/builds/6677#5ccd6608-35c5-474b-9cb9-819a4033eccb

[code]

[2021-11-14 12:48] ilblackdragon commented on #5203
I would suggest to make this parameter a node configuration.

This way RPC nodes can configure a larger cache if they have more RAM compared to validator nodes or other nodes that don't need to constantly respond to view calls

[2021-11-14 12:52] pmnoxx commented on #5203
@ilblackdragon I can add it to `config.json`, is that what you meant?

[2021-11-14 20:17] pmnoxx opened #5251 "Random test failure chunks_delay_tracker::test::test_timestamps"
We see those random failures happen a lot.
[code]

https://buildkite.com/nearprotocol/nearcore/builds/6683#36f0677f-f2e8-44e8-8d1d-7650a7a2d568

[2021-11-14 20:17] pmnoxx commented on #5251
@bowenwang1996 @mm-near @matklad Any ideas?

[2021-11-14 21:12] #5248 closed

[2021-11-14 21:38] pmnoxx opened #5254 "Refactor - move RoutingTableActor back inside PeerManagerActor"
Currently, `PeerManager` is responsible to sending edges to check their signatures `EdgeVerifierActor`.
Then `PeerManager` runs `broadcast_edges_trigger` trigger, which is time consuming.
And then `PeerManager` sends edges to `RoutingTableActor`.

This has a few issues:
- `PeerManager` is spends a bit of time running  `broadcast_edges_trigger`.
- There is an extra structure in `EdgeVerifierActor`

[2021-11-14 22:34] pmnoxx opened #5255 "Add store configuration to `config.json`"
We would like to be able to adjust cache configuration per machine basis. Right now, column cache configuration is hard coded inside `db.rs`.

Done:
- In this change, we will add default column cache size, and ability to choose column cache size per each column separately.

In another PR: (if requested)
- We may add number of open files limit
- Block size, etc.

As discussed in https://github.com/

[2021-11-14 23:39] pmnoxx commented on #5244
https://github.com/near/nearcore/pull/5256

[2021-11-14 23:45] pmnoxx commented on #5244
@nikurt Can you take a look?

[2021-11-15 09:07] nikurt commented on #5244
Thank you Piotr for fixing that.

[2021-11-15 09:52] pmnoxx commented on #5145
@mzhangmzz is there any reason why we can't use something simple list this https://github.com/near/nearcore/pull/5259

[2021-11-15 10:44] #5082 closed

[2021-11-15 12:49] nikurt commented on #5181
We see that some RPC nodes get chunks as much as 8 seconds after receiving the block, as described in #1689.

[2021-11-15 12:49] #5181 closed

[2021-11-15 13:17] BenKurrek commented on #5183
Our indexer crashed again this morning. The memory had been steadily increasing over the past 6 days and then it suddenly spiked from 64% to 99% in the span of 15 minutes and crashed.

This is the graph for the past week:
![image](https://user-images.githubusercontent.com/57506486/141788114-9bebd7b2-a714-4d23-be89-5c9a1441951f.png)

This is the graph for the past 6 hours where it crashed:
![image]

[2021-11-15 13:50] khorolets commented on #5183
I've enabled both and don't see any logs on localnet. I wonder if I will see them on testnet or mainnet only?

[2021-11-15 14:33] khorolets commented on #5183
@pmnoxx could you help with this?

[2021-11-15 15:58] pmnoxx opened #5263 "random nearlib test failure `test/providers.test.js`"
I saw a random failure of testlib a compute of times:

[code]

https://buildkite.com/nearprotocol/nearcore/builds/6731#a618431e-04dd-4325-ad20-37a793566bd5

[code]

[2021-11-15 15:58] pmnoxx commented on #5263
@mm-near @bowenwang1996 Any ideas?

[2021-11-15 18:54] pmnoxx opened #5266 "Move classes to proper files"
`Edge` struct is quite big, we should move it to a separate file. As discussed with https://github.com/near/nearcore/pull/5223#pullrequestreview-806402916

- [x] Move `Edge` https://github.com/near/nearcore/pull/5284
- [x] https://github.com/near/nearcore/pull/5284
- [x] https://github.com/near/nearcore/pull/5338
- [x] https://github.com/near/nearcore/pull/5335
- [x] https://github.com/near/nearco

[2021-11-15 22:01] pmnoxx opened #5268 "S-automerge doesn't rebase automatically"
I noticed that `S-automerge` doesn't automatically rebase. I've been clicking on "Update branch" manually a couple times today
https://github.com/near/nearcore/pull/5233 , but always some other change gets merged first, and this branch becomes out of data.

@chefsale Can you take a look? Is that a bug?

[2021-11-15 22:20] pmnoxx commented on #5183
@khorolets How can I compile the indexer. And which binary is it?

[2021-11-15 22:21] pmnoxx commented on #5183
@khorolets Can you take a look at
```utils/near-performance-metrics/src/stats_enabled.rs ```
Look at `schedule_printing_performance_stats` method.

[2021-11-15 22:42] pmnoxx commented on #5183
@khorolets Take a look at https://github.com/near/nearcore/pull/5271++

[2021-11-15 23:51] bowenwang1996 commented on #4686
Fast forward time should be possible to do now with #5123

[2021-11-15 23:52] bowenwang1996 commented on #5245
Given that @yordanmadzhunkov is busy with other things, I'll assign this to @pmnoxx

[2021-11-15 23:54] bowenwang1996 commented on #5251
Not sure. Assigning it to @nikurt since he wrote the test

[2021-11-16 00:18] bowenwang1996 commented on #5263
Not sure what happened

[2021-11-16 01:41] pmnoxx commented on #5251
@nikurt All metrics inside `metrics`, for example, `metrics::CHUNKS_RECEIVING_DELAY_US` are static variables.
Those tests are flawed, they will continue failing, because there may be another thread accessing those values during the test.

The best course of action would be to make `metrics` a shared object between multiple threads or maybe we should disable those tests for now.

[2021-11-16 01:43] pmnoxx commented on #5251
Btw, I'm replacing old style of `metrics` with a new one. See https://github.com/near/nearcore/pull/5265 for details.
It may be a good idea to do something similar.

[2021-11-16 01:49] pmnoxx commented on #5251
@nikurt Let's ignore those tests for tests for now https://github.com/near/nearcore/pull/5272.
They have blocked many PRs from being merged.

[2021-11-16 01:49] pmnoxx commented on #5244
@nikurt Let's ignore those tests for tests for now https://github.com/near/nearcore/pull/5272.
They have blocked many PRs from being merged.

[2021-11-16 02:16] pmnoxx opened #5274 "Improve merging changes to CI"
I noticed a few issues with CI
- `S-automerge` doesn't automatically rebase changes. Even if I click manually 'update branch'. Then if anyone merges PR meanwhile the change will not merge. This ended me having to manually click "update merge" many times in many requests. In the end, out of 16 approved changes, which were ready to merge, had `S-automerge` I only manged to merge 2 of them.

- Even i

[2021-11-16 05:19] pmnoxx commented on #5268
I updated bulldozer to 1.14

Here is a log from one PR, which should haven rebased, but wasn't.
https://github.com/near/nearcore/issues/5254
[code]

[2021-11-16 05:20] pmnoxx commented on #5268
Notes:
- bulldozer noticed `S-automerge`.

[2021-11-16 05:41] pmnoxx commented on #5268
Oh, I just found "Pull request is from a fork, cannot keep it up to date with base ref"

https://github.com/palantir/bulldozer/issues/66

[2021-11-16 05:53] pmnoxx commented on #5268
Ok, I'll mark this as closed. `bulldozer` doesn't support updating branches in forked repos.

[2021-11-16 05:53] #5268 closed

[2021-11-16 12:18] #5244 closed

[2021-11-16 12:38] nagisa opened #5291 "Figure out what kind of machine we're targetting (and document it)"
Right now `wasmer` unconditionally emits some AVX1 instructions, which is typically considered to be outside of what `x86_64` means. More precisely this would fall into the newly coined `x86_64-v3` feature level as described [here](https://gitlab.com/x86-psABIs/x86-64-ABI/-/blob/a0ea20c1a611e51891ea71687ba844abb86e987b/x86-64-ABI/low-level-sys-info.tex#L20-53).

`x86_64-v3` is approximately a Hasw

[2021-11-16 13:34] nagisa opened #5295 "Investigate different representations for the gas book-keeping"
Right now maintaining the gas counters involves a structure with 3 distinct fields as seen [here](https://github.com/near/wasmer/blob/df9afaf9f1aae4c83b9599064a685b809a272681/lib/types/src/types.rs#L650-L666). This specific format necessitates an operation such as (pseudocode)

[code]

at the beginning of every basic block. Given the frequency at which this code is called, this is still going to b

[2021-11-16 14:42] nikurt commented on #5194
Stuck on an issue with the RocksDB interface.

If I open a RocksDB via `open_cf_for_read_only`, that uses default column options, which don't set `merge_operator` and result in an error `Error { message: "Invalid argument: merge_operator is not properly initialized." }` when performing a `get_cf_opt` from the `RocksDB` object: https://github.com/near/nearcore/blob/fdb377f923f6144c2e105177d5b6fcb83

[2021-11-16 15:21] nikurt commented on #5194
Adding a read-only equivalent of `open_cf_descriptors` to the RocksDB interface, makes state-viewer actually work in read-only mode.

[2021-11-16 15:43] mina86 commented on #4937
Closing as duplicate of https://github.com/near/nearcore/issues/5112

[2021-11-16 15:43] #4937 closed

[2021-11-16 15:51] nikurt commented on #5194
Prototype PR for making state-viewer read-only: https://github.com/near/nearcore/compare/nikurt-stateviewer-readonly?expand=1

[2021-11-16 18:16] Longarithm commented on #5094
Regarding diffs: today I found that `max_transaction_size` field is taken as default value. If I want to put it into config, I have to put it into each config instead of only the first one.

[2021-11-16 22:22] bowenwang1996 commented on #5291
Is this actually what we want? I believe there may be places where we could benefit from having AVX512 instructions. We may want to evaluate this holistically before committing to a specific version of x86_64

[2021-11-16 22:47] nagisa commented on #5291
Conditionally, as detected at runtime (via e.g. [`is_x86_feature_detected`](https://doc.rust-lang.org/stable/std/macro.is_x86_feature_detected.html)), we could use pretty much any instruction set extensions we want (and we likely do so through primitives such as `memcpy`).

This issue is more about the baseline requirements (what kind of features can we expect to be available unconditionally). AVX

[2021-11-16 23:14] bowenwang1996 commented on #3201
@EgorKulikov this is done right?

[2021-11-16 23:26] bowenwang1996 commented on #5291
I see. Makes sense

[2021-11-17 00:00] pmnoxx opened #5304 "Random build failure due to `std::time::Instant::duration_since`"
@matklad Can you take a look?

[code]

https://buildkite.com/nearprotocol/nearcore/builds/7208#18658c9e-78f3-4a17-8a97-b22cbdacdf14

[2021-11-17 04:35] riversyang opened #5310 "`PrepareError` occurred when call or view contract function"
When call or view functions of a contract which written in `near-sdk-rs` v3.1.0, a `PrepareError` occurred and the contract can not work anymore. The sample error message are as the following:

[code]

[code]

Please refer to https://github.com/octopus-network/octopus-appchain-anchor/tree/integrate-beefy-light-client for source code.

It can be compiled locally and can be deployed by `near-cli`.

[2021-11-17 04:37] bowenwang1996 commented on #5310
@matklad @nagisa please take a look. Thanks!

[2021-11-17 04:39] think-in-universe commented on #5310
The error comes from here: https://github.com/near/nearcore/blob/2c0703cafc871750eaea74e41bb2401dcce0ab6b/runtime/near-vm-runner/src/prepare.rs#L99

[2021-11-17 07:08] pmnoxx commented on #4771
I created a benchmark https://github.com/near/nearcore/pull/5312/files

It may be useful to try different database configuration.

[2021-11-17 07:20] pmnoxx commented on #4771
The database is becoming slower and slower as number of keys grows
[code]

[2021-11-17 07:21] pmnoxx commented on #4771
@bowenwang1996 @mm-near  @matklad @mina86 You can play with some database setting to try to make it better.
all are inside `db.rs`.

[2021-11-17 08:21] pmnoxx commented on #4771
I added extra stats
[code]

With `3.727µs` we are doing 268249 ops/s. That's considered quite good for a database.
Stats from https://github.com/facebook/rocksdb/wiki/Performance-Benchmarks#test-1-bulk-load-of-keys-in-random-order stop results with half of that value. Those our production machines are probably 2-3 slower than my desktop.

Ssds are able to achieve 300k IOPS (https://www.enterprises

[2021-11-17 08:27] pmnoxx commented on #4771
Here are some guides on optimizing rocks db: https://github-wiki-see.page/m/facebook/rocksdb/wiki/RocksDB-Tuning-Guide

Btw,
[code]
Seems quite low. We have a lot of open columns, closing files and opening them could cause performance issues.

It may be a good idea to check number of open files on live node.

[2021-11-17 08:28] pmnoxx commented on #4771
It's also likely that something like compaction not being configured right, may be causing huge latency spikes, likes one I saw in benchmark.

[2021-11-17 10:11] nagisa commented on #5310
The `beefy-light-client` crate does indeed generate the following wasm imports:

[code]

which are not allowed. These are coming in through the attempt to use a javascript implementation of the `getrandom` [here](https://github.com/octopus-network/beefy-light-client/blob/2babc60dce5227b6e2fd7fb28ca2ebcbe788a589/Cargo.toml#L14). I don't believe this to be a contract runtime issue.

[2021-11-17 10:17] matklad commented on #5156
I guess the right home for that doc is https://nomicon.io/ChainSpec/NetworkSpec.html (and network spec should probably be lifted one level up and become a sibling of `ChanSpec`)

[2021-11-17 10:18] nagisa commented on #5310
Except perhaps that we could output errors that are more descriptive.

[2021-11-17 10:36] matklad opened #5315 "Make sure that contract execution error have descriptive error messages"
Some of the error we emit in contract runtime do not carry text messages explainig what's wrong:

https://github.com/near/nearcore/blob/14f08a72b4e61f44f44d10ebf86318120847ccbb/runtime/near-vm-errors/src/lib.rs#L124-L149

For example, when there's an invalid import, we don't say *which* import is invalid. We should fix it, as bad errors make for bad devx.

Some notes:

* we don't need to worry abo

[2021-11-17 10:37] matklad commented on #5310
Yeah, it's definitely a bug that we erase the information about what's wrong exactly. Opened https://github.com/near/nearcore/issues/5315 for that.

[2021-11-17 10:37] #5310 closed

[2021-11-17 10:44] pmnoxx opened #5316 "TODO: Rewrite RouteBackCache code"
We should rewrite RouteBackTable. It's implementation may or may not be an issue.

TODO:
- [ ] add stats to see if the edge cases are happening in the production
- [ ] there is a logic, that chooses a peer with most messages, and removes 100 of them at once, It could be that better to remove choose the one most routes, remove one messages, and repeat this process 100 times
- [ ] datastructures can

[2021-11-17 10:55] matklad commented on #5304
Oh wow, so this actually panics in Cargo during the build? I guess on our side the best person to look into this is @chefsale -- this error means that the machine we run the build on is buggy. That is, this is usually a bug in OS (which promises to return a monotonic time, but fails), or in hypervisor (which emulates a clock device which promises monotonic time, and then fails).

[2021-11-17 10:55] matklad commented on #5304
I guess it would be useful (mainly for folks at rust-lang/rust) to know various low-level things here like kernel version, CPU version, hypervisor version.

[2021-11-17 11:24] pmnoxx opened #5317 "Stop using lazy_static with near_metrics::Result<IntCounter>>"
We should continue https://github.com/near/nearcore/pull/5265
and stop using  ` Lazy<near_metrics::Result<IntCounter>>` and replace with ` Lazy<IntCounter>` everywhere.

@matklad

Progress
- [x] near-network https://github.com/near/nearcore/pull/5265
- [x] chain/chain https://github.com/near/nearcore/pull/5318
- [x] chain/json* #5323
- [ ] Split full PR https://github.com/near/nearcore/pull/5321

[2021-11-17 12:27] nagisa commented on #5105
So, after some investigation, the configurations that we do use are definitely not consistent. First of all, both `near-vm-runner` and `wasmer` use `wasmparser`. However the versions of `wasmparser` used are different (`near-vm-runner` uses `0.51` and `wasmer` utilizes the `0.78` release instead.

I'm not sure quite yet what's the reason behind the double verification (maybe we could remove one of

[2021-11-17 12:34] matklad commented on #5105
Yeah, the plan looks good to me! I guess I would maybe start with adding some explicit tests for not-enabled features, so that it's easy to see that the refactor is correct.

Couple of potentially related things:

* between our validation and wasmer, we also run instrumentation via pwasm, and that might impose it's own limits
* there's also an issue of implementation limits, which feel similar. Do

[2021-11-17 12:35] matklad commented on #5105
Also, figuring out if maybe we should specify `deterministic: true` is an obvious follow-up.

[2021-11-17 12:48] matklad commented on #5105
Oh, this bit I am unsure about -- in an ideal world, validation would be independent of the engine, which would allow for swapping the engines. So, we'd validate wasm in the same way, and then run it using some kind of `new_unchecked` function from a specific engine, or maybe run the second validation, but then assert that the results are consistent.

[2021-11-17 14:03] mina86 opened #5322 "`routing::test_dropping_routing_messages` test is broken"
[code]

This hasn’t been caught because the test is guarded by a `cfg(feature = "test_features")` and since we don’t enable that feature on BuildKite the test has not been executed.

[2021-11-17 14:34] mina86 commented on #5322
The test passes on nightly so it seems it should be guarded by one of the `protocol_feature` in addition to `test_features` but I don’t quite know which one. I’ve established that the following passes:

[code]

[2021-11-17 14:35] pmnoxx commented on #5322
@mina86 Thanks, I'll take a look.

[2021-11-17 14:37] pmnoxx commented on #5322
That's most likely related to `fn ping_jump() ` randomly failing.

[2021-11-17 14:37] pmnoxx commented on #5322
This test sometimes works, sometimes fails.

[2021-11-17 14:42] pmnoxx commented on #5322
@mina86 @matklad @chefsale  For some reason I can't capture output of this test to a file, I tried:
[code]

[2021-11-17 14:56] mina86 commented on #5322
Your redirections are in the wrong order, do `>/tmp/out 2>&1`.

[2021-11-17 15:00] riversyang commented on #5310
It's very helpful to know the cause. Already made our contract working by adding a custom `getrandom` function. Thank you!

[2021-11-17 15:20] pmnoxx commented on #5322
@mina86 Thanks, I figured out the issue. I'll have to rewrite the test.

[2021-11-17 16:22] pmnoxx opened #5327 "Random test failure `nearcore::stake_nodes::test_inflation:`"
@bowenwang1996 Any ideas?

https://buildkite.com/nearprotocol/nearcore/builds/7326#e9b4abc3-5de8-4c7b-9246-c5eef7b11014

[2021-11-17 16:24] pmnoxx commented on #5327
@nikurt Can you take a look?

[2021-11-17 16:25] pmnoxx commented on #5327
[code]

[2021-11-17 16:40] #5322 closed

[2021-11-17 16:47] matklad opened #5328 "Reformat protocol features in Cargo.tomls to be split across lines"
This list (and many other similar ones) is pretty hard to modify:

https://github.com/near/nearcore/blob/07dadeac0a4db8a1ff448fcf1174e706badf54eb/core/primitives/Cargo.toml#L47

we should split it across several lines.

[2021-11-17 17:44] olonho opened #5329 "Limit amount of entities in the smart contract"
Smart contract is essentially a WASM program which has well defined set of entities (functions, imports, globals etc), and although WASM spec imposes certain limitations on those values we may want to put our own limits on those entities to make sure compile and execute quickly.

So far this issue is mostly for discussions.

[2021-11-17 19:06] pmnoxx commented on #5251
Closes by #5272

[2021-11-17 19:06] #5251 closed

[2021-11-17 19:11] stakefishPaulD opened #5331 "Panic after upgrade to 1.22"
**Describe the bug**
Errors in logs after upgrading validator to 1.22

**To Reproduce**
upgrade binary  and /neard run

**Expected behavior**
Validator should validate blocks

**Screenshots**
neard[910]: thread 'main' panicked at 'index out of bounds: the len is 1 but the index is 1', chain/epoch_manager/src/lib.rs:1193:26

**Version (please complete the following information):**
- nearcore commit

[2021-11-17 19:19] mzhangmzz commented on #5331
could you provide the full neard log here, if possible?

[2021-11-17 19:47] pmnoxx opened #5336 "CI doesn't cover tests under `test_features`."
There was a test failing in `network/routing.rs` (https://github.com/near/nearcore/issues/5322). We didn't see that test fail because we don't run CI with those features enabled.

We should address that.

@chefsale

[2021-11-17 20:24] kucharskim opened #5339 "Protocol upgrade related metrics"
I would like to see via Prometheus metrics (`127.0.0.1:3030/metrics`) how NEAR protocol_version is progressing. Not sure can granularity be achieved within the epoch and not on the epoch boundary, but if that would be possible it would be great, like:

 $ curl -s 127.0.0.1:3030/metrics | grep -e ^near_protocol_upgrade_progress
 52

Above is just an example that 52% of validators upgraded to the ne

[2021-11-17 20:27] nikurt commented on #5339
This issue is complementary to https://github.com/near/NEPs/issues/205 and provides a short-term fix.

[2021-11-17 20:31] kucharskim commented on #5339
With configurable number of epoch for upgrade I think this feature request has even more sense. Especially the second type of metric requested here - blocks (seconds) left before new protocol version is active. That creates clear signal for the node runner, time is running out for an upgrade.

[2021-11-17 20:36] kucharskim opened #5340 "Should nearcore exit with error code after upgrade panic"
Binary is still running but is useless and fills the logs with flood of mailbox errors.
[code]

[2021-11-17 20:46] kucharskim commented on #5331
We got the same issue today :|

[2021-11-17 20:58] kucharskim commented on #5331
[neard protocol upgrade 1.22.0 panic epoch manager logs](https://generic.mp/r/42ou-bdyy-3awo-raxv-523i-qimd-c4za/)

[2021-11-17 21:13] bowenwang1996 commented on #4771
@Longarithm please take a look at @pmnoxx's benchmark

[2021-11-17 21:18] bowenwang1996 commented on #5316
Could you elaborate why we need to rewrite it and what the plan is?

[2021-11-17 21:24] pmnoxx commented on #5316
@bowenwang1996 Ok, I added a plan

[2021-11-17 21:28] pmnoxx commented on #4771
@bowenwang1996 @Longarithm

In the test I write 100k or 1m or 10m keys to the database, but I'm only able to read 48.5% of them back successfully. Something seems broken.

[code]

[2021-11-17 21:35] mzhangmzz commented on #5331
@kucharskim thanks! Could you rerun with`RUST_BACKTRACE=1` so that it prints the full backtrace?

Is your node a validator or non-validator node?

[2021-11-17 21:40] bowenwang1996 commented on #5340
I think this is related to #3266. Assigning it to @mina86

[2021-11-17 21:56] kucharskim commented on #5331
This was from a validator node. I don't have database which triggers this issue. I needed to restore data from secondary node to bring validator online. Sorry, didn't do a backup of the problematic `data/` directory at the time.

[2021-11-17 23:10] mzhangmzz commented on #5331
@kucharskim it's ok, thanks for the report. I think I figured out the issue.

It's because you ran your node with 1.21.0 until after the epoch boundary when the upgrade is already scheduled. At the end of epoch T, the node decides the epoch information for epoch T+2 and store that information in the database. In the case for sharding upgrade, if you ran 1.21.0, since the binary is not updated, the

[2021-11-18 00:38] pmnoxx opened #5344 "Clock doesn't have unit ut"
**Describe the bug**
Please provide a short description of the bug.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please complete the following information):**
- nearcore commit/branch
- rust version (if local)
- docke

[2021-11-18 00:39] pmnoxx opened #5345 "Clock doesn't have unit tests"
We don't have any tests for `Clock` in `core/primitives/src/time.rs`.
Let's add a bare minimum.

[2021-11-18 01:45] mina86 commented on #5344
Looks like mistakenly failed duplicate of https://github.com/near/nearcore/issues/5345

[2021-11-18 01:45] #5344 closed

[2021-11-18 02:54] bowenwang1996 opened #5347 "Allow specifying the number of epochs for data retention in config"
Currently for a regular node the number of epochs for which we retain data is fixed (5 epochs) and we have received requests to make that flexible, since some partners have requirements on data retention.

[2021-11-18 04:15] kucharskim commented on #5331
Yes, I figured I needed restore from a snapshot / another machine. Is there a way to avoid this problem inside `nearcore` codebase, so this will never happen again?

[2021-11-18 04:18] kucharskim commented on #5339
Giving comment in https://github.com/near/nearcore/issues/5331#issuecomment-972243814 with second type of metric (blocks left for protocol switchover) it would be already too late and NEAR would panic() anyway, even if upgrade is done within last 2 epochs.

[2021-11-18 04:23] pmnoxx commented on #5347
@bowenwang1996 It may be a good idea to mention where that constant is stored in the code. That would allow people to judge how easy it is.

[2021-11-18 04:30] pmnoxx commented on #5347
@bowenwang1996 Is this for `neard` executable?

[2021-11-18 10:09] jwbd1 opened #5354 "Near archive nodes stuck on block 52890664"
**Describe the bug**
Near archive node stuck on block 52890664. Node was updated on time to 1.22.0. No errors in logs, just getting 0.00bps at this block.

**To Reproduce**
Update Near archive to 1.22.0. Allow it to continue syncing normally. At block 52890664, the node stops syncing.

**Expected behavior**
The node should continue to sync as per normal

**Screenshots**
[code]

**Version (please c

[2021-11-18 12:37] mina86 opened #5357 "`routing::archival_node` is flaky"
[code]

Sometimes passes, sometimes fails.  For example see [7398](https://buildkite.com/nearprotocol/nearcore/builds/7398) and [7404](https://buildkite.com/nearprotocol/nearcore/builds/7404) where I’ve re-run cargo test which passed the second time around.

[2021-11-18 14:29] #5105 closed

[2021-11-18 14:59] lcgogo commented on #5331
Thanks, will try this snapshot.
[code]

[2021-11-18 17:24] #5336 closed

[2021-11-18 22:24] pmnoxx opened #5368 "Random test failure `routing::archival_node`"
I've seen a random test failure for `routing::archival_node`
[code]

https://buildkite.com/nearprotocol/nearcore/builds/7514#4daa7b02-cc4c-4479-b53e-b4b7fc633d32

That's a test for `networking` so I'll be most likely fixing it.
Adding issue not to forget.

[2021-11-18 22:24] #4719 closed

[2021-11-18 22:26] pmnoxx opened #5369 "build system broke with `error: the lock file /var/lib/buildkit`"
[code]

https://buildkite.com/nearprotocol/nearcore/builds/7527#e4bb3094-6564-4ffd-a475-6c76c029d740

https://buildkite.com/nearprotocol/nearcore/builds/7522#942e1f27-6af7-4909-88eb-4b045f380635

@chefsale Can you take a look?

[2021-11-18 22:36] bowenwang1996 commented on #5354
I think you upgraded too late and the node is stuck trying to splitting the state. You can either wait for that to finish (may take 12 hours). Or you can download the snapshot

Yes

[2021-11-18 22:36] #5354 closed

[2021-11-18 22:45] pmnoxx opened #5370 "Random test failure `sharding_upgrade::test_shard_layout_upgrade_cross_contract_calls`"
I saw `sharding_upgrade::test_shard_layout_upgrade_cross_contract_calls` fail randomly.

[code]

https://buildkite.com/nearprotocol/nearcore/builds/7518
 https://buildkite.com/nearprotocol/nearcore/builds/9052#5f85dc86-1aa6-442b-9559-d6447862478d
 https://buildkite.com/nearprotocol/nearcore/builds/9266
https://buildkite.com/nearprotocol/nearcore/builds/9434#a0b21d3e-24b3-406c-bcb1-e70e1db0fd38

I

[2021-11-18 22:45] bowenwang1996 commented on #5331
There is something specific to this upgrade that is uncommon: the node acts differently in the epoch *before* the network actually switches to the new protocol version depending on the client version. In some sense it is not a "stateless" upgrade.

[2021-11-18 22:48] pmnoxx commented on #5370
@mzhangmzz Any ideas? I see you created  the test. I'll ask this issue to you.

[2021-11-18 23:06] bowenwang1996 commented on #5368
Duplicate of https://github.com/near/nearcore/issues/5357. Please check whether an issue is already created before you create one

[2021-11-18 23:06] #5368 closed

[2021-11-18 23:50] mzhangmzz opened #5371 "Reorganize tests to save compile time"
Currently, many tests in the code are located in a separate crate, which hurts compile time. For example, `chain/client/tests`. We should rethink unit tests vs integration tests and move unit tests to within the crate, for example, move `chain/client/tests` to `chain/client/src/tests`, as per [https://matklad.github.io/2021/02/27/delete-cargo-integration-tests.html](https://matklad.github.io/2021/

[2021-11-18 23:50] mzhangmzz commented on #5371
cc @matklad

[2021-11-18 23:51] mzhangmzz commented on #5371
related issue https://github.com/near/nearcore/issues/5149

[2021-11-19 00:06] pmnoxx commented on #5371
@mzhangmzz I agree. There are other benefits to doing that as well. I often looks at tests within the module for examples on how the code is used. This makes it easier to understand the code.

[2021-11-19 00:30] #5369 closed

[2021-11-19 00:31] pmnoxx commented on #5369
nvm, I figured it out.

[2021-11-19 02:42] pmnoxx opened #5372 "Fix cargo udeps - remove unused packages"
I noticed that `cargo +nightly udeps` is not working for us.

[code]

According to https://github.com/est31/cargo-udeps
Adding something like this is enough

[code]

I couldn't this to work on `wasmer-runtime-core-near`. @chefsale Could you help me with that?

[2021-11-19 02:50] pmnoxx commented on #4157
@bowenwang1996 We should refactor our code base to get rid of unnecessary allocations first.
We started doing the work for `near-network`. There were a couple of PRs, but we should do it for the rest of the code base.

@matklad Can you take a look at `near-rust-allocator-proxy` whenever you see any obvious ways to improve performance?

[2021-11-19 08:51] dimaelkhsos opened #5377 ".near/mainnet/data" thread 'main' panicked at 'Failed to open the database: DBError(Error { message: "Corruption: Can't access /3700449.sst: IO error"
**Describe the bug**
.near/mainnet/data"
thread 'main' panicked at 'Failed to open the database: DBError(Error { message: "Corruption: Can't access /3700449.sst: IO error

**To Reproduce**
1. downloaded archive data for mainnet from "https://near-protocol-public.s3.ca-central-1.amazonaws.com/backups/mainnet/archive/data.tar"
2. I switched to github release version 1.22.0
3. Compiled the neard
4. S

[2021-11-19 09:51] pmnoxx opened #5379 "Random test failure `run_nodes::run_nodes_4_4_2`"
Today a build failed due to a flunky test `run_nodes::run_nodes_4_4_2`

https://buildkite.com/nearprotocol/nearcore/builds/7598#c6d4c3ca-c79e-4059-8dce-2955db50004b

[code]

[2021-11-19 09:53] pmnoxx commented on #5379
@ilblackdragon Can you take a look?

[2021-11-19 10:31] #5372 closed

[2021-11-19 12:00] matklad commented on #4157
I wonder if the original premise of "We saw recently performance issues related to allocations in our code" was invalidated by #4988? Ie, we were running glibc allocator in prod, we swithced to jemalloc since, this should have completely changed the observed behavior.

[2021-11-19 12:22] DDeAlmeida commented on #5098
Did you have some news about this issue ?

[2021-11-19 12:23] matklad commented on #4157
https://github.com/near/near-memory-tracker/issues/26

[2021-11-19 13:44] kucharskim commented on #5331
This should be communicated very clearly that upgrade needs to be done before 80% epoch boundary.

[2021-11-19 14:54] kucharskim commented on #5377
Did that error happen after some uptime of `neard` or straight after starting? I would be good if you provide whole logs from starting until panic, with timestamps. It's hard to understand what happened here.

[2021-11-19 15:23] mzhangmzz commented on #5331
@kucharskim yes you are definitely right. It is our mistake that we overlooked this. Fortunately such big upgrades won't happen for a while and we are working on ways to make big upgrades smoother next time, for example, https://github.com/near/NEPs/issues/205

[2021-11-19 15:43] bowenwang1996 commented on #5379
Assigning to @mm-near to assign this to someone

[2021-11-19 17:03] bowenwang1996 commented on #5098
I think it is fixed. @mhalambek please confirm

[2021-11-19 17:10] bowenwang1996 commented on #5377
I think this may be related to #5098 cc @mhalambek

[2021-11-19 18:02] pmnoxx opened #5386 "Runtime fuzzing is broken"
This commit https://github.com/near/nearcore/pull/5252/files broke runtime fuzzing

[code]

See https://github.com/near/nearcore/pull/5385 for Fix

[2021-11-19 18:13] pmnoxx commented on #5386
The fix works
[code]

@nagisa Can you confirm this works for you as well?

[2021-11-19 18:15] pmnoxx opened #5388 "Random test failuire `tests/sanity/db_migration.py`"
https://buildkite.com/nearprotocol/nearcore/builds/7643#890f7ccf-0837-4703-b901-37cd35bd6282

[code]

[2021-11-19 18:16] pmnoxx commented on #5388
@mina86 I see you were editing this test last. Could you take a look?

[2021-11-19 18:24] pmnoxx opened #5389 "Random test failure `routing::archival_node`"
We have seen a random test failure for `routing::archival_node`

https://buildkite.com/nearprotocol/nearcore/builds/7640#d7e5d254-c79d-443b-9a07-58df975f5130

Plan:
- [ ] Add debug logs to `runner.rs` https://github.com/near/nearcore/pull/5390
- [ ] Add fix https://github.com/near/nearcore/pull/5639

[2021-11-19 18:24] pmnoxx commented on #5389
[code]

[2021-11-19 18:50] pmnoxx commented on #5389
I'll add debug logs to `runner.rs` first. This will make it possible to figure out what's going on based on logs:
https://github.com/near/nearcore/pull/5390/files

[2021-11-19 22:01] pmnoxx commented on #5371
@mzhangmzz  Based on  https://matklad.github.io/2021/02/27/delete-cargo-integration-tests.html
I see that for each crate, `(1+N)` binaries will be created, were
- 1 : binary will all tests inside `/src`
- N:  1 for each module in `/tests/`

We have 3 proposals:
A) keep as it is - (1+N) binaries needs to be build for tests.
Those tests will only use public api.
B) move tests from `/tests` to `/test

[2021-11-19 22:09] pmnoxx commented on #5371
By moving tests from `near-network` -> `/tests` to `/src/tests`.
I see an a decrease of number of packages to build from `767` to `765`.

A quick check shows 89 files.
[code]

That should decrease number of build targets from `767` to `678`. That is by 12%. I think that makes it a valid argument to go with `C`.

[2021-11-19 23:48] pmnoxx commented on #4157
@matklad
I should have made the description more clearly. I should have written:

"While doing benchmarking I saw performance degradation of loading genesis from json config. While having `memory_stats` feature enabled. That's due to extra work done in the allocator proxy, most likely atomic reads and write. "

[2021-11-19 23:50] pmnoxx commented on #4157
@matklad I updated the description to what I should have written.

[2021-11-20 00:10] kucharskim commented on #5098
How do you guys generate snapshots?

[2021-11-20 03:22] pmnoxx commented on #5371
@mzhangmzz Feel free to tag my in any future PRs or issue. I'm always happy to help.

[2021-11-20 03:23] pmnoxx commented on #5371
One note here. Sometimes we use "/src/tests" already. I would move tests into some other folder. For example "/src/integration_tests"

[2021-11-20 03:28] pmnoxx commented on #5371
@mzhangmzz Here is  proof of concept. Let's see if people like it.
I do !

[2021-11-20 03:31] pmnoxx commented on #5371
@matklad  @mzhangmzz  It looks like moving fine from `/tests` to `/src/tests` doesn't require you us to change imports in any other file.

I'm conviced. It's a good change. Here is an example: https://github.com/near/nearcore/pull/5398/files

Let me know if you want to do it, or whenever I should do it. It should be a simple change. If you don't have time, I can do it on `Monday`. Fell free to tak

[2021-11-20 03:38] pmnoxx commented on #5389
Let's ignore this test for now. I'll work on it next week, but I don't want people from merging.
https://github.com/near/nearcore/pull/5399

[2021-11-20 23:12] #5386 closed

[2021-11-21 09:24] frol opened #5405 "Rosetta RPC fails to delete an implicit account"
**Describe the bug**

Allegedly, Rosetta RPC cannot delete an implicit account that was just created (see the discussion https://github.com/near/nearcore/issues/5129#issuecomment-959894207). We need to reproduce the issue on our end first. Here is the script that we can use as a starting point: https://github.com/near/nearcore/pull/3301#issuecomment-695054301

**To Reproduce**

Create an account:

[2021-11-22 01:11] mina86 commented on #4726
@nikurt, you have the state on this. Should we just close this issue now that design of mocknet tests was changed?

[2021-11-22 09:57] #5266 closed

[2021-11-22 15:56] mzhangmzz commented on #5371
@pmnoxx I think whether a test should be put as unit tests or integration tests depends on what API they are testing (see @matklad comment here https://github.com/near/nearcore/pull/5343#issuecomment-974008963). In our codebase, I think that most tests access internal state instead of testing the public API, so they should be put as unit tests.

Feel free to take it over. This is not my idea to be

[2021-11-22 16:57] pmnoxx commented on #5371
Ok, great. I think this is a good change.

I just wanted to make sure we don't duplicated the work. In case you already had PR's written.

I included `PR` for doing it for `/chain`. Once (https://github.com/near/nearcore/pull/5398) gets approved I'll do it for other places.

[2021-11-22 17:02] matklad commented on #5371
To clarify, the advice is "for crates.io libraries, go with B, for applications, go with C".

The cool thing that it doesn't. When the compiler sees `#[cfg(test)] mod tests;` and you are not building the tests specifically, the compiler completely skips `tests.rs` file (eg, it can even contain syntax errors).

In other words, I feel strongly that we should go with C.

[2021-11-22 20:32] pmnoxx commented on #5371
Thanks, explanation.

Let's first do it for `/chain`  then for the rest of the code base.

[2021-11-22 21:04] pmnoxx opened #5423 "Good places to refactor"
The purpose of this issue is to track ant remaining refactoring that need to be done, created issue for. This is to make sure we don't forget really good comments. And, at the same time we limit scope of changes, so we don't do too code changes in one piece of code.

- [x] Rewrite `RateCounter` #5225
- [ ] Refactor `PeerStatsResult` https://github.com/near/nearcore/pull/5225/files#r754529253
[code

[2021-11-22 21:17] Longarithm commented on #4870
Done. Only `AccountCreationConfig::default()` is left but it does have the same values for all current usecases (probably except some tests).

[2021-11-22 21:17] #4870 closed

[2021-11-22 22:17] pmnoxx opened #5424 "`PeerManagerActor` rename `active_peers` to `connected_peers`"
Currently, we use term `active peer` inside `PeerManagerActor`. Based on our discussion
https://github.com/near/nearcore/pull/5230#discussion_r754600454 the usage of this term is confusing.

In `PeerManagerActor` `active_peers` refers to connected peers, or peers that we are in process of being connected.

I propose we rename `active peer` terminology to `connected_peer`.

[2021-11-22 22:46] bowenwang1996 commented on #5405
cc @mina86

[2021-11-22 22:54] bowenwang1996 commented on #4724
@Longarithm is this fixed?

[2021-11-22 23:16] bowenwang1996 commented on #5423
It is worth mentioning what kind of refactoring you refer to here. "Remaining refactorings" is not very descriptive.

[2021-11-22 23:18] Longarithm commented on #4724
No, it's far in the backlog.

[2021-11-23 00:26] pmnoxx commented on #5423
Yes, we can write a custom CI pipeline, which does the check.

[2021-11-23 01:51] #3863 closed

[2021-11-23 08:43] #4726 closed

[2021-11-23 11:31] pmnoxx commented on #4724
@Longarithm I think it's a good idea to refactor at the code. This data structure has already 17 fields, it would be more readable, if we should group code of those fields into logical components.

I see we have here bunch of accounts:
[code]

Something related to blocks:
[code]

Balance
[code]

This code could be more readable by organizing it better, and hiding some information behind structs. T

[2021-11-23 11:50] Longarithm commented on #4724
@pmnoxx I agree on that!

We could create sub-structures like `AccountContext`, `ChainContext`, `BalanceContext` and then simplify `VMContext` creations by invoking just `AccountContext::test()`, `AccountContext::default()`, etc.

[2021-11-23 14:13] frol commented on #4930
Yeah, we need to design the solution for the use-cases when you need to actually track the whole network, but cannot do it on a single physical machine anymore. Indexer is just one of the examples, but RPC services could also need it.

[2021-11-23 14:15] frol commented on #4462
We are going to implement a streamer service outside of nearcore using Indexer Framework: https://gov.near.org/t/indexer-as-a-service-proof-of-concept/4825

Also, some of the users may consider using TheGraph: https://thegraph.com/blog/graph-near

[2021-11-23 14:15] #4462 closed

[2021-11-23 14:18] frol commented on #2271
@bowenwang1996 it is not part of our priority for this quarter

[2021-11-23 14:26] #5119 closed

[2021-11-23 14:29] frol commented on #3183
This was actually addressed by @khorolets! https://github.com/near/docs/pull/811

Each JSON RPC endpoint has an exhaustive documentation about all the possible errors: https://docs.near.org/docs/api/overview

[2021-11-23 14:29] #3183 closed

[2021-11-23 17:29] evergreen-trading-systems opened #5431 "what is the difference between `IndexerExecutionOutcomeWithReceipt` and `IndexerTransactionWithOutcome`?"
I've read everything here https://nomicon.io/RuntimeSpec/Transactions.html still don't know the difference?

It is easier to ask the question than setup local node and send transactions inspecting logs.

[2021-11-23 17:43] pmnoxx commented on #5423
I updated the issue name / description to make it clear on what's going on.

[2021-11-23 20:45] pmnoxx commented on #5388
again
https://buildkite.com/nearprotocol/nearcore/builds/8025#e73a9bcc-6b91-4736-85f8-9cf4f99386e2

[2021-11-23 20:49] pmnoxx commented on #5388
Added a hotfix https://github.com/near/nearcore/pull/5439

[2021-11-23 21:13] frol commented on #1905
I feel we can close this issue on nearcore side now, and next quarter we will lay out the plans about `near-api-rs`

[2021-11-23 21:13] #1905 closed

[2021-11-23 21:29] frol commented on #5061
Just for the future reference, the issue was that the partners did not compile the node (indexer) with `--release` flag

[2021-11-23 22:42] mina86 commented on #5405
Based on test added in https://github.com/near/nearcore/pull/5441 Rosetta RPC can be used to create and then delete implicit accounts just fine.

[2021-11-23 23:40] #5388 closed

[2021-11-24 00:03] vans163 commented on #4462
Anywhere to get more info on the streamer service?

is it too complex to expose a localhost endpoint when running a localnode that just echos activity to the subscribed to contracts down a websocket? (no need for databases, indexers, etc)

Does TheGraph have a tcp/websocket/webtransport/etc streaming data endpoint?  Also I cant see to find NEAR on there
![image](https://user-images.githubuserconte

[2021-11-24 00:58] bowenwang1996 opened #5442 "Canary nodes broke due to too much network related logging"
On testnet canary nodes fail to sync any blocks and it appears to be caused by the nodes constantly printing the following
[code]

[2021-11-24 01:10] bowenwang1996 commented on #5431
@frol @khorolets

[2021-11-24 01:10] #5138 closed

[2021-11-24 02:22] pmnoxx commented on #5442
@bowenwang1996 Yes, that's a log I added recently to see if that happens.

Do errors end within 1 second?

[2021-11-24 04:05] khorolets commented on #5431
These are helper structures for indexer. They hold the corresponding pieces of information according to the structure name.

One holds Transaction and the ExecutionOutcome for that Transaction.

The other one holds Receipt and the ExecutionOutcome for it.

They were created to simplify indexing process for an "end user"

Otherwise a developer would need to get those entities from different fields

[2021-11-24 04:13] #4627 closed

[2021-11-24 11:16] #4691 closed

[2021-11-24 12:34] Rishabhraghwendra18 opened #5447 "Build status badge not visible in README.md"
Build status badge is not visible in Reamde.md file . I think it's due to incorrect url behind it .

[2021-11-24 12:35] Rishabhraghwendra18 commented on #5447
I will like to work on this issue if it's legitimate .

[2021-11-24 13:31] #5405 closed

[2021-11-24 14:05] #5193 closed

[2021-11-24 17:25] mzhangmzz commented on #1689
Implemented in https://github.com/near/nearcore/pull/5224

[2021-11-24 17:25] #1689 closed

[2021-11-24 17:26] mzhangmzz commented on #5331
Closing this now since we know the cause

[2021-11-24 17:26] #5331 closed

[2021-11-24 18:05] mina86 commented on #3266
I’m going to close this in favour of https://github.com/near/nearcore/issues/5340

[2021-11-24 18:05] #3266 closed

[2021-11-24 19:05] mzhangmzz commented on #5331
@kucharskim this bug won't be triggered again because we are not doing any sharding upgrade soon. We will take this into account for future upgrades though.

[2021-11-24 19:55] pmnoxx commented on #5442
In #5442 we added extra logging. A) We started printing a warning, when we send a message, that requires route back, but there is already a route back present. Meaning, that we are most likely sending a duplicated message. B) We did the same thing for all messages we receive that require call back.

[2021-11-24 19:56] pmnoxx commented on #5442
`Message` contains `(source, target, ttl, contrent)`

[2021-11-24 19:58] pmnoxx commented on #5442
That is likely a sub-optimal behavior, which increases overhead of the network.

[2021-11-24 20:42] rencryptofish opened #5452 "build fails for v1.22.0"
running `make release` getting the following build error

[code]

[2021-11-24 21:27] pmnoxx opened #5453 "re: `PeerActor`: `MAX_PEER_MSG_PER_MIN` limit is too high"
`MAX_PEER_MSG_PER_MIN` is defined in `PeerActor`.
It's described as "Maximum number of messages per minute from single peer".
There is an old TODO in the code:
[code]

[2021-11-24 22:06] #5431 closed

[2021-11-24 22:13] frol commented on #5405
It turned out that there is no issue on Rosetta implementation side. The root cause for the reported problem was NEAR Protocol design that does not support creation of an implicit account on account deletion (i.e. beneficiary account id MUST exist to receive the tokens from the deleted account)

[2021-11-24 22:32] frol commented on #4462
https://gov.near.org/t/indexer-as-a-service-proof-of-concept/4825

Yes, it is complicated when you think of re-connecting on let's say network failure. Would you expect to be able to specify the starting point when you connect to websocket? If that is your own service, you can setup Indexer Framework stream on every websocket connection, and you should be able to implement that yourself. Indexer F

[2021-11-25 01:06] bowenwang1996 commented on #5447
Sure. That would be great!

[2021-11-25 02:52] think-in-universe opened #5457 "1 block will be missing every 100 blocks"
**Describe the bug**

Some blocks could be skipped in the validation process. But as reported by some developers, it seems 1 block will be missing every 100 blocks, such as 52958941, 52959041, 52959141, etc.  Is this coincidence?

**DB Not Found Error** will be returned when querying the blocks.

[code]

Error

[code]

Since exactly 1 block is missing every 100 blocks, is it possible it's an bug?

[2021-11-25 06:28] Rishabhraghwendra18 commented on #5447
I can add but build metadata badge of shields.io is asking for some kind of identifier . Take a look [here](https://shields.io/category/build). May you provide me this identifier

[2021-11-25 06:58] chefsale commented on #5447
You can use:

 [![Build status](https://badge.buildkite.com/0eae07525f8e44a19b48fa937813e2c21ee04aa351361cd851.svg)](https://buildkite.com/nearprotocol/nearcore-release)

[2021-11-25 12:24] mina86 commented on #5452
Could you state which `rustc` version are you using? I.e. output of `rustc --version`?

[2021-11-25 13:17] #2483 closed

[2021-11-25 13:20] volovyk-s opened #5460 "ipv6 support"
**Describe the bug**
Localhost is resolved to an ipv6 address but the node is only listening on ipv4 addresses.

**To Reproduce**
Steps described in this issue: https://github.com/near/near-cli/issues/881

**Expected behavior**
Nodes should also listen on ipv6 addresses, such as :: in addition to 0.0.0.0.

**Additional context**
Originally reported and suggested by @nikurt in https://github.com/ne

[2021-11-25 13:32] mina86 commented on #5050
Closing in favour of https://github.com/near/nearcore/issues/5340 as it’s the same underlying cause.

[2021-11-25 13:32] #5050 closed

[2021-11-25 14:44] bowenwang1996 opened #5461 "host function logging may be too verbose"
Given that we log almost all the host function invocations now, neard logging feels too verbose. For example
[code]
I am not sure whether there is a need to log host functions such as `read_register`, `register_len`, and `value_return`. I think we should be more clear on why we need to log almost all host functions first and decide what to do accordingly. cc @matklad

[2021-11-25 15:57] nagisa commented on #5461
I would argue that `DEBUG` is not an appropriate default level to have set. I would argue that `INFO` or `WARNING` should be the most suitable default level for events in most use-cases and `DEBUG` or lower should only be set when actively investigating an issue of some sort.

That said, these look like span event logging, which `tracing-subscriber` logging implementation does not output by defaul

[2021-11-25 16:23] matklad commented on #5461
Yeah, that's not the default level, that's verbose level we use for some of our test nodes to more easily investigate issues on a live network.

That's primarily to get timing information. Sometimes stuff runs slower in production than we'd expect, and understanding what *exactly* is slow is pretty helpful.

[2021-11-25 16:28] matklad commented on #5461
cc @nikurt as the chief logging officer.

I see several options here:

* decide we don't actually need these logs (but then maybe hit another incident where they'd be useful).
* decide that some frequent and obvious host functions don't require logging, and add some filtering (in a sense, that's already what we do).
* up our logging game here, print only `INFO`s to the terminal, and redirect `DEBU

[2021-11-25 16:54] matklad opened #5465 "Fuzzing vm_runner next steps"
[https://github.com/near/nearcore/pull/5462](https://github.com/near/nearcore/pull/5462) implements basic vm_runner fuzzing. THere's a bunch of stuff we can do on top, in the order of increasing complexity:

*   `impl Arbitrary` for `VMContext`
*   [https://github.com/bytecodealliance/wasm-tools/pull/286](https://github.com/bytecodealliance/wasm-tools/pull/286) – allowing fuzzer to exercise host f

[2021-11-25 19:28] nikurt commented on #5460
@marcelo-gonzalez would you be interested in enabling the server on ipv6 addresses? That seems to be a rather easy fix.

[2021-11-25 22:48] mfornet opened #5471 "Expose Next Protocol Version on the Block Header."
Light Client implementations requires to be updated together with Regular Client when there is a protocol upgrade, in order to be able to keep validating new nodes. However, there is currently no way for Light Clients to learn when a new protocol version is adopted, requiring it to be updated exactly at the new epoch.

Protocol upgrades on NEAR become active once the new protocol version is adopte

[2021-11-25 23:40] bowenwang1996 commented on #5457
Not a bug. It was because there was a validator who was offline but did not stop their staking pool. They happen to occupy one seat and due to how blocks are produced now, there is a 100 block period upon which the validators rotate.

[2021-11-25 23:40] #5457 closed

[2021-11-25 23:43] bowenwang1996 commented on #5461
Given what @matklad suggested, assigning the issue to @nikurt :)

[2021-11-26 00:11] mfornet opened #5474 "Add test to keep track of Light Clients breaking changes"
Some protocol upgrades may affect the way Near Light Clients works. Usually this is not the case, but when this happens, it requires not only an upgrade for regular nodes, but also to Light Clients as well.

I suggest to have a test, where a minimal Light Client is implemented, and we see it runs without conflicts with each new protocol upgrade. The Light Client must be able to receive one block h

[2021-11-26 00:12] mfornet commented on #5474
In addition to the previous motivation, it would be really nice to have a Near Light Client implementation available for everyone interested in running such client.

[2021-11-26 01:51] mina86 commented on #5371
FYI, this broke expensive tests on NayDuck. NayDuck runs `cargo build --tests --target-dir target_expensive --features=expensive_tests` and expects test binaries to end up in `target_expensive/debug/deps` but now some of the executables are no longer there.

[2021-11-26 10:38] pmnoxx commented on #5371
@mina86 Thanks for fixing the issue. I see that we will have to make the same changes once we migrate `integration-tests` as well.

[2021-11-26 10:51] matklad commented on #5371
We also have some needless nested modules there:

https://github.com/near/nearcore/blob/bd3529dd518e8080b19a43c4bb66a3b10f10d6c4/chain/chain/src/tests/doomslug.rs#L1-L3

Would be nice (for purely aesthetic reasons) to replace that with

[code]

and unindent everything. Which again would require changing nayduck.

[2021-11-26 12:51] nagisa commented on #5291
In practice it seems that wasmer emits instructions requiring following features: `popcnt`, `cmov`, `sse`/`sse2` and `avx`.

`cmov` and `sse`/`sse2` are present in the base x86_64 target specification and is considered to be universally available. `popcnt` is only available in the `x86_64-v2` feature level and `avx1` only becomes available with `x86_64-v3`.

`x86_64-v2 + avx` is perhaps the best w

[2021-11-26 15:54] nagisa opened #5483 "`neard view_state` panics"
**Describe the bug**

I ran `target/release/neard view_state` after building it with `make release` and it panicked with an opaque message. The backtrace is:

[code]

This appears to be potentially an issue with how we use or define the clap arguments and structures. I would have expected the same output you get when running `neard view_state --help`.

**To Reproduce**

Run `neard view_state`.

**

[2021-11-26 16:06] nagisa opened #5485 "Missing, malformed or inaccessible config file(s) cause code panics"
_**Describe the bug**_

Running `neard` commands with an absent configuration file will cause `neard` invocations to panic, rather than to print out an error message and terminate regularly.

For example:

 1\. ./target/release/neard view_state peers
 Nov 26 17:56:58.036 INFO neard: Version: trunk, Build: crates-0.10.0-64-gdcab6f416-modified, Latest Protocol: 49
 thread 'main' panicked at 'Could n

[2021-11-26 17:40] mina86 commented on #5452
We generally require the latest rustc to compile the code. The actual minimal version the code expects is sest in [rust-toolchain.toml file](https://github.com/near/nearcore/blob/master/rust-toolchain.toml) and at the moment that’s 1.56. The error you’ve quoted indicates that you’re building the code with pre-1.54 compiler. Please update and then you’ll be able to build.

[2021-11-26 17:40] #5452 closed

[2021-11-26 18:44] bowenwang1996 commented on #5291
Yeah this seems reasonable to me

[2021-11-26 19:10] khorolets commented on #3803
OK, my bad, at that moment I've just checked `cargo build --release -p neard` and the posted the result.

Recently, I've decided to use `neard` and failed.

I guess it was expected according to different architecture, but still I guess it's worth mentioning in this issue.

[code]

/cc @matklad

[2021-11-27 05:15] pmnoxx opened #5498 "Make `nayduck.py` easier to use."
There a few improvements we can make to nayduck:
- [x] https://github.com/near/nearcore/pull/5495
- [x] https://github.com/near/nearcore/pull/5497
- [x] https://github.com/near/nearcore/pull/5500

[2021-11-27 05:38] pmnoxx opened #5499 "bug: Fix tests not working with python `3.8`"
Our tests are not compatible with python `3.8` and up. They work with `3.7`.

The command below fails:
[code]

This works
[code]

[2021-11-27 05:56] #5499 closed

[2021-11-27 07:59] pmnoxx opened #5503 "bug: test failure `./tests/sanity/restaked.py`"
Test `pytest/tests/sanity/restacked.py` fails,
Build got broken somewhere between `b0a80d9e9a0ba0cbc008b05634e6a21de024c9d3` commit
and `b0a80d9e9a0ba0cbc008b05634e6a21de024c9d3~200`.

Need to write a script to automatically find the issue.

works:
[code]
doesn't
[code]

[2021-11-27 08:15] pmnoxx commented on #5503
git log `b0a80d9e9a0ba0cbc008b05634e6a21de024c9d3~32`
[code]

[2021-11-27 08:17] pmnoxx commented on #5503
[code]

[2021-11-27 08:18] pmnoxx commented on #5503
[code]

[2021-11-27 08:22] pmnoxx commented on #5503
[code]
Fixes the issue.

[2021-11-27 08:34] pmnoxx commented on #5503
Routing table calculation used to happen every time a new edge gets added. Now it happens every second. That broke the test.

[2021-11-29 02:01] pmnoxx opened #5516 "feat: Separate `jsonrpc` from rest of codebase, to prevent `rpc`s to breaking due to refactoring."
We should refactor the code to separate `jsonrpc` from rest of the code base.

Steps 1: remove usage of serde from crates other than `jsonrpc`. `serde` is used mainly for `Serialize`/`Deserialize` of messages. `serde` is used in following creates, simply because `jsonrpc` needs to serialize to json, to read/write messages to network. By removing `serde` from those crates, we will be one step close

[2021-11-29 11:38] matklad commented on #5516
I'd make this even more fine-grained: conceptually, `jsonrpc` consists of two parts:

* definition of data types and routes that comprise our public, stable API
* implementation of actix-based client and server

It's important to separate data type definitions into a separate crate. That way, if someone wants use the API using a different networking stack (eg, based on blocking IO), they get to re

[2021-11-29 11:40] matklad commented on #5516
Also, from me personally: this is a hugely important bit of work which has multiplicative implications for both how effective are folks working at nearcore itself, as well as how robust is the ecosystem which builds on top of us. Kudos for spearheading the effort @pmnoxx !

[2021-11-29 11:49] matklad commented on #5516
cc @ChaoticTempest as one of the consures of RPC which cares a lot about Rust-level semver stability.

[2021-11-29 12:03] frol commented on #5516
@pmnoxx That might be not that clear of a win since actually some other projects might use and serialize those. Given that we publish near-primitives now with a 0.x semver-breaking releases, it is fine if we introduce breaking change since users will still be able to use whatever version they used before and rarely they actually need to upgrade near-primitives.

Well, `near-jsonrpc-primitives` is

[2021-11-29 12:52] frol commented on #5516
@miraclx FYI, I had a chat with @matklad and suggested that he collaborate with you on this near-jsonrpc-primitives refactoring. This has been on my radar for quite a while, and I feel we can make these small steps toward better granularity of nearcore project and finally get to the point where we are comfortable releasing near-jsonrpc-client-rs 1.0

[2021-11-29 14:42] matklad commented on #5516
Had a design discussion with @miraclx, the write up is here:

https://hackmd.io/WeCthH5LQqGrHiO1dxv6WA

The most important bit is next steps:

* Flatten view types into jsonrpc-primitive types
* Actively remove serde `Serilialize/Deserialize` impls from near-primitives
* Move serializable types from near-primitives to near-jsonrpc-primitives

Not that "remove nearcore dependencies from `jsonrpc-pr

[2021-11-29 15:31] kucharskim opened #5519 "1.23.0-rc.1 crashes early during startup on db migration from 29 to 30"
[code]

[2021-11-29 15:44] kucharskim commented on #5519
[code]

[2021-11-29 15:45] janewang commented on #5519
@nikurt @bowenwang1996 FYI on this issue

[2021-11-29 15:49] kucharskim commented on #5519
First upgrade attempt by the `neard` process:
[code]

[2021-11-29 16:49] matklad opened #5521 "Include regular_op_cost in tx status rpc"
https://github.com/near/nearcore/blob/eda132fe27aae7eb5c77c31bb7de4994d499b300/core/primitives/src/views.rs#L1010-L1038

I *think* this code currently doesn't set `regular_op_cost` (that is, gas burnt to run wasm itself), as that needs to be computed as the diff between total cost and and the sum of all explict costs.

For the reference, the breakdown is visible in RPC like this:

[code]

[2021-11-29 18:23] #4956 closed

[2021-11-29 19:30] pmnoxx opened #5527 "migrate `cached` to `lru`"
Let's use `lru` instead of `cached` in `near-network`

Reasons:
- performance - 50% more efficient than `cached` in my benchmarks
- api - `LruCache` uses more standard api name `put` / `get` etc.
- less dependencies - https://crates.io/crates/lru/0.7.0/dependencies vs https://crates.io/crates/cached/0.26.2/dependencies
- actively maintained
- more popuilar Recent: 1,427,174 vs Recent: 259,687 for

[2021-11-29 19:37] rencryptofish commented on #5452
ah got it thanks, what about adding something like for node runners:
https://docs.rs/version_check/latest/version_check/

[2021-11-29 19:45] nikurt commented on #4791
Did some experiments with commenting out genesis validation on an archival testnet node. Disabling validation reduces the time between running `neard` and it getting to opening the DB by 1 minute.

## Without validation: 59 sec and 47 sec

[code]

[code]

## With validation: 1m51s and 1m51s

[code]

[code]

[2021-11-29 20:58] mina86 commented on #5452
There shouldn’t be a need. Cargo should update the toolchain according to the `rust-toolchain.toml`. The reason it didn’t work for you is that prior to [rustup 1.24 (released in April 2021)](https://blog.rust-lang.org/2021/04/27/Rustup-1.24.0.html), the file [was not recognised](https://github.com/rust-lang/rustup/issues/2652) due to `toml` extension. Going forward it’ll work on its own.

[2021-11-29 22:26] mina86 commented on #5452
Actually I lied a bit. `rust-toolchain.toml` will take effect if Rust wast installed through `rustup` only (so for example won’t take effect if it came from system’s package manager). Still, it’s not clear whether adding `build.rs` just to check the version is overall a positive change.

[2021-11-30 10:06] frol commented on #4791
@nikurt Hmm, that is odd! Mainnet node starts in 4 seconds:

[code]

[2021-11-30 10:08] frol commented on #4791
I also remember my older experiments with quite ad-hoc switching the validation off and getting "instant" boot on testnet even in debug mode. I cannot take a minute to open the DB :thinking:

[2021-11-30 11:35] nikurt commented on #5519
Seems to be an isolated incident caused by a database corruption.

[2021-11-30 11:35] #5519 closed

[2021-11-30 12:55] lilses opened #5537 "Update `actix` dependency to stable"
**Describe the bug**
This is causing extremely frustrating issues when running an indexer because we need to `Cargo.lock` from https://github.com/near/near-indexer-for-explorer to build successfully. Previously didn't need to do this prior to https://github.com/near/nearcore/releases/tag/1.23.0-rc.1

[`actix 11-beta`](https://github.com/near/nearcore/blob/master/chain/indexer/Cargo.toml#L9) is now

[2021-11-30 13:37] frol commented on #4791
This is counter-intuitive to me. Is it debug or release build you test there?

[2021-11-30 16:08] nikurt commented on #4791
I'm experimenting with binaries built by `make neard`

[2021-11-30 16:19] mzhangmzz commented on #4956
Isn't this covered by the upgradable test? If we increase protocol version by more than 1 from the last stable release and some features will break because of that, the upgradeable test will not pass right?

[2021-11-30 16:36] frol commented on #5537
@miraclx May I ask you to take a look into this and potentially upgrade actix "one last time"? :pray:

The extreme test are:
* get nearcore compilable after Cargo.lock is removed
* get near-indexer-for-explorer compilable when Cargo.lock is removed

[2021-11-30 17:08] frol opened #5541 "Database migration from version 29 to 30 might be broken"
**Describe the bug**

I received a report from one of our Indexer Framework users that they arrived into a corrupted state database after applying the migration.

**To Reproduce**

I clarified their steps were the following:

1. had a running indexer node based on 1.22 release running on testnet in non-archival mode
2. compiled a new indexer with just updating the Cargo.toml / Cargo.lock with the

[2021-11-30 17:23] evergreen-trading-systems commented on #5541
I experienced the situation with `RUST_LOG=tokio_reactor=info,stats=info,telemetry=info,indexer_for_wallet=info,info,indexer=info` but the message displayed was `INFO indexer load config from /<path>`.

It stayed like this for 25 minutes. After 25 minutes I manually restarted.

From previous experience I was expecting to see messages such as `applying state`, `state [0: done]` or similar but did n

[2021-11-30 19:28] marcelo-gonzalez commented on #5460
hmm, so the problem in near/near-cli#881 I guess happens because the default config.json contains a hard-coded IPv4 addr (`"addr": "0.0.0.0:3030"`) rather than `"addr": "localhost:3030"`. So the default config only happens to match up with localhost on OSes where localhost resolves to IPv4.

Is the right fix to add an IPv6 port for everyone? Somehow to me it feels more natural to only listen on on

[2021-11-30 19:41] mina86 commented on #4956
I’d imagine you’re not guaranteed to hit the scenario in which the test breaks.

[2021-11-30 21:36] pmnoxx commented on #5516
To clarify, removing `serde` from `near-primitives` is not done for the purpose of improving compile time. As you noticed It's going to be needed to compile dependencies. However. those libraries use `serde` just, because `jsonrpc` needs them for purpose of doing message `serialization`/`deserialization` of `rpc` queries and responses. Removing of `serde::Serialize` / `serde::Deserialize` shows us

[2021-12-01 05:09] pmnoxx commented on #5516
@matklad @frol @miraclx Ok, the part 1 is done.

[2021-12-01 08:12] frol commented on #5541
Well, it turned out that the user aborted the node while it was doing the migration, so it is not a surprise that the data got corrupted. The action item here could be: prevent termination of the process during migrations (ignore signals), double-check why the migration logs were not printed.

I'm closing this issue since it is invalid (I missed the fact that the termination of the process was ini

[2021-12-01 08:13] #5541 closed

[2021-12-01 09:37] matklad commented on #4615
Was fixed!

[2021-12-01 09:37] #4615 closed

[2021-12-01 09:51] matklad opened #5560 "In the estimator, track instructions and IO separately"
Param estimatror currently tracks two kinds of resources:

* CPU instructions
* amount of bytes read and written

At the moment, we convert those to gas early on:

https://github.com/near/nearcore/blob/f820f4425139825e01270455adf935c80116813a/runtime/runtime-params-estimator/src/testbed_runners.rs#L84

This makes it hard to understand the overall cost profile -- in the end you see a high cost, but

[2021-12-01 10:33] matklad commented on #5560
This is how to run the estimator:

[code]

[2021-12-01 14:43] bowenwang1996 commented on #4791
@nikurt we probably should avoid loading the genesis file itself in unsafe start given that testnet genesis is quite large. Also, we may even want to make this the default behavior if it is not the first time the node starts since it is very rare that genesis changes. If that actually happens, it seems to me that it is fine to require manual intervention.

[2021-12-01 14:46] bowenwang1996 commented on #4761
@pmnoxx please take a look

[2021-12-01 18:59] mzhangmzz opened #5563 "We expected `peer_id` to belong to a component warnings"
I started a new testnet rpc node recently and I saw the log is flooded with these warnings

[code]

[2021-12-01 18:59] mzhangmzz commented on #5563
cc @mm-near @pmnoxx

[2021-12-01 20:24] chefsale commented on #5109
Created a PR to upgrade: https://github.com/near/nearcore/pull/5565, after issues with CI resolved.

[2021-12-01 21:23] pmnoxx commented on #5563
@mzhangmzz Hey, thanks. It turns out that we have been deleting the same value from disk storage multiple times.
This should fix the issue: https://github.com/near/nearcore/issues/5563

[2021-12-01 21:33] mzhangmzz commented on #5563
Thanks for looking into this! You might have posted the wrong link for a PR though

[2021-12-01 21:44] pmnoxx commented on #5563
@mzhangmzz Hey, thanks. It turns out that we have been deleting the same value from disk storage multiple times.
This should fix the issue: https://github.com/near/nearcore/pull/5566

[2021-12-01 21:44] pmnoxx commented on #5563
There is also a small bug, where the structure will not be cleaned properly:
https://github.com/near/nearcore/pull/5567

[2021-12-01 22:58] pmnoxx commented on #4761
@bowenwang1996 That's a test which was run on `27th Aug`. We fixed a couple of bugs causing random failures related to `runner.rs`. At, that time, we didn't have proper debug logs, allowing us to pinpoint the issue. I'll close this PR as fixed, if that issue happens again, we can reopen it.

[2021-12-01 22:58] #4761 closed

[2021-12-01 23:06] pmnoxx opened #5569 "Random test failure `/var/lib/buildkite-agent/.yarn/yarn.sh` not found"
We have seen a random test failure

[code]

See: https://buildkite.com/nearprotocol/nearcore/builds/8856#2324a9fc-f73e-445b-a295-30fb67baa48c

[2021-12-02 13:33] bowenwang1996 commented on #442
@matklad @nagisa curious what your thoughts are on this topic

[2021-12-02 16:01] mzhangmzz opened #5592 "ci-testnet deploy script stops working"
https://github.com/near/near-ops/blob/master/deploy-ci-testnet.py stops working recently.

It is possibly because the script assumes a certain ordering of testnet accounts after state dump (for example, the second record is account `test.near`. Such ordering are changed after sharding upgrade, because now we dump records per shard.

[2021-12-02 16:01] mzhangmzz commented on #5592
cc @chefsale @MaximusHaximus

[2021-12-02 16:04] mzhangmzz commented on #5592
I dumped the testnet state yesterday and checked that at least the second account is not `test.near`.

Actually I'm not sure why the script worked before. Even before the sharding upgrade, state dump will still dump records in order, and the second account will not be `test.near`

[2021-12-02 16:05] mzhangmzz commented on #5592
@chefsale can you confirm ci-testnet starts with state dump from testnet? Am I understanding that correctly?

[2021-12-02 16:11] chefsale commented on #5592
@mzhangmzz It starts from the testnet genesis.json, not from the state dump.

[2021-12-02 20:55] mzhangmzz commented on #5592
I see. I checked testnet genesis file
[code]
So I don't see why this line in the original script `assert (genesis['records'][1]['AccessKey']['account_id'] == 'test.near')` worked before

[2021-12-03 00:24] chefsale commented on #5592
I reassigned the issue to myself, will try to fix it tomorrow. @MaximusHaximus can you share some query/tests for validating it works.

[2021-12-03 00:38] mzhangmzz commented on #5592
@chefsale thanks for taking over the task!

[2021-12-03 02:06] pmnoxx commented on #5370
Bump https://buildkite.com/nearprotocol/nearcore/builds/9052#5f85dc86-1aa6-442b-9559-d6447862478d

[2021-12-03 08:38] chefsale commented on #5592
The script is working, so it and node is running, for reference take a look at: https://near--inc.slack.com/archives/C025P00N3QD/p1638385462112900. Closing this issue and creating a new one for the chain/nodeexp team.

[2021-12-03 08:38] #5592 closed

[2021-12-03 08:38] chefsale opened #5606 "Testnet CI node unable to process `CreateAccountOnlyByRegistrar` calls after latest release (or possibly longer)"
For more information take a look at reference chat.

Created as a follow up on issue: https://github.com/near/nearcore/issues/5592

cc: @mzhangmzz @bowenwang1996 @nikurt @MaximusHaximus @mm-near

[2021-12-03 08:41] chefsale commented on #5606
Also would be beneficial if we can get some JS code/bash from @MaximusHaximus for reproducing the issue.

The ci node lives on:  ubuntu@34.94.14.83.
Logs are stored on: ubuntu@ci-testnet-node0:~$ tail -f near.log

[2021-12-03 13:04] kernelpanic9 opened #5609 "Testnet validator got out of set and reporting sync_hash errors"
**Describe the bug**
We are running staking pool `spectrum.pool.f863973.m0` on Testnet.
Upgrade to 1.23.0 was timely done and validator was running on version `1.23.0-rc.1 / crates-0.10.0-70-g93e8521c9` built from source.
Validator simply stopped producing blocks during new epoch and is unable to get in back to the set. It is marked "On hold" in explorer. No blocks were missed in the previous epoc

[2021-12-03 13:33] chefsale commented on #5606
Submitted a fix for the issue:https://github.com/near/near-contract-helper/pull/535

[2021-12-03 13:40] #5606 closed

[2021-12-03 17:15] volovyk-s commented on #5460
@marcelo-gonzalez we are using `localhost`, not `0.0.0.0:3030`  in `NEAR CLI`:
https://github.com/near/near-cli/blob/69319062495bc23fceb9a2276f7e6f209fa28887/config.js#L51
Can you please elaborate?

[2021-12-03 17:27] pmnoxx opened #5628 "bug: `nearlib`: Random text failure `library/std/src/time.rs:292:48`"
We saw yet, another, random test failure related to time going backwards.
Please, take a look at: https://buildkite.com/nearprotocol/nearcore/builds/9100#c87325c6-2262-4b2a-9dfb-6d5ab946b017

[code]

[2021-12-03 17:54] marcelo-gonzalez commented on #5460
@volovyk-s right, but nearcore uses `0.0.0.0:3030` in the default config.json, so that it will listen on all available IPv4 addrs.
https://github.com/near/nearcore/blob/ba021dfe96fbeb1fc10b672d2fe59db2fcb1bc98/chain/jsonrpc/src/lib.rs#L78

then that doesn't match up with NEAR CLI using localhost on some OSes I guess

[2021-12-03 18:00] pmnoxx commented on #5263
@bowenwang1996 Another failure: https://buildkite.com/nearprotocol/nearcore/builds/9114#2800825f-03a5-4679-b0ba-f24bc1a964cb

[code]

[2021-12-03 18:10] matklad commented on #3803
I've had a call with dev-platform team and realised that we really need a seamless support for M1 (and, more generally, a seamless cross-platform story). The reason for that is `sandbox` -- the local instance of `neard` that *contract developers* to test their contracts.

[2021-12-04 04:25] pmnoxx commented on #4157
@bowenwang1996  @matklad Here is the benchmark, which shows performance degradation

https://github.com/near/near-memory-tracker/pull/27

[2021-12-04 07:23] pmnoxx commented on #5389
The test broke due to
[code]
    /// Duplicated messages will be dropped if routed through the same peer multiple times.
    pub const DROP_DUPLICATED_MESSAGES_PERIOD: Duration = Duration::from_millis(50);
[code]

[2021-12-04 12:02] kernelpanic9 commented on #5609
Closing this for now. WIll try to pull reason for kick out from the RPC next time.

[2021-12-04 12:02] #5609 closed

[2021-12-04 15:25] colindickson opened #5646 "Panic when migrating client to 1.23.0-rc.1"
**Describe the bug**
I have updated our client to the 1.23.0-rc.1 tag.  When I relaunched our client after the update, it seems unable to connect to peers and eventually I get a panic.   See full logs here:  https://pastebin.com/YRgN5dYs

Does this mean that I will need to discard my previous data and do a full reprocess of the chain?

**Expected behavior**
Expected to connect to peers and sync bl

[2021-12-04 22:34] pmnoxx opened #5649 "Random test failure `'-p near-jsonrpc-tests --test rpc_query'`"
We saw yet another random test failure: https://buildkite.com/nearprotocol/nearcore/builds/9182#abda1c38-7c83-4cbe-9a26-b67bca144c3f

[code]

[2021-12-05 00:54] pmnoxx commented on #5263
https://buildkite.com/nearprotocol/nearcore/builds/9189#bcf99e40-fbb6-4c19-ac6f-36c711145294

[2021-12-05 00:57] pmnoxx commented on #5263
https://buildkite.com/nearprotocol/nearcore/builds/9114#2800825f-03a5-4679-b0ba-f24bc1a964cb

[2021-12-05 01:24] pmnoxx opened #5653 "Separate `network protocol` types from rest of the code."
Our goal is to make network protocol easier to understand.

This can be done in a few ways:
- Adding more documentation.
- Changing code structure, code refactoring.

I'm a big fan of making code readable, and self explanatory. Often, adding more documentation, which has it's uses, can be used to hide the actual problem. For example, if code is so hard to understand, that you actually to read the

[2021-12-05 01:51] pmnoxx opened #5654 "Clion rust plugin prints errors about `PeerManagerActor`."
For some reason Clion rust plugin gets confused about `Context::<PeerManagerActor>::spawn(ctx,` inside `peer_manager_actor.rs`.

We should fix that.

https://github.com/near/nearcore/pull/5645

[2021-12-05 07:54] pmnoxx commented on #4157
@matklad @mm-near @bowenwang1996 Here is an issue that tracks progress: https://github.com/near/near-memory-tracker/issues/36

[2021-12-05 15:42] pmnoxx opened #5666 "Missing code owners for `/tools/restored-receipts-verifier`"
I noticed that code owners aren't set for  `/tools/restored-receipts-verifier`.
Is that on purpose?

[2021-12-05 22:46] volovyk-s commented on #5460
@marcelo-gonzalez got it. So, if it's hardcoded in `nearcore`, maybe we should hardcode it to `0.0.0.0:3030` in `NEAR CLI` too?
Sound like a breaking change too. Not sure if there are any other downsides.

[2021-12-06 03:42] pmnoxx commented on #5503
I make a fix for that issue. It seems that the test is no longer failing. See branch `piotr-fix-updating-routing-table-after-adding-edge`.
[code]

Here are stats from master:
[code]

[2021-12-06 03:46] pmnoxx commented on #5503
I scheduled 100 runs on nayduck http://nayduck.near.org/#/run/2291 with command
[code]

[2021-12-06 05:03] pmnoxx commented on #5503
Status | FAILED:7 / PASSED:93

[2021-12-06 05:09] pmnoxx commented on #5370
Another time https://buildkite.com/nearprotocol/nearcore/builds/9266
I ran it locally `50` times, but I couldn't reproduce it
[code]

[2021-12-06 05:34] pmnoxx commented on #5370
500 times on nayduck  http://nayduck.near.org/#/run/2295

[2021-12-06 06:16] pmnoxx commented on #5370
I was able to reproduce the issue by running test 300 times in parallel
[code]

[2021-12-06 07:37] pmnoxx opened #5672 "Add documentation of full design of `near-rate-limiter`."
We need to add a section about full design, see `utils/near-rate-limiter/README.md`

See https://github.com/near/nearcore/pull/5620#discussion_r762627326

[2021-12-06 08:07] pmnoxx opened #5673 "Add documentation about `AnnounceAccounts` for `near-network`"
Add documentation about `AnnounceAccounts` for `near-network`.

See `network.md`.

[code]

[2021-12-06 14:15] jakmeier opened #5678 "Fee estimator using QEMU instrumentation: Read I/O bytes seem to be wrong"
When running the fee estimator, I always get 0 IO read bytes. Even on `StorageReadBase`, which I would assume should have read IO.

**To Reproduce**
[code]
Output then shows 0r, which is the counter for read IO bytes.
[code]

**Expected behavior**
There should be a positive number for the read IO bytes counter.

**Version (please complete the following information):**
After merge of #5677

**Addit

[2021-12-06 14:50] jakmeier commented on #5560
I created PR #5677 for keeping the internal counters for longer and printing them in the end.
But I also discovered a new issue, which I currently believe is independent of my changes. I filed #5678 and will investigate further.

[2021-12-06 15:49] matklad opened #5680 "`impl From<&str> for Config` doesn't make sense"
This is doesn't make sense and is unnecessary:

https://github.com/near/nearcore/blob/960274091a2a1952b3dfca39b5d2f5572fb7f712/nearcore/src/config.rs#L499-L504

We should remove this impl, and let the caller deserialize json *and handle errors* themselves. Ie, `serde_json::from_str::<Config>` is a strictly better way to do what this is trying to achieve.

[2021-12-06 17:03] pmnoxx commented on #5680
@matklad Here is a fix https://github.com/near/nearcore/pull/5683

[2021-12-06 17:40] pmnoxx opened #5684 "Add mechanics for printing grouped logs."
I have seen a few cases, where we added logs which were too spam-my.

We should add some mechanics - struct, which can use used for printing messages, like warnings, errors, at most once per second / minute / and printing their total counts over period of time.

Examples:
- https://github.com/near/nearcore/pull/5566

Design draft:

- new crate `near-logger`
- logger struct, which actor owns
- a tr

[2021-12-06 17:41] pmnoxx commented on #5684
@bowenwang1996 @mm-near I added an issue for topic we discussed today.

[2021-12-06 18:54] pmnoxx commented on #5684
@bowenwang1996 @mm-near I added a plan of a new crate, as discussed.

[2021-12-06 19:11] janewang commented on #5646
@bowenwang1996 @nikurt FYI on this bug

[2021-12-06 19:14] nikurt commented on #5646
@colindickson from the logs it's not clear what's wrong.
Deleting the `data` directory and recovering from a backup is the most reliable option.

[2021-12-06 20:23] marcelo-gonzalez commented on #5460
yeah if that's actually the problem then maybe that would fix it. Although I'm looking at it again now and I'm not so sure if what I said above is right... The command `curl http://localhost:3030/status` seemed to work just fine in the video in the first comment in https://github.com/near/near-cli/issues/881, so something else is going on.

But in any case I think the fact that `curl http://localh

[2021-12-06 20:23] #5460 closed

[2021-12-06 20:24] colindickson commented on #5646
thank you @nikurt

[2021-12-06 21:30] janewang opened #5688 "Evaluate the threshold used for kicking a validator node who didn't produce enough chunks"
A validator has reported that they have produced all the blocks, but was kicked because NotEnoughChunks

**Expected behavior**
Evaluate if the threshold used to kick a validator node for missing chunks is set to the appropriate number

**Screenshots**
<img width="1196" alt="Screen Shot 2021-12-06 at 3 17 55 PM" src="https://user-images.githubusercontent.com/734336/144925318-4b975780-8330-449c-82be

[2021-12-07 00:23] bowenwang1996 commented on #5688
@EgorKulikov @nikurt please take a look

[2021-12-07 01:08] bowenwang1996 commented on #5666
Yes this is supposed to be a one-off thing. I don't think there is any plan to change it

[2021-12-07 01:08] #5666 closed

[2021-12-07 01:09] bowenwang1996 commented on #5370
@mzhangmzz please take a look

[2021-12-07 03:21] bowenwang1996 commented on #5684
This is not network specific and we probably want to do that for the entirety of neard

[2021-12-07 03:55] mina86 commented on #3186
I’m still going to be adding pytest tests but I think this can be closed.

[2021-12-07 07:04] #5498 closed

[2021-12-07 07:06] #5221 closed

[2021-12-07 09:51] pmnoxx opened #5695 "Improve error handling at near and use `anyhow::Result`"
Currently, by default we use `.unwrap()`, `.expect()` in many places in our code base.

That has a few issues:
- this cause panic, and output is often unreadable. For example `TcpListener::bind` will say, that a crash happened, will print 50-100 lines of errors, and never even print the port that was open
- code related to handles panics causes causes generated binaries to be bigger
- output is ha

[2021-12-07 10:57] matklad commented on #5695
I think this has to be more nuanced than "use anyhow" or "use thiserror". near is big, there are different contexts, and they require different solutions.

Some contexts I am aware of:

* CLI interfaces like state viewer, or top-level neard. Here, we should use `anyhow!` to give a nice error messages when trying to read config, genesis, etc.
* tests -- here we should just panic, but panic with an

[2021-12-07 13:26] frol commented on #3186
@mina86 Well, actually, we needed to integrate the official Rosetta compliance checks: https://github.com/coinbase/rosetta-cli#checkdata (check:data and check:construction): https://github.com/near/nearcore/issues/3186#issuecomment-675124554

[2021-12-07 14:42] bowenwang1996 opened #5701 "Check that we can verify block hash from rpc result"
For context, https://stackoverflow.com/questions/70155175/calculate-and-verify-block-hash-from-light-client-block-in-near-protocol.

We should check that we indeed can verify block hash from the result returned by the `block` rpc endpoint and add a test for it.

[2021-12-07 15:24] colindickson commented on #5646
the node is doing some work, but i feel like maybe it isn't doing as much as it could be doing.  this is running on an HPC node in GKE.   the process seems to be taking up one core at a time, even though our limits are set to much more than that.

any insights would be helpful

[code]

[2021-12-07 16:06] mzhangmzz commented on #5370
I'll take a look, sorry that I missed this

[2021-12-07 19:43] janewang commented on #5688
Btw, if we are kicking of validators for missing chunks, we should probably alert.

Some validators are complaining that they are confused when they are kicked:

[2021-12-07 21:07] mzhangmzz commented on #4806
sorry I missed this. In functions such as `obtain_state_part` and `validate_state_part`, to specify a part we always specify both `part_id` and `num_parts` together, it'll be nicer if we create a struct for that

[2021-12-08 00:37] bowenwang1996 commented on #5695
Agree with what @matklad said. Some panics inside nearcore are intentional: when a node encounters certain undefined behaviors, it is better for it to shut down rather than keep running to avoid permanently getting into an inconsistent state that it is unable to recover from without a ton of manual intervention (completely replacing database for example).

[2021-12-08 00:45] bowenwang1996 opened #5707 "Investigate the performance of the history replay tool"
According to [https://github.com/near/nearcore/pull/5697#issue-1073190158](https://github.com/near/nearcore/pull/5697#issue-1073190158), we can only play back 10 blocks per second even with multiple threads. This does not align with our expectations and it blocks the contract runtime team from validating the wasmer2 and wasmer0 give the exact same results on the entire mainnet history, which would

[2021-12-08 00:45] bowenwang1996 commented on #5707
@olonho do you want to investigate this yourself?

[2021-12-08 00:49] bowenwang1996 commented on #5646
@colindickson unfortunately we only use one core during database migration and have not had the time to optimize that.

[2021-12-08 00:55] bowenwang1996 commented on #4803
@snjax any updates on this? Thanks!

[2021-12-08 01:00] bowenwang1996 commented on #4807
There is a PR #5458

[2021-12-08 01:05] pmnoxx commented on #5695
Yes, I agree.The main reason why I started using it was for configs, like `NetworkConfig`. See https://github.com/near/nearcore/pull/5705

Yes, I didn't realize that returning in a test doesn't cause panic. Doing panic, is the right fight to do. The main thing that I want to improve is to make the `panic` more readable. Often we don't see good output, context, when someone calls `.unwrap()` in our

[2021-12-08 01:12] pmnoxx commented on #5695
Yes, no one is denying that `panics!` are useful.  We are not talking here, about changing the behavior, and avoiding panics.
I think we should shut down the node as we did before.

However, my main goal here is to improve the output of panics, making them more useful for fixing the issue. If a `panic!` happens, we should print the output in more readable way, and also dump the state of all import

[2021-12-08 01:26] bowenwang1996 opened #5708 "Expose chunk stats in validator rpc endpoint"
Currently [the validator rpc endpoint](https://docs.near.org/docs/api/rpc/network#validation-status) only exposes block stats and not chunk stats. Validators would like to understand, in addition to the number of blocks produced, the number of chunks produced and expected to get a better understanding of the status of their nodes.

[2021-12-08 01:31] bowenwang1996 opened #5709 "Investigate garbage collection performance"
Currently we run garbage collection in the same thread as client actor and if a node tracks all shard, it may incur unnecessary overhead that we would like to avoid. We should look into the time a node takes to run garbage collection and potentially optimize it by running it in a separate threads. Note that this is not necessarily easy to do due to reference counting on state. See [https://github.

[2021-12-08 04:03] Rishabhraghwendra18 commented on #4806
@mzhangmzz is this issue open ? If yes I will like to help here

[2021-12-08 04:08] Rishabhraghwendra18 commented on #5701
Hi @bowenwang1996 . I am new to near . I will like to work on this issue . May you specify me what I have to do in order to resolve this issue ?
Thanks

[2021-12-08 05:37] olonho commented on #5707
I'm looking on that, but second pair of eyes wouldn't hurt.

[2021-12-08 09:56] nikurt commented on #5646
This is definitely not normal. Even archival RPC nodes are expected to upgrade in several hours: 4-8h

[2021-12-08 13:07] matklad opened #5714 "Use SyncLruCache instead of cached for in-memory cache"
In https://github.com/near/nearcore/pull/5259, we've started to replace usages of `cached` crate with `lru`, which has nicer, smaller API and is faster. We should use that to implement our global in-memory cache:

https://github.com/near/nearcore/blob/6a4cffa70383c1d91b2abeedad553da7e25f067b/runtime/near-vm-runner/src/cache.rs#L341-L358

Steps:

* replace `cached` macro with a hand-declared `stati

[2021-12-08 13:39] olonho commented on #5707
Curious stats from about a day of playback:

[code]

So we see that playback speed is not uniform and sometimes reaches 305 blocks per second.

[2021-12-08 14:45] olonho commented on #5707
Pure neard top looks like this:
[code]

[2021-12-08 14:47] olonho commented on #5707
Kernel top looks like this
[code]
`copy_user_enhanced_fast_string` looks fishy, as it's just this guy https://elixir.bootlin.com/linux/v4.2/source/arch/x86/lib/copy_user_64.S#L216
and not so many system calls ever pass arguments as zero-terminated strings at all.

[2021-12-08 15:20] #4736 closed

[2021-12-08 15:24] mzhangmzz commented on #4806
@Rishabhraghwendra18 it is open. I just assigned it to you. Feel free to work on it

[2021-12-08 15:28] bowenwang1996 commented on #2454
Assigning to @janewang to figure out how to improve the UX

[2021-12-08 15:32] mzhangmzz opened #5716 "nayduck feature: adding the option to run tests multiple tests"
We encounter flaky tests quite often, because of randomness in some of our tests. It will be nice to add an option to run tests multiple times in nayduck to detect flaky tests. We can also make some especially flaky tests to run multiple times by default in the nightly file, so we can more easily see which commits break them.

[2021-12-08 15:33] mzhangmzz commented on #5716
cc @mina86 @mm-near @pmnoxx @yordanmadzhunkov

[2021-12-08 15:49] mzhangmzz opened #5717 "Track errors and warnings"
We should track errors and warnings from the logs. Right now, they may go unnoticed because they are buried in the logs.

Specifically, I think we can create two more metrics for errors and warnings on graphana. We should set alert if the number of errors is non-zero (a node rarely errors and an error usually means something seriously bad has happened) and set some reasonable thresholds for warnin

[2021-12-08 15:50] mzhangmzz commented on #5717
cc @bowenwang1996 @mm-near @chefsale

[2021-12-08 15:55] olonho commented on #5707
`strace -fp <neard-pid>` shows

[code]
so seems `openat` an expensive guy.

[2021-12-08 15:55] mzhangmzz opened #5718 "cargo test routing::archival_node is flaky"
https://buildkite.com/nearprotocol/nearcore/builds/9453#6e6adde1-1fe4-461f-be1b-99052ce0f804
I ran the test on master branch locally and it failed too

[2021-12-08 15:55] mzhangmzz commented on #5718
@mm-near @pmnoxx do you have an idea why it failed

[2021-12-08 16:00] matklad commented on #5717
cc @nikurt

[2021-12-08 16:13] matklad opened #5719 "Get rid of `with_ext_cost_counter`"
We have this bit of logic:

[https://github.com/near/nearcore/blob/f85248832d996cfa008ad3b2debc40c9ea24005f/runtime/near-vm-logic/src/gas_counter.rs#L12](https://github.com/near/nearcore/blob/f85248832d996cfa008ad3b2debc40c9ea24005f/runtime/near-vm-logic/src/gas_counter.rs#L12)

What it does is that it records the cost we charge for in a thread local. We use in the param estimator to make some ass

[2021-12-08 16:14] mina86 commented on #5716
You can do that by prefixing test by a number, e.g.:
[code]

[2021-12-08 16:15] matklad commented on #5719
cc @jakmeier

[2021-12-08 16:32] mzhangmzz commented on #5716
Yes, that is possible. My other point is whether we should make specific test run more than once by default in the nightly run. It will help discovering flaky tests

[2021-12-08 17:40] mina86 commented on #5716
Yes, you can do that by adding the number at the front of the line. ;)

There’s also a related issue: https://github.com/near/nearcore/issues/1868

[2021-12-08 19:12] bowenwang1996 commented on #5701
@Rishabhraghwendra18 please read the stack overflow link first and let me know if something is still not clear.

[2021-12-08 19:29] bowenwang1996 commented on #5718
Duplicate of #5357

[2021-12-08 19:29] #5718 closed

[2021-12-08 19:32] bowenwang1996 commented on #5716
Looks like there is no action item. Closing

[2021-12-08 19:32] #5716 closed

[2021-12-08 20:13] pmnoxx commented on #5718
@bowenwang1996 I already wrote a fix: https://github.com/near/nearcore/pull/5639

[2021-12-08 20:13] pmnoxx commented on #5357
@bowenwang1996 @mina86  I already wrote a fix: https://github.com/near/nearcore/pull/5639

[2021-12-08 21:24] #5680 closed

[2021-12-08 22:19] snjax commented on #4803
Hi @bowenwang1996, sorry for the late reply, the notification was lost.

https://crates.io/crates/zeropool-bn/0.5.10 published

[2021-12-09 01:14] pmnoxx opened #5726 "`Cargo tests` takes a long time to run"
`Cargo tests` takes a long time to run we should try to fix that.

Changes:
- [ ] https://github.com/near/nearcore/pull/5725
- [ ] Compile tests with -O2
- [ ] Split tests `integration-tests` vs not `integration tests` https://github.com/near/nearcore/pull/5710

[2021-12-09 04:42] Rishabhraghwendra18 opened #5730 "PRs using `re` instead of `refactor` as per CONTRIBUTING.md"
I have seen that PRs are using `re` term for refactor in PR's titles but as per this [section](https://github.com/near/nearcore/blob/master/CONTRIBUTING.md#submitting-the-pr) in `CONTRIBUTING.md` we have to use `refactor` for refactoring the code .

I think we have to update about it in `CONTRIBUTING.md`

[2021-12-09 07:25] pmnoxx commented on #1868
It would be nice how have some script, that automatically detects flunky tests. We currently have more than 14 flunky tests in `integration-tests` alone:
[code]

[2021-12-09 09:22] olonho commented on #5707
Interesting, when using Dwarf based stack unwinder profiler looks way saner:
[code]

With dominators like
[code]

[2021-12-09 09:22] Rishabhraghwendra18 commented on #5701
@bowenwang1996 I read the issue on stack overflow and the link in the issue too .  I don't get what is `epoch` ?
I am new to blockchain technology and Near is the first platform I am learning (I don't know ethereum) . But I am able to get some gist of the problem that user wants to verify a block hash suing LightClient but it returned him a wrong block hash . So he is asking for a way to verify &

[2021-12-09 09:27] Rishabhraghwendra18 opened #5733 "Error while setting up development environment"
I have forked & cloned the repo and ran `cargo build` in the root of the project but I got this error in the end:
[code]
May anyone help me to resolve this error ?

[2021-12-09 09:49] Rishabhraghwendra18 opened #5735 "`BUILD.md` for setting Up local developement envrionment"
The repo doesn't have a `BUILD.md` file which can have all the necessary steps or instructions needed to setup the local development environment with troubleshooting tips .  Having this file will really beneficial for any new contributor to easily setup it's environment and contribute to nearcore .

Having these points in `BUILD.md` may be helpful:
- Required dependencies (If any additional depend

[2021-12-09 11:14] pmnoxx commented on #5733
Try installing
[code]

[2021-12-09 17:20] bowenwang1996 commented on #4803
@austinabell please take a look

[2021-12-09 17:26] bowenwang1996 commented on #5726
Duplicate of #4490. Let's move the discussion there

[2021-12-09 17:26] #5726 closed

[2021-12-09 17:40] bowenwang1996 commented on #5730
I think `refactor` makes more sense :) We shouldn't update `CONTRIBUTING.md`

[2021-12-09 17:40] #5730 closed

[2021-12-09 17:49] bowenwang1996 commented on #5707
@olonho so basically it is within rocksdb?

[2021-12-09 19:40] #5357 closed

[2021-12-09 19:40] #5389 closed

[2021-12-10 00:57] marcelo-gonzalez opened #5750 "Repeated epoch heights in testnet"
Querying the testnet archival RPC, it's possible to observe a repeated epoch height:

<pre>$ http post [https://archival-rpc.testnet.near.org](https://archival-rpc.testnet.near.org) jsonrpc=2.0 id=dontcare method=validators params:='

 {"epoch_id": "5zb5CbwJuVNeV9pju6bQND68ku5Z5gDuArspS27tKiwT"}

' | jq ".result.epoch_height, .result.epoch_start_height"
 3
 42463323</pre>

<pre>$ http post [https:

[2021-12-10 03:28] Rishabhraghwendra18 commented on #5730
Ok.. So I think we should add about it in PR template to remind contributors to use `refactor` term in PR's titles.

[2021-12-10 04:17] Rishabhraghwendra18 commented on #5735
@bowenwang1996 may I also work on this issue ?

[2021-12-10 04:33] Rishabhraghwendra18 commented on #5733
I get this error now:
[code]

[2021-12-10 04:51] pmnoxx commented on #5733
@Rishabhraghwendra18
It looks like you are not code that's up to date.

Your error code says
`error[E0061]: this function takes 3 arguments but 4 arguments were supplied`
about function `obtain_state_part` on line 685

By looking at the code I see that this function is on line `690` and has 4 arguments
[code]

[2021-12-10 07:46] uncle-T0ny opened #5753 "[Sandbox] add possibility speed-up block producing for near-sandbox"
When your contract has a lot of e2e tests it would be great to speed-up block production to be able to check the contract logic faster. Looks like there is no such possibility right now.

[2021-12-10 10:26] matklad commented on #5109
Status: it seems like openssl 3.0.0 still has some problems to iron out, and, as 1.1.1 is still supported, we'll stick to that for now. cc https://github.com/sfackler/rust-openssl/issues/1576#issuecomment-990304892

[2021-12-10 15:25] jakmeier commented on #5678
Ok, after deeper analysis, I think the counters are fine. It was my understanding of what we measure that was wrong.

**TLDR**: Having zero IO in `StorageReadBase` makes sense. Where we should see IO going up is in `StorageReadKeyByte`. And that is the case, so all is good.

[code]

### More detailed findings

Basically, my (wrong) assumption was that every byte of reading storage should correspon

[2021-12-10 15:25] #5678 closed

[2021-12-10 15:35] pmnoxx commented on #5569
I see this is fixed, closing.

[2021-12-10 15:35] #5569 closed

[2021-12-10 15:40] pmnoxx opened #5757 "`near-api-js test` causes nondeterministic failures in CI."
Yarn test keeps failing.

We have disabled it in https://github.com/near/nearcore/pull/5754

Here is an example of CI failure, caused by it.
https://buildkite.com/nearprotocol/nearcore/builds/9750#834c14d9-c161-45c7-b4e1-4acae3b92a13

We should either:
- Move it to `nayduck` and run it there. It may still fail, at least it won't block CI.
- Figure out why this test is flunky and fix it.

Related c

[2021-12-10 16:06] matklad commented on #5678
Excellent analysis! I think one thing I am not entirely 100% sure about is

It *might* be possible to read something that's not in memtable. Like, what if we spread-out writes in the benchmark some more?

[2021-12-10 16:28] #4374 closed

[2021-12-10 17:53] posvyatokum commented on #4955
The current idea is to have several clients send messages with a random delay, thus simulating a slowdown of a part of the network and observing how a shuffle of messages impacts block production. In this scenario, we would also send transactions to the network and see if they are processed.
This idea has several flaws.
- Troublesome implementation (from a conversation with @mzhangmzz ). Such beha

[2021-12-10 18:49] jakmeier commented on #5678
Indeed we can!

Simply increasing the setup write loop counter from 1000 to 100_000, while keeping the reads the same, gives me this result:
[code]
The amount of read-IO just exploded! Somewhat expected, it also massively increases the time to compute the results. I also tried 10_000 iterations but it still had 0 reads. I guess I can do a binary-search to find the sweet-spot. :-)

More importantly

[2021-12-10 21:00] marcelo-gonzalez commented on #5750
Ah so the same thing exists in mainnet, also at height 3

[code]
[code]

[2021-12-10 22:12] miraclx opened #5763 "Tracking issue for workspace crate compliance"
<https://github.com/near/nearcore/pull/5724> implements crate compliance which introduced a set of rules every crate must uphold. And consequently, checks those rules against every PR ensuring they pass before being merged into master. To ensure uniformity and prevent unexpected behavior.

See <https://github.com/near/nearcore/pull/5724#issuecomment-989348386> for a list of the rules and their doc

[2021-12-11 01:26] mina86 opened #5767 "`validatorrs` RPC errors out with UNKNOWN_EPOCH when on genesis block"
When no blocks have been generated (i.e. latest block is genesis block at height zero), sending `GetValidatorInfo { epoch_reference: EpochReference::Latest }` request to view client results in `UnknownEpoch`. This leads to spurious `restaked.py` failures. Should the view client or JSON RPC handle genesis block in some way?

[2021-12-11 20:01] bowenwang1996 commented on #5735
@Rishabhraghwendra18 I think this issue actually contains multiple different work items on its own. I assigned it to @mm-near to triage.

[2021-12-11 20:20] bowenwang1996 commented on #5757
https://github.com/near/nearcore/pull/5754#issuecomment-991772399

[2021-12-11 20:25] bowenwang1996 commented on #5757
@pmnoxx @mm-near let's fix the flaky test and re-enable near-api-js tests. I agree that we should have a discussion about how in the future downstream libraries should test against nearcore changes, but for now it is important that we avoid breaking near-api-js which is the dominant client side library.

[2021-12-11 20:34] bowenwang1996 commented on #4955
That seems to be a fine idea to me. There are actually not that many messages you need to handle and we pretty much just need a pass-through mock with delay and it should be even simpler than what is already implemented in `setup_mock_all_validators`.

While I think we should do it in the long term, it will likely take a while and I am not sure whether it is worth it just for the sake of setting u

[2021-12-11 23:09] pmnoxx opened #5777 "Random test failure `routing::max_num_peers_limit`"
There was one unrelated test failure:

[code]

https://buildkite.com/nearprotocol/nearcore/builds/9858#b0891364-34f4-466b-b1f8-9162b0a6eac2

[2021-12-11 23:34] pmnoxx commented on #5757
@bowenwang1996  I'm glad we are in agreement, that the CI shouldn't have nondeterministic failures.

The first step to fixing those failures is to be try to reproduce them on localhost.

Running the following command
[code]
results in a failure
[code]

Indeed `$REPO_DIR/testdir` is empty.

@bowenwang1996 Can we first start by fixing the script, and making it work on the localhost?

[2021-12-12 00:00] pmnoxx commented on #5757
@bowenwang1996 Can you update the documentation of `scripts/test_nearlib.sh`.
It's not clear by reading that file alone, that we are testing `near-api-js`.

[2021-12-12 09:56] Rishabhraghwendra18 commented on #5735
ok.. no problem

[2021-12-12 11:39] pmnoxx commented on #5757
@bowenwang1996 A quick fix, would be to retry the test if it fails.

[2021-12-13 03:51] Rishabhraghwendra18 commented on #5733
@pmnoxx I re-ran the command `cargo build` in project root directory two times and both the time my laptop gets hanged at this step:
![WhatsApp Image 2021-12-13 at 9 12 32 AM](https://user-images.githubusercontent.com/43534227/145749359-38725dc0-f285-49b4-8505-aeca97aa6aed.jpeg)

I am using Ubuntu 20.04 LTS on my i5 intel 8th gen , 8 gb ram , 1TB HDD laptop . May you have any idea what's going wro

[2021-12-13 03:58] pmnoxx commented on #5733
Yes, by default if you use `cargo build`. You will build other targets as well. That requires memory usage jump to around 40gb on my machine.

Try usign `cargo build -p neard`.

[2021-12-13 06:53] pmnoxx opened #5799 "Add script for checking requirements for running other CI scripts."
I've spent a few hours debugging why scripts don't work locally.

I found out that I had wrong version of yarn installed.
Let's add a script, which checks whenever all requirements are installed.

PR: https://github.com/near/nearcore/pull/5798

[2021-12-13 10:03] Rishabhraghwendra18 opened #5800 "Pull Request template is not showing up while creating pull request"
When you make pull request , you will not see the Pull Request template as discussed [here](https://github.com/near/nearcore/blob/master/CONTRIBUTING.md#submitting-the-pr) . It discuss about the format of the PR which I think should be visible while creating a PR to remind the contributor to follow the template.

[2021-12-13 11:32] Rishabhraghwendra18 commented on #5733
@pmnoxx Now the installation is complete successful and `cargo run` is running too. But when I run `cargo test` in the root of the project , it again downloads some packages and my pc get hang
![WhatsApp Image 2021-12-13 at 4 46 10 PM](https://user-images.githubusercontent.com/43534227/145804705-dadbe81c-ab11-4b24-be2d-5dc45f1b4a37.jpeg)
I have also tried `cargo build -p near-rosetta-rpc` but then

[2021-12-13 11:35] pmnoxx commented on #5733
@Rishabhraghwendra18 Try running `cargo test -j 1`.

[2021-12-13 13:54] guertsen opened #5807 "error: field is never read: `memory` in 1.23.0-rc.1."
**Describe the bug**
make sandbox of 1.23.0-rc.1 fails and produces the following error:

[code]

**To Reproduce**
branch 1.23.0-rc.1.
git clone https://github.com/near/nearcore
make sandbox

**Expected behavior**
The build process is supposed to work.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please complete the following information):**
- Ubuntu 20

[2021-12-13 14:37] BenKurrek opened #5811 "[Feature Proposal] Include "Common Solutions" link to error messages"
As a member of DevRel, I'm constantly interacting with the community through discord and TG. I hear a lot of the painpoints for developers and sometimes I find myself constantly answering the same questions over and over again. I think it would be a great idea if we could add an optional "common solutions" link to error messages.

At DevRel, we could keep track of the most commonly asked questions

[2021-12-13 15:20] mina86 commented on #5168
@pmnoxx, since you were working on `test_nealib.sh` recently, do you have any state on why the version is so old? Can it be updated? Or updated in some other way.?

[2021-12-13 15:21] #5646 closed

[2021-12-13 15:37] pmnoxx commented on #5168
@matklad @mina86

This is a dead code. Removing it, has no effect on the test:

https://github.com/near/nearcore/pull/5814/files

[2021-12-13 15:42] nikurt commented on #1636
A year after mainnet launch we don't often need to wait for the genesis.
The requested feature can be useful for mocknet tests, but updating genesis is handled externally in that case.

Please let me know if you have a concrete usecase which needs this feature.

[2021-12-13 15:42] #1636 closed

[2021-12-13 15:43] bowenwang1996 commented on #4974
Closing as it is obsolete

[2021-12-13 15:43] #4974 closed

[2021-12-13 15:43] ilblackdragon opened #5816 "Disallow beneficiary of funds from deleted account to be itself"
**Describe the bug**
Account deletion transaction where `beneficiaryId` == `accountId` should fail.

**To Reproduce**
See example tx: https://explorer.testnet.near.org/transactions/3GTFEzvTfDiAxm8fdpZeWP7NjRFTjFJaDYQNX6ANAUns
For example:
[code]

**Expected behavior**
Transaction doesn't get accepted and account doesn't get deleted in the first place.

**User feedback reference**
See: https://stac

[2021-12-13 15:52] ilblackdragon commented on #5811
My suggestion we add a link to search Stack Overflow for error message.
We should use some intermediate URL shortener so we get stats on the errors searched.
Similarly, we should add this to explorer.

[2021-12-13 16:16] pmnoxx opened #5817 "14 flunky tests in `integration-tests`"
I wrote a single tool to find failing tests, here is list of ones which were flunky:

2021-12-09T07:06:40.705386Z [32m INFO nayduck::cargo_test: cmd=["cargo", "test", "-p", "integration-tests", "--tests", "chunks_management::chunks_recovered_from_full_timeout_too_short"]
2021-12-09T07:06:40.705419Z [32m INFO nayduck::cargo_test: success=19 failures=1 running=0
--
2021-12-09T07:14:27.111408Z [32m I

[2021-12-13 17:04] vans163 opened #5818 "No peers available on testnet (happens after a few minutes)"
**Describe the bug**
Testnet node goes into a mode where there are no peers available but its connected. This happens after it starts and connects to a few peers. Then drops all peers.

**To Reproduce**
Run testnet node, I am not sure exactly how its reproduced, some help to log more factors would be appreciated, running with RUST_LOG spams way too much.

**Expected behavior**
Node is correctly sy

[2021-12-13 17:25] pmnoxx opened #5821 "random test failure `tests/sanity/upgradable.py`"
[code]
https://buildkite.com/nearprotocol/nearcore/builds/10034#67ab3cdf-a3d4-4923-82fa-ef0cfb4ea66a

Related PRs
- #5526
-

[2021-12-13 17:32] mina86 commented on #5503
I am surprised you got 93% success to be honest. I [get much worse results](https://nayduck.near.org/#/run/2303).

I actually have a fix for the Unknown Epoch failure: https://github.com/near/nearcore/pull/5775

[2021-12-13 17:35] vans163 commented on #5818
I think I see the problem, this was because the new release came out and I guess nearup upgrades immediately all the nodes, but I just compiled from source?

Something useful on the logs I think is if the peer rejected you due to the peer having a higher version. Right now for someone who did not code nearcore, using RUST_LOG there is way too much logs printed to make sense of anything, and a stro

[2021-12-13 17:43] miraclx commented on #5821
Worked after being retried here: https://buildkite.com/nearprotocol/nearcore/builds/10032#ad6ffa7b-18fb-4f89-8dcd-93559f793e41

But not here after 3 retries: https://buildkite.com/nearprotocol/nearcore/builds/10033#427686fa-5dcb-4dbe-9367-2c3a6c18d5b6

[2021-12-13 17:51] pmnoxx commented on #5821
@miraclx I have a review in queue, that adds logs to debug this issue: https://github.com/near/nearcore/pull/5526

[2021-12-13 17:54] pmnoxx commented on #5821
[code]

[2021-12-13 17:55] mzhangmzz commented on #2447
@nikurt unfortunately that PR does not handle this

[2021-12-13 19:20] frol commented on #5816
@ilblackdragon There is no need to alter the protocol. It is as valid operation as transfer of 0 NEAR. The account got actually deleted just fine, and the remaining tokens were burnt. See my reply there: https://stackoverflow.com/a/70339847/1178806

[2021-12-13 19:20] #5816 closed

[2021-12-13 19:42] artob commented on #3803
Building nearcore for x86 was not the issue, running it was. Runtime errors were to be expected, as per the original ticket description:

[2021-12-13 19:44] artob commented on #3803
Good to hear, given that I, like increasingly many developers elsewhere, haven't used x86 for going on a year by now and don't expect that to change back.

[2021-12-13 20:06] nikurt commented on #2447
Thanks for confirming, reopened.

[2021-12-13 21:52] dimaelkhsos opened #5824 "My testnet node stopped working with No peers"
Dec 13 21:48:55.999  INFO stats: #70617185 Downloading headers 89.83% (3305668)   2/1/40 peers ⬇ 99.1kiB/s ⬆ 73.0kiB/s 0.00 bps 0 gas/s CPU: 2%, Mem: 431.6 MiB
Dec 13 21:49:01.829  WARN sync: Sync: ban a fraudulent peer: ed25519:49m4CpgA6A871aPzXiXxQEXfD8TsDgx3eJka3HSBtPWT@65.21.197.23:24567, claimed height: 74893263
Dec 13 21:49:01.829  WARN network: Banning peer Some(ed25519:49m4CpgA6A871aPzXiXx

[2021-12-14 02:00] Rishabhraghwendra18 commented on #5733
Finally it worked . It did slow down my laptop but I let it do it works . Finally all set up is done. Thanks

[2021-12-14 02:23] bowenwang1996 opened #5826 "Potentially excessive warnings on bandwidth usage"
I saw a lot of warnings like this

 Dec 14 02:20:34.564 WARN near_network::peer_manager::peer_manager_actor: Peer bandwidth exceeded threshold peer_id=ed25519:CnWVWLV5bzU8KZ5m2SFQG3wjUXBd8Z7j7uYn7iBDEDDU bandwidth_used=1840464 msg_received_count=2235

when a node is syncing. I wonder 1) whether we should adjust the threshold to avoid warnings during normal operation of a node and 2) if the usage h

[2021-12-14 02:24] bowenwang1996 commented on #5826
cc @mm-near @pmnoxx

[2021-12-14 02:37] bowenwang1996 commented on #5750
Does it only repeat for epoch height 3? Might be related to the fact that we have two epochs with height 1

[2021-12-14 02:57] bowenwang1996 commented on #5800
It is a known github limitation. I believe you cannot have more than one PR templates and still expect them to get triggered automatically when you create a PR.

[2021-12-14 12:39] bowenwang1996 commented on #5807
@matklad please take a look

[2021-12-14 12:47] bowenwang1996 commented on #5811
@BenKurrek this is great! One question though: why is this issue in nearcore repo :)

[2021-12-14 13:02] matklad commented on #5807
Fixed by https://github.com/near/nearcore/pull/5803, but blocked by process -- olonho is OOO this week, and we don't have other code owners

[2021-12-14 14:08] marcelo-gonzalez commented on #5750
@bowenwang1996 Yup it's only height 3

[2021-12-14 15:15] nikurt commented on #5688
I can see that validator was missing chunks both before and after the upgrade.
Some epochs have only a few chunks missing and don't result in kicking the validator.
90% Kickout threshold still makes sense to me.

[code]

After upgrade:

[code]

[2021-12-14 15:17] nikurt commented on #4605
Please see the discussion on telegram, that a successful download can lead to a corrupted file.
https://t.me/c/1331540142/11128

[2021-12-14 15:17] #4605 closed

[2021-12-14 15:23] #5483 closed

[2021-12-14 18:13] #5821 closed

[2021-12-14 18:37] BenKurrek commented on #5811
@bowenwang1996 It was my understanding that this repo is where the error messages are formed (for example see [here](https://github.com/near/nearcore/blob/4f18d3b6a9c44f2cc95874d0bd33643cf2ab811e/runtime/near-vm-errors/src/lib.rs#L161)). If there's a better place to file an issue, I'd be more than willing to change the location.

[2021-12-15 02:19] pmnoxx commented on #5733
@Rishabhraghwendra18 Np, I'm glad I could help,
By my estimates we need 4-8gb of memory per single thread. `-j THREADS` options needs to be adjusted.

[2021-12-15 02:19] #5733 closed

[2021-12-15 02:35] Rishabhraghwendra18 commented on #5733
oh.. that's a huge memory usage per thread . Anyways thanks , you saved my day otherwise I will be waiting the whole day for environment to setup .

[2021-12-15 02:42] Rishabhraghwendra18 commented on #5701
Hi @bowenwang1996 . I think this issue is currently hard for my level of understanding . I am really sad that I can't contribute to the issue , sorry . I will hide my comments to keep the issue clean .

[2021-12-15 02:46] Rishabhraghwendra18 commented on #5800
ok.. I don't know about that github has this kind of limitation . The current PR was not up-to-date and as per docs it had some other kind of PR template so I thought of making a separate file for this . If you thought that we could remove the old PR template then I would removed that .

No problem , I will close this issue

[2021-12-15 02:46] #5800 closed

[2021-12-15 02:50] pmnoxx commented on #5733
@bowenwang1996 @mm-near It may be worth mentioning in `README.md`, that `cargo test` needs `4-8gb` per thread to run.

[2021-12-15 02:54] Rishabhraghwendra18 commented on #5147
Hi @janewang are you working on the issue ?

[2021-12-15 03:01] Rishabhraghwendra18 commented on #5079
Hi @bowenwang1996 . I will like to work on this issue

[2021-12-15 03:08] Rishabhraghwendra18 commented on #3355
Hi @evgenykuzyakov are you working on this issue ?

[2021-12-15 03:12] pmnoxx commented on #5777
https://buildkite.com/nearprotocol/nearcore/builds/10423#d9a638e0-bc94-4b4f-a183-d2bd4e09ec63

[2021-12-15 03:14] Rishabhraghwendra18 commented on #5817
Hi @pmnoxx , should we removed these tests ?

[2021-12-15 04:12] Rishabhraghwendra18 commented on #1655
@bowenwang1996 @janewang I will like to work on this issue . May you guide me what changes I have to make in which file to solve this issue ?

[2021-12-15 04:16] Rishabhraghwendra18 commented on #1635
Hi @ilblackdragon may you guide me in which file I have to make changes for this issue ?

[2021-12-15 04:22] Rishabhraghwendra18 commented on #1313
@pmnoxx is this issue resolved ?

[2021-12-15 06:26] pmnoxx commented on #1313
@Rishabhraghwendra18 More work is required. I have a script, which prints me all places, where this issue happens.

[2021-12-15 09:18] YaroslavNekryach commented on #5753
Yeah, it would be great!

[2021-12-15 11:34] pmnoxx opened #5836 "Discuss `test_build_receipt_hashes_with_num_shard` which we disabled"
I noticed that `test_build_receipt_hashes_with_num_shard` is failing, while `cargo test` with optimizations.

The tests asserts that `naive_duration > 3/2 * prod_duration`, that is not true. When running the code with optimization, it's only 10-15% faster.

See https://github.com/near/nearcore/pull/5711/files

[2021-12-15 11:35] pmnoxx commented on #5836
We probably should remove this test completely.

[2021-12-15 14:47] matklad commented on #5714
Mostly fixed by https://github.com/near/nearcore/pull/5512, except the "change caching logic to not cache catastrophic errors." bit

[2021-12-15 15:35] pmnoxx opened #5840 "Remove `near` build target."
We added `neard` build target in May 2020. We should consider removing `near` build target.

Steps
- https://github.com/near/nearcore/pull/5841
- https://github.com/near/nearcore/pull/5835

[2021-12-15 18:03] pmnoxx commented on #5826
@bowenwang1996 https://github.com/near/nearcore/pull/5848

[2021-12-15 18:40] miraclx opened #5849 "Ensure all non-private crates have a README"
Tracked in [https://github.com/near/nearcore/issues/5763](https://github.com/near/nearcore/issues/5763), we should add a compliance rule for this. And decide whether we want to enforce this rule for non-private crates only or all crates in the workspace. But it does make sense to have everything documented.

Once resolved, and we have all non-private crates sufficiently documented, we want to acti

[2021-12-15 19:27] TrevorJTClarke commented on #5824
Adding more context here, had the same issues as well, here's the output:
<img width="1156" alt="Screen Shot 2021-12-15 at 11 12 48 AM" src="https://user-images.githubusercontent.com/2633184/146251454-c16f7047-996a-4c50-bb06-cbb5e097bcd4.png">

This was found to happen 2 times, following entirely new machines built on Dec 12th & Dec 14th. Both times the machine was using 1.23.0-rc1
As you can see

[2021-12-15 19:33] TrevorJTClarke commented on #5818
@vans163 does this mean you were able to solve the issue? If so, what steps? (so basically because 1.23.0 came out, any nearup instances go there but can't do anything because the testnet nodes are mostly on 1.23.0-rc1??)

[2021-12-15 19:35] pmnoxx opened #5853 "Unable to connect to mainnet from local build"
After building a local version of the binary. I'm unable to connect to MAINNET

Here are the error logs:

[code]

[2021-12-15 19:47] TrevorJTClarke commented on #5826
Is there a setting or could there be one for suppressing all warnings?
[code]
and other warnings like mismatched network peer rejection causes many node operators concern that really aren't ideal.

[2021-12-15 19:47] dtp263 opened #5854 "CPU and Mem pinned after network slowdown"
**Describe the bug** After a network slowdown, caused by an AWS outage, a couple nodes got stuck in a bad state. These nodes were:

1.  in sync
2.  logging valid logs
3.  consistently not signing blocks

A node restart fixed the issue.

**To Reproduce** Not sure how to reproduce.

**Expected behavior** A fully synced node that is logging valid logs should produce blocks.

**Screenshots** Example L

[2021-12-15 23:27] pmnoxx commented on #5826
`export RUST_LOG=ERROR  ` in bash, before running binary.

[2021-12-15 23:29] pmnoxx commented on #5826
@TrevorJTClarke Or simply
`RUST_LOG=ERROR nearup run ...`

[2021-12-15 23:30] pmnoxx commented on #5826
Btw, that warnings has been removed. The fix is in `master`.

[2021-12-15 23:40] TrevorJTClarke commented on #5826
Tested, seems it didn't get passed for nearup. I'll wait for master update.
Thanks for the info!

[2021-12-15 23:47] pmnoxx commented on #5826
That's a bug. Fell free to create an issue. We should fix it.

[2021-12-15 23:50] pmnoxx opened #5855 "`nearup` doesn't read `RUST_LOG` from enviroment"
We have an option to specify `RUST_LOG` when running `nearup`.

However, it's highly not intuitive.
[code]

While, people expect it to work like this as well:
[code]
See https://github.com/near/nearcore/issues/5826#issuecomment-995305120

[2021-12-15 23:51] pmnoxx commented on #5826
@TrevorJTClarke I created an issue for it: https://github.com/near/nearcore/issues/5855

[2021-12-15 23:51] pmnoxx commented on #5826
Apparently, there is a highly not intuitive way of doing it
[code]

[2021-12-16 00:06] TrevorJTClarke commented on #5826
Hmm, didnt seem to work either.

[2021-12-16 01:05] pmnoxx commented on #5826
I'll debug this later. I want to make a few usability improvements to `nearup`, starting with https://github.com/near/nearup/pull/190

[2021-12-16 02:08] vans163 commented on #5818
Yea this can be closed. I think its because I did not use nearup (so my config.json and neard checksum was off from what the others on testnet used), I just made a ticket of it because I feel the neard logging does not express critical errors so well.

If its feasible (to not reveal too much information to potential attackers), examples of what I feel are critical are peers rejecting you (right no

[2021-12-16 03:19] Rishabhraghwendra18 commented on #1313
Ok.. no problem @pmnoxx . I will find some other issue to work on

[2021-12-16 03:37] pmnoxx commented on #1313
@Rishabhraghwendra18 I started working on fixing it for `near-network`. https://github.com/near/nearcore/pull/5834
The issue is a bit complicated, as some other code changes / refactoring are required. I don't think it's a good issue to start with.

[2021-12-16 09:14] pmnoxx commented on #4157
I improved performance, by 1% https://github.com/near/near-memory-tracker/pull/52

[2021-12-16 09:40] pmnoxx commented on #4157
After https://github.com/near/near-memory-tracker/pull/53
The allocation time decreases from 38ns to 12ns.

[2021-12-16 11:54] matklad commented on #4157
Curious, what's the macro effect here? EG, how fast "load genesis" as a whole becomes?

[2021-12-16 13:50] #5109 closed

[2021-12-16 13:54] nikurt commented on #4791
About 50 seconds are spent reading genesis here: https://github.com/near/nearcore/blob/29a8ae2e7a745d2d2d48c1b28f626fd91671064a/core/chain-configs/src/genesis_config.rs#L303

Also, why do we even need to read genesis twice? :)

[2021-12-16 14:05] bowenwang1996 commented on #5079
@Rishabhraghwendra18 feel free to submit a PR!

[2021-12-16 14:06] bowenwang1996 commented on #3355
I believe @jakmeier is working on something related

[2021-12-16 14:10] bowenwang1996 commented on #1655
I think it is about making sure that the ip address can be properly parsed. Actually it seems that this has already been fixed. @Rishabhraghwendra18 maybe you can help verify that

[2021-12-16 16:34] janewang commented on #5824
@nikurt @bowenwang1996 FYI this is happening on testnet.

[2021-12-16 16:37] janewang commented on #5818
@nikurt @bowenwang1996 FYI this is happening on testnet.

[2021-12-16 17:09] jakmeier commented on #3355
Yes, while I am not necessarily working on a spec, I am in this general vicinity.
More specifically, I have been looking at the parameters of our gas cost model and how we have come up with the estimated values for those parameters. The goal of my current work is to find out where the model has deficiencies. For example, under-charging can be considered a vulnerability as it opens the door to DoS

[2021-12-16 17:56] mina86 opened #5859 "`fuzz_target_1` of `chain/jsonrpc/fuzz` is broken"
See https://nayduck.near.org/#/test/263119

[2021-12-16 18:36] pmnoxx commented on #4157
Currently, with all features it takes ` took=32.098465268s` to load config with `performance_stats, memory_stats` features
Without those features it's ` took=31.974870134s`

In `near-memory-tracker` allocator, there is a 1000 bytes threshold, after which we will do `backtrace` 100% of the time.

That's an issue, because now allocating `1024` bytes takes `2000ns` instead of default `40ns`.
After op

[2021-12-16 18:53] bowenwang1996 commented on #5824
Does it show the same DBNotFoundError?

[2021-12-16 18:54] TrevorJTClarke commented on #5824
yes it does:
[code]

[2021-12-16 21:25] bowenwang1996 commented on #5818
Closing as @vans163 mentioned that there was no real issue

[2021-12-16 21:25] #5818 closed

[2021-12-16 21:27] bowenwang1996 commented on #5824
@TrevorJTClarke I tried to reproduce the issue but could not. The node I ran didn't have problems with syncing

[2021-12-16 21:34] #4898 closed

[2021-12-16 22:58] pmnoxx commented on #3838
There are still a few optimizations we can do to exchange routing tables:
- Improve routing table exchange computation by factor of 4x.
It used to take 1s to compute routing table computation for `100_100` test, now it takes `1ms`, we can finish optimizing it, and make it `0.25ms`.

[2021-12-17 12:14] pmnoxx opened #5878 "PeerManager::monitor_peers_trigger may stop in case of an error"
After doing cleanup in #5851
We found out that the unwrap_or_error! macro, was used inside a trigger.
This would cause "return" to be called in case of an error, and that it turn would result in monitor_peers_trigger trigger stopping.

Let's remove those returns.

[2021-12-17 14:28] bowenwang1996 commented on #5853
Good catch! Looks like this happens because while in the latest release the protocol version is 49, mainnet has not been upgraded yet so some nodes are running protocol version 48. On the other hand, due to #5802, on master the protocol version is 50. Given that we have a check that protocol version on master <= protocol version in latest release +1, and that protocol version in latest release <=

[2021-12-17 14:30] bowenwang1996 commented on #5854
This feels like a network-related issue. I suspect that when a node encounters some network connection issue and later on recovers from it, something breaks and causes cpu usage to spike. cc @mm-near

[2021-12-17 15:36] #5853 closed

[2021-12-17 16:24] mzhangmzz opened #5885 "make process_partial_encoded_chunk only validate parts and receipts the node cares about"
now process_partial_encoded_chunk checks validity for all parts and receipts include the partial encoded chunk. There are two optimizations we can make
1) only check parts and receipts that are not in the current chunk entry
2) only check parts and receipts that the node cares about
Note that if we only validate some parts and receipts, it is important to only store the parts and receipts that we

[2021-12-17 16:33] vans163 commented on #5818
It seems 10+ people thumbs upped a discord message that asked if they were having this issue, so its just not being reported.

[2021-12-17 16:46] mzhangmzz opened #5886 "Fix ForwardChunkParts"
Currently, there are two issues in our implementation in the feature ForwardChunkParts, which makes part owner of a part to forward it to other validators who need the part.

1.  Right now, the part will be forwarded every time when the part owner runs process_partial_encoded_chunk, even if the part is not included in the partial_encoded_chunk being processed. This causes a lot of unnecessary netw

[2021-12-17 17:27] #5708 closed

[2021-12-18 20:43] JiuKelo opened #5900 "Validator RPC not responding in a timely manner after update to 1.23.0"
Hey guys,

After updating to 1.23.0 our RPC requests stoped working. During debug we've discovered that it answers but with *HUGE* delay
At epoch change yesterday it stated working instantly again, today (after epoch change) it began lagging again.

An example here:

[code]

Using nearcore v1.23.0 with rustc 1.57.0 (f1edd0429 2021-11-29) on mainnet

[2021-12-19 04:27] ama31337 commented on #5688
we've this issue right after update in mainnet, a lot of validators are kicked out next epoch

| Kicked out | abl_pool.poolv1.near                         | -                        | -       |
| Kicked out | anonymous.poolv1.near                        | -                        | -       |
| Kicked out | appload.poolv1.near                          | -                        | -       |
| Kicked

[2021-12-19 19:59] AngelBlock opened #5903 "Rewards were not granted to `kicked` validators in 2 epochs prior the kick."
**Describe the bug**
After recent protocol update on the 2021-12-17 Rewards were not granted to `kicked` (described here #5901) validators in 2 epochs prior the kick event.

No owner account stake changes recorded from 55439472 to 55482672 and 55482672 to 55525872

**Screenshots**
<img width="607" alt="Screenshot 2021-12-19 at 19 51 48" src="https://user-images.githubusercontent.com/80400686/14668

[2021-12-20 03:29] bowenwang1996 commented on #5900
Looks like this is caused by https://github.com/near/nearcore/pull/5125 where we changed to use a separate runtime for view client. The issue is that it initializes a separate epoch manager and https://github.com/near/nearcore/blob/acaa632eb6a4ac80dba344e715c2fda30aa3cf43/chain/epoch_manager/src/lib.rs#L965 relies on https://github.com/near/nearcore/blob/acaa632eb6a4ac80dba344e715c2fda30aa3cf43/ch

[2021-12-20 04:50] Rishabhraghwendra18 commented on #1655
@bowenwang1996 yup sure... I think you are correct it has been implemented . I have found this [PR](https://github.com/near/nearcore/pull/5029) which talks about `boot_address` . It made the changes to extract the address inside a function (as per the PR description)

[2021-12-20 05:07] asifhj commented on #4422
@janewang I am also facing the same issue after the restart of the near mainnet validator. And I found a DB error in the debug logs

![image](https://user-images.githubusercontent.com/1665106/146714604-a2ecc4c0-86fd-4c4d-b458-7b2b834d77b0.png)

The blocks count keeps increasing.

![image](https://user-images.githubusercontent.com/1665106/146714629-b5ccee6d-fe3e-460d-943d-3a36a0a77496.png)

[2021-12-20 07:59] pmnoxx commented on #4837
@matklad https://github.com/near/nearcore/pull/5906

[2021-12-20 08:14] pmnoxx commented on #5714
@matklad Which errors shouldn't be cached?

[2021-12-20 08:26] pmnoxx commented on #5714
@matklad Does, this solve the issue? https://github.com/near/nearcore/pull/5907

[2021-12-20 09:56] matklad commented on #5714
will be fixed by https://github.com/near/nearcore/pull/5856

[2021-12-20 14:27] matklad commented on #4485
In https://near.zulipchat.com/#narrow/stream/295306-nearinc.2Fcontract-runtime/topic/runtime.20write.20memory/near/265443396, @nagisa makes a great point that it should be

[code]

That is, that we also specify that we want to read a *part* of the register. This will allow the caller to read the whole register in several takes. That is, if you passed a too-small buffer for the first read, insterad

[2021-12-20 17:00] marcelo-gonzalez commented on #4422
@asifhj Could you please share the neard version you were running? Also did you see any log messages that look something like ``` Block sync: ... requesting block { hash } from N peers``` ?

[2021-12-20 17:53] olonho commented on #5707
Yes, seems so

[2021-12-20 18:37] EgorKulikov opened #5914 "Make sense of and reenable test_challenge_in_different_epoch"
There are weird interactions that seems to be related to case where for 2 block in a row both block and chunk is produced by other client

[2021-12-20 18:50] asifhj commented on #4422
@marcelo-gonzalez thanks for the response. I am running 1.23.0 version. I am participating in the mainnet delegation program. 4 other guys reported the same issues in the discord. I am sorry, restarted from scratch with a new dump. Let me try to pull some logs from my Splunk setup.

[2021-12-20 20:45] Longarithm opened #5917 "Tool for simulating alone tx execution in a block"
**Problem** Unrelated receipts / txs included into the same block may affect each other's cost. This worsens devx - while they are trying to estimate cost for some call, they may get too optimistic costs, and in reality their calls will fail. With more adoption, this will occur more frequently.

**Example** Example: receipts included into the [block 74667247](https://explorer.testnet.near.org/bloc

[2021-12-20 21:21] Longarithm opened #5920 "Save all visited nodes into cache on block level"
**Idea**
[Investigation](https://near.zulipchat.com/#narrow/stream/308695-near-eng-private/topic/trie.20depth/near/263925418) of some Aurora call shows that 30-40% gas is spent on touching trie node, and 38% of these nodes are top-level ones. So we just charge for taking the same nodes from DB again and again, which is suboptimal.

At the same time, in `TrieUpdate` we store `committed` and `prospe

[2021-12-20 22:47] Longarithm opened #5922 "Tool for visualising state"
**Sketch of an idea** Visualize Trie (and AVL tree in the future) with a heat map for number of node usages.

Request = “Show me the touched nodes in Trie …”

*   for specific tx / receipt
*   for range of blocks
*   for epoch
*   for X days
*   for last N calls of contract C

Colours: hot – highly used nodes, cold – rarely used

Leaves – ideally clickable, showing related StateRecord

Options:

*

[2021-12-21 00:49] bowenwang1996 commented on #4791
I think we always compute the genesis hash to verify that it has not changed, but you are right -- there is no good reason to do that. The assumption should be that genesis does not change instead of the other way around.

[2021-12-21 00:50] bowenwang1996 commented on #4833
@matklad is this issue resolved?

[2021-12-21 00:54] bowenwang1996 commented on #3355
@jakmeier I think this might be a natural outcome of your investigation into the cost model :)

[2021-12-21 00:56] bowenwang1996 commented on #5859
@miraclx I believe you introduced jsonrpc fuzzing. Please take a look

[2021-12-21 01:20] bowenwang1996 commented on #5885
@mzhangmzz is this a duplicate of https://github.com/near/nearcore/issues/3662 ?

[2021-12-21 01:37] bowenwang1996 commented on #5903
Just to make it more clear, your node is kicked out in epoch T and you said that it didn't receive rewards for epoch T, T+1, T+2, and T+3? If it is kicked out in epoch T and absent in epoch T+2 and T+3, then for those epochs it should not receive any rewards. Now the question is what happened in epoch T+1. Was your node kicked out in epoch T+1 as well (did not produce enough blocks or chunks)?

[2021-12-21 02:09] #5836 closed

[2021-12-21 07:30] AngelBlock commented on #5903
That is a good question I don't have answer to as I don't have means to check that at the time. If assume that it was than it all makes sense and we can close the call, is there a way to check retrospectively?

[2021-12-21 09:25] Rishabhraghwendra18 opened #5924 "Devx: Add git hooks"
I am contributing to the repo and I have found that CI fails if we haven't run `cargo fmt` before pushing our code . I think it will be a good idea to add a git hook which runs `cargo fmt` every time whenever we commit .  This can save time to go back again and run the command and then push the changes .

I have found a package regarding it called [`cargo-husky`](https://crates.io/crates/cargo-hus

[2021-12-21 11:25] fadeevab opened #5926 "`near-vm-runner-standalone` build fails in Windows"
**Describe the bug**
`cargo build` fails to compile `wasmer-runtime-core-near`:

[code]

**To Reproduce**
[code]

**Expected behavior**
Build succeeds.

**Screenshots**
[code]

**Version (please complete the following information):**
- nearcore commit/branch: `master`
- rust version (if local): `stable-x86_64-pc-windows-msvc`
- docker (if using docker): N/A
- mainnet/testnet/betanet/local: N/A

**