[2021-07-02 16:04] bowenwang1996 commented on #2749
I believe this is fixed

[2021-07-02 16:04] #2749 closed

[2021-07-02 16:06] bowenwang1996 commented on #2706
@frol what is the status of this issue?

[2021-07-02 16:12] bowenwang1996 commented on #2690
I believe all the action items in this issue are done. Please reopen if that is not the case.

[2021-07-02 16:12] #2690 closed

[2021-07-02 16:22] bowenwang1996 commented on #2652
I believe this is done with the introduction of primitives-core

[2021-07-02 16:22] #2652 closed

[2021-07-02 16:31] bowenwang1996 commented on #2430
We are in the process of redesigning the testing framework. This issue is no longer relevant.

[2021-07-02 16:31] #2430 closed

[2021-07-02 16:32] bowenwang1996 commented on #2607
I believe this is no longer relevant because now we need to do protocol upgrades to update the fees

[2021-07-02 16:32] #2607 closed

[2021-07-02 16:33] bowenwang1996 commented on #2581
@mikedotexe do you think this is something that the dev platform team can work on?

[2021-07-02 16:40] bowenwang1996 commented on #2323
Outdated

[2021-07-02 16:40] #2323 closed

[2021-07-02 16:41] bowenwang1996 commented on #1881
@frol @matklad do we still want to proceed with this?

[2021-07-02 16:41] bowenwang1996 commented on #2400
outdated

[2021-07-02 16:41] #2400 closed

[2021-07-02 16:43] bowenwang1996 commented on #2516
@evgenykuzyakov do we still want this?

[2021-07-02 16:47] bowenwang1996 commented on #2487
I believe this is done. @chefsale @mhalambek please confirm

[2021-07-02 16:49] bowenwang1996 commented on #2457
Duplicate of #4379

[2021-07-02 16:49] #2457 closed

[2021-07-02 16:51] evgenykuzyakov commented on #2516
Yes

[2021-07-02 16:51] bowenwang1996 commented on #4447
I don't have any concrete suggestion in mind and I'll let @posvyatokum figure this out. Yes we should not change how the existing genesis json is hashed, but rather we should introduce something that literally just hashes that file (without filling in new fields with default values) and check whether it matches what is in the database. And it does sound like `serde_json::Value` could be helpful he

[2021-07-02 16:52] bowenwang1996 commented on #1634
This is outdated with the introduction of mocknet

[2021-07-02 16:52] #1634 closed

[2021-07-02 16:54] bowenwang1996 commented on #1804
cc @nearmax @Longarithm

[2021-07-02 16:57] bowenwang1996 commented on #2434
I believe it is outdated given that we have the simulator now

[2021-07-02 16:57] #2434 closed

[2021-07-02 16:58] bowenwang1996 commented on #1121
This is already done

[2021-07-02 16:58] #1121 closed

[2021-07-02 17:00] bowenwang1996 commented on #2433
I believe this is already done. Please reopen if it is not

[2021-07-02 17:00] #2433 closed

[2021-07-02 17:00] bowenwang1996 commented on #2403
Transferring to NEPs since it requires design discussion

[2021-07-02 17:03] chefsale commented on #2487
Yes, I think we can close this one.

[2021-07-02 19:48] bowenwang1996 commented on #2215
Looks like no action items here. Closing

[2021-07-02 19:48] #2215 closed

[2021-07-02 19:50] bowenwang1996 commented on #1739
This is effectively implemented with how the protocol upgrade works in general. For each block we know the associated protocol version and can then decide which runtime config to use

[2021-07-02 19:50] #1739 closed

[2021-07-02 19:51] bowenwang1996 commented on #2242
looks like a duplicate of #1972

[2021-07-02 19:51] #2242 closed

[2021-07-02 19:52] bowenwang1996 commented on #2335
looks like no action items here. Closing

[2021-07-02 19:52] #2335 closed

[2021-07-02 20:03] bowenwang1996 commented on #1903
Doing this will break existing contracts. I am not sure what the process of deprecating a host function is. cc @matklad @olonho

[2021-07-02 20:04] bowenwang1996 commented on #2315
neard is refactored and we have neard and nearcore as separate crates now. The dependency issue is now tracked in #4357

[2021-07-02 20:04] #2315 closed

[2021-07-02 20:04] bowenwang1996 commented on #1987
@nearmax what is the status of this issue?

[2021-07-02 20:06] bowenwang1996 commented on #1937
I believe this will be part of the near-sandbox initiative.

[2021-07-02 20:06] #1937 closed

[2021-07-02 20:07] bowenwang1996 commented on #2098
Outdated

[2021-07-02 20:07] #2098 closed

[2021-07-02 20:09] bowenwang1996 commented on #1700
We should take this into consideration while researching gas price auction. cc @abacabadabacaba

[2021-07-02 20:10] bowenwang1996 commented on #1725
@nearmax is this issue still relevant?

[2021-07-02 22:07] bowenwang1996 commented on #1266
Duplicate of #2074

[2021-07-02 22:07] #1266 closed

[2021-07-02 22:07] bowenwang1996 commented on #1293
Superseded by #4374

[2021-07-02 22:07] #1293 closed

[2021-07-02 22:12] bowenwang1996 commented on #274
Need to have a design first. Moving to NEPs

[2021-07-02 22:16] bowenwang1996 commented on #2167
I believe the majority of the work is done. The rest is tracked in #2242

[2021-07-02 22:16] #2167 closed

[2021-07-02 22:18] bowenwang1996 commented on #1829
@evgenykuzyakov are there still any action items here? if not let's close the issue

[2021-07-02 22:19] bowenwang1996 commented on #1693
This is similar to #3266

[2021-07-02 22:19] #1693 closed

[2021-07-02 22:20] bowenwang1996 commented on #2267
@ailisp is this still relevant?

[2021-07-02 22:23] bowenwang1996 commented on #2240
@willemneal is this still relevant?

[2021-07-02 22:25] bowenwang1996 commented on #1162
Outdated. I don't think that script is used anymore

[2021-07-02 22:25] #1162 closed

[2021-07-02 22:25] bowenwang1996 commented on #1129
Outdated. I believe we no longer use `start_testnet.py`

[2021-07-02 22:25] #1129 closed

[2021-07-02 22:28] bowenwang1996 commented on #1762
should we just implement something in borsh that unwraps the error?

[2021-07-02 22:29] bowenwang1996 commented on #1669
I believe we run parameter estimator without cache. See #2948

[2021-07-02 22:29] #1669 closed

[2021-07-02 22:34] bowenwang1996 commented on #1225
@chefsale is this script still used? If not we should just remove it

[2021-07-02 22:35] bowenwang1996 commented on #2856
Yeah makes sense. Let's close it

[2021-07-02 22:35] #2856 closed

[2021-07-02 22:57] #2939 closed

[2021-07-02 22:58] bowenwang1996 commented on #3448
Not sure. @mikedotexe @DiscRiskandBisque I think you are more involved in the sandbox design. Do you know the plan there?

[2021-07-02 23:54] bowenwang1996 commented on #3750
Note: we essentially need to expose `tail` of the chain

[2021-07-04 17:28] bowenwang1996 commented on #4275
@chefsale is this still relevant?

[2021-07-05 06:55] ailisp commented on #2267
Just finished a docker build, looks it's fixed!

[2021-07-05 06:55] #2267 closed

[2021-07-05 06:58] ailisp commented on #2736
@bowenwang1996 I believe this is still nice to have. Yeah it should be part of CI, perhaps some kind of bot, so that if you add an expensive test or a test under pytest dir, a script should check complete_nayduck_set.txt and remind if it's not added

[2021-07-05 08:17] ailisp commented on #3037
@bowenwang1996 Examined it's still not fixed. Most recent fee update to add_key_cost.function_call_cost_per_byte is this https://github.com/near/nearcore/commits/master/scripts/migrations/11-runtime-cost-adjustment.py, the number of this cost matches fees.rs, which is prior to this issue.
Should be fixable by run runtime param estimator and update cost in a protocol version upgrade I think

[2021-07-05 09:05] ailisp commented on #4450
@bowenwang1996 Looks like the error is from an invalid ExecutionOutcome stored in mainnet. I'm not sure how to handle it, maybe **simply drop it** given it cannot be borsh deserialized with current definition of ExecutionOutcomeWithIdAndProof so it's junk?

Here is the problematic `Vec<ExecutionOutcomeWithIdAndProof>` by dumped by std::fs::write:

https://github.com/ailisp/migration-fail-repro/blo

[2021-07-05 10:56] matklad commented on #4409
Looks soo much better now, thanks for investing time into this @bowenwang1996!

I suggest, before closing this issue, to add a paragraph about issue labeling to CONTRIBUTING.md. Here's the relevant section from rust-analyzer docs: https://github.com/rust-analyzer/rust-analyzer/tree/master/docs/dev#issue-labels

I think it's important to mention:

* What's our overall strategy for labeling: is it b

[2021-07-05 16:31] bowenwang1996 commented on #3037
Okay. @Longarithm please keep this issue in mind when you recalculate the gas costs.

[2021-07-05 16:34] bowenwang1996 commented on #4450
@ailisp one way to fix it is to re-apply the block that generates the execution outcome. Please sync with @khorolets on how to address this so that indexer is not affected by the migration.

[2021-07-05 16:47] nikurt commented on #4207
Can you please clarify what is State viewer.
Is there a way to reproduce the issue locally?

[2021-07-05 17:14] chefsale commented on #4207
Uff, not sure how are we going to approach this issue. cc: @bowenwang1996

But to summarize, state viewer is a tool inside the nearcore repo which we use for taking all of the current state and compress it into a new genesis.json file, we call the process "hardfork" which is semi correct, but we still use it.

I believe the problem here is that the protocol version during this dump stays the same

[2021-07-05 17:16] chefsale commented on #4207
Also links to how to run an archival node with and without nearup:
https://docs.near.org/docs/develop/node/archival/run-archival-node-with-nearup#docsNav
https://docs.near.org/docs/develop/node/archival/run-archival-node-without-nearup#docsNav

[2021-07-05 17:47] mina86 commented on #4379
@matklad, @nearmax, any decision here?

[2021-07-05 22:01] Longarithm opened #4460 "Improve docs for `runtime-params-estimator`"
I ran into some pitfalls during generating `RuntimeConfig` using `runtime-params-estimator`. I plan to improve docs a bit so it will be easier for future users to work with it, e.g. adding QA section.

[2021-07-06 01:50] ailisp commented on #4450
@khorolets in short, some execution outcomes were not migrated properly after a (still unknown) history migration and those execution outcomes cannot be borsh deserialized. I'm going to change these execution outcomes, and let you know which are them, and I think you can do a manually update on these execution outcomes on indexer side. Do you have a better plan?

[2021-07-06 04:44] khorolets commented on #4450
Sounds legit, thank you!

[2021-07-06 05:12] #3415 closed

[2021-07-06 05:16] #3156 closed

[2021-07-06 05:18] #2780 closed

[2021-07-06 05:23] chefsale commented on #2555
@bowenwang1996 this can be closed?

[2021-07-06 05:23] chefsale commented on #2552
@bowenwang1996 This can be closed?

[2021-07-06 13:29] matklad commented on #4379
I believe we are still in the state of confusion regarding this issue, no decision has been made, and the status-quo is self-contradictory.

To reach a decision, we need input from devx team (cc @mikedotexe) on the following questions:

* Has the decision on [sandbox](https://gov.near.org/t/revisiting-contract-testing-framework/2920) have been reached (cc (@DiscRiskandBisque as product vision owne

[2021-07-06 14:13] chefsale commented on #4275
I believe we discussed this issue and it doesn't seem like a solution just to spam indexer logs with an WARNING, as most likely it will not be seen there. Maybe a better solution would be looking into automating messages to TG and Discord to let people know if there is a new release happening, as it seems also very hard to detect protocol version changes based on my discussion with @bowenwang1996.

[2021-07-06 14:26] willemneal commented on #4410
If we are planning for the long term I think that [`walrus`](https://github.com/rustwasm/walrus) is a good bet for implementing gas injection.

[2021-07-06 14:37] nearmax opened #4461 "Consider using higher-performance SSD. Launch new IO fees"
We have re-calculated IO costs and we discovered that they are more expensive than we thought before.

We should consider using higher-performance SSD to match the state of art on other blockchains.

Regardless of whether we switch our hardware requirement to higher-performance SSD or not we should update our protocol to use the new fees.

CC @janewang

[2021-07-06 15:29] vans163 commented on #4461
NVMEs cost as much as SSDs these days (unless you need really high density 4TB+) and have almost 10x more IOPS.

The costs should also not be based off AWS / Public Clouds, but off running normal dedicated servers / computers and regular IP transit (IXPs for example but this is too low a cost).

The cost for someone who has a 1gbps line to run a small node (like 4-8 core proc, 16G ram, 2tb NVME) i

[2021-07-06 15:33] vans163 opened #4462 "state changes AKA Events for clients"
So https://github.com/near/nearcore/issues/1546 was closed but it misses the main point, clients need a way to subscribe to events on a smart contract.

Its a very common use case to constantly check for changes when >1 parties are involved where polling constantly on sides is not an option. Neither is it an option for these clients to run full nodes locally, someone might be on their iPhone brows

[2021-07-06 16:56] matklad commented on #1903
Is this just about renaming the function? It's easy to inject the same host function under two different aliases, so we can make both names available to contracts.

I don't think we can have a reasonable process for *removing* the old alias -- there are deployed contracts using it. But I also don't see much problem with not removing it.

The pragmatic solution would be to just do the rename at the

[2021-07-06 17:00] matklad commented on #1881
Yes, I believe there's still room for improvement for project structure, and that this is non-urgent, but important. @miraclx recently make  great progress here as well! Let's keep this open.

[2021-07-06 20:46] janewang commented on #4422
@danielimkk Are you able to print the verbose logging for this? Thanks

[2021-07-06 21:07] bowenwang1996 commented on #2313
There are still some shared locks with epoch manager, but it is rather low impact

[2021-07-06 21:24] janewang commented on #1655
@chefsale Are you working on this already? Please let us know. Thanks!

[2021-07-06 21:57] janewang commented on #2834
In addition to `num_expected_blocks` and `num_produced_blocks`, consider add a graph of delta of those two, so num_expected_blocks - num_produced_blocks. Closing https://github.com/near/nearcore/issues/3580 in favor of this story, as this is the superset.

[2021-07-06 21:58] janewang commented on #3580
Closing this story in favor of https://github.com/near/nearcore/issues/2834.

[2021-07-06 21:58] #3580 closed

[2021-07-06 22:11] bowenwang1996 commented on #4207
@nikurt state viewer allows one to dump the state of the current network into a new genesis that can be used to start a new network. `protocol_version` is a field in the genesis and the current behavior is to preserve the one from the old genesis, which is suboptimal. We should simply replace it with the latest protocol version of the network

[2021-07-06 22:37] #2555 closed

[2021-07-06 22:37] #2552 closed

[2021-07-06 22:42] #4275 closed

[2021-07-06 22:45] bowenwang1996 commented on #4461
I believe we use "persistent SSD" on gcloud for benchmarks. They are likely much slower than local SSDs. We should potentially try that.

[2021-07-06 22:45] bowenwang1996 commented on #4462
@frol please take a look at this

[2021-07-06 23:04] bowenwang1996 commented on #1903
@austinabell could we create a near-sdk-rs issue and close this one?

[2021-07-07 00:04] bowenwang1996 opened #4464 "`broadcast_tx_commit` behavior changed between 1.19.2 and 1.20.0-rc.1"
The latest release broke `backward_compatible.py` because the behavior of `broadcast_tx_commit` changed. More specifically, https://github.com/near/nearcore/blob/b7c8a3b5d2bfaeb1d689972fd867d1c10afcc440/pytest/tests/sanity/backward_compatible.py#L110 used to work if the stable node runs 1.19.0 but the assertion fails with 1.20.0-rc.1. What happened is that the test is not well written and the prom

[2021-07-07 00:06] bowenwang1996 commented on #4464
@frol @khorolets please take a look at this issue. We need to figure out what happened before making the mainnet release

[2021-07-07 00:59] austinabell commented on #1903
Closing as requested, but feel free to re-open if there was something else intended to be added to this

[2021-07-07 00:59] #1903 closed

[2021-07-07 01:55] syrusakbary commented on #4410
Our current middleware system is designed to generate wasm that could also be used by any other runtime (or even in the browser, similarly to pwasm-utils). Perhaps we can work to make it Wasmer-abstract (which it should be doable more or less easily, since it's main dependency is only wasmparser).

At the end I think it might be a question of if you want to build the middleware yourselves or use s

[2021-07-07 02:33] vans163 commented on #4461
Can these benchmarks be done on OVH/Hetzner/Packet servers instead of virtualized cloud servers that have degraded unmeasurable performance? (impossible to predict how over provisioned the metal running the virtual server is)

[2021-07-07 06:18] chefsale commented on #1655
I haven't started working on this, I just added th boot nodee to the init command. Is this urgent, if yes I can takr it over.

[2021-07-07 12:58] khorolets commented on #4464
@bowenwang1996 share please a trick how to switch between branches. My attempts to run it from 1.19.2 always switch me to 1.20.0 :(

[2021-07-07 13:59] matklad commented on #4410
Thanks for chiming it, @syrusakbary!

Yeah, long term, I think it'll be beneficial to split wasmer middleware ecosystem into vendor-agnostic `wasm->wasm` functions, and wasmer specific hooks to plug those functions into wasmer engine. The hard question is what type is `wasm` exactly? `Vec<u8>` is maximally interoperable, but inconvenient and requires re-parsing. Something like `walrus::Module` is

[2021-07-07 16:11] matklad commented on #2948
To clarify, `no_cache` affects to orthogonal caches:

* `ChainStore` [cache](https://github.com/near/nearcore/blob/f4c194f700f856be823a979b6870350762366feb/chain/chain/src/store.rs#L54-L64) which caches access to rocksdb storeage
* [In-memory contract compilation cache](https://github.com/near/nearcore/blob/f4c194f700f856be823a979b6870350762366feb/runtime/near-vm-runner/src/cache.rs#L187-L202), wh

[2021-07-07 16:18] matklad commented on #1057
I think this is superseded by #4410. We should look at the superblock metering approach, but from a glance, #4410 should be both faster and more reliable -- seems like superblock metering is a "happy case optimization", so it'll still cause slowdowns worst-case.

[2021-07-07 16:18] #1057 closed

[2021-07-07 16:36] bowenwang1996 commented on #4461
I believe quite a few validators still use cloud providers to run nodes. We'd like to make sure that would be still feasible

[2021-07-07 16:37] bowenwang1996 commented on #1655
No it is not urgent. Just want to make sure that it is still relevant

[2021-07-07 16:40] bowenwang1996 commented on #4464
Change the line to `branch = "1.19.2"`

[2021-07-07 16:57] bowenwang1996 commented on #2948
It also affects `TrieCache`

[2021-07-07 17:27] mina86 commented on #3266
The process will now gracefully handle SIGINT (i.e. ^C) and SIGTERM (i.e. default signal used by `kill` command).

`cancel_all_background_work` is still waiting for review.

[2021-07-07 17:33] matklad opened #4468 "Refactor `RuntimeConfig` handling"
We store `RuntimeConfig` in the NightShadeRuntime:

https://github.com/near/nearcore/blob/056f789e38c3e364cf1ae3db846499db518e32c5/nearcore/src/runtime/mod.rs#L132

The original idea seemed to be that this is basically a constant, but now we have two places where we actually modify config.

First, when we get config for specific protocol version:
 https://github.com/near/nearcore/blob/056f789e38c3

[2021-07-07 17:36] matklad commented on #4468
cc https://github.com/near/nearcore/issues/1738

[2021-07-07 17:37] matklad opened #4469 "Move all of the nearcore tests into a single compilation unit"
At the moment we have test crates in `nearcore/tests`, we should unify them into one test crate. I started doing that in https://github.com/near/nearcore/pull/4263, but that bitrotted.

See https://github.com/near/nearcore/pull/4027 for why this would be better.

Should be done after #4468 -- the lazy_static issue actually prevents moving some tests into a single binary.

[2021-07-07 17:43] matklad opened #4470 "Move `standard_test_cases` out of `test_utils`"
https://github.com/near/nearcore/blob/master/test-utils/testlib/src/standard_test_cases.rs this file is part of testlib and gets complied & linked for every crate that uses testlib.

However, it's only needed for https://github.com/near/nearcore/blob/master/integration-tests/tests/test_cases_testnet_rpc.rs and https://github.com/near/nearcore/blob/master/integration-tests/tests/test_cases_runtime.

[2021-07-07 17:55] matklad commented on #4468
@mina86 I wonder if you might be interested in picking this up -- you suggested much better solution than I had in #4263 :-)

[2021-07-07 18:10] matklad opened #4471 "Switch from wabt to wat"
We currently use `wabt` to parse wasm textual format into binary form. We should switch to wat instead: https://github.com/bytecodealliance/wasm-tools/tree/main/crates/wat

wabt is a binding to a C++ library, it complicates the build. Additionally, the version we currently use is buggy (can segfault or overflow the stack), and we can't upgrade that, because the new version requires newer CMake.

w

[2021-07-07 20:33] mina86 commented on #4468
Yeah, I probably can take it. It shouldn’t be too much work.

[2021-07-08 10:48] matklad opened #4473 "Clear obsolete compile contract cache entires when upgrading VM"
Today, we store contracts, precompiled from wasm to VM-specific contract, in the database. We include the version and other bits of vm configuration into the key:

https://github.com/near/nearcore/blob/ff01c544ce2675fadbf0284af52b356a383b27a8/runtime/near-vm-runner/src/cache.rs#L20-L62

When configuration changes, all currently stored versions become useless. This doesn't affect correctness, but d

[2021-07-08 11:14] nikurt commented on #2454
Can confirm that status lines are confusing, experienced that while experimenting with running a node without any prior knowledge.

[2021-07-08 12:02] matklad commented on #4358
Discussed in today's meeting. Summary:

* for contract runtime team, it's more convenient if all vms are enabled by default
* for other teams, this creates extra compilation time tax (b/c vm deps are heavy)
* a nice middleground is to ensure that we test all vms on CI, but ship only one

Specific proposal:

* remove `wasmer1_vm` and `wasmtime_vm` from the set of [default](https://github.com/near/n

[2021-07-08 12:09] matklad commented on #4056
We don't have suuuper thorough docs here but

https://github.com/near/nearcore/blob/master/runtime/near-vm-runner/README.md

and

https://github.com/near/nearcore/blob/master/runtime/near-vm-runner/FAQ.md

should be enough to get started. The integration isn't particularly complicated, so reading the relevant sources will also help:

https://github.com/near/nearcore/tree/master/runtime/near-vm-run

[2021-07-08 12:09] #4056 closed

[2021-07-08 12:22] matklad opened #4474 "Bring current protocol costs in-line with current parameter estimator implementation"
Historically, we only measured number of CPU instructions executed when calculating costs. This is the implementation which was used to derive the current set of costs.

Then, in #3771, we implemented the logic to also account for the cost of IO operations (by measuring the total number of bytes read/written, and adding them with some coeficient to the instruction counter).

Crucially though, we *

[2021-07-08 13:11] matklad opened #4475 "Makefile contains deadcode"
I am looking at the https://github.com/near/nearcore/blob/ff01c544ce2675fadbf0284af52b356a383b27a8/Makefile, and two things do not make sense to me.

*First*, the `RUST_OPTIONS` variable. If it worked, the makefile would run commands like `cargo 1.51.0 build -p neard --release`. Note that this is invalid cargo/rustup command.

[code]

Local testing shows that `RUST_OPTIONS` is conveniently evaluat

[2021-07-08 13:13] matklad commented on #4403
I guess, first item is to reach a decision whether we want this or not. This should be easy to revert change, so let's just do it, and revert if it causes problems.

Steps:

* Fix our existing makefile: https://github.com/near/nearcore/issues/4475
* Add `export CARGO_PROFILE_RELEASE_LTO=false`, `export CARGO_PROFILE_RELEASE_CODEGEN_UNITS=1` to the Makefiles
* Remove corresponding entires [from car

[2021-07-08 13:19] mina86 commented on #4403
If there is an agreement that we want to go forward with it, I think I can take a stab at this Issue. Looking into it I’ve essentially done most of the things you’ve listed already. The only thing I envision to potentially be troublesome is confirming that no other place needs to have LTO enabled.

[2021-07-08 13:47] matklad commented on #4040
Unassigning myself -- clearly, I am not going to get to this anytime soon. Additional check-box:

- [ ] document nearcore logging best practices [here](https://github.com/near/nearcore/blob/master/docs/architecture.md#logging--observability)

[2021-07-08 14:45] matklad commented on #3363
TBH, one of my first questions upon joining contract-runtime was "why are we *not* using an interpreter"? Simple interpreters are generally more reliable, and starting with interpreter is forward compatible with switching to the compiler later and decreasing the costs.

However, we already are using a compiler, use it for cost estimation of basic WASM operations, and have some CPU-intensive contra

[2021-07-08 14:53] matklad commented on #4076
Yeah, let's close this for now: it's pretty clear that we need to do significant changes on the wasmer side before we can reconsider this, and that'll require re-starting the process here. In particular, https://github.com/wasmerio/wasmer/issues/2329 is still outstanding.

[2021-07-08 14:53] #4076 closed

[2021-07-08 15:11] matklad opened #4480 "Non-reproducible tests due to pytest/empty-contract-rs"
We have this "stub" contract:

https://github.com/near/nearcore/blob/3ac2b829f019372d69c9e98b29a5ccdf89bf6d5d/pytest/empty-contract-rs/

It is used primarily by this function:

https://github.com/near/nearcore/blob/c85bf403909018e24c7a83a20b9bbf33958a16c9/pytest/lib/utils.py#L192-L211

The problem with this empty contract is that it depends on master branch of the sdk repo *without lockfile*:

htt

[2021-07-08 15:48] #4409 closed

[2021-07-08 16:50] willemneal commented on #2240
Yes but it is a stretch goal.

[2021-07-08 19:21] Longarithm opened #4482 "Investigate unrealistic base cost of `DataReceiptCreationConfig`"
In recent `runtime-params-estimator` launches, `DataReceiptCreationConfig` base cost is 50 TGas, which is unrealistically high comparing to current cost of 4.5 TGas.

Examples:
https://github.com/near/nearcore/pull/4231
https://github.com/near/nearcore/pull/4455

[code]

cc @bowenwang1996 @olonho

[2021-07-08 23:03] bowenwang1996 commented on #4473
Ideally we should recompiled the contracts during migration to avoid breaking the invariant that contracts stored in state are compiled. However, that means that migration could take a while if there are a large number of contracts.

[2021-07-08 23:07] bowenwang1996 commented on #2454
It is the hash of some block, not of some transaction.

The first number means number of connected peers. The second number means the number of peers that have highest height close to the node. The third number means the maximum number of peers.

[2021-07-08 23:13] bowenwang1996 commented on #4403
@matklad then we also need to update documentation on how to run a node. Many validators build the binary by `cargo build -p neard --release`.

[2021-07-08 23:24] bowenwang1996 commented on #4482
To be clear, the current cost of 4.5Tgas is also unrealistically high. See https://github.com/near/nearcore/pull/3279 for a discussion on this.

[2021-07-09 01:39] ailisp commented on #4473
Right now there's no way to iterate old keys (you can iterate the DB column, but the key is hashed, you cannot make a new key from the old key. So the first approach or @bowenwang1996 's comment doesn't work. I'll do approach 2 for https://github.com/near/nearcore/pull/4448.

I suggest the following way to layout the new key in order to support iterate-and-recompile, inspired by @olonho :
[code]
b

[2021-07-09 06:17] #4475 closed

[2021-07-09 12:45] matklad opened #4485 "read_register host function signature prevents safe zero-cost bindings"
`read_registed` looks like this from contract point of view:

[code]

It makes the [notorious `gets`](https://en.cppreference.com/w/c/io/gets) mistake -- accepts pointer to a writable dynamically-sized buffer, without accepting the size as well.

This makes it impossible to use this function with stack-allocated buffers in zero-cost way. A safe wrapper like

[code]

has to call `register_len` as w

[2021-07-09 13:07] matklad commented on #4473
Can we iterate `CONTRACT_CODE` column of the Trie?

https://github.com/matklad/nearcore/blob/ceac6a1d949424fd957b854f1e4d5770d4a9c7e6/core/primitives/src/trie_key.rs#L14-L16

I don't think we need the ability to iterate data in compiled contract cache -- seems its enough to be able to drop it, and to iterate the contracts themselves?

[2021-07-09 13:53] matklad commented on #4480
Looking at the git history of this test contract, looks like this issue suggests to revert the decision in https://github.com/near/nearcore/pull/1947.

@nearmax, I wonder what are your thoughts here, should we, or should we not use `near-sdk-rs` for pytests?

I think your main point is that it's easier to use sdk for testing complex functionality like cross-shard calls.

That's true, but we also d

[2021-07-09 14:26] ailisp commented on #4473
Yeah that probably works, we can iterate CONTRACT_CODE and check if they have been compiled by making and checking the compiled cache column, and if so make a recompile, save under the new cache key format to solve @bowenwang1996's concern.

[2021-07-09 14:41] mina86 commented on #4480
At this point there's only one remaining test which uses near-sdk-rs. It uses it to build a trivial busy work function. It’s easiest to just not depend on the near-sdk IMO. The only thing to consider is whether we want to test near-sdk as part of the tests but we probably don’t want to do that.

[2021-07-09 15:01] bowenwang1996 commented on #4473
We can, but it will be much slower than iterating a database column since we need to do a trie traversal and cannot take advantage of data locality.

[2021-07-09 17:28] mina86 opened #4489 "Implement a lame duck mode for RPC services"
With #3266 done, the node handles SIGINT and SIGTERM somewhat gracefully, i.e. all the cleanup code is executed so the result is no longer effectively a crash. However, all processing is interrupted. Most notably, if a client sent an RPC request, if the node gets SIGINT it will stop the processing and close connection to the client.

This should be improved by adding a lame duck mode to RPC endpoi

[2021-07-09 17:33] matklad opened #4490 "Make `cargo test` usable for nearcore developers"
I've noticed that I never run `cargo test --workspace` locally. I do want to have an ability to quickly check if I broke something somewhere, but the usability of our current `cargo test` is abysmal.

Specifically:

* Tests output *a lot* to the terminal, making terminal scrollback buffer useless.
* Test suite is prohibitively slow. It takes 15 wall-clock minutes / 12 cpu minutes on a 24-core mach

[2021-07-09 19:24] Longarithm opened #4492 "Check that `RuntimeConfig` fees are stable relative to accounts number"
`RuntimeConfig` fees are supposed to be generated by `./estimate.sh` which creates blockchain with `10_000_000` accounts. It was chosen to match total accounts number on Ethereum at some point.

We actually run it using `200_000` accounts, so `param-estimator` runs for ~8 hours, not 1 week. However, there is a question if resulting `RuntimeConfig` fees are stable relative to accounts number, and w

[2021-07-12 13:42] mina86 commented on #4480
We no longer depend on `near-sdk`.

[2021-07-12 13:42] #4480 closed

[2021-07-12 17:02] #4468 closed

[2021-07-13 10:28] Longarithm opened #4501 "Let `param-estimator` estimate subset of `RuntimeConfig` fees"
Currently `param-estimator` runs for ~8 hours. If we want to debug some specific fee, we still have to run the whole script by default. Also, we can't just comment all fees or metrics except one, because some of them depend on others (see `upper_with_base` calls).

I speeded it up to compute deploy contract fees as follows: https://github.com/near/nearcore/compare/master...disable-estimates. It ru

[2021-07-13 14:49] mina86 commented on #4403
OK, I’m gonna just go ahead and start with this. @bowenwang1996, could you point to where the documentation is located?

[2021-07-13 15:26] #4337 closed

[2021-07-13 15:28] matklad opened #4505 "Fix `cargo fmt` check after the recent repo reorg"
This:

https://github.com/near/nearcore/blob/2e4fb7ced4319c3e9eb13ab1c572f8012d38c43e/integration-tests/tests/tidy.rs#L5

should set cwd to the project root. It was at the root before, but now it only checks subdir. Bascilly, do what we do in rust-analyzer:

https://github.com/rust-analyzer/rust-analyzer/blob/098a8e7b2f61a0d7c6bb1b7ad949969a9bc9356c/crates/rust-analyzer/tests/slow-tests/tidy.rs#L8

[2021-07-13 18:07] chefsale opened #4509 "runtime-param-estimator doesn't build under nightly"
https://buildkite.com/nearprotocol/nearcore-nightly-release/builds/451#fbf9530b-88db-4e2a-b9c2-87ec58d49488

[2021-07-13 22:51] bowenwang1996 commented on #4403
@mina86 I think it is https://github.com/near/docs/blob/master/docs/develop/node/validator/compile-and-run-a-node.md. cc @janewang

[2021-07-14 01:31] ailisp commented on #4410
@nearmax This is the problem I mentioned in our talk. I did further investigating and this seems a run-time thing that should be handled with data structures provided by wasmer/wasmtime. bytecodealliance tools/pwasm are used for handling compile-time thing only, like parsing and inject wasm inst, but this require access a run-time vm instance such as wasmer.Memory. We can make a wasm runtime agnos

[2021-07-14 08:20] chefsale opened #4513 "canary is not producing blocks after testnet bug fix (release: `1.20.0-rc.2`)"
Seems like the fix is still not on master, canary is running but not producing any blocks.

Logs seem fine:
[code]
but block rate is 0 on grafana.

[2021-07-14 13:02] frol opened #4514 "Blockers for 1.20 release on mainnet"
This is a tracking issue to make sure we take into account all the events before we roll out the release:

* [x] #4513
* [x] Make sure that backward compatibility test failure is expected
      #4464
* [x] ~Backport the migration to 1.20~ (UPD: `protocol_feature_restore_receipts_after_fix` was not stabilized in 1.20, so we are good)
      https://github.com/near/nearcore/pull/4444#issuecomment-879

[2021-07-14 14:30] bowenwang1996 commented on #4513
yeah it crashed. We need to get #4512 merged because the bug is not yet fixed on master

[2021-07-14 14:52] matklad opened #4515 "Remove protocol_feature_evm"
I think we want to completely remove `protocol_feature_evm` and the related functionality. Is that correct?

I don't think we currently are tracking this work, so let's create an issue for this. I wonder what's the right team to do this? Probably contract runtime at this point?

[2021-07-14 15:30] bowenwang1996 commented on #4515
Not so sure about that. @artob @djsatok what do you think?

[2021-07-14 15:47] birchmd commented on #4515
As far as I know the feature is not needed any more because we used a different one for the math API work, which is all that Aurora needs from nearcore since it was decided to have the engine be a contract instead of part of nearcore itself.

[2021-07-14 15:54] nikurt opened #4517 "`state-viewer` crashes trying to dump the state of `localnet` or `betanet` with nightly features."
**Describe the bug**
Please provide a short description of the bug.

**To Reproduce**
Option 1, use nightly features:
[code]

Get a crash:
[code]

Option 2, no nightly features:
[code]

Dumps successfully:
[code]

Blocks #4207

[2021-07-14 16:02] #2693 closed

[2021-07-14 16:34] #4430 closed

[2021-07-14 17:10] #4509 closed

[2021-07-14 17:47] #4471 closed

[2021-07-14 18:12] matklad commented on #4410
:+1:

Yes, we'll need to change the gas  counter when we return from a host function, but that's still runtime-independent, as long as we use the same variable name on the wasm side. I think this basically means that `imports.rs` needs to be changed to do gas extra deducing.

[2021-07-14 23:35] Longarithm commented on #4482
From the first sight, difference is explained by taking IO costs into account:
https://github.com/near/nearcore/pull/3771#issuecomment-750358010 - 50 TGas
https://github.com/near/nearcore/pull/3771#issuecomment-750357731 - 300 Ggas
Local computation in docker confirm this.

But there is conflicting info here:
https://github.com/near/nearcore/pull/3771#issuecomment-751226986 - 40 Ggas **in both cas

[2021-07-15 10:47] matklad opened #4520 "Remove support for wasmer engine native"
We currently use `wasmer-engine-native`, also known as dylib engine (wasmer 1+):

https://github.com/near/nearcore/blob/321e4caa0fcd866aae036f15c45a9a841d8a8c30/runtime/near-vm-runner/Cargo.toml#L25

This engine uses `.so` format for wasmer modules and uses system dynamic linker to load wasm modules into memory. This gives some speed increase, at the cost of runtime dependency on the system's link

[2021-07-15 16:05] webmaster128 commented on #3803
While there is M1 support for Wasmer in general, there does not seem to be M1 support for Wasmer+Singlepass. This is documented in https://github.com/wasmerio/wasmer/blob/2.0.0/Makefile#L33-L37 and https://docs.wasmer.io/ecosystem/wasmer/wasmer-features#compiler-support-by-chipset. I guess this ticket is blocked on https://github.com/wasmerio/wasmer/issues/2463.

[2021-07-15 16:50] #4505 closed

[2021-07-15 17:48] bowenwang1996 opened #4525 "patch state pytest is broken"
patch_state.py often fails. See http://nayduck.eastus.cloudapp.azure.com:3000/#/test_history/184831 for more details.

[2021-07-15 18:09] #4207 closed

[2021-07-15 19:10] mina86 commented on #4403
That’s all configured in near-ops as far as I understand. It all goes through buildkite pipelines which eventually reach the Makefile.

I’ll double check but NayDuck shouldn’t be affected. Load tests are done against mocknet and don’t build the binary.

Anyone has any idea where else we might be building releases?

[2021-07-15 19:14] #4517 closed

[2021-07-15 20:02] bowenwang1996 commented on #4357
Today I realized how annoying it is. I tried to debug some test in `near-client` and when I run the test with nightly protocol features, it resulted in the following error
[code]
which is caused by `near-client` having `nearcore` as a dev-dependency and we cannot specify features for dev dependencies. This means that in order to run the test, I had to run `cargo test --workspace`, which is very sl

[2021-07-15 22:25] bowenwang1996 opened #4527 "Reconsider database key for trie node"
Today when we save a trie node, the key we use is the concatenation of shard id and the trie node hash. This is problematic when we want to split one shard into multiple as it does not allow us to simply split on the trie level. Instead we need to rebuild the trie with a different shard id for the database key. The reason why we decided to have shard id as part of the database key in the first pla

[2021-07-15 22:27] bowenwang1996 commented on #4513
@chefsale does it work now? #4512 is merged

[2021-07-16 09:19] ilblackdragon commented on #4527
The source of this consideration is the fact that if we only needed to split Merkle Trie or Tree that is aligned by the account_id (or it's hash) that would be easy to do in single walk down the the Trie/Tree.

Generally, ref counting is a source of huge problems across the stack (including performance). Also ref counting made the storage code extremely complex.

For context, the reasoning for ref

[2021-07-16 10:24] matklad commented on #4357
https://github.com/near/nearcore/issues/4470/ is probably a good isolated first-step herez

[2021-07-16 13:54] matklad commented on #4379
I suggest closing the issue (feel free to re-open if you strongly disagree).

* we still don't have specific understanding of what we want to publish.
* we no longer need to compile stuff to wasm, sdk now [doesn't depend](https://github.com/near/near-sdk-rs/blob/932ebb58a8b5dbc727b9718dd50f5e13bd839a8f/near-sdk/Cargo.toml#L19-L35) on nearcore on wasm

It seems like it's less long-term work to setu

[2021-07-16 13:54] #4379 closed

[2021-07-16 17:23] #3750 closed

[2021-07-16 17:47] ilblackdragon commented on #4527
Alternatively, we should consider not maintaining persistent tree on disk.

We only write to hard drive final data. All non final changes are maintained in memory.
This would also allow to dramatically optimize the performance of reads because can maintain direct hash map snapshot of the most final data.

Also writing to hard drive is not blocking in this case the chunk application, which means it

[2021-07-16 19:02] bowenwang1996 commented on #4527
This is an interesting idea, but I think it is orthogonal to the issue we have here. Even if we only write final data, we can still end up having clashes since two shard tries can have some trie nodes that are the same.

[2021-07-16 19:37] #4403 closed

[2021-07-16 20:51] chefsale opened #4534 "Integrate nayduck tests results with Pagerduty for alerting if broken"
Cirrently we don't have a way to easily alert if nayduck tests are broken and revert/detect breaking changes on master. I believe we should integrate it somehow to create a Pagerduty incident and pipe it into on-fore as well. @bowenwang1996 @mina86

[2021-07-17 02:07] mina86 commented on #2736
Just to confirm that I understand what this issue is about. On high level the request is to list all `pytest/tests/**/*.py` files and check if they have a corresponding line somewhere in one of the `nightly/*.txt` files?

[2021-07-17 13:29] ilblackdragon commented on #4527
It's can be orthogonal, but actually if we don't need to have persistent tree on disk, there are a bunch of other things that can do to simplify the storage and this will affect removing ref counting, which would address the initial issues which led to adding `shard_id` to storage.

For example, we can with this switch to binary merkle tree.
We already know that current hexary tree is too complica

[2021-07-17 17:21] bowenwang1996 commented on #4527
@ilblackdragon if we don't have persistent trie on disk then we likely need to limit how far back a challenge can go to a small number. Otherwise a malicious actor can stall the chain for a long period of time by challenging a chunk that is in some 20000 blocks earlier.

Those ids are globally unique I assume?

[2021-07-17 17:32] bowenwang1996 commented on #2736
@mina86 yes

[2021-07-17 17:41] bowenwang1996 commented on #4525
fixed in #4533

[2021-07-17 17:41] #4525 closed

[2021-07-19 07:36] kleinpetr opened #4538 "makefile build failed with error 101"
**Describe the bug**
When I am trying to make a build in LXC container I've got this error

**To Reproduce**
1. create lxc container with Ubuntu 18.04
2. pull repository and install dependencies like clang, etc
3. jump into dir and `make release`

**Expected behavior**
make a build

**Screenshots**
![image](https://user-images.githubusercontent.com/17269309/126120629-ff16f6fb-c6b0-4cfd-be0f-5ffbce

[2021-07-19 11:44] frol commented on #3767
I have never observed it myself. I don't feel this should be kept open, since it did not cause any measurable issues, and we can re-open it once we get back to investigating memory leaks and re-consider if we want to fix it now. This is a pragmatic approach, but I feel that old open issues with a clear action item should be closed so we can focus on the pressing items.

[2021-07-19 11:44] #3767 closed

[2021-07-19 11:51] frol commented on #2176
That would be a breaking change, so we should not do it. This change is only possible when we redesign the whole API layer. I close this issue in favor of #3395

[2021-07-19 11:51] #2176 closed

[2021-07-19 13:32] matklad commented on #2459
Hm, this specific example doesn't make sense to me:

[code]

This struct implements `Serialize` and `Deserialize`, which is an even stronger property than just making every field `pub`. If the structure is trivially serializable, then the client can create an arbitrary instance, without checking any invariants.

In other words, gettres and private fields are useless for `derive(Serialize)` structu

[2021-07-19 13:43] nikurt commented on #2459
The other 2 use cases of `PhantomData` are:

* https://github.com/near/nearcore/blob/7ed1ee5f6aabb62914c7fb06aabfe1e2aad725cf/runtime/near-evm-runner/src/pricer.rs#L397
* https://github.com/near/nearcore/blob/7ed1ee5f6aabb62914c7fb06aabfe1e2aad725cf/utils/near-performance-metrics/src/framed_write.rs#L408

Both of these use cases are justified.
The first one matches the use case from the `PhantomDa

[2021-07-19 14:44] MuhammedIrfan opened #4541 "chain/telemetry missing from the workspace"
***Describe the bug***
 chain/telemetry is missing from the members list of workspace cargo.toml

***Expected behavior***
 chain/telemetry as a part of nearcore package is supposed to be part of workspace members.

<span class="error">[near-telemetry]</span>([https://github.com/near/nearcore/blob/master/chain/telemetry/Cargo.toml](https://github.com/near/nearcore/blob/master/chain/telemetry/Cargo.

[2021-07-19 16:48] nearmax commented on #3421
As discussed today, this proposal does not explain what is the benefit of this feature, and given that it makes the protocol more complex it shouldn't have been implemented. Since this feature has already caused problems for NEAR network, @bowenwang1996 decided to revert it.

[2021-07-19 20:09] bowenwang1996 commented on #4374
Regarding fuzz testing function calls, I think we should focus on the following:
* fuzzing function calls that generate receipts with different types of actions (transfer, delete account, create account, deploy contracts, etc). Fuzzing should be able to uncover bugs like what is fixed in #4512.
* fuzzing all host functions. Host function bugs like #4535 should be discovered by fuzzing.
* fuzzing c

[2021-07-19 21:29] bowenwang1996 commented on #4538
@kleinpetr this looks like it ran out of memory. Does it work if you try `cargo build -j 2 -p neard`?

[2021-07-19 21:42] bowenwang1996 commented on #4513
Closing this as it should have been fixed. Please reopen if it is not

[2021-07-19 21:42] #4513 closed

[2021-07-19 23:41] ilblackdragon commented on #4527
Well, one would say that if you can challenge a block, it's not truly final. So I agree that limiting how far before one can challenge is important. This is also true in the current implementation as well - we already limit challenges to the current epoch.

Prune what exactly? Do you mean prune the in memory trie of the changes?
The changes on disk automatically remove the old items and add new it

[2021-07-20 03:02] bowenwang1996 commented on #4527
Yes. Otherwise we would keep all the old forks in memory until garbage collector catches up, which could be potentially be exploited.

[2021-07-20 11:05] mina86 commented on #4538
`cargo build -j2 -p neard` will build a debug binary so `CARGO_BUILD_JOBS=1 make release` might be better test. I do agree that it looks like lack of memory.

[2021-07-20 11:12] Longarithm opened #4542 "Building neard fails in docker"
Previously the command below worked, but now it fails on both GCP machines.
Full reproduction:

[code]

[2021-07-20 11:20] nikurt commented on #2459
`Genesis::new` maintains the following invariant:
`Genesis.genesis_config.total_supply` is equal to the sum of `amount` and `locked` from `Genesis.records`.
In a sense, `total_supply` is constant. As @matklad noticed, this invariant can now be violated by deserializing a config with an arbitrary `total_supply` value.
On the other hand, I can't find live code paths instantiating `Genesis` with a se

[2021-07-20 11:40] Longarithm commented on #4542
Solved by @matklad

[2021-07-20 11:40] #4542 closed

[2021-07-20 12:15] matklad commented on #4542
More like "broken by matklad, and then ninja fixed" :)

[2021-07-20 14:43] #4538 closed

[2021-07-21 12:42] matklad opened #4544 "Use proper types for handling paths"
In near, we often convert `std::path::PathBuf`s to `String`s. Here are two examples:

https://github.com/near/nearcore/blob/1a652b3fc48729c45367856c1a253e43ea798827/nearcore/src/lib.rs#L50-L73

This is an anti-pattern: it's useful to know which things are paths, convernsion from paths to string requires unwrpas, and' it's plain more code to do the conversion. So we should such functions **and call

[2021-07-21 21:22] nearmax opened #4548 "ecrecover and ripemd160 fees are highly inconsistent"
We observed is that there are two benchmarks that are used to estimate the fees: one that is currently committed into nearcore and another one that was implemented in this [commit](https://github.com/near/nearcore/commit/ac53dcba). Unfortunately, these two benchmarks produce results that are 3-4 orders of magnitude different which is a big discrepancy since we can only tolerate 5-15% volatility wh

[2021-07-21 22:42] ilblackdragon commented on #4527
Finalization will automatically prune everything in memory that was created before this final block, including forks and uncles.
Pretty much this can be just [block_id->state_root] map and when some block_id is finalized, all state changes present block ids between last final block and this final block - can be removed from memory. Maintaining in-memory persistent trie this should be quick and als

[2021-07-22 00:37] bowenwang1996 commented on #4527
@ilblackdragon that means we will have trouble accessing states that are more than a few blocks old, which is not only problematic for rpc nodes, but also poses issues for state sync.

[2021-07-22 14:08] matklad opened #4550 "Run runtime fuzzer on CI"
in #4524 we introduced the basic fuzzing infra. We should actually run in on CI to pursue two goals:

* prevent the infra itself from bitrotting
* actually capturing regression with fuzzing

[2021-07-22 17:02] nearmax commented on #4548
To clarify, the two benchmarks that we are talking about are the following:
* Benchmark that runs in Wasm: https://github.com/near/nearcore/blob/ac53dcbafcc5c0f405eeaf0dccfcdbf5ba19161a/runtime/runtime-params-estimator/test-contract/src/lib.rs#L431-L479 (It might be the case that this is actually the one in the current master);
* Benchmark that runs outside Wasm: https://github.com/near/nearcore/c

[2021-07-22 18:10] bowenwang1996 commented on #4527
Discussed this today with the team and we think in general it is a good idea to replace refcounting with global ids. One implication with this is that the same node may be replicated multiple times in storage instead of having one node with refcount. This may be problematic because today certain contracts are deployed on a lot of different accounts (multisig for example) and they are relatively la

[2021-07-22 21:51] mina86 opened #4552 "Enable missed pytest tests"
- [ ] As part of working on https://github.com/near/nearcore/issues/2736 nine pytest tests were identified which aren’t currently enabled (see <https://github.com/near/nearcore/pull/4539>). Those tests need to be included in the test collections or documented why they aren’t.
- [x] Some tests are not present in the`nightly/complete_nayduck_set.txt` file which is currently what NayDuck is using to

[2021-07-23 15:22] matklad opened #4560 "Create ProfileData per receipt"
The issue was uncovered in https://near.zulipchat.com/#narrow/stream/295306-dev-contract-runtime/topic/data.20receipt.20creation.20fee/near/246980086.

Today, we store `ProfileData` (gas profiling record) in `ApplyState`:

https://github.com/near/nearcore/blob/6cc390944660354fdd28e1f52071ea03a5d5634f/core/primitives/src/runtime/apply_state.rs#L43-L45

This means that we collect a cumulative gas pr

[2021-07-23 15:23] matklad commented on #4560
@ailisp I wonder if we want to do this refactor before #4438?

[2021-07-23 17:34] bowenwang1996 opened #4561 "Understand the hardware requirements for simple nightshade block producers"
When we transition from one shard to eight shards in simple nightshade, block producers need to track all shards. As a result, they may need to have better hardware (more cpus more example) than what is currently specified in [the docs](https://docs.near.org/docs/develop/node/validator/hardware#docsNav). After #3825 is done, we should run some experiments to understand what changes to hardware are

[2021-07-23 17:35] bowenwang1996 commented on #3329
Superseded by #4461 and #4561

[2021-07-23 17:35] #3329 closed

[2021-07-23 20:43] frol commented on #4464
I extended `state-viewer` with a command to dump all the data from `ColReceipts` "table", and it turned out that there is only a single refund receipt stored on the "current" node. After further investigation I learned the genesis file generated by the `neard testnet` command is different: 1.19.2 produces the one with:

[code]

while 1.20.0 produces:

[code]

Once I patched the test to use the gen

[2021-07-23 20:43] #4464 closed

[2021-07-23 20:43] frol commented on #4514
1.20 release on mainnet is unblocked!

[2021-07-23 20:43] #4514 closed

[2021-07-24 12:42] Kouprin commented on #3803
FYI https://www.reddit.com/r/MachineLearning/comments/kwqev4/d_comparing_performance_on_apples_m1_with_nvidias/

[2021-07-24 13:21] ilblackdragon commented on #4527
Yes, this brings to global contract storage question: we should have a way to deploy a contract once and it will be stored across all shards and available via hash. This will avoid problem with replicated contracts been overcharged and resharding problem where you don’t know which shard needs which contracts.

IMO it make sense to draft a storage revamp NEP that includes all of these questions and

[2021-07-26 08:41] joshuajbouw commented on #4548
Ok, so after going through this the past few work days this is what I have ended up with for WASM:

### WASM runs

#### Run 1

[code]

#### Run 2

[code]

#### Run 3

[code]
Which is consistent, which is great!

However, when running the benchmark that runs outside of WASM, it is completely higher than it should be. Even for sha256 and other functions. See this for an example:

[code]

Interesting

[2021-07-26 12:08] matklad opened #4566 "Consider adding a way to account for IO-costs without qemu"
At the moment, we account for IO-costs (the number of bytes transfered to/from kernel via `read*`, `write*` family of syscalls) only in the qemu:

[https://github.com/near/nearcore/blob/84ae110d99d26a5638d4aaca2ddaf08d048e0920/runtime/runtime-params-estimator/emu-cost/counter_plugin/counter.c#L104-L124](https://github.com/near/nearcore/blob/84ae110d99d26a5638d4aaca2ddaf08d048e0920/runtime/runtime-

[2021-07-26 13:42] matklad opened #4568 "Make ContractPrecompilatonError more specific"
At the moment, we just store VMError in ContractPreccompilationError:

https://github.com/near/nearcore/blob/84ae110d99d26a5638d4aaca2ddaf08d048e0920/runtime/near-vm-runner/src/errors.rs#L10-L12

That is not great, because:

* VMError includes both compile and runtime errors, which makes `ContractPreccompilationError` less precise.
* (not entirely sure about this one before studying the code in de

[2021-07-26 13:46] frol opened #4569 "Regression in `neard testnet` behavior"
**Describe the bug**

There is a regression in the default behavior of `testnet` neard subcommand between 1.19.2 and 1.20.0, which caused nayduck tests to fail: https://github.com/near/nearcore/issues/4464#issuecomment-885903776. Initializing a new cluster of localnet nodes for testing now has the following values:

[code]

Full genesis.json diffs:

[code]

**To Reproduce**

[code]

[code]

**Expe

[2021-07-26 14:19] frol opened #4570 "Localnet node leaks 1GB of RAM per day"
**Describe the bug**

![image](https://user-images.githubusercontent.com/304265/127002515-3297c5aa-d698-48e6-b2ec-b1f74eee4f6b.png)

**To Reproduce**

Given our incidents monitoring, the node was getting down every week since April (when the monitoring for CI nodes was configured).

![image](https://user-images.githubusercontent.com/304265/127003086-1fb1728e-10b0-404d-8f86-3a8f9492c507.png)

I can

[2021-07-26 14:21] frol commented on #4570
@chefsale @mhalambek @khorolets Do we observe such severe memory leaks on other nodes (RPCs, validators, indexers)?

cc @janewang

[2021-07-26 14:35] khorolets commented on #4570
@frol I'm not running localnet node for so long to observe it, haven't heard any complains.

[2021-07-26 14:51] chefsale commented on #4570
No problems on other nodes observed.

[2021-07-26 15:59] bowenwang1996 opened #4574 "Flaky behavior in nayduck"
It appears that sometimes tests fail for reasons unrelated to the tests themselves. Examples:
* http://nayduck.eastus.cloudapp.azure.com:3000/#/test/187252
* http://nayduck.eastus.cloudapp.azure.com:3000/#/test/187386
* http://nayduck.eastus.cloudapp.azure.com:3000/#/test/187368
* http://nayduck.eastus.cloudapp.azure.com:3000/#/test/187378

And it appears that there is some weird cascading effects

[2021-07-26 17:32] bowenwang1996 commented on #4569
This looks like an unexpected change in the `testnet` command of `neard`

[2021-07-26 18:16] nearmax commented on #4548
@joshuajbouw what `--accounts-num` and `--additional-accounts-num` were used for these benchmarks? Also, did you delete `/tmp/data` between the runs?

So here is the difference if we compare Run 3 (benchmark that uses Wasm) and EvmMathCosts (benchmark that does not use Wasm):
  | Run 3 | EvmMathCosts | Run 3 / EvmMathCosts
-- | -- | -- | --
sha256_base | 1138614437 | 465263215 | 2.447247924
sha256

[2021-07-26 19:50] bowenwang1996 commented on #4548
@nearmax I think you put one more 0 for ecrecover_base in the `EVMMathCosts` column.

[2021-07-26 20:24] nearmax commented on #4548
Nope, check @joshuajbouw 's post.

[2021-07-26 22:37] chefsale opened #4577 "Add a linter and CI check for pytests folder"
We currently use yapf and pylint in nearup which is a good reference (https://github.com/near/nearup/blob/master/tox.ini). The root directory in nearcore has the yapf style file (https://github.com/near/nearcore/blob/master/.style.yapf) but we do not enforce it, but should in the CI.

cc: @mina86 @mhalambek @bowenwang1996

[2021-07-26 22:38] chefsale commented on #4577
This will also take a lot of work to get that part of the codebase up to standards and make the CI eventually pass.

[2021-07-26 23:37] #4470 closed

[2021-07-27 05:25] bowenwang1996 opened #4581 "Unnecessary computation of hash for BlockHeader and ShardChunkHeader"
When we deserialize `BlockHeader` or `ShardChunkHeader`, we always end up recomputing the hash through `#[borsh(init)]`, which is fine for data received from network but is completely wasteful for reading from storage and likely contributes to some rpc slowdowns that we've observed.

[2021-07-27 06:42] joshuajbouw commented on #4548
The exact same ones in the README.md in `emu-cost` which would be 200,000 and 20,000 respectfully.

Yes, it was cleaned each time.

Yes, this is how I feel about this. There is something unknown happening in the backend that didn't make itself immediately clear to me. Do note that ecrecover has a precompiled data to the point that it takes up 80% of the aurora contract. Very likely related to that

[2021-07-27 09:10] ailisp commented on #4560
Research history I found this PR: https://github.com/near/nearcore/pull/3730. There wasn't a rationale on why ProfileData is added to ApplyState. I guess the reason is ProfileData is intended to use on the special local debug node (evidence: there was special feature, not compiled by default). And when use that way, there's only one transaction on one block so added to ApplyState is fine. And now

[2021-07-27 15:33] #2736 closed

[2021-07-27 15:58] Longarithm commented on #4482
Data receipt fee estimation depends on its place in the vector of metrics: https://github.com/near/nearcore/blob/master/runtime/runtime-params-estimator/src/cases.rs#L536

Consider an example:
[code]
Computation of DataReceipt fees based on `data_receipt_base_10b_1000_1`, `data_receipt_10b_1000_1`, `data_receipt_100kib_1000_1` yields 30 Ggas; same computation for `data_receipt_*_2` fees yields 50

[2021-07-28 00:51] bowenwang1996 commented on #4548
@joshuajbouw what are the next steps?

[2021-07-28 01:05] bowenwang1996 commented on #4482
@Longarithm is it correct that `data_receipt_creation_cost` measures the cost of one storage write? If not, what exactly does it measure?

[2021-07-28 11:45] Longarithm commented on #4482
There is also a curious dependency between fees and accounts number.
In the notation of https://github.com/near/nearcore/issues/4482#issuecomment-887633866:
[code]

[2021-07-28 13:48] matklad commented on #4548
I think I've fully accounted for the curious case of `ecrecover`.  The significant difference between wasm and native bench is that wasm one is run 10_000 times (taking the average time), while the native one is run only once. When computing this function, we make use of this lazy_static:

https://github.com/near/nearcore/blob/dc6377e65ad3401bc9b4aa28150164b91829f124/core/crypto/src/signature.rs#L

[2021-07-28 14:54] Longarithm commented on #4482
@bowenwang1996
It measures cost of `DataReceipt` creation and processing: https://github.com/near/nearcore/blob/master/core/primitives-core/src/runtime/fees.rs#L71-L85
Strictly speaking, it measures cost of:
- set, get and remove for `ReceiptData`, e.g. https://github.com/near/nearcore/blob/2c4f6dc28bf485a2cba41ca86c928caca7363d4b/core/store/src/lib.rs#L341
- set, get and remove for `PostponedRece

[2021-07-28 16:13] matklad opened #4588 "Consider upgrading to the most stable Rust"
At the moment, we still use Rust 1.51.0. The latest stable is 1.53.0, and 1.54.0 release is imminent, so we might consider upgrading.

Some interesting considerations:

* 1.53.0 includes https://github.com/rust-lang/cargo/pull/9298, which should significantly improve compile times for devs using macs.
* 1.51 (current version) has broken incremental compilation, 1.52&1.53 have incremental compilati

[2021-07-28 18:23] bowenwang1996 commented on #4482
@Longarithm is the base cost calculated based on some trivial data or through some statistical method? It looks like this involves at most 4 storage operations and it should not be more expensive than 4 storage writes of [some trivial data]. Also it seems to me that this fee depends on the shape of the trie, but we also have a separate `touching_trie_node` fee that accounts for this.

[2021-07-28 19:22] nearmax commented on #4482
This explains lots of discrepancies that we are observing: https://near.zulipchat.com/#narrow/stream/295306-dev-contract-runtime/topic/fees.20.26.20state.20size/near/247505050

[2021-07-29 15:12] dtp263 opened #4595 "1.20.0 fails to load /nearcore/nearcore/res/mainnet_genesis.json"
**The bug**
neard fails to run with the supplied `mainnet_genesis.json`. The error message looks like this and is likely related to json parsing.
[code]

**To Reproduce**
[code]

**Expected behavior**
The neard software should be able to startup from the supplied json genesis file.

**Screenshots**
<img width="1393" alt="Screen Shot 2021-07-29 at 9 12 10 AM" src="https://user-images.githubusercont

[2021-07-29 16:50] posvyatokum commented on #4595
The way genesis deserialisation is currently done requires GenesisRecords to be last in json. So, the reader does not expect any fields after records. And this is exactly where it fails -- there are config fields after records.
Quick fix -- rewrite genesis in this format and try again. https://github.com/near/nearcore/pull/4596

Also, the whole situation is very weird. Why would serde serialisatio

[2021-07-29 17:27] bowenwang1996 opened #4597 "Tool to replay the chain history"
We should build a tool to build a given part of the chain history and gather certain statistics about the history. This allows us to, for example, analyze certain behaviors of the contracts deployed and invoked in the history to make more informed decision about changes in the future.

More specifically, the tool should support:
* Replay the history of a chain with given start and stop height
* Ga

[2021-07-29 17:27] bowenwang1996 commented on #4597
cc @matklad

[2021-07-29 18:23] bowenwang1996 commented on #4595
@dtp263 does it work if you run neard init on some tmp directory and copy the resulting genesis? I think the order of fields is changed in that process.

[2021-07-29 18:32] dtp263 commented on #4595
@bowenwang1996 the default genesis file created by running `neard init` is able to successfully startup.

<img width="970" alt="Screen Shot 2021-07-29 at 12 31 43 PM" src="https://user-images.githubusercontent.com/3021938/127546849-5804ba7c-d7e0-4581-ac37-8f5e7ea96715.png">

[2021-07-29 19:14] bowenwang1996 opened #4600 "Account Id change caused neard to break on testnet"
[code]

To reproduce:
spin up a node on testnet with a commit that contains https://github.com/near/nearcore/pull/4440 and observe that it produces the error above.

[2021-07-29 20:45] bowenwang1996 commented on #4595
@dtp263 I see. What I meant is that you could do `neard init --chain-id=mainnet` to let it regenerate the mainnet genesis

[2021-07-30 03:39] CodingJzy opened #4602 "Account Seed phrase"
How do I know the Seed phrase of the sub-account? Where can I back up the Seed phrase of the near main account, and there is no way to know the Seed phrase of the created sub-account? The near experience is not good,

[2021-07-30 08:01] frol commented on #4600
@miraclx I feel like the issue is in the genesis records (genesis.json file) since it crashed right away, but it is super odd.

[code]

[2021-07-30 10:22] matklad opened #4603 "Upgrade to borsh 0.9"
Most nearcore crates use borsh 0.8. Some use 0.9 though. We should update all to 0.9

[2021-07-30 11:17] posvyatokum commented on #4595
Created PR #4604 with a fix on deserialisation side. Now records reader does not expect "records" to be the last field.

[2021-07-30 11:59] matklad commented on #3724
Fixed by @ailisp !

[2021-07-30 11:59] #3724 closed

[2021-07-30 13:16] rozum-dev opened #4605 "Using snapshot from here https://docs.near.org/docs/develop/node/intro/node-data-snapshots leads to weird crash"
**Describe the bug**
Node crashes after I get and unarchive a snapshot from here https://docs.near.org/docs/develop/node/intro/node-data-snapshots

Log looks like this
Jul 29 12:19:51 frhb51389ds neard[30513]: thread 'main' panicked at 'Failed to open the database: DBError(Error { message: "NotFound: /home/near/.near/data/CURRENT: does not exist" })', core/store/src/migrations.rs:46:32

File CURRE

[2021-07-30 15:22] frol opened #4607 "Automate canary node testing from PR"
Currently, we run CI tests automatically, and can manually trigger nayduck tests, but we cannot trigger canary node testing for PR, and it is not rare that we break canary immediately after we land some PR from master. This requires then extra effort to revert the changes, and re-introduce them. (#4440 + #4601)

[2021-07-30 17:49] bowenwang1996 commented on #4600
Indeed. It is possible that genesis contains an invalid account id for some reason

[2021-07-30 19:25] chefsale commented on #4607
Yes, I agree we decided firstly not to run a canary on every PR, as the reasoning was we will not catch issues as we need to run the canary for the while. I think most of the cases we have seen in the past is that the canary doesn't even start often. I think we can just implemebt a sanity test to start the node in tge CI which would catch all the issues like this. What do you think?

[2021-07-30 23:35] miraclx commented on #4600
Indeed it does, here's one such example in `.records[]`

[code]

`receiver_id` is empty. is this behavior even legal? If it is, we could maybe represent that field in an `Option<AccountId>`.

[2021-08-02 02:43] ailisp opened #4615 "Clean up profile data and vm outcome"
From @matklad 's comment in https://github.com/near/nearcore/pull/4582:

- [ ] remove serialize/deserialize from vm outcome
- [ ] re-install partial eq on vm outcome
- [x] don't track burn gas in two places
- [x] get rid of the cells inside ProfileData

[2021-08-02 13:46] frol opened #4617 "`neard init --download-genesis` should have some progress reporting"
Currently, one just need to know that it takes a while to download the genesis file and otherwise it appears to be stuck on that command "forever". We may either just warn that we expect to download a bunch of data or ideally provide a progress reporting.

cc @janewang @chefsale

[2021-08-02 14:06] mina86 opened #4618 "Need to fix broken NayDuck tests"
The following NayDuck tests are currently broken and disabled:

*   [x] [https://github.com/near/nearcore/issues/5027](https://github.com/near/nearcore/issues/5027)
*   [x] `expensive integration-tests client test_gc_after_state_sync`
*   [x] `expensive integration-tests test_rejoin test::test_4_20_kill2`
*   [x] `expensive near-client catching_up tests::test_all_chunks_accepted_1000_slow`
*   [x]

[2021-08-02 15:12] bowenwang1996 commented on #4607
Agree with Sandi that running it in CI might take too long. Our CI already takes longer than desired to finish

[2021-08-02 15:18] bowenwang1996 commented on #4600
The behavior is technically legal but should not have been. Such access keys are useless -- any transactions signed by them will result in a `InvalidAccessKeyError`

[2021-08-02 19:52] miraclx opened #4624 "Unexpected migration issue while spawning archival node on testnet"
[code]

**To Reproduce**
Spin up an *archival* node on master (b95e753 at the time of writing) on testnet.

**Expected behavior**
DB Migration from 24 to 25 doesn't panic, node is spawned successfully

**Context**
Stumbled on this while investigating #4600, verified it's the same behavior on master.

cc. @bowenwang1996 @ailisp

*This migration was introduced in #4466*

[2021-08-03 03:58] ailisp commented on #4615
Note: We need VMOutcome Serialize in standalone runner, so we can't drop it yet.

[2021-08-03 04:03] ailisp commented on #4615
Hmm drop burn gas in ProfileData is also problematic. burn gas is the `ProfileData.all_gas()`, and profile data need it to figure out `wasm_gas()`. The other way would be drop burnt_gas from VMOutcome

[2021-08-03 15:57] frol opened #4627 "`neard init --download-genesis` consumes too much of RAM"
**Describe the bug**

This implementation is inefficient:

https://github.com/near/nearcore/blob/61584bba043d1fd62048a23c14e1aef1b6b39036/nearcore/src/config.rs#L1072-L1087

This downloads the whole blob into RAM and only then stores it on disk. We should download it straight to the disk (to avoid partially downloaded results, I suggest we download it to a file with `.swp` extension and once that

[2021-08-03 16:03] frol opened #4628 "Blockers for 1.21 release"
* [x] #4624
  Archival nodes cannot be started with the current master branch!

cc @bowenwang1996 @chefsale

[2021-08-03 16:06] frol commented on #4624
@khorolets FYI, we should not even consider migrating to some latest nearcore commit in indexer since that will break on migration on our archival nodes.

@janewang @chefsale we should consider canary archival nodes (at least checking that those are capable to boot up) since this time it caught me and @miraclx off guard.

[2021-08-03 17:44] frol commented on #4605
@mhalambek Any clues?

[2021-08-03 18:51] bowenwang1996 commented on #4624
@ailisp please take a look

[2021-08-03 20:31] mzhangmzz opened #4629 "ShardTracker's update_epoch is not called correctly"
**Describe the bug**
`ShardTracker::update_epoch` should be called at least once per epoch for non-validator clients to track shards correctly, if they ever call the `untrack_shards` or `untrack_accounts` function.

If a non-validator client is tracking some shards and calls `untrack_shards` at epoch T, the untracked shards will only be take effect at epoch T+1 after `update_epoch` is called. Howe

[2021-08-03 21:56] frol commented on #4607
I don't suggest we run these heavy canary tests on every PR. Yet, I still want to be able to trigger it manually just like sometimes we trigger nayduck for the branch instead of merging it and waiting for the nightly build.

[2021-08-04 12:16] matklad opened #4633 "Easy and understandable fees estimation"
Zulip topic: https://near.zulipchat.com/#narrow/stream/295306-dev-contract-runtime/topic/Design.20for.20parameter.20estimator

Problem: any task that requires adjustment, addition, or investigation of fees today requires a lot of engineering effort. One does not simply "run params estimator".

For the past couple of weeks, I've look at how current estimator works, and I identified the following se

[2021-08-04 13:23] frol commented on #2074
Just for the future reference, we had to revert the PR due to #4600, and the fix will land in #4621.

[2021-08-04 13:56] frol commented on #4569
@miraclx Can you, please, identify what introduced the change to `num_block_producer_seats_per_shard` and `avg_hidden_validator_seats_per_shard` values? If that is trivial to fix, feel free to submit a PR.

[2021-08-04 17:15] frol commented on #4342
I feel that the execution time is fair and expected for a transaction with cross-contract calls.

@think-in-universe If you think we can improve something specific, feel free to re-open this issue.

[2021-08-04 17:15] #4342 closed

[2021-08-04 18:12] bowenwang1996 commented on #4629
Currently there is no way to them to call it. Do you suggest adding this functionality? If so, it is more of a feature request rather than a bug

[2021-08-04 18:35] bowenwang1996 commented on #4607
@mina86 could we add this functionality to nayduck?

[2021-08-04 19:22] mina86 commented on #4607
On first sight it doesn’t sound like a good fit for NayDuck.  Unless I misunderstands what canary is, this would require messing with production (in testnet flavour I’m guessing) by updating what code canary nodes are running.  I certainly would not like NayDuck to have any kind of credentials which would allow it to do that.  Apart from that, this doesn’t sound like a test, i.e. there’s no passin

[2021-08-04 20:04] chefsale commented on #4607
I personally feel this should be added to the CI sanity checks and kind of agree with @mina86 that this is not really a test.

[2021-08-04 22:04] nearmax commented on #4633
I would add another motivation on top of it:
* It is easy to make a non-obvious mistake. Here are some examples:
  * We need to run param estimator with 10M accounts for estimating fees in `transaction_costs` (so that we use the worst-case scenario of the deepest practically possible trie, since these fees are fixed and do not depend on the size of the trie), but with 20K accounts for `wasm_config

[2021-08-05 02:27] mzhangmzz commented on #4629
Yeah, I created this issue because I didn't know that untrack_shards and untrack_accounts are not used (before our meeting).  We might want to consider getting rid of these functions.  They complicate the implementation when shard layout change, makes the code quite confusing.

[2021-08-05 10:25] matklad commented on #4560
closed by #4582 I think, thanks @ailisp !

[2021-08-05 12:07] frol commented on #4624
@bowenwang1996 I believe we should move 1.21-rc release from the next Monday since @ailisp is on vacation this week, so he won't be able to investigate this issue.

[2021-08-05 14:33] #2074 closed

[2021-08-05 14:33] #4600 closed

[2021-08-05 18:05] #4560 closed

[2021-08-05 18:07] bowenwang1996 commented on #4624
@frol I see. Thanks for the reminder!

[2021-08-06 09:29] jwbd1 opened #4645 "1.19.2 stopped syncing - Required re-sync after update to 1.20.0"
**Describe the bug**
Node stopped syncing on version 1.19.2 with errors:
[code]

The node didn't continue to sync after updating to 1.20.0 and required a re-sync.
(used the snapshot)

**To Reproduce**
Sync with 1.19.2 until it reaches block 44337060, at which point we received:
[code]

Upgrading to the latest version doesn't resolve it(without a re-sync).

**Expected behaviour**
Node continues to

[2021-08-06 14:55] frol commented on #3184
We covered most of the error cases during the work on #2976, and while there is always room for improvement, I think it is good enough to close this issue for now and open smaller ones whenever necessary.

[2021-08-06 14:55] #3184 closed

[2021-08-06 14:57] frol commented on #3395
There is no active phase of implementing new version of API just yet, so we can probably close it for now and re-open or create a new one once we decide to reorganize things

[2021-08-06 14:57] #3395 closed

[2021-08-06 17:17] bowenwang1996 commented on #4645
Unfortunately this is not possible. The upgrade depends on when the majority of the validators decide to upgrade to the new version. You can read more about this here https://nomicon.io/ChainSpec/Upgradability.html

[2021-08-06 17:17] #4645 closed

[2021-08-06 17:46] bowenwang1996 opened #4649 "Move towards a better way to update RuntimeConfig"
Currently updating runtime config is quite painful and usually involves adding more structs and code to the database. While there are discussions about long-terms plans to potentially [move all protocol configs to a contract](https://gov.near.org/t/store-protocol-config-in-a-contract/2105), it is likely not going to be implemented any time soon. As a result, we should figure out a better way to do

[2021-08-06 17:47] bowenwang1996 commented on #4649
This is also somewhat related to #4447. cc @posvyatokum

[2021-08-06 18:39] bowenwang1996 opened #4650 "Allow nodes to have multiple boot nodes in python tests"
Currently in python tests when a node is spun up it by default boots from a specific node and there is no way to change it to boot from multiple nodes (both in `start_cluster` and in `spin_up_node`). This causes a node to sometimes not be connected to the nodes it is supposed to until after some time, which in turn causes some tests to fail. We should allow specifying multiple bootnodes to address

[2021-08-06 19:11] Longarithm commented on #4492
Data receipt fees actually were not stable, see https://github.com/near/nearcore/issues/4482#issuecomment-888243701.
But this is going to be solved by https://github.com/near/nearcore/pull/4647.
Storage read fees may be suspicious even after the fix because of this: https://near.zulipchat.com/#narrow/stream/295306-dev-contract-runtime/topic/data.20receipt.20creation.20fee/near/248554415

[2021-08-06 22:50] frol commented on #1905
This issue is quite involving, and required quite some refactoring and restructuring:

* #2976 (and all the sub-items)
* #4651

[2021-08-07 00:04] mzhangmzz opened #4653 "Current implementation of state sync does not work for the epoch when shard layout change"
Currently, to sync state for epoch T, we first sync to the state before the last block of the epoch T-1 and then apply the last block of epoch T-1\. This algorithm does not work at all if epoch T-1 and epoch T does not have the same number of shards, which will happen for the Simple Nightshade rollout and possibly happen more in the future. As a temporary fix, we will disable state sync for epoch

[2021-08-08 17:43] gaia opened #4655 "Abnormally high CPU Usage - Restart Resolved"
**Describe the bug**
Abnormally high CPU Usage causes node to fall out of sync

**To Reproduce**
?

**Expected behavior**
Normal CPU usage, as it has been current for the past few months

**Version (please complete the following information):**
neard 1.20.0 (build 09b978c1) (protocol 46) (db 23)
rustc 1.46.0 (04488afe3 2020-08-24)
mainnet

**Additional context**
Last night, the daemon started usin

[2021-08-09 22:09] bowenwang1996 commented on #4655
By looking at the logs I found that the node essentially got stuck for 6 minutes and then strangely receives no new blocks for a while before it realized that it is out of sync. Something very weird happened there, but the log unfortunately does not have enough information for me to tell what exactly happened.

[2021-08-09 22:44] frol commented on #4462
@vans163 I am sorry for the late reply. It would be great if you share more details about your use-case. We have received quite a few requests to implement subscriptions, and while they share the same basic request of being able to get notified on something, those events are state changes, certain cross-contract calls (receipts / transactions), and even full blocks. We considered building and depl

[2021-08-09 23:01] frol commented on #2706
The legacy `query` input `call//lockup.near/...` is still limited by 10kb, but the new recommended and adopted these days `query` with `{"request_type": "call_function", "account_id": "lockup.near", "method_name": "...", "args_base64": "..."}` is limited with 10mb on the payload. Thus, I believe it is addressed now.

[2021-08-09 23:01] #2706 closed

[2021-08-09 23:05] frol commented on #2793
@miraclx I believe with the recent strictly-typed AccountId we addressed this issue. Can you try removing the `#[ignore]` attribute from the tests in `chain/jsonrpc/tests/rpc_query.rs`? We might be able to close a ton of issues now!

[2021-08-09 23:09] frol commented on #2246
I think it is not important these days since we have extensively covered all the balance-changing scenarios with documentation: https://github.com/telezhnaya/docs/blob/b628ebd23a8604a8f0393e2704ee93d661dda9bd/docs/tokens/balances.md (kudos to @telezhnaya!)

[2021-08-09 23:09] #2246 closed

[2021-08-09 23:13] frol commented on #1881
Yeah, we slowly move in this direction:

* #4292
* #4621
* #4651

[2021-08-09 23:15] frol commented on #3022
`archive` flag in neard config.json has been since introduced and improved to never skip blocks, so this issue is now irrelevant

[2021-08-09 23:15] #3022 closed

[2021-08-09 23:18] frol commented on #3183
The error types are yet to be documented, so let's keep this issue open (I renamed it).

[2021-08-09 23:20] frol commented on #2271
The fields has been serving empty values for quite a while, so nobody would use them. We should just remove the fields.

[2021-08-09 23:23] frol commented on #2100
There is no action item here. Feel free to re-open if necessary

[2021-08-09 23:29] frol commented on #3851
We strictly defined our JSON RPC layer errors and while we struggled to identify all the possible underlying error cases, we managed to handle those. This issue does not have any action items at the moment, so I am closing it.

[2021-08-09 23:29] #3851 closed

[2021-08-09 23:36] frol commented on #3186
This issue is still relevant, but not urgent.

[2021-08-10 00:07] Longarithm opened #4660 "Wasmer is slower for same length but bigger methods number"
For same contract lengths, but different number of contracts, gas spent on empty function calls differs significantly.
In the both cases below contracts' size is 1.7 MB:

| Contract      | Called method | Gas spent on `run_vm` |
| ----------- | ----------- | ----------- |
| `aurora_engine`      | state_migration (trivial)       | 13 Tgas |
| `make_many_methods_contract(70000)` from https://github.

[2021-08-10 00:51] gaia commented on #4655
Thanks Bowen. What are the timeframes for the 2 events? The CPU was thru the roof.

If there is anything, let me know what I can run next time this happens (hopefully it won't).

[2021-08-10 01:36] ailisp commented on #4624
#4466 fixed the corrupt execution outcome in mainnet archival node and boot mainnet archival node. But this shows testnet node archival node has outcomes corrupt in a different way, I'm investigating how they're corrupted and how to correct them

[2021-08-10 08:17] ailisp commented on #4624
I made a fix in #4662 and explained how it is corrupted there

[2021-08-10 11:20] frol commented on #4422
@bowenwang1996 @janewang I also observed this behavior, and it is not rare to arrive to this situation. I feel it might be related to #3021. Today I observed this behavior again running indexer-for-explorer (it has nearcore 1.20.0 embedded into it).

I believe the reproduction is that I start a node and then in a few minutes of syncing I restart it. The node seems to connect to the network, but no

[2021-08-10 11:45] Longarithm opened #4664 "Function call fee estimation panics for Wasmer2"
Launching `test_function_call_icount` from [this branch](https://github.com/near/nearcore/compare/master...bb4e52d464)  which is the result of merging https://github.com/near/nearcore/pull/4395 and updating function call fee estimation leads to the following error for Wasmer2:

[code]

This will block us from updating the protocol to Wasmer2, because we can't recompute fees without running vm in e

[2021-08-10 13:17] #2459 closed

[2021-08-10 13:57] vans163 commented on #4462
As long as it can be connected to without running own infrastructure. I do not see the difference between making a JSON RPC POST vs getting passive data on a websocket directly to a node (via subscription).

I think the difference is the kafka instance vs the node directly providing the subscription information.  But if the reliability is the same, as in that kafka instance wont go down or run out

[2021-08-10 14:58] nikurt opened #4665 "`state-viewer` fails to dump new genesis state due to mismatching supply"
**Describe the bug**
`cargo build --package state-viewer --features nightly_protocol,nightly_protocol_features && ./target/debug/state-viewer --home=~/.near/betanet dump_state`
[code]

This is caused by a recent change forcing validation of total_supply upon each creation of `Genesis`.
What happens is that every epoch the total supply is burned and/or minted. Which leads to a discrepancy between t

[2021-08-10 17:44] #4629 closed

[2021-08-11 01:24] ailisp commented on #4664
@olonho could you please take a look once you have time? I'm recently being asked to prioritize on profile data work. Thanks

[2021-08-11 01:27] ailisp opened #4669 "Wasmer 2 trap handler doesn't work well with cargo test --test-threads=1"
Could be cargo test's trap handler has some confliction with wasmer 2's and does not necessarily need fix on wasmer2. But we need to investigate to understand why cargo test --test-threads=1 doesn't work. This is the only unclear thing in #4395 . A few facts:

- wasmer 1 was working with cargo test --test-threads=1 or no test-threads limitation
- wasmer 2 near vm runner tests work with cargo test,

[2021-08-11 01:30] ailisp commented on #4669
@olonho I assigned to you first since you're quite good at understanding how their trap handler interacts and I got other priorities, in case you're busy I can take it some time later. /cc @matklad

[2021-08-11 02:52] bowenwang1996 commented on #4665
This is not the case. The following invariant should always hold: total supply is equal to the sum of locked and liquid balance across all accounts. When new tokens are minted, they are distributed to some accounts (validators). When tokens are burnt, some account paid for them.

[2021-08-11 06:46] #4624 closed

[2021-08-11 10:20] #4665 closed

[2021-08-11 11:19] janewang commented on #4628
Thanks @ailisp for fixing this issue. It looks like this blocker for 1.21.0 release is merged. If no objections, let's close this issue.

cc @frol  @bowenwang1996 @chefsale

[2021-08-11 15:27] frol opened #4671 "Automatically attach release artifacts to Github Releases"
@chefsale it is really hard to look up the s3 link every time I need to download neard, or state-viewer, or config.json. Please, add the automation to extend the Github releases with the artifacts relevant to the release.

cc @janewang

[2021-08-11 16:23] nikurt commented on #4655
Hi @gaia ,
Unfortunately, the log doesn't have debug information and doesn't help understanding the issue.

Would you please enable debug logging and let me know when the issue happens again?
Assuming you run a node using `neard`, please add `RUST_LOG` to the command line, so that it looks something like that:
`RUST_LOG='debug,actix_web=info' neard run`

[2021-08-11 20:44] #4655 closed

[2021-08-11 23:29] #4628 closed

[2021-08-12 04:08] miraclx commented on #2793
Indeed! We go from

this:

[code]

to this:

https://github.com/near/nearcore/blob/9f5e20b29f1a15a00fc50d6051b3b44bb6db60b6/chain/jsonrpc/tests/rpc_query.rs#L656

[code]

Yay for early validation. We can proceed to resolve these issues. I can take this one.

[2021-08-12 16:44] frol commented on #2793
Great! Please, take it!

[2021-08-13 11:23] #4482 closed

[2021-08-13 11:44] Longarithm commented on #4482
Closing, because we have a decent explanation for the issue, and it was fixed in https://github.com/near/nearcore/pull/4647.

[2021-08-13 12:25] matklad commented on #4357
@nikurt seems like this is not fully done yet: node-runtime and testlib still seem to depend on each other

* https://github.com/near/nearcore/blob/942e02daf7d75a94db51ef1c4ea9ef27aed459a4/test-utils/testlib/Cargo.toml#L30
* https://github.com/near/nearcore/blob/942e02daf7d75a94db51ef1c4ea9ef27aed459a4/runtime/runtime/Cargo.toml#L64

There's also small cycle between near_network and near_client.

[2021-08-13 13:06] Longarithm opened #4678 "Regular op cost estimation from different binaries differs by 1.42"
Running function for estimating `regular_op_cost` from different binaries shows difference by 1.3.
This shouldn't be the case, because estimation should not depend on exact binary where it was launched.

Reproduction:
Look at commit in test branch https://github.com/near/nearcore/compare/master...93339de

1. Launch in a test

- launch docker, cd `/host/nearcore`
- run `CARGO_TARGET_X86_64_UNKNOWN_

[2021-08-13 14:02] Longarithm commented on #4678
Related: https://github.com/near/nearcore/pull/4679

[2021-08-13 14:46] #4362 closed

[2021-08-13 17:14] #4552 closed

[2021-08-13 23:08] Longarithm commented on #4678
Confirmed that the difference is caused by disabling LTO.
Change I made: https://github.com/near/nearcore/commit/d037b846523c1bd289e6407ae0caee36af4ba116
After this, param-estimator got the following values:
[code]

[2021-08-13 23:08] #4678 closed

[2021-08-14 19:08] willemneal opened #4685 "[Sandbox] Virtual Filesystem and Initial contracts"
1.  1.  Virtual File System
         The current workflow that <span class="error">[near-runner]</span>([https://github.com/near/runner-js](https://github.com/near/runner-js)) uses when executing tests is:

*   Call `near-sandbox --homeDir <random-temp-dir> init`
*   Spawn the sever at a random available port above 1024
*   Execute a create function that sets up the initial state of the network.
*

[2021-08-15 05:09] mikedotexe opened #4686 "[Sandbox] Allow sandbox to produce blocks or "fast-forward""
Per the discussion here: [https://github.com/near/runner-js/issues/1](https://github.com/near/runner-js/issues/1) @ailisp has mentioned that the Sandbox feature he's worked on provides patch state but not arbitrary block production to simulate "fast-forwarding" in time.

This is a type of testing that is quite difficult using the simulation tests, which will be deprecated in favor of Sandbox testi

[2021-08-16 13:31] mina86 opened #4691 "Get rid of `pytest/empty-contract-rs`"
The only reason `pytest/empty-contract-rs` exist is because mocknet tests on NayDuck skip the build stage and thus `near-test-contracts` are not built. `pytest/tests/mocknet/load_testing.py` is the only test which uses `empty-contract-rs` and it’s use could be easily replaced by the use of `fib` function in `near-test-contracts`.

[2021-08-16 14:24] mina86 commented on #2483
Do we have an example of a test that needs that?

[2021-08-16 18:17] #4489 closed

[2021-08-16 22:46] bowenwang1996 commented on #2483
Unfortunately I cannot remember the exact scenario :(

[2021-08-16 22:52] bowenwang1996 commented on #3266
@mina86 looks like this is still not fixed. Today I shutdown a node that is running https://github.com/near/nearcore/commit/3216f6ed1a7e139770cd68d091b65b150719cb04 and tried to load it from state-viewer and got
[code]

[2021-08-16 23:24] bowenwang1996 opened #4696 "Add an integration test for creating invalid subaccount"
Add a test that asserts an account `alice` cannot create accounts of type `x.y.alice` but can create accounts of type `x.alice`. This should catch bugs like what this fixed in https://github.com/near/nearcore/pull/4694

[2021-08-17 14:20] bowenwang1996 commented on #4588
1.54 is already released. This issue is not blocked any more

[2021-08-17 14:21] bowenwang1996 commented on #4595
Fixed in #4604

[2021-08-17 14:21] #4595 closed

[2021-08-17 14:30] bowenwang1996 commented on #4650
Blocks fixing `sync_chunk_from_archival.py`

[2021-08-17 14:37] nikurt commented on #4357
Thanks @matklad , will take a look.

[2021-08-17 16:12] chefsale opened #4702 "sync_state_nodes::sync_empty_state is flaky"
The test is often flaky on both stable and nightly tests:

Examples from PRs:
https://buildkite.com/nearprotocol/nearcore/builds/3315
https://buildkite.com/nearprotocol/nearcore/builds/3318

[code]

cc: @bowenwang1996 please assign to the relevant person.

[2021-08-18 00:07] bowenwang1996 commented on #4702
Duplicate of #4036

[2021-08-18 00:07] #4702 closed

[2021-08-18 12:06] matklad commented on #4357
Almost there :) There are couple of more cycles left. I use `rust-analyzer analysis-stats` to look for cycles, the output on master is

[code]

#4707 is a fix for the last two, haven't looked into the first one. And looks like #4707 became possible due to other refactors by @nikurt :tada:

[2021-08-18 12:46] EgorKulikov commented on #3201
Main problem we have is that ClientActor behave as single thread event queue. When we process downloaded state parts and then catchup on blocks at the start of an epoch if we are going to be validator for the next epoch, in the meantime we would not process any blocks, which may be a problem if we are validating some other shard for this epoch

At the same time we cannot just put those tasks to so

[2021-08-18 15:44] mzhangmzz commented on #4569
It's caused by https://github.com/near/nearcore/pull/4356/files

Before the change, default value of `num_shards` is 1 (https://github.com/near/nearcore/pull/4356/files#diff-e5cc0a30d85b6a9ab9b54636d706b348e4e25c560359c74945ff0bee48649e2bL186) while it was 4 after (https://github.com/near/nearcore/pull/4356/files#diff-2a66709b15f473bc8946b053ef86e3fc266329df2631afd7758744cfa3133137R245)

[2021-08-18 15:44] bowenwang1996 commented on #3201
@EgorKulikov my understanding is that we want to go with the second approach. More specifically, we want to have the following:
* A separate actor that combines state parts in parallel. This does not interfere with the client actor and should be relatively straightforward to implement.
* A new actor that applies different chunks in multiple threads and sends the results back to the client actor. T

[2021-08-18 16:00] mzhangmzz opened #4710 "Pass `shard_layout` to garbage collection"
After https://github.com/near/nearcore/pull/4659, Trie nodes are stored in the database with `shard_version` as part of their keys. However, the pull request didn't finish changing garbage collection to make it take the correct `shard_version` to garbage collect. It is left as a TODO there.

This issue needs to be fixed before sharding is enabled, otherwise gc will not work correctly

[2021-08-18 16:05] mzhangmzz opened #4711 "Disable state sync for for the first epoch after sharding changes"
The current proposal of how to implement sharding upgrade is incompatible with how state sync is implemented. This is because state sync syncs to the state before the last block of the last epoch (say T-1). If number of shards changes between epoch T-1 and epoch T, this does not work.

The temporary solution for this is to disable state sync for the epoch when resharding happens.

[2021-08-18 17:40] #4569 closed

[2021-08-19 13:24] miraclx commented on #4696
I suppose this covers it, right?

https://github.com/near/nearcore/blob/6db93dab90dbdaf238b627c03d0af5b855961718/core/account-id/src/lib.rs#L361

[2021-08-19 14:11] matklad opened #4713 "Newly introduced extension functions are available regardless of the protocol version"
Today, nothing in https://github.com/near/nearcore/blob/master/runtime/near-vm-runner/src/imports.rs mentions when a particular host function became part of the protocol. This is wong -- that means that new functions like `ecrecover` become available *at all protocol version*. So, depending on the version of the neard binary, the contract that calls `ecrecover` at the old protocol version can eith

[2021-08-19 14:30] matklad commented on #4713
cc @joshuajbouw

[2021-08-19 15:00] bowenwang1996 commented on #3825
Done in #4530

[2021-08-19 15:00] #3825 closed

[2021-08-19 20:20] mzhangmzz opened #4715 "Separate EpochManager away from Runtime"
Currently, `EpochManager` is part of `Runtime` and other structs such as `Client` need to access epoch information through the runtime interface. However, runtime should not care anything about epoch or shard at all. It should simply do one thing, take some transactions and receipts and apply that to the state.

`EpochManager` is also accessed through runtime by a `RwLock`. That is unnecessary and

[2021-08-19 22:25] bowenwang1996 commented on #2789
@khorolets any updates on this?

[2021-08-19 22:30] bowenwang1996 commented on #4696
@miraclx that is not an integration test

[2021-08-19 22:47] bowenwang1996 commented on #4715
Duplicate of #2745. Basically we need to decide whether we want to make epoch manager a smart contract.

[2021-08-19 22:47] #4715 closed

[2021-08-19 22:57] bowenwang1996 commented on #4357
Fixed in https://github.com/near/nearcore/pull/4712

[2021-08-19 22:57] #4357 closed

[2021-08-20 12:35] matklad opened #4717 "don't pass file, line in run_later"
Basically, turn this into a PR:

[code]

See the relevant docs: https://doc.rust-lang.org/stable/std/panic/struct.Location.html#method.caller

[2021-08-20 15:41] matklad commented on #4633
Ok, I think I have proposed implementation strategy for the estimator.

We have a CostTable which lists every possible cost. For each cost, we have a rust function that computes the cost. Each function is stateless, and we don't try to use a single unified framework for all costs. If a particular costs needs to be computed in an odd way, so be it.

That said, there are groups of costs that are com

[2021-08-20 17:38] Longarithm opened #4719 "Remove `max_gas_burnt_view` from `VMLimitConfig`"
`max_gas_burnt_view` field is not used in `VMLimitConfig` anymore, so let's remove it when the new way of updating `RuntimeConfig` will be introduced: https://github.com/near/nearcore/issues/4649

See https://github.com/near/nearcore/issues/3080 and https://github.com/near/nearcore/pull/4716 for more details.

[2021-08-20 17:58] matklad commented on #4717
To expand on the motivation (was busy while logging the issue): right now every call-site passes `file!(), line!()`, which is just boilerplate which can be easily removed.

[2021-08-20 18:11] matklad commented on #4660
Looked into this today, hoping to find some easy wins, but, sadly, there seems to be none.

First, the serialized representation of both contracts actually differs -- although wasm len is the same, we store 3x more bytes in the cache for `make_many_methods_contract`.

Then, I looked at the profiles, and I didn't notice anything order-of-magnitude big. There were some unnecessary clones which yield

[2021-08-20 22:09] bowenwang1996 commented on #4719
This may change genesis hash. Please sync with @posvyatokum on #4447

[2021-08-22 17:58] bowenwang1996 commented on #4561
To be more specific, we need:
* A cluster with 100 nodes running and loadtest it with transactions. For this part we can take/modify the existing mocknet scripts
* We also need to change the genesis configuration to make sure that every validator tracks all 8 shards. This can be done by modifying `num_block_producer_seats_per_shard`.

cc @nikurt

[2021-08-22 17:59] bowenwang1996 commented on #2411
Done in #4680

[2021-08-22 17:59] #2411 closed

[2021-08-23 19:23] posvyatokum commented on #4374
Pushed more code to #4546
Right now switching to #4550 to run current fuzzer in CI

[2021-08-23 19:49] Longarithm opened #4724 "Get rid of similar `VMContext` creations in tests"
We have a bunch of `VMContext` creations for testing, which are very similar. Some of fields are filled with random values, and currently it's not very clear which of them are important:

 VMContext

 { current_account_id: CURRENT_ACCOUNT_ID.parse().unwrap(), signer_account_id: SIGNER_ACCOUNT_ID.parse().unwrap(), signer_account_pk: Vec::from(&SIGNER_ACCOUNT_PK[..]), predecessor_account_id: PREDECE

[2021-08-24 00:52] mina86 opened #4726 "Bring back mocknet pytests or get rid of the code"
Mocknet has been turned down for the time being and thus mocknet nightly tests have been disabled as well. Either bring the tests back once Mocknet is up and running again or remove the `pytest/tests/mocknet/*` files once we decide it’s no longer needed.

[2021-08-24 11:27] olonho commented on #4633
This approach sounds very much desirable, thanks Alexey!

[2021-08-24 11:53] #4597 closed

[2021-08-24 11:59] matklad commented on #1881
One suggestion I have is to flatten out the directory layout and keep all rust crates in the one-level deep `crates/` directory. In other words, the *first* list from https://github.com/near/nearcore/issues/1881#issuecomment-621414303 looks pretty reasonable to me, and it nicely solves the "where do I put a thing which doesn't belong anywhere else" problem.

See https://matklad.github.io/2021/08/2

[2021-08-24 12:22] frol commented on #2976
@volovyk-s @vgrichina @mikedotexe @amgando FYI, NEAR documentation covers all possible JSON RPC errors under each individual method, e.g. https://docs.near.org/docs/api/rpc/access-keys#what-could-go-wrong

Kudos to @khorolets for implementing the structured errors and documenting those!

[2021-08-24 22:51] abacabadabacaba opened #4731 "Running cargo update results in changes to gas usage"
When debugging #4612, I found that upgrading the dependencies (using `cargo update`) results in incompatible changes to how the gas usage is calculated. @ailisp suggested that this is due to changes in behavior of some wasm manipulation libraries.

Contract runtime's behavior should be reproducible irrespective of the specific library versions used. Perhaps the dependency's version range should be

[2021-08-25 09:36] matklad commented on #4731
Excellent catch! @ailisp could you look into this and pin the relevant library (pwasm_utils probably?) in Cargo.**toml** with `version = "= some.version"` and a comment explaining why we need this?

[2021-08-25 22:26] bowenwang1996 opened #4735 "Ability to reset the blockchain head through neard cli"
It has long been a problem that sometimes a node does a different state transition from the rest of the network either due to a bug or not upgrading in time. Currently the consequences are dire – the node gets into an inconsistent state and could not recover by itself. The node operator has to intervene, wipe out the storage, and re-download it from some backup. The entire process is quite slow an

[2021-08-25 22:36] bowenwang1996 opened #4736 "Simulate the transition to eight shards"
Before rolling out the change to testnet, we should simulate the protocol upgrade on a cluster with 100 validators to make sure that the process will happen smoothly. More specifically, we need to:
* Spoon testnet/mainnet state and start a new network with 100 validators and the spooned state.
* The protocol version should be set to latest protocol version - 1 to simulate to upgrade process.
* We

[2021-08-26 11:01] matklad opened #4738 "Make ContractCode getters actually useful"
Change this:

https://github.com/near/nearcore/blob/dabf861c38dcc1c11c2e31bf898b0ca08de95e15/core/primitives-core/src/contract.rs#L3-L21

to this:

[code]

* `get_` prefixes are not idiomatic
* having a getter for a public field doesn't make sense
* ContratCode has an invariant that hash and code match, so the fields should be private

While we are at it, might add a debug assertion that hash pass

[2021-08-26 12:14] matklad opened #4739 "Explain why FunctionCallPersmission doesn't use AccountId"
This looks suspect to me:

https://github.com/near/nearcore/blob/dabf861c38dcc1c11c2e31bf898b0ca08de95e15/core/primitives-core/src/account.rs#L202-L203

I'd expect this to be `AccountId`. This was introduced in https://github.com/near/nearcore/commit/2d7b3c0eb1823f4f96748cac9e561874dad10af9#diff-e15377fa8f9e6deba5e3549c4b497cb0c96b0d799982a30ec5d6ef442729d32aR203, so I suspect the reason is that "

[2021-08-27 11:16] matklad opened #4745 "Refactor code duplication when creating NightshadeRuntime::new"
In #4698, there are shotgun changes all other the place to add a new argument to NightshadeRuntime::new:

!<span class="error">[image]</span>([https://user-images.githubusercontent.com/1711539/131116783-fe809221-f28a-4f0c-9577-c259917afba6.png](https://user-images.githubusercontent.com/1711539/131116783-fe809221-f28a-4f0c-9577-c259917afba6.png))

I think this is about the third time I notice this

[2021-08-27 11:55] ilblackdragon opened #4746 "Misleading error when not full access key is used"
**Describe the bug**
If developers tries to send money using function access key, the error is confusing.
Please provide a short description of the bug.

**To Reproduce**
1. Add function access key to the account
2. Sign transaction with single transfer action
Observer error:
[code]

**Expected behavior**
Error that says you can not send money with non full access key.

**Screenshots**
![image](ht

[2021-08-30 11:48] #4550 closed

[2021-08-31 01:42] ailisp opened #4753 "Misleading PrepareError::Deserialization when wasm validation fails"
For example, when try to access a non-existing global. I think we should introduce a new validation error and use that, instead of return deserialization error

[2021-08-31 12:18] mina86 commented on #4574
I’m certainly not opposed to that.

[2021-08-31 12:18] #4574 closed

[2021-08-31 14:11] mina86 commented on #2444
Won’t the protocol versions mismatch when stable node tries to connect to cluster running nightly nodes?

[2021-08-31 14:51] bowenwang1996 commented on #2444
Ah that is an interesting question. So originally the idea is that every commit on master should be backward compatible with the most recent stable release since we only stabilize features close to the release. However, as @matklad suggested, we should stabilize feature independently of the release, which renders this issue invalid.

[2021-08-31 14:51] #2444 closed

[2021-08-31 17:35] posvyatokum opened #4760 "Minimize fuzzing test case in CI"
Currently fuzzing in nayduck just writes in stdout the first failing scenario and it can be really large [http://nayduck.eastus.cloudapp.azure.com:3000/#/test/217190](http://nayduck.eastus.cloudapp.azure.com:3000/#/test/217190). We can utilise fuzzing minimising tool to reduce output size.

[2021-08-31 17:42] posvyatokum opened #4761 "churn_attack::churn_attack is flaky"
https://buildkite.com/nearprotocol/nearcore/builds/3659#80bac2d4-3c8e-4754-a538-d466928dcc31

@bowenwang1996 please forward this issue in a right direction

[2021-09-01 09:33] matklad opened #4764 "Migrate off clap2"
In nearcore, a bunch of crates uses `clap3`, and a bunch of crates uses `clap2`. As neard itself uses `clap3`, I think we should migrate everything else to it. The specific benefits are:

* no confusion about what to use for new tools
* better compile times (clap is pretty big, two claps are twice as big)
* easier to maintain code -- clap3 has derive API which makes adding or changing cli options

[2021-09-01 09:45] nikurt opened #4765 "Replay chain history in parallel"
After issue #4597 can replay mainnet history in ~3 days.
Investigate if it's possible to do it faster by replaying blocks in parallel.
I can imagine someone waiting for 3 days to realize they are collecting the wrong metrics or forgot to check a predicate.
Say, if 4x speedup is possible, the replay will take 20h instead of 3d, making it possible to iterate within a week.

On the other hand, before

[2021-09-01 10:15] matklad opened #4766 "Don't use outdated jemalloc"
We are currently using https://github.com/gnzlbg/jemallocator. We should switch to https://github.com/tikv/jemallocator.

See https://github.com/rust-lang/rust/pull/83152 for context.

My TL;DR: first crate uses old jemalloc, *and* it doesn't set it up to use the most efficient APIs. tikv fork fixes both problems, and delivers a sizable performance increase. I've just [re-checked it](https://githu

[2021-09-01 14:16] matklad opened #4771 "Runtime hits unknown perfomance cliff in the estimator"
See

[https://github.com/matklad/nearcore/commit/80b44a877a1d2de76b4adcf63567984d615e7c36](https://github.com/matklad/nearcore/commit/80b44a877a1d2de76b4adcf63567984d615e7c36)

In that commit, I add a benchmark which sends 150 blocks, where each
 block contains 100 deploy code transaction.

EDIT: [https://github.com/near/nearcore/issues/4771#issuecomment-933347496](https://github.com/near/nearcore

[2021-09-01 17:46] bowenwang1996 commented on #4760
Is this fixed in #4759 ?

[2021-09-01 18:17] Longarithm opened #4775 "Set limit on top level account length on testnet"
We want to have a limitation on top level account length. It is configured using `AccountCreationConfig`. The desired configuration is:
[code]

You can see the desired condition [here](https://github.com/near/nearcore/blob/baafc663b572a7ced2b1600125f21e27e28dedb6/runtime/runtime/src/actions.rs#L349-L374).

It is set properly on mainnet. The problem is that on testnet `min_allowed_top_level_account

[2021-09-01 19:18] nearmax opened #4776 "Cost breakdown of EVM contract"
We would like to improve the cost of executing EVM contracts. However, to do so we need to know the main contributors to the gas cost. Fortunately, @ailisp recently added a change that exposes gas cost breakdown in the JSON RPC. @mfornet , Anton Paisov, @birchmd would need to reach out to @ailisp to learn how to use it and produce a report that shows the gas cost breakdown for a typical EVM transa

[2021-09-01 19:20] bowenwang1996 commented on #4775
@Longarithm thanks for the detailed analysis!

14GB is definitely too much. Let's go with the second option. How about we actually refactor the genesis config into something that we use for genesis and a separate protocol config, as described in #4447 ? I believe that may be less of a hassle

[2021-09-01 19:38] nearmax opened #4777 "Replay of past transactions with new gas counter"
@ailisp is working on a new gas counter which will very likely make cost of executing pure Wasm cheaper than before. This might in turn benefit EVM execution a lot, since EVM contract is very computationally heavy. However, this change is extremely invasive, since it modifies Wasm instrumentation and host-guest Wasm interactions. For this change to be launched into the production we would need to

[2021-09-01 19:49] nearmax opened #4778 "Re-evaluate EVM host functions using new param estimator"
@matklad is working on new param estimator and he has an intermediate result. It is much more intuitive and diagnosable. We should re-evaluate EVM host functions using this param estimator and see if the fees are getting reduced.

[2021-09-01 20:26] Longarithm commented on #4777
@ailisp is there a chance that your change reduce loading the contract into memory ~30 times?
This is the overhead of estimating the cost we have now: https://github.com/near/nearcore/issues/4660

[2021-09-01 20:52] Longarithm commented on #4775
@bowenwang1996 I agree that it should be done, but could you elaborate on how it may help here?

Now we can just take account creation config from genesis, and there is no need to introduce a separate structure.

What else we can do is to have three separate structures:
- genesis config
- versioned account creation config for each -net
- runtime config

But this is also independent with removing p

[2021-09-01 21:17] nearmax commented on #4777
I would let @ailisp answer, but AFAIU it has no effect on contract loading speed.

[2021-09-01 22:59] Longarithm commented on #4775
I also don't see how to avoid affecting `ApplyState`.

To put correct `AccountCreationConfig` to `action_create_account`, we need to access genesis. The last point where we have genesis is `NightshadeRuntime::process_state_update`, and the simplest option is to save `genesis_config.runtime_config.account_creation_config` to `ApplyState` and pass it through the whole sequence of calls to `action_cr

[2021-09-02 00:44] birchmd commented on #4776
@nearmax by "breakdown" do you mean like what is posted here? https://github.com/aurora-is-near/aurora-engine/discussions/226

It shows that the vast majority of the gas usage in in wasm execution, which from what I understand cannot be broken down further.

It's also worth noting that what contributes the most to the gas cost depends on the workload. For example deploying a solidity contract is m

[2021-09-02 08:51] matklad commented on #4777
@nearmax I think the history replay tool was just implemented in
https://github.com/near/nearcore/pull/4718.

[2021-09-02 09:06] #4738 closed

[2021-09-02 09:12] posvyatokum commented on #4760
Sort of, this certainly decreases the tasks priority, but minimised output would be helpful during debugging, because scenario won't have redundant transactions.

[2021-09-02 09:54] matklad commented on #4775
Quick sanity check: do we have actual testnet accounts that break it? That is, what will break if we just make the change?

[2021-09-02 10:16] Longarithm commented on #4775
@matklad well, I created one to check that it is actually possible: https://explorer.testnet.near.org/accounts/sanchez

If we just make the change and someone decides to simulate blockchain including tx created this account, states diverge because the simulation will reject this tx.

[2021-09-02 12:57] Longarithm commented on #4775
UPD: Another simple option we see is to pass `min_allowed_top_level_account_length` to `RuntimeConfigStore`, and then make a protocol upgrade which will ignore this argument for newer versions.

[2021-09-02 17:18] mzhangmzz opened #4780 "Calculate ShardLayout for SimpleNightshade"
We need to calculate the boundaries to split states for simple nightshade.

After that, update https://github.com/near/nearcore/blob/master/core/chain-configs/src/genesis_config.rs#L142

[2021-09-02 17:46] ilblackdragon commented on #2076
Use case is connecting to IBC.
Pretty much IBC is using proof of non existance for expiration of the
message communication - for example if message wasn't delivered and it
expired, the non existnance proof can provide evidence for the other chain
that message wasn't delivered and for example tokens can be released back.

On Tue, Aug 31, 2021 at 4:55 PM stale[bot] ***@***.***> wrote:

--
Best regar

[2021-09-02 17:55] bowenwang1996 commented on #4777
Yeah as @matklad said, the tool has already been implemented by @nikurt. I believe what is left is for @ailisp to go through the entire mainnet (and ideally testnet as well) history to check that nothing breaks.

[2021-09-03 00:21] Longarithm opened #4783 "Consider having the same protocol config for all chains"
We need to decide if we want to have some part of protocol configuration to be the same for all chains.

By protocol config, we currently mean `RuntimeConfig` containing runtime fees, VM limits, etc. But it also can be extended to some contents of `GenesisConfig`.

## Same protocol config

* Betanet and Testnet fully serve as a Mainnet test
* Simpler to maintain, less duplicated data, which mean l

[2021-09-03 12:28] Longarithm commented on #4783
Another argument for the same protocol config:

Some parameters by definition should be the same for all protocols. For example, `RuntimeFeesConfig` contains fees which corresponds to the number of executed instructions, which itself should not depend on the exact chain.

So we may want to store separate chain-specific and protocol-specific configs anyway.

[2021-09-03 17:46] abacabadabacaba opened #4784 "Remove outgoing receipts from chunk data"
Currently, chunk data includes outgoing receipts in addition to transactions. This data is redundant: similar to the state, it can be recomputed. I think that it should be removed.

[2021-09-03 17:52] abacabadabacaba commented on #2100
I think an action item here is to stop using base58 in any new protocols and APIs, and to deprecate (and eventually remove) any protocols and APIs that are using it.

[2021-09-03 20:21] bowenwang1996 opened #4786 "24 -> 25 migration is broken on mainnet archival data"
To reproduce, simply restart an archival node on mainnet with latest master commit.
[code]

[2021-09-03 20:22] bowenwang1996 commented on #4786
This blocks the 1.21.0 release

[2021-09-03 20:27] janewang commented on #4786
Does this imply the release on Monday is delayed?

[2021-09-03 20:30] bowenwang1996 commented on #4786
Yes

[2021-09-03 20:55] frol commented on #4786
@bowenwang1996 we run Indexer for Explorer based on 1.21.0-rc.1 release for mainnet over archival data and it migrated the database just fine today :thinking:

I believe the problem is somewhere after 1.21.0-rc.1 release and master.

[2021-09-03 22:00] nearmax commented on #4776
@birchmd . Thanks.

To double check, is this report saying that 86-88% is spent on pure Wasm operations (that is [regular_op_cost](https://github.com/near/nearcore/blob/master/nearcore/res/mainnet_genesis.json#L181)) or Wasm + host functions?

[2021-09-03 22:43] bowenwang1996 commented on #4786
@frol I see. Thanks for point this out!

[2021-09-03 22:45] frol commented on #4746
@miraclx I believe we should just update the wording of the error message.

[2021-09-03 23:14] bowenwang1996 commented on #4783
Testnet should have the same protocol config as mainnet -- that was not the concern. The concern was that we may want to have some separate network for other things. For example, a local network where fees are different to test congestion or somesuch. Even in some of the tests we have today we modify genesis config to make it easier for testing.

[2021-09-03 23:39] frol commented on #4324
I believe this is already addressed

[2021-09-03 23:39] #4324 closed

[2021-09-04 00:14] nearmax opened #4787 "Define desirable runtime performance for Aurora contracts"
We want EVM contract to be cheaper. However, without knowing how much cheaper we want it to be, it is hard to make decisions on which technical direction to pursue in medium and long term.

It would help if Aurora team gave us several examples of their use cases with current gas usage, minimum acceptable gas usage for these contracts, and degree of importance.

[2021-09-04 07:12] janewang commented on #4786
Thank you @frol!

@bowenwang1996 If the error is one off, we are good with 1.21.0 release as planned on Monday?

[2021-09-04 15:25] birchmd commented on #4776
Pure wasm, that's right. You can see the host function breakdown there as well. But pure wasm is 86% of the total

[2021-09-04 23:24] bowenwang1996 commented on #4786
Yeah we should still be able to proceed with the new release

[2021-09-05 02:06] nearmax commented on #4776
Okay, these are good news. We know how to increase efficiency of pure Wasm and @ailisp is currently working on it. He is implementing a new gas injector that will make cost of single Wasm operation lower. However, to roll it out we would need an extensive testing because this change is very invasive (it transforms Wasm code). You could greatly speed up the roll out of this feature by implementing

[2021-09-05 02:06] #4776 closed

[2021-09-05 02:09] nearmax commented on #4786
@janewang , @bowenwang1996 as we discussed, we should have an empty release in this case to maintain the cadence.

[2021-09-06 01:18] ailisp commented on #4786
This kind of error doesn't happen at the time I'm testing the last fix. Means either a commit between 0130ae8a1de8484730fda169a678d190d605b7ae and master breaks something or mainnet archival during this month has accumulated some other kind of invalid data. Let me investigate

[2021-09-06 07:25] ailisp commented on #4786
So far I found it fails at a quite unfortunate place:
[code]

In the migration. This line, borsh should returns an error, and we'll enter one of the error handling branch below. but it panicked (!).

[2021-09-06 07:53] ailisp commented on #4786
I figured out, it is due to https://github.com/near/nearcore/pull/4438 merged after. #4438 cause this panic when deserialization fail. I'm testing a fix, and will post a PR shortly

[2021-09-06 09:44] ailisp commented on #4786
Fixed in #4790

[2021-09-06 13:16] #4739 closed

[2021-09-06 13:33] bowenwang1996 commented on #4786
Both frol and I tested the release. It turned out this issue did not affected the release. See https://github.com/near/nearcore/issues/4786#issuecomment-912805450

[2021-09-06 15:31] mina86 commented on #4771
Quick look indicates that the slowdown comes from the storage.  I’ve
added some more tracing and here’s output with a fast
`process_transaction` invocation followed by a slow one (they are
within the same `apply` call):

    147.38µs         Runtime::process_transaction
      145.70µs         verify_and_charge_transaction
        48.12µs          validate_transaction
        46.70µs          get_a

[2021-09-06 16:11] khorolets opened #4791 "Feature request of Unsafe fast start of nearcore"
After the recent incident with Indexer for Explorer, we've started the <span class="error">["Improvement uptime" discussion]</span>([https://github.com/near/near-indexer-for-explorer/discussions/161](https://github.com/near/near-indexer-for-explorer/discussions/161))

One of the important stuff for an indexer is to be able to start very quickly even if it is not safe to do so, but very required.

[2021-09-06 16:18] frol commented on #4791
@janewang @bowenwang1996 I would like to ask Node Experience team to consider implementing this feature.

Currently, Indexer Framework uses `nearcore::config::load_config_without_genesis_records`, but even then it takes tens of minutes to boot on testnet

https://github.com/near/nearcore/blob/b84b3fcdca7e3c221fa4adee35efeac6c2170637/chain/indexer/src/lib.rs#L104-L105

I feel we might want the same

[2021-09-06 17:16] bowenwang1996 commented on #4335
@posvyatokum is this already done?

[2021-09-06 17:20] bowenwang1996 commented on #4771
@mina86 is it because the value is not cached and you have to do a trie traversal?

[2021-09-06 17:22] bowenwang1996 commented on #4791
@frol how urgent is this request? @posvyatokum could you take a look?

[2021-09-06 17:36] Pete-LunaNova opened #4792 "Upgrading to 1.21.0 causes panic on backup node and appears to corrupt db"
On one of our backup nodes the upgrade to 1.21.0 resulted in the following error message in the logs:

[code]
The node then gets stuck waiting for peers on block #47107551

Out other backup node experienced no such issues upgrading to 1.21.0

[2021-09-06 17:44] frol commented on #4791
This feature is not urgent at the moment, but it would help a lot in a face of incidents that may happen any day

[2021-09-06 18:59] mina86 commented on #4771
It doesn’t look like cache issues.  I haven’t measured cache
hit ratio or counted how often we hit the storage, but just by looking
at logs the numbers seem similar for fast and slow cases.  On the
other hand, `Store::get` becomes ten times slower all of a sudden:

          74.73µs          Trie::Update::get
            68.40µs          Trie::lookup
              7.45µs           Store::get

[2021-09-06 19:09] Longarithm commented on #4783
In https://github.com/near/nearcore/pull/4779, we don't fully restrict ourselves. We still can create other stores and implement special command line flags to init runtime with other runtime configs store.

Overall the concern makes sense, though it seems there is no ideal solution.

Because there are no other concerns, closing for now.

[2021-09-06 19:09] #4783 closed

[2021-09-06 22:46] mina86 commented on #4771
The difference is caused by how signer of the transaction is chosen.
In the fast test signers are chosen in sequence from all the available
accounts.  In the slow tests, signers are chosen at random from unused
accounts.  Making the latter use sequential accounts fixes the issue:

[code]
I didn’t look into how exactly this affects the database to cause the slowdown.

[2021-09-06 22:56] mina86 commented on #4771
Perhaps I’ve spoken too soon. The above is correct and changing
`random_unused_account` implementation does speed up the slow test but
the opposite does not slow down the fast test:

[code]

It looks like it’s something else calling `random_unused_account` that
is the culprit.

[2021-09-07 13:39] matklad commented on #4771
Confirmed that the order of accounts matters here. Iterating accounts by one up or down finished fast. Iterting accounts by eleven shows the same slowdown

<detail>
<summary>diff</summary>

[code]

</detail>

[2021-09-07 14:02] matklad commented on #4771
Ok, it took me just about a week to realize I can throw flamegrapsh at it :sweat_smile:

stepping by 11 acconts:

![image](https://user-images.githubusercontent.com/1711539/132357723-0c5fa352-08db-4738-a41f-d278f6a8467a.png)

stepping by 1:

![image](https://user-images.githubusercontent.com/1711539/132357842-cdbf1a9d-1feb-4369-a9cd-308d61f4202f.png)

profilnes recoreded with `perf record -F 9999

[2021-09-07 14:03] matklad commented on #4771
(meta -- does anyone know of a nice way to share per profileing results? The above is me scrennshotting hotspot ui, which doesn's seem ideal)

[2021-09-07 15:08] janewang commented on #4792
@Pete-LunaNova Thanks for submitting this bug. You mentioned that this issue was resolved. What was your solution on this issue. Please let us know. Thanks!

[2021-09-07 15:15] nearmax commented on #4777
Since Aurora wants to help @ailisp , it would be great if someone from their team used it to replay the mainnet and testnet and compare the burnt gas with the two counters. @mfornet @birchmd Could you guys do it?

[2021-09-07 15:17] matklad commented on #3363
Oups, I realized that I was wrong! As we now know, the bulk of our execution time is gas metering. That is, we don't actually run contracts with compiled code speed today, we run them much slower. So it is feasibly to switch to an interpreter together with updating our gas metering, while still reducing the costs.

A potential benefit this can bring is faster startup times for contracts -- in theo

[2021-09-07 16:42] nearmax commented on #4777
@bowenwang1996 Me and @olonho discussed @nikurt 's tool. I am not sure it does what we need it to do. @nikurt could you confirm the following:
* Can your tool replay all transactions from the genesis and arrive to **exactly the same state** that we have right now at the current block?
* When you process transactions from sequential blocks X, X+1, X+2, do we accumulate the state or we restart from

[2021-09-07 17:40] bowenwang1996 commented on #4792
Looks like it is caused by `PeerManager::new`. This means that somewhere in the database you have stored a peer whose account id is not valid. I believe this was possible before this release, but should not be anymore going forward. So I think it is an one-off instance and no action item is needed.

[2021-09-07 17:40] #4792 closed

[2021-09-07 17:40] Pete-LunaNova commented on #4792
@janewang As the db appeared to be corrupted after the panic, I deleted all the files in the data directory and restored them from a backup. The node then booted correctly again.

[2021-09-07 17:41] bowenwang1996 commented on #3363
Do we know why that is the case?

[2021-09-07 17:46] bowenwang1996 commented on #4771
accounts. In the slow tests, signers are chosen at random from unused
accounts

@mina86 what are the available accounts? I wonder whether this affects the trie traversal in the sense that if we go over the accounts sequentially, some trie node will be cached between the reads (if not by nearcore then on the OS level the page may be cached) while accessing them randomly makes it harder to cache any

[2021-09-07 17:47] bowenwang1996 commented on #4777
I believe @birchmd might be the best person to move this forward from Aurora side.

[2021-09-07 17:57] mina86 commented on #4771
The tests create 200k accounts and all transactions are signed by one of them. The test uses each account only once. Sequential reads indeed seem like a plausible explanation though at this moment I think this is affecting caching in RocksDB or on OS level rather than in our code. (I still need to just add counters or profile each of the Trie::* and Store::* methods to be sure).

[2021-09-07 18:08] nearmax opened #4798 "Move MIT and Apache licenses to their crates folders"
We need to avoid any confusion of MIT or APACHE license files being attributed to the entire nearcore. It is safer if we move them to the corresponding crates, even if it means we need to copy the files multiple times.

This is regarding https://github.com/near/nearcore/pull/4732

[2021-09-07 20:27] birchmd commented on #4777
I'm happy to include this in my tasks for next week. I am interested in the answer to Max's question above @nikurt

I may need to sync with someone about accessing mainnet data. When that data will be needed depends on how much more development work is required for the replay tool @nearmax is asking for.

[2021-09-07 20:49] mieubrisse opened #4799 "`make sandbox` fails at the final step due to missing `target/debug` directory"
**Describe the bug**
Following the steps at https://docs.near.org/docs/develop/contracts/sandbox fails because the `target` directory doesn't exist in `nearcore` so the last step of `make sandbox` fails like so:
[code]
Doing `mkdir -p target/debug` and rerunning `make sandbox` fixes the issue.

**To Reproduce**
1. Clone a clean `nearcore` repo
2. Run `make sandbox`

**Expected behavior**
Everythin

[2021-09-07 23:41] Longarithm opened #4800 "Improve navigation for pytest"
In `pytest/tests`, we implement lots of imports as follows:

[code]

This complicates navigation, because CLion does't understand these imports.
 The following would work

[code]

but we are running tests as `python tests/…` so nearcore nor pytest directories end up in sys.path. Imports like `from ...lib import cluster` lead to `ValueError: attempted relative import beyond top-level package`

We c

[2021-09-07 23:47] #4746 closed

[2021-09-08 00:36] mina86 commented on #4800
I don’t think creating a library is an ergonomic idea.  To add some context, there are two scenarios we need to handle: NayDuck running the tests and people running the tests manually. Dealing with the former is probably rather simple. We can change NayDuck to run set up `sys.path` or run tests as `python -m tests.subdir.test` but we probably still want to make it convenient to execute the tests f

[2021-09-08 07:24] ailisp commented on #4777
Yeah I'm about to use this tool, Thank you for the information and the question @nearmax @birchmd have discussed are my concerns too.

@Longarithm I think it's quite unlikely. The change reduces contract execution by some X, but loading contract into memory - at first time it's about compilation; at subsequent time it's about deserialization - won't be helped from the change.

[2021-09-08 07:34] nikurt commented on #4777
The tool doesn't accumulate state.
In the current form the tool lets you re-apply transactions/receipts and examine the difference in max/avg/min gas used per chunk and per block.
The tool also doesn't validate if the transaction outcome is the same as the historical outcomes. Say, a historical chunk has two transactions, that decrease an account balance by some ammount and then increases it by th

[2021-09-08 07:53] ailisp commented on #4777
Cool! Check the gas usage difference might be sufficient for my use case, since I majorly want to check is new gas counter has consistent result as old one.

How much work will be to make this tool take state and replay a series of blocks, say from block N to some block N+M? And to compare state difference at every block N+i

[2021-09-08 08:34] #4544 closed

[2021-09-08 09:46] posvyatokum commented on #4335
I think we can close this issue and create separate tasks for future improvements.

[2021-09-08 09:46] #4335 closed

[2021-09-08 11:14] Longarithm opened #4802 "ActionCreateAccount measurement is volatile"
ActionCreateAccount measurement discrepancy sometimes exceeds 15% difference which we take as negligible. For example, difference in full measurement:

[code]

We may want to
- increase barrier of negligible difference
- make measurement more stable

[2021-09-08 11:44] #4603 closed

[2021-09-08 13:03] austinabell opened #4803 "Update bn borsh dependency"
https://github.com/near/nearcore/pull/4730#issuecomment-905803586 wasn't addressed in the PR so opening issue.

I don't have the context to answer this question or do anything more to consolidate the borsh versions so we don't have two different versions.

Options (feel free to edit to add any others):
- https://github.com/zeropoolnetwork/bn/pull/1 is pulled in and released (this is zeropool's rep

[2021-09-08 14:04] austinabell commented on #4798
Should moving these licenses from the root directory and symlinking them to the respective folders be considered an option? Or is it preferred to have a copy in each of the directories?

_I'm not a lawyer_ :)

[2021-09-08 15:56] bowenwang1996 commented on #4346
@mzhangmzz this is done right?

[2021-09-08 15:57] bowenwang1996 commented on #4799
@chefsale @ailisp could you take a look at this?

[2021-09-08 16:00] bowenwang1996 commented on #4800
Agree. That is pretty important

[2021-09-08 16:29] mzhangmzz commented on #4346
ah no, sorry I forgot about this

[2021-09-08 16:29] mzhangmzz commented on #4346
I'll release myself from this PR

[2021-09-08 16:48] mzhangmzz opened #4806 "Refactor: create a `PartId` struct"
Create a struct
 `
 pub struct PartId

 { idx: u64, total: u64, }

`
 to be used in functions like `obtain_state_part` and other

[2021-09-08 16:51] bowenwang1996 commented on #4803
@snjax could you take a look at this? Thanks!

[2021-09-08 16:54] nikurt commented on #4777
Replay from N to N+M is already supported. See https://github.com/near/nearcore/blob/master/test-utils/state-viewer/README.md . You can set `--start_index=N` and `--end_index=N+M`.

The tool already prints the existing ChunkExtra and the one it got during the replay: https://github.com/near/nearcore/blob/master/test-utils/state-viewer/src/main.rs#L421;L423 . It's just that the tool doesn't do any

[2021-09-08 17:02] bowenwang1996 commented on #4806
Could you explain a bit more on what `idx` and `total` means as well as why we need this struct?

[2021-09-08 20:01] bowenwang1996 opened #4807 "Build status is broken"
See https://github.com/near/nearcore/blob/master/README.md for details.

[2021-09-08 20:02] bowenwang1996 commented on #4807
@chefsale @mhalambek could you help fix this? Thanks!

[2021-09-09 04:17] #4786 closed

[2021-09-09 11:56] matklad commented on #3363
Not really, it might be the case that there's some stupid bug in my code or in wasmer3 (turns out that the version of wasmer3 in wasmer3-rs is outdated by about ~400 commits). Might make sense to investigate further (but probably low priority)

[2021-09-09 14:31] olonho commented on #4777
Regarding state accumulation. Just talked to @frol and he mentioned, that each transaction has Merkle trie root reference, and as it's persistent data structure (https://www.geeksforgeeks.org/persistent-trie-set-1-introduction/) it means that we automatically see versioned view of stored data. So the question is, if there's other state visible via database and not referred via the trie.

[2021-09-09 14:52] #4696 closed

[2021-09-09 23:49] bowenwang1996 commented on #4777
If you are talking about state in the sense of blockchain state, then no. There are other things we write to database, but the things that affect consensus are captured by `ChunkExtra` and there is an explicit comparison in the tool that @nikurt wrote.

[2021-09-10 11:42] #3953 closed

[2021-09-10 11:42] #3922 closed

[2021-09-10 11:43] #3921 closed

[2021-09-10 13:17] #4775 closed

[2021-09-10 17:27] bowenwang1996 opened #4813 "Fuzz test the new validator selection algorithm"
In #4193 we implemented the new validator selection algorithm specified in https://github.com/near/NEPs/pull/167. The next step is to stabilize the change to how block producers are selected without introducing chunk-only producers yet. While there are already a number of unit tests and integration tests for this change, we need to gain more confidence given the scope of the change. To that end, I

[2021-09-10 19:03] nearmax opened #4814 "Compute the number of functions in Aurora EVM"
Contract Runtime team has found out that the cost of loading Wasm contract into memory (at the beginning of contract invocation) depends not only on the size of the contract in bytes, but on the number of Wasm functions (not just contract methods). This discovery will likely introduce a new fee that will adjust the cost of calling the contract based on the number of functions in it. While it is ho

[2021-09-10 19:04] nearmax commented on #4410
CC @joshuajbouw

[2021-09-10 21:22] Longarithm commented on #4814
I think the following computation of function number should work:
[code]

[2021-09-13 07:32] joshuajbouw commented on #4814
We will look into it this week.

[2021-09-13 15:28] birchmd commented on #4814
The output from @Longarithm 's suggested method of counting is 1280.

See https://github.com/aurora-is-near/aurora-engine/pull/265

[2021-09-14 23:08] Longarithm commented on #4660
**The first and very rough** LSM run for two parameters - code length and number of functions - show the following coefficients:
[code]

The accuracy looks promising. If I multiply all coefficients by 2, I get strict upper estimation for my simple dataset.
According to https://github.com/near/nearcore/issues/4814#issuecomment-918309934 such model gives ~= 4 Tgas fee for Aurora contract.

I will po

[2021-09-15 01:01] nearmax commented on #4787
@joshuajbouw @ailisp said the following:
* Our current gas limit of 200Tgas per contract call maps 750k of EVM gas;
* Aurora needs to be able to have transactions with 8M EVM gas.

It means that we need to make Aurora contracts 10x cheaper. Can you confirm? CC @artob

Will 3M EVM gas be sufficient for now or will it still be blocking Aurora?

[2021-09-15 01:47] birchmd commented on #4787
@nearmax It is not quite as simple as this because there is not a clean, linear mapping between EVM gas and NEAR gas.

There are some 4M EVM gas transactions which we can execute today (they cost under 150 Tgas on NEAR). These are deploy transactions, so it points to storage costs being much lower on NEAR relative to Ethereum.

However, there are also some 600k EVM gas transactions which we cannot

[2021-09-15 02:49] bowenwang1996 commented on #4787
@birchmd that makes sense. I wonder whether the outstanding examples you mentioned are because they mostly consist of wasm operations. Would be nice to see a breakdown of gas usage in the two examples you mentioned (uniswap and ecpair). cc @matklad

[2021-09-15 13:44] birchmd commented on #4787
The breakdown of uniswap is linked in the above comment; it is 86% wasm execution.

The breakdown of a transaction calling `ecpair` is as follows

[code]

You can see it is 99.6% wasm execution.

[2021-09-15 14:14] matklad commented on #4588
Note: our outdated rust prevents merging #4395

[2021-09-15 22:51] Longarithm opened #4826 "Improve function call fee estimation"
The current estimation function call fee must be improved, because it doesn't take into account the contract deserialization and thus complexity of the contract. This already leads to significant undercharging of huge contracts like Aurora.

Intention of the fee is to charge users for all operations not accounted by wasm gas counter, so estimation is made by counting instructions spent on no-op fu

[2021-09-15 22:53] #4588 closed

[2021-09-16 12:44] #4561 closed

[2021-09-16 19:22] Longarithm commented on #4826
Validated `cost_per_function` as follows:

Take 2 contracts of the same length but different number of functions. Estimate `cost_per_function` as `(cost_2 - cost_1)/(funcs_2 - funcs_1)`.
For simplicity, `i`-th function body is `i32.const {i} drop` possibly repeated several times.
In my construction, first contract contained 2 functions:
[code]
Second contract contains `N / 6 + 3` functions, which

[2021-09-16 22:10] bowenwang1996 commented on #4826
@Longarithm thanks for the investigation and detailed analysis! This provides really valuable insights into what the problem is and how we could address it. Some thoughts:
* If we decide to use this model that takes number of methods into consideration, how should we make sure that the increase in fees doesn't break existing contracts?
* Alternatively, is there something we could do to fundamental

[2021-09-17 01:16] mina86 commented on #4771
Turns out

[code]

makes the test go fast. The inverse (changing all instances of `test{}` to `near_{}_{}` in the code base) plus adding random order of accounts makes the fast test slow.

[2021-09-17 09:33] joshuajbouw commented on #4787
It looks like we have certainly hit the deploy target, especially considering the patch to the benchmark is incredibly promising that we have no issues there. Simply we have a problem with the gas cost with the runtime of a contract itself. That is a bit trickier as it there is no 1 to 1 translation from NEAR to ETH which is expected. For example, we could have one transaction that could be consid

[2021-09-17 11:08] thanhngvpt commented on #4799
same issue

[2021-09-17 13:13] matklad opened #4833 "Upgrade the docker image we use for the estimation"
At the moment, we use rustup to install the appropriate Rust version in the estimator. That made sense while we were using Rust-nightly, but today, we should just use the official Rust image. IN theory, that should be as easy as applying the following diff:

[code]

That however, fails for me at runtime, with qemu not finding libnettle.so.6. Seems that we also need to re-build the qemu plugin.

[2021-09-17 13:40] matklad opened #4835 "runtime-tester is sensitive to account names for some reason"
If I change this line

https://github.com/near/nearcore/blob/3080cf7d305c8e1d25d09d378c7f0ab1f841ec27/test-utils/runtime-tester/src/lib.rs#L23

to use any other account name, like `format!("best_{}", i)`, the test starts to fail. This seems odd -- it should be possible to use different account names.

[2021-09-17 13:41] matklad commented on #4835
cc https://github.com/near/nearcore/issues/4771#issuecomment-921375049

[2021-09-17 13:42] matklad commented on #4771
Excellent find! I confirm that the `fast` test starts going slowly with `near_{}_{}` accounts, so this removes any param-estimator related weirdness from the equation. I also had to replace `test{}` with `near_{}_{}` across the codebase, and not just in a test, which felt odd. Filed https://github.com/near/nearcore/issues/4835

[2021-09-17 14:07] matklad opened #4837 "refactor: replace `Arc<Store>` with `Store` throughout the codebase?"
We use `Arc<Store>` a bunch. But the Store is defined as

https://github.com/near/nearcore/blob/3080cf7d305c8e1d25d09d378c7f0ab1f841ec27/core/store/src/lib.rs#L48-L52

Ie, it is already an `Arc`. I don't think there can be a conceivable reason for a double indirection.

*However*, I see that `#[derive(Clone)]` was a late addition:

https://github.com/near/nearcore/pull/3310/files#diff-bc42e726bca3

[2021-09-17 14:08] matklad commented on #4837
cc @mzhangmzz

[2021-09-17 16:12] #4798 closed

[2021-09-17 16:36] bowenwang1996 opened #4838 "Add debug log to each host function"
@matklad suggests that we add debug logging to each host function so that when a node crashes inside runtime, we could better understand what happened. We can enable/disable such logging at compile time to avoid adding extra overhead to production builds.

[2021-09-17 16:39] bowenwang1996 opened #4839 "Add opening span in runtime logging"
Currently inside runtime we use `debug_span` for debug logging. However, as @matklad pointed out, we only configured tracing to log closing span instead of opening span and this makes it harder to gather useful information when a node crashes inside runtime.

[2021-09-17 16:40] matklad commented on #4838
To clarify, we should use `spans` for logging here:

[code]

Appropriate `target` and `level` are up for discussion.

[2021-09-17 16:41] matklad commented on #4839
Link to source: https://github.com/near/nearcore/blob/9b99fcca620db67042e48c305d5fd976895b71de/neard/src/cli.rs#L370-L373

[2021-09-17 16:56] bowenwang1996 commented on #4771
It feels that this is indeed related to the shape of the trie. @mina86 is it true that changing the names from `test{}` to `near_{}_{}` actually changes the number of database reads we do?

[2021-09-17 17:01] matklad opened #4841 "Make sure all arbiters are joined"
In a bunch of places , we create new actix arbiters:

<pre>chain/client/src/client_actor.rs:
 132 ) -> Result
 {
 133: let state_parts_arbiter = Arbiter::new();
 134 let self_addr = ctx.address();

chain/network/src/peer_manager.rs:
 543 // Start every peer actor on separate thread.
 544: let arbiter = Arbiter::new();
 545 let peer_counter = self.peer_counter.clone();

integration-tests/tests/netw

[2021-09-17 17:02] matklad commented on #4841
cc @mina86, IIRC, you did some work on the tests which were flaky due to database not being properly closed by the end of the test. This might be (or not be) related to that.

[2021-09-17 18:41] Longarithm commented on #4826
@bowenwang1996
For current model, if contract length and functions number are lower than some constants (have to be found), there is no risk of fees increase. Fortunately, current base fee is `2.3 Tgas` which is quite high comparing to new base fee.

Hopefully there won't be a lot of other contracts and I can analyze them manually.

On the other hand, I found that call of no-op function `state_mig

[2021-09-17 19:22] mina86 commented on #4841
I don’t recall working on tests but this may be related to https://github.com/near/nearcore/issues/3266

[2021-09-17 23:48] pmnoxx opened #4842 "Add rate limiting to the amount of memory/work each peer can do"
We would like to control how much memory / bandwidth each peer is using.

There are a few steps we need to do:
- [x] Change FrameReader to one that we can stop/resume programatically
- [x] Add measurement of how much bandwidth each peer is using to FrameReader / and maybe also FrameWriter
- [ ] To each message that we receive from peer, as long as it exists in Actor, we should attribute to peer wh

[2021-09-18 01:50] Longarithm commented on #4826
When I add a bunch of imports same as in aurora engine (see https://hackmd.io/EvpgULvtSqGjyLMPicRIYg), some coefficients in the models significantly change:
[code]

Though it was reasonable to expect only base cost change.

[2021-09-18 17:29] bowenwang1996 commented on #4826
That would be great!

Does that indicate the model itself may not be the best?

[2021-09-19 10:28] pmnoxx commented on #4842
For reference: here is an example of frame limiter I'm modifying: https://docs.rs/ratelimit_futures/0.0.1/src/ratelimit_futures/lib.rs.html#1-133

[2021-09-20 09:59] Longarithm commented on #4826
Yes

[2021-09-20 17:45] mina86 commented on #4771
There’s only a small difference:

                                 test{}      near_{}_{}
    Trie::retrieve_raw_bytes   : 1832596  →  1944114
    TrieCachingStorage         : 2118923  →  2232747
    TrieCachingStorage (cached):       2  →        0
    TrieCachingStorage (missed): 2118921  →  2232747
    RocksDB::get               : 2322764  →  2436590

[2021-09-20 19:34] mina86 commented on #4835
The issue is with `TestEnv::new_with_runtime_and_network_adapter` assuming the format.

[2021-09-21 02:27] bowenwang1996 commented on #4771
That is weird. Do we see any significant difference in the amount of time spent on `RocksDB::get`?

[2021-09-21 02:29] bowenwang1996 commented on #4835
@mina86 do you want to fix this?

[2021-09-21 02:53] #4799 closed

[2021-09-21 11:52] matklad commented on #4745
`apply_transaction` seems to suffer from a similar issue: https://github.com/near/nearcore/pull/4847#discussion_r712962554

[2021-09-21 12:17] mina86 commented on #4835
I can take it, sure.

[2021-09-21 15:21] matklad opened #4854 "Consider using RuntimeTester to test runtime"
In #4497 and #4812 we added runtime-tester infrastructure – a high-level driver for `nearcore` which can be used to simulate various block processing scenarios. We successfully used it for fuzzing (#4524) and for providing minimal reproductions for issues (#4771).

As an actionable next step, I suggest trying to use this same infra for some of our tests. The goals would be:

*   removing code dupl

[2021-09-21 15:23] matklad commented on #4854
cc @posvyatokum (as the author of runtime tester), @Longarithm (as both the creator of and the sufferer from some tests which do `nearcore::NightshadeRuntime::new`)

[2021-09-21 22:41] nearmax commented on #4777
Assigning to @olonho since he was going to rerun transactions with Wasmer 2 anyway.

[2021-09-22 01:06] nearmax commented on #4826
We should consider rolling out best approximation now and then later if we find out that the model depends on more coefficients we can add new fees, e.g. cost per import. We can also add a limit on the max number of imports, e.g. 100 to make  sure it is not abusable.

We are currently in a situation where our base function call fee does not reflect the actual time it takes to load the contract and

[2021-09-22 11:04] #4515 closed

[2021-09-22 11:16] matklad commented on #4826
:thinking: I don't think "just add more parameters later" is a safe solution -- the estimation error might be in the wrong direction.

Imagine that we didn't find the import's issue, and rolled out the cost based on number of fns + len. Then someone could submit a contract with zero functions and a tonne of imports. We'd say that the contract is cheap, but it will be costly in practice.

We know a

[2021-09-22 13:49] joshuajbouw commented on #4777
As per previous discussion, as far I was aware there is already a tool created for this?

[2021-09-22 13:50] joshuajbouw commented on #4778
As per discussion with @matklad a week ago (I should've updated this, thats on me), he ran into an issue and will let me know when this is ready for us to re-run the param estimator.

[2021-09-22 14:43] Longarithm commented on #4826
I like the idea of `complexity` factor as a compromise:

- it should not depend on exact wasmer implementation
- it includes number of functions
- this may work in short-term, and exact value can be clarified later

Though intuitively sections are not equal-weighted, and we need to keep in mind that we just cover the problem we have by some fee with ambiguous name.

Regarding `functions` or `impor

[2021-09-22 17:12] bowenwang1996 commented on #4777
@olonho please sync with @mina86 if you have questions about how to use the tool.

[2021-09-22 17:17] bowenwang1996 commented on #4826
I think this is an interesting idea! It also makes it easier for developers to reason about the cost of function call transactions.

[2021-09-22 18:34] matklad commented on #4778
The costs we use today are:

[code]

My understanding is that they were estimating using [this code](https://github.com/joshuajbouw/nearcore/blob/57e0ca7333cd6a0e2114f2dbfb2a8a7986fcbaa1/runtime/runtime-params-estimator/src/math_ops_cost.rs) (the numbers line up with the ones from #4548).

The costs I get locally with the new estimator using our standard approach to estimation (via  [wasm contract

[2021-09-22 18:34] #4778 closed

[2021-09-22 18:38] matklad commented on #4633
Some in-progress findings:

* `ReadMemoryBase` seems to be safely multiplied twice
* Some of our costs suspicially equal (Utf16DecodingBase, LogBase)
* `alt_bn128_pairing_check_10_1k` and the like are misnamed: it's not 10, its 1924.

[2021-09-22 18:42] pmnoxx opened #4859 "Move old exchange routing table to new thread"
After we push https://github.com/near/nearcore/pull/4112, routing table information will be duplicated.

We should move computing old routing table to new thread, this will offload computing routing table from PeerManager thread.

- [x] Implement offloading, to another thread, sending routing table to another peer (https://github.com/near/nearcore/pull/4886)
- [x] Move RoutingTable (  pub raw_grap

[2021-09-23 00:17] Longarithm commented on #4826
Reducing aurora code leads to some insights.

I left only no-op `state_migration` and `deploy_code` methods in the contract (attached). This results in 618 KB code with 781 function for which no-op function spends 6.7 Tgas.

This itself implies that logically either `cost_per_code_byte >= 10 Ggas / KB` or `cost_per_function >= 10 Ggas, none of which is the case for model trained on synthetic contr

[2021-09-23 00:35] nearmax commented on #4826
There are issues with "complexity" metric:
* It will be part of the protocol, so we need to make sure it is not extremely complex;
* I've had bad experiences with trying to aggregate a bunch of stuff signals into a package metric -- there will likely be corner cases where it behaves awfully and it will be hard to reason about it. E.g. Wasm can have very disproportional sections.

I like the idea o

[2021-09-23 04:21] pmnoxx opened #4860 "Edges that were never reached are not removed"
While testing another feature I noticed we don't remove edges which were never reachable in `routing.rs: fn try_save_edges(&mut self, force_pruning: bool) -> Vec<Edge> {`

[2021-09-23 04:32] #4860 closed

[2021-09-23 04:55] joshuajbouw commented on #4787
Generally as discussed, it looks like we are well beyond our deployment target which is awesome. However when it comes to execution, as described above, this gets tricky.

- Current 8x target is acceptable to unblock partners. Unfortunately given the nature of the unknown when it comes to an execution, this may need to be looked at. For now however, 8x is acceptable.
- Deployment target is well be

[2021-09-23 04:57] joshuajbouw commented on #4814
Closing as 1280 is what we got.

[2021-09-23 04:57] #4814 closed

[2021-09-23 05:02] joshuajbouw opened #4861 "EcRecover Base update"
As requested per https://github.com/near/nearcore/issues/4778#issuecomment-925187102, we need to update the EcRecover costs to what @matklad has observed.

This should follow along of the lines of the work done here: https://github.com/near/nearcore/pull/4795.

[2021-09-23 13:22] birchmd commented on #4787
The only partner code I was given access to didn't actually have a gas limit problem; they were encountering a different error and not interpreting it correctly. The only measurable examples of we have exceeding the NEAR gas limit with Aurora transactions are the uniswap and `ecpair` ones listed above. I'll post here if we find more examples through working with partners.

[2021-09-23 15:51] matklad commented on #4826
I am not yet convinced that it does actually cut of "weird" contracts -- it cuts one weird case we know about, so it's overfit to it. In other words, the reasoning behind "for the worst abuse scenario we know" is not entirely sound. The worst-case is relative to the metric. Metric with cutoff will have a different worst-case, which we don't know yet.

To feel more confident about metrics which cou

[2021-09-23 16:55] matklad commented on #4826
It's also the case that, no matter which metric we chose, there always be the gap between the worst-case for the metric, and the average/best case on the network.

This puts us in an uncomfortable situation -- there is incentive to make the metrics more complicated to reduce worst/best case overhead. But more complex metrics are easier to abuse.

That said, for each specific contract, we can alway

[2021-09-23 18:39] bowenwang1996 commented on #4787
@joshuajbouw what do you mean by "8x"?

[2021-09-23 18:47] bowenwang1996 commented on #4826
How does this work in practice? Do you mean that validators would need to agree on the exact cost of each contract? I am not sure how we want to do this and it feels to me like a lot of overhead. In addition, what if the contact is invoked in the same block when it is deployed? If we say that we use the estimated cost here and later validators could change the cost, it means that for transactions

[2021-09-24 03:37] joshuajbouw commented on #4787
8x our current benchmark, which is what is possible right now.

[2021-09-24 11:52] matklad opened #4870 "Remove `impl Default for RuntimeConfig`"
We currently have this impl:

https://github.com/near/nearcore/blob/f78ed5048bbb11a9d2f722f29420aef4266ead2e/core/primitives/src/runtime/config.rs#L29-L40

I think this impl is wrong -- `RuntimeConfig` makes sense only in the context of a specific protocol version. We should always get `RuntimeConfig` from `RuntimeConfigStore`.

[2021-09-24 11:55] matklad commented on #4649
I suggest prioritizing removal of

https://github.com/near/nearcore/blob/721a581d85b15813c3356f0a694002f1dac599d3/core/primitives/src/runtime/config.rs#L52-L98

It fully duplicates `RuntimeConfigStore` so it's pure technical dept. As we've introduced both `RuntimeConfigStore` and `ActualRuntimeConfig` relatively recently, fixing this *now* would be easier, as the relevant code is still in mental L

[2021-09-25 10:07] #4835 closed

[2021-09-26 18:28] bowenwang1996 commented on #2914
@frol is this something that your team is interested in doing?

[2021-09-26 18:29] bowenwang1996 commented on #2422
@frol what is the latest on this?

[2021-09-26 22:15] mzhangmzz opened #4877 "Change how outgoing receipts are handled when the shard layout changes"
PR https://github.com/near/nearcore/pull/4869 changes `get_outgoing_receipts_for_shard` function to support scenarios when shard layout can change between epochs. However, the implementation assumes that at least chunk gets produced for every shard layout. While this assumption will almost always hold in production, especially for now we are doing our first sharding upgrade, we should change the i

[2021-09-27 03:50] ashpooljh commented on #3927
bump

[2021-09-27 13:38] matklad opened #4882 "Flesh out concurrency and parallelism story"
There issue is prompted by [https://github.com/near/nearcore/pull/4866#discussion_r716625127](https://github.com/near/nearcore/pull/4866#discussion_r716625127). There, it was observed that we essentially use two different CPU pool for CPU-intensitev tasks, which could lead to oversubscription. We should fix that particular issue, but I think it's a symptom of a bigger one. We don't have a well-und

[2021-09-27 13:57] matklad commented on #4882
My thoughts on the topic:

We need to spell out what are the logical bits of concurrency (each shard, each peer we communicate with, JSON RPC), and what are CPU-heavy computations which we want to parallelise or pipeline (ibf construction in network, catch up in chain, compiling many contracts during apply chunks in transaction runtime, compiling individual contract in contract runtime).

Logical

[2021-09-27 20:19] mfornet opened #4885 "Expose epoch manager information"
***Feature request***
 Create a host function to give access to epoch manager information. In particular I'm thinking about having a function that given a `block_height` returns the expected `block_producer` for that block. Notice that `block_height` can be from the future, as long as it is part of the current epoch and this information is already available.

Somehow related, is this change: [http

[2021-09-27 22:57] bowenwang1996 commented on #3759
We already can change runtime config with different protocol versions. We still need to ability to customize other parts of protocol config

[2021-09-27 22:59] bowenwang1996 commented on #4404
I believe this is already done. @frol please reopen if it is not the case

[2021-09-27 23:00] bowenwang1996 commented on #4375
@matklad @olonho any update on this?

[2021-09-27 23:01] bowenwang1996 commented on #4341
@frol is this issue still relevant?

[2021-09-27 23:01] bowenwang1996 commented on #4340
@frol @khorolets any update on this?

[2021-09-27 23:03] bowenwang1996 commented on #3774
@janewang is this done?

[2021-09-27 23:04] #3798 closed

[2021-09-27 23:07] bowenwang1996 commented on #3934
#4112 is merged

[2021-09-27 23:07] #3934 closed

[2021-09-27 23:08] bowenwang1996 commented on #3978
@pmnoxx any update on this?

[2021-09-27 23:09] bowenwang1996 commented on #4061
@frol what do you think?

[2021-09-27 23:14] bowenwang1996 commented on #3191
Will we still use pwasm utils after the new gas injector is done? @ailisp @matklad

[2021-09-27 23:15] bowenwang1996 commented on #3187
@matklad do we still plan to do this?

[2021-09-27 23:16] bowenwang1996 commented on #4217
@matklad who should we assign this to?

[2021-09-27 23:16] bowenwang1996 commented on #4214
@matklad is this fixed?

[2021-09-27 23:18] bowenwang1996 commented on #4030
@matklad @posvyatokum could you remind me whether we made more progress on this issue?

[2021-09-27 23:23] bowenwang1996 commented on #3431
@pmnoxx any updates on this?

[2021-09-27 23:24] #3456 closed

[2021-09-27 23:28] bowenwang1996 commented on #3927
Sorry we still haven't had time to look into this :(

[2021-09-27 23:29] bowenwang1996 commented on #3185
@frol do you think this is something your team could help with? I think it might be important for the next quarter.

[2021-09-27 23:32] bowenwang1996 commented on #3679
@pmnoxx is this still relevant?

[2021-09-27 23:32] bowenwang1996 commented on #3902
@chefsale any updates on this?

[2021-09-27 23:35] bowenwang1996 commented on #4882
Thanks for creating this issue @matklad ! I can work on documenting this

[2021-09-27 23:45] bowenwang1996 commented on #4885
Could you explain the use case here? Unless there is a strong reason, we usually do not consider adding new host functions. This is also related to #2745

[2021-09-27 23:50] bowenwang1996 commented on #3079
@matklad ?

[2021-09-27 23:50] bowenwang1996 commented on #3098
@matklad @olonho

[2021-09-27 23:50] bowenwang1996 commented on #3097
@matklad @olonho

[2021-09-27 23:51] bowenwang1996 commented on #3120
@matklad @olonho

[2021-09-27 23:51] bowenwang1996 commented on #3119
@olonho @matklad

[2021-09-27 23:52] bowenwang1996 commented on #3122
@matklad @olonho

[2021-09-28 01:51] ailisp commented on #3191
@bowenwang1996 we do. We still use pwasm's stack limiter. And new gas injector is wasm code generation with pwasm's utils, but any other wasm-code generation library should work. So if it's required, I'll take one or two PR after the new gas injector to replace pwasm utils. Otherwise, I'm probably the best person to take this spec-writing and testing task as I've worked and read in wasm-utils code

[2021-09-28 12:14] EgorKulikov opened #4888 "Create test for catch up with relatively big state"

[2021-09-28 13:58] janewang commented on #3774
@bowenwang1996 WIP, will wrap soon.

[2021-09-28 16:30] #3774 closed

[2021-09-28 18:28] volovyk-s commented on #4025
@bowenwang1996 no, it's not fixed.

[2021-09-29 07:10] pmnoxx commented on #3431
@bowenwang1996 I'll run a node and check if there are any new leaks. We fixed it once, but there could be new ones.

[2021-09-29 07:13] pmnoxx commented on #3909
@bowenwang1996 I tested today, that we indeed remove all unreachable edges. Though they all gets saved to DB on disk.

[2021-09-29 07:13] #3909 closed

[2021-09-29 07:23] pmnoxx opened #4893 "near-network production and test code separation"
I noticed that production and test code are not properly separated in `near-network`.

Currently `integration-test/network/*.rs` uses functions to production code, that are not called by production code. In addition there are data structures, code paths that add `ping` information to `PeerManager`, however this is used only for test purpose.
This has a few issues:
- such structure can potentially

[2021-09-29 08:25] pmnoxx commented on #4893
Here is another reason, why we want to compile build with --adversarial in CI:
http://nayduck.near.org/#/build/2184

[code]

[2021-09-29 08:39] pmnoxx commented on #4893
Here is the related PR: https://github.com/near/nearcore/pull/4894

[2021-09-29 13:24] matklad commented on #3122
This is actionable, but low priority. As today we start with a large memory and grow it at most 2x, we don't need to account for memory growth (we effectively count this as a part of base function call cost).

We can start with smaller memeory and be more precise here, but my understanding is that's not at all near the top priorities/biggest bottlenecks.

[2021-09-29 15:07] matklad commented on #3119
Yeah, we still need to get more principle and reproducible mappin from CPU instructions to gas cost. Though, I don't think we need to target the worst-case instructions necessary -- attackers can't force specific CPU instructions, they can force specific wasm code or host funtion calls. It might be the case that some host function today uses more wall-clock time than number of cpu instructions, bu

[2021-09-29 15:51] pmnoxx commented on #4893
@bowenwang1996 @mina86 @matklad @frol  What do you think?

[2021-09-29 16:36] matklad commented on #3097
No progress here, good to keep in mind though. #4771  feels related as vaguely database-related issue which

[2021-09-29 16:37] matklad commented on #3079
On the plate for me!

[2021-09-29 16:39] matklad commented on #4030
No, no progress on my part :(

[2021-09-29 16:40] matklad commented on #4214
Not yet, cc https://github.com/near/nearcore/issues/3079

[2021-09-29 16:47] matklad commented on #4217
Good question! I feel that this might be part of node-X actually? The problem contract runtime team has is that some of the structs we use, like `VMError`, are BorshSerialize, so accidental changes to them break compatability with out-of process data. What would be ideal is having setup similar to our `view` structs which we (aspirationally) use only for RPC, but for `borsh` stuff. We can do this

[2021-09-29 16:49] matklad commented on #3187
Yeah, we do want to do that eventually, but its no-longer on the near-term roadmap.

[2021-09-29 16:54] matklad commented on #3188
Actually, I think this is now done!

We have a much better understanding of wasmer2, we tested it heavily alone and against wasmer0. I don't think there are super-actionable steps we can take to achieve even more confidence medium term.

So let's close this. wasmer2 is in master, so we'll get to test our confidence soon enough!

[2021-09-29 16:54] #3188 closed

[2021-09-29 16:58] matklad commented on #3194
Blocked by #4771 -- need to figure that out before we can add meaningful measurements here.

[2021-09-29 17:26] matklad commented on #4375
Thanks for tagging me bowenwang1996, didn't notice this issue before. I've audited usages of the VMError::CacheError and it *seems* to me that they are correct. That is, we create CacheError only when the contract cache rerutned an IO Error or some bogus data. If an actual wasm-is-invalid compilation error happens, than we return a different error.

That is, we correctly fatal-error if the cache i

[2021-09-29 18:25] EgorKulikov opened #4898 "Remove runtime_adapter field from SyncJobsActor"
As discussed with @matklad we'd rather have stateless SyncJobsActor and pass runtime adapter with jobs

[2021-09-29 18:43] pmnoxx commented on #3978
@bowenwang1996 I'll check what's left to do and give you update.

[2021-09-29 19:29] EgorKulikov opened #4904 "Make value of catchup_state_syncs HashMap from client.rs a struct instead of tuple"

[2021-09-29 23:58] bowenwang1996 commented on #4893
Sounds good to me. Given the use case, we probably want to rename `adversarial` as well

[2021-09-30 00:29] pmnoxx commented on #4893
How about renaming `adversarial` to `test_features`?

[2021-09-30 00:42] bowenwang1996 commented on #3837
@pmnoxx ?

[2021-09-30 00:42] bowenwang1996 commented on #2880
Done in #4193

[2021-09-30 00:42] #2880 closed

[2021-09-30 00:44] bowenwang1996 commented on #3179
@frol ?

[2021-09-30 00:45] bowenwang1996 commented on #3336
@matklad @olonho ?

[2021-09-30 00:46] bowenwang1996 commented on #2815
@matklad @olonho ?

[2021-09-30 00:47] bowenwang1996 commented on #2501
@matklad @olonho any updates on this? look like this is something we still want

[2021-09-30 00:51] bowenwang1996 commented on #246
Obsolete

[2021-09-30 00:51] #246 closed

[2021-09-30 00:52] bowenwang1996 commented on #4893
Yeah that sounds reasonable

[2021-09-30 00:54] bowenwang1996 commented on #1582
key generator is no longer relevant

[2021-09-30 00:54] #1582 closed

[2021-09-30 04:18] pmnoxx commented on #3837
@bowenwang1996 I'll work on this next week. I figured out  how I can easily check this.

[2021-09-30 10:26] frol commented on #4893
I absolutely would love to see a better separation all the way through nearcore, so if you can make some steps towards it, go for it!

[2021-09-30 10:45] mina86 commented on #4893
My one worry is that I would still want to see `cargo test` run without adversarial feature since that’s what is running in production. If we only do `cargo test --feature adversarial` (or `cargo test --feature test_features`) in CI we don’t actually test what ends up running. At the same time, the time it takes for pre-commit checks is already infuriating (especially as we need to wait for buildk

[2021-09-30 11:02] frol commented on #3179
We cannot handle it in a backward-compatible way and it is not important implementation detail if you deal with it through some near-api-* library

[2021-09-30 11:02] #3179 closed

[2021-09-30 11:09] matklad commented on #4893
Thoughts:

* I don't think hiding additional test functions is really beneficial
* Hiding extra test logic is obviously required. Here we have a choice between runtime checks and compile-time checks. I slightly favor runtime checks here, as compile-time features increase accidental complexity substantionall.
* For data structures, we *could* do runtime-checks as well, but that's going to add non-t

[2021-09-30 11:38] mfornet commented on #4885
My specific use case is that I want to disallow some validators from being able to run my tx, by making the tx fail if the validator is in a blacklist.

Thinking about a more generic approach, instead of explicitly giving this info, we can expose the hash of the previous block. This is enough to proof anything that happened previously, in particular I think this is enough (with extra data) to proo

[2021-09-30 12:16] matklad commented on #2501
No update, but this is close to what nikolay's suggested about measuring actual costs of specific contracs, so we'll probably look into this soon.

[2021-09-30 12:20] matklad commented on #2815
I suggest closing this for now -- we do want to do something like this in the future perhaps, but it's best if this happens naturally due to better factoring of the code, etc. I don't think it makes sense to prioritize contract runtime extraction specifically -- we need first to clean up internal technical debt.

That said -- this is totally great aspirational goal!

[2021-09-30 12:20] #2815 closed

[2021-09-30 12:31] matklad commented on #3336
Probably obsoleted by https://github.com/near/nearcore/issues/4474. We do have infra for measuring IO costs, but we haven't actually rolled out the fees using this infra.

[2021-09-30 12:31] #3336 closed

[2021-09-30 16:54] mzhangmzz opened #4908 "Fix `check_block_validity` to handle changing shard layouts correctly"
In function `check_block_validity`, there is a case if the chunk included was a chunk from the genesis block, meaning, no block gets produced for this shard since genesis. Then the code gets the genesis chunk according to the current shard id. This won't work if shard layout changed since genesis.

In practice, this won't be an issue because it's highly unlikely that no chunk gets produced since g

[2021-09-30 17:44] nearmax opened #4910 "Roll out Wasmer 2"
We would like to roll out Wasmer 2 ASAP to improve our Wasm fees. AFAIU we need feature to be 6 weeks on Testnet before it it makes into Mainnet release, so we won't be able to have Wasmer 2 on Mainnet before Nearcon, but we should have it on Testnet. The following are the steps that we need to do before Nearcon:

- [ ] Fuzz test Wasmer 2
- [ ] Do historical transactions replay and confirm that th

[2021-09-30 17:46] bowenwang1996 commented on #1153
@EgorKulikov could you confirm that this is no longer the case after your change?

[2021-09-30 17:49] nearmax opened #4911 "Roll out new gas counter"
We would like to roll out new gas counter for Wasmer 2 ASAP to improve our Wasm fees. AFAIU we need feature to be 6 weeks on Testnet before it it makes into Mainnet release, so we won't be able to have it on Mainnet before Nearcon, but we should have it on Testnet. The following are the steps that we need to do before Nearcon:

- [x]  Fuzz test gas counter
- [x]  Do historical transactions replay

[2021-09-30 17:50] nearmax commented on #4777
Deprecated in favor of https://github.com/near/nearcore/issues/4911

[2021-09-30 17:50] #4777 closed

[2021-09-30 17:50] nearmax commented on #4410
Closed in favor of https://github.com/near/nearcore/issues/4911

[2021-09-30 17:50] #4410 closed

[2021-09-30 17:57] bowenwang1996 commented on #4885
Should we revive the discussion on host function for block hash 😄

[2021-09-30 18:10] bowenwang1996 commented on #4910
Synced with @matklad. @matklad will own the stabilization of this feature.

[2021-09-30 18:33] EgorKulikov commented on #1153
I believe I preserved current behavior, for better or worse

[2021-10-01 13:52] nearmax commented on #4910
I think it is the same level of risk. We can roll back to w0 and old cost if we find out w2 does not work anyway, since it will likely find it out before Mainnet. However, if we separate w2 and fee rollout then we have less chance of making it work until Nearcon.

[2021-10-01 16:29] joshuajbouw commented on #4787
After talking with @bowenwang1996 concretely it was asked for 5 contracts to be benchmarked. This is going to be worked on as soon as we put out some fires on our end.

[2021-10-01 20:05] bowenwang1996 commented on #2516
Duplicate of #1738

[2021-10-01 20:05] #2516 closed

[2021-10-01 20:07] bowenwang1996 commented on #2581
@mikedotexe @jberrytech is this still something we want?

[2021-10-01 20:10] bowenwang1996 commented on #2639
Duplicate of #4837

[2021-10-01 20:10] #2639 closed

[2021-10-01 20:12] bowenwang1996 commented on #1725
Obsolete

[2021-10-01 20:12] #1725 closed

[2021-10-01 20:13] bowenwang1996 commented on #2011
@matklad @Longarithm could you take a look to see if this is still relevant?

[2021-10-01 20:13] bowenwang1996 commented on #1987
@matklad could you check whether this is still relevant?

[2021-10-01 20:17] bowenwang1996 commented on #1225
@chefsale ping

[2021-10-01 20:21] bowenwang1996 commented on #1829
Duplicate of https://github.com/near/nearcore/issues/2501

[2021-10-01 20:21] #1829 closed

[2021-10-01 20:21] bowenwang1996 commented on #1134
Those scripts are no longer relevant

[2021-10-01 20:21] #1134 closed

[2021-10-02 21:53] bowenwang1996 opened #4928 "Investigate rust expensive test failure"
In this run http://nayduck.near.org/#/run/2102, many rust expensive tests failed and when I try to run those failed tests locally, they pass without issues.

[2021-10-03 17:12] bowenwang1996 commented on #3037
@longarithm is the recalculation done?

[2021-10-04 10:23] matklad commented on #4771
Modernized and simplified the repro based on mina86 refactors:

https://github.com/matklad/nearcore/commit/558b8e21142d14bcf9fd6fca16c03cabed6234b6

To run:

    cargo test --release --package runtime-tester --lib \
        --features nearcore/no_cache \
        -- perf_cliff --exact --nocapture

I've also found a better workflow for perf profiles

[code]

Here's what I get for slow (`near_{}_{}`)

[2021-10-04 15:05] matklad commented on #2011
was fixed by https://github.com/near/nearcore/commit/21bd739601a2eef4b5604f25c4539d4c83b2b160#diff-9a360c8a1f103abfcd5312a3a0a559eb719ff2e4f52e62c4c6c58d84249f3141 I belive.

Although, that module as a whole doesn't "make sense" to me, vm-logic shouldn't care about serialization at all.

[2021-10-04 15:05] #2011 closed

[2021-10-04 15:35] mzhangmzz opened #4930 "Update client config `tracked_shards`"
With the simple nightshade sharding upgrade, the `tracked_shards` field in client config no longer makes sense.

First a client should not care about a particular shard at all. This also makes the interface more robust to sharding changes.

Second, the meaning of shard_id changes when resharding happens. For example, if a client starts with tracking shard 0 when there is one shard, and the shard i

[2021-10-04 21:25] bowenwang1996 commented on #4460
@Longarithm is this done?

[2021-10-04 21:25] bowenwang1996 commented on #4450
I believe this is already fixed

[2021-10-04 21:25] #4450 closed

[2021-10-04 21:26] bowenwang1996 commented on #4771
@matklad so it appears to be something inside RocksDB? cc @mina86

[2021-10-04 21:37] pmnoxx commented on #3970
I'll work on this.

[2021-10-04 21:52] bowenwang1996 commented on #1868
@mina86 you might want to think about this :)

[2021-10-04 21:53] bowenwang1996 commented on #2313
Will merge this with #2745

[2021-10-04 21:53] #2313 closed

[2021-10-04 21:53] bowenwang1996 commented on #3970
@pmnoxx hey the node experience team will work on this issue, you don't need to spend extra effort here

[2021-10-04 21:56] mina86 commented on #1868
Yes, I’m thinking about this all the time. ;) I’ve added a retry button to NayDuck so at least for now it’s possible to rerun failed tests manually.

[2021-10-05 01:55] pmnoxx opened #4932 "Rename `adversarial` feature to `test_features`."
We discussed previously about renaming `adversarial` to `test_features` in order to better represent it's function.

https://github.com/near/nearcore/pull/4914

[2021-10-05 02:19] #4932 closed

[2021-10-05 05:56] pmnoxx commented on #4893
@matklad I agree, ideally I would prefer to write tests, which don't touch production code at all, and test full code functionality as it is.

There are a few approaches we can take:
1) mocking
We discussed this approach before, but decided not to go through that route.

Although, it's possible to mock other actors, structures, this makes all tests really rigid. Even small changes in code, like re

[2021-10-05 13:13] nearmax commented on #4910
We would need to recompute the fee and merge it into master before end of next week, if we want it to make into Testnet release on Oct 18.

[2021-10-05 14:10] #4217 closed

[2021-10-05 14:10] #4375 closed

[2021-10-05 14:11] matklad commented on #4910
Wasmer2 stabilization PR: https://github.com/near/nearcore/pull/4934

I am sufficiently convinced that lowering wasm costs is fine, will prepare a PR for that as well. It still seems better to treat the two as two distinct protocol features, as that makes piece-wise stabilization easier. In particular, the infra for changing costs is new, and I don't want to keep stabilizing new regular op cost (a

[2021-10-05 16:46] mina86 commented on #4893
Ping sounds makes perfect sense to include in production actually.  Similarly an RPC to dump routing table state.  They both could be useful in debugging.  We might want to limit who is authorised to issue those RPCs, e.g. accept them only when done from localhost or some smarter authentication method.

[2021-10-05 17:28] mzhangmzz opened #4936 "Fix `care_about_shard` and `will_care_about_shard` to return error instead of dropping it return false"
Right now, in `ShardTracker`, `care_about_shard` and `will_care_about_shard` masks `EpochError` and simply returns false in case of error. This hides potential issues since the callers of these functions should care about these errors. We should fix that and handle errors properly.

[2021-10-05 18:03] frol opened #4937 "Nodes often go out of sync"
**Describe the bug**

After a recent release we observe that nearcore nodes often fall behind syncing (it is just a few blocks behind, but it is still suspicious and also causes problems down the line in the Indexer).

mainnet:

![image](https://user-images.githubusercontent.com/304265/136077645-0cf7ffa0-dce1-4143-bd2d-46a6f29065fa.png)

testnet:

![image](https://user-images.githubusercontent.com

[2021-10-05 18:10] frol commented on #4937
Sometimes nearcore completely utilizes a single CPU core and doesn't get anywhere beyond that. This congestion throttles view-client that we use inside Indexer Framework, and Indexer for Explorer lags behind on indexing the data to Postgres.

An interesting observation so far is that when I try to kill an indexer node (which embeds nearcore), it does not stop completely, it only stops some of the

[2021-10-06 10:43] bowenwang1996 commented on #4937
I looked at the use of `StateSyncInfo` and did not find anything that is obviously wrong. We do remove state download info in `catchup_blocks`. We need to dump the database column to see what is in there and it may be related to #1153

[2021-10-06 10:46] matklad commented on #4771
Aha, the stack issue is just becaues by default pref has a limit on stack depth. THe following argument fixes that: `--call-graph dwarf,65528`

Here's much better profiles

* slow (`near_{}_{}`) https://share.firefox.dev/2WJxwls
* fast (`test_{}`) https://share.firefox.dev/3mswaVh

[2021-10-06 11:00] matklad commented on #4771
Yeah, looking at those profiles gives so much more to work with. The difference seems to be that in the `rocksdb::Version::Get` the slow version does everything that the fast version does, *plus* `rocksdb::TableCache::Get`. I'll stop my investigation here and go back to wasm stuff.

[2021-10-06 12:33] Longarithm commented on #4460
@bowenwang1996 Yes. https://github.com/near/nearcore/pull/4684 is one of the outcomes here

[2021-10-06 12:33] #4460 closed

[2021-10-06 19:51] bowenwang1996 opened #4942 "Routing table sync test fails on nayduck"
It looks like `routing_table_sync.py` never passed on nayduck [http://nayduck.near.org/#/test/229269](http://nayduck.near.org/#/test/229269) and the failure is related to the compilation. @pmnoxx please sync with @mina86 on how to resolve this.

[2021-10-07 18:36] #4780 closed

[2021-10-07 23:16] bowenwang1996 commented on #2948
@matklad is `ChainStore` even used at all for the cost estimation?

[2021-10-07 23:39] mina86 opened #4951 "Compress genesis.json files offered for download"
testnet’s genesis.json available on S3 is almost 5.5GB in size. After compressing it with xz its size reduces to around 170MB. Betanet genesis.json is smaller but at 47MB it could still benefit from compression.

We should compress the files and update `nearcore::init_config` to transparently handle decompression.

[2021-10-07 23:44] #4717 closed

[2021-10-08 09:35] matklad commented on #4861
@joshuajbouw @birchmd we probably want to stabilize lower costs befere the next release, right? If that's the case, could you submit a stabilization PR? See https://github.com/near/nearcore/pull/4948 for one example, and https://github.com/near/nearcore/pull/4953#issuecomment-938490207 for some non-normative notes on the process.

[2021-10-08 13:18] posvyatokum opened #4955 "Implement fuzzing for client"
Fuzzing for client is implemented and can catch all intentionally placed bugs

[2021-10-08 13:55] bowenwang1996 opened #4956 "Add CI check for protocol version increase"
In the implementation of certain protocol features, we rely on the fact that no protocol version is skipped. As a result, if we increase protocol version by more than 1 in one release, it could lead to bugs. We should add a CI check for this.

[2021-10-08 14:49] matklad opened #4961 "Create integrated test that checks that costs don't change by accident"
In [https://github.com/near/nearcore/pull/4959](https://github.com/near/nearcore/pull/4959), I am having trouble coming up with a test that checks that configuration upgrade is done correctly. Ie, what if I accidentally change some _other_ cost during copy-paste of the config, how do I protect against it? I think what we need to do is the following:

Add an integrated test, which runs a specific f

[2021-10-08 16:35] mina86 commented on #3526
I question whether we want to detect this. The proper way to handle this is to monitor number of peers the node is connected to and alert if the number drops to zero (or in general below some low threshold) for 15 minutes or so. We are printing warnings when trying to connect to nodes which report different genesis (see listing below) so there should be enough information in the log file for an op

[2021-10-08 17:07] mfornet commented on #779
It has x bits of influence where x is the amount of consecutive blocks a block producer should produce in a row

[2021-10-08 18:18] janewang opened #4967 "Historical uptime for validators is tracked"
For testnet and mainnet, we aim to recruit and retain the best validators. To understand validator's uptime performance, we aim to track historical uptime for each validator across epochs and to monitor the validators' performance. This work is a step in preparing for incentivized testnet, where validators compete for best uptime. The second goal is to track the validators uptime performance on ma

[2021-10-09 16:58] #4420 closed

[2021-10-09 17:06] bowenwang1996 commented on #4961
@matklad I retagged it as T-contract-runtime since this requires more domain specific knowledge of the contract runtime

[2021-10-09 17:15] bowenwang1996 commented on #3526
@mina86 I agree. Actually node operators rarely even look into the logs themselves and would rely on externally visible metrics (either from rpc or prometheus) to determine what happened. I am closing this issue as it is not actionable.

[2021-10-09 17:17] bowenwang1996 commented on #4473
Tbh rewriting a migration every time it happens is also *a* general mechanism :)

[2021-10-10 13:32] jsvisa opened #4974 "Failed to start Archive node from backup data"
**Describe the bug**
Please provide a short description of the bug.

I'm following [Run an Archival Node without nearup | NEAR Documentation](https://docs.near.org/docs/develop/node/archival/run-archival-node-without-nearup#mainnet) to run an Archive node, after replace the data from https://near-protocol-public.s3.ca-central-1.amazonaws.com/backups/mainnet/archive/data.tar, the node failed to sta

[2021-10-11 12:32] mina86 commented on #4956
There’s still a corner case which this test won’t catch:
1. Cut a 1.42.0 release with protocol version 24.
2. Increase protocol version on master branch to version 25. This works because the test will compare against 1.42 binary.
3. Cut a 1.43.0-rc1 release with protocol version 25.
4. Increase protocol version on master branch to version 26. This works because the test will compare against 1.43-0

[2021-10-11 15:34] mzhangmzz opened #4977 "Fix ViewClient::GetExecutionOutcome"
Currently, the handler of `GetExecutionOutcome` returns outcome of an execution and the root proof that this outcome is confirmed by a following block. Each chunk header in a block includes the outcome root of outcomes produced in the previous chunk and the block header includes the root hash of all outcome roots from all chunks included in this block. Therefore, after a block process a receipt or

[2021-10-11 18:45] #4398 closed

[2021-10-12 00:21] bowenwang1996 opened #4982 "Investigate fuzzing failure on nayduck"
Fuzzing almost always fails on nayduck http://nayduck.near.org/#/test_history/231155 and we should look into the failures.

[2021-10-12 10:37] matklad opened #4987 "Duplicate lockfile"
Unless I am missing something, there's no reason for this lockfile to exist

https://github.com/near/nearcore/blob/5a89698df35f2d11f26bfcd8123c5248e2d910c5/chain/jsonrpc/test-utils/Cargo.lock

we should make sure that the corresponding crate is a part of the workspace.

[2021-10-12 11:24] matklad commented on #4501
That's actually fixed. On the old estimator, you can use `--metrics-to-measure` to select metrics, which helps somewhat. On the new estimator, the same `--metrics-to-measure` flag selects actual costs, and indeed does the minimal amount of work.

[2021-10-12 17:10] matklad commented on #4910
Status update: the two required stabilizations (for wasmer 2, and for lowered costs) are in! Updating nomicon is on me.

[2021-10-12 21:11] chefsale opened #4992 "`neard init and run` broken on nightly after sharding config changes"
To reproduce please run:
[code]

[2021-10-12 21:15] chefsale opened #4993 "Add basic test to the current CI workflow that the node can init and run"
Betanet CI got broken on the latest betanet release, as it is unable to run with default config.

For the repro and more information take a look at: https://github.com/near/nearcore/issues/4992. Once fixed we should add a test to CI to make sure this doesn't break anymore. cc: @mina86 @mzhangmzz @bowenwang1996

[2021-10-12 22:51] bowenwang1996 commented on #4987
cc @frol

[2021-10-12 23:33] mina86 commented on #4992
Did this got fixed in the meanwhile? I cannot reproduce it:

    $ cargo build --release -pneard --bin neard
    ...
    $ ./target/release/neard --home=/tmp/neard-teast init
    Oct 13 01:29:37.861  INFO neard: Version: trunk, Build: 7c77e3b0, Latest Protocol: 48
    Oct 13 01:29:37.861  INFO near: Generated node key, validator key, genesis file in /tmp/neard-teast
    $ ./target/release/neard --

[2021-10-12 23:40] mina86 commented on #4993
What I don’t get is that we already spin three separate clusters
executing `tests/sanity/backward_compatible.py`,
`tests/sanity/upgradable.py` and `tests/sanity/db_migration.py`.
Granted, they use `./neard testnet` rather than `init` but as far as
number of shards goes the two behave the same.

[2021-10-13 00:20] mina86 opened #4994 "Indexer for Explorer doesn’t stop when signal is sent"
Reproduction steps:
1. Start the indexer.
2. Send SIGINT to it.
3. Observe indexer continue to run.

The issue is observable in near-indexer-for-explorer but fix will likely need to be made in nearcore.

This is separated from https://github.com/near/nearcore/issues/4937 so each issue tracks a single issue.

[2021-10-13 00:21] mina86 commented on #4937
I’ve filed https://github.com/near/nearcore/issues/4994 for that.

[2021-10-13 00:31] chefsale commented on #4993
Seems like this issue was only for nightly build, so that seems missing.

[2021-10-13 00:33] chefsale commented on #4992
Happens only on nightly release.

[2021-10-13 02:21] ci123chain opened #4995 "Compile error in macos(M1)"
run `make neard` got error:

[code]

[2021-10-13 10:21] matklad commented on #4473
:+1: then let's close this: the current approach is good enough, and there are bigger problems to solve!

[2021-10-13 10:21] #4473 closed

[2021-10-13 11:13] BruceChar opened #4999 "fail to build near-vm-runner-standalone"
**Describe the bug**
build near-vm-runner-standalone fail

**To Reproduce**
just build.

**Expected behavior**
build & run

**Version (please complete the following information):**
- nearcore master
- rust version 1.55

**Additional context**
    Updating git repository `https://github.com/near/paperclip`
error: failed to get `paperclip` as a dependency of package `near-rosetta-rpc v0.1.1 (/home/b

[2021-10-13 11:53] #4999 closed

[2021-10-13 13:07] #4982 closed, assigned to posvyatokum

[2021-10-13 13:50] nikurt opened #5001 "OKR 2021Q4: 100% of betanet failures are documented and their root causes are understood and resolved"
Betanet is the testing ground for changes. When something causes an incident in Betanet, we should understand what exactly happened with the goal of understanding if some of the nightly features are going to break mainnet or testnet.

[2021-10-13 13:55] nikurt opened #5002 "OKR 2021Q4: Every protocol upgrade is simulated before they are released"
Simulating protocol upgrades provides a clear picture of how the protocol upgrade will play out, reducing the unknown unknowns, lettings us detect issues further in advance. This should improve both the reliability of testnet/mainnet and let us better stick to the release schedule.

[2021-10-13 13:57] nikurt opened #5003 "OKR 2021Q4: Resolution time for critical incidents on testnet is less than 3 hours"
Embracing the possibility of incidents, we need the means to effectively diagnose and resolve those incidents.
Potential directions of exploration: tools for monitoring, tools for logging, more comprehensive logging, etc.

[2021-10-13 15:57] Longarithm commented on #4870
Part of work was done here https://github.com/near/nearcore/pull/4891
We also need to do the same for VMConfig and ExtCostsConfig.

[2021-10-13 21:55] bowenwang1996 commented on #4995
Duplicate of #3803

[2021-10-13 21:55] #4995 closed

[2021-10-14 01:31] #4992 closed, assigned to mzhangmzz

[2021-10-14 03:34] #4993 closed

[2021-10-14 11:45] #4765 closed

[2021-10-14 14:35] frol commented on #4987
I see. If that is not that easy as I suggested (just remove the file), I will ask @miraclx to bring it back to life while he will be working on other issues related to fuzzing jsonrpc.

[2021-10-15 01:54] ailisp opened #5014 "Profiling wasmer 2 to find bottlenecks in cold start"
Current wasmer 2 cold start is still not fast enough, we need to understand what is slow there.

[2021-10-15 22:17] #4928 closed

[2021-10-17 15:50] bowenwang1996 commented on #4942
@pmnoxx it still fails http://nayduck.near.org/#/test/233684

[2021-10-18 16:45] mina86 opened #5027 "Fix or remove bridge pytest"
All the tests in `pytest/tests/bridge` are disable because they are failing.  We need to either fix the tests or delete them.

The last time the tests run successfully was in [December last year](http://nayduck.near.org/#/run/932).  The tests weren’t run again on NayDuck until [the end of July](http://nayduck.near.org/#/run/1933) at which time they were failing.  The last time the tests run on Nay

[2021-10-19 01:07] #5027 closed, assigned to mina86

[2021-10-19 15:10] mzhangmzz opened #5037 "rust optimization: replace `impl Rng` with `dyn Rng`"
In many tests, we use functions such as `pub fn gen_changes(rng: &mut impl Rng, max_size: usize) -> Vec<(Vec<u8>, Option<Vec<u8>>)> `. It's more efficient to use `dyn Rng`

Link to discussion
 [https://github.com/near/nearcore/pull/5032/files#r731852888](https://github.com/near/nearcore/pull/5032/files#r731852888)

[2021-10-19 18:21] frol commented on #3185
Yeah, I think I need to take my time and dump this knowledge.

[2021-10-19 18:27] frol commented on #2914
I vote for keeping it in the icebox. I believe it is self-contained enough to be "good-first-issue", so if someone wants to contribute, I am happy to walk you through and show which pieces we need to connection.

[2021-10-20 11:18] idirall22 opened #5043 "Failed to create account "account-name" in 10 retries due to nonce"
***Describe the bug***
 The issue happens when I try to create a new user account in the rainbow-bridge

***To Reproduce***
 clone [https://github.com/aurora-is-near/rainbow-bridge](https://github.com/aurora-is-near/rainbow-bridge)
 1\. yarn
 2\. ./cli/index.js clean
 3\. ./cli/index.js prepare
 4\. ./cli/index.js start near-node
 5\. ./cli/index.js start ganache
 6\. ./cli/index.js init-near-cont

[2021-10-20 13:38] NarkomDe opened #5045 "Problem with creating a top level account on a localnet after 1.22.0"
**Describe the bug**
I'm running a local Near node for local development using Rustup. Currently, I have a problem with creating a top-level account there. I'm creating an account named 'local' from a 'node0' account and I'm getting "CreateAccountOnlyByRegistrar" error. That worked fine not so long ago and the setup on my part had no major changes lately, so I suspect that Rustup has implicitly up

[2021-10-20 20:52] frol opened #5047 "Querying historical transaction status should be compatible with re-sharding"
_**Describe the problem**_

**While this issue roots down to view-client, I will describe it from JSON RPC point of view.**

Currently, the `tx` endpoint <span class="error">[expects transaction hash and a signer account id]</span>([https://docs.near.org/docs/api/rpc/transactions#transaction-status](https://docs.near.org/docs/api/rpc/transactions#transaction-status)), which is not sufficient given

[2021-10-20 21:30] frol opened #5049 "Node should not stuck on applying state"
**Describe the bug**

Two of our users reported today that their Indexers stuck at the following log for 5+ hours:

![image](https://user-images.githubusercontent.com/304265/138174166-a5513abb-03ca-4ff6-9839-87d9d0339ecc.png)

[code]

**To Reproduce**

N/A

**Expected behavior**

I expect the node to never get stuck.

**Version (please complete the following information):**
- nearcore commit/branc

[2021-10-20 21:42] frol opened #5050 "Node should not corrupt its state on exit"
**Describe the bug**

We received 3 reports today that our partner Indexer nodes got corrupted after node was aborted with

https://github.com/near/nearcore/blob/0c9ad79a18e431f843e6123cf4559f9c2c5dd228/chain/client/src/client.rs#L1032-L1034

![image](https://user-images.githubusercontent.com/304265/138175638-e9bf6385-eb38-4120-8bda-8befb1fcbdc2.png)

After they recompiled the node with the newer

[2021-10-20 21:52] Longarithm opened #5051 "Add `registrar` account for local chain configuration"
***Describe the bug***
 Account `registrar` isn't created by default for a local chain configuration. So since protocol upgrade to version 48, no one can create a top-level account of length < 32.

***To Reproduce***
 See [https://github.com/near/nearcore/issues/5045](https://github.com/near/nearcore/issues/5045).

***Expected behavior***
 `registrar` should exist, see `mainnet_genesis.json`.

[2021-10-21 10:27] evergreen-trading-systems commented on #5049
Downloaded latest backup
![telegram-cloud-photo-size-2-5443158006255696100-y](https://user-images.githubusercontent.com/4870868/138259626-5f6ae8c6-03be-4fb6-ade0-51a6c02c95e1.jpg)

Ran indexer but still experienced this issue
![telegram-cloud-photo-size-4-6019118549487957471-y](https://user-images.githubusercontent.com/4870868/138259798-49a1c6af-66a1-4017-8e08-1b52017bfb08.jpg)

[2021-10-21 10:42] BenKurrek commented on #5049
I'm getting some weird errors as well. I redownloaded the data.tar this morning and this is the output:

![image](https://user-images.githubusercontent.com/57506486/138262130-1d9c1c96-7207-4c6d-acb1-68b3f6a629b1.png)