[2020-03-07 21:08] evgenykuzyakov commented on #1829
Latest metrics with optimized deserialization from Borsh, see  https://github.com/nearprotocol/borsh/pull/58

## Input Highlights:
Cost of Borsh input of (s: String) where s="" is 9,080,640,736
Average diff 131,604,521
Cost of Borsh input of (v: Vec<u8>) where v=[] is 8,455,908,634
Average diff 112,708,303
Cost of Borsh input of (v: Vec<u32>) where v=[] is 8,425,057,666
Average diff 651,364,504

#

[2020-03-09 16:42] #1742 closed

[2020-03-09 18:28] bowenwang1996 commented on #2195
@evgenykuzyakov @frol is it critical that we fix this before mainnet? If so, what would be a good solution?

[2020-03-09 18:35] frol commented on #2195
A timeout should be implemented as otherwise, it can easily lead to a deny of service.

[2020-03-09 21:57] willemneal opened #2240 "(Runner): Compiling to WebAssembly"
This issue is to discuss the high level design of the different wasm implementations of the runner.

I've already started work on compiling the runtime-vm-logic to webassembly [here](https://github.com/nearprotocol/wasm-mock-vm), which uses `wasm-bindgen` to create the JavaScript bindings.  Currently generates a javascript module, which includes a VM class with methods to invoke the runtime and to

[2020-03-09 23:55] frol commented on #2215
@nearmax @evgenykuzyakov Hmmmm, does this mean that Trie keys schema will get changed? This affects the `changes` API implementation since we store changes by simply prepending the Trie key with a block hash. It won't affect the exact matches for changes by a given account ID, but it will require some unknown amount of work for #2128.

[2020-03-10 00:10] bowenwang1996 commented on #2195
@frol do you mean a smaller timeout? Currently it will time out.

[2020-03-10 00:27] frol commented on #2195
@bowenwang1996 it seems that the current timeout is higher than the timeout of the load balancer then.

[2020-03-10 00:52] bowenwang1996 commented on #2195
Current timeout is 10s

[2020-03-10 01:21] evgenykuzyakov commented on #2215
Link: https://github.com/nearprotocol/NEPs/pull/39

[2020-03-10 01:49] nearmax commented on #2215
@frol It does add some work to #2128 , but please let's not wait for this to land go implement #2128 first and then adjust later.

I think it is not fundamentally different for when account ids are hashed or not. On DB level all changes are prefixed by the block id, so we can query all changes within the block and iterate over them. We can add an additional enum (u8) that we prepend between the bl

[2020-03-10 02:06] nearmax opened #2242 "Upgrade rpctypegen to new Borsh Schema format"
[rpctypegen](https://github.com/nearprotocol/nearcore/blob/da9e48b359535d9f9f85dc314a10fdb69b114129/tools/rpctypegen/core/src/lib.rs) generates Borsh schema in TS format for all RPC errors.

Now that we have implemented `BorshSchema` macro in nearprotocol/borsh#57 and nearprotocol/borsh#56 we can use `#[derive(BorshSchema)]` to generate schema for RPC errors and reduce our code base. We would also

[2020-03-10 02:08] nearmax commented on #2167
Assigning to @kcole16 since the rest of the work is mostly on the Applayer side.

[2020-03-10 02:59] frol commented on #2195
My experiment showed that querying a local node I get a timeout after 10 seconds with JSON-RPC reply, but querying testnet results in the same 10 seconds timeout with load balancer reply.

Do we really need to wait for 10 blocks (assuming 1s block production) before we timeout `tx-status`?

[2020-03-10 03:03] bowenwang1996 commented on #2195
It is helpful when there is a network slowdown.

[2020-03-10 03:04] frol commented on #2195
Then it seems that there is no actionable item here.

[2020-03-10 17:10] evgenykuzyakov commented on #2215
@frol I'll try to make it in such a way that it doesn't affect your PR. The idea is to hash the `account_id` at key `key_for_column_account_id` method.
We might need to store `account_id` itself in the trie under column, so we can do reverse hash of a given key towards the `account_id`. It's only needed for `StateRecord` dumps.

[2020-03-10 17:57] damons commented on #1521
Any news on this?

[2020-03-10 17:57] damons commented on #1522
Any update on this?

[2020-03-10 17:59] damons commented on #1543
Could all of this be included in Explorer?  Seems so to me.

Also, is this really needed for mainnet?  i.e., is it a blocker?

[2020-03-10 18:13] ailisp commented on #1521
Have difficulties to reproduce this and understand the root cause

[2020-03-10 19:35] mfornet commented on #1543
@damons this is WIP in #2239. It can be easily added to the explorer, it will be behind a feature flag, but a node compiled with this feature will be compatible with other nodes.

[2020-03-10 20:12] #2034 closed

[2020-03-10 23:30] #2048 closed

[2020-03-10 23:52] frol commented on #2034
*The documentation request is https://github.com/nearprotocol/docs/issues/173*

[2020-03-11 01:41] bowenwang1996 commented on #1522
I think it is obsolete. State sync has been changed a lot since then. Will reopen/open another issue if it happens again.

[2020-03-11 01:41] #1522 closed

[2020-03-11 01:42] bowenwang1996 commented on #1521
We still don't quite understand what happened there.

[2020-03-11 02:12] ilblackdragon commented on #2139
There is `memory_used` in trie, that gives you current size of the data. We should be charging `memory_used * storage_price` at every chunk.
The `rent_paid` doesn't matter - that's just our internal accounting. Ideally users should never see their lazy balance give current model - they should see their actual balance as of given height.

Note, that current implementation is purely incorrect - as t

[2020-03-11 14:03] damons commented on #1521
Unless we can get steps to reproduce, this shouldn't block mainnet.   Just FYI:  I'm going through all open issues for nearcore, wallet, and explorer to identify and mark mainnet hard blockers.

[2020-03-11 16:22] frol opened #2246 "Expose the reason for ValidatorAccountsUpdate"
Currently, when rewards are allocated, stakes are returned, and validators get slashed, we only observe the balance state change and track all those changes with a single `ValidatorAccountsUpdate` marker:

https://github.com/nearprotocol/nearcore/blob/697d15debabcb69c6bea286329f0aa0d2a8e7284/runtime/runtime/src/lib.rs#L917

Thus, we don't have enough granularity. One can deduce whether that was a

[2020-03-11 17:16] nearmax commented on #2246
With `StateChangeCause` we should not be specifying information that can be deduced from the state itself. As we discussed with what we allow in RPC API -- if information can be easily deduced then we do not expose it. I suggest we do not implement this feature request and close this issue. WDYT?

[2020-03-11 19:37] frol commented on #2246
@nearmax Yeah, I recall our conversation about what we add and what we don't. However, in this case, I would not say that it is a reliable way to learn what is going on. After a reward is allocated, there is the following code:

https://github.com/nearprotocol/nearcore/blob/697d15debabcb69c6bea286329f0aa0d2a8e7284/runtime/runtime/src/lib.rs#L841-L853

This means that not only the locked amount sho

[2020-03-11 23:14] ilblackdragon commented on #1521
Let's close this if we can't reproduce given it's been awhile.

[2020-03-11 23:14] #1521 closed

[2020-03-12 13:45] SkidanovAlex opened #2250 "Test what happens if > 33%, or > 50%, or > 66% of stake actually collude"
While the finality of the blocks depends on 33% of stake not colluding, the rest of the system must continue operating normally.

The test should cover the following:
 1\. Have 34% of stake collude and double sign a block. Expect that they must all be 100% slashed;
 (note that 34% alone won't be sufficient to actually create a fork, so for the first part of the test that should just create double-

[2020-03-12 13:53] SkidanovAlex opened #2251 "Test block producer grieving"
Spin up a network with a relatively small number of block producers;
Make one block producer ("adversary") to consistently send another block producer ("victim") chunks that they do not send to anyone else.
Expect that at least the first Victim's block produced after Advesary started doing so is not included on the chain (other block producers should skip it), but at some point there are several V

[2020-03-13 07:54] lazaridiscom commented on #2141
https://github.com/nearprotocol/nearcore/pull/2181#issuecomment-595519692

the changes were not subjective, but absolute and obvious.

Current Readme is a total mess, as is your contribution-process.

Fix both, yesterday.

[2020-03-13 19:20] evgenykuzyakov opened #2256 "We should limit max length for `bs58::decode` input"
For example sending the following:
[code]

instead of a public key might create an unwanted CPU cycles.

[2020-03-14 00:21] frol commented on #2246
I failed to deliver the main idea:

Currently, an external observer has no way to learn WHY the balance has changed, and the implementation of updating the validator balances looked to me as such that a node may change balances arbitrarily (since there are no associated transactions/receipts), though, once I learned more about the way NEAR operates with the balances (it keeps them in the state, so

[2020-03-14 03:27] #2231 closed

[2020-03-14 04:21] ilblackdragon commented on #2056
@bowenwang1996 is this fixed in #2117 ?

[2020-03-14 04:23] ilblackdragon opened #2259 "Expose seat price in validator RPC"
Currently there is no easy way to identify seat price that was selected for given epoch in `EpochManager`. Otherwise externally must rebuild auction and re-implement logic to compute seat price to recompute this.

We should expose it as extra field in `validator` RPC.

[2020-03-14 04:34] frol commented on #2259
@fckt Hey, can you take a look into it?

[2020-03-14 21:11] frol opened #2260 "Compile with stable Rust"
Currently, nearcore can only be compiled with nightly Rust compiler due to the following unstable features:

* [ ] wasmer-singlepass-backend requires [`proc_macro_hygiene`](https://github.com/rust-lang/rust/issues/54727)*

  \* *It seems that Rust 1.44 can have the necessary parts of it stabilized! https://github.com/rust-lang/rust/pull/68717*
* [x] dynasm [dependency of wasmer-singlepass-backend]

[2020-03-15 23:49] bowenwang1996 commented on #2259
Given that logic isn't very difficult to implement (the seat price doesn't depend on the randomness beacon), why do we want to change code in nearcore?

[2020-03-15 23:52] bowenwang1996 commented on #2056
Yes

[2020-03-15 23:52] #2056 closed

[2020-03-16 00:10] frol commented on #2259
@ilblackdragon Do you have a link to the code where it is computed internally? (It helps a lot when there is a link to a relevant part of code)

[2020-03-16 00:12] bowenwang1996 commented on #2259
@frol https://github.com/nearprotocol/nearcore/blob/175f42076fb383ffcfc565942e43e53183f09c01/chain/epoch_manager/src/proposals.rs#L9 It's like 20 lines of code and it's O(logN) so I don't think there would be performance issues

[2020-03-16 02:47] frol commented on #2259
@bowenwang1996 well, implementing this externally (e.g. on the near-api-js might be error-prone and may also get outdated, and then it would report incorrect values to the users), so I guess it makes sense to expose the value via RPC API. On the other hand, we want to expose just enough information from the node to avoid exploding our APIs with various needs. Thus, a separate service like Explorer

[2020-03-16 14:50] bowenwang1996 commented on #2259
That makes sense. I believe proposals are already exposed so there is enough information to recompute threshold.

[2020-03-16 15:24] frol commented on #2259
@ilblackdragon You have put it into mainnet milestone. Is it **required** for mainnet?

[2020-03-16 15:43] nearmax commented on #1838
@bowenwang1996 AFAIU this attacks honest validator.

[2020-03-16 15:45] nearmax commented on #1995
Closing this epic since there is only one issue left, and it is easier to manage on its own.

[2020-03-16 15:45] #1995 closed

[2020-03-16 16:46] evgenykuzyakov commented on #2011
https://github.com/nearprotocol/nearcore/pull/2257 addressed some concerns but the panic can still happen if the result is non-utf8 for some fields.

[2020-03-16 18:40] bowenwang1996 commented on #1838
This can only happen if the shard is controlled by a malicious majority, which means that honest validators, if any, will submit a challenge, and I think it is fine if they are temporarily subject to this attack before the chain confirms the challenge and slash malicious actors. Also moving this to post mainnet milestone as we will not have multiple shards first.

[2020-03-16 19:41] ilblackdragon commented on #2259
This data is needed somewhere.
For build this into explorer, we will not just need to process all tx, but also now rebuild full logic of EpochManager. It's not just `find_threshold` but a full logic of collecting proposals, evaluating them, collecting at the end of epoch which existing validators are kicked out and only then finding threshold.
We probably should do that...at some point later. Seem

[2020-03-16 20:45] evgenykuzyakov commented on #2256
The way to address it would be limit the total length of `bs58.decode` before we call it and fail early

[2020-03-16 21:30] frol commented on #2256
We used to have a size limit on the RPC input arguments. I will double-check that. Thanks!

[2020-03-17 00:19] #2234 closed

[2020-03-17 00:43] bowenwang1996 commented on #2259
Yeah it is more involved than I thought. I think we should expose this information, but also this makes me realize that calculating the threshold live is difficult -- we need to replicate the logic of epoch manager and cannot really be sure until the end of the epoch.

[2020-03-17 01:16] #2128 closed

[2020-03-17 01:27] frol commented on #2128
The follow-up documentation request is https://github.com/nearprotocol/docs/issues/267

[2020-03-17 02:50] frol commented on #2036
Since #2253 there is a new RPC endpoint to query a list of accounts with a type of the state change (e.g. `account_touched`) touched within a given block.

Since #2148 the `changes` RPC exposes detailed information about the state change (a cause and a new value).

#2264 will allow querying RPC for state changes of the same type (e.g. `account_changes`) for a list of `account_id`s.

@bowenwang1996

[2020-03-17 03:32] bowenwang1996 commented on #2036
I believe it's sufficient.

[2020-03-17 10:34] #2036 closed

[2020-03-17 22:43] ailisp opened #2267 "Docker build with a modified in build version"
In a fresh checkout nearcore, and `make`, it builds `nearcore` docker image, Then run `docker run nearcore near --version`, it shows: `near x.y.z (build <commit>-modified)`. There should be no `modified` there

[2020-03-18 04:58] Kouprin opened #2268 "Extra protection from forcing GC at specific height"
According to @bowenwang1996 here: https://github.com/nearprotocol/nearcore/pull/2084#pullrequestreview-376151506

[2020-03-18 06:35] Kouprin opened #2269 "GC: super long epochs should be processed properly"
According to @mikhailOK https://github.com/nearprotocol/nearcore/pull/2084#discussion_r390512876

[2020-03-18 06:39] Kouprin opened #2270 "GC: optimize build_refcount_map"
After https://github.com/nearprotocol/nearcore/pull/2084 `build_refcount_map()` runs on each height update which is not necessary. It can be optimized by updating refcount map on the fly.

[2020-03-18 10:04] ilblackdragon opened #2271 "Deprecated RPC fields"
This issue tracks all deprecated fields in the RPC.
Remove next fields after appropriate timeframe.

Deprecation as of March 18, 2020:
- [ ] `AccountView.storage_paid_at`
- [ ] `BlockHeaderView.rent_paid`
- [ ] `ChunkHeaderView.rent_paid`

[2020-03-18 10:14] ilblackdragon commented on #1133
Let's close this as we haven't seen this.

[2020-03-18 10:14] #1133 closed

[2020-03-18 10:17] ilblackdragon commented on #1868
@ailisp we are not doing this anymore, right?

[2020-03-18 10:18] ilblackdragon commented on #1870
I'm assuming this is done. If don't agree, feel free to reopen and clarify what is missing.

[2020-03-18 10:18] #1870 closed

[2020-03-18 10:19] ilblackdragon commented on #1896
@mfornet I'm moving this to Post-MainNet. If you don't agree, please comment.

[2020-03-18 10:21] ilblackdragon commented on #1936
What is the status here @Kouprin ? I'm assuming this is blocking MainNet?

[2020-03-18 10:23] ilblackdragon commented on #1967
@bowenwang1996 I don't think nearcore should be signing any transactions.
We can have crates for signing tx with HSM and have binaries (CLI, restaking services, etc), but nearcore should not have RPC for signing - this is just a huge security hole.

Closing this, if disagree - please reopen.

[2020-03-18 10:23] #1967 closed

[2020-03-18 10:25] ilblackdragon commented on #1981
This sounds like we have an issue with using StateUpdate properly as we left something in inconsistent state. Let's put this item as a TODO for auditing everything post MainNet.

[2020-03-18 10:36] Kouprin commented on #1936
@ilblackdragon it's fixed since Doomslug is introduced

[2020-03-18 10:36] #1936 closed

[2020-03-18 10:53] ilblackdragon commented on #2069
Replaced by scheduled releases process.

[2020-03-18 10:53] #2069 closed

[2020-03-18 10:53] ilblackdragon commented on #2063
Closing, as Denver is long in the past.

[2020-03-18 10:53] #2063 closed

[2020-03-18 10:55] ilblackdragon commented on #2088
So far we have been avoiding this problem by setting ulimit -u. Putting in Post Mainnet. Let me know if I'm wrong.

[2020-03-18 10:59] ilblackdragon commented on #2062
This is required for any type of delegation smart contract.
We also have a PR about in #2053

[2020-03-18 11:01] ilblackdragon commented on #2080
@ailisp Given you switched to buildkite - I'm assuming this can be closed?

[2020-03-18 11:09] ilblackdragon commented on #2156
@ailisp This is done now?

[2020-03-18 11:16] ilblackdragon commented on #2160
@damons Just to double check, are you talking about number of peers or number of "up-to-date" peers?

In reported `3/1/40` in your log - 3 is total peers give node has, 1 is the number of peers with latest blockchain.

Given you are running with 1 validator, it is expected to see there 1 - because the node that is up-to-date is that validator. Everyone else just receives blocks from it.
Also even

[2020-03-18 11:16] ilblackdragon commented on #2170
@ailisp is this done now?

[2020-03-18 11:17] ilblackdragon commented on #2174
@damons should we close this discussion at this point?

[2020-03-18 11:30] frol commented on #2271
@ilblackdragon Why those are deprecated? I find `AccountView.storage_paid_at` useful to learn the last time the account has been touched... Well, it is not immediately clear that one can use it this way, so we may want to have a better name for it, but I wonder what made these fields deprecated and are there replacements.

[2020-03-18 11:33] ilblackdragon commented on #2167
@nearmax I'm a bit lost given some work was already done - Is the other steps required for MainNet or not?

[2020-03-18 11:34] ilblackdragon commented on #2027
@mfornet @SkidanovAlex where did we end up with adversarial code support?

[2020-03-18 13:32] fckt commented on #2259
Since @frol asked me to take a look, I need to know the final decision to start working on it.
My opinion is: the node should have only necessary API. Everything additional should be implemented on the top.

[2020-03-18 17:22] mfornet commented on #2027
We decided not to remove adversarial code from codebase, which I strongly support, otherwise it will create painful moments while merging code from one branch to another, and manual intervention will be very hard.

To prevent mistakes nodes compiled with adversary mode enabled will only run [if consent is explicitly set](https://github.com/nearprotocol/nearcore/blob/e34a3dfdbd12d29568a07ccdca8ef34

[2020-03-18 17:22] #2027 closed

[2020-03-18 17:30] frol commented on #2259
@fckt Well, the final decision is: we need this value exposed now since it is quite non-trivial to replicate outside. We may deprecate it in the future once we have the "indexer" service, but it is not even close.

[2020-03-18 17:46] fckt commented on #2259
should be it an extension of a `block` API?

[2020-03-18 18:21] #2111 closed

[2020-03-18 18:28] ailisp commented on #1868
we have a script to run basic tests sequentially 10 times, but i haven't hook it into nightly

[2020-03-18 18:28] bowenwang1996 commented on #2259
@fckt I can take care of this change since I am very familiar with what needs to be done here.

[2020-03-18 18:30] ailisp commented on #2080
Yes

[2020-03-18 18:30] #2080 closed

[2020-03-18 18:31] ailisp commented on #2088
Yes. also this does not happen for a while

[2020-03-18 18:31] #2088 closed

[2020-03-18 18:42] ailisp commented on #2156
It's close. I added necessary api to nightly to get latest okay commit (given a list of allowed failures). But we're not agree on list of allowed failures yet

[2020-03-18 18:42] ailisp commented on #2170
Yes

[2020-03-18 18:42] #2170 closed

[2020-03-18 22:04] evgenykuzyakov opened #2276 "Cleanup RuntimeExt iterator methods"
The iterators were removed from `VMLogic`, but they also needs to be removed from `RuntimeExt`.

[2020-03-18 22:04] evgenykuzyakov commented on #2276
Related to #2234

[2020-03-18 23:39] evgenykuzyakov commented on #2276
I'll take it, since I need to remove them as part of my refactoring change.

[2020-03-18 23:56] nearmax commented on #2276
Thank you!

[2020-03-19 12:13] Kouprin commented on #2268
@ilblackdragon we should discuss about importance of resolving this issue before assigning it to MainNet milestone

[2020-03-19 14:27] frol commented on #2242
Borsh schema does not necessarily match the JSON schema (e.g. some values can be base64-encoded, some fields/enum variants are renamed, etc). Unfortunately, I don't think it is feasible to try to fit Borsh schema for JSON schema. Please, reopen if you think otherwise.

[2020-03-19 16:46] ilblackdragon commented on #1994
Large discussion on upgradability have happened here - https://commonwealth.im/near/proposal/discussion/261-upgradability

[2020-03-19 18:57] ilblackdragon commented on #2100
@frol @evgenykuzyakov just checking in if we want to execute on this before MainNet or will postpone

[2020-03-20 01:42] frol commented on #2100
@ilblackdragon Let's start with the problem. I assume the problem is that fixed-length values encode into a non-fixed-length base58 string.

I am against having "clever" custom encodings since it casts away existing tools out there.

Alternatives:
* base64 has unfortunate `+/=` in its alphabet, which makes it problematic in the URL environments
* hex (base16) is wasteful, but fixed-length and wide

[2020-03-20 13:37] ilblackdragon commented on #1519
@mfornet What's the status with this at the moment?

[2020-03-20 13:45] ilblackdragon commented on #1648
@Kouprin what is the status for this after work on GC you have done already?

[2020-03-20 13:50] ilblackdragon commented on #1654
I'll close it, because it's just an issue of populating genesis. We should just be careful with genesis at this point.

[2020-03-20 13:50] #1654 closed

[2020-03-20 13:52] Kouprin commented on #1648
@mikhailOK's review on https://github.com/nearprotocol/nearcore/pull/2084 is critical
then we merge that PR to master and close the issue as done

[2020-03-20 13:52] ilblackdragon commented on #1608
@nearmax The user did ^@^Bc after entering password for sudo. Hence the EOFError.

[2020-03-20 13:52] #1608 closed

[2020-03-20 13:53] ilblackdragon commented on #1639
Implemented in #1647 Also we completely rewrote that code since.

[2020-03-20 13:53] #1639 closed

[2020-03-20 13:55] ilblackdragon commented on #1605
We are not using watchtower anymore. Closing this.

[2020-03-20 13:55] #1605 closed

[2020-03-20 13:56] ilblackdragon commented on #1692
@amgando @evgenykuzyakov is this finished?

[2020-03-20 13:58] ilblackdragon commented on #1713
I'm actually not sure where we end up here.
Seems like we are not implementing this for MainNet?
I'll close this then, because post MainNet we should revisit the whole EpochManager construct.

[2020-03-20 13:58] #1713 closed

[2020-03-20 14:00] ilblackdragon commented on #1759
Closing this.

[2020-03-20 14:00] #1759 closed

[2020-03-20 14:02] #1787 closed

[2020-03-20 14:15] ilblackdragon commented on #2118
@bowenwang1996  I'm not clear how we are dumping all states, but is this blocking MainNet?

[2020-03-20 14:17] ilblackdragon commented on #2149
Currently all validators are block producers.
In the future with "hidden validators" we will have validators who are not block producers. We should revive this glossary question at that point.

[2020-03-20 14:17] #2149 closed

[2020-03-20 14:22] damons commented on #2174
So, conclusion here is that we should try to use them when we can.  Make sure it doesn't muddy code readability.  And, we're already doing it in some places.

Closing this issue.

[2020-03-20 14:22] #2174 closed

[2020-03-20 14:26] damons commented on #2160
I believe I'm talking about the number of peers with the latest blockchain.

I still suspect a bug here, but I need to try to reproduce it again.

[2020-03-20 14:55] ilblackdragon commented on #2116
We have `stable` branch now.

[2020-03-20 14:55] #2116 closed

[2020-03-20 15:07] ilblackdragon commented on #1057
This seems critical @nearmax ?

[2020-03-20 15:08] ilblackdragon commented on #1080
I think at this point let's close it as we have not observed this for awhile.

[2020-03-20 15:08] #1080 closed

[2020-03-20 15:09] ilblackdragon commented on #1099
We haven't managed to repro this again.

[2020-03-20 15:09] #1099 closed

[2020-03-20 16:29] frol commented on #1811
This is blocked on the decision for #2272.

[2020-03-20 16:30] damons commented on #2160
The first node/peer started will show:  1/1/40.  It will never increment the second number past one.  The first number will increment when a new node is started/connected. The second node, once started and connected to a peer will show:  2/2/40.   If a third node is started it will show 3/3/40.  However, the second node will only show up to 2/2/40 and never be incremented to 3/3/40.  Only the late

[2020-03-20 16:34] abacabadabacaba commented on #2100
Splitting an input into 8-byte chunks and encoding each of them separately (using fixed-length base58) is a simple approach that solves two major problem of base58: its variable length and the quadratic complexity of its encoding and decoding (which can be optimized, but this is not easy).

This approach still has some issues. For example, encoding requires 64-bit divisions, which are difficult to

[2020-03-20 17:00] bowenwang1996 commented on #2118
It is not. Changing to post-mainnet.

[2020-03-20 17:03] bowenwang1996 commented on #2160
I think it is a known issue that sometimes peer discovery is slow. @mfornet

[2020-03-20 17:39] frol commented on #2100
I want to highlight that we use base58 only to display hashes, i.e. sha256, that is 256 bits (32 bytes) of data, which encodes into:
* 44 bytes in base64
* 43-44 bytes in base58
* 64 bytes in hex (base16)
* 56 bytes in base32

[2020-03-20 17:55] abacabadabacaba commented on #2100
We also use base58 for keys, not just for hashes. Keys that we use are also 32 bytes (but I think that we currently encode Ed25519 private keys as 64 bytes, which is a bug).

In base58, it is 32-44 characters. In base32 (without padding), it is 52 characters.

However, this doesn't include a checksum. With 4-byte checksum, it will be:
* 48 characters in base64.
* 36-50 characters in base58.
* 58 c

[2020-03-20 18:02] ilblackdragon commented on #1127
Seems to work now.

[2020-03-20 18:02] #1127 closed

[2020-03-20 18:06] frol commented on #2100
Would we consider using base64 for the keys?

Pros:
* Widely used (SSH keys, PEM (SSL) certificates, ...)
* Every platform has a package for base64
* Compact

Cons:
* Alphabet includes chars `+/=` which may cause problems with URL encoding. It does not seem to be important to me in the context of keys since you don't want using keys in the URL anyway, do you?

[2020-03-20 18:09] #2129 closed

[2020-03-20 18:53] abacabadabacaba commented on #2100
Public keys are used in URLs.

The motivation for base58 was ease of manual entry. If we don't care about that, we can use URL-safe variant of base64.

[2020-03-20 19:13] ilblackdragon commented on #2130
@jimmy3dita Apparently we decided not to do with this for MainNet and will review later.

[2020-03-20 19:40] ilblackdragon commented on #1966
We should switch all settings to mainnet config anyway.

[2020-03-20 19:40] #1966 closed

[2020-03-20 19:42] ilblackdragon commented on #1784
Seems not flaky.

[2020-03-20 19:42] #1784 closed

[2020-03-20 19:45] ilblackdragon commented on #1996
Closed for polling events, websockets work is separate.

[2020-03-20 19:45] #1996 closed

[2020-03-20 19:52] ilblackdragon commented on #1811
Closed due to #2272

[2020-03-20 19:52] #1811 closed

[2020-03-20 19:56] ilblackdragon commented on #1153
There is no catchup in single shard.

[2020-03-20 19:59] ilblackdragon commented on #1343
Close this given staleness.

[2020-03-20 19:59] #1343 closed

[2020-03-20 20:00] ilblackdragon commented on #1386
Fixed.

[2020-03-20 20:00] #1386 closed

[2020-03-20 20:01] ilblackdragon commented on #1426
Closed this as it's mostly fixed.

[2020-03-20 20:03] ilblackdragon commented on #1543
@mfornet What is the status of this issue?

[2020-03-20 20:06] ilblackdragon commented on #1693
@ailisp Is this fixed now?

[2020-03-20 20:09] ilblackdragon commented on #1798
Closing for #1746

[2020-03-20 20:09] #1798 closed

[2020-03-20 20:10] ilblackdragon commented on #1813
Should be fixed with new error messages.

[2020-03-20 20:10] #1813 closed

[2020-03-20 20:10] ilblackdragon commented on #1830
Implemented.

[2020-03-20 20:10] #1830 closed

[2020-03-20 20:11] #1959 closed

[2020-03-20 20:19] ilblackdragon commented on #2055
@evgenykuzyakov can you test and closed if it's fixed?

[2020-03-20 20:23] ilblackdragon commented on #2172
Closed, as we have released master to beta now.

[2020-03-20 20:23] #2172 closed

[2020-03-20 20:57] ilblackdragon opened #2283 "Disable transfers via set of contracts"
Update: We are not introducing the conditional compilation flag, see the comments.

There needs to be a way to disable transfers at the launch on MainNet.
We also expect validators to enable it later, so it can be just a feature flag that later removed from code.

We want to support the following:
* We want the users to be able to create accounts, which requires transferring. However we want this

[2020-03-20 22:18] ailisp commented on #1693
I think LOCK file wasn't removed (at a force kill) is expected behavior. We need handle this either in nearcore (try some rocksdb methods to recover db. But it's possible the LOCK is real (another near process is running), so maybe this should be handled in script, which check near is not running, delete LOCK if it's there

[2020-03-20 22:32] bowenwang1996 opened #2284 "State dump and verification"
Currently when we dump the state from a node, we always dump state as of the last block that the node has. @ailisp points out that this block might be on a fork that is not canonical. I think there are two related problems here:
* From which block should we dump state?
* How do we set the genesis height of the new network?

I think before we figure out upgradability, it is fine that when we do har

[2020-03-20 22:41] mfornet commented on #2284
We can use the same strategy used while syncing states. Usually to avoid forks we go back from the canonical chain a fixed number of blocks (50 in this case) and then find the first block in this epoch and use the state before applying the content of that block.

If we do it that way we always dump state just before starting some epoch (which can simplify complexity) and this state will be ready t

[2020-03-20 22:58] bowenwang1996 commented on #2284
@mfornet I think you are describing lightclient sync, which is something that we will implement in the future.

[2020-03-20 23:21] mfornet commented on #2284
AFAIU also full nodes will need to run sync state when they are validating new shards (on epoch change and seats redistribution).

Anyway it makes sense to dump the state before applying first block from new epoch, since independently of block skips this state should be common to all nodes.

@bowenwang1996 also, how does this "+ constant" protect us, we still need to check that blocks belong to ne

[2020-03-20 23:27] frol commented on #2100
I wonder if anyone ever entered base58 / uuid / base64 value longer than 20 (yet 44+) chars manually... :smiley:

[2020-03-21 01:11] frol commented on #2256
We should also check the block, chunk, transaction hash deserialization as well, and identify other potential places where we want to limit the input to avoid DOS.

[2020-03-21 01:46] frol commented on #2284
Can we implement some sort of soft shutdown? E.i., a day / a week before the restart we announce the epoch/block height that every node should stop processing, and thus the nodes automatically stop producing new blocks and this makes it safe to stop and dump without losing the transactions (those get rejected on submition).

[2020-03-21 01:58] bowenwang1996 commented on #2284
@mfornet some external partners would prefer to have non-repeating height for the ease of auditing. Also it prevents people from potentially submit blocks from old network to slash people on the new network for double signing.

[2020-03-21 02:00] bowenwang1996 commented on #2284
@frol I am ambivalent about whether the criterion should be time or height. The problem with choosing height as the trigger is that it is unknown how long it will take to reach that height, since the block production speed can vary. I think people generally want to have a clear idea of when the hard fork will happen and that's why I would prefer to shutdown nodes at a pre-announced time rather tha

[2020-03-21 02:08] nearmax commented on #2194
Moving it to Mainnet release because it is going to be painful to remove post Mainnet. CC @ilblackdragon

[2020-03-21 09:15] ilblackdragon commented on #2284
Blockchain time is blocks. It might vary, but it is only thing that everyone around the world can agree on. If you expect external people to do state dump / migration independently - then it needs to be on pre-agreed block height. And then we can just at this point shut down binary at that block height with expectation that hard fork is happening then.

Also for:

We should be using latest final b

[2020-03-21 18:40] bowenwang1996 commented on #2284
If you read my proposal you will see that I don't expect everyone to run the state migration independently as that is really hard to coordinate (for example, to agree on the block from which the state should be dumped). To reiterate, I propose that the NEAR team dumps the state and publish it, along with the block hash of the block from which we dump the state, so that every validator should be ab

[2020-03-22 23:31] nearmax commented on #1805
This is not needed before the Mainnet, since we will be able to introduce this variable into config later, together with other new variables. Moving to Ice Box

[2020-03-22 23:33] nearmax commented on #1829
We made some important gas measurements. The rest is not crucial for the Mainnet launch. Moving to the Ice Box.

[2020-03-22 23:43] nearmax commented on #1131
In other words if during normal execution of the contract (not as part of challenge verification) we encounter inconsistent or corrupted storage this should be treated as node failure (that should be causing panic outside the runtime), rather than the failure of the contract.

[2020-03-22 23:52] nearmax commented on #2055
I think it is still happening. I asked Wasmer to clarify why is it happening.

[2020-03-22 23:54] nearmax commented on #2152
Creating challenges seems like a large work item, assigning 13 days for it.

[2020-03-23 00:20] nearmax commented on #2167
This is not a Mainnet blocker. Since the remaining steps will not change the node API, we will be able to update via nearlib. Moving to the IceBox and removing from the Mainnet release.

[2020-03-23 09:10] #2270 closed

[2020-03-23 12:05] ilblackdragon commented on #1573
Tests are added to pytest/test/sanity/backward_compatible.py.
Now, @ailisp must add it to CI as a non-failing test to indicate when we break the protocol.

[2020-03-23 12:26] ilblackdragon opened #2287 "Whitelist contract. Implementation"
Given #1992, most of the initial tokens will be locked. We though still need to allow initial set of participants to delegate their tokens using https://github.com/nearprotocol/NEPs/pull/27.

The design for whitelist, can be following:
 - Lockup contract allows to have `delegate(contract_id, amount)` function, that will call `lockup_whitelist.delegate(contract_id)` with the attached amount.
 - Whi

[2020-03-23 12:33] ilblackdragon opened #2288 "Scheduled releases"
Setup scheduled releases:
 - DevNet every night (nightly build) from `master` branch.
 - BetaNet every week from `beta` branch. Only upgrades from commit that passes all nightly tests.
 - Stable Testnet from `stable` branch.

Releases happen on time. Networks automatically upgrade on our side.
For external validators we push update and they follow on timely manner because they know the timing for

[2020-03-23 12:49] ilblackdragon opened #2289 "Prepare for launch"
This is catch all epic for preparing for launch of MainNet v1.

[2020-03-23 12:53] ilblackdragon opened #2290 "Disable challenges"
For MainNet v1 we decided not to enable challenges. That said, right now challenges are in the code and should be disabled.

[2020-03-23 13:54] ilblackdragon opened #2291 "Implement MainNet config for stable TestNet"
Stable TestNet should be running with MainNet config. E.g.:
 - [ ] 1/2 day epoch length
 - [ ] Correct economics params
 - [ ] Final gas and fees
 - [ ] Transaction validity length
 - TODO: ???

Should carefully audit every parameter in the config and set values to the right values.
BetaNet can still run with faster epochs / some test params on gas and fees.

[2020-03-23 14:04] ilblackdragon opened #2292 "Disable Top Level Account registration"
We should disable TLA registration unless it's done by account name `registrar`.
The goal is to have an auction later to register top level account names.
We are not implementing that for the launch though.

I think we can allow to register accounts, which names are longer than 10 (or 32?) characters.

`registrar` account originally will be controlled by Foundation. Foundation will later deploy th

[2020-03-23 14:13] bowenwang1996 commented on #2288
I propose that we have a five-week release cycle for testnet.

[2020-03-23 14:27] SkidanovAlex opened #2293 "Test that transactions are not lost at various heights by nodes tracking different shards"
A detailed overview of how to write an integration test is located here: [https://github.com/nearprotocol/nearcore/wiki/Writing-integration-tests-for-nearcore](https://github.com/nearprotocol/nearcore/wiki/Writing-integration-tests-for-nearcore)

In this test we want to spin up a cluster with 4 nodes and 4 shards, configured to have an epoch length of 20\. For two epochs at each height starting wi

[2020-03-23 15:38] bowenwang1996 commented on #2152
@nearmax we are removing challenges from mainnet launch. Changing it to post-mainnet.

[2020-03-23 15:42] bowenwang1996 commented on #1634
We should first have this kind of testing on gcloud with 100 nodes. This is WIP.

[2020-03-23 15:45] bowenwang1996 commented on #2289
Why is genesis contract not part of this epic?

[2020-03-23 15:47] bowenwang1996 commented on #2292
Does it mean all accounts will be registered with some given TLA like `near`?

[2020-03-23 15:55] evgenykuzyakov commented on #2287
If for some reason we've failed to delegate from the `lockup_whitelist` to `contract_id` the funds will be stuck in the `lockup_whitelist` contract. Delegation needs a discussion on itself. We can't just assume things without thinking through security

[2020-03-23 16:00] evgenykuzyakov commented on #1700
Blocked on new Economics. It's still unclear how gas price should be determined.

[2020-03-23 16:01] evgenykuzyakov commented on #2215
Refactoring of storage keys might take longer

[2020-03-23 16:04] evgenykuzyakov commented on #2055
I'm not working on this

[2020-03-23 16:05] evgenykuzyakov commented on #2152
Who want to take this? @bowenwang1996
I'm not familiar with chain enough to know how to handle it properly

[2020-03-23 16:06] evgenykuzyakov commented on #2292
@ilblackdragon Where's the NEP? We can't make changes like this without discussion

[2020-03-23 16:10] #2216 closed

[2020-03-23 17:04] ilblackdragon commented on #2289
What do you mean by genesis contract?
Do you mean lock up contracts? There is separate epic https://github.com/nearprotocol/nearcore/issues/1990

[2020-03-23 17:21] ailisp commented on #1573
:+1 Sure

On Mon, Mar 23, 2020 at 5:05 AM Illia Polosukhin <notifications@github.com>
wrote:

[2020-03-23 18:32] ilblackdragon commented on #2287
Not clear why would it get stuck?

`lockup_whitelist` contract should receive callback after `delegate` call to the `contract_id` in case of success or failure. In case of failure - just return money back to the originator.

If we don't have context within the failure callback (which is sh*t btw), we should record in the `lockup_whitelist` contract outgoing (`amount`, `predecessor_id`, `contract_i

[2020-03-23 18:38] ilblackdragon commented on #2292
@bowenwang1996 Our wallet will create `.near` accounts. For any other wallets that supports us at launch we can also create TLA. Also can create long names (e.g. `base58(public_key)` for folks who are coming from "crypto" world).

Otherwise, the goal is to get to a auction contract shortly after launch and allow other TLAs.

@evgenykuzyakov Created spec change - https://github.com/nearprotocol/NEP

[2020-03-23 18:48] evgenykuzyakov commented on #2287
It can be tricked within Runtime. It's a design issue that we can't rely on the result of the call to return money. I think we have it explained somewhere but I'm going to explain again here:
- `lockup` calls `lockup_whitelist` with 10N.
- `lockup_whitelist` calls `stake_pool1::stake` and attaches 10N.
- `stake_pool1::stake` calls `oh_no_pls_fail` and returns a promise as a result. But `stake_pool

[2020-03-23 18:52] evgenykuzyakov commented on #2287
The overall solution can direct delegation with whitelist check:
- `lockup` calls `lockup_whitelist::can_delegate_to(contract_id)`
- `lockup_whitelist` says yes.
- `lockup` checks it and calls `contract_id::delegate()` with attached balance.

Should be pretty easy to implement for both staking pool contract and lockup. Since the API can be the same

[2020-03-23 19:28] ilblackdragon commented on #2287
There are 2 considerations here:

a) All contracts in whitelists will need to be carefully reviewed for any kind of issues, not just calling invalid issues. So your flow seems irrelevant to security of the whitelist as it suggests invalid staking contract in the first place. Your other solution doesn't address this problem either.

b) Indeed seems like a design issue which we should both document

[2020-03-23 20:05] evgenykuzyakov commented on #2287
Still in your design `lockup_whitelist` seems to act as a proxy instead of just doing whitelisting.

Safes don't address this easily. It needs some type of settlement to decide the fate of the deposit.

[2020-03-23 20:50] ilblackdragon opened #2297 "Epoch Out Of Bounds for account announce is a warning"
Starting betanet node, received confusing warning:
[code]

This should not be shown to the user if this is a normal operation.

[2020-03-23 20:59] nearmax commented on #1700
Since we are launching a single-sharded Mainnet, multi-sharded economics is not a priority for the Mainnet launch, and so we can keep the way it is currently done for now. Moving to the Ice Box and unassigning from the Mainnet release.

[2020-03-23 23:03] nearmax commented on #2291
It seems like this issue is about taking the existing config and reviewing every single field in on to make sure it is correct. Setting estimate to 3 days.

[2020-03-23 23:09] nearmax commented on #2055
Blocked by: https://github.com/wasmerio/wasmer/issues/1328

[2020-03-23 23:10] nearmax commented on #2152
Assigning it to @SkidanovAlex and moving it to Ice Box.

[2020-03-24 14:42] ilblackdragon opened #2304 "Deserializer failed with "Cannot use scalar with high-bit set""
Received invalid data while syncing headers on betanet using `nearup betanet` with Docker with "Cannot use scalar with high-bit set" error:
[code]

We probably should add more information for this errors, e.g. which peer sent it.

[2020-03-24 14:50] ilblackdragon opened #2305 "Mailbox has closed and banning all peers"
Running `nearup betanet` via Docker on my laptop via VPN (so might have network issues):

Observing, `near_network::peer_manager: Failed sending message: Mailbox has closed` error.
Post that we also banning this peer `Try to ban a disconnected peer: ed25519:ydgzeXHJ5Xyt7M1gXLxqLBW1Ejx6scNV5Nx2pxFM8su`, which is somewhat unexpected.

[code]

Note, my GCloud node runs fine at the same time, so it's

[2020-03-24 14:53] ilblackdragon opened #2306 "Telemetry for devnet and betanet is off"
Currently if you run `nearup betanet` or `nearup devnet` you get:
`Telemetry: https://explorer.nearprotocol.com/api/nodes`.

Also note that if you look at the explorer, neither of the networks have any reported nodes.

[2020-03-24 15:18] bowenwang1996 commented on #2289
Okay. I would expect this epic to include everything but it doesn't seem to be the case.

[2020-03-24 16:30] evgenykuzyakov commented on #1131
We're removing iterators from `RuntimeExt` (issue #2276, PR #2278)

[2020-03-24 16:31] #2010 closed

[2020-03-24 16:46] SkidanovAlex opened #2307 "Review chain syncing"
The corresponding spec work item is here: https://github.com/nearprotocol/NEPs/issues/48

# What to consider before reviewing

Understand the high level of syncing, and think how it'd be built naively. What problems will naive implementation have? Do we have those problems?

For State Sync specifically try to understand all the data that needs to be communicated, and what sort of proofs are necess

[2020-03-24 16:49] SkidanovAlex opened #2308 "Review chunk production and distribution"
The corresponding spec work item is here: https://github.com/nearprotocol/NEPs/issues/49

[2020-03-24 16:59] SkidanovAlex opened #2309 "Review networking code"
The corresponding spec work item: https://github.com/nearprotocol/NEPs/issues/50

[2020-03-24 17:01] SkidanovAlex opened #2310 "Review Block Production / Doomslug / Nightshade Finality Gadget"
The corresponding spec work item: https://github.com/nearprotocol/NEPs/issues/51

[2020-03-24 17:02] SkidanovAlex opened #2311 "Review Epoch Manager"
The corresponding spec work item: https://github.com/nearprotocol/NEPs/issues/52

[2020-03-24 17:05] #2276 closed

[2020-03-24 17:44] bowenwang1996 opened #2312 "Investigate performance implications of running docker vs native code"
I observed on betanet that when we run four validating nodes, two running docker and the other two running native binary, after a while there is only one validating node. Since from running 100 nodes all with native binary we know that there wouldn't be any kickouts under normal circumstances, I suspect that the kickout we see on betanet could potentially be attributed to docker. We need more inve

[2020-03-24 17:55] bowenwang1996 opened #2313 "rpc requests interfere with block production"
We have seen multiple times now that on testnet even a moderate amount of rpc requests can cause block production to slow down, which is quite undesirable. We need to understand the root cause and whether it is easily solvable. The last resort would be to disable rpc on block producing nodes.

[2020-03-24 21:39] frol opened #2315 "Review interdepdendencies"
There are quite a few circular dependencies in nearcore crates, which leads to confusion and bad separation of concerns.

The major one is the `neard` (previously known as `near`) crate, which should serve as a binary-only crate, but suddenly, quite a few other crates depend on it right now.

[2020-03-24 21:46] bowenwang1996 commented on #2284
Okay it looks like people prefer to stop the node at a given height. So in practice it means that if we agree to stop at height `h`, the node should stop if there is a final block whose height is at least `h` and we dump the state from that block. It then means every validator can actually follow the same process and get to the same state dump, which makes things even easier for them.

We should i

[2020-03-24 21:51] frol commented on #2284
Should we somehow bake this graceful node auto-shutdown mechanics into the node implementation? This way the upgrade can be automated with a simple script like:

[code]

This will work if `nearup start` exists with the node which willingly shut itself down on hard fork condition.

[2020-03-24 21:52] vgrichina commented on #2195
1) Waiting for load balancer / nginx to fail with non-descriptive error is definitely undesired behavior. If it has to timeout – should better do it with nearcore response, not with `502 Bad Gateway`.
2) Given that nearcore seems to behave really badly when there are requests waiting for responses – I think maybe it's better to remove such waits on nearcore side and instead wait on client side whe

[2020-03-24 22:07] bowenwang1996 commented on #2195
I am not sure what the timeout is for nginx. It is possible that it is shorter than the nearcore timeout for rpc requests, which would result in people using 502 error instead of response from nearcore side.

I think the second suggestion is worth considering. Right now submitting transactions and tx status query use the same routine, which will wait for timeout. Maybe we should consider only keep

[2020-03-24 22:11] bowenwang1996 commented on #2284
I would prefer not to do that. We should only have code in nearcore that is necessary for the node to function.

[2020-03-24 22:41] ailisp commented on #2195
Client side waiting sounds good to me. If people want to submit_txn_commit, near shell can keep trying get txn status and wait until it's committed/fail

[2020-03-24 22:50] vgrichina commented on #2195
is there anything besides `submit_txn_commit` and `tx-status` that is waiting for smth?

[2020-03-24 23:17] frol commented on #2195
Ideally, we should redirect the API client to the appropriate node tracking the right shard, but since the nodes do not expect to run RPC publicly, we cannot really do that.

Removing the internal awaiting will only increase the rps load, and don't solve anything in my opinion, so we should increase the timeout on the load balancer if we feel that 10s is a good timeout. People querying invalid tra

[2020-03-24 23:24] frol commented on #2284
Well, otherwise if an external service misses the right time and doesn't kill the node, we may lose some transactions in the forks or may even have them finalized if the service acts unreliably across the network.

I would consider this feature to be the part of the nearcore upgradability protocol, and thus belong to the node implementation. :man_shrugging:

[2020-03-25 00:06] frol commented on #1546
Just for a future reference, there is a pretty well-designed WAMP client implementation for Rust async/await + tokio 0.2: https://gitlab.com/elast0ny/wamp_async-rs. We still need an embeddable router implementation for nearcore, but it is still a useful source for inspiration.

[2020-03-25 00:23] vgrichina commented on #2195
We can do it for nodes that we run ourselves.

That is assuming that maintaining connection which polls internally doesn't cost anything. Not sure it's the case. Note that most clients likely will be naive and so if they are polling for `tx-status` you'll have multiple requests for the same hash all waiting.

It would of course help a lot if we actually had some instrumentation to understand what

[2020-03-25 00:43] nearmax opened #2316 "Upgrade the downcasting of `RuntimeError` in Wasmer"
Currently we are printing an error when we cannot downcast `RuntimeError` into the error type that we return through the host functions: https://github.com/nearprotocol/nearcore/blob/a08944db6672185618e2454fce5e7be0e327b47a/runtime/near-vm-runner/src/errors.rs#L78

The printed error also says that the output is non-deterministic.

As of `0.14.0` Wasmer returns ` ExceptionCode` there that we can tr

[2020-03-25 00:51] frol commented on #2195
All our nodes RPC are load balanced and thus, there is only a single entry point for an external observer. Thus, there is no sense in the redirect.

Well, external polling also has an overhead of HTTP communication. In general, I would expect that overhead higher than the internal waiting. We need to profile it and then we can make decisions. My completely unscientific benchmarks show pretty good

[2020-03-25 01:08] vgrichina commented on #2195
@frol I think pretty interesting benchmark would be to run request that polls and request that doesn't at the same time and see how they impact each other.

[2020-03-25 03:22] ilblackdragon commented on #2287
Yes, what is wrong with `lockup_whitelist` being a proxy contract?

[2020-03-25 05:46] bowenwang1996 commented on #2313
@frol Do you think that the slow down might be related to the fact that view client and client shares the underlying database and block production needs to write to the database and therefore might block view client from reading and vice versa?

[2020-03-25 10:45] frol commented on #2313
It was my initial guess, but it seems that the most severe slowdown is happening without observable resource load, and especially with the view method calls, so I guess that WASM execution locks the whole DB down. On the other hand, Explorer backend does not use view method calls, but still brings the block production down, and it only uses blocks and chunks APIs. Chunks API exposes a list of tran

[2020-03-25 14:51] bowenwang1996 commented on #2284
You don't have to shut it down at the exact right time. Since this height is announced ahead of time, any transaction on the chain past the announced height will not be considered, so I don't think there is a problem there.

[2020-03-25 14:58] bowenwang1996 commented on #2313
I think that is sufficient to slow down block production. Block production needs to write chunk and block to the database but if there are a lot of read requests it might be blocking.

But this shouldn't affect block production in anyway. Rpc handler is running in a separate thread.

[2020-03-25 15:12] frol commented on #2313
/me Merging external conversation:

@SkidanovAlex said:

[2020-03-25 15:12] frol commented on #2313
Can we tweak RocksDB to prioritize writes over reads?

[2020-03-25 15:27] bowenwang1996 commented on #2313
@ailisp does RocksDB support this?

[2020-03-25 16:18] nearmax commented on #2313
We should actually track the slowness down to the RocksDB and then tweak it. There are other things upstream that we should check: are there any actors or channels that are blocking the block production? Do we have a lock or a mutex guarding the access to state?

[2020-03-25 16:28] bowenwang1996 commented on #2313
Ah I just realized that the rpc requests for both block and chunk needs to go through epoch manager, which is behind a lock. That might be the bottleneck. @frol

[2020-03-25 16:34] bowenwang1996 commented on #2313
It is actually quite problematic. Even though epoch manager is behind a `RwLock`, most methods that access epoch manager takes the write lock due to the need to update cache internally. That means rpc handler cannot serve multiple requests concurrently even if there is no block production. I think for now we will not enable rpc on block producing nodes, but that still doesn't solve the problem ent

[2020-03-25 16:57] nearmax commented on #2313
So cache has it is own Mutex inside, so we don't actually need to hold the write lock on cache when doing an immutable access to epoch manager. Unfortunately, if we stop write-locking epoch manager on reads it will surface race conditions that we currently have in it. For example, this function will become racy if it is used concurrently: https://github.com/nearprotocol/nearcore/blob/24db970ae8f12

[2020-03-25 17:03] nearmax commented on #2313
But we should make sure that epoch manager is actually the bottleneck here. We can do it by replacing epoch manager with some hardcoded data and then run RPC load testing against the node.

[2020-03-25 17:04] bowenwang1996 commented on #2313
I don't see an easy solution here. Even non block producing nodes need to write to epoch manager when it processes blocks so it cannot serve a lot of reads without blocking. But yeah we should benchmark it. Also is there a reason that we must have block producer associated with the block in rpc response? @frol

[2020-03-25 17:38] nearmisterwhite opened #2319 "[RPC] Return different error message for skipped block height vs. block height that has not occured yet."
Customer's who are ingesting Near block data  need to be able to discern the difference between querying for a block height that does not exist (i.e. block tip is at height 100 and querying for height 199) vs. querying for a block height that was skipped (i.e. block tip is at height 100, and querying for block at height 99, but that height was skipped because a validator was offline).

[2020-03-25 22:33] frol commented on #2313
You lost me here. I have no idea about block producer. /cc @ilblackdragon

[2020-03-25 23:23] frol commented on #2284
@bowenwang1996 It is unclear how the node makes a decision not to consider the transactions beyond the announced block height. Does this mean that it will stop block production, but still serve read-only RPC requests and internal routing?

[2020-03-25 23:31] bowenwang1996 commented on #2313
@frol I was talking about https://github.com/nearprotocol/nearcore/blob/7b56f548c5d841353cd3935f316d9abf752f4d7f/chain/client/src/view_client.rs#L367. It does blame to @ilblackdragon though 🤔

[2020-03-25 23:32] jimmy3dita commented on #2130
Please mention me on the relevant specs, so I can quickly update docs, specs and other material

[2020-03-25 23:33] ailisp commented on #2306
I suspect it's a explorer bug, since in config.json telemetry already turned on:
[code]

[2020-03-25 23:35] jimmy3dita commented on #2192
@damons do we want to rewrite the guide and use Nearup instead?

[2020-03-25 23:39] jimmy3dita commented on #2306
On the frontend, the URL changes:
devnet: https://explorer.devnet.nearprotocol.com/
betanet: https://explorer.betanet.nearprotocol.com/
testnet: https://explorer.nearprotocol.com/

[2020-03-25 23:48] mfornet commented on #2305
It looks we are trying to establish connection with a peer that have been banned!

On `ban_peer` the actor is [stopped](https://github.com/nearprotocol/nearcore/blob/master/chain/network/src/peer.rs#L273), so definitely if try to establish connection with it again I expect that `Mailbox has closed` will happens.

I think the issue is because we are not handling properly banned peers. We are lackin

[2020-03-25 23:51] #2297 closed

[2020-03-25 23:51] nearmax commented on #2313
As discussed with @SkidanovAlex I am unassigning @frol since he does not have spare cycles to work on this issue and this issue requires an intimate understanding of how actors an mutexes are orchestrated in chain.

[2020-03-25 23:53] bowenwang1996 commented on #2305
Based on the logs it seems that the node didn't receive any headers (possibly due to connection issue) and we ban peers in this case.

[2020-03-25 23:56] mfornet commented on #2305
@bowenwang1996 Why did we ban this peer exactly, for not receiving headers?

Anyway, there seems to be a bug handling banned peers, that we are probably trying to connect to them, but that peer actor is closed so it fails with such message.

[2020-03-25 23:57] bowenwang1996 commented on #2284
@frol The node doesn't have to do it. Since the announcement of the height is public, people should be aware that once the height is close they should stop sending important transactions. Of course this isn't the long term solution and it will be much more smooth once we figure out upgradability.

[2020-03-25 23:59] bowenwang1996 commented on #2305
So that a peer cannot grieve you.

[2020-03-26 00:00] nearmax commented on #2100
We should not be creating our own encoding scheme, like the suggested modification of b58. This will create a lot fo confusion and will be a major source of bugs for people trying to integrate their tools with our RPC.

There is no point for optimizing for the number of bytes, since we are using JSON and our RPC responses are hundreds or even thousands of characters long even for simple requests d

[2020-03-26 00:05] nearmax commented on #2100
AFAIU currently our RPC can be trivially abused by submitting large b58 encoded keys. I suggest we add a simple threshold cut-off in RPC that checks that b58-encoded key is <45 characters or returns deserialization error. We then switch to hex post-Mainnet since it is would require lots of changes across our Applayer.

[2020-03-26 00:06] frol commented on #2306
@ailisp telemetry should go to the relevant domain for each of the network. It is sort of a duplicate of #1788

[2020-03-26 00:07] nearmax commented on #2100
Unassigning @evgenykuzyakov since I don't think he is working on it. Also changing the title of the issue to reflect the broader scope of the conversation.

[2020-03-26 02:04] frol commented on #2306
The bug is in nearcore, it seems it cannot connect to HTTPS.

[2020-03-26 05:22] ilblackdragon opened #2323 "Chain Stability Push"
This issue is to track progress on internal review, stabilization and writing a spec for chain code.

The chain code is roughly separated into five components. For each component there are two tracking work items: one for writing the specification, and one for reviewing the code and writing new tests:

* Block production, Doomslug and Finality Gadget:
  - https://github.com/nearprotocol/NEPs/issue

[2020-03-26 13:59] ilblackdragon commented on #2306
@frol should we just change on the explorer side depending on the `chain_id` at this point?

[2020-03-26 14:31] ilblackdragon commented on #2305
Ok, here are more data:
 1. It takes 1m10s for me to download 512 headers. To do that I disabled banning / stalling.
 2. We ban peer on stalling duration (30s currently), it closes connection and remove actor.
 3. We send to that peers another BlockHeaderRequest message after banning it - hence "Mailbox has closed" message.
 4. We also try to ban that peer again :)

Fixes:
 - Expand stalling time

[2020-03-26 16:03] #2041 closed

[2020-03-26 16:03] #2042 closed

[2020-03-26 16:03] #2043 closed

[2020-03-26 16:03] #2044 closed

[2020-03-26 16:03] #2046 closed

[2020-03-26 16:05] ailisp commented on #2313
The benchmark of @nearmax had in runtime/storage level load test would be a good one to tune rocksdb. Although It looks quite fast when running locally that doesn't seem to be a bottleneck.
One obvious improvement we should make is upgrade our node use ssd. All our node is using hdd but current set of rocksdb config is copied from parity's ssd one. And in one disk benchmark i made in gcloud it's a

[2020-03-26 16:09] ailisp commented on #2313
@bowenwang1996 read fast should be the default. There's a quite detailed tuning guide: https://github.com/facebook/rocksdb/wiki/RocksDB-Tuning-Guide but i didn't have time to perform. Plan to write some test simulate rocksdb reads similar to a read world node as a benchmark and tune to improve that next month

[2020-03-26 16:17] ailisp commented on #2284
I think @frol suggested auto upgrade should be necessary for most users. For us and for advanced users it's reasonable to have migration and verification logic all in nearcore as Bowen said.

So
[code]
are three different scripts

[2020-03-26 16:47] bowenwang1996 commented on #1607
Close this issue as it is obsolete. Will open new ones regarding performance.

[2020-03-26 16:47] #1607 closed

[2020-03-26 16:49] bowenwang1996 opened #2325 "high cpu usage when there are no transactions"
When there are 100 validators running in the network, the cpu usage is roughly 50% without any transactions, which seems unreasonable. We should investigate what is consuming a lot cpu and fix/optimize it.

[2020-03-26 16:50] bowenwang1996 commented on #2325
@ailisp @frol what tool would you recommend to profile cpu usage?

[2020-03-26 16:55] ailisp commented on #2325
recently i find this tool maybe a faster and better alternative than valgrind. https://github.com/AtheMathmo/cpuprofiler
And classic valgrind cachegrind/callgrind: https://github.com/svenstaro/cargo-profiler but i didn't have luck to run it with nearcore

[2020-03-26 17:02] frol commented on #2325
Try https://github.com/killercup/cargo-flamegraph

[2020-03-26 17:27] bowenwang1996 opened #2326 "Different protocol versions for different networks"
Since both `betanet` and `testnet` keep state now, there is an issue with keeping protocol version the same: every migration that changes state will increment protocol version and since testnet and betanet are necessarily on different release schedule, it is impossible to have them on the same protocol version. Ultimately protocol version is specific to the network and two nodes on different netwo

[2020-03-26 17:28] frol commented on #2325
Try https://github.com/flamegraph-rs/flamegraph (updated link)

[2020-03-26 17:30] frol commented on #2326
Two nodes on different genesis are not going to talk to each other, I don't think we need to make it any more explicit.

[2020-03-26 17:35] ailisp commented on #2326
There seems a a problem in neard: what protocol_version should neard init generate

[2020-03-26 17:38] evgenykuzyakov opened #2327 "Avoid cloning RawStateChanges in Runtime"
Requires a little bit of changes in `TrieUpdate`: https://github.com/nearprotocol/nearcore/blob/465bbf47549d6314fcbe9b97de3c1a55665dd816/runtime/runtime/src/lib.rs#L1096

[2020-03-26 18:31] ilblackdragon commented on #2326
Protocol version defines *code* not network:
 - `neard init` without arguments will generate a new network with (a) new account key (b) new network id
 - meaning genesis will be different
 - protocol version can be different or the same between `betanet` and `testnet` - it depends which code they run. Migrations for testnet and betanet should happen independently but the migration itself runs the

[2020-03-26 18:38] bowenwang1996 commented on #2326
Oh I think I messed up. The plan is to not upgrade protocol version until we merge code into stable  (if necessary). The migration on betanet (if not for protocol breaking changes) does not need to modify protocol version @ailisp.

[2020-03-26 18:38] #2326 closed

[2020-03-26 18:49] nearmax commented on #2313
We discussed with @frol offline that this issues conflates two very separate problems:
* RPC is resource heavy;
* RPC is blocking block production.

I think we should be focusing on the latter rather than the former. Even if our RPC was extremely resource hungry and not parallelized we still should be able to make sure it does not interfere with block production. If let's say we had an actor guard

[2020-03-26 18:56] bowenwang1996 commented on #2326
Followup comment: we should use the same config for betanet and testnet so that there is no confusion as to how to migrate things. Otherwise if we decide to change some config parameter we might need separate migration scripts for betanet and testnet, which can be hard to maintain.

[2020-03-26 19:10] mfornet commented on #2326
Aren't we using `chain_id` exactly to address this problem?

[2020-03-26 19:26] frol commented on #2284
@ailisp that is part of what I was suggesting. Another part was to make the upgrade process loss-free by designing a soft-stop feature preventing acknowledging the transactions after the block height chosen for upgrade.

[2020-03-26 23:58] #2062 closed

[2020-03-27 10:34] #2305 closed

[2020-03-27 14:19] fckt commented on #2316
If we put Runtime errors into 2 categories:
1. Deterministic: the errors which are expected errors and we consider that the Node is healthy.
2. Non-deterministic: such as node failure.

This is where we make a decision on the category:
https://github.com/nearprotocol/nearcore/blob/44bf10d5f618b50195e5ad122c0247aa30dee909/runtime/runtime/src/actions.rs#L190-L206

https://github.com/nearprotocol/nea

[2020-03-27 15:34] ilblackdragon commented on #2154
Updated branding on the org and repo level.

[2020-03-27 15:34] #2154 closed

[2020-03-27 15:47] mfornet commented on #2307
# Update

1. Covered high level understanding of the Syncing process. Thought about how I would approach it and core issues I foresee.
2. Very useful 101 with @Kouprin where he cover all of my high level questions (not code at this point).
3. Start reading and understanding code. `sync` function at `ClientActor` and `HeaderSync`.
4. Writing comments on the code on functions that benefits more from

[2020-03-27 20:37] bowenwang1996 commented on #2259
@ilblackdragon I just realized that we can compute the threshold for a given epoch from the current validators (which is exposed in rpc) and the number of block producer seats (which we can easily expose without modifying anything in epoch manager). In fact, the threshold computed from the proposals for an epoch is the same as the threshold computed from the validators who are selected. To see thi

[2020-03-27 22:05] mfornet opened #2335 "[Discussion] Collected metrics from network"
This are the metrics collected from 100 nodes running on google-cloud after few hours. [See live dashboard](https://marcel.o-for.net/near/). Check #2239 to read what every graphic means.

- The graph diameter is 2 (which is the best we can achieve), all nodes have at most 40 direct connections and at least 35 (which is expected in a healthy system).

<img width="1669" alt="Screen Shot 2020-03-27 a

[2020-03-27 22:22] bowenwang1996 commented on #2335
There should be quite a few `PartialEncodedChunkRequest` messages. It's how the system works. How many shards did you run?

[2020-03-27 23:41] nearmax commented on #2284
Are we currently dumping state the old way when we would just save the entire state column? Or the new way where we would convert the state into the state records? The old way includes state for all blocks that were not garbage collected yet. Any state root from the state dump then can be used for the genesis block.

Reusing height creates double signing only if we allow supermajority to approve b

[2020-03-27 23:51] nearmax commented on #2055
Should be resolved by https://github.com/nearprotocol/nearcore/issues/2316

[2020-03-27 23:56] nearmax commented on #2284
@bowenwang1996 Are you currently suggesting that we are going to have a time interval during which no transactions will be considered, while we will be trying to get an agreement from all validators to hard fork from certain state? Sounds like it will take at least hours, because it will be social consensus. Are we okay with our network stopping accepting transactions for several hours at least?

[2020-03-28 05:05] ilblackdragon commented on #2259
You are correct, it can be computed from the current set of validators. Thanks for pointing out!

And I guess any validator tooling will need to rebuild auction logic anyway to predict what will be next epoch's seat price for people who want to figure out how much to stake now.

I guess we don't need to modify nearcore then. Closing this and moving to explorer issue to add validator information in

[2020-03-28 05:05] #2259 closed

[2020-03-28 05:13] bowenwang1996 commented on #2284
@nearmax the plan is to stop considering transactions after a given height. I think the consensus should be reached beforehand (since we will follow a regular schedule it is very predictable), and, for those who didn't agree to do so, they naturally fork off by not stopping their node. If you are talking about the case where there is a critical bug and it takes time to reach a social consensus on

[2020-03-28 05:19] bowenwang1996 commented on #2259
I am happy to help with this on the tooling side and I think it will be important for validators. cc @frol

[2020-03-28 05:47] #1543 closed

[2020-03-28 08:59] frol commented on #2259
@ilblackdragon I don’t see an issue on Explorer GitHub. Do we want to have it in near-api-js?

@bowenwang1996 It would be super helpful if you can write a pseudo code or a formula

[2020-03-28 18:11] bowenwang1996 commented on #2259
@frol I can implement it in near-api-js. Although it is suboptimal to do this computation every time, especially in frontend. For explorer we should store the threshold in the backend, indexed by epoch id.

[2020-03-28 18:25] frol commented on #2259
@bowenwang1996 Let's have it in near-api-js first, and we will pick it up from there.

[2020-03-29 20:20] bowenwang1996 commented on #2335
Can you increase `chunk_request_retry_period` to 400ms and `CHUNK_REQUEST_RETRY_MS` to 300ms?

[2020-03-30 01:33] nearmax commented on #2197
Assigning 5 days/points since this would be approximate amount of time spent fixing potential issues found by the security audit. @ilblackdragon @evgenykuzyakov I suggest we engage one of the security audit companies now so that we can start planning and have them work on in immediately once our contract is ready. Any objections?

[2020-03-30 01:38] nearmax commented on #2242
Borsh schema is not Borsh-specific. We call it Borsh schema because it is defined in Borsh library but it can be used by many serializers. Our current schema generated by `rpctypegen` has nothing specific to JSON either. The point of the proposed changes is to reconcile the schemas that we currently use in nearlib. I am reopening this issue. However, I don't think it is blocking for the Mainnet. T

[2020-03-30 01:54] nearmax commented on #2283
@ilblackdragon @evgenykuzyakov It sounded like from our discussion offline that there is no need anymore to prohibit transfers on the runtime level? If yes, then I will close this issue since https://github.com/nearprotocol/NEPs/pull/27  supersedes it.

[2020-03-30 01:57] nearmax commented on #2292
Unassigning @ilblackdragon since we need to have only one assignee per https://www.notion.so/nearprotocol/PRs-Issues-Guidelines-786df10eda1848e382a6008e5ed60c32 guidelines. Adding estimate. @evgenykuzyakov please adjust estimate if it is wrong.

[2020-03-30 01:58] nearmax commented on #2291
Removing @bowenwang1996 since we keep one assignee per issue, see the guidelines.

[2020-03-30 02:17] nearmax opened #2339 "Expensive splinters"
Contains issues that are not critical but would be much easier to fix before the Mainnet launch than after it.

[2020-03-30 02:24] nearmax opened #2340 "Fix TransactionOutcome Borsh deserialization by light client"
An issue for an already existing PR so that we can track its progress in the board

[2020-03-30 02:25] nearmax commented on #2340
Setting estimate to 5, since we might be breaking some stuff in nearlib with it. CC @frol , @vgrichina

[2020-03-30 02:28] frol commented on #2242
Nice! Then, for the future context, we need to make sure that whatever schema-generation we use should respect the serialization annotations (currently, we extensively use serde renamings, enum representations, and skips). There are OpenAPI spec generators for serde out there for inspiration: https://docs.rs/rweb/0.4.3/rweb/openapi/index.html

[2020-03-30 02:34] frol commented on #2340
Do we parse Borsh with near-api-js at all? How do we even get it into JS in Borsh format in the first place (there are no RPCs AFAIK)?

[2020-03-30 04:43] nearmax commented on #2340
near-api-js parses and unparses Borsh see the usage of https://github.com/near/near-api-js/blob/master/src.ts/utils/serialize.ts

Transactions are in Borsh format because we need to hash the borsh-serialized transaction for signing. I don't know whether anything else is operated using Borsh.

[2020-03-30 12:51] amgando commented on #1692
@ilblackdragon i think so, we published to docs and NEPs.  assuming it's done
https://docs.nearprotocol.com/docs/api/vm-limits
https://github.com/nearprotocol/NEPs/issues/36

[2020-03-30 16:50] evgenykuzyakov commented on #2292
Adjusting estimate to 5, because it requires 3 pieces:
- Add a field to a genesis config, so the top-level account ID creation to be only allowed by `registrar`.
- Implement account creation restriction.
- Add an error to indicate that the top-level account can only be created by `registrar` account.
- Push it without breaking all tests. It might need to update all app-layer to know about the new

[2020-03-30 17:00] SkidanovAlex opened #2342 "Remove Nightshade Finality Gadget"
Context: there's a fundamental issue between Doomslug and NFG that we discovered recently. Specifically, it could be that a block at height `h` is produced, and some participants have already sent endorsements for it, and then a block at height less than `h` is produced but with a higher NFG score, and becomes the head. The chain stalls because no block producer can send a skip message that will b

[2020-03-30 17:20] SkidanovAlex commented on #2342
Moved to https://github.com/nearprotocol/NEPs/issues/54

[2020-03-30 21:38] ilblackdragon commented on #2141
Done in #2282

[2020-03-30 21:38] #2141 closed

[2020-03-30 21:40] ilblackdragon commented on #2164
@k06a @abacabadabacaba is there anything that needs to be done here?

[2020-03-30 21:56] ilblackdragon commented on #2313
@bowenwang1996 There are no other way to know who produced block - as we don't expose the block production schedule from validators. If want to optimize this, we can create a copy of EpochManager in ViewNightshadeRuntime...

I think we should though postpone this issue for later. And instead now run block producer without RPC open and RPC open on a non block producing nodes. This will better repre

[2020-03-30 22:17] frol commented on #2313
Given all the info, I agree with @ilblackdragon. This issue should go into icebox, but here are the actions I would expect given the current knowledge:

* Deploy betanet -> testnet the same way we expect it running on mainnet (using non block producing nodes as firewall nodes)
* Document this setup as a best practice deployment

[2020-03-30 22:18] #2306 closed

[2020-03-30 22:24] frol commented on #2306
I have fixed the issue in nearcore, but we still need to fix nearup: https://github.com/near/nearup/issues/16

[2020-03-30 22:28] ilblackdragon commented on #1573
Implemented.

[2020-03-30 22:28] #1573 closed

[2020-03-30 22:36] nearmax commented on #2304
Haven't seen this one before. Could it be: https://github.com/dalek-cryptography/ed25519-dalek/blob/master/src/errors.rs#L52 ?

[2020-03-30 22:50] nearmax commented on #2304
Probably caused here: https://github.com/nearprotocol/nearcore/blob/44bf10d5f618b50195e5ad122c0247aa30dee909/core/crypto/src/signature.rs#L563

[2020-03-31 00:40] #1648 closed

[2020-03-31 01:06] bowenwang1996 commented on #2171
I believe this is done. Please reopen if that is not the case.

[2020-03-31 01:06] #2171 closed

[2020-03-31 01:07] bowenwang1996 commented on #2156
@ailisp what's the progress on this?

[2020-03-31 01:08] bowenwang1996 commented on #2133
The reset process should also incorporate what we discussed in #2284.

[2020-03-31 01:14] bowenwang1996 commented on #2304
Seems like borsh error. Assigning to @nearmax

[2020-03-31 01:15] bowenwang1996 commented on #2313
Okay looks like this doesn't need to be resolved right now. We will move to serving rpc only from nonvalidating nodes.

[2020-03-31 01:15] bowenwang1996 commented on #2342
Reopen to track progress.

[2020-03-31 01:29] bowenwang1996 opened #2346 "Node rotation test"
For a cluster of nodes running (say 100), build some test infrastructure to continuous switch nodes between stopped, syncing, running as non validator, and validating. Make sure that
* No validator gets kicked out (unless they unstake).
* Nodes that have been stopped and restarted can sync to the network properly.

[2020-03-31 01:38] bowenwang1996 commented on #1799
duplicate of #2156

[2020-03-31 01:38] #1799 closed

[2020-03-31 01:40] bowenwang1996 opened #2347 "Fix nightly tests failure reporting"
Many nightly testes fail with
[code]
And we have to checkout the logs to see the actual failure, which is quite annoying. It could be a problem with the nightly test infrastructure.

[2020-03-31 01:56] maxzaver opened #2348 "Introduce business model - database layer"
Currently we have the following issues:

*   The lifetime of the business objects is managed by whatever entity they live in. E.g. block, state node, etc have their lifetime managed by high-level components of the system. Some business objects have a co-dependent lifetime, e.g. state and state changes are supposed to be computed simultaneously. We don't have a central place that enforces these ass

[2020-03-31 02:15] vgrichina opened #2349 "Lookup account by public key"
Third-party wallets need ability to find accounts with given public key (as they manage keys in a way unrelated to NEAR accounts). Same applies for first-party wallet for some cases of account recovery (e.g. recovering based on seed phrase or based on Ledger wallet).

We need to figure out a way to do it – whether it is in nearcore, explorer or separate service just for this feature (and other pot

[2020-03-31 02:58] frol commented on #2349
The issue is currently tracked at https://github.com/nearprotocol/near-explorer/issues/236.

I want to clarify if this is mainnet blocker for Wallet or anything else.

[2020-03-31 07:03] Kouprin commented on #2269
Fixed by @bowenwang1996

[2020-03-31 07:03] #2269 closed

[2020-03-31 07:31] Kouprin commented on #2233
@SkidanovAlex please reassign back when it becomes actual

[2020-03-31 07:33] Kouprin commented on #1023
Resolved in https://github.com/nearprotocol/nearcore/pull/2084

[2020-03-31 07:33] #1023 closed

[2020-03-31 07:34] Kouprin commented on #1047
@SkidanovAlex @ilblackdragon please assign back when it becomes actual

[2020-03-31 07:36] Kouprin commented on #2060
Not actual for now.

[2020-03-31 07:36] #2060 closed

[2020-03-31 07:39] #1346 closed

[2020-03-31 14:05] ilblackdragon commented on #1839
@amgando Wallet issues should not be affecting `nearlib` .
As far as I understand, the errors are already in the `nearlib` .

I'm assuming we need doc strings with possible errors from RPCs in nearlib or what is actually required here on docs side @nearmax ?

[2020-03-31 15:15] bowenwang1996 commented on #2349
I think this shouldn't be tracked in nearcore given there is already an issue and we are not going not implement it in nearcore.

[2020-03-31 16:00] #2268 closed

[2020-03-31 16:44] ailisp commented on #2156
We have an api to get latest commit in nightly that has only allow fails
(as a POST parameter), but we still don't have an agreed set of "allow
failure" set. so nightly is still not integrated in the betanet release

On Mon, Mar 30, 2020 at 6:07 PM Bowen Wang <notifications@github.com> wrote:

[2020-03-31 18:11] k06a commented on #2164
@ilblackdragon I can't reproduce this problem for the latest `master` and `staging` due to other errors.

[2020-03-31 20:55] nearmax commented on #2283
### Terminology

TED -- Transfer Enable Date, the timestamp after which we allow token holders to transfer unlocked vested tokens.

This post describes the restrictions applied to the Mainnet before TED and after TED. It also describes what TED is.

Before TED we differentiate the following types of the accounts:
* Genesis accounts:
  * Near foundation
  * Near collective
  * Token holders (variou

[2020-03-31 20:57] nearmax commented on #2283
Also moving to genesis contracts Epic, since I think it is more relevant there now.

[2020-03-31 21:11] evgenykuzyakov commented on #2283
I think there might be some additional work with shared staking pools. Those contracts should be able to vote in addition to current delegation/staking work

[2020-03-31 21:34] mfornet commented on #2335
@bowenwang1996 I launched the network again with new parameters.  `PartialEncodedChunkRequest` are still consuming large percent of the bandwidth, but this time 34% instead of 41%.

[2020-03-31 21:36] bowenwang1996 commented on #2283
Should there be a lower bound on the TED? For example it cannot be earlier than 3 months from genesis time.

[2020-03-31 21:41] nearmax commented on #2283
@evgenykuzyakov

It can be done the following way:
* When pool contract changes its state it notifies the voting contract on how its delegated stake is currently distributed (e.g. Alice delegated 10 tokens, Bob delegated 7 tokens).
* Then when Alice calls `vote()` on the voting contract it knows what Alice's weights are because it knows the weights of the pools;
* Alice would need to authorize the

[2020-03-31 21:52] evgenykuzyakov commented on #2283
It's over-complicated right now. All of this work is just to account for one time event that enables transfers for locked contracts. Also this work by itself can contain bugs.

Of course, some of this work can be reused later for governance, but it's unclear whether we should go with it.

How important is validator/community voting to enable transfers? Can this be solved with other options that do

[2020-03-31 21:58] #2349 closed

[2020-03-31 22:01] frol commented on #2349
@vgrichina @ilblackdragon I need your judgment about the mainnet priority for such a service. If it is a blocker, I go and implement it ASAP on the Explorer side for now.

[2020-03-31 23:22] #2327 closed

[2020-03-31 23:25] nearmax commented on #2283
Discussed with @evgenykuzyakov in a private channel. Added technical complexity of the voting contract is a lesser evil than taking other non-technical risks.

[2020-03-31 23:28] evgenykuzyakov commented on #2283
To simplify delegation a little, we probably want to shift voting aggregation on the staking pool contract side instead of moving it to `voting` contract.
- Add `vote` to `lockup` contracts. It will call `on_delegate_vote` on `staking_pool`.
- Add `on_delegate_vote` to `staking_pool`. It should take vote from the predecessor and update inner `vote` count.
- Voting contract should take percentage o

[2020-04-01 00:37] bowenwang1996 opened #2357 "Forward transactions when not producing chunks in a few heights"
A validator should forward the transaction they received to other validators if they are not producing chunks in the next several blocks. Otherwise the transaction might get stuck for a while.

[2020-04-01 00:38] bowenwang1996 commented on #2357
@kcole16 this is actually bad news for applayer. There is practically no way that we can keep using `broadcast_tx_commit` in near-api-js anymore. We must switch to an asynchronous model.

[2020-04-01 00:45] bowenwang1996 opened #2358 "Rpc should return transaction hash when transaction submission failed"
When transaction submission, for example through `broadcast_tx_commit`, fails, rpc should return the transaction hash so that it is easier for the user to query and understand what happened to the transaction.

[2020-04-01 00:48] frol opened #2359 "feature(jsonrpc): Expose transaction hash in the error response if the `broadcast_tx_commit` times out"
Currently, when one submits a transaction with `broadcast_tx_commit` API, we block and wait till the transaction lands to a block, but we have a timeout of 10 seconds to avoid indefinite waiting time. Sometimes (for example, under a load) network does not succeed in landing the transaction and timeout error is returned, but the client may still choose to check on the transaction, but they need a t

[2020-04-01 00:52] bowenwang1996 commented on #2358
duplicate of #2359

[2020-04-01 00:52] #2358 closed

[2020-04-01 01:29] bowenwang1996 commented on #2335
@mfornet which commit are your running the nodes with?

[2020-04-01 05:55] amgando commented on #2015
this was published
https://docs.nearprotocol.com/docs/api/rpc-params

see here for history
https://github.com/nearprotocol/docs/pull/252

[2020-04-01 05:55] #2015 closed

[2020-04-01 06:05] amgando commented on #1121
I think this can be closed

Validator endpoint
https://docs.nearprotocol.com/docs/interaction/rpc#validators

Automatically Restaking
https://docs.nearprotocol.com/docs/validator/staking#automatically-re-staking

[2020-04-01 06:05] amgando commented on #1692
closing

[2020-04-01 06:05] #1692 closed

[2020-04-01 06:07] amgando commented on #2025
this can be closed
https://github.com/nearprotocol/docs/pull/253
https://docs.nearprotocol.com/docs/api/rpc-experimental

[2020-04-01 06:07] #2025 closed

[2020-04-01 06:11] amgando commented on #2007
seems like a duplicate of https://github.com/nearprotocol/nearcore/issues/2025 from a docs perspective.  am i missing something?  closing for now.

nearprotocol/docs#253
https://docs.nearprotocol.com/docs/api/rpc-experimental

[2020-04-01 06:11] #2007 closed

[2020-04-01 06:14] amgando commented on #2047
not sure why this in the Docs pipeline.  I think i'm missing something here.

[2020-04-01 14:11] ilblackdragon commented on #2359
The sender has transaction hash... Among other things, they just signed it.

[2020-04-01 14:34] ilblackdragon commented on #2283
@nearmax I've updated your post /\ a bit to clarify few details.

@bowenwang1996

No, we shouldn't have minimum period. There is no real reason to have that.
Stakers and delegators are maintainers of the network - whatever is their decision is the date.
(They can hardfork to re-deploy contract without any limit anyway if 66% of stake agrees)

@evgenykuzyakov

Indeed this is a reusable work for fut

[2020-04-01 14:55] bowenwang1996 commented on #2359
@ilblackdragon yes but for example near-api-js doesn't actually return the transaction hash when you submit the transaction. cc @vgrichina

[2020-04-01 16:32] k9thebeast commented on #1546
+1 on this feature from Stardust

[2020-04-01 16:33] evgenykuzyakov commented on #2292
From @ilblackdragon
Here are all the missing pieces that needs to be done before merge:
 - [ ] Finalize & merge the discussion https://github.com/nearprotocol/NEPs/pull/45
 - [ ] nightly tests are passing
 - [ ] nearlib errors are updated & new nearlib & near-shell are released
 - [ ] DevX accounts for this @potatodepaulo :
   - [ ] for `localnet` works correctly, among other things our examples h

[2020-04-01 16:42] bowenwang1996 commented on #2357
Actually this is mostly addressed in `active_validator`. I'll add an extra protection in case blocks are produced too fast.

[2020-04-01 18:04] frol commented on #1546
@k9thebeast Do you think the [new experimental state changes API](https://github.com/nearprotocol/docs/pull/288) is sufficient?

[2020-04-01 18:24] evgenykuzyakov commented on #2304
@bowenwang1996 It's not Borsh error, see what @nearmax linked here: https://github.com/nearprotocol/nearcore/issues/2304#issuecomment-606287408

[2020-04-01 18:43] evgenykuzyakov commented on #2283
`voting` probably should go into its own NEP.

Should we extend `voting` contract to support multiple proposals? NEAR foundation account will be able to create new proposals with `new_proposal(..) -> u64` returns new proposal ID with arguments:
- `description: String` - Human readable description of the proposal
- `vote_options: Vec<String>` - Human readable description of each voting option
- `ex

[2020-04-01 18:49] mikhailOK opened #2366 "test_sync_from_achival_node fails"
[code]
Seems to be related to #2084

[2020-04-01 19:04] mikhailOK opened #2367 "test_validator_rotation fails"
`NightshadeRuntime::update` in `apply_transactions().unwrap()` fails because of invalid transaction error: `SignerDoesNotExist { signer_id: "test3" }`

[2020-04-01 19:36] mikhailOK opened #2368 "test_gc_with_epoch_length fails"
`assertion failed: env.clients[0].chain.get_block(&blocks[i as usize - 1].hash()).is_err()`

Related to #2274 #2084

[2020-04-01 19:43] mikhailOK opened #2369 "test_request_partial_encoded_chunk_from_self fails"
[code]
#2338

[2020-04-01 19:47] mikhailOK opened #2370 "test_async_calls failures"
[code]

[2020-04-01 19:48] mikhailOK opened #2371 "node_runtime failures"
[code]

[2020-04-01 21:49] nearmax commented on #2304
Was about to write, but @evgenykuzyakov was faster :) It seems to be a problem with the custom implementation of `BorshDeserialize` for `Signature`. Assigning it to @ailisp since he was the one to introduce this code.

[2020-04-01 22:32] bowenwang1996 commented on #2290
We should also disable fishermen as part of this change. Not clear whether we should remove that code entirely or just make sure there can be no fishermen (making threshold u64::MAX) for example.

[2020-04-01 22:56] bowenwang1996 opened #2373 "Protocol version change"
There has been some discussion around how we should update protocol version to align with the release process. There are two approaches:

1. Every change that changes the protocol, when merged into master, increase `PROTOCOL_VERSION` in master by 1.
2. Every change that changes the protocol, when merged into master, increase the `PROTOCOL_VERSION` in master if the protocol version in master is the

[2020-04-01 23:13] ailisp commented on #2373
I think the second cons of first approach is even worse in second approach. Consider PR#1 change protocol_version 4 to 5, PR#2 change some other protocol but with first approach it will still use protocol_version 5. We did a beta release at sometime includes PR#1 but not yet PR#2, it's hard to automate another release of PR#2 since by definition it's 5=>5 we doesn't run any migration.

About first

[2020-04-01 23:15] ailisp commented on #2373
In long term we're also expecting fewer and fewer changes in protocol version, so between two stable release there's possible no or few version jump

[2020-04-01 23:30] bowenwang1996 commented on #2373
Good point. I didn't think of this before.

[2020-04-02 00:24] mikedotexe opened #2374 "Node stuck in state sync with high CPU usage"
Using [nearup](https://github.com/near/nearup), I had betanet running earlier today, in verbose mode.
The CPU was fairly low.

<img width="1272" alt="Screenshot 2020-04-01 15 23 49" src="https://user-images.githubusercontent.com/1042667/78198370-42288400-743d-11ea-87fe-2d02796b586f.png">

Then I heard there was an update and to restart the node. I did this with:

`nearup stop && rm -rf ~/.near &&

[2020-04-02 02:29] bowenwang1996 commented on #2374
@Kouprin it appears that the node gets stuck in state sync. Given that this happens after your state gc change, I wonder whether it is related.

[2020-04-02 03:27] bowenwang1996 commented on #2373
It seems that we have agreed to use the first approach and that skipping some versions is fine. Closing the issue.

[2020-04-02 03:27] #2373 closed

[2020-04-02 04:42] frol commented on #1121
This issue is about the new field called `author` (hmm, we had better named it `author_id`) added to the blocks and chunks API call responses.

[2020-04-02 04:44] frol commented on #2047
I think it is a duplicate of #2128, which is resolved.

[2020-04-02 04:44] #2047 closed

[2020-04-02 16:54] #2367 closed

[2020-04-02 17:53] bowenwang1996 commented on #2374
@mikedotexe is your node eventually synced?

[2020-04-02 18:10] mikedotexe commented on #2374
It did make it past 99% downloading, if that's what you're asking. It had consistently high CPU (sometimes would drop to 60%, but then returned to high ninety percents) and I saw there were `0/0/40 peers` so I shut it down last night.

I'll restart now and report back anything unusual.

[2020-04-02 18:41] mikedotexe commented on #2374
As of this morning, the betanet node synced and is hovering around 6% CPU.

[2020-04-02 19:47] ilblackdragon opened #2380 "Block sync is super slow"
Catching up only 3-4 blocks per second with 100% cpu usage.

Steps:
 1\. Clean setup, Ubuntu in GCloud
 2\. `nearup betanet`

Log:
[code]

Also note, 400kb/s for 3-4 blocks per second seems also super high for empty blocks.

[2020-04-02 19:49] ilblackdragon commented on #2380
Also due to #2021, it can be up to ~43k blocks to sync.

[2020-04-02 19:51] ilblackdragon commented on #2021
@SkidanovAlex rational of "might get easier" seems a huge stretch for (a) change (b) huge slow down to sync. I agree that having some checkpoints is better to sync from, but that seems like a future problem.
Current problem is things like #2380 .

Also there 0 considerations for Epoch Manager from this - it doesn't rely on state or blocks in any way, and only requires block headers.

[2020-04-02 19:55] ilblackdragon opened #2381 "Phase 1 Launch Criteria"
Update by @nearmax : The following process was proposed by @ilblackdragon . It should be performed before every release. However, I propose we use it as a criteria for launching the Phase 1. Currently our criteria for launching Phase X, besides feature completeness, is observing the network and launching if it is stable for at least Y days. This method is not reliable, since it depends on the load

[2020-04-02 20:02] SkidanovAlex commented on #2021
Reverting the change will hide the problem with long block sync, not solve it.
State sync in practice will be taking on the order of hours, and fetching tens of thousands of blocks will be required anyway.

[2020-04-02 20:03] ilblackdragon commented on #2373
I would disconnect `PROTOCOL_VERSION` from binary versions.
`PROTOCOL_VERSION` really is for internal use to measure migrations and related stuff.

We actually going to have backward compatible binaries with different PROTOCOL_VERSION going forward.

For example we updated storage format but kept it backward compatible - when binary loads and detects that storage is of old `PROTOCOL_VERSION` it up

[2020-04-02 20:04] SkidanovAlex commented on #2380
The problem is most likely due to the fact that we need to fetch the chunks before fetching the next block, and chunks are only fetchable via collecting parts. Sending the block together with the chunk might make it noticeably faster.

[2020-04-02 21:21] ilblackdragon commented on #2284
@bowenwang1996 when you say "communicated ahead of time" and "agreed on stopping" - that needs to be somehow implemented in the code as well.
E.g. nodes should indeed stop accepting blocks after that time appeared, otherwise how does a RPC user (a UI for cryptocorgi deployed to IPFS) becomes aware of it?

I like the idea of soft shutdown, @SkidanovAlex have suggested it before as well.
I think onl

[2020-04-02 21:39] #2357 closed

[2020-04-02 22:42] nearmax commented on #2348
For the record. @evgenykuzyakov reported the following error:
[code]
With ORM we would've been able to track what invariant was broken relatively easy.

[2020-04-02 23:06] ailisp commented on #2347
The real fail is one of node.get_status() call fails, however, I couldn't reproduce this fail locally after checkout:
https://nightly.neartest.com/run/d64a3b31d6175362e2040ebd2e2ae4c4ab08f5c7_200402_104127/pytest/pytest_sanity_garbage_collection1_py/stderr
https://nightly.neartest.com/run/d64a3b31d6175362e2040ebd2e2ae4c4ab08f5c7_200402_104127/pytest/pytest_adversarial_start_from_genesis_py_doomslu

[2020-04-02 23:44] #2369 closed

[2020-04-03 00:27] #2368 closed

[2020-04-03 00:43] #2370 closed

[2020-04-03 01:01] bowenwang1996 commented on #2380
@SkidanovAlex that doesn't make sense unless you are tracking the shard or have staked and will become a validator.

[2020-04-03 05:05] bowenwang1996 opened #2386 "GC does not handle fork correctly"
In `clear_data`, we first clear fork data from `tail` to `gc_stop_height`. However, assuming that there is a fork from tail whose head is higher than `gc_stop_height`, this fork will not be cleared and therefore gc will get stuck. One way to solve this is to maintain some `gc_fork_head` and clear fork data from `gc_fork_head` every time. This mitigates the problem but could still be undesirable wh

[2020-04-03 11:20] Kouprin commented on #2386
According to @SkidanovAlex, it's only theoretically possible to build a fork which size is big enough to break GC. @bowenwang1996 could you please make sure if this issue make sense?

[2020-04-03 14:26] bowenwang1996 commented on #2386
@Kouprin this part is for sure possible. In fact, it is exactly what happens in `test_sync_from_achival_node`: a node who produces block does not receive block from other nodes (but do receive approvals) and therefore keep building on top of their own block and do not broadcast it. At some point after a long chain has been built (the head of which has height higher than gc_stop_height), they publi

[2020-04-03 15:12] fckt commented on #2316
These tests are still returning "unknown" errors from Wasmer (`0.16.2`), but not `ExceptionCode`s:

https://github.com/nearprotocol/nearcore/blob/07f65c305f1575c27a3637bc59b37a8506363c3a/runtime/near-vm-runner/tests/test_error_cases.rs#L128-L139

https://github.com/nearprotocol/nearcore/blob/07f65c305f1575c27a3637bc59b37a8506363c3a/runtime/near-vm-runner/tests/test_rs_contract.rs#L155-L181

https:

[2020-04-03 15:23] Kouprin commented on #2386
I got it.
I want to point, if we can build some weird situation in our testing environment it does not prove that the same is possible in reality.
`test_sync_from_achival_node` requires disabling Doomslug. How is it possible to reproduce the same with Doomslug enabled in Nightshade runtime?

[2020-04-03 16:04] bowenwang1996 commented on #2386
I think with the new doomslug implementation this should be basically impossible unless 2/3 of people collude or someone has very strong control of the global network. Closing the issue.

[2020-04-03 16:04] #2386 closed

[2020-04-03 16:57] #2366 closed

[2020-04-03 17:15] bowenwang1996 commented on #2284
@ilblackdragon yes the question is whether to implement the logic of stopping at some height in nearcore. It feels to me that we should not implement unnecessary logic in nearcore, but rather have a separate service that watches the node and shut it down when it reaches a given height.

[2020-04-03 17:28] bowenwang1996 commented on #2347
It feels like it might be related to the runner because I also haven't seen this locally.

[2020-04-03 17:33] #2371 closed

[2020-04-04 00:02] #2256 closed

[2020-04-04 00:18] ilblackdragon commented on #1739
Just to confirm, at this point with BFT finality we don't need multiple version of RuntimeConfig.
We also only should switch any versions on the epoch boundary.

[2020-04-04 01:14] mfornet commented on #2307
# Update

1. Writing progress on [notion page](https://www.notion.so/nearprotocol/Sync-Review-22a043d5dadc4b1ba921c65883f07a90).
2. #2394

[2020-04-04 21:21] bowenwang1996 opened #2395 "Node cannot connect to any peers after restarting"
When there are a lot of nodes in the network (far more than max_num_peers), when a node stops and restarts, it is unable to connect to any peers. I suspect it is caused by all other peers reaching maximal number of peers and thus rejecting the connection.

[2020-04-04 21:39] mikedotexe commented on #2374
I'm not seeing this anymore. If this ticket is no longer useful, @bowenwang1996, feel free to close. I don't want to close it myself in case there were further investigations going on with the chain team that I'm unaware of.

[2020-04-04 22:11] bowenwang1996 commented on #2374
Okay let's close it for now. Will reopen when we see this again.

[2020-04-05 05:19] mfornet opened #2398 "GC Error: invalid refcount"
From the node I started and is currently running on betanet I see the following error log:

[code]

However the node is still running.

[2020-04-05 09:35] Kouprin commented on #2398
There is no such message in master right now.
Please check the version on your node and the version of nodes in betanet.

[2020-04-05 09:35] #2398 closed

[2020-04-05 10:59] Kouprin opened #2399 "garbage_collection1.py fails in Nightly"
`thread 'main' panicked at 'Failed to get root node: StorageInconsistentState("Trie node missing")', near/src/runtime.rs:1124:9`

I guess it's related to @SkidanovAlex's comment here: https://github.com/nearprotocol/nearcore/pull/2274#issuecomment-600793452

When I change `NUM_EPOCHS_TO_KEEP_STORE_DATA` constant from 5 to 10, it passes locally.

@bowenwang1996 any ideas to fix it?

[2020-04-05 17:35] jimmy3dita commented on #2374
Yesterday I had the same issue on my node, I've extracted the beginning of the issue, and the escalation of CPU use until 100%:

https://gist.github.com/jimmy3dita/41ff8ae917f2360d6eb7af05454c14d0

[2020-04-05 18:22] bowenwang1996 commented on #2374
@jimmy3dita does it eventually resolve or it gets stuck forever?

[2020-04-06 11:43] #2340 closed

[2020-04-06 13:01] fckt commented on #2055
Unfortunately, Wasmer doesn't return ExceptionCode's today (for single pass backend). Wait for  wasmerio/wasmer#1328

[2020-04-06 14:33] bowenwang1996 commented on #1868
@ailisp any update on this? I believe we don't need to run nightly tests 10 times as that is quite expensive. Maybe 2-3 times would suffice.

[2020-04-06 14:36] bowenwang1996 opened #2400 "Fix all nightly tests"
This issue tracks our progress in fixing all nightly tests. For those tests that are flaky in nature, we should either disable it or find a way to remove the flakiness.

[2020-04-06 14:49] bowenwang1996 commented on #2284
@ilblackdragon one issue that just occurred to me: if we decide to stop the node and dump state on a certain height, how should we set the new genesis time?

[2020-04-06 16:43] #2133 closed

[2020-04-06 16:49] kcole16 commented on #2292
@evgenykuzyakov @ilblackdragon I believe these two issues are the blockers on the app layer side.

https://github.com/nearprotocol/near-wallet/issues/407 ([PR](https://github.com/nearprotocol/near-wallet/pull/475))
https://github.com/nearprotocol/near-shell/issues/307

[2020-04-06 17:34] ailisp commented on #1868
It's not added to nightly and should be (to replace basic test), but not a
high priority as recent reliability of nearcore is good
https://buildkite.com/nearprotocol

On Mon, Apr 6, 2020 at 7:33 AM Bowen Wang <notifications@github.com> wrote:

[2020-04-06 17:39] ailisp commented on #2284
Seems new genesis time should be new. I propose: assume we scheduled fork
happens at block height X, we should also scheduled a "new network start
time" and set new genesis time to that

On Mon, Apr 6, 2020 at 7:49 AM Bowen Wang <notifications@github.com> wrote:

[2020-04-06 18:52] bowenwang1996 commented on #2284
@ailisp we cannot know at the current release the time for the next release because block time is not constant. Also let's not close issues that are not actually resolved.

[2020-04-06 19:59] bowenwang1996 opened #2402 "Rpc requests fail under load"
When there are some load of rpc requests (200 per second), they start to fail with
[code]
Our rpc server should definitely be able stand up to such a moderate load.

[2020-04-06 20:03] nearmax opened #2403 "Add deployment id"
As suggested by @k06a it would be convenient to have deployment id stored with each account. Specifically, every time we deploy a new contract we should update `deployment_id` stored in the contract.

Implementations to consider:
* Storing deployment id as a nonce that increases every time the contract is deployed.
  * Pros: Easy versioning -- it is easy to have code that only works with the contr

[2020-04-06 20:52] bowenwang1996 commented on #2284
@ailisp yes my concern is that we should not the gap to be too low. Otherwise people might not have finished their state dump process. But we cannot also set it to be too high as we don't want to have the network down for an extended period of time. So it may be difficult to set the new genesis time.

[2020-04-06 21:35] frol commented on #2402
@bowenwang1996 AFAIK, we don't handle SSL on our own, so this should have something to do with the load balancer (Google Cloud?). I want to add a few facts here:

* My benchmarks of RPC on localhost (https://github.com/nearprotocol/nearcore/issues/2195#issuecomment-603579913) shows that our RPC throughput is in pretty good shape (I tested most of the common RPC endpoints for fetching data, though

[2020-04-06 22:13] bowenwang1996 commented on #2402
@frol I see, but I definitely think that we need to address this problem because we do plan to use some sort of load balancer to handle rpc requests. It would be quite suboptimal if we cannot even handle 200 rps.

[2020-04-06 22:18] #2346 closed

[2020-04-06 22:22] bowenwang1996 commented on #2284
I propose that the new genesis time should be the block time of the block from which we dump the state + some constant (like 1 hour). If we go with this approach, we need to figure out what the constant should be and check with validators on whether it works for them. cc @jimmy3dita @ilblackdragon

[2020-04-06 22:25] ilblackdragon commented on #2284
Yes, just let's try to get to waaay smaller delta from last block's timestamp.
Ideally it should be defined by our tooling - how long does it take for us to dump / restart?

[2020-04-06 22:45] vgrichina commented on #2215
I don't think there is big enough improvement on how difficult it is to come up with de-generate prefixes with hashes, see:
https://commonwealth.im/near/proposal/discussion/225-iterators-and-trie-structure?comment=634

[2020-04-06 22:50] mfornet commented on #2395
As you pointed out if every node is at max-capacity they will no accept new connections. One issue derived from this is that if boot-nodes are at max capacity, new nodes will not be able to connect and discover other nodes.

## How to solve this issue

Use the following variables to control the number of connections each peer will have.

- `MINIMUM_OUTBOUND_CONNECTIONS`: (10) Minimum number of out

[2020-04-06 23:37] bowenwang1996 commented on #2380
For the case when a node is tracking the shard, it is sometimes impossible to sync blocks as it needs to always request chunks from peers and if the network connection is moderately slow, the sync speed will be slower than block production speed.

[2020-04-07 00:24] nearmax commented on #2215
As discussed our state trie remains trivially abusable even with hashing so I am moving this Epic to the Ice Box and removing from the Mainnet release. AFAIR @evgenykuzyakov also wanted to do the same.

[2020-04-07 00:26] nearmax commented on #2403
Adding @evgenykuzyakov 's comment:

[2020-04-07 00:58] bowenwang1996 commented on #2284
@ilblackdragon I think it was about 5 minutes.

[2020-04-07 01:03] bowenwang1996 commented on #2395
So it seems that your prefer dropping connection that have been established later, but that poses a problem: let's say the a node just connects to you and is syncing. What prevents you from preferring dropping that connection when another node connects?

[2020-04-07 01:30] nearmax opened #2408 "Potentially dangerous implementation of parse_account_id_from_access_key_key"
Current implementation of `parse_account_id_from_access_key_key` is dangerous, but not incorrect, it just relies too much on the engineers to use it correctly. https://github.com/nearprotocol/nearcore/blob/77ddd8f2174ad9167e5dc816b34fe2a4249a8a6d/core/primitives/src/trie_key.rs#L265 as commented here https://github.com/nearprotocol/nearcore/pull/2253/files/8a701155907a4a5ccddc45f950eebacecf62b245#

[2020-04-07 01:30] nearmax commented on #2408
CC @evgenykuzyakov @frol

[2020-04-07 01:39] frol commented on #2408
Oh well, after another look I realized that I missed the fact that there is indeed a separator `col::ACCESS_KEY`, so the storage key is, essentially, constructed as `col::ACCESS_KEY + account_id + col::ACCESS_KEY + serialized_public_key`! I missed the fact that it is a constant there, which can be used instead of the magical `2`! I will submit a PR to fix my crap.

[2020-04-07 02:14] #2408 closed

[2020-04-07 02:59] vgrichina commented on #2403
yeah, not clear why have separate `deployment_id` given we already can check `code_hash`. Basically there just needs to be new version of `FunctionCall` action which enforces given `code_hash`.

[2020-04-07 03:50] bowenwang1996 opened #2411 "Pytest should have a readme"
There is currently no readme as to how pytests should be executed. This makes it difficult for external contributors to start writing python tests. We should document the necessary steps it takes (including installing requirements & compiling nearcore) to run pytests.

[2020-04-07 05:31] k06a commented on #2403
I hope we can define it similar to CREATE2:
[code]

[2020-04-07 08:01] olonho commented on #2403
Indeed ability to conditionally invoke  other contract iff its hash matches expectation + convenient mechanism of storing and updating expectation hashes looks like a nice feature.

[2020-04-07 08:20] vgrichina commented on #2403
@k06a why is salt needed? Should it be just `hash(contract.address, contract.code_hash)`?

[2020-04-07 14:51] damons commented on #2395
Do we have a test for this?

[2020-04-07 16:40] mfornet commented on #2395
@bowenwang1996  This can happen. I'm wondering how harmful would it be for the node which is syncing (receiving state), because if it can still receive state from other nodes then it should be ok.

An alternative is to allocate some slots for nodes which are syncing (at most `K` slots, let's say 5). Nodes that started syncing after all slots are full should know that the connection can be dropped

[2020-04-07 16:44] mfornet commented on #2395
Thinking about this now, the best DoS attack against a node `A` is starting several fresh new nodes without state and trying to connect to `A` and start syncing. `A` will use a lot of resources (cpu/bandwidth/memory) to sync with all this nodes.

Is there any protection to this right now?

[2020-04-07 18:27] ailisp commented on #2284
Does it take longer in a bigger state in the testnet?

On Mon, Apr 6, 2020 at 5:58 PM Bowen Wang <notifications@github.com> wrote:

[2020-04-07 19:43] ilblackdragon commented on #2246
For your concerns @frol:
- If we have failures in the Validator Info update - we probably should fail block production overall. E.g. that function should not be early-returning in normal case.
 - There is no performance overhead - committing is a cheap operation of moving data from one collection to another.

[2020-04-07 20:00] frol commented on #2246
Yes, it is a request from one of our partners.

Agree

There is still some performance overhead, but it is probably really unnoticeable given the relatively small number of validator accounts.

[2020-04-07 20:56] ailisp opened #2412 "Rpc performance cannot handle more than 150 rps"
Cannot handle broadcast_txn_async + tx_status rpc calls in total 150 request per second. tx used in broadcast_txn_async is createAccount Action. nonce is correctly set. If send these txns in total 150 request per second there's no timeout and transaction go through very fast (1-2s).

[2020-04-07 20:58] bowenwang1996 opened #2413 "Correctly maintain tail of the chain"
Currently we might need to run garbage collection for a large number of heights after syncing the node to the network, which is very suboptimal. We should properly maintain the tail of the chain (for example setting it to the sync block height after state sync) to avoid having to run gc for millions of heights.

[2020-04-07 21:31] bowenwang1996 commented on #2395
What can happen is that if you have two nodes that connect to the network at around the same time, they can keep kicking out each other on each peer, which seems suboptimal.

Is there any protection to this right now?

I don't think so.

[2020-04-07 21:43] bowenwang1996 commented on #2284
@ailisp 5 minutes is the time it took for last testnet state migration, at which point it already has more than 100MB state. But yes, we should experiment with it and see if 5 minutes is reasonable.

[2020-04-07 21:50] bowenwang1996 commented on #2412
Is this the same issue as https://github.com/nearprotocol/nearcore/issues/2402 or a separate issue?

[2020-04-07 22:05] bowenwang1996 commented on #2413
@Kouprin let's move our discussion here. I'll present a scenario where I think your solution (proposed in https://github.com/nearprotocol/nearcore/pull/2410) doesn't fully work. Please let me know if I misunderstood something. Let's say a node starts and the tail is not set. GC will not start until five epochs later. If the node stops for some reason after four epochs, the tail is still not set at

[2020-04-07 23:00] nearmax commented on #1839
@ilblackdragon We already have doc strings in the nearlib. The purpose of this work item to make sure we have in depth explanation on them in some documentation.

Moving it to the Ice Box and removing from the Mainnet release since it is not critical for the Mainnet.

[2020-04-07 23:01] nearmax commented on #1121
Adding this piece of documentation is not critical for the Mainnet. Removing from the release and moving to the Ice Box.

[2020-04-07 23:29] nearmax commented on #2316
FYI @olonho We have a lot of complexity around error handling in Wasm that you should be aware of.

[2020-04-08 00:05] nearmax commented on #2316
Added more context here: https://github.com/wasmerio/wasmer/issues/1338.

For now let's keep unknown error, since we don't have sharding and slashing it will not cause slashing. I asked Wasmer to prioritize it. Closing this issue since we https://github.com/nearprotocol/nearcore/issues/2055

[2020-04-08 00:05] #2316 closed

[2020-04-08 00:06] nearmax commented on #2055
More context:
https://github.com/nearprotocol/nearcore/issues/2316#issuecomment-610679523

[2020-04-08 00:32] nearmax commented on #2283
@ilblackdragon You have changed the description from

to

I don't think it is correct. We want user accounts to be able to do anything with their accounts, because (otherwise it will hurt our DevX if we deploy one contract on their account, do not give them full access key and prohibit redeploying it).

[2020-04-08 01:28] mfornet commented on #2395
@damons we already have the [test](https://github.com/nearprotocol/nearcore/pull/2415/files#diff-65772cf59e0714532071b475193bf047R71) which is failing.

[2020-04-08 01:42] mfornet commented on #2395
Extended proposal:
Each node will have `IDEAL_CONNECTIONS_LO(30)` and `IDEAL_CONNECTIONS_HI(35)`. They will start creating new connections when connections go below `IDEAL_CONNECTIONS_LO` and will start dropping new connections when they have more than `IDEAL_CONNECTIONS_HI`.

If connections are above `MINIMUM_OUTBOUND_CONNECTIONS`, then we prefer to establish new connections with nodes that have

[2020-04-08 15:08] bowenwang1996 commented on #2316
But even with a single shard, why couldn't this cause state to diverge?

[2020-04-08 15:20] fckt commented on #2316
Great question! I guess, the logic is the following: imagine, there is no guarantee that (due to internal errors) node producer is not following the protocol (it could be an internal error). It means that it will produce non-valid block. The assumption that the non-valid blocks will be ignored by the subsequent block producers (validators).

But I don't know the specific details of how block produ

[2020-04-08 15:22] bowenwang1996 commented on #2395
Sounds good to me. I am not sure whether the gap between `IDEAL_CONNECTIONS_LO` and `IDEAL_CONNECTIONS_HI` is sufficient. What if the node is in the process of establishing connection with a few peers? Is it possible that it jumps from fewer than `IDEAL_CONNECTIONS_LO` to more than `IDEAL_CONNECTIONS_HI` connections?

[2020-04-08 15:42] bowenwang1996 commented on #2316
@fckt what you said is true, but it may cause the network to diverge when more than 1/3 block producers have the same post state root while the rest has another. It can cause the network to stall for quite a while if that happens.

[2020-04-08 15:50] ilblackdragon commented on #1992
@evgenykuzyakov We just get a request to allow to switch keys for locked account in case of needing to switch custody. This can be done with authorization of NF.
E.g. we can allow NF to call `switch_key(new_public_key)` function on locked account.

[2020-04-08 16:25] fckt commented on #2316
Right now we can't do anything. Wasm spec defined as deterministic (with exceptions we eliminated). The problem is that we can't separate Internal Wasmer (and internal host) errors from Wasm traps and Host logic errors today..

This issue only about updating Wasmer and we hoped it will solve the problem. But it's not, due to bug in Wasmer - it doesn't return ExceprionCode's in the relevant cases (

[2020-04-08 17:51] bowenwang1996 commented on #2039
@evgenykuzyakov it looks like this is causing a lot of pain for the applayer. Is there a good way to address it?

[2020-04-08 17:52] bowenwang1996 commented on #2039
Also we need to decide on whether we need to solve this before mainnet as it might not be trivial to do. @vgrichina @kcole16

[2020-04-08 18:21] mikhailOK commented on #2311
found so far: #2393 #2396 #2405 #2406

[2020-04-08 21:43] ailisp commented on #2412
Seems same one

[2020-04-08 21:43] #2412 closed

[2020-04-09 00:41] evgenykuzyakov commented on #2039
We have 2 issues that makes the design complicated. Transactions are not shared with everyone, so everyone has a different mempool. Once you hit tx-status you might land on someone else node which is not aware of tx-hash.

The solution would be to have a temporary information required to query the status of the transaction. It should be given in addition to tx-hash and every node should be able to

[2020-04-09 01:52] bowenwang1996 commented on #2039
@evgenykuzyakov I think that partially solves that problem. However, when the network is slow it will still timeout and you cannot distinguish between whether that is because transaction hasn’t been processed yet or because the transaction is dropped due to invalid nonce or the transaction doesn’t exist.

[2020-04-09 03:37] bowenwang1996 opened #2418 "Dropping blocks that are too far in the future"
Currently we observe a lot of cpu usage when the node is doing block sync, as described in #2380. This is partially caused by the orphan pool getting overwhelmed with latest blocks and when the orphan pool is full, the node stops rejecting rebroadcast blocks because orphan pool removes blocks from largest height, which means that a lot of cpu is spent on adding blocks to and removing blocks from t

[2020-04-09 16:25] ilblackdragon commented on #2290
Why not keep fisherman selection?

[2020-04-09 17:18] bowenwang1996 commented on #2290
There were some issues with fishermen so I was thinking about removing them and reconsidering the design. But I think most are fixed now so it's fine if we just disable it.

[2020-04-09 19:51] ilblackdragon opened #2421 "Fuzz testing network"
Fuzzer that sends creates incoming connection and sends various data, including:
 - [ ] completely invalid data (make sure we don't spam out logs in result)
 - [ ] invalid blocks / headers / chunks / transactions / etc.

[2020-04-09 19:53] ilblackdragon opened #2422 "Fuzz testing RPC"
Fuzzer to test RPC connections, by sending:

*   [ ] Invalid methods
*   [ ] Correct method with invalid formatted data
*   [ ] Correct method with validly formatted random data

[2020-04-09 19:55] #2418 closed

[2020-04-09 19:55] ilblackdragon opened #2423 "Stress test network"
Bombard the node with correct block data, but with intensity of DDOS.
 Make sure node protects against it by blocking the incoming connection.

[2020-04-09 19:56] ilblackdragon commented on #780
Closing this in favor of #1634.
Moved detailed items into  #2421, #2422, #2423

[2020-04-09 19:56] #780 closed

[2020-04-09 19:57] ailisp opened #2424 "loadtester: Deal with txn hasn't succeed for long time"
Some txn won't be picked by validator in 60s due to random seat and txn forwarding not implemented. in js loadtest createAccounts this is solved by submit txn again because later createAccount can just safe to fail with "account already exists" if previous create account succeed later. But send_money or call_function in smart contract, this shouldn't be retried unless we can "cancel" or "wait txn

[2020-04-09 19:58] ailisp opened #2425 "Fix loadtester"

[2020-04-09 20:01] ailisp opened #2426 "Measure a single loadtester performance and deploy distributed ones"
Measure how fast loadtester from a single machine can:
- create (include sign, cpu expensive), send and poll tx_status to committed
- create (include sign) only

See if it's necessary to separate txn generation and txn sending/status checking, connected them with a msg queue
If doesn't separate generation and sending, host N machines to generate up to 10K tps
If seprate, host N generator machines,

[2020-04-09 20:33] #2424 closed

[2020-04-09 23:37] jimmy3dita opened #2429 "Print release ID at nearcore node start"
## As a user, I want to know if my node is up to date, such that I can promptly update it
This is helpful for bug tracking and double-check any support request.

## Acceptance Criteria
Print the git release ID, or any similar unique identifier at the node start:

[code]

cc @bowenwang1996 from our StakeX meeting today

[2020-04-09 23:43] nearmax opened #2430 "Contract testing harness"
## Background
Currently, our contracts can be tested in the following ways:
* Rust contracts allow unit tests that allow testing contract without compiling it to Wasm. However, these tests do not allow cross-contract calls and do not include side-effects of generating receipts, like token transfer, account creation, staking, etc;
* AssemblyScript contracts can be tested by connecting to a running

[2020-04-10 00:12] nearmax opened #2431 "near-vm-runner-standalone should include the runtime"
`near-vm-runner-standalone` should include the `runtime` crate and should be split into `near-runtime-standalone` library and executable (can be done within the same crate).

The library should expose the following methods:
* `run_single_block` -- takes the state, transactions, incoming receipts and outputs execution results, new state, and outgoing receipts. Basically wraps `Runtime::apply`;
* `r

[2020-04-10 00:20] nearmax opened #2432 "lockup/vesting, staking pool, voting contracts should be tested through near-runtime-standalone"
lockup/vesting, staking pool, voting are contracts critical to the Mainnet launch. Currently @evgenykuzyakov uses Python script wrapped around `near-vm-runner-standalone` for some tests. However, these contracts have a very complex interaction with other contracts and with the blockchain, specifically we want to be able to test the following cases:

- [ ] Interaction between lockup/vesting contrac

[2020-04-10 00:22] nearmax commented on #2431
Actually, I see there are other issues assigned to @fckt , so I am going to assign this to @frol

[2020-04-10 00:27] nearmax opened #2433 "near-runtime-standalone should be published to crates.io and not use rocksdb"
We should examine dependencies of the `runtime` crate and `near-runtime-standalone` and refactor them in such way that we can publish them to crates.io.

We also should be using `TestDB` instead of the rocksdb.

This is not critical for the Mainnet or for using `near-runtime-standalone` in the AssemblyScript tests.

[2020-04-10 00:34] nearmax opened #2434 "AssemblyScript tests should be using `near-runtime-standalone`"
To make sure AS tests can test for cross-contract calls and interactions with the blockchain, they should be using `near-runtime-standalone`. At the beginning `near-runtime-standalone` will not be compiled to Wasm but it would still be possible to use it as a command-line tool that has JSON input and output.

This will require adding a bunch of the glue code to interact with the command line tool.

[2020-04-10 07:38] ilblackdragon opened #2435 "Inconsistent genesis after network reset"
**Describe the bug**
After betanet reset, my account which was previously validator still has locked amount but is not a validator.

**To Reproduce**
1. Stake 100,000 N
2. Get network reset via betanet release process
3. Observe locked amount on the non-validating account:

E.g.
[code]

**Expected behavior**
Locked amount should be reset to 0 on network reset if we are reseting `validators` et.

A

[2020-04-10 09:21] ilblackdragon opened #2436 "Staking pool contract. Nightly test"
Implement a nightly test for staking & delegation contract https://github.com/near/staking-contract/.

Scenario:
 - Start a singe node
 - Deploy staking contract
 - Start another node that uses this staking contract.
 - Delegate funds enough to stake
 - Validate that second node is staking
 - Undelegate funds
 - Second node stops staking
 - Funds received back by delegator contain correct amount i

[2020-04-10 09:21] ilblackdragon commented on #2432
After thinking about it, I actually think it might be better to test full blockchain with this contracts instead.
E.g. using our nightly infrastrcutre.
I started working on this here for staking contract - #2436 (PR is incoming)

[2020-04-10 13:00] ilblackdragon commented on #2143
Linking #2435 here as this issue mentions checking that locked balances match validators stake.

[2020-04-10 15:01] fckt commented on #1804
@mikhailOK @nearmax

As far as I can see, memory_usage is stored in the node storage already with an applied TRIE_COSTS. To have an ability to apply new costs dynamically (in operating node), we should count raw values, but not the calculated ones and multiply them later.

Refs:

https://github.com/nearprotocol/nearcore/blob/ce11dfa277fe2c97ec7ccc9a417d28549358a757/core/store/src/trie/mod.rs#L60-L

[2020-04-10 16:21] mfornet commented on #2307
# Update

- Review PR related to sync.

(This week did very little work on stability push due to other issues around network, releasing, testing)

[2020-04-10 17:45] fckt commented on #1804
@mikhailOK why TRIE_COSTS should be in config? What config it should be?

[2020-04-10 19:18] ilblackdragon opened #2439 "Update current TestNet with stable code from betanet to test Phase 0"
We need to release betanet branch into stable and update TestNet.
Prior to that we should do mock release to make sure that all the migration scripts are in place.

[2020-04-10 19:24] ilblackdragon opened #2440 "Genesis records for Phase 0"
Overall design of records:
 - `registrar` is empty registrar account.
 - `near` is default registrar for all the accounts before auction launches. Fund it with something like 10,000 NEAR for creating accounts for developers.
 - `treasury.near` is treasury account that will be receiving future treasury rewards with 0.1 N balance .
 - `contributors.near` is account for initial contributors funding.

[2020-04-10 19:53] ilblackdragon opened #2441 "DevOps for Phase 0"
Ideally we should run 4 nodes across 4 data centers:
 - GCloud, AWS, Azure, Ali or Tencent Cloud?
 - These nodes should not have RPC ports open
 - Extra node for RPCs
 - Backup mechanics

[2020-04-10 20:25] ilblackdragon commented on #2283
@nearmax It is correct. The goal of disabling transfers is to prevent third parties from transferring tokens to non-authorized entities until network is fully decentralized and controlled by community. Hence all users accounts are not able to transfer.

[2020-04-11 00:01] ailisp commented on #2402
I deployed 8 distributed loadtesters from 8 nodes, 128 tps each (as i benchmark a single machine can reliably generate about 220 tps). Each loadtester getting some above three errors, plus this error:
[code]

Note that if i only start one loadtester there's no such error, so there's still some problem with our node

[2020-04-11 00:38] frol commented on #2402
@ailisp Can you load test the nodes directly without Nginx involved?

[2020-04-11 04:20] ailisp commented on #2402
@frol now loadtest directly with devnet-node4 (one of non validator node), there's only these two errors:
[code]

[2020-04-11 18:07] bowenwang1996 commented on #2440
Why 0.1N specifically?

[2020-04-11 18:12] bowenwang1996 commented on #2441
Also should this issue be moved to https://github.com/nearprotocol/near-ops?

[2020-04-11 22:13] bowenwang1996 commented on #2425
Please be more specific on what the issue is about. Is it related to #2417?

[2020-04-11 22:16] bowenwang1996 commented on #2429
@jimmy3dita is it acceptable if we print this in nearup instead? If so, we should transfer this issue to https://github.com/near/nearup

[2020-04-11 22:18] bowenwang1996 commented on #2422
@frol please take a look. I believe this is quite important for phase 0.

[2020-04-11 22:25] bowenwang1996 commented on #2380
#2418 partially fixes this. The issue remains in the case where the node cares about the shard (either a validator or tracks the shard). For now we can recommend people to not track the shard or stake before they finish syncing. For a node that doesn't track anything, block sync is reasonably fast (about 80 blocks per second).

[2020-04-11 22:28] frol commented on #2422
While it is definitely important, I think it is not a blocker for phase 0. Though, I will take a closer look into the closed connection issue reported in https://github.com/nearprotocol/nearcore/issues/2402#issuecomment-612321881. #2074 is another item required to be implemented before even trying to fuzz-test the API.

[2020-04-12 19:01] ilblackdragon commented on #2039
What we can do:
 - If sender of transaction got timeout, they should reach out to any node that tracks the shard this transaction suppose to hit
 - And ask for "is this transaction valid" question (new RPC).
 - This would either respond with:
    - Yes, transaction is valid - which means this tx might still be in the pool of validators and will be included shortly. Keep polling on `tx_status` and

[2020-04-12 19:11] ilblackdragon commented on #2374
If anyone observes this again, please attach your folder with data & config.

[2020-04-12 19:21] ilblackdragon commented on #2304
Closing this, because this probably was just an issue with older version sending some incompatible data that went this deseralization route.

[2020-04-12 19:21] #2304 closed

[2020-04-12 19:25] ilblackdragon opened #2443 "Enforce backward compatibility or protocol version update"
Check that new node runs with old node together, unless there was a protocol version update.
E.g. in `backward_compatibile.py` check if protocol versions are different => pass, otherwise nodes must talk to each other.
Make test non optional.

[2020-04-12 19:29] ilblackdragon opened #2444 "Nightly tests should run with one node from stable for backward compat"
Every time we run a nightly test, we should also ensure backward compatibility (unless protocol version was updated). To do this, any time we start a cluster in nightly, we can run one node with stable version of the code.

[2020-04-12 19:34] ilblackdragon commented on #2164
@k06a what were other errors? Can you also retest now?

[2020-04-12 19:48] ilblackdragon commented on #2134
@ailisp Isn't this what `state_migration` test does?

[2020-04-12 20:02] ilblackdragon commented on #2233
Specifically, https://github.com/nearprotocol/nearcore/blob/050396a75f70b59531be421be1ad3d5a0d3d8b16/chain/chain/src/validate.rs#L167 can return an error if `last_block_hash` is invalid and hence it will return with an error, which will result in block application failure and discarding of the block.

[2020-04-12 20:07] ilblackdragon commented on #2422
Confirming not a blocker for Phase 0. Moved to Phase 1.

[2020-04-12 20:17] ilblackdragon opened #2445 "Enable challenges"
This is Epic tracking enable challenges. Should make sure that all parts of challenges work before enabling them.

[2020-04-12 21:58] bowenwang1996 opened #2447 "State dump when there are more than one shard"
When there are more than one shard, a validator does not necessarily track all shards and they will only be able to dump the state of the shards that they track, which means that we need a new way of coordinating the network reset (each individual validator may not be able to get the entirety of the new genesis unless they track all shards).

[2020-04-12 22:01] bowenwang1996 commented on #2284
Created issue #2447 for the case when there are more than one shards.

[2020-04-13 00:28] #2435 closed

[2020-04-13 03:46] #2290 closed

[2020-04-13 07:35] ilblackdragon commented on #2429
@bowenwang1996 we have `version` in `neard/main.rs` which captures the version and git release tag or commit.

[2020-04-13 14:31] #2429 closed

[2020-04-13 14:39] k06a commented on #2164
1. In `master`:
[code]
[code]

[2020-04-13 14:42] k06a commented on #2164
1. In `master`:
[code]
[code]

[2020-04-13 14:58] k06a commented on #2164
I see this error persists in `staging` branch, will fix and check why not happens in master

[2020-04-13 15:08] k06a commented on #2164
Just discovered `staging` branch was deprecated.

[2020-04-13 15:08] #2164 closed

[2020-04-13 15:20] bowenwang1996 opened #2449 "GC error on betanet"
On betanet a node stop working with the following error:
[code]

[2020-04-13 15:41] SkidanovAlex opened #2450 "Removing NFG"
This work item tracks the removal of Nightshade Finality Gadget in favor of using Doomslug for both fast and slow finality.

[2020-04-13 15:42] SkidanovAlex commented on #2450
Duplicate of #2342

[2020-04-13 15:42] #2450 closed

[2020-04-13 16:36] ilblackdragon commented on #2359
That is an issue of nearlib API @bowenwang1996

[2020-04-13 16:39] frol commented on #2359
Well, I agree, it seems to make sense to resolve on the near-api-js side. I vote for "moving" this issue to near-api-js issues tracker.

[2020-04-13 17:12] ailisp opened #2452 "Cleaning up and organize prometheus and grafana"
- some data was intended to collect from single node but wrongly aggregated by all validators (e.g. number of validators 4*4)
- add cpu and memory usage
- Also important to show amount of used gas in the blocks vs just tps
- update nodes, adding 8 betanet nodes and the 4 new devnet nodes, new testnet nodes

[2020-04-13 17:53] ilblackdragon commented on #2440
@bowenwang1996 Because that's ~minimum for a regular account with some access keys.

[2020-04-13 20:53] frol opened #2454 "Improve UX of the neard status line (peers count, etc)"
**Motivation**

Looking at the current status line reported by neard every 10 seconds:

[code]

As a user, I have a hard time understanding some of the values:

* `-/4` (I know that instead of the "-" there might be "F" [fisherman] or "V" [validator], and while those are also not intuitive, "-" is completely misleading when you look at it in the context of `-/4` -- I read it as "nothing (or unknow

[2020-04-13 21:19] ilblackdragon opened #2455 "Disallow incoming connections from banned peers"
**Describe the bug**
Currently after peer is banned, we still allow an incoming connection from them

**Expected behavior**
Decline connection from them

[2020-04-13 21:29] ilblackdragon opened #2456 "Signature mismatch in handshake while running betanet node"
**Describe the bug**
Node is banning other peers based on mismatch in the signature in handshake:

[code]

**To Reproduce**
Unclear.

[2020-04-13 22:08] nearmax opened #2457 "test(CI): Runtime crates should be checked with cargo publish --dry-run"
Our CI should contain a check that verifies that runtime crates are publishable to crates.io using
[code]
This will allow us to avoid changes to `Cargo.toml` that makes crates usable locally but not publishable.

[2020-04-13 22:19] frol commented on #1788
@ailisp Should we close this?

[2020-04-13 22:48] bowenwang1996 commented on #2359
It seems that we cannot transfer the issue to a repo outside of this organization.

[2020-04-13 23:04] #1747 closed

[2020-04-14 00:08] #2399 closed

[2020-04-14 00:08] #2413 closed

[2020-04-14 00:24] #2455 closed

[2020-04-14 00:24] nearmax opened #2459 "Remove unnecessary PhantomData usage"
`PhantomData` has a very specific use case -- to work around issues with the compiler checks: https://doc.rust-lang.org/nomicon/phantom-data.html

Currently, we are using it in some places to prevent initialization of the struct with curly braces `{}`, e.g.: https://github.com/nearprotocol/nearcore/blob/3cab57953dbaf1f89c5f6026aa121ed519b50c73/core/chain-configs/src/genesis_config.rs#L109
It is ac

[2020-04-14 01:18] ailisp opened #2461 "State dump is very slow on testnet states"
It takes an hour, which makes our testnet hard fork redeploy at least that long.

[2020-04-14 01:43] frol commented on #2194
@evgenykuzyakov @bowenwang1996 I am trying to wrap my head around the ExecutionOutcome, and it seems that at least from the point of view of the currently implemented contracts, the log *can* be non-empty as it is literally one of the receipt outcomes:

https://github.com/nearprotocol/nearcore/blob/56622f45e20e91cc00a7d85227f8828c8af1d832/chain/chain/src/chain.rs#L1955

It seems that `transaction_

[2020-04-14 07:33] Kouprin opened #2462 "gc_sync_after_sync.py swap_nodes stuck in syncing after swap"
Not related to GC. Reproduced with turned GC off.

[2020-04-14 07:35] ilblackdragon opened #2463 "Network actor blocks Client actor"
**Describe the bug**
We have multiple occasions we have observed network actor blocking client actor, which in turn fails to produce blocks.

Simplest way I observed what when you start a node, stats log that suppose to print every 10 seconds gets shown way less frequently:
[code]
See that it prints stats barely once a minute. In my case I have peers getting banned / reconnected all the time due t

[2020-04-14 07:38] Kouprin opened #2464 "executing clear_state_data() leads to 'Storage error. Corrupted db or invalid state.'"
Reproduces on garbage_collection1.py every run. Commenting `clear_state_data()` passes the test.

Plan to fix: discuss with @mikhailOK about what's wrong, then decide.

[2020-04-14 08:00] Kouprin opened #2466 "Nightly tests failed with `=== Error: failed to start node`"
After commit 3cab57953dbaf1f89c5f6026aa121ed519b50c73:
'Failed to deserialize the genesis records.: Error("invalid type: integer `0`, expected a tuple of size 2", line: 318, column: 1)', /Users/kpr/near/nearcore/core/chain-configs/src/genesis_config.rs:191:33

[2020-04-14 16:38] mfornet commented on #2463
Right now we have five different types of actors in our code:
- ClientActor
- ViewClientActor
- PeerManagerActor
- Peer
- TelemetryActor

For every active connection we span a new `Peer` actor, so it is expected that there will be up to 40 peer actors. I'm not sure how actix runtime works, but if resources are split "uniformly" among all actors, then networking (`PeerManagerActor` + `Peer`s) will

[2020-04-14 20:49] bowenwang1996 commented on #2194
yes logs are often empty. I am not sure what your question is.

[2020-04-14 23:03] frol commented on #2194
@bowenwang1996

1. Can the logs in the `transaction_outcome.outcome.logs` be non-empty? (It was claimed that those are always empty, in which case we want to remove it to better encode the possible scenarios as one may expect those logs to include all the logs from all receipts)
2. What is the meaning of `transaction_outcome.outcome.gas_burnt`? It is not the total gas_burns for all the receipts as

[2020-04-14 23:39] frol commented on #2195
I had increased the timeout on the load balancer, so instead of the HTTP Error 502 we get a proper JSON RPC Timeout Error.

As pointed in the comment above (https://github.com/nearprotocol/nearcore/issues/2195#issuecomment-592999965), there is currently no way to distinguish a hash of never existed transaction and a hash of a transaction that is still in the mem pool or dropped from the pool (#203

[2020-04-14 23:39] #2195 closed

[2020-04-14 23:47] frol commented on #2359
Closing in favor of https://github.com/near/near-api-js/issues/127 /cc @vgrichina

[2020-04-14 23:47] #2359 closed

[2020-04-15 00:03] vgrichina commented on #2039
@ilblackdragon this just delayed sender for 10 seconds for no good reason. E.g. I'm using the same web app from 2 different browser tabs – so every once in a while nonces can collide (all that is needed for this is a bit of lag and user switching between tabs). This will mean waiting more than 10 seconds to recover from this trivial issue which shouldn't require user input (for transactions which

[2020-04-15 01:37] ailisp opened #2468 "binary build in buildkite has path issue read genesis from file"
[code]

So the /home/bo/output.json is there but near binary cannot open it, probably some path issue

[2020-04-15 02:21] nearmax commented on #2463
The reason is because single actix actor is a single thread so while `ClientActor` is processing `NetworkClientMessages` this loop is blocked: https://github.com/nearprotocol/nearcore/blob/0e6a750352ef4d20aa283244101db49b0ef17815/chain/client/src/client_actor.rs#L162 . I don’t think increasing the number of actix core or anything like that will help here, because AFAIK it the fact that each actix

[2020-04-15 03:44] #2374 closed

[2020-04-15 14:51] bowenwang1996 commented on #2461
I think that was because the node was an archival node. With garbage collection I doubt that state dump will be slow. At least when we are still running a single shard, it should not be a concern anymore.

[2020-04-15 14:54] bowenwang1996 commented on #2464
How critical is this issue? Do you expect this to happen under normal circumstances?

[2020-04-15 15:11] bowenwang1996 commented on #2194
It is always empty.

It is the cost of actions in the transaction I believe.

Why?

[2020-04-15 15:21] bowenwang1996 commented on #2468
If it is a buildkite specific issue it should be transferred to https://github.com/nearprotocol/near-ops

[2020-04-15 15:53] Kouprin commented on #2464
@bowenwang1996 it happened every time in Nightly until 85ecbd44120043271a9e00b6a96cdb96f34e88fd is introduced. I guess it might happen after any State Sync. Something in `clear_state_data()` is wrong and should be fixed. We need to get @mikhailOK's opinion first.

[2020-04-15 16:30] nearmax commented on #2055
Blocked by https://github.com/wasmerio/wasmer/issues/1338

[2020-04-15 17:19] ailisp commented on #2468
I think the path issue probably  need to be fixed in Genesis::from_file, it's just the buildkite binary reveals the issue

[2020-04-15 17:39] #2208 closed

[2020-04-15 18:06] frol commented on #2194
I vote for its removal since it is confusing, and to prove that let me quote your reply: "... I believe."

It seems that the user should count all the `gas_burnt` from the receipts to get the complete picture of the execution costs.

[2020-04-15 18:16] ailisp commented on #2461
I see

[2020-04-15 18:16] #2461 closed

[2020-04-15 18:42] ilblackdragon opened #2474 "Voting contract. Implementation"
From https://github.com/nearprotocol/nearcore/issues/2283#issuecomment-607425377

Voting contract will have one goal -- it will allow community to decide when to enable transfers. The proxy for the community will be validators. The contract will have access to the list of the current validators through the new host functions. Each account will be then able to cast a vote for a specific TED by call

[2020-04-15 18:43] ilblackdragon opened #2475 "Expose validators as host function"
For voting contract #2474 it's required to query current stake by validator account id.

TBD the APIs.

[2020-04-15 18:44] ilblackdragon commented on #2283
Created #2474 and #2475 to separate specific action items.

[2020-04-15 18:47] bowenwang1996 opened #2476 "Smart contract for voting on the next network reset height"
For mainnet (and possibly testnet), we need a decentralized way to agree on the next hard fork when necessary. This issue refers to the situation where there is no urgent need to do a hard fork immediately. For such cases, it seems natural to orchestrate the process of agreeing on the next hard fork through the use of a voting smart contract, the structure of which is discussed in https://github.c

[2020-04-15 18:53] bowenwang1996 commented on #2474
We need to expose validator information to runtime. Also it seems that whenever someone votes, the contract needs to check on existing votes to see if the stake has changed and adjust the stake accordingly, which is suboptimal but I also don't see a better option.

[2020-04-15 18:55] evgenykuzyakov commented on #2474
@bowenwang1996  Does it mean our lockup contracts have to support voting for different proposals? Meaning not only on the transfers?

[2020-04-15 19:00] evgenykuzyakov commented on #2475
It's not simple to provide all validators with their stakes into the wasm because of limited support for serialization. Our current design for WASM was serialization independent, so we didn't settle on Borsh.

I suggest the following API:
`validator_stake(account_id_len: u64, account_id_ptr: u64, stake_ptr: u64) -> []` where

- `account_id_len` and `account_id_ptr` is the account ID of the validat

[2020-04-15 19:02] bowenwang1996 commented on #2474
@evgenykuzyakov good question. That is a decision that we have to make. If it is difficult to implement we can say there will be no on-chain voting until sufficient amount of tokens are unlocked.

[2020-04-15 19:04] evgenykuzyakov commented on #2475
Another function we need is `total_validator_stake(stake_ptr: u64) -> []` to return the total active stake balance. It's needed for denominator when resolving voting majority.

[2020-04-15 19:21] evgenykuzyakov commented on #2475
We can also expose the validators the following way:
`number_of_validators() -> u64`
`validator_id(validator_index: u64, register_id: u64) -> []`
`validator_stake(validator_index: u64, stake_ptr: u64) -> []`

Which will make it flexible enough so long as we can pass validators in sorted order and the list of validators is not long enough.

[2020-04-15 19:29] ilblackdragon commented on #2474
I still don't understand why voting requires any changes to lockup contract?
We should be able to proxy a call to any other contract, e.g. `staking_contract_i_delegate_to.don_t_agree_with_validator_change_my_portion_of_vote()`

[2020-04-15 20:09] evgenykuzyakov commented on #2474
I think we should be able to `vote` from lockup contracts though staking pools. I also don't think the should assume voting from the staking pools without explicit votes from the fund owners.

[2020-04-15 23:50] vgrichina commented on #2039
still not clear why it is hard to make it happen on nearcore side before we return Timeout to client

[2020-04-16 01:11] bowenwang1996 commented on #2464
@Kouprin if this crashes the node we should immediately disable it and then consider how to fix it.

[2020-04-16 02:22] bowenwang1996 commented on #2194
I see. I think it makes sense. @evgenykuzyakov what do you think?

[2020-04-16 02:26] bowenwang1996 commented on #2474
@evgenykuzyakov btw I think `id` as an index is suboptimal. You need to clear expired proposals. Otherwise the contract may run out of storage.

[2020-04-16 02:31] bowenwang1996 commented on #2475
We also need `validator_id_to_account_id(validator_index: u64, account_id_ptr: u64) -> []`.

[2020-04-16 02:45] bowenwang1996 commented on #2039
It can take longer than the timeout (10s) to tell.

[2020-04-16 03:00] frol commented on #2039
Yet, sometimes it takes less than 10s and currently we still get the request blocked even though we could have already returned the error

[2020-04-16 03:08] vgrichina commented on #2039
yes, in that case it is expected you return Timeout. What is not expected is to wait 10 seconds to get Timeout for situation where error was likely detected in less than 1 second (just not propagated).

[2020-04-16 03:12] bowenwang1996 commented on #2462
cannot reproduce

[2020-04-16 03:17] bowenwang1996 opened #2482 "Dry run python tests in CI"
Since python tests often involve config changes and sometimes when we change configs we often forget to change the affected ones in python tests as well, I suggest that we dry run pytest in CI as well to make sure that they can start.

[2020-04-16 03:18] bowenwang1996 opened #2483 "Change config in pytest"
In python tests, we have a convenient way to change node configs before the cluster is started, but there is no easy way to stop the node, change its config and restart again.

[2020-04-16 06:11] #2456 closed

[2020-04-16 09:54] ilblackdragon commented on #2156
Hm, should we not have list of allowed failures? E.g. disable tests that are failing right now and enable them back when they are not failing? @SkidanovAlex
Or alternatively, let's add another flag in nightly.txt that indicates if the test doesn't need to pass.

Also @bowenwang1996 closed my #1799 but it's not really captured here:
 - Show # of failures on http://nightly.neartest.com/ page.

[2020-04-16 13:16] Kouprin commented on #2462
I mark it fixed because we cannot follow of all code interventions that affect the test.

[2020-04-16 13:16] #2462 closed

[2020-04-16 14:58] Kouprin commented on #2464
https://github.com/nearprotocol/nearcore/pull/2484

[2020-04-16 16:09] #1131 closed

[2020-04-16 16:55] mfornet opened #2485 "Remove --verbose in favor of RUST_LOG"
By default Near binary only display logs that are `info`, `warn` and `error`, and it is possible to show debug logs for a specific target using `-~~verbose <target_name>` (`~~-verbose chain`).

After #2480 `RUST_LOG` can be used to control which logs are shown, multiple directive can be specified at the same time. For example:

`export RUST_LOG=network=trace,chain=info`

*   [ ] Remove `--verbose`

[2020-04-16 17:02] ailisp commented on #2482
There's state_migration pytest run in ci, which does a simple block production test. I think that should be enough as the dry run?

[2020-04-16 17:27] evgenykuzyakov commented on #2475
Sorry, I meant `validator_id(validator_index: u64, register_id: u64) -> []` is `validator_account_id(validator_index: u64, register_id: u64) -> []`

`register_id` contains the account ID

[2020-04-16 17:36] ailisp commented on #2482
From #2481 I see what's need to be dry run, however, a few pytest has there own config, if dry test all of them that's slow and possibly missing new added pytests. if not dry run all it can still be problematic.
I could think of two solution:
- one is reorganize how nightly tests are run. I suggest this way
   - add in buildkite to trigger nightly as async test (it fail would not block CI but can

[2020-04-16 17:39] bowenwang1996 opened #2486 "Properly test migration script with real records"
Currently when testing migration scripts we only use genesis with empty records, which do not test whether the state records are properly migrated. We should use a genesis with real records (can be the genesis of one of the networks for example) to test migration scripts.

[2020-04-16 17:39] vgrichina opened #2487 "Instrumentation to collect data about errors"
We have some infrastructure to collect info and surface it in Graphana. Would be nice to utilize it to count returned errors grouped by type. Sudden uptick of given type of error would make it possible to identify problems with the system. E.g. latest testnet update most likely resulted in increase of Timeout error occurrence.

[2020-04-16 17:40] vgrichina commented on #2487
@ailisp how do I add new counter to nearcore?

[2020-04-16 17:45] #2466 closed

[2020-04-16 17:54] evgenykuzyakov commented on #2474
We can keep it as a map. And just have empty entries.

[2020-04-16 17:58] ilblackdragon opened #2488 "Tx status timeouts when transaction is missing"
Currently if transaction is missing, there is no error from `tx` RPC endpoint.

Steps to reproduce
---
1. Start local node
2. Run:
[code]
Observe:
[code]

Implementation, if the node is tracking the shard on which this account is - if it's not found we should return right away here with an not found error https://github.com/nearprotocol/nearcore/blob/5254f85c70ab6413b796a69b452a12a923750d9f/chain/

[2020-04-16 18:00] bowenwang1996 commented on #2482
I was thinking about something like this. I actually think we don't need to go the full length of starting the nodes. Making sure that the configs can be deserialized is probably enough for this purpose.

[2020-04-16 18:08] bowenwang1996 commented on #2488
@ilblackdragon that doesn't quite work because it could be that the transaction hasn't been processed yet.

[2020-04-16 19:16] ilblackdragon commented on #2488
That's fine - we are not waiting for it to be received right now - we requesting from another node even if we tracking the shard and know it doesn't exist:

[code]

[2020-04-16 19:35] ailisp commented on #2487
@vgrichina There's a few metrics.rs in nearcore, one per module. for example the one in chain/jsonrpc/src/metrics.rs, add a counter there and increase counter by `near_metrics::inc_counter(&metrics::HTTP_STATUS_REQUEST_COUNT);`

[2020-04-16 20:54] evgenykuzyakov commented on #2194
gas burnt in the execution outcome for a transaction refers to the execution cost of the receipt creation. It's an actual gas amount.

[2020-04-16 21:16] frol commented on #2194
@evgenykuzyakov

1. that is not obvious, and it is really misleading (which is "dangerous")
2. that is useless since it is incomplete

[2020-04-16 21:30] evgenykuzyakov commented on #2194
It's not part of the `gas_burnt` for any receipt. It's in addition to the gas burnt by receipts. Imagine a scenario, where you send a transaction to an account that doesn't exist. You have to pay a fee for sending this receipt before it arrives on a given shard, because validators on your shard are doing work for sending the receipt.
Now Validators on the receiving side also have to get a fee for

[2020-04-16 21:35] frol commented on #2194
@evgenykuzyakov Do you want to say that the `gas_burnt` in the transaction outcome (924119500000) and `gas_burnt` in the first receipt output (924119500000 - the same value) should be summed up to get the total `gas_burnt`? (I am referring to the RPC response in my comment above: https://github.com/nearprotocol/nearcore/issues/2194#issuecomment-613180287)

[2020-04-16 22:38] evgenykuzyakov commented on #2194
Yes

[2020-04-16 22:41] evgenykuzyakov commented on #2194
Here is base for receipts:
[code]

Both `send` and `execution` fees are the same.

But adding a key right now is free:
[code]

Unless there are some method names.

[2020-04-16 23:56] frol commented on #2194
Ok, thanks for the clarification, I will think what I can come up with to make this API response useful (currently, it is super confusing).

How do you feel about the following set of changes:

1. do not hide the fact that there is this first receipt (include it on the list and just have the receipt ID in the transaction outcome)
2. don't include the [execution] outcome in the transaction outcome

[2020-04-17 00:15] bowenwang1996 commented on #2488
@ilblackdragon having the latest state root only means that you know the transaction hasn't yet been processed. It could be that it will be processed in the next block for example.

[2020-04-17 02:05] nearmax opened #2491 "Replace nearcore/scripts with nearup"
Currently `nearup` has functionality that replaces the following scripts from `nearcore/scripts`:
* `start_localnet.py`;
* `start_testnet.py`;
* `start_unittest.py`;
* `stop.py`;

The following scripts are obsolete:
* `start_staging_testnet.py`;
* `start_stakewars.py`;

Also `nodelib.py` is currently re-implemented inside `nearup`. We need to de-duplicate this code by getting rid of as many script

[2020-04-17 02:13] bowenwang1996 commented on #2491
We still use `start_stakewars.py` in tests, which needs to be fixed.

[2020-04-17 10:00] ilblackdragon commented on #2488
Tx RPC is not suppose to wait for transaction to arrive into the block (and current implement doesn't do that either). Instead it should check if it exists currently.
There is a bug in current implementation - even if transaction doesn't exit and this is a single node, we still send request to network - which might even not have any peers.
I'll fix this.

[2020-04-17 11:41] Kouprin commented on #2464
I investigated the situation.
All deletions work properly. The issue is invalid because garbage_collection1.py catches what described in https://github.com/nearprotocol/nearcore/pull/2470 - for node 2 Sync Block is removed and Storage goes into invalid state. That's why I cannot reproduce it after commit https://github.com/nearprotocol/nearcore/commit/85ecbd44120043271a9e00b6a96cdb96f34e88fd.
BTW,

[2020-04-17 12:35] fckt commented on #1131
Right now, the tracking issue is https://github.com/nearprotocol/nearcore/issues/2055

[2020-04-17 13:16] ilblackdragon opened #2493 "Clearing data failing"
Running a validator on betanet:
[code]
and getting for every block an error `Block on canonical chain shouldn't have refcount 0`:
[code]

[2020-04-17 13:26] fckt commented on #1795
@mikhailOK what is was for and why it's not used anymore?

[2020-04-17 13:52] Kouprin commented on #2493
Resolved in #2416

[2020-04-17 14:35] bowenwang1996 commented on #2493
duplicate of #2449

[2020-04-17 14:35] #2493 closed

[2020-04-17 15:38] #2464 closed

[2020-04-17 15:52] ailisp commented on #2491
Hmm yes, in 100 node. i'll replaced it with direct call to genesis-csv-to-json, keypair-generator and neard.

[2020-04-17 15:55] ailisp commented on #2491
Also there's some scripts in use in ci and could be move to near-ops:
parallel_run_tests.py
parallel_run_coverage.py
testlib.py
docker_release.sh
binary_release.sh

[2020-04-17 18:38] bowenwang1996 commented on #2449
According to @Kouprin, this is fixed in #2416.

[2020-04-17 18:38] #2449 closed

[2020-04-17 21:30] ilblackdragon opened #2498 "Migrate state and configs by default"
Going forward we want to restart nodes and maintain data & configs folders without needing to do hard forks.
As part of the solution we want to auto-upgrade state and configs when new version runs.
Currently it actually can corrupt storage or fail with very weird errors.

Discussed with @bowenwang1996 offline, and suggestion:
 - When neard starts, first thing we load genesis as JSON and read the `

[2020-04-18 01:11] bowenwang1996 commented on #2498
I think we already agreed to use `protocol_version` to refer to the version of the protocol, i.e, two nodes with different protocol versions cannot talk to each other. So I think we shouldn't use protocol version here. `config_version` is an option, but we can also migrate based on binary version, which seems more appropriate to me since sometimes the config didn't change but what changed is the s

[2020-04-18 20:59] bowenwang1996 opened #2500 "StorageInconsistent state in pytest"
rpc_query.py fails with
[code]

[2020-04-18 21:59] maxzaver opened #2501 "Baseline costs for end-to-end transactions"
We need to have somewhere a place that shows examples of basic transactions and contract calls together with home much gas they take. For example: basic transfer, basic account creation, deploying 200KB contract, calling an empty contract method, calling a contract method with primitive arguments, calling a method with structured arguments, writing something into storage from the contract method,

[2020-04-19 00:03] bowenwang1996 commented on #2475
Do we actually need the list of all validators? It seems to me that having
[code]
is better because then if you want to know the stake of a specific validator, you don't need to iterate through all validators, which would be gas-consuming.

[2020-04-19 09:46] Kouprin commented on #2500
Can't reproduce it locally nor find `Trie node missing` error in Nightly. Test failed for another reason:
`Traceback (most recent call last):
  File "tests/sanity/rpc_query.py", line 30, in <module>
    assert False, result
AssertionError: {'jsonrpc': '2.0', 'error': {'code': -32000, 'message': 'Server error', 'data': 'Timeout'}, 'id': 'dontcare'}`

[2020-04-19 16:57] #1795 closed

[2020-04-19 17:32] bowenwang1996 commented on #2500
@Kouprin yes I'll investigate that separately, but if you run it several times it might fail with `StorageInconsistentState`

[2020-04-19 18:19] Kouprin commented on #2500
@bowenwang1996 got it. You provided a link to stderr, this is super helpful!

[2020-04-20 08:51] #2488 closed

[2020-04-20 09:19] ilblackdragon commented on #2139
This is closed now with state staking.

[2020-04-20 09:19] #2139 closed

[2020-04-20 16:06] ilblackdragon commented on #2441
Moved to  https://github.com/nearprotocol/near-ops/issues/15

[2020-04-20 16:06] #2441 closed

[2020-04-20 16:42] #2319 closed

[2020-04-20 21:13] mikhailOK commented on #2311
#2506

[2020-04-20 22:06] ailisp opened #2507 "Fix the very annoying `X` in build state"
codecov gives a very annoying `X` on our master branch. Still want to have a coverage number but want it to not show `X` even coverage decreased

[2020-04-21 01:03] #2291 closed

[2020-04-21 16:27] bowenwang1996 opened #2512 "State sync can potentially bring down a node"
State sync is quite resource intensive, especially for the node that is being synced from. I think ~5 peers syncing from the same node is probably sufficient to make the node stall or crash it entirely, which gives a potential vector of attack to the validating nodes. We should consider limiting the number of peers that can do state sync at a time.

[2020-04-21 17:05] evgenykuzyakov commented on #2475
Let's create a spec change in NEPs. I think we can go with the following API:
[code]

[2020-04-21 17:08] evgenykuzyakov commented on #2475
Voting contract can't iterate through all validators, because they might not be elected in a given epoch. The total amount of validators who tried to stake (but didn't get elected into 100 seats) can be huge. We can't possibly know who was elected in a current epoch, unless we tracked every single stake proposal from the previous epoch, so this is not the case.

It leaves us with the only option f

[2020-04-21 20:08] bowenwang1996 commented on #2475
@evgenykuzyakov I don't understand why the voting contract has to iterate through all validators. From my perspective, it is sufficient to know for each account id, what their stake is (0 if they are not a validator) and the total stake. With this information it is sufficient to determine whether a proposal has the majority of votes.

[2020-04-21 20:48] evgenykuzyakov commented on #2475
For this you have to iterate through all possible votes within an epoch. It means if the validator doesn't call the voting contract within this epoch, his vote will not be counted, unless you want to iterate through casted votes.

[2020-04-21 22:15] evgenykuzyakov commented on #2194
I guess it's always the following:
- transaction {
  gas_burnt,
  receipt_id
}
- One or many [receipt_id -> execution_outcome]

Every `ExecutionOutcome` contain list of `receipt_ids` that were spawned by this receipt. If a `receipt_id` is missing the corresponding `ExecutionOutcome` it means it's not processed yet.

How do you want to change it?

[2020-04-22 00:52] frol commented on #2194
@evgenykuzyakov @bowenwang1996 Here is the current `method=tx` response:

[code]

I suggest moving `transaction_outcome` back to the `receipts_outcome` (is it true that the "transcation receipt" hash equals to the transaction hash?):

[code]

[2020-04-22 02:51] bowenwang1996 commented on #2194
Do you mean receipt id? It will never be the same as transaction hash.

[2020-04-22 10:15] ilblackdragon commented on #2292
Moving to Phase 1, as what is left not blocking release for Phase 0.

[2020-04-22 10:15] ilblackdragon commented on #2440
Fixed by #2453

[2020-04-22 10:15] #2440 closed

[2020-04-22 10:17] ilblackdragon commented on #2402
Moving to Phase 1 as it is not blocking Phase 0 launch.

[2020-04-22 10:22] ilblackdragon commented on #2439
This was done a week ago at this point.

[2020-04-22 10:22] #2439 closed

[2020-04-22 10:25] ilblackdragon commented on #2284
At this point, is not blocking Phase 0 launch, moving the rest to Phase 1.

[2020-04-22 10:26] #2143 closed

[2020-04-22 10:26] ilblackdragon commented on #2143
This is done, from my understanding. Closing.

[2020-04-22 11:33] Kouprin commented on #2512
We should discuss and choose the most preferable way for resolving this. @mfornet could you please tell us which % of network use StateResponse queries? I want to figure out where is a bottleneck.
There are several ideas we can implement and combine together:
1. **Caching State Headers and Parts.** As Sync Hash may be only the very beginning of the epoch, caching may work perfectly for not recalcu

[2020-04-22 15:34] bowenwang1996 commented on #2512
I mostly agree with what you propose, but I think there is no need to do 5 right now unless we observe view client starving because 1) validating node will not serve rpc so view client is mostly free and 2) we mostly sync from peers that are validators.

[2020-04-22 19:02] #2395 closed

[2020-04-23 01:58] frol commented on #2194
I am moving this issue to the Icebox as it is not a blocker for the mainnet and it makes sense to do a full response refactoring:

* Consider avoiding `transaction_outcome` in the first place and just let the structure to be simple receipts with outcomes + transaction info
* Use [Adjacently tagged enums representation](https://serde.rs/enum-representations.html) (specificatlly, for Status and Acti

[2020-04-23 09:35] ilblackdragon commented on #2463
@nearmax The logs was just an observed example of actor being blocked.
Originally, we were planning to split Client Actor into more when we have a need. May be there is need now - but we should carefully design how we want this to look like.

@SkidanovAlex you mentioned, you were looking at this as well?

[2020-04-23 15:56] bowenwang1996 commented on #2463
I feel like refactoring client actor can help mitigate the problem, but doesn't fully solve it because they can still get blocked by network actors.

[2020-04-23 17:02] evgenykuzyakov opened #2516 "Need to add `transferable_amount` to host methods"
Because of the state staking, it's now hard to know what's the amount of tokens can be transferred out from the account without triggering the staked storage limits. It's desirable to have it within the contract to avoid function calls failing.

I suggest to introduce `transferable_amount` which is the amount of tokens that can be transferred out from the account using `transfer` action without fa

[2020-04-23 19:40] nearmax commented on #2463
We should be super careful about splitting client actor. Having all our stuff under one actor allowed us to avoid race conditions (which was a strategic design decision back in the days). We might resurface race conditions when cutting client actor into more pieces, and race conditions are really time-consuming to diagnose and fix. I suggest we postpone separation of the client actor into subactor

[2020-04-23 22:39] vgrichina opened #2517 "https://github.com/nearprotocol/nearcore/issues/2488"

[2020-04-23 22:39] #2517 closed

[2020-04-23 22:40] vgrichina opened #2518 "Critical UX/DevX issues checklist"
- [x] Tx status timeouts when transaction is missing https://github.com/nearprotocol/nearcore/issues/2488
- [x] Invalid transactions dropped from the pool don't have the error https://github.com/nearprotocol/nearcore/issues/2039
- [ ] nearlib sometimes sends 2 txns with the same nonce at once. 1 is guaranteed to fail.  https://github.com/near/near-api-js/issues/205
- [x] Access key allowance get c

[2020-04-24 01:45] kcole16 commented on #2292
Closed nearprotocol/near-wallet#407. Wallet now using TLAs that match the network

[2020-04-24 11:43] ilblackdragon opened #2521 "Connection reset by peer when peer is at capacity"
**Describe the bug**
When trying to connect to a node that already have max_peers, the connection gets reset without providing alternative peers. For bootnodes this leads to new peers not able to connect to network at all.

**To Reproduce**
1. Spin up a node A with max_peers=1.
2. Spin up a node B with normal max_peers and connect it to node A.
3. Spin up a node C, with boot node as A.
Observe C n

[2020-04-24 14:30] bowenwang1996 commented on #2521
I don’t think the situation you described is a bug. It seems to me that this is expected behavior. The problem with actual network is supposedly fixed in https://github.com/nearprotocol/nearcore/pull/2490

[2020-04-24 14:41] ilblackdragon commented on #2521
Why would this be an expected behavior? Boot nodes should respond with alternatives if they are too busy.

[2020-04-24 16:59] mfornet commented on #2521
@ilblackdragon The solution to this problem was described in #2395 and solved in #2490.

`max_peer` is a hard limit that should not be passed ever, but to address the issue when new peers try to connect we establish an ideal number of connections which should be strictly less than `max_peer`. If at any moment in time active connections is greater than ideal number of connections, some connections

[2020-04-24 17:06] mfornet commented on #2521
Also added a verification to the configs, since not every possible configuration will work. [Check it here](https://github.com/nearprotocol/nearcore/pull/2490/files#diff-b641e34503306b0eaee79d1eaeaccb68R763)

[2020-04-24 18:24] frol commented on #1881
The first steps in this direction are #2511 and #2520.

@SkidanovAlex @nearmax @ilblackdragon Do you have any objections against project refactoring? The code is not going to change, it should be just more clear folder naming towards better navigation around the project. I want to make the following steps (separate PR iterations):

1. Rename the crate folders to match the crate names (`chain/chain

[2020-04-24 20:09] SkidanovAlex opened #2522 "Fix epoch manager tests and test_challenge_in_different_epoch"
The tests was broken when NFG was removed. They attempt to build forks, which is not easily possible anymore.

In the epoch manager there are 24 tests that rely on this behavior.

The `test_challenge_in_different_epoch` is similarly broken. It is doing the following:

1\. Have two block proudcers create their own chains for two epochs.
 2\. Have each other kicked out in their corresponding chains

[2020-04-24 22:41] vgrichina commented on #2518
not sure who checked 2488 checkbox, but let's mark only stuff that is in production as "fixed" for purposes of this tracker

[2020-04-24 22:46] vgrichina opened #2523 "Access key allowance get charged for max allowed gas for tx instead what was spent"
**Describe the bug**
Access key allowance get charged for max allowed gas for tx instead what was spent.

My understanding (according to @evgenykuzyakov's investigation) is that we first charge attached gas per tx and then unspent gas gets refunded. It gets refunded for account, but not for access key allowance. This causes access key to run out of gas really quick.

**To Reproduce**

Try using an

[2020-04-25 06:51] mfornet commented on #2307
# Update

- Review block / header / state sync.
- Partially went through relevant methods in chain.
- Designing tests for coverage and edge cases.

[2020-04-25 17:35] bowenwang1996 commented on #2518
@vgrichina that is fair, but can you verify that it works now on betanet?

[2020-04-25 17:51] bowenwang1996 commented on #2521
Does this test exist?

[2020-04-25 23:09] vgrichina commented on #2518
@bowenwang1996 looks fine on betanet, except doesn't seem to be returning structured error:

[code]

[2020-04-26 08:04] mfornet commented on #2521
[It does exist.](https://github.com/nearprotocol/nearcore/blob/master/chain/network/tests/full_network.rs#L74)

[2020-04-26 17:34] bowenwang1996 commented on #2521
@mfornet what I meant is to test it on a larger scale. Say we have ~80 nodes in the network and they all boot from say 8 nodes, will the resulting network be healthy (no node reaching maximum capacity).

[2020-04-26 17:34] bowenwang1996 commented on #2518
@vgrichina is this an issue on nearcore side or near-api-js side?

[2020-04-26 17:38] bowenwang1996 opened #2526 "Investigate rocksdb cache size"
On testnet I observe that rocksdb alone consumes more than 2GB of memory. We need to understand the exact cache size of rocksdb under our current configuration and adjust it if necessary. Related to https://github.com/nearprotocol/nearcore/issues/1782

[2020-04-26 17:44] bowenwang1996 opened #2527 "runtime cache size"
We cache compiled wasm modules in near-vm-runner and cache size is 1024. However, there does not seem to be a size limit of the compiled wasm module, which means that this cache can potentially be very large, if exploited by an adversary. While there is a `no_cache` flag, it is not turned on by default and also I assume it will compromise performance.

[2020-04-26 21:48] ilblackdragon commented on #2521
Also @mfornet right now one can not change max_peers, because getting:
[code]
It seems like `IDEAL_CONNECTIONS_HI` as a constant:
[code]

[2020-04-26 22:56] bowenwang1996 commented on #2500
@Kouprin it should be reproducible locally now.

[2020-04-26 22:58] bowenwang1996 commented on #2431
@ilblackdragon is there any reason why this should be in phase 1? Moving to phase 2.

[2020-04-26 23:00] bowenwang1996 commented on #2432
@ilblackdragon given your comment, should this be in phase 2 instead?

[2020-04-26 23:01] nearmax commented on #2431
This needs to be done soon because we already have at least three different approaches for testing cross contract calls. Phase 1 requires having lots of complex contracts that need to be tested. While we can test without this change it is preferable to consolidate our contract testing approach soon. Moving back to Phase 1.

[2020-04-26 23:02] nearmax commented on #2432
See explanation here: https://github.com/nearprotocol/nearcore/issues/2431#issuecomment-619638419

[2020-04-26 23:11] nearmax commented on #2527
Wasm contract size is limited here: https://github.com/nearprotocol/nearcore/blob/05a82d8dd74531b21567623ab0e7e75946afea19/runtime/near-vm-logic/src/config.rs#L68

The size of the compiled contract should be proportional to the Wasm contract, at least on x86 architecture. CC @olonho to correct me if I am wrong.

[2020-04-27 00:27] nearmax commented on #1881
I agree, this is the kinda of stuff that slows down everyone and makes our code less appealing to external contributors. We discussed with @fckt that having a folder named "libraries" is kinda weird, given most of our crates are libraries, but on the second looks it looks ok.

[2020-04-27 01:44] bowenwang1996 commented on #2527
So potentially this cache can be 4GB large? That seems a bit too much.

[2020-04-27 02:12] nearmax commented on #2527
What is our target hardware?

[2020-04-27 14:55] bowenwang1996 commented on #2527
I think the minimum requirement is 4GB of memory https://docs.nearprotocol.com/docs/roles/validator/hardware

[2020-04-27 15:02] olonho commented on #2527
Indeed if we'll get rather large contract, it may exhaust our resources, and it's indeed unlikely that non-optimizing compilers may produce binaries disproportionally non-linear from input+dependencies size.

[2020-04-27 15:35] willemneal opened #2529 "Fails when passing arguments to call back function used in "then" promise"
**Describe the bug**

Using `promise.then` fails when arguments are being passed to the callback function.
The logs confirm that the args are encoded correctly.

[code]

**To Reproduce**
See https://gitpod.io/#https://github.com/near/near-sdk-as/tree/cross_contract_bug

It should fail on start, but to rerun `yarn test:vm`, or in the `vm` directory, `yarn ts-node test.ts`

The test is `vm/test.ts`

[2020-04-27 23:14] vgrichina commented on #2518
@bowenwang1998 on `nearcore` side:

[code]

[2020-04-27 23:53] ailisp commented on #2498
As of now if there's storage format change (like adding a column, but no change in genesis), we have to bump the protocol_version so nearup would detect protocol version change and delete data to create new storage from new genesis.
We should also record storage format version in db (equivalent to the migration table in a webapp), and any changes made to storage format need a rust migration script

[2020-04-27 23:58] bowenwang1996 commented on #2498
@ailisp please note that storage format change does not necessarily mean that the protocol version needs to change. For example if we do something with garbage collection, it is obviously not related to the protocol itself and should not result in a protocol version change. What we should do is to start using semver and bump major version when there is a storage format change and run migration scr

[2020-04-28 00:24] frol commented on #2518
@fckt Can you help us to set up the errors to be structured?

[2020-04-28 00:35] ailisp commented on #2498
I agree. What i described above is "as of now" because we have no way to migrate storage. And I suggest this "semver" should be stored in storage (like migration table). neard binary or script is aware of version of neard binary and the version of storage format (stored in storage) so it can take action once there's a difference. it's necessary because user can secretly upgrade neard binary.

[2020-04-28 00:39] bowenwang1996 opened #2534 "Incorrect counting of chunk produced"
When the block at height `h` is not produced, chunk producer at height `h+1` cannot produce their chunk and we do not account for this when counting the number of expected chunks, which causes some validators to be incorrectly kicked out.

[2020-04-28 00:54] bowenwang1996 opened #2536 "Update RPC error schema"
According to https://github.com/nearprotocol/nearcore/issues/2518#issuecomment-619452654, when we query a transaction and it doesn't exist, we do not return a structured error, which causes problems in downstream applications. We need to update the rpc error schema to make the errors structured.

[2020-04-28 00:55] #2039 closed

[2020-04-28 01:23] bowenwang1996 commented on #2498
😂

[2020-04-28 01:39] #2534 closed

[2020-04-28 05:21] mfornet commented on #2521
@ilblackdragon IDEAL_CONNECTIONS is a constant, I can move it to config, for the sake of manually testing. This has the drawback of polluting the config file. Why are you setting `max_peer` to 1?

In general one node might not work good if the NetworkConfig is misconfigured, that is why it is enforced on runtime, but it can work. So one option is displaying errors without panic. This has the drawb

[2020-04-28 11:18] ilblackdragon commented on #2498
@ailisp that is the proposal, if we use binary version - we need to store the one that was used to produce database somewhere in the first place.

Right now opening DB requires specifying stuff, and if the config mismatches it does some weird recovery and corrupts things. How will we be opening DB in such a way to not trigger this and still read out the version?

I suggest we just use a separate f

[2020-04-28 14:38] bowenwang1996 commented on #2521
@mfornet there is no reason that `max_peer` is in config while the number of ideal connections are not. In fact, we may change the number 40 if we think it doesn't work well. If you do not want to put them in config you can derive them from `max_peer` using some pre-defined formula. Also please see my earlier comment on testing https://github.com/nearprotocol/nearcore/issues/2521#issuecomment-6195

[2020-04-28 15:00] bowenwang1996 commented on #2021
@ilblackdragon @SkidanovAlex Is there any reason to keep this issue open? I think we can close it in favor of #2380.

[2020-04-28 16:37] ailisp commented on #2498
ppl can arbitrarily break stuff, but we should care cases when they're not intentionally and easy to break things. It's likely
- they download a newer version of near and use it with a older storage (bypass nearup)
- they backup the data. nearup get new binary, replace the data with their backup

it's therefore more robust check and migrate based on
genesis protocol version - storage version store

[2020-04-28 16:48] SkidanovAlex opened #2539 "Nightly failure: contracts/gibberish.py"
Fails every time. Some runs where it fails:

http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_102644
http://nightly.neartest.com/run/f625606891dec008a572ca61ec37da500c2a95cd_200428_135923

The particular failure:

[code]

[2020-04-28 16:51] SkidanovAlex opened #2540 "Nightly failure: sanity/gc_sync_after_sync.py times out"
Times out every time. Both with and without `swap_nodes` passed.

Example runs:

http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_102644
http://nightly.neartest.com/run/f625606891dec008a572ca61ec37da500c2a95cd_200428_135923

[2020-04-28 16:54] SkidanovAlex opened #2541 "Night failure: sanity/rpc_state_changes.py"
Fails every time. Example run:

http://nightly.neartest.com/run/f625606891dec008a572ca61ec37da500c2a95cd_200428_135923

Failure:

[code]

[2020-04-28 16:58] SkidanovAlex opened #2542 "Nightly failure: sanity/restaked.py"
Got broken between 38d54b and 2cef41.

Fails consistently since then. Example runs:

http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_102644
http://nightly.neartest.com/run/f625606891dec008a572ca61ec37da500c2a95cd_200428_135923

Failure:

[code]

[2020-04-28 17:01] SkidanovAlex opened #2543 "Nightly failure: sanity/block_sync.py"
Fails consistently. Example runs:

http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_102644
http://nightly.neartest.com/run/f625606891dec008a572ca61ec37da500c2a95cd_200428_135923

Failure:

[code]

[2020-04-28 17:05] SkidanovAlex opened #2544 "Nightly failure: sanity/rpc_query.py"
Fails ocasionally. Example runs:

http://nightly.neartest.com/run/f625606891dec008a572ca61ec37da500c2a95cd_200428_135923
http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_072213

Failure:

[code]

In this run:
http://nightly.neartest.com/run/b693daeca9a871c0fd96cf9960551a047597c403_200427_140713

It caused the third node to crash:

[code]

[2020-04-28 17:08] SkidanovAlex opened #2545 "Nightly failure: sanity/lightclnt.py"
Fails consistently. Example run:

http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_072213

Failure:

[code]

[2020-04-28 17:13] SkidanovAlex opened #2546 "Nightly failure: sanity/skip_epoch.py"
Fails consistently. Example run:

http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_072213

Nodes don't start.

[2020-04-28 17:15] SkidanovAlex opened #2547 "Nightly failure: sanity/state_sync_routed.py manytx 100 times out"
Times out consistently. Example runs:

http://nightly.neartest.com/run/f625606891dec008a572ca61ec37da500c2a95cd_200428_135923
http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_102644

[2020-04-28 17:19] SkidanovAlex opened #2548 "Nightly failure: sanity/state_sync2.py"
Fails occasionally. Example runs:

http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_102644
http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_072213

Hits an internal timeout.

[2020-04-28 17:23] SkidanovAlex opened #2549 "Nightly failures: sanity/staking2.py and sanity/staking_repro2.py"
Fails rarely. Example runs for `staking_repro2`:

http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_035216
http://nightly.neartest.com/run/f625606891dec008a572ca61ec37da500c2a95cd_200428_135923

For `staking2`:

http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_102644

Evidently fails to process one of the staking transactions in time?

[2020-04-28 17:26] SkidanovAlex opened #2550 "Nightly failure: sanity/transactions.py"
Fails occasionally. Example runs:

http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_102644
http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_072213

Failure:

[code]

Sent at height is very often == 9 (mod 10), though in at least one run it was == 0 (mod 10)

[2020-04-28 17:29] SkidanovAlex opened #2551 "Nightly failure: test::test_smart_contract_self_call_testnet"
Fails consistently since b6dbf4

Example run:
http://nightly.neartest.com/run/f625606891dec008a572ca61ec37da500c2a95cd_200428_135923

Failure:

[code]

[2020-04-28 17:31] SkidanovAlex opened #2552 "Nightly failure: test::test_highload"
Fails consistently.

Example run:
http://nightly.neartest.com/run/f625606891dec008a572ca61ec37da500c2a95cd_200428_135923

Failure:

[code]

[2020-04-28 17:32] SkidanovAlex opened #2553 "Nightly failures: doomslug tests timeout / fail"
Consistently. Example run:

http://nightly.neartest.com/run/f625606891dec008a572ca61ec37da500c2a95cd_200428_135923

[2020-04-28 17:34] SkidanovAlex opened #2554 "Nightly failure: test_catchup_receipts_sync_third_epoch"
Times out occassionally. Example runs:

http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_035216
http://nightly.neartest.com/run/1aea93d3cbcc83e45c84b533f9746527ec7caabc_200427_205649
http://nightly.neartest.com/run/67104c495994de5723804c2a22b59f54cf531680_200427_171952

[2020-04-28 17:46] SkidanovAlex opened #2555 "Nightly failure: basic tests fail"
Earlier runs:

churn_attack:
http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_072213

test_validator_kickout:
http://nightly.neartest.com/run/1aea93d3cbcc83e45c84b533f9746527ec7caabc_200427_205649/basic/basic/stdout

All the recent runs fail the same way:

test_sync_from_archival_node:
http://nightly.neartest.com/run/67104c495994de5723804c2a22b59f54cf531680_200427_17

[2020-04-28 17:52] SkidanovAlex opened #2556 "Nightly failure: *rc <= storage_rc"
Run: http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_102644

`transaction.py`, see `log3`:

[code]

[2020-04-28 18:04] bowenwang1996 commented on #2498
@ailisp I think you didn't answer the question of where to store the storage version.

[2020-04-28 18:06] bowenwang1996 commented on #2544
The actual failure is `StorageInconsistentState: TrieNodeMissing`, which is described in this issue https://github.com/nearprotocol/nearcore/issues/2500

[2020-04-28 18:09] bowenwang1996 commented on #2556
likely the same issue as https://github.com/nearprotocol/nearcore/issues/2500

[2020-04-28 18:30] #2548 closed

[2020-04-28 19:30] mikhailOK commented on #2550
http://nightly.neartest.com/run/2cef4105736ab969470df2751e78fd3f0fc0a81d_200428_072213

- there is a tx for shard 0 sent at height `59`. The test sends transactions to `test0`.
- Epochs: `42..51`, `52..61`, `62..71`, `72+`
- for heights `42..71` shard 0 chunks are produced by `test2`
- for heights `72+` shard 0 chunks are produced by `test0`, and tx correctly gets included at height `72`

The test

[2020-04-28 19:32] mikhailOK commented on #2550
@bowenwang1996

[2020-04-28 19:42] mikhailOK commented on #2550
Sounds like the fix is to also check that epoch switch is possible
[code]

[2020-04-28 19:47] bowenwang1996 commented on #2550
@mikhailOK yes I forgot to add the check that epoch switch is possible

[2020-04-28 19:52] mikhailOK commented on #2550
@bowenwang1996 actually why is the change to active_validator needed at all? `test_tx_forward_around_epoch_boundary` passes without it.

[2020-04-28 20:14] #2539 closed

[2020-04-28 20:14] #2551 closed

[2020-04-28 21:09] #2541 closed

[2020-04-28 22:47] #2527 closed

[2020-04-28 22:52] mikhailOK opened #2563 "StateChanges can break if there is more than one shard"
#1910 introduces StateChanges, with the idea that a node should store all changes to the state.

Each shard has its own state transition and set of changes, and a node can track only a subset of all shards. The way the current implementation works is it flattens the sets of changes for all known shards, and writes them to `ColStateChanges` using the following code:
[code]
This can cause a conflict

[2020-04-28 22:59] mikhailOK opened #2564 "GC doesn't work when there is more than one shard"
Similar to #2563, there is one set of TrieChanges per block per shard, but the GC code uses `block_hash` as key, effectively storing changes for one arbitrary shard for each block:
[code]

We should be mapping from `chunk_hash` or `(block_hash, shard_id)`.

[2020-04-28 22:59] evgenykuzyakov commented on #2563
Good point. We should probably filter `trie_key` types before writing those changes to the state. `DelayedReceiptIndices` and  `DelayedReceipt` are shard specific.

[2020-04-28 23:03] mikhailOK commented on #2564
In theory this should be causing garbage leaks rather than deleting too much (#2500 #2544 #2556), so there must be more bugs

[2020-04-28 23:05] #2543 closed

[2020-04-28 23:55] ailisp commented on #2498
@bowenwang1996 I suggest store in storage

This works too, but i suggest we store it in col_40 in db. in db it's harder to mess up and enforce a rust migration script to update it (as it touch other columns in db)

[2020-04-29 00:33] fckt commented on #1881
I'd suggest the following adjustment. We can have a `near` folder to hold all the `near-*` components.

[code]

[2020-04-29 00:44] SkidanovAlex commented on #2547
Assigning to Marcelo.

Locally sometimes the test passes, sometimes fails triggering the assert

`assert tracker4.count("Consolidated connection with FullPeerInfo") == 2`

and sometimes gets stuck at the end waiting for `test4` to get their balances updated.
In the logs of `test4` I see this repeatedly:

`Some("test4") Drop signed message to PeerId(ed25519:He7QeRuwizNEhBioYG3u4DZ8jWXyETiyNzFD3MkTj

[2020-04-29 00:49] SkidanovAlex commented on #2556
Failed again in the latest run:
http://nightly.neartest.com/run/78065f8fbb864c518179efe5150c65fc3d2b23e4_200429_001719

[2020-04-29 01:06] bowenwang1996 commented on #2498
But when you try to detect if the current binary version match the version in storage, don't you need to open the database first? But I think if the number of columns changed it will crash there.

[2020-04-29 01:26] mikhailOK opened #2568 "Trie refcount bug"
- Trie nodes are stored in storage with refcounts
- TrieChanges stores a delta of refcount
- StoreUpdate stores a database transaction with exact writes of refcount
- Applying TrieChanges to storage reads refcount from storage, increments it by delta and creates a write for StoreUpdate
- Writing multiple TrieChanges into StoreUpdate in a single transaction will always read refcount before the tran

[2020-04-29 01:41] mikhailOK opened #2569 "GC + shard rotation leaks"
GC is designed around the invariant that there is a set of blocks from tail to head,
 each block stores a set of changes, and storage supports adding to head and removing from tail.

To support this invariant for the case of state sync there is also a special case in the code:
 on client startup it runs initial syncing job, which nukes the whole storage, downloads a state,
 and sets tail=head=sync

[2020-04-29 01:49] mikhailOK opened #2570 "GC and genesis state"
`clear_block_data` has special logic where it refuses to do its work for the block on top of genesis:
[code]

As we apply deletions for blocks on canonical chain, the old states inevitably become invalid - applying a block at height `5` can delete some nodes created by genesis.
If this logic is meant to persist genesis state forever, it doesn't work.
We should either un-specialcase it, or if the g

[2020-04-29 02:12] frol commented on #1881
@fckt Given the project is nearcore, it implies that everything in the repository is related to near. Thus, "near" as a folder name does not introduce any clarity (the same way I don't really like `chain/chain` and `runtime/runtime`). It has its benefit of pulling some of the root folders inside, but `utils` and `test-utils` left behind.

[2020-04-29 05:32] vgrichina opened #2572 "nearcore doesn't always return structured errors"
**Describe the bug**

When submitting transaction nearcore at least sometimes returns structured errors (usually unfortunately just Timeout). When making a contract method view call – non-structured errors are returned. This may apply to other calls as well – investigation is needed on which RPC calls are affected.

**To Reproduce**
Make a view call on any contract that results in error.

**Expect

[2020-04-29 05:34] vgrichina commented on #2572
[code]

[2020-04-29 07:51] sl-he opened #2573 "Failed to open the database: DBError(Error { message: "Invalid argument: You have to open all column families. Column families not opened: col38, col37" })', core/store/src/lib.rs:232:23"
**Describe the bug**
Failed to open the database: DBError(Error { message: "Invalid argument: You have to open all column families. Column families not opened: col38, col37" })', core/store/src/lib.rs:232:23

**To Reproduce**
1. run _curl --proto '=https' --tlsv1.2 -sSfL https://up.near.dev | python3 && source $HOME/.nearup/env && nearup betanet && docker logs --follow nearcore_
2. View bug

**Scr

[2020-04-29 12:14] fckt commented on #1881
The idea is to associate crates which are the core components (direct dependencies) of neard process and their dependencies.

But not all of crates are the direct dependencies of neard, there is a lot of supplementary crates.

The following crates make up the system and these can be naturally form a list of the core components:

[code]

[2020-04-29 15:27] bowenwang1996 commented on #2570
@mikhailOK is this just suboptimal code or does it actually break something as it is written now?

[2020-04-29 15:34] bowenwang1996 commented on #2573
It is possible that docker failed to pull the latest image. Can you manually do `docker pull nearprotocol/nearcore:beta`?

[2020-04-29 16:14] bowenwang1996 opened #2575 "Fix stress.py in nightly"
We disable `stress.py` in nightly for now and need to fix and re-enable it.

[2020-04-29 16:15] mikhailOK commented on #2570
just suboptimal - seems like we assume genesis state is always there when in reality it gets corrupted and should never be used

[2020-04-29 16:16] bowenwang1996 opened #2576 "Fix lightclnt.py in nightly when light client change is done"
We disable `lightclnt.py` for now because light client spec has changed and the new spec needs to be reviewed and implemented.

[2020-04-29 16:20] bowenwang1996 commented on #2572
duplicate of #2536

[2020-04-29 16:20] #2572 closed

[2020-04-29 16:22] SkidanovAlex commented on #2540
Reopening, `swap_nodes` still times out

http://nightly.neartest.com/run/650ac70cfb3474fab3658057804aee5a22be78e1_200429_141007

[2020-04-29 16:31] #2545 closed

[2020-04-29 18:09] bowenwang1996 commented on #2547
So it seems to me that the reason that the test fails is because we do not route `PartialEncodedChunkRequest` properly, or maybe it is intended and this test is just not well written. What happens is that `test4` tries to request chunks from `test0`, but `test0` is on the blacklist of `test4`, so while `test4` knows the existence of `test0`, it cannot send messages to `test0` and we don't route th

[2020-04-29 18:22] #2563 closed

[2020-04-29 19:46] ailisp commented on #2498
There's a function to get all column families (i used it in backup tool so backup tool doesn't need to upgrade as we add columns). we can open with all families to read db version from db

[2020-04-29 19:59] sl-he commented on #2573
Yes, i try to pull docker image manually. Same error...

[2020-04-29 23:56] bowenwang1996 commented on #1881
Where does the neard go under this separation @frol ? Also I think we can merge utils and test-utils (those that are not test utils in utils should probably go to tools).