[2019-12-03 15:08] nearmax commented on #1600
@ilblackdragon Could you also provide a format of the response?

[2019-12-03 16:23] nearmax commented on #1600
@frol Here are the discussed work items:

* Replace `TrieUpdate::committed` with a `Vec<(Vec<u8>, CryptoHash, Option<Vec<u8>>)>` or `BTreeMap<Vec<u8>, Vec<(CryptoHash, Option<Vec<u8>>)>>`, where `CryptoHash` is the has of the receipt that introduced the change;
* Change `TrieUpdate::commit` to accept the `CryptoHash` of the receipt/transaction that introduced the change;
* In `TrieUpdate::commit`

[2019-12-03 20:58] #1675 closed

[2019-12-03 21:52] vgrichina opened #1813 "Confusing error message when trying to create account with dot in name"
E.g.

[code]

It's not clear at all why `test.near` cannot create `test1575403261.542072580`. Error should explain that only account `542072580` can create such "sub account" and/or point to relevant docs on accounts.

[2019-12-04 17:30] mikhailOK commented on #1810
The weird heuristic implements this NEP: `https://github.com/nearprotocol/NEPs/pull/6/files`

[2019-12-04 18:31] ailisp opened #1820 "Depreciated rand_os crate and outdated rand/rand_core crate"
rand_os is currently required by ed25519-dalek crate, waiting it to be updated in upstream

cc @nearmax

[2019-12-05 02:24] ailisp opened #1822 "Debug build cargo build -p near doesn't fully work when copy to another computer"
`near init` and `near run` seems to work. But `near testnet` doesn't. From a recent staging build:
[code]

[2019-12-05 11:36] Kouprin opened #1824 "Unexpected error msgs in state_sync"
`cargo test --color=always --all-features --package near --test sync_state_nodes sync_empty_state -- --exact --nocapture`

Test passes but with state sync error messages:
[code]
Appeared after commit `a5ab748f3484b19112932ac63fa72917e47ee2ce` but NOT related to it.
The problem is that `NetworkRequests::StateRequest` doesn't reach requested target.

[2019-12-05 19:08] ailisp commented on #1822
Problem seems to be `Genesis::test_with_seeds`. It loads `test_contract_rs.wasm` in a host specific location at run time. This is likely affected our docker images besides release binary build. A possible fix will be load the content at compile time

[2019-12-05 23:32] ailisp commented on #1822
fixed in #1826

[2019-12-05 23:32] #1822 closed

[2019-12-06 22:26] nearmax opened #1829 "Contract Examples and Metrics"
We need to have examples of typical blockchain contracts and we need to study these contracts: how much gas use, how much TPS they allow, how many cross-contract hops do they take.

[2019-12-07 00:23] ilblackdragon opened #1830 "Progressive slashing for double signing"
Currently we slash 100% of the stake right away.
Discussion of pros and cons of 100% slashing: https://forums.solana.com/t/100-slashing-a-proposal-discussion/256/3

Double signing blocks has largest risk on misconfiguration and software issues.
Suggestion for double sign to slash in next way:
 - As soon as double sign challenge is recorded, the validator is jailed.
 - At the end of epoch, slashing

[2019-12-07 22:23] vgrichina commented on #1335
@mikhailOK any update?

[2019-12-08 00:10] ilblackdragon commented on #978
@evgenykuzyakov is this still an issue?

[2019-12-09 03:54] nearmax commented on #1830
Is this a typo? It should be:

This means that if 33% of stake double signed - all 100% get slashed.

[2019-12-09 03:56] bowenwang1996 commented on #1830
I think it meant all of that 33% stake is slashed, but it could be more clear.

[2019-12-09 06:15] nearmax commented on #1723
For the reference: https://docs.google.com/spreadsheets/d/1CXUQLlfGWXAO1l5qbHhwylc4JIUIrQB4BDaACagMYEU/edit

[2019-12-09 06:32] nearmax commented on #1578
This is done, closing.

[2019-12-09 06:32] #1578 closed

[2019-12-09 07:17] nearmax commented on #1759
Discussed offline. For lockup contracts we don't need to add a separate access key type, the contracts can easily have their code extended to support staking-only keys.

In general, if we want to have such functionality outside the smart contract then I think we should extend the access key itself instead of modifying the `Staking` transaction. I propose that we change [AccessKeyPermission]() to b

[2019-12-09 07:18] nearmax commented on #1746
@ailisp Is this fixed now?

[2019-12-09 15:17] ailisp commented on #1746
Not yet

On Sun, Dec 8, 2019 at 11:18 PM Maksym Zavershynskyi <
notifications@github.com> wrote:

[2019-12-09 17:05] Kouprin commented on #1824
It is `network_adapter.send(NetworkRequests::StateRequest)` issue. Not related to State Sync.
Reproducing steps:
1. In StateSync::request_shard() find the code which calls `self.network_adapter.send()`
<img width="730" alt="Screenshot 2019-12-09 at 19 57 37" src="https://user-images.githubusercontent.com/5685493/70455949-3ac02200-1abe-11ea-87c8-14fad09332f1.png">
2. In ClientActor::handle() find t

[2019-12-09 18:46] evgenykuzyakov opened #1836 "Investigate check_blocks_on_same_chain"
@nearmax has concerns about `check_blocks_on_same_chain`

[2019-12-09 19:03] bowenwang1996 commented on #1836
What is the concern?

[2019-12-09 19:30] bowenwang1996 commented on #1824
looks like it is not propagated through the network. @mfornet can you take a look?

[2019-12-09 19:35] bowenwang1996 opened #1837 "fork_sync test stopped working"
After some recent change `fork_sync.py`, which tests that forks should be resolved when nodes sync to each other, fails without timeout error. It seems that one node always gets stuck in state sync.

[2019-12-09 21:53] evgenykuzyakov opened #1838 "Malicious shard might create hash conflicts in receipts"
if a shard is completely compromised it can produce a receipt with a conflicting hash. E.g. the hash might conflict either with some other receipt or with a transaction. For a transaction it would trigger failed to decode during borsh. For a receipt we might return a wrong receipt or have receipt conflicts.
Eventually it will be challenged and reverted, but we need to make sure it doesn’t crash th

[2019-12-09 22:40] nearmax commented on #1292
We now have tests for the boundary, but we should actually fuzz it.

[2019-12-10 03:35] evgenykuzyakov commented on #1836
It's in https://github.com/nearprotocol/nearcore/pull/1756

[2019-12-10 04:06] ilblackdragon commented on #1830
Correct, all 100% of that 33% should be slashed.

[2019-12-10 04:39] nearmax opened #1839 "Error messages refactoring"
Fixes: #978 and #1813

### Overview

As discussed with @vgrichina @evgenykuzyakov @frol @fckt @janedegtiareva , we want the node RPC to return structured error messages, e.g. like these:
[code]
And we want the front-end and the Applayer to implement the conversion of the structured error messages to human-readable error messages, like these:
[code]
More specifically we want nearlib to implement th

[2019-12-10 10:33] frol commented on #1839
I feel somewhat uneasy about the proposed error message structure:

[code]

I have experience working with this format in Actions (stored in Transactions). To get a type of the error I have to query the object keys and use the first key:

[code]

The first line makes a hard to enforce assumption that there is exactly one key in the object.

TypeScript definitions are even more troublesome (extract

[2019-12-10 12:57] fckt commented on #1839
I like the format @frol proposed.  It's better for TypeScript. One thing which is a bit confusing is that we have a `details` field which contains a different types of object (outer "details" field is an Error type with details, inner "details" field is arguments ). What do you guys think about this?

[code]

[2019-12-10 13:40] frol commented on #1839
Another thought: keep the initially proposed structure (it is compact and the kind/type is tightly linked with the inner value [details / args / cuase]) and implement JS-friendly transformation on the nearlib side.

Ideally, we should be able to auto-generate the public API spec including the OK responses as well as error responses, and then auto-generate the low-level API libraries (`json-rpc-pro

[2019-12-10 14:30] frol opened #1840 "Nearcore running in Docker container does not sent telemetry data"
A few people reported in Discord that they don't see their nodes in Explorer. After some investigation, I realized that the issue is the Docker environment (the locally built binary and Docker image from the same commit result in that nearcore running in Docker container does not report telemetry data while running it on the host system works just fine).

I will investigate it further.

/cc @bowen

[2019-12-10 14:37] frol commented on #1840
I guess it is related to SSL certificates, so it just cannot establish HTTPS connection.

[2019-12-10 14:40] frol commented on #1840
Yeah, that was a missing `ca-certificates` package.

[2019-12-10 17:49] nearmax commented on #1839
Thanks for giving useful insight on what is usable with JS/TS.

@frol

@fckt

Both proposed formats are pretty straightforward with serde: https://serde.rs/enum-representations.html

JSON is easier to implement and maintain than a custom format. Also, it works only when the hierarchy of the errors messages is composed purely of Rust enums, except for the bottom-most errors. For example, suppose th

[2019-12-10 20:14] dmitrykurochka opened #1843 "Confusing error message"
In respond to call `callPromise` method with args:
let args: [String: Any] = ["receiver": contractName1,
                                       "methodName": "callbackWithName",
                                       "gas": 300000,
                                       "balance": 0,
                                       "callbackBalance": 0,
                                       "callbackGas":

[2019-12-10 20:47] ailisp commented on #1820
https://github.com/dalek-cryptography/ed25519-dalek/issues/104 is resolved. wait for their formal 1.0.0 to update here

[2019-12-11 00:01] #1840 closed

[2019-12-11 01:06] SkidanovAlex opened #1846 "Remove the 1ms hackery in `adjust_weight`"
`adjust_weight` now only adjusts the time that passed since 1ms from now. This 1ms exists so that the tests (that create blocks within nanoseconds from now) don't get affected by pro-rating.
It needs to be done in some other way. Either by adding some way for tests to change current time, or by pushing genesis into the past instead of pushing now into the future.

[2019-12-11 18:38] evgenykuzyakov commented on #1461
There are still some places that we missed with the #1662. E.g. storage compute
I'll add a TODO in the code

[2019-12-11 19:16] evgenykuzyakov opened #1850 "Runtime has to validate all new incoming receipts before applying them"
The validation should check for account ID validity, and other limits.
Depends on #1692

[2019-12-11 19:47] evgenykuzyakov commented on #1692
Limiters are needed for

- [ ] Max burnt gas per view method
- [ ] Max prepaid gas per function call
- [ ] Max number of actions per receipt
- [ ] Max length of allowed method names
- [ ] Max length of a method name
- [ ] Max length of returned data
- [ ] Max contract size
- [ ] Max storage key size
- [ ] Max storage value size
- [ ] Max number of promises that a function call can create
- [ ] Max

[2019-12-12 01:37] #1801 closed

[2019-12-12 01:38] ailisp commented on #1801
Fixed in #1823

[2019-12-12 01:40] ailisp commented on #1802
Tests are stable and faster when run in docker pool locally but some timeouts on gitlab ci. #1823

[2019-12-12 15:12] Kouprin commented on #1837
[code]
Is it expected behavior? I ran it twice and got the same.

[2019-12-12 17:46] SkidanovAlex opened #1855 "Chunks parts should 1 per seat, not 1 per unique block producer"
Presently the `num_total_parts` is the number of *unique* block producers, and thus each unique block producer gets one part.

The issue is that if honest block producers staked a lot, and malicious block producers split their stake into many unique accounts, we will result with malicious actors getting disproportionally many parts assigned to them, and they can violate data availability.

`get_to

[2019-12-12 18:02] Kouprin commented on #1837
@bowenwang1996 reproduced it locally and sent me [stderr.txt](https://github.com/nearprotocol/nearcore/files/3957173/stderr.txt)
There are lines found in the log:
[code]
It may be related to https://github.com/nearprotocol/nearcore/issues/1824.
It looks weird that `He7QeRuwizNEhBioYG3u4DZ8jWXyETiyNzFD3MkTjDMf` tries to send StateRequest to itself.

[2019-12-12 19:56] evgenykuzyakov opened #1858 "Transactions on a shard can be blocked with high probability for long time"
The way we implemented the transaction ordering might have a flaw with the order relies on the hashmap. If the shard has low transaction gas limit, then there can be only a few transactions per block. If all of these transactions don't modify the keys (account, public key) of the mempool, then it might reuse the same keys for the next block as well instead of rotating keys. So your transaction can

[2019-12-12 20:07] evgenykuzyakov opened #1859 "Change priority for receipts"
Current priority for receipts are the following:

1) Delayed receipts (from the previous blocks, that we were not able to process because of gas limit)
2) New Local receipts (generated by new transactions, where signer is receiver)
3) New Incoming receipts (from chain)

The issue is the shard might be overloaded with a lot of incoming receipts, so there is a huge backlog of receipts. This might no

[2019-12-13 02:25] wetezos opened #1860 "near login have an error"
near version:near-shell@0.16.0

login error:

Please enter the accountId that you logged in with:wetez
Error: Querying access_key/wetez/ed25519:6HfPNi9CCv3a2cEbskxwsWAuSGVxLknsDzYn2CF7hW4u failed: access key ed25519:6HfPNi9CCv3a2cEbskxwsWAuSGVxLknsDzYn2CF7hW4u does not exist while viewing.
{
  "block_height": 102120,
  "error": "access key ed25519:6HfPNi9CCv3a2cEbskxwsWAuSGVxLknsDzYn2CF7hW4u does

[2019-12-13 09:04] Kouprin opened #1861 "Parallel coverage fails in CI and blocks merging"
May be related to https://github.com/nearprotocol/nearcore/pull/1823.
[code]
Example https://gitlab.com/near-protocol/nearcore/-/jobs/378366962.

[2019-12-13 09:23] Kouprin commented on #1824
Appeared because of https://github.com/nearprotocol/nearcore/pull/1806.

[2019-12-13 10:58] Kouprin commented on #1824
I investigated the situation more carefully.
It's NOT related to `a5ab748f3484b19112932ac63fa72917e47ee2ce` but appears after
[code]
It's definitely NOT related to State Sync.

[2019-12-13 11:00] Kouprin commented on #1837
Blocked by https://github.com/nearprotocol/nearcore/issues/1824.
May be the same issue.

[2019-12-13 13:27] Kouprin commented on #1861
https://gitlab.com/near-protocol/nearcore/-/jobs/377771049
same for another PR

[2019-12-13 16:35] andreisid opened #1862 "can't grant access no near shell"
![image](https://user-images.githubusercontent.com/12342269/70815893-08246b00-1dd7-11ea-9b76-33f26843df76.png)

steps:
-./scripts/start_stakewars.py --init --signer-keys --account-id=moonlet1
-download accounts.csv
-  ./scripts/start_stakewars.py
-create moonlet2 wallet account on https://wallet.tatooine.nearprotocol.com/
-near login
-follow the link and grant access

[2019-12-13 18:42] ailisp commented on #1861
It''s fixed in #1856

[2019-12-13 20:05] ailisp commented on #1746
reed-solomon is using pure rust now. I was always lack a way to test illegal instructions. Today find a very handy tool: https://software.intel.com/en-us/articles/intel-software-development-emulator

[2019-12-13 21:28] mfornet commented on #1824
@Kouprin The problem with this test is that the `node2` start to fetch state too fast, before receiving announce account from `node1`, so `RequestState` message is dropped.

The current policy about message targeted to non existent peers/account in the routing table is dropping them, though we can do something smarter such as storing this messages in a temporary cache and if we discover route to t

[2019-12-13 22:00] ailisp commented on #1746
parity-rust-rocksdb-sys support pass a portable flag, but rust-rocksdb-sys does not, which is the major blocker prevent us build a portable binary: https://github.com/rust-rocksdb/rust-rocksdb/issues/363

[2019-12-13 22:08] ailisp commented on #1746
checklist:
 - [] cexpr-0.3.6
 - [] reed-solomon-erasure-3.1.1
 - [] brotli-sys-0.3.2
 - [] jemalloc-sys-0.3.2
 - [] ring-0.16.9
 - [] librocksdb-sys-6.2.4
 - [] ipconfig-0.2.1
 - [] backtrace-sys-0.1.32
 - [] sysinfo-0.10.2
 - [] sysinfo-0.9.5
 - [] miniz-sys-0.1.12
 - [] ring-0.14.6
 - [] parity-secp256k1-0.7.0
 - [] wabt-sys-0.7.0
 - [] reed-solomon-erasure-4.0.1
 - [] clang-sys-0.28.1

[2019-12-13 22:49] ailisp opened #1864 "Replace parity deps"
Not sure we're going to do this, we have three last parity dependencies:
- parity-scale-codec
- parity-secp256k1
- parity-wasm

[2019-12-14 19:05] DanielRX commented on #1839
Isn't the way to type this:

`Action = {DeleteKey: DeleteKey} | {CreateAccount: CreateAccount} | ...`
There is a way to make the union strict, so this would then only match one of those objects for each action? @frol

[2019-12-14 21:11] frol commented on #1839
@DanielRX Nice catch! For some reason, the idea has never occurred to me.

[2019-12-14 21:42] DanielRX commented on #1839
@frol  This also works for exhaustive checking of unions:

![union](https://user-images.githubusercontent.com/16984675/70854925-7a21b080-1eba-11ea-80e1-b54f0631aaaf.png)

The first safely checks that the key `y` exists, and then safely uses `x.z`
The second causes a type error due to `z` not being a key that exists on all the possible elements of the union.

Which means you can do things like `han

[2019-12-14 21:45] DanielRX commented on #1839
I should also mention, your solution with `kind` is also typable in the same way:
![kind-union](https://user-images.githubusercontent.com/16984675/70854959-fe743380-1eba-11ea-87f1-8a7bda2fde2d.png)

So you don't need to require either format for safety in TS

[2019-12-15 19:47] nearmax opened #1868 "Add flake detection tests into nightly"
1.  Current

Add 10x repeat of the basic tests in nightly to detect flaky behavior on each run instead of every other day.

1.  Previously

Currently some of our CI tests have assertions based on the timeout, this is a problem since they compete for the resources and we want to run them in parallel, which makes them accidentally fail sometimes.

The current temporary solution is to have two modes

[2019-12-16 11:31] Kouprin commented on #1824
@mfornet to make sure: node `test2` takes `runtime_adapter.get_epoch_block_producers()` and knows there should be `test1` who should be able to give a state. That's why `test2` calls `network_adapter.send(NetworkRequests::StateRequest)` with target = `test1`. But the message is dropped because network doesn't know about `test1`, right?

[2019-12-16 16:59] fckt commented on #1839
Yes, that's an interesting point.

I've spent some time on refactoring this is a structure I've got so far. The idea is to hold error context (sent TX, for example) in the common wrapper and to allow use it for
1) matching with the sent Transaction (on the client side)
2) to not have a separate places for the same data. The inner errors could add more error arguments as well.

I really not sure if

[2019-12-16 17:01] mfornet commented on #1824
Yes, that is exactly what is happening, in practice this is happening right now because both nodes know each other from genesis, otherwise this situation shouldn't happen with healthy nodes. This is, it is not supposed that a node become a validator without us having a route to them (unless we know it from genesis).

[2019-12-16 17:24] Kouprin commented on #1824
@mfornet what you suggest here? Is it enough to write a comment in the test that it's expected to get a timeout error?

[2019-12-16 17:33] mfornet commented on #1824
Well from network pov nothing unexpected is happening, but the message log is misleading since it is waiting for something that we know for sure it is not happening, since the message was dropped in our side.

Maybe we can try to propagate the error back to the original sender and retry after some time or log different error if message couldn't be delivered. This message make us believe that we di

[2019-12-16 17:35] #1861 closed

[2019-12-16 17:36] ailisp commented on #1802
Fixed in #1823

[2019-12-16 17:36] #1802 closed

[2019-12-16 17:56] nearmax commented on #1839
* We should not duplicate in the errors the information that is already available in the transaction itself, so refactoring `InvalidTxErrorKind` makes sense, but separating `InvalidTxErrorKind` from `InvalidTxError` does not. @evgenykuzyakov do we merkelize errors or plan to merkelize them? If yes, then I think we should avoid duplicating transaction info in errors. However, not including transact

[2019-12-16 21:40] ailisp commented on #1868
Regarding most timeout that doesn't happen locally: I suspect they're due to the poor io performance in gcloud. Giving similar cpu and memory resource, hdparm benchmark of gcloud is 20x slower than local machine. I'm think if we can use a ram disk to test since there's 120g ram. A rough benckmark it's at least 10x faster than my local ssd. The problem is it might be too fast to hide issue, but we

[2019-12-16 23:10] SkidanovAlex opened #1870 "100 node block production test"
We want to test cross-region 100 block producing nodes setup.

As the first step we just want to make sure the nodes collectively can even produce blocks.
We should spin up 100 nodes, wait for some time, and then collect the info about approvals and chunks.

For that at the end we should query an arbitrary node for status, the status would contain the latest block hash, from there we should be que

[2019-12-17 03:26] bowenwang1996 opened #1872 "start_testnet script very slow after restart"
Node gets stuck if we stop the node and restart using `./scripts/start_testnet.py`. It looks like the node gets stuck when reading data from database.

[2019-12-17 04:48] nearmax commented on #1836
https://github.com/nearprotocol/nearcore/pull/1756#discussion_r353460037

[2019-12-17 05:01] nearmax commented on #1746
How about we just submit a fix from parity-rust-rocksdb-sys to rust-rocksdb-sys which is just an optional env variable?

[2019-12-17 05:39] ailisp commented on #1746
Sounds good

On Mon, Dec 16, 2019 at 9:01 PM Maksym Zavershynskyi <
notifications@github.com> wrote:

[2019-12-17 08:08] fckt commented on #1839
overall you're don't think it's a good idea?

What I was thinking about is to include TX identifier (which is `tx.public_key+tx.nonce` - is it correct?) to allow frontend to match an error with a sent transaction. This especially help with an async protocol, where you don't have a correspondence b/w request and response.

Also I wanted to add an Action `index` to add an ability to identify with `a

[2019-12-17 15:40] fckt commented on #1839
I want to simplify the format. I don't think client should care about the inner error structure (which could change in time also).

Take a look on the proposal:

Client can save the transaction (in Map<txhash, Transaction>), so the TX info is available already - server could just return the following:

[code]

[2019-12-17 17:19] frol commented on #1600
The updated design is to keep `TrieUpdate` implementation storing `Vec<u8>` values by `Vec<u8>` keys the way it used to be, but extend `commit` API by requiring a function which will handle/save the changes into some external storage in whatever format it needs to, so `TrieUpdate` won't need to know anything about `CryptoHash` or anything chain-/RPC- specific.

[2019-12-17 18:13] bowenwang1996 commented on #1824
But I thought it is dropped because there is no route to the peer? Is that an expected behavior?

[2019-12-17 19:44] mfornet commented on #1824
There is no route to the peer! It just happens that a node knows that there should be certain account on the network (from genesis file) but it still doesn't know route to it. Message is misleading because the message is dropped on the side of the sender, so client is waiting for a message the certainly will not arrive.

[2019-12-18 00:29] ailisp commented on #1870
In #1876

[2019-12-18 00:54] ailisp commented on #1872
Looks like it only happens to docker

[2019-12-18 01:21] ailisp commented on #1316
Unable to observe this recently in stakewars & main testnet recently. For stakewars, TCP 3030 flunctuate between 30 to 100. Imo if it's garbage collected on time it's fine. This conform to what @frol mentions ~80 for each net. For those part from prometheus should be fine - num/traffic of prometheus node will be small compare to normal user.

But today when i run `target/debug/near run` locally fo

[2019-12-18 01:28] bowenwang1996 commented on #1316
Maybe it's caused by database? If file descriptors are not cleaned properly there might be too many open files.

[2019-12-18 14:37] frol commented on #1839
It sounds completely sane and fine to me. I would even say that I seem to prefer this clear separation.

I believe that this should be tracked on the protocol level instead of the "application" level. Thus, this argument for having extra info does not sound right to me.

I am a bit lost here with the general picture, but I seem to generally agree with everything Max proposed.

[2019-12-18 17:57] nearmax opened #1878 "Unmanageable near/res/testnet.json"
near/res/testnet.json is 39MiB and it is currently really hard to work with it especially when there is a merge conflict. We should remove the state from config and use state dump instead. Good thing this functionality is aleady implemented.

[2019-12-18 20:09] ailisp commented on #1872
view_client sounds not like something that should stuck. did we make some breaking changes there?

[2019-12-18 20:18] vgrichina commented on #1839
I agree with @fckt that it's good idea to include TX identifier in error. Also I see no problem with duplicating info available in transaction. Providing all relevant info in the error itself improves developer experience on receiving side. It's quite likely that transaction object isn't available at the moment error is processed in Web context (e.g. error is passed through URL redirect by wallet)

[2019-12-18 20:33] nearmax commented on #1839
Yeah, I think we should stop iterating on the design and focus everything on implementation. It does not seem like people have strong opinions against the design and we've been discussing it for a long time now and incorporated everyone's input. So we should freeze the design @fckt which is we only return one error object serialized with JSON from the node.

[2019-12-18 20:40] nearmax commented on #1839
@vgrichina We won't be able to include some transaction info into the error anyway, e.g. if we there an error with deploying contract we won't attach the entire contract code to the error. So this is not going to solve the problem entirely, so whoever designs front-end would need to workaround it by joining transaction info with error anyway.

[2019-12-18 21:43] bowenwang1996 commented on #1878
How do we dump state?

[2019-12-18 22:21] nearmax commented on #1878
You can call genesis populate tool with 0 additional accounts: https://github.com/nearprotocol/nearcore/blob/96f3c599dbebe6d3d500ddc8e70c75a254630840/genesis-tools/README.md

[2019-12-18 23:10] Kouprin commented on #1689
PR is closed. See details at comment: https://github.com/nearprotocol/nearcore/pull/1709#issuecomment-567252591.

[2019-12-18 23:33] Kouprin commented on #1824
I think what's happening now is: StateSync sends a request `NetworkRequests::StateRequest` to unknown peer and waits until timeout happens. After that, StateSync sends a request again and it works (because peer appears between requests).

How it should be:
1. StateSync should be unable to send a request to unknown peer. Can we remove `runtime_adapter.get_epoch_block_producers` from possible target

[2019-12-19 01:35] ailisp commented on #1872
After profiling from topdown , this function takes too long, it's been called ~ 5000 times each shard when do the insert ~ 5000 times, which takes about 30 seconds. So eight shard total about 4 minutes. Other functions are takes almost no time to finish
[code]
too slow

[2019-12-19 02:16] ailisp commented on #1872
more profile shows all times spent in cache miss branch. so get 5k times is expensive. probably should batch get

[2019-12-19 05:29] #1778 closed

[2019-12-19 10:40] frol opened #1880 "Expose transaction status via chunks RPC API"
Currently, the response does not include any status of the transaction and it is quite useful for Explorer synchronization (Wallet also needs the status and currently it queries Explorer DB, which does not have this information).

Related issues:

* https://github.com/nearprotocol/near-explorer/issues/143 (resolved by querying the information about every single transaction one by one [which is not

[2019-12-19 12:39] frol opened #1881 "[Epic] Restructure nearcore project"
My developer experience with nearcore is not great, so I contemplated the improvements that can be made.

The very first thing that is missing for me is a clear project structure. I believe that the best code is no code and the same goes for documentation (this is why I don't want to introduce documentation of the project structure, but rather prefer having an obvious project structure that does n

[2019-12-19 20:00] ailisp opened #1883 "Very slow in retrieve_rc when restart testnet node"
It takes ~8 minute to restart a testnet node, as profile, almost all time spent in retrieve_rc. And within retrieve_rc, all time is spent in store.get (452.527806346s). This is the total time of about `5000*8*2` get. Batch get maybe save time here (unsure), but rust-rocksdb also doesn't have multiget:
https://docs.rs/rocksdb/0.13.0/rocksdb/?search=multiget
https://github.com/facebook/rocksdb/wiki/

[2019-12-19 20:01] ailisp commented on #1872
Since not really caused by script, close and open a more relevant issue in #1883

[2019-12-19 20:01] #1872 closed

[2019-12-19 20:31] nearmax commented on #1881
This is really great that someone is looking into this and raising these concerns, I really liked the comments.

pytest are not just stress tests they are very similar to `nearcore/near/tests` and `nearcore/tests`, just written in Python.

So I suggest we do the following renaming:
* `nearcore/pytest` -> `nearcore/neard/tests_py`;
* `nearcore/nightly` -> `nearcore/neard/tests_nightly_py`;
* `nearc

[2019-12-19 21:43] ailisp commented on #1809
This is done. a nginx is hosted in near-node1. If we figure out how to dynamically calculate nodes that in same fork as node1, we can host nginx, or (openresty)[https://openresty.org/en/] separately and add the lua load balancing logic there, as discussed with @bowenwang1996

[2019-12-19 21:43] #1809 closed

[2019-12-19 21:45] mikhailOK opened #1884 "Migrate to 0.3 futures"
tokio, actix, actix-webs, actix-cors have versions using 0.3 futures - we should be able to upgrade

[2019-12-19 21:46] ailisp commented on #1776
above features and load config from NEAR_PYTEST_CONFIG env var is done. Most sanity tests are passed. stress test is failed locally. Will back to run remote stress test when local stress test works well

[2019-12-19 21:46] #1776 closed

[2019-12-19 21:48] ailisp commented on #1607
In run 100 node test, cpu usage become 100% after about just one hour of running, and it's remain at 100% level since then.

[2019-12-19 23:06] frol commented on #1881
The suggested renaming sounds reasonable to me. I will apply the suggestion (update my post) tomorrow.

[2019-12-19 23:29] ailisp commented on #1881
I agree with @frol and @nearmax comment above.
[code]
This is a webapp that host and run tests_py and above neard_rs tests, i suggest to move it another repo or put it to tools/nightly_test_runner

[2019-12-19 23:33] SkidanovAlex commented on #1881
also note that nightly heavily relies on the relative paths, so if we change the dirs, nightly needs to be changed accordingly.

[2019-12-20 00:11] nearmax commented on #1881
Let's jut put in into `tools` directory.

[2019-12-20 02:49] ailisp commented on #1883
@mikhailOK Steps to reproduce:
1. remove `~/.near`, `scripts/start_testnet.py --nodocker`, this starts reasonably fast
2. exit, `script/start_testnet.py --nodocker` again, this time it's very slow, takes about 8 minutes.

It doesn't related to script, it's same if you replace step 1-2 with `target/debug/near run --boot-nodes one-of-testnet-node`. if run without boot-nodes it's fast.

Some initial

[2019-12-20 10:39] weekly-digest[bot] opened #1888 "Weekly Digest (13 December, 2019 - 20 December, 2019)"
Here's the Weekly Digest for [nearprotocol/nearcore](https://github.com/nearprotocol/nearcore):
# ISSUES
This week, 30 issues were created. Of these, 12 issues have been closed and 18 issues are still open.
## OPEN ISSUES
:green_heart: #1887 [Update actix, futures and tokio](https://github.com/nearprotocol/nearcore/pull/1887), by [mikhailOK](https://github.com/mikhailOK)
:green_heart: #1886 [Black

[2019-12-20 12:36] fckt commented on #1839
Anyways, we could add a `txhash` as part of the overall result later, separately from an error object.

[2019-12-22 04:55] ailisp opened #1893 "Total peers pass 40"
In a 100 node test I saw:

![image](https://user-images.githubusercontent.com/13259400/71317339-13f5da00-2434-11ea-951b-2f5ad0e9a728.png)

[2019-12-22 07:32] ailisp commented on #1893
seems not off one:
![image](https://user-images.githubusercontent.com/13259400/71318762-1bc07900-244a-11ea-9bb0-da4a389c129a.png)

[2019-12-22 08:49] #1779 closed

[2019-12-22 08:51] ilblackdragon commented on #1515
Just convenience - I frequently use HTTP /status on my phone for example.

But I think we can close this as it's indeed probably not worse time right now.

[2019-12-22 08:51] #1515 closed

[2019-12-22 08:54] ilblackdragon commented on #1054
I'm going to close this, as we now have explorer backend that can serve this data.

[2019-12-22 08:54] #1054 closed

[2019-12-22 08:54] ilblackdragon commented on #1663
One option is to add this into explorer backend and recommend clients that require this to use node + explorer backend in conjunction. @frol  thoughts?

[2019-12-22 17:31] frol commented on #1663
Explorer has some sync lag and it is centralized, and it currently does not document its API, and its design is not meant for public consumption (stability requirements is the concern, as we are still in flux there)

[2019-12-22 19:25] bowenwang1996 commented on #1893
@mfornet is it possible that we don't prevent other peers from connecting to us even if we have reached maximum number of peers?

[2019-12-23 17:24] fckt commented on #1839
The backend refactoring is almost done. I spent some time to figure how the error handling would look like on the client side. Take a look:

[code]

What do you think @nearmax @vgrichina @frol ?

[2019-12-23 17:28] frol commented on #1839
@fckt This looks so much better! Great work!

[2019-12-23 17:46] fckt commented on #1839
Of course this approach Rust type-system is different. For example, we should prevent naming collisions and fields collision in Rust code.

[2019-12-24 01:14] ailisp opened #1895 "Add option to avoid compile when launch testnet/staging-testnet/stakewars-net"
Sometimes it stuck here for 5 minutes: although near is already compiled in the previous run, and no change was made.
[code]

[2019-12-25 03:09] SkidanovAlex commented on #1824
You cannot remove it. If you don't have peers that are aware of some shard, you won't be able to fetch the state at all.

[2019-12-26 11:13] fckt commented on #1839
One problem now with the Rust->Typescript generation is that we should maintain our own papping of Rust primitives -> JS primitives which is done with serde automatically. I'm looking into https://github.com/GREsau/schemars to figure out if we can use it to generate schema and then generate TS types over it + Error matching on JS side.

[2019-12-27 00:54] mfornet opened #1896 "Rebalance network"
Currently network is growing organically without any optimization. Since network graph is known to every peer we can optimize it to minimize network latency by minimizing diameter.

Notes:
- We should take into account attack vectors from malicious actors, avoid eclipse attacks.
- Useful link from [wikipedia](https://en.wikipedia.org/wiki/Table_of_the_largest_known_graphs_of_a_given_diameter_and_m

[2019-12-27 01:06] mfornet commented on #1893
Solved in #1897

[2019-12-27 09:20] rabbitHX opened #1898 "what is ActionReceipt's input_data_ids ?"
hi:
I read code follow the receipt workflow, found ActionReceipt has a attribute named input_data_ids, I am confuse about this attribute:
1.What this attribute used for ?
2.When create input_data_ids ?

[2019-12-27 09:20] rabbitHX opened #1899 "what is ActionReceipt's input_data_ids ?"
hi:
I read code follow the receipt workflow, found ActionReceipt has a attribute named input_data_ids, I am confuse about this attribute:
1.What this attribute used for ?
2.When create input_data_ids ?

[2019-12-27 09:47] frol commented on #1839
I suggest we do schemas in another iteration. Let's merge the better error messages first. That would be enough to fix the most common papercuts.

[2019-12-27 10:51] frol commented on #1899
Well, I am not that familiar with this topic, but here are a few helpers:

* The code comments (cc @fckt): https://github.com/nearprotocol/nearcore/blob/85894b42c48564543718a18aeacc9d329011d41c/core/primitives/src/receipt.rs#L77-L82

* The PR that introduced it #1140 (cc @evgenykuzyakov)

[2019-12-27 11:06] rabbitHX commented on #1899
Seems My code is too old without comment

[2019-12-27 11:13] fckt commented on #1899
There is an article about Receipts and [Receipts Matching](https://nomicon.io/Runtime/Receipts.html#receipt-matching) which explains the whole process.

[2019-12-27 11:14] fckt commented on #1898
duplication https://github.com/nearprotocol/nearcore/issues/1899

[2019-12-27 11:14] #1898 closed

[2019-12-27 11:24] rabbitHX commented on #1899
but I still don't understand the meaning of input_data_ids

[2019-12-28 03:19] kaiba42 opened #1901 "Smart Contract bug: `NEAR Error: ActionError::FunctionCallError / PrepareError: Gas instrumentation failed.")`"
Steps to reproduce:
*assumes setup of near-shell*

- Start local testnet
    1. `git clone https://github.com/nearprotocol/nearcore`
    2. `git checkout locked_balance`
    3. `python ./scripts/start_localnet.py`
    4. Enter your desired accountId: `master123`

- Deploy contract code
    1. `git clone https://gitlab.com/rainbolt-labs/rainbolt-near.git`
    2. `git checkout ka.updating_deps`

[2019-12-28 08:27] Kouprin opened #1902 "test_cargo fails because of cached nearcore/chain/jsonrpc/src/lib.rs"
<img width="856" alt="Screenshot 2019-12-27 at 20 07 01" src="https://user-images.githubusercontent.com/5685493/71541113-15536500-2954-11ea-8fb3-ff3405512a9f.png">

Example: https://gitlab.com/near-protocol/nearcore/-/jobs/389881785

[2019-12-28 16:58] nearmax commented on #1902
cargo fmt failed and it tell exactly what is wrong. This is not a bug of CI, please run cargo fmt --all on your code.

[2019-12-28 16:58] #1902 closed

[2019-12-28 19:09] Kouprin opened #1903 "Deprecate block_index in favor of block_height"
Deprecate `block_index()` host function in favor of `block_height()`.
Meaning, we need to add `block_height()` and then at some point in the future when we can confirm no one is using `block_index()` or we have inspection tools to surgically rewrite WASM delete `block_index()` host function.

Related to the comment: https://github.com/nearprotocol/nearcore/pull/1882#pullrequestreview-336923714

Se

[2019-12-28 19:57] Kouprin commented on #1902
OK, got it. I didn't familiar with cargo fmt and the fact that it's blocking CI execution.

[2019-12-30 03:08] nearmax commented on #1883
5.7ms per store.get is very significant. It is known that we can do 1k-2k tps with financial transactions since each transaction requires at least two store.get the base overhead of reading from storage is much less than 5.7ms.

Is it possible that we missinterpret the profiler something else is happening? E.g. is it possible that we are waiting for rocksdb to startup (it uses subprocesses) and fi

[2019-12-30 03:44] ilblackdragon commented on #1883
Yeah, I thought it’s related to the rocks db starting - because it feels like this started since we switched to our own rocks-db wrapper.

But! it seems like it takes long time both times when Client and ViewClient start (both create Chain / ChainStore object).

[2019-12-30 06:16] nearmax opened #1905 "Extract RPC API client into a standalone project"
Our current restaking tool uses RPC client that was designed to work for testing only. We should extract it into a separate proper RPC client for node.

Following the example, the name on GitHub should be `near-api-rs`, Crates.io - `near-api`, Rust `use` namespace - `near_api`.

[2019-12-30 06:42] nearmax commented on #1883
Assigning to @ailisp since it is more likely to be a problem of a rust-rocksdb startup rather than the implementation of the trie.

[2019-12-30 07:33] rabbitHX opened #1906 "cross shard state verify"
hi:
  I read through near src code, there is a key point I didn't get that how receiver verify sender's state ?
example:
alice on shard A
bob on shard B
A new receipt R1 is alice transfer 1 token to bob, so shard A sub 1 token of alice and generate a cross shard receipt R2 to add 1 token of bob, when shard B processing R2 how it know shard A has sub 1 token of alice correctly? As I know shard B ha

[2019-12-31 00:55] ailisp commented on #1883
It's probably misread of benchmark and start time, but one fact likely shows not this case: the retrieve_rc is called ~5000 times per shard. All shards saved in same rocksdb column family. I was separately benchmark these 8 shards one by one. Every shard takes ~30s for 5000 retrieve_rc. If, it's related to start time, in the first, or first few shard it should have been slower than later shards. W

[2019-12-31 01:14] ailisp commented on #1883
I also suspect it doesn't happen likely because of these two reasons:
1) testnet initial accounts were not that many (this was firstly happened after last time testnet genesis update)
2) I poorly configured rust-rocksdb

[2019-12-31 06:38] bowenwang1996 commented on #1906
Because the validators in shard A have committed the state root into the shard header and have signed on it. If you are talking about the case where the entire shard is corrupted, we then rely on fishermen to challenge the invalid state transition.

[2019-12-31 08:33] rabbitHX commented on #1906
Assuming ignore fishermen mechanism, we just trust shard A's validators,this is the answer?

[2019-12-31 09:04] bowenwang1996 commented on #1906
Yes

[2019-12-31 09:30] ailisp commented on #1883
Some updates on this, I add trace to DB::get:
[code]
In the first run after cleaning ~/.near, every get takes only several mu seconds, so it boot fast. But second run get is 20-30ms, and time/get does not decrease as time increase. The reason is unknown yet.

[2020-01-01 20:04] #1824 closed

[2020-01-01 22:35] Kouprin commented on #1837
@bowenwang1996 could you confirm the issue appears in actual staging (after `79882419e45015247b0fbdf17f81c4bd8fad1308`)? Could you please assign stderr file then?

[2020-01-03 01:26] nearmax opened #1914 "P2P should not be blocking node"
On 2019-01-02 at about 10AM PST we had a situation where an RPC of the node was irresponsive. Upon closer examination of the testnet node we have observed two things:
* The node was consuming 100% of a single core;
* There were large spikes of outgoing traffic from the testnet node towards some other node over p2p port. The spikes were in 15sec intervals see: https://www.dropbox.com/s/gp0hnhehgb0k

[2020-01-03 02:13] mfornet commented on #1914
Was the other node intentionally attacking the network or was running our code?

[2020-01-03 02:16] nearmax commented on #1914
Unclear.

[2020-01-03 02:21] nearmax commented on #1883
Is this fixed now?

[2020-01-03 02:27] bowenwang1996 commented on #1914
No they are just running our code :)

[2020-01-03 02:29] ailisp commented on #1883
I think so, but in testnet node would be fix at next release

On Thu, Jan 2, 2020 at 6:21 PM Maksym Zavershynskyi <
notifications@github.com> wrote:

[2020-01-03 07:10] ailisp commented on #1895
I suspect this as a linker issue. Some guy claims use lld (llvm's ld) to replace ld can result in a 2-3x speed up. It seems based on `-Ztime-passes` indicate most of the compilation time of a fresh build (and 100%, in above rebuild case, see below) are spent on the linker. But I didn't get any speed up when replace ld with lld to build nearcore, Anyone has successful experience on lld?

[code]

[2020-01-03 08:15] #1855 closed

[2020-01-03 08:20] Kouprin commented on #1903
@nearmax please make sure this will be added with next hard fork.

[2020-01-03 08:24] Kouprin commented on #1837
Please reopen if appears again.

[2020-01-03 08:24] #1837 closed

[2020-01-03 19:19] SkidanovAlex opened #1917 "Limit number of blocks / chunks per height"
Only store a chunk in storage iff:

1. It's the first block / chunk for the height (or height + shard_id for chunks) we know

-or-

2. We requested the block / chunk.

Also add the test with adversarial behavior that makes a corrupted node spam with blocks / chunks, and tracks the memory consumption of other nodes in the network.

[2020-01-03 19:23] SkidanovAlex opened #1918 "Faster-than-light block requests"
When receiving a block header, if the block is unknown, do the following:

1\. Check if for the chunk mask we know a chunk for each shard with the same `prev_block` as the prev block of the block
 2\. Check if the merkle root of their headers matches the root stored in the block header.
 3\. Check that the block doesn't have challenges.

If (1) fails, request chunks by the prev hash and shard id (

[2020-01-03 19:25] SkidanovAlex opened #1919 "Prevent chunks grieving"
Today a chunk producer can send a chunk to a subset of consecutive block producers, not sufficient for data availability, and make them produce a chain that will be rejected by the rest of the system.

The solution we wanted to build before was sampling random parts before producing the block, but it adds an extra communication round, which we want to avoid.

Find another solution (possibly sampli

[2020-01-03 19:51] nearmax opened #1920 "migrate-from-0.3.py is broken"
As reported by @evgenykuzyakov it is inconsistent with `testnet.json`
It uses
[code]
But we don’t have runtime_fees anymore

[2020-01-03 19:55] SkidanovAlex opened #1921 "BlockHeader should depend on challenges"
If yes, feel free to close the issue.
Otherwise reassign to KPR.

[2020-01-03 21:45] nearmax commented on #1903
We still don't have a consensus on whether this change is needed at all. Since it will be breaking everything in our system (Applayer and already deployed smart contracts) and the only upside of it is that it unifies `block index` and `block height` which are synonymous in the blockchain world.

[2020-01-03 21:47] Kouprin commented on #1903
Can we decide when next hard fork will happen?

[2020-01-03 21:51] nearmax commented on #1903
Why the timing of the hardfork is relevant with regards to whether we are making this change or not?

[2020-01-03 21:55] Kouprin commented on #1903
I guess it will be easy to decide when we are not restricted. Do we want to add this as a bonus for free?

[2020-01-03 21:59] nearmax commented on #1903
You mean make it an optional change? Sure, we can make it optional for whoever will be making the fork. However, since it will make the fork much harder to make it is unlikely that someone will volunteer to do it.

[2020-01-03 22:10] Kouprin commented on #1903
It makes sense. I believe in volunteers, so let's leave it for whoever will make a fork.

[2020-01-03 22:35] evgenykuzyakov commented on #1878
I'm going to split `testnet.json` into 2 files. One for config and one for records.

[2020-01-03 23:29] #1884 closed

[2020-01-04 02:53] bowenwang1996 commented on #1920
Is it a huge concern? The script is used to migrate from 0.3.* to 0.4.0 but we are already at 0.4.11

[2020-01-04 08:08] ilblackdragon commented on #1878
@nearmax I want to reiterate:
 - There should be genesis state in the repo, so people can start nodes. So state dumping doesn't work.
 - Our genesis state does contain all of this data as we keep hard forking the network.
 - There should not be merged conflicts, because you should not update that file unless the network was actually hard forked. Instead there should be script that upgrades the pre

[2020-01-04 12:56] bowenwang1996 commented on #1921
It should but doesn't right now

[2020-01-05 02:39] rabbitHX opened #1924 "Block fork question"
Hi:
According to src code, we assume a block contain a invalid chunk (produced by a evil cp), this block then received by two validators in different shard. cp_A (in shard A) care about this invalid chunk and apply it but failed(because chunk is invalid), so block won't be added by cp_A. On the other hand, cp_B(in shard B) don't care about this invalid chunk(so cp_B just skip check invalid chunk),

[2020-01-05 04:05] bowenwang1996 commented on #1924
If there is an invalid chunk included in a block, an honest validator or fishermen will send a challenge and after the challenge is verified, the challenged block will be marked as invalid and the fork choice rule will not respect the chain that contains an invalid block.

[2020-01-05 15:54] Kouprin commented on #1921
But it still depends on challenges of previous block, right? There is `challenges_result` in `BlockHeaderInnerRest`.

[2020-01-06 14:25] SkidanovAlex opened #1925 "Only instantiate ReedSolomon once"
Now that `num_data_parts` and `num_total_parts` don't have any arguments in `runtime_adapter`, we should remove the instantiation of `rs` from `EncodedShardChunkBody::reconstruct`, and only instantiate it once when `Client` is instantiated.

It is OK to still instantiate `rs` from scratch in tests, where there's no client, and I think there's one place in challenges that doesn't have access to the

[2020-01-06 16:01] #1924 closed

[2020-01-06 16:02] bowenwang1996 opened #1926 "Move network requests from ClientActor to ViewClient Actor"
Network requests should be moved to ViewClientActor so that they do not block ClientActor in the same thread.

[2020-01-06 16:09] bowenwang1996 opened #1927 "View state returns error if key is not a string"
When we have some binary value as a key in storage, state viewing rpc will return an error because it cannot be converted directly to string. We should consider encoding keys and values in base58.

[2020-01-06 16:10] bowenwang1996 commented on #1921
@Kouprin I don't think it is enough. There should not be two different blocks with the same hash.

[2020-01-06 16:18] #1906 closed

[2020-01-06 18:10] evgenykuzyakov commented on #1920
I'm going to start a new mega-migration script that moves from 0.4.* to 0.* by introducing a new `minor_config_version` that is only used for migrations (in addition to `protocol_version`)

[2020-01-06 18:47] evgenykuzyakov commented on #1920
Part of https://github.com/nearprotocol/nearcore/pull/1913

[2020-01-07 02:22] nearmax commented on #1878
I suggest we unify the config migration discussion that we had in Slack and https://github.com/nearprotocol/nearcore/pull/1922 here.

Here is the list of workflows that we want to cover:
* S1. A person makes a change in a separate PR that is not backward compatible with **the state** format of the code in the staging branch and they want to submit this PR to staging;
* S2. A person makes a change

[2020-01-07 03:05] bowenwang1996 commented on #1878
@nearmax C1 and C2 are the same :)
I think in the case of S1 we should merge the migration scripts and have one per merge to master.

[2020-01-07 03:07] nearmax commented on #1878
Typo. Fixed.

[2020-01-08 02:49] rabbitHX commented on #1924
Thank you, another question, the chain contains an invalid block will be reverted so is there a guarantee to ensure a transaction in final state (irreversible) ? if no irreversible mechanism, any block may reverted due to challenge, the chain's usability is low, how this problem treated?
@bowenwang1996

[2020-01-08 10:00] bowenwang1996 commented on #1924
The finality gadget guarantees that a block which is finalized cannot be reverted unless 1/3 stake is slashed. Are you talking about the case when there are more than 1/3 malicious actors?

[2020-01-08 10:40] Kouprin commented on #1914
https://github.com/nearprotocol/nearcore/issues/1926 is related to the issue

[2020-01-08 11:00] rabbitHX commented on #1924
No, I just want to know if there have finality (irreversible) mechanism, so when the block finality triggered ?

[2020-01-08 11:24] bowenwang1996 commented on #1924
There is a finality gadget that finalizes blocks based on approvals. Under normal circumstances a block should be finalized after 3 blocks.

[2020-01-09 02:46] rabbitHX commented on #1924
Thank you very much, so this is mean a challenge for a block must be done in 3 blocks ?

[2020-01-09 14:35] Kouprin opened #1936 "Invalid block chain should be banned"
For reproducing the issue, check test `malicious_chain.py` from https://github.com/nearprotocol/nearcore/pull/1933/files. It should be executed with no parameter `valid_blocks_only` to produce invalid blocks.

Check method `adv_produce_blocks` in `adversary` branch. It helps to create a chain of 50 blocks from the available head. This way of block creation ignores `next_block_proposer` value and s

[2020-01-09 19:45] nearmax opened #1937 "Estimating contract gas usage through interpreter on Applayer side"
We want Applayer components to know the upper bound on gas before they submit the transaction. It is possible to expose the config with fees through the RPC, however this will allow calculating gas usage only for basic transaction action and will not include smart contract execution. In general, it is not possible to estimate gas usage without executing the contract due to the halting problem. How

[2020-01-10 00:17] evgenykuzyakov commented on #1937
It will be good enough to estimate the actual TX fee that you will prepay, but later you'll get part of it back.

So it should be a simple RPC that takes `Transaction` and returns in (tx fee in gas including prepaid gas, attached balance, the latest gas_price).

[2020-01-10 07:08] ailisp opened #1938 "Network crashed after Failed sending broadcast message:Mailbox has closed"
Happens in 100 node test. Almost at same time 05:17:14Z all nodes crash with the following output: there was no memory and cpu issue at time of exit.

[code]

node logs: https://transfer.sh/SNod0/log.tar.gz

[2020-01-10 12:06] k06a opened #1939 "Error running localness node"
Got error after running docker image "v2tec/watchtower":
[code]

[2020-01-10 13:00] bowenwang1996 commented on #1939
You need to remove old data and genesis

[2020-01-10 13:00] bowenwang1996 commented on #1938
Yeah there is some actix issue in the network code

[2020-01-10 13:09] #1939 closed

[2020-01-10 21:55] nearmax opened #1940 "Allow non-x86 platforms through NaN canonicalization"
Currently, we disallow CPU architectures other than x86 and x86_64 because of NaN non-determinism in Wasm, see:
* x86 vs ARM discrepancy: https://github.com/WebAssembly/design/issues/619
* MIPS vs everything else discrepancy: https://doc.rust-lang.org/std/primitive.f64.html#method.from_bits

In the future, we might consider canonicalizing NaNs and allow other CPU platforms.

[2020-01-10 23:04] evgenykuzyakov commented on #1723
RuntimeConfig::account_length_baseline_cost_per_block is (3^8) multiplied by whatever we should charge an account for 10 letter character account per block. Let's do 1N per year for 10 letter character, so at a rate of 1 block per second (31556952 seconds). (10^24 / 31556952 * 3^8) = 207909813343189798558

[2020-01-10 23:21] #1702 closed

[2020-01-10 23:24] evgenykuzyakov commented on #1188
@ailisp fixed it as part of RockDB upgrade

[2020-01-10 23:24] #1188 closed

[2020-01-10 23:25] evgenykuzyakov commented on #1015
@bowenwang1996 fixed it by prohibiting context access during view calls

[2020-01-10 23:25] #1015 closed

[2020-01-10 23:37] evgenykuzyakov commented on #1878
As part of #1913, I need to make some changes to the `testnet.json` file. I introduces `scripts/state/mega-migrate.py` for continuous migrations of testnet.json. It does the following:
- introduces a `config_version` field, that is used for config migrations
- based on the current `config_version` in the `testnet.json` upgrades the file to move it to the latest `config_version` version.
- saves th

[2020-01-11 01:57] ailisp commented on #1938
Rename it to highlight the issue, it's all nodes in network crashed rather than some of nodes.

[2020-01-11 02:06] ailisp opened #1942 "Initial near run use too many open files"
it uses more than 1024, linux system default, recently and we have to raise ulimit. It shouldn't this many

[2020-01-11 03:33] mfornet commented on #1938
I've seen this recently and I think it is related with the update of future. I'll investigate further.

[2020-01-11 03:34] mfornet commented on #1942
I can't run several tests at the same time in clion because of this problem. I should run them separately.

[2020-01-11 04:02] bowenwang1996 commented on #1878
@evgenykuzyakov why not `testnet.config.json` so that it is easier to view in IDE.

[2020-01-11 05:09] ailisp commented on #1942
before i fix it, you can update system ulimit in /etc/security/limits.conf.
I cannot even run single test :)

On Fri, Jan 10, 2020 at 7:34 PM Marcelo Fornet <notifications@github.com>
wrote:

[2020-01-13 09:01] ailisp commented on #1925
Fixed in #1929

[2020-01-13 09:01] #1925 closed

[2020-01-13 09:11] ailisp commented on #1942
Seems maybe related to recent tokio/mio update? it has 1802 open files, of them 1647 are something like:
[code]

[2020-01-13 13:29] frol opened #1948 "Nearcore crashes on `chunk` RPC call requesting a shard id that does not exist"
[code]

[2020-01-13 22:29] #1917 closed

[2020-01-14 01:01] potatodepaulo opened #1951 "Progressive Updates for Validators"
This is more philosophical than a specific feature. We need a strategy for elegantly upgrading nodes.
Requirements:
- Minimize downtime per node
- Minimize lost stake per validator
- Create incentive for nodes to upgrade efficiently/quickly

[2020-01-14 02:17] ailisp commented on #1942
Seems to be a "bug" in sysinfo crate: https://github.com/GuillaumeGomez/sysinfo/issues/242

[2020-01-14 05:49] ailisp commented on #1316
Unable to see this as of Jan 13, 2020 in main testnet

[2020-01-14 05:49] #1316 closed

[2020-01-14 06:01] #1656 closed

[2020-01-14 06:29] ailisp commented on #1026
starting to work on this today

[2020-01-14 07:21] vgrichina opened #1953 "Logs aren't captured if view calls panics"
### Fiddle
https://studio.nearprotocol.com/?f=rgb9hvqmn

### Steps to reproduce
1. Go to https://app.near.ai/app/rgb9hvqmn/
2. Execute `contract.getCounter()` in browser console.

### Expected behavior

1. Logs before panic appear. (`logging.log('getCounter');`)
2. Descriptive error is returned with info on where the contract code panicked (there is file and line info on AssemblyScript side).

###

[2020-01-14 14:49] #1888 closed

[2020-01-14 14:52] ilblackdragon commented on #1920
I think we should be removing the previous migration script when we are creating one for the next version. So let's remove this `migrate-from-0.3.py` file. @nearmax

[2020-01-14 14:53] #1860 closed

[2020-01-14 14:53] ilblackdragon commented on #1860
Issue moved to [nearprotocol/near-shell #242](https://github.com/nearprotocol/near-shell/issues/242) via [**ZenHub**](https://www.zenhub.com/)

[2020-01-14 22:34] SkidanovAlex commented on #1921
So effectively the scope of the task:

1. Add some sort of hash of challenges to the block header (doesn't need to be merklized, but I don't think we lose anything if we make it a merkle hash).
2. Add validation in `process_block` that verifies the hash matches the challenges.

[2020-01-15 17:46] amgando opened #1959 "README includes incorrect link to create-near-app"
the link at the top of the README

[code]

should instead be

[code]

[2020-01-15 18:12] #1921 closed

[2020-01-15 22:13] mikhailOK commented on #1938
#1954

[2020-01-16 03:32] bowenwang1996 opened #1966 "Transaction validity period should be larger"
Right now transaction validity period is set to 100, which, assuming 1 block/s, equates to 100s and that's too small for signing transactions from cold storage for example.

[2020-01-16 03:34] bowenwang1996 opened #1967 "Remote transaction signing"
We need to add some rpc/http endpoint for transaction signing.

[2020-01-16 10:32] k06a opened #1968 "Panic on running from staging branch"
I first erased `neardir` directory and launched `cargo run --package near --bin near -- --home /Users/zaver/Projects/nearcore/testdir init --chain-id= --test-seed=alice.near --account-id=test.near --fast` in Clion and it succeded

Then I launched `cargo run --package near --bin near -- --home /Users/zaver/Projects/nearcore/testdir run --boot-nodes=` and got panic:

[code]

[2020-01-16 12:09] frol commented on #1948
Resolved in #1958.

[2020-01-16 12:09] #1948 closed

[2020-01-16 15:34] bowenwang1996 commented on #1968
It says what the error is. You probably have another instance running at the same time.

[2020-01-16 18:59] Kouprin opened #1969 "setup_mock_all_validators should be redone"
sync completely stops after second epoch ends, no block production happens then
tested on `test_catchup_sanity_blocks_produced`

[code]

[2020-01-16 22:18] SkidanovAlex opened #1971 "Don't skip chunks if the chunk was received before the previous block"
Right now if the partial encoded chunk arrives before a block, the next block producer will reject the partial encoded chunk, and won't include it in the block.

Add a cache for future chunks, up to `MAX_HEIGHTS_AHEAD` heights ahead, and store there partial encoded chunks for which we don't know the previous block.

[2020-01-17 02:38] maxzaver opened #1972 "[Epic] Tofu -- Rust to other languages mapping tool"
As a continuation of `rpctypegen` introduced in [https://github.com/nearprotocol/nearcore/pull/1854](https://github.com/nearprotocol/nearcore/pull/1854) we should have a tool that allows us to map any Rust struct/enum/union to its closest equivalent in a different language.
 The tool should be implemented as a cargo plugin and will use `syn` and `quote` to process the source code of the given proj

[2020-01-17 02:52] vgrichina commented on #1972
I think it's good to have intermediate JSON schema to make it easy to use in any language (even ones we don't support) without having to deal with Rust. E.g. if I'm developing iOS app using SDK on Swift – I likely don't want to deal with Rust stuff.

[2020-01-17 02:55] nearmax commented on #1972
We can keep it for some languages. It obviously won't work for languages like C.

[2020-01-17 02:55] mfornet commented on #1972
Jason can be one of the output languages.

[2020-01-17 02:57] mfornet commented on #1972
Btw, where are we using this for C right now?

[2020-01-17 02:58] nearmax commented on #1972
https://www.ledger.com/

[2020-01-17 02:58] vgrichina commented on #1972
@nearmax I mean more that whoever would be maintaining generator for given language likely will prefer to do it in their language vs Rust. Having schema as JSON is useful for that.

[2020-01-17 02:59] ailisp commented on #1972
Would it be good to make this part of borsh project?

[2020-01-17 03:02] ailisp commented on #1972
this sounds a good alternative too? but existing rust code need to be refactored to use structs generated from json schema?

[2020-01-17 03:02] vgrichina commented on #1972
@nearmax @mfornet parsing Borsh on Ledger is completely hardcoded. It's hard to do anything generally useful (beyond few helper functions) for embedded C as it's way too limited in RAM, so you typically specify every output to write to UI structs directly.

On C++ side (TrustWallet) I just needed to serialize which was also pretty easy to handcode using helper functions. It had to convert from pro

[2020-01-17 03:02] nearmax commented on #1972
I would make it generally compatible with various serializers, we can start with Borsh and JSON. External contributors can easily add CBOR since it already supports various languages. Therefore I wouldn't make it a part of borsh.io.

[2020-01-17 03:07] nearmax commented on #1972
The benefit is in the consistency and making sure we are not making mistakes in the process of copy-paste. There are multiple ways one can map between Rust and C/C++ structures/enums/unions. The earlier we standardize it the better for our future API. Also looking back at how many Rust structures we expose through RPC I am wary of someone making a mistake when manually writing out their counterpar

[2020-01-17 03:25] mfornet commented on #1972
I understand now what @vgrichina is proposing  and I think is a good idea. Instead of making this tool Rust-centric we should make it json-centric. We agree on some json-schema which I think we already did, and this tool just translate Foo => json-schema & json-schema => Foo.

Particularly in first tofu iteration we should only implement:
rust => json-schema &
json-schema => C/TypeScript/AssemblyS

[2020-01-17 03:34] nearmax commented on #1972
The schema does not need to be expressed in JSON, instead, it should be expressable in JSON.

Btw. Finding a language to describe types that interoperates with other languages nicely is a difficult task. Checkout witx as a solution to interface types in Wasm: https://www.youtube.com/watch?v=LCA9NnH7DxE its goal is to do exactly that.

[2020-01-17 10:18] k06a commented on #1968
@bowenwang1996 thanks, not recognized error message, now it's clear to me issue was about already used port, yep docker launched some container after system reboot.

[2020-01-17 10:18] #1968 closed

[2020-01-17 10:32] k06a opened #1973 "Node hangs on smart contract non-view call"
See an attached sampling of what all threads are doing:
- [near_sampling.txt](https://github.com/nearprotocol/nearcore/files/4076389/near_sampling.txt)
- [near_sampling2.txt](https://github.com/nearprotocol/nearcore/files/4076395/near_sampling2.txt)

Not sure we have matches in 2 samplings, so maybe the problem is related to `nearlib`.

[2020-01-17 14:30] #1973 closed

[2020-01-17 14:32] k06a commented on #1973
I tried to view-call a non-view method, we need to show related error @vgrichina, @janedegtiareva, @nearmax

[2020-01-17 22:49] weekly-digest[bot] opened #1976 "Weekly Digest (10 January, 2020 - 17 January, 2020)"
Here's the **Weekly Digest** for [*nearprotocol/nearcore*](https://github.com/nearprotocol/nearcore):

 - - -
# ISSUES
Last week 34 issues were created.
Of these, 18 issues have been closed and 16 issues are still open.
## OPEN ISSUES
:green_heart: #1971 [Don't skip chunks if the chunk was received before the previous block](https://github.com/nearprotocol/nearcore/issues/1971), by [SkidanovAlex](

[2020-01-18 00:04] bowenwang1996 commented on #1973
Interesting. There is no error message? Is it a single call or part of some cross-contract call?

[2020-01-18 09:56] k06a commented on #1973
@bowenwang1996 it was single call and it seems it was stuck in `nearlib`.

[2020-01-18 16:22] #1969 closed

[2020-01-19 07:13] bowenwang1996 opened #1981 "Node should recover from running out of disk space"
When a node runs out of disk space it should not result in some inconsistent storage and restarting the node when there is space should just work. Right now it somehow leads to an `InvalidBlockHeight` error.

[2020-01-19 15:05] SkidanovAlex opened #1982 "Do not delay block production if only missing chunks for shards for which chunks were included in the previous block"

[2020-01-19 15:54] bowenwang1996 commented on #1973
That definitely seems like a bug. Can you reproduce it?

[2020-01-19 15:54] #1926 closed

[2020-01-19 15:55] Kouprin commented on #1914
@bowenwang1996 is it solved now?

[2020-01-19 15:57] bowenwang1996 commented on #1914
Should be

[2020-01-19 15:57] #1914 closed

[2020-01-19 16:06] Kouprin commented on #1052
test_all_chunks_accepted_1000 related from https://github.com/nearprotocol/nearcore/pull/1975

[2020-01-19 16:08] Kouprin commented on #1052
https://github.com/nearprotocol/nearcore/pull/1979 is related to "having no state" case

[2020-01-19 16:11] Kouprin commented on #1048
Assign to me again when become actual.

[2020-01-20 01:02] nearmax commented on #1784
`process_blocks` is also flaky https://github.com/nearprotocol/nearcore/pull/1910#issuecomment-576063871

[2020-01-20 01:29] #1942 closed

[2020-01-20 01:36] nearmax commented on #1666
We are currently revisiting the storage format and might move from this format entirely.

[2020-01-20 01:44] nearmax commented on #1805
@evgenykuzyakov The first two items are implemented by https://github.com/nearprotocol/nearcore/pull/1913 correct?

[2020-01-20 01:55] nearmax commented on #1637
@ilblackdragon  Is this fully implemented by https://github.com/nearprotocol/nearcore/pull/1962 ?

[2020-01-20 02:02] nearmax commented on #1731
Addressed by https://github.com/nearprotocol/nearcore/pull/1854

[2020-01-20 02:02] #1731 closed

[2020-01-20 03:58] nearmax commented on #1967
Please describe the use case in more detail.

[2020-01-20 03:59] nearmax commented on #1953
@bowenwang1996 Is this fixed?

[2020-01-20 04:03] nearmax commented on #1951
The first two items are addressed by https://github.com/nearprotocol/nearcore/pull/1962 the last one is a separate discussion on upgradability that we currently have between runtime and chain teams.

[2020-01-20 04:03] #1951 closed

[2020-01-20 04:05] nearmax commented on #1920
It is now a part of https://github.com/nearprotocol/nearcore/pull/1913. Closing.

[2020-01-20 04:05] #1920 closed

[2020-01-20 04:11] nearmax commented on #1901
I cannot access the repo
[code]

but you should try again. This time checkout `staging` branch and run `./scripts/start_localnet.py --local`

[2020-01-20 04:11] #1901 closed

[2020-01-20 04:19] #1899 closed

[2020-01-20 04:31] nearmax commented on #1864
We are using Apache 2.0 license.
* `parity-scale-codec` is the part of `ethereum-types` which uses GPL 3.0. It should be removed of replaced
* `parity-secp256k1` does not have a license. We should remove or replace it.
Assigning to @SkidanovAlex since it is used for crypto.

* `parity-wasm` is under Apache 2.0 license we don't need to remove it.

[2020-01-20 04:35] nearmax commented on #1746
@ailisp Is this fixed?

[2020-01-20 04:41] nearmax commented on #1431
This should be fixed.

[2020-01-20 04:41] #1431 closed

[2020-01-20 04:44] nearmax commented on #940
@evgenykuzyakov Is this handled now by the limiters?

[2020-01-20 04:50] maxzaver opened #1987 "NaN canonization"
This issue should be resolved by Wasmer. Once it is resolved we should enable non-x86 architectures.
- [ ] Implement NaN canonization on Singlepass compiler of Wasmer;
- [ ] Enable NaN canonization feature;
- [ ] Remove x86 check

[2020-01-20 04:51] nearmax commented on #1987
Assigning low priority since most of the work is done by Wasmer.

[2020-01-20 04:52] nearmax commented on #1940
Closing in favor of https://github.com/nearprotocol/nearcore/issues/1987

[2020-01-20 04:52] #1940 closed

[2020-01-20 04:59] nearmax commented on #1759
@ilblackdragon We have decided to not pursue this path, correct?

[2020-01-20 05:00] bowenwang1996 commented on #1953
Fixed

[2020-01-20 05:00] #1953 closed

[2020-01-20 05:02] nearmax commented on #1804
@evgenykuzyakov Did you add it to config with your limiters?

[2020-01-20 05:03] nearmax commented on #1810
@evgenykuzyakov Did you fix it with your limiters?

[2020-01-20 05:07] nearmax commented on #1724
Closing since now only https://github.com/nearprotocol/nearcore/issues/1692 remains

[2020-01-20 05:07] #1724 closed

[2020-01-20 05:08] #1723 closed

[2020-01-20 05:08] nearmax commented on #1376
We probably won't get rid of it, since the license is Apache 2.0

[2020-01-20 05:08] #1376 closed

[2020-01-20 05:09] nearmax commented on #1344
Floats are now enabled.

[2020-01-20 05:09] #1344 closed

[2020-01-20 05:10] nearmax commented on #1498
This should be addressed by https://github.com/nearprotocol/nearcore/issues/1666

[2020-01-20 05:10] #1498 closed

[2020-01-20 05:12] nearmax commented on #1704
@bowenwang1996 This is fully implemented, correct?

[2020-01-20 05:13] nearmax commented on #1289
Fully implemented by `runtime-params-estimator` without criterion.

[2020-01-20 05:13] #1289 closed

[2020-01-20 05:14] nearmax commented on #978
@evgenykuzyakov ping

[2020-01-20 05:16] nearmax commented on #1265
This seems WAI. We need to have a better documentation in terms of why we do not allow transactions like this instead of explaining it in high detail in the error message. Assigning to @amgando

[2020-01-20 05:21] nearmax commented on #978
@fckt Is this fixed?

[2020-01-20 05:22] nearmax commented on #1265
@fckt Could you provide an explanation to @amgando why this does not work?

[2020-01-20 05:23] nearmax commented on #1266
@fckt This is fixed now, correct?

[2020-01-20 05:24] nearmax commented on #1288
@fckt Could you take a look?

[2020-01-20 05:24] nearmax commented on #1335
@fckt Could you take a look?

[2020-01-20 05:25] nearmax commented on #1319
@fckt Could you take a look?

[2020-01-20 05:48] nearmax commented on #969
Closing, since everything else is covered by events.

[2020-01-20 05:48] #969 closed

[2020-01-20 05:49] ailisp commented on #1746
@nearmax not yet. i'm making pr to rust-rocksdb now.

[2020-01-20 06:38] ailisp commented on #1746
@nearmax rust-rocksdb completely skip rocksdb's CMakeLists.txt, it instead use https://docs.rs/cc crate and manually play with dependency and build flags. I think this is suboptimal though i still made flags that mimic rocksdb's PORTABLE cmake option. However i wasn't able to run intel sdk tool to verify it's fixed (always coredumped). will verify when back office with mac mini

[2020-01-20 08:24] ailisp commented on #1266
Looks current "validate": validate it's valid utf-8, do we need additional validation there?
[code]

[2020-01-20 09:07] fckt commented on #978
Just checked. It yields the following now:
[code]

[2020-01-20 09:07] #978 closed

[2020-01-20 09:13] ailisp commented on #1026
Now chunk is there, so something more need to be signed:
[code]

However do we really need sign these structs? In fact everything above we sign is a hash of the struct or hash or partial struct. So I thought it's okay to have only one API:
`sign(hash: &[u8], prev_block_hash: CryptoHash)`
prev block isn't always available in above context, but prev_block_hash is and i guess it's possible for REST s

[2020-01-20 09:34] fckt commented on #1266
We have an account validation here
https://github.com/nearprotocol/nearcore/blob/54b597cfc53de24aa7c9813eea87926ad9752aa1/runtime/runtime/src/actions.rs#L246

https://nomicon.io/Primitives/Account.html#account-id-rules

[2020-01-20 17:01] bowenwang1996 commented on #1704
Yes

[2020-01-20 17:01] #1704 closed

[2020-01-21 00:16] nearmax opened #1989 "Limiters for VMLogic and Runtime crates"

[2020-01-21 00:45] nearmax opened #1990 "Core Contracts"
We need to create a set of contracts that allow to distribute and manage tokens. They will be used both for Near Protocol token holders, token distribution, and for third-parties to manage their tokens.

[2020-01-21 00:54] nearmax opened #1992 "Lockup Contract Implementation"
- [ ] Implement safe balance math;
- [ ] Finish implementation of lock up and vesting contract;
- [ ] Add unit tests;
- [ ] Add pytests that attempt various scenarios, e.g. trying to transfer locked token etc.

[2020-01-21 01:14] nearmax opened #1993 "Post-Mainnet Runtime Safety"
Epic for all issues related to making Runtime non-abusable.

Upd: Renamed this epic to indicate that the work items are not crucial for the mainnet launch, but are good to have in general.

[2020-01-21 01:16] nearmax commented on #1319
AFAIR this only happens in debugging, just a CLion quirk.

[2020-01-21 01:16] #1319 closed

[2020-01-21 01:24] ailisp commented on #1896
I'm thinking if network is optimized by latency, 100 node test maybe work fine. Currently one node send shard to 50%-60% nodes are fast, with in half second, but send to some slow nodes are too slow.

[2020-01-21 01:29] nearmax opened #1994 "Upgradability"
Nearcore node should support being upgraded, this includes:
* Discussion on how we want upgradability to work:
  * Do we want the node to be upgraded automatically or manually by the user?
  * Who determines the output?
  * In what cases the upgrade needs to be backward compatible?
  * etc.
* Design and implementation of config upgradability;
* Design and implementation of binary upgradability.

[2020-01-21 01:34] nearmax opened #1995 "Runtime Config Cleanup"
Make sure that everything that needs to be in the Runtime Config is there.

[2020-01-21 01:56] nearmax opened #1996 "Events"
Users want to know when certain events occur relevant to their accounts, this includes balance changes, state changes, changes to access keys, etc.

We need to implement the following features:
* Querying changes based on the block indices;
* Subscribing to changes based from the front-end, e.g. JS in a browser.

[2020-01-21 02:09] nearmax commented on #967
Outdated

[2020-01-21 02:09] #967 closed

[2020-01-21 02:09] nearmax commented on #962
Outdated

[2020-01-21 02:09] #962 closed

[2020-01-21 02:09] nearmax commented on #1130
Outdated

[2020-01-21 02:09] #1130 closed

[2020-01-21 02:10] nearmax commented on #970
This is implemented

[2020-01-21 02:10] #970 closed

[2020-01-21 02:10] nearmax commented on #971
This should be a project and not an epic. Closing.

[2020-01-21 02:10] #971 closed

[2020-01-21 02:12] nearmax commented on #799
I presume this is done.

[2020-01-21 02:12] #799 closed

[2020-01-21 11:24] #1919 closed

[2020-01-21 11:45] #1971 closed

[2020-01-21 13:34] #1750 closed

[2020-01-21 14:56] SkidanovAlex opened #1998 "Add "tail" and GC old blocks / chunks"
Add a new field to the chain which is the "tail" of the current chain, in other words how far back do we know the blocks.

We should maintain an invariant that the "tail" is always in the ancestry of "head". The tail should be several epochs in the past from "head" (say 5 epochs).

We should move the tail periodically (either every time head changes, or once head crosses an epoch boundary?). When

[2020-01-21 15:23] fckt commented on #1703
fixed

[2020-01-21 15:23] #1703 closed

[2020-01-21 15:26] fckt commented on #1265
Changed the message: https://github.com/nearprotocol/nearcore/blob/fckt/rpc-errors/core/primitives/src/errors.rs#L278

And renamed the error. CC @evgenykuzyakov

[2020-01-21 15:51] fckt commented on #1106
Checked. `near-shell` prints:
[code]

[2020-01-21 15:51] #1106 closed

[2020-01-21 17:29] ilblackdragon commented on #1119
Seems like we don't need this at this point so closing.

[2020-01-21 17:29] #1119 closed

[2020-01-21 17:31] ilblackdragon commented on #1648
@Kouprin @bowenwang1996 please grab this issue for whoever is working on this.

[2020-01-21 17:41] Kouprin commented on #1648
For now, we keep old state parts forever while syncing. We should clear old parts from store (keys are: ColStateParts, ColStateHeaders).
@mikhailOK @ilblackdragon I didn't how `TrieChanges ` and `ApplyTransactionResult` are relevant to old states deleting. If there are different tasks, please reassign me to what I was pointed above.

[2020-01-21 20:12] mfornet commented on #1938
Solved in #1954 (See follow up in #1988).

[2020-01-21 20:12] #1938 closed

[2020-01-21 20:19] mfornet commented on #1896
I don't think it is a good idea to optimize regarding latency from the point of view of decentralization, since it can be gamed by placing "very fast" nodes closing to honest nodes, and effectively launching an eclipse attack.

Though nodes that are too slow might be "banned" (not necessarily a hard ban), right now, there is no action take in that regard from the network side, but slow block/shard

[2020-01-22 17:57] #1600 closed

[2020-01-22 19:29] nearmax commented on #1663
Discussed with @evgenykuzyakov and @frol, and decided that this should not be a part of the node. Assigning to applayer.

[2020-01-22 21:12] #1859 closed

[2020-01-22 21:19] evgenykuzyakov commented on #1461
I think we should rerun fuzzer from trail bits, now as the math is fixed.
I also need to look into VMLogic itself

[2020-01-22 23:53] evgenykuzyakov opened #2006 "Implement Safes"
Implement NEP design https://github.com/nearprotocol/NEPs/pull/26

From nearcore: need to update Runtime, VMLogic to handle Safes
From near-bindgen: need wrappers for Safes
From near-runtime-ts: needs wrappers for Safes

[2020-01-23 01:53] frol commented on #1663
I see that Illia and I failed to document our discussion on this matter. Illia (and I) also believes that it is better to have this outside of the node logic. Yet, considering the reliability factor, this kind of service would benefit from handling a stream of events (e.g. WAMP); we can workaround the streaming with polling. Another concern is that while the original strategy was to reuse Explorer

[2020-01-23 02:02] nearmax opened #2007 "NearConfig in RPC"
We need to make Near config query-able through node RPC. Specifically, one of our clients wants to have know how many blocks remain until an account is going to be evicted due to rent. This information can be derived from the account balance and the config.

[2020-01-23 02:07] nearmax opened #2008 "RPC batching"
Our clients want avoid the following race condition that can happen on RPC:

Suppose we want to query both the account info and the access keys of the account at the same time. Unfortunately, these are available through separate RPC requests. They can issue request for account state (suppose they get state at block X), but then when they query access keys get them at block X+Y. They try to re-quer

[2020-01-23 02:14] vgrichina commented on #2008
@nearmax will it also work for submitting transactions? It'll be cool to be able to submit them in batch to avoid `nonce` issues that can be caused by HTTP requests being re-ordered.

[2020-01-23 02:18] nearmax commented on #2008
@vgrichina In what case would you want to submit several transaction in on batch rather than batching actions within these transactions and submitting it as one transaction?

[2020-01-23 02:41] nearmax opened #2009 "Fix FunctionCallError(WasmTrap("unknown"))"
Currently when contract fails we return a non-descriptive error message `FunctionCallError(WasmTrap("unknown"))` we were not able to return a more descriptive message because it was not supported by Wasmer Singlepass: https://github.com/wasmerio/wasmer/issues/903

However, now it is fixed: https://github.com/wasmerio/wasmer/pull/1129

We should update to the new version of Wasmer+Singlepass and ma

[2020-01-23 16:09] fckt commented on #1288
It must print https://github.com/nearprotocol/nearlib/blob/master/src.ts/res/error_messages.json#L12 now.

[2020-01-23 16:09] #1288 closed

[2020-01-23 16:54] frol commented on #2007
The config includes quite an amount of information which is also nested and, what is even more important, sensitive (e.g. `secret_key`, `account_id` [?], `boot_nodes` [?], `blacklist` [?], etc; we need to review [the `near/src/config.rs:NearConfig`](https://github.com/nearprotocol/nearcore/blob/master/near/src/config.rs)). Given we want to expose the information in a backward-compatible way, we do

[2020-01-23 18:06] evgenykuzyakov opened #2010 "Wrap StorageError in RuntimeExt into ExternalError"
Right now we serialize StorageError, but it should be more generic for future work.

Background:
I'm doing a safe math wrapping in logic as part of #1461 and some values can only overflow if the state is inconsistent. So we need to expose this error further.

[2020-01-23 18:08] evgenykuzyakov opened #2011 "serde_with.rs in near-vm-logic can panic"
It uses unwrap in a few places.

It's also unclear whether we need serialize there at all. Maybe it makes sense to remove all serialize/deserialize derived traits. Needs investigation

[2020-01-23 18:10] bowenwang1996 commented on #2011
I think it's for diagnostics https://github.com/nearprotocol/nearcore/pull/1928

[2020-01-23 19:01] frol commented on #2007
Also, access to `NearConfig` from `chain/jsonrpc` is tricky, as it combines `near_client::ClientConfig`, `near_chain::ChainGenesis`, `near_network::NetworkConfig`, `near_runtime::RuntimeConfig`, and a number of other modules.

[2020-01-23 19:08] evgenykuzyakov commented on #2011
Not sure we have this diagnostics in VMLogic. Also it might be an overhead in serialization for diagnostics.

[2020-01-23 19:14] evgenykuzyakov commented on #2011
It's actually used for `near-vm-runner-standalone`.
So we need to fix the serialization by switching to base64 from utf-8 strings.

[2020-01-23 19:15] nearmax commented on #2007
I think RuntimeConfig (when we solve upgradability RuntimeConfig will depend on the block hash https://github.com/nearprotocol/nearcore/issues/1994), ClientConfig, GenesisConfig.

[2020-01-23 19:18] nearmax commented on #2008
So we will hide the retries inside our RPC handler?

[2020-01-23 19:22] evgenykuzyakov opened #2012 "ActionErrorKind doesn't provide index for ActionError"
There are a lot of places where we throw `ActionErrorKind` and then use `.into()`. This doesn't provide the action index. I think we can fix it in `Runtime::apply_action_receipt` by checking if `result.result.is_err()` and it's an `ActionError` and then insert the actual action index into the error.

[2020-01-23 19:33] frol commented on #2007
@nearmax I am considering adding *ConfigView structs to `chain/jsonrpc` (I have also considered `core/primitives`, but I don't want to pollute them even more) to resolve the issue of inappropriate inter-dependencies. Do you have better suggestions?

[2020-01-23 20:01] frol commented on #2008
Well, I have just read the `query` API and it turned out to have `call` and `contract` [aka `view_state`] methods, which actually execute some code, and even mutate data (in the case of `call`).

Should we just expose this ability to query account and access keys status by block hash then instead of complicating our API with batch interfaces?

[2020-01-23 20:13] nearmax commented on #2008
I think our RPC queries should support specifying block hash. This sounds like a good idea which is generic enough.

[2020-01-23 20:15] nearmax commented on #2007
@frol Why do we need additional structures? `RuntimeConfig`, `ClientConfig`, and `GenesisConfig` do not seem to be exposing any sensitive data so we can directly return them.

[2020-01-23 20:23] frol commented on #2007
@nearmax For example, `RuntimeConfig` is defined in `runtime/runtime`, which is not a dependency of `chain/jsonrpc`, and from what I know, chain and runtime are designed to be independent (thus, either `chain/jsonrpc` should be moved somewhere around `near` module to be high-level enough, or a "copy" of a structure should exist somewhere, or we can create a trait to handle that, but it seems to be

[2020-01-23 20:26] frol opened #2015 "RPC query account information and access keys by a specific block id"
*This issue supersedes #2008.*

Our clients want avoid the following race condition that can happen on RPC:

Suppose we want to query both the account info and the access keys of the account at the same time. Unfortunately, these are available through separate RPC requests. They can issue request for account state (suppose they get state at block X), but then when they query access keys get them a

[2020-01-23 20:26] frol commented on #2008
Closing in favor of #2015.

[2020-01-23 20:26] #2008 closed

[2020-01-23 22:17] frol commented on #1600
Resolved with #1910

[2020-01-24 02:03] nearmax commented on #1905
As discussed with Near developers it would be nice if we have cleanly extracted RPCUser without pulling too many dependencies from nearcore. Specifically, that would allow us to compile it with stable instead of nightly.

[2020-01-24 10:49] weekly-digest[bot] opened #2018 "Weekly Digest (17 January, 2020 - 24 January, 2020)"
Here's the **Weekly Digest** for [*nearprotocol/nearcore*](https://github.com/nearprotocol/nearcore):

 - - -
# ISSUES
Last week 45 issues were created.
Of these, 17 issues have been closed and 28 issues are still open.
## OPEN ISSUES
:green_heart: #2015 [RPC query account information and access keys by a specific block id](https://github.com/nearprotocol/nearcore/issues/2015), by [frol](https://g

[2020-01-24 11:20] fckt commented on #1811
When client be able to [read config trough RPC](https://github.com/nearprotocol/nearcore/issues/2007), then it'll be able to compute spendable balance on `nearlib` side and save unnecessary PRC call for the actual_amount for each time client want to send a transaction. I think also client would want to use not the current `block_height` for this, but `block_height` + `genesis.transaction_validity_

[2020-01-24 16:39] fckt commented on #2012
Take a look:
https://github.com/nearprotocol/nearcore/blob/staging/runtime/runtime/src/lib.rs#L482

[2020-01-24 16:43] fckt commented on #1967
Something like a signing proxy?

[2020-01-24 19:01] #1893 closed

[2020-01-24 19:28] #1094 closed

[2020-01-25 08:19] Kouprin opened #2021 "State sync should happen only on epochs frontier"
Check BLOCK_FETCH_HORIZON.

[2020-01-25 08:20] Kouprin commented on #1998
Discussed offline. No tail will be added, only GCing old data.

[2020-01-25 18:25] SkidanovAlex opened #2022 "Optimize the `retain` in `Doomslug::set_tip`"
Right now each time we do `set_tip`, we call `retain` that can traverse up to 10_000 heights.
 Rewrite it to take time proportional to the number of heights being removed, not all the heights present.

[2020-01-27 15:38] Kouprin opened #2024 "settlement -> assignment + fix seats chosen in proposals_to_epoch_info"
Discussed with @ilblackdragon

[2020-01-28 13:03] frol opened #2025 "Expose genesis JSON via RPC"
NEAR Explorer requires this to display all the accounts (including the ones only touched / created in genesis)

/cc @icerove @kcole16 @nearmax

[2020-01-28 14:33] nearmax commented on #2025
We should take into account the fact that the state records from the genesis are too large to be returned all at once.

Also, I am not sure we need a separate RPC API for this. Events already allow querying accounts that were created in genesis.

[2020-01-28 17:46] mfornet opened #2027 "Script to remove adversarial code."
All code behind adversarial feature flag should be removed before being merged into master.

[2020-01-28 17:59] frol commented on #2025
*Just documenting the offline conversation.*

1. We don't expose the list of accounts
2. The block #0 does not include genesis changes; those go to "block # -1", AFAIK

[2020-01-28 18:04] evgenykuzyakov opened #2028 "Are some shards more equal than others?"
E.g. I'm shard #2. I'm trying to combine incoming receipts from shard #0 and shard #1. Are receipts from shard #0 going to have a priority on top of receipts from shard #1?
@bowenwang1996

[2020-01-28 19:03] bowenwang1996 commented on #2028
That's right. Even though all shards are equal, some are more equal than others.

[2020-01-28 21:41] mfornet commented on #2028
Randomness?

[2020-01-29 13:54] #1052 closed

[2020-01-29 15:41] Kouprin commented on #2024
Not actual.

[2020-01-29 15:41] #2024 closed

[2020-01-29 15:44] frol opened #2034 "Update changes RPC to operate with base64-encoded data instead of arrays of bytes"
It is nicer to have a base64-encode strings than arrays of bytes exposed via RPC. Ref: https://github.com/nearprotocol/docs/issues/173#issuecomment-579533626

[2020-01-29 16:05] abacabadabacaba opened #2035 "Move unittest-specific code into separate modules"
Currently, we have some functions that are only used in unittests and are not suitable for production use. It would be a good idea to move them to separate modules (similar to `mod tests` for tests) and only build those modules for unittests.

[2020-01-29 19:44] bowenwang1996 opened #2036 "expose balance-change events in a block"
For a given block, we can query for each account the events that happen in that block, but there is no way to query all the events that change account balances for all the accounts that are touched in the block.

[2020-01-30 14:30] evgenykuzyakov opened #2039 "Invalid transactions dropped from the pool don't have the error"
When a frontend send 2 transactions with the same nonce, both of them are accepted by the node and added to the pool. Then when a block is being produced, one of the transactions become invalid and is dropped from the pool. There are no way to notify the front-end about the results of the transaction or what error caused the transaction to being dropped.

[2020-01-30 14:40] bowenwang1996 opened #2040 "Routed transaction can be silently dropped"
If a transaction, when submitted to a node, is routed to another validator, it can be rejected on the destination node, but no error will be returned to the caller or recorded for later query.

[2020-01-30 14:40] bowenwang1996 commented on #2039
Related issue: #2040

[2020-01-30 18:39] nearmax commented on #1829
For the record, as reported by @k06a when working with eth-bridge the cost of submitting Eth block header (70KiB -- 1200 hashes input) takes 0.1e15 gas which is a lot. The current gas limit of per transaction in 0.2e15. 99% of this gas is JSON parsing and 1% is actual math. JSON parsing is already optimized, it uses hex-encoding for hashes, and does other optimizations. CC @vgrichina

[2020-01-30 20:02] damons opened #2041 "README.md Badges Are Broken or Incorrect"
The badges at the top of the README.md file misrepresent the actual state of the project.  They should either be updated or removed.  We shouldn't mislead anyone who visits the repo.

[2020-01-30 20:05] damons opened #2042 "Update README.md To Include NEAR Mission"
The current README includes a few sentences about what NEAR Protocol does, or hopes to do; however, I suspect it might be better to add an actual mission statement that is consistent with all the other representations of the mission in other documents.

[2020-01-30 20:08] damons opened #2043 "Project Status Section of README.md is Misleading"
Our github repositories should be the most up-to-date source of truth.  Currently the project status contains misleading information about our test and dev networks.  For example:

Doesn't reflect reality.

[2020-01-30 20:13] k06a commented on #1829
I'd suggest considering serializing to Borsh on the near node before passing arguments into a smart contract, to keep `nearlib` maintain JSON since it is more handle for end-user.

[2020-01-30 20:14] damons opened #2044 "Running a Local Node Documentation Fails"
Following the instructions linked to from the README.md to run a local node does not work:
 https://docs.nearprotocol.com/docs/local-setup/running-testnet

By following those instructions, the developer's node will fail whenever staging and master are out of sync, which is almost always the case as our release cycles and practices leave branches/networks out of version sync.

[2020-01-30 20:27] damons opened #2046 "Add Contribution Guidelines to Github: CONTRIBUTING.md"
Need to create/add our contributor guidelines to CONTRIBUTING.md in nearcore.

[2020-01-30 20:41] willemneal commented on #1937
[This is one possible solution](https://github.com/trailofbits/manticore).   It already has support for Ethereum, [example here.](https://github.com/trailofbits/manticore/blob/5b2e15953394977cb0633b6d3e894b012c7f2609/tests/ethereum/test_general.py#L1665)

However, it's in python so we couldn't use it on the browser side.  But for simple functions it can exhaust every path and even for those that i

[2020-01-30 20:45] nearmax commented on #1811
Talked to our customers that requested this feature, they actually suggested to compute the real balance on the front-end side.

Also, @frol had a concern that if we expose this through RPC it will create an intense RPC traffic, because real balance will be changing every second and so front-ends will be querying it frequently.

Closing this issue in favor of https://github.com/nearprotocol/nearco

[2020-01-30 21:43] nearmax opened #2047 "Retrieve all events based on the block hash"
As requested by one of users, they want to know all events that happened across all shards based on the block hash

[2020-01-30 21:49] nearmax opened #2048 "Failed to query account changes"
Customer encountered the following bug. We need to do two things:
- [x] Try to reproduce and debug it;
- [x] Allegedly when someone sends changes RPC request to staging node it either hangs or crashes. We need to investigate it;
- [x] Independently on whether we can reproduce it or not create an example that uses `near-shell` and `curl` to create an account and query the changes for that account.

[2020-01-31 10:49] weekly-digest[bot] opened #2051 "Weekly Digest (24 January, 2020 - 31 January, 2020)"
Here's the **Weekly Digest** for [*nearprotocol/nearcore*](https://github.com/nearprotocol/nearcore):

 - - -
# ISSUES
Last week 31 issues were created.
Of these, 6 issues have been closed and 25 issues are still open.
## OPEN ISSUES
:green_heart: #2049 [Fix test bug](https://github.com/nearprotocol/nearcore/pull/2049), by [mikhailOK](https://github.com/mikhailOK)
:green_heart: #2048 [Failed to qu

[2020-01-31 15:52] #1998 closed

[2020-01-31 17:53] bowenwang1996 commented on #2027
Wouldn't this result in a lot of merge conflict when we merge master back into staging?

[2020-01-31 20:10] k06a commented on #1829
This is an example of gas consumption of near-bridge smart contract, `0.24e15` in total:
[code]

[2020-02-01 12:48] bowenwang1996 opened #2052 "get_key_value_changes can panic when processing a query"
On staging network it panicked at https://github.com/nearprotocol/nearcore/blob/143b138ab153800de227726c5cd079b8ba39cd5e/chain/chain/src/store.rs#L968 with
[code]

[2020-02-01 14:53] nearmax commented on #2052
@bowenwang1996  Were we able to reproduce it? How did we identify that it broke at that specific line of code? I saw the slice error but were not able to attribute to that specific line of code.

[2020-02-01 21:46] ilblackdragon opened #2054 "Return current account balance via RPC"
Currently we return previously touched account balance (e.g. lazy computed one).
Current account balance is `Account.balance - (block_height - Account.storage_paid_at) * Account.storage_usage * storage_price` - this should be returned in `amount`.

We should return also keep returning current lazy amount in separate value for anyone who needs that value.

[2020-02-01 22:07] ilblackdragon opened #2055 "Upgrade Wasmer to 0.17.0 and upgrade downcasting of errors"
We need to upgrade to Wasmer [0.17.0](https://github.com/wasmerio/wasmer/releases/tag/0.17.0) and upgrade downcasting of errors such that we can diffirentiate between host and guest panics, see: https://github.com/wasmerio/wasmer/issues/1328.
0.17.0 also includes fixes for the following critical bugs:
https://github.com/wasmerio/wasmer/pull/1436
https://github.com/wasmerio/wasmer/pull/1412

And it

[2020-02-01 22:49] ilblackdragon commented on #2055
Ok, isolated it to having prints in my contracts.
We should probably either block contracts with prints or make this errors more eligible.

The "used access key requires" is different errors, both in  nearlib and somewhere else. Investigating.

[2020-02-01 22:58] ilblackdragon opened #2056 "Align economic incentives for partial seat pricing"
Currently if validator gets 1.7 seats, they are rewarded for 1. Meaning there is no point of marginally adding stake until the threshold crossed.
This may lead to undesired behavior, but also in cases of delegation leads to delegates loosing their reward as more delegates join, e.g.:
 Current stake 10000, seat price: 10000 with reward per epoch per 1 near is 0.0001
 New stake added, current stake:

[2020-02-02 01:59] ilblackdragon commented on #1811
I don't fully agree with reasoning that ppl will keep calling RPC for recent balance in case if it is computed. They will keep calling it whenever they needed.

We still should return the lazy computed balance to allow frontends to compute the current balance at any block in the future (which is just an approximation always, as money can be added or sent from another place).

Also we should add is

[2020-02-02 02:00] ilblackdragon commented on #2054
Duplicate of #1811

[2020-02-02 02:00] #2054 closed

[2020-02-02 15:32] nearmax opened #2057 "Replace actix-web for RPC"
We are using actix-web for RPC, however we have experienced issues with stability and had some version upgrades break our tests. Also the status of actix-web is not well-defined. We should consider other frameworks:
* https://github.com/seanmonstar/warp
* https://github.com/hyperium/hyper
* ?
Depending on the level of abstraction we want to go with.

[2020-02-03 13:52] ilblackdragon commented on #2055
Filed the error as separate issue in nearlib - https://github.com/nearprotocol/nearlib/issues/210

[2020-02-03 14:10] Kouprin opened #2060 "Continuous State Sync"
We don't want to do download all the state for the shard each time we're going to validate it. If the node running for a while, it may have up to 99% of the actual state. We want to download only such pieces of data which are absent and needed for continue validating.

Subtasks:

- [ ] Check theoretical and technical possibility.
- [ ] Understand which additional proofs we need to check.
- [ ] Req

[2020-02-03 14:19] Kouprin commented on #1648
Discussed with @nearmax offline.
At epoch changing, we download a fresh state completely with no removed nodes. This means, for GCing old state it's enough to get rid of old state completely. GC will happen automatically while epoch changing. At current implementation of State Sync we re-download all the state anyway.
Implementation of decreasing number of links in persistent trie is relevant to C

[2020-02-03 14:22] potatodepaulo commented on #1994
Wanted to port last bullet point of this issue: https://github.com/nearprotocol/nearcore/issues/1951

Good actors with bad node hygiene will damage the health of the network. We need to create incentives for upgrading quickly (this is not relevant if we choose automatic upgrades). Likewise we may need to punish people with out of date nodes.

[2020-02-03 15:05] nearmax opened #2061 "Investigate safety of trait objects"
Make sure Borsh works correctly with trait objects. Trait objects do not have compile-time known size, and we use `size_of` in different parts of our code, so we need to make sure two things happen:
* Serialization/Deserialization works with trait objects;
* Serialization/Deserialization works correctly with trait objects;

[2020-02-03 16:54] ilblackdragon opened #2062 "Expose epoch information to the smart contracts"
For any smart contract that need to know about epoch information, currently there is no available info inside sandbox.

This includes work across nearcore & bindgen.

[2020-02-03 19:13] evgenykuzyakov commented on #2055
The first part:
[code]

Might be related to Wasm Traps. It should be addressed by https://github.com/nearprotocol/near-bindgen/pull/73

[2020-02-03 20:50] nearmax opened #2063 "EthDenver Technical Preparation"
@kcole16 is going to be presenting on February 13. So the **deadline is February 12**.

We will be using testnet for the EthDenver, because all our online documentation is pointing to the testnet and was not updated to support stagingnet.

Here is the list of items that we want to have for the EthDenver:
* Working eth-bridge that people can use for the development.
  * Since eth-bridge needs certa

[2020-02-03 20:54] nearmax opened #2064 "Add keccak to host functions"
We need to add it both to `master` and `staging` branches. This is currently used by near-bridge

[2020-02-03 20:57] nearmax opened #2065 "Allow floats in contracts on testnet"
We should allow floats for smart contract running on testnet (`master` branch).
Comment out this line: https://github.com/nearprotocol/nearcore/blob/master/runtime/near-vm-runner/src/prepare.rs#L60

[2020-02-03 20:59] nearmax opened #2066 "Fix staking action in Testnet (master branch)"
We should apply this change to the testnet/master branch:
https://github.com/nearprotocol/nearcore/pull/2058

[2020-02-03 21:10] ilblackdragon commented on #2066
This is not needed at the current version of mainnet for Denver.

[2020-02-03 21:10] #2066 closed

[2020-02-03 21:11] frol opened #2067 "Querying contract state via RPC does not give any result"
I have deployed `studio-abd6fq9b5` contract via studio, and executed a method which set `last_sender` key on a storage to `frol.near`. Yet, `query(contract/)` API does not work:

[code]

The second parameter is expected to be a base58-encoded key prefix, so I encoded "last_sender" with base58: "TsnowmMYMe3aWeM"

I have also tried to send an empty string (expecting to receive a whole state), that g

[2020-02-03 21:24] nearmax commented on #2064
@k06a Please do not forget to price the gas fees for the keccak correctly (we can do it after Eth-denver). To run gas fees estimates you would need to run https://github.com/nearprotocol/nearcore/tree/master/runtime/runtime-params-estimator with `--release` flag, see the instructions in the readme file.

[2020-02-03 21:29] Kouprin commented on #1648
+ check `clear_downloaded_parts`

[2020-02-03 21:37] nearmax opened #2069 "Have a script on how to start/restart testnet and practice it multiple times"
For EthDenver we need to have a text script for starting and restarting the testnet and we should practice it multiple times.

[2020-02-03 21:42] ilblackdragon commented on #2063
@nearmax @k06a for Eth Bridge events needs, given we don't have events - what kind of support is actually needed? Why not store whatever value is needed in specified by contract key?

[2020-02-03 21:46] nearmax commented on #2063
There is a terminology collision. Let's call this "changes": https://github.com/nearprotocol/nearcore/pull/1910 , because they are not verifiable (we cannot construct individual proofs to them). And let's call whatever corresponds to Ethereum events "events". "Events" have proofs and can be emulated either by:
* Writing logs directly to state trie;
* Returning logs as part of the function result.

[2020-02-03 21:47] ilblackdragon opened #2070 "Fix performance of state dump process"
Currently state dump on TestNet can take up to 1 hour for only ~50MB of state:
 * One reason is Json. We should use a binary format.
 * Another reason is usage of TrieIterator. This can be replace it by just iterating over all values in the STATE column and checking if they are Leafs of the Trie.

Note, let's add this directly to `master` as this is required to actually upgrade our live network.

[2020-02-03 21:54] bowenwang1996 commented on #2063
Is https://github.com/nearprotocol/nearcore/pull/2045 done? @k06a

[2020-02-03 21:59] ilblackdragon opened #2071 "Querying contract state fails"
Currently querying via RPC contract state fails with `Key must be a string`.

Repro:
[code]

[2020-02-03 22:07] ilblackdragon commented on #2071
Duplicate of #2067

[2020-02-03 22:07] #2071 closed

[2020-02-03 22:10] k06a commented on #2063
Yep, we need this PR to get merged before merging depending PRs in other repos.

[2020-02-03 23:12] frol opened #2074 "Define AccountId to hold a contract of being valid"
We should leverage strong typing and safety contracts of Rust, and make AccountId type that enforces its validity. This way, we improve node security, especially, around RPC boundary.

[2020-02-03 23:21] ilblackdragon commented on #2067
For documentation purposes, the output of query is a list of (key, value) from storage state encoded in base64 encoding:
[code]

[2020-02-03 23:22] ilblackdragon opened #2076 "Contract state should provide proofs from state root"
Given contract state queried from the node, we need also to provide a proof from this state (or part of the state) to the root of the state root that's in the block header.

[2020-02-04 00:59] frol commented on #2015
@nearmax The PR is merged, and there is a follow up issue on the Docs repo. What is our current process of handling issues from nearcore? Do we close them?

[2020-02-04 13:18] nearmax commented on #2067
Raising priority and moving to the EthDenver epic since it is important for the EthBridge. Also adding dependency.

[2020-02-04 15:19] Kouprin commented on #2021
May affect https://github.com/nearprotocol/nearcore/issues/1047.

[2020-02-04 16:00] bowenwang1996 opened #2080 "Move CI to github action"
Looks like github action supports caching now https://github.com/actions/cache. We should try again to see if it works for us now.

[2020-02-04 16:40] nearmax opened #2081 "master tests are broken"
Tests on `master` branch are broken which prevents us from merging PRs into it.
To reproduce:
[code]

Expected the tests to pass, but observe the following:
[code]

[2020-02-04 16:41] nearmax commented on #2081
It is not clear which test throws panic.

[2020-02-04 16:48] nearmax commented on #2065
@bowenwang1996 merged it, so I am closing it.

[2020-02-04 16:48] #2065 closed

[2020-02-04 16:58] ailisp commented on #2080
2gb is possibly too limited for rust. Will still give a try if it gives a reasonable speedup:
https://help.github.com/en/actions/automating-your-workflow-with-github-actions/caching-dependencies-to-speed-up-workflows#usage-limits-and-eviction-policy

[2020-02-04 17:22] bowenwang1996 commented on #2081
Does this appear on some specific branch? CI passes on latest commit on master https://github.com/nearprotocol/nearcore/commits/master

[2020-02-04 17:24] nearmax commented on #2081
It fails locally (see the description) and it fails on a PR that is supposed to be a no-op blocking it: https://github.com/nearprotocol/nearcore/issues/2064

[2020-02-04 17:39] bowenwang1996 commented on #2080
Does using our own runner solve this problem? https://help.github.com/en/actions/automating-your-workflow-with-github-actions/hosting-your-own-runners

[2020-02-04 17:53] mfornet commented on #2027
@SkidanovAlex discussed with @nearmax and @Kouprin and agree that having this tool in our release pipeline will be more detrimental than beneficial.

It will require a complex pipeline and s pointed out by @bowenwang1996 commits on top of master will be PIA. I understand that you don't want to have any adversarial code on master, now to avoid errors from users running nodes I added an explicit con

[2020-02-04 17:53] nearmax commented on #2081
From @ailisp :

[2020-02-04 18:32] frol commented on #2067
PR is under review https://github.com/nearprotocol/nearcore/pull/2075

[2020-02-04 18:37] nearmax opened #2082 "test issue"

[2020-02-04 18:46] #2082 closed

[2020-02-04 19:06] nearmax commented on #1839
Moving this into documentation pipeline adding @amgando to write documentation together with @fckt

[2020-02-04 19:09] nearmax commented on #1805
@Kouprin the PR does not seem to be blocked anymore. Assigning it to you, so that you can merge and close it.

[2020-02-04 19:19] #1989 closed

[2020-02-04 19:22] nearmax commented on #1692
* Moved this Epic to docs pipeline so that @amgando can start working on adding this information to docs, adding him to Assignees.
* Removed other issues that were under this epic (the one about splitting gas limit can be a standalone task, the other one about state splitting is in its own context and mostly related to storage).
* Changed priority to P1 since documentation has no urgency for this

[2020-02-04 19:41] Kouprin commented on #1805
@nearmax what is happened that you assigned this task on me?

[2020-02-04 19:57] nearmax commented on #1461
* Reduced the priority to P1 since what is left is to run fuzzer and manually scrutinize the code;
*  It seems like @evgenykuzyakov is not working on it actively, so I am moving it back to the Backlog.

[2020-02-04 21:13] nearmax commented on #1805
This issue is waiting for https://github.com/nearprotocol/nearcore/pull/1771 to be done, since you are the person working on it I assigned it to you. Once the PR is closed this issue should be closed too.

[2020-02-04 21:20] Kouprin commented on #1805
@nearmax nope, #1771 is blocked for merging _because_ of this issue.

[2020-02-04 21:21] nearmax commented on #1805
Got it.

[2020-02-04 21:22] ilblackdragon commented on #2076
Here is how Ethereum does proofs for storage:
 * https://github.com/ethereum/EIPs/issues/1186
 * https://github.com/ethereum/wiki/wiki/json-rpc#getproof-returns

[2020-02-04 21:35] nearmax commented on #2067
Since we decided to use events differently (see https://github.com/nearprotocol/near-bridge/issues/12) this is no longer a blocker for EthDenver. Therefore I am reducing priority from P0 to P1.

[2020-02-04 21:35] nearmax commented on #2076
Since we decided to use events differently (see nearprotocol/near-bridge#12) this is no longer a blocker for EthDenver.

[2020-02-04 22:05] ailisp commented on #2080
It's undocumented whether self hosted runner support a customized maximum cache, but i can try

[2020-02-04 22:09] nearmax commented on #2009
Moving it to in progress since I know that @fckt is currently working on it.

[2020-02-04 22:20] nearmax commented on #1114
This looks fixed now.

[2020-02-04 22:20] #1114 closed

[2020-02-04 22:24] nearmax commented on #2012
Closing since the action index is in `ActionError` struct.

[2020-02-04 22:24] #2012 closed

[2020-02-04 22:31] nearmax commented on #2011
Since it is not critical moving it to an IceBox.

[2020-02-04 22:46] bowenwang1996 commented on #2027
For me the main issue is readability. I don't like having adversarial code interspersed with the actual code, but it seems that we cannot find a better solution.

[2020-02-04 23:49] bowenwang1996 opened #2087 "pytests are broken"
Python tests are broken due to some strange assertion error, for example http://nightly.neartest.com/run/ae4852eb23166a7ae1a2894e24e57bdf31b234e3_200112_062437/pytest/pytest_sanity_transactions_py/stderr. However, I cannot reproduce this locally.

[2020-02-04 23:52] bowenwang1996 opened #2088 "Expensive tests fail because of too many open files."
For example, `test_smart_contract_self_call_testnet` fail with
[code]
http://nightly.neartest.com/run/ae4852eb23166a7ae1a2894e24e57bdf31b234e3_200112_062437/expensive/expensive_nearcore_test_cases_testnet_rpc_test__test_smart_contract_self_call_testnet/stderr

[2020-02-05 03:29] ailisp commented on #2087
I constantly get this error when run pytest locally sometime in January. If rerun it always worked again. Then this error disappear locally and i cannot see this error after that. @SkidanovAlex Did you fix it sometime in January and if so what was the fix

[2020-02-05 03:48] bowenwang1996 commented on #2087
I fixed it a while back https://github.com/nearprotocol/nearcore/pull/1985

[2020-02-05 13:48] nearmax commented on #2081
@ailisp Did you have a chance to create a cherrypick for ulimit?

[2020-02-05 13:54] nearmax commented on #2081
https://app.zenhub.com/workspaces/development-5cea2bcf78297c385cf0ec81/issues/nearprotocol/nearcore/2072 Was merged so it is not a blocker anymore. Removing from EthDenver Epic and lowering priority to P1.

[2020-02-05 13:55] nearmax commented on #2081
Leaving @ailisp as the only assignee since he is working on a fix.

[2020-02-05 14:42] nearmax commented on #2070
Setting priority to P0 since it is a major requirement for the EthDenver.

[2020-02-05 15:00] nearmax opened #2090 "Investigate how to run docker without internet"
This is needed so that @k06a can work on the plane.

[2020-02-05 15:42] nearmax opened #2091 "Rust API guidebook"
We need to combine documentation from https://github.com/nearprotocol/workshop and https://github.com/nearprotocol/near-bindgen/tree/master/examples/cross-contract-high-level into a single comprehensive Rust book similar to https://bheisler.github.io/criterion.rs/book/getting_started.html or http://serde.rs/ . That contains both tutorials, walkthroughs, exhaustive API documentation, also various g

[2020-02-05 15:46] #2064 closed

[2020-02-05 15:53] k06a opened #2092 "Publish new nearcore 0.4.4 image to DockerHub"

[2020-02-05 16:36] fckt commented on #2009
With https://github.com/nearprotocol/near-bindgen/pull/73 @evgenykuzyakov implemented Rust will call a `panic` extern on panic. How we expect panics to return the `FunctionCallError::HostError::GuestPanic{ panic_msg: String }`.

[2020-02-05 16:37] #2009 closed

[2020-02-05 16:40] nearmax commented on #2090
@k06a The solution is to comment out lines that do `docker pull` in https://github.com/nearprotocol/nearcore/blob/5e792f83ec49d09ed3d5e3193ba16479f2609a14/scripts/nodelib.py

[2020-02-05 16:40] #2090 closed

[2020-02-05 16:54] bowenwang1996 commented on #2092
We are at version 0.4.12. Why publishing 0.4.4?

[2020-02-05 17:15] k06a commented on #2092
@bowenwang1996 it seems our docker hub version is out of sync with nearcore version

[2020-02-05 17:24] fckt commented on #1335
@frol what is an easiest way to produce a Wasm output of the AssemblyScript?

[2020-02-05 17:26] frol commented on #1335
@fckt I use our Studio to do that. https://near.dev

[2020-02-05 17:26] bowenwang1996 commented on #2092
We use `latest` by default, but you are right that we should be more consistent with versions.

[2020-02-05 19:03] Kouprin opened #2094 "Add a flag for turning off GC"

[2020-02-05 19:19] nearmax commented on #2092
I published https://hub.docker.com/layers/nearprotocol/nearcore/ethdenver/images/sha256-7da5a84eb8ff0e7c642d0683fe9d91e1a950fc5b72a6495d449f2314b4a00cbc Once @k06a verifies that it works good we will replace the current testnet with it.

[2020-02-05 19:36] ailisp commented on #2087
The fail was old (older than #1985) and should also been fixed by #1985. But why pytest didn't run since Jan 12 is a problem, will create another issue

[2020-02-05 19:36] #2087 closed

[2020-02-05 19:40] ailisp opened #2095 "nightly runner doesn't run since Jan 12"
Weirdly, I'm not a sudoer in nightly runner so i couldn't further investigate

[2020-02-05 20:05] ailisp commented on #2081
Fixed in https://github.com/nearprotocol/nearcore/pull/2085
However gitlab mirror master is broken, will confirm this fix when i reset the mirror

[2020-02-05 20:24] nearmax commented on #1648
Discussed this issue with @ilblackdragon and @Kouprin more. We are going to have nodes that track most or all shards which means they will be continuously validating them non-stop. This means that state syncing will not clean up their cache.

Regarding the `TrieChanges`. I don't think we should be following this approach:

It is better to implement careful node counting which will allow us to do t

[2020-02-05 20:57] fckt commented on #1335
Looks like it's fixed in Wasmer. I made a test:
https://github.com/nearprotocol/nearcore/pull/2096

[2020-02-05 20:57] #1335 closed

[2020-02-05 21:05] fckt commented on #1811
Ok, what if instead of changing of the meaning of the `amount` property we add a `spendable_amount` or even better add a `unpaid_rent` to make more clear?

[2020-02-05 21:06] frol commented on #1811
In any case, let me first finish #2007 (the PR will be ready today), which will make genesis and runtime configs available in jsonrpc.

[2020-02-05 21:25] mikhailOK commented on #1335
this was fixed in #1326

[2020-02-05 21:57] fckt commented on #1265
must be fixed by now

[2020-02-05 21:57] #1265 closed

[2020-02-05 21:59] ailisp commented on #2081
Seems fixed: https://gitlab.com/near-protocol/nearcore/pipelines/115329698

[2020-02-05 21:59] #2081 closed

[2020-02-05 22:49] ailisp commented on #2095
It's likely because of disk is full. i can make it store logs into gcloud storage instead

[2020-02-06 02:16] ailisp commented on #2095
Fixed

[2020-02-06 02:16] #2095 closed

[2020-02-06 02:49] bowenwang1996 opened #2098 "[Discussion] Fail to sync state on testnet"
It appears that state sync doesn't work with current testnet state. When a node tries to do state sync from scratch, it gets stuck in
[code]
We should handle state sync better when the state is large.

[2020-02-06 03:10] Kouprin commented on #2098
@bowenwang1996 is it appeared after GC introduction?

[2020-02-06 12:20] ilblackdragon opened #2100 "Switching from b58 encoding"
@abacabadabacaba suggested to use an improved bs58 scheme that encodes into fixed length representation by splitting sequence into 8 byte chunks.

Additionally to add check sum to verify that the full sequence was provided and wasn't corrupted.

Interesting note that Ethereum didn't have this originally and they added it by using capitalization of letters in base16.

[2020-02-06 16:02] Kouprin commented on #1648
@nearmax,
discussed with @mikhailOK, it seems we can revert insertions to remove old states from trie
check https://github.com/nearprotocol/nearcore/pull/2084 for implementation details

[2020-02-06 16:10] Kouprin commented on #2021
@bowenwang1996 @SkidanovAlex please discuss about rationale here.

[2020-02-06 16:13] Kouprin commented on #2098
According to Slack discussion, it's about long-time restart (20 minutes), not about getting stuck.

[2020-02-06 18:17] SkidanovAlex commented on #2021
The biggest rationale is that if we always state sync from the epoch boundary, then we can later add optimizations on the end of the node that serves the state to precompute some responses and not recompute them every time (since at any given point there will be only ~2 hashes from which syncs are likely). The node can even chose to reject state sync from other than the recent couple epoch starts.

[2020-02-06 18:35] ilblackdragon commented on #1770
@SkidanovAlex is this fixed with your Doomslug work or still needed?

[2020-02-06 18:35] ilblackdragon commented on #1784
@SkidanovAlex Is these tests still flaky?

[2020-02-06 20:09] #2067 closed

[2020-02-06 20:15] bowenwang1996 opened #2105 "Investigate testnet slow restart"
Currently it takes more than 20 minutes for the testnet node to restart. We need to understand why it is the case and how we can fix it.

[2020-02-06 21:35] bowenwang1996 commented on #2098
Before GC introduction. Also this is a separate problem from restarting.

[2020-02-06 21:46] bowenwang1996 commented on #2021
Sounds good. My only concern is that since an epoch can be pretty long and we do orphan sync back to `sync_hash` there can be much more traffic involved.

[2020-02-06 21:55] bowenwang1996 commented on #1770
We pass `cur_time: Instant` as an argument to `process_timer`. I think it is good enough.

[2020-02-06 21:55] #1770 closed

[2020-02-07 07:57] weekly-digest[bot] opened #2108 "Weekly Digest (31 January, 2020 - 7 February, 2020)"
Here's the **Weekly Digest** for [*nearprotocol/nearcore*](https://github.com/nearprotocol/nearcore):

 - - -
# ISSUES
Last week 55 issues were created.
Of these, 21 issues have been closed and 34 issues are still open.
## OPEN ISSUES
:green_heart: #2107 [Use OsRng instead of OsRng::default() or StdRng. There is no benefit …](https://github.com/nearprotocol/nearcore/pull/2107), by [abacabadabacaba

[2020-02-07 13:45] Kouprin commented on #2098
@bowenwang1996 I cannot get what you want from me in this issue. What is it about? Discussion?
BTW, please run a node with `info`-level of verbose and you'll get more detailed data.

[2020-02-07 16:42] bowenwang1996 commented on #2098
I suspect that there is some problem with state sync: when the state is large retrieving and sending one state part cannot finish in 10 seconds and it keeps timing out.

[2020-02-07 16:42] bowenwang1996 commented on #2098
Also I don't think garbage collection is relevant here since we don't have garbage collection for state yet.

[2020-02-07 16:50] Kouprin commented on #2098
What we can do better?

Makes sense.

[2020-02-07 20:14] SkidanovAlex opened #2110 "When reconstructing a chunk, receipts and encrypted secret shares are not stored into the cache entry"
When a node that tracks a shard fully reconstructs a chunk, it sets all the parts in the cache entry:

[code]

But it doesn't appear to be also setting the receipts.
 Thus, if the original creator of the chunk is offline, and for some shard no receipts were distributed, when network participants resort to fetching state from participants that follow the shard, such participants will not serve the

[2020-02-08 00:18] vgrichina opened #2111 "block_timestamp doesn't document units"
[code]

[code]

Note that the common issue is that generally comments which are like `/// Method name` are completely useless.
Comments should provide info which isn't easily inferred from method name, e.g. in this case which units is timestamp measured in and reference point. Without this info one doesn't have any idea how to use this field.

[2020-02-08 00:27] vgrichina commented on #2111
Info from @bowenwang1996:

It's nanoseconds from January 1, 1970 UTC

[2020-02-08 18:54] amgando commented on #1692
@nearmax how do you imagine this landing in the docs?

i can imagine
- as little as a "simple list of possible errors", basically translating the code and comments into markdown and including them in some sensible location
- or as much as "samples of code that induces each error", where each error includes a short snippet that, if applied in the correct context, will repeatably induce the error (n

[2020-02-08 19:06] amgando commented on #1839
@nearmax seems like i would need to wait for this refactoring to surface in `nearlib` via https://github.com/nearprotocol/near-wallet/issues/289 before documenting

is that the correct assumption or have i missed some other work i must do here?

[2020-02-09 00:15] #2094 closed

[2020-02-09 00:20] Kouprin opened #2115 "[Discussion] Refactoring of how to run a node"
Starts here: https://github.com/nearprotocol/nearcore/pull/2099#pullrequestreview-355217127
@nearmax, discuss here, find the best solution, set proper priority and find an assignee. If not, close.

[2020-02-10 13:49] SkidanovAlex commented on #1023
Partial duplicate of #1648

[2020-02-10 13:51] SkidanovAlex commented on #1040
Closing as syncing code has changed drastically since then.
If syncing still sends more messages than normal, we will find it during the stability push.

[2020-02-10 13:51] #1040 closed

[2020-02-10 13:55] SkidanovAlex commented on #1570
@Kouprin can you confirm one more time there's no repro and close?

Would also be good to confirm with Illia what particular part of the log is in question, because the log dump is pretty large.

[2020-02-10 13:58] #1646 closed

[2020-02-10 14:01] SkidanovAlex commented on #1694
There's no plan to support such a scenario in any foreseeable future, because running multiple nodes with the same account needs to carefully handle which nodes create blocks, which is a non-trivial task.

So let's keep one account = one peer.
Need to make sure though that if one rejoins the network with a new peer-id, but the same account, it works.

[2020-02-10 14:01] #1694 closed

[2020-02-10 14:04] #2028 closed

[2020-02-10 14:09] SkidanovAlex commented on #2098
This

Seems to be contradicting

?

In other words, do I understand correctly that the state sync does progress, it's just that preparing each part takes more than 10 seconds, or is it completely stuck?

[2020-02-10 14:11] SkidanovAlex commented on #1638
Let's consolidate in #2098

[2020-02-10 14:11] #1638 closed

[2020-02-10 14:16] #1651 closed

[2020-02-10 14:17] #1846 closed

[2020-02-10 14:17] #1050 closed

[2020-02-10 14:27] #1753 closed

[2020-02-10 14:31] SkidanovAlex commented on #1836
We need to significantly improve our bug reporting skill, it easily took me at least five minutes to even find what Max was concerned about.

Max was concerned that the test calls to `check_blocks_on_same_chain` in place where we need to check that a particular block is in the ancestry of another block. Indeed, this is what `check_blocks_on_same_chain` does, so there's no issue (besides somewhat c

[2020-02-10 14:31] #1836 closed

[2020-02-10 17:50] ailisp commented on #2105
Why it happens: As Bowen discovered it doesn't happen in the last restart, but once it happened it involve a `~/.near/data` shrink. It goes from 70G to 30G last time. This is a data compaction done by rocksdb. The gcloud instance take `~20 min` to copy 30G data, the same disk io can use 20min to compact 70G to 30G. I think we do want this auto compaction to avoid storage use up very soon (in my lo

[2020-02-10 18:25] Kouprin commented on #1570
I've executed it several times with Debug level tracing:
1. no `[2019-10-26T01:08:18Z DEBUG near_client::client_actor] Epoch out of bound for header Epoch Out Of Bounds` message
2. no stacktrace appeared
3. execution log is pretty short
4. test takes ~5 seconds to complete

I guess the issue isn't actual for now.

[2020-02-10 18:25] #1570 closed

[2020-02-10 18:37] ghost opened #2116 "Negate the Need to Manually Lookup Latest-Stable-Release Tag"
## Problem

Releases are usually available via a git tag (like `v1.2.3`).

In order to get the latest release from the repo, a user needs to lookup the latest release, or use a cli command like e.g. `git describe --abbrev=0 --tags`.

Those manual steps are error-prone and inconvenient.

## Solution A

With each new release, tag additionally 'stable' (latest stable release)

`git checkout stable` r

[2020-02-10 21:35] bowenwang1996 opened #2118 "Dump only the latest state."
Currently state dumping https://github.com/nearprotocol/nearcore/pull/2086 dumps the past states as well. We should change it to dump only the latest state.

[2020-02-10 21:36] ailisp commented on #1026
@ilblackdragon Still need confirmation above. I believe a trait of sign(hash: &[u8], prev_block_hash: CryptoHash) is enough, or even current sign(hash: &[u8]) is enough since hash is trivial, for signer it doesn't hurt to sign this hash again even it's signed before

[2020-02-10 21:37] #1883 closed

[2020-02-10 21:40] ailisp commented on #1634
azure, aws, digitalocean support in progress, they would make 100 node test possibly less automatic as current, but before block production in 100 gcloud node go well I think we don't need to try it in a higher latency / diversed environment

[2020-02-10 21:40] ailisp commented on #1820
Fixed by @ilblackdragon

[2020-02-10 21:40] #1820 closed

[2020-02-10 22:41] SkidanovAlex commented on #1346
Most likely related to #1484

[2020-02-10 22:56] ailisp commented on #2105
Just saw @bowenwang1996 mentions it's because of the other reason. Does restart fast after your PR? https://github.com/nearprotocol/nearcore/pull/2086#issuecomment-583798073

[2020-02-11 23:00] SkidanovAlex opened #2121 "Randomness DKG would stall epoch switch if one shard is completely offline"
Currently the aggregate phase would stall if at least one shard is completely offline.

The solution should be to detect it happened (e.g. by observing that the aggregation phase didn't make progress for some number of steps), and to remove all the shares committed in the stalled shard from the aggregation (and to restart the aggregation).

[2020-02-12 00:56] evgenykuzyakov opened #2123 "`apply_rent` doesn't check for `storage_paid_at` value"
The following line can underflow. https://github.com/nearprotocol/nearcore/blob/staging/runtime/runtime/src/actions.rs#L86

We should wrap it into an `checked_sub` to avoid malicious state transitions that could crash a node during a malicious challenge.

[2020-02-12 02:40] mikhailOK commented on #2070
Did an investigation and reopening this issue.
Here are the facts:
- We had an 1 hour state dump incident 8 days ago and opened this issue
- A few days after that we ran into space issue on that node. This resulted into deleting the data that reproduced the issue but also upgrading the disk on that instance
- Since then we were unable to reproduce a slow state dump, json or binary format
- We have

[2020-02-12 19:20] #2123 closed

[2020-02-12 23:45] #1858 closed

[2020-02-13 00:21] nearmax opened #2128 "Allow querying accounts touched within the block"
We should extend RPC API to query all accounts that were touched within the given block.

[2020-02-13 00:23] nearmax opened #2129 "Changes RPC should allow querying multiple accounts at once"
Changes RPC API should allow requesting changes for the given list of accounts. Currently it supports requesting change per only one account.

[2020-02-13 00:37] SkidanovAlex opened #2130 "Only kickout block / chunk producers if they are lower than threshold compared to the median"
Today we kick out block / chunk producers at the end of the epoch if the number of the blocks / chunk produced is below a certain threshold.

Since we want to set a very aggressive target block production time, some blocks are expected to get slipped. Instead we should kick out any block / chunk producer who produced below the same threshold, but compared to how many blocks / chunks were produced

[2020-02-13 15:47] frol commented on #1637
This seems to be completely resolved and documented.

[2020-02-13 15:47] #1637 closed

[2020-02-13 15:58] frol commented on #1927
Resolved in #2075

[2020-02-13 15:58] #1927 closed

[2020-02-13 16:00] frol commented on #1967
@bowenwang1996 I don't understand how this could work. Do we expect someone to send us their private key to sign a transaction?

[2020-02-13 16:06] frol commented on #1121
Resolved in #1962. The documentation is not reflecting the change, yet.

[2020-02-13 19:50] ailisp opened #2132 "Script to dump, migrate and upload state in test maintenance"

[2020-02-13 19:51] ailisp opened #2133 "Automate reset testnet process"
This script is for validator perspective, they should be able to run this script to:
- Shutdown node if running
- Obtain new binary & genesis state
- Restart node with new code & state
- Remove old data and reset ~/.near
- Restart the node

[2020-02-13 19:52] ailisp opened #2134 "script to simulate process of #2132 and #2133 in a separate node"

[2020-02-13 19:52] damons opened #2135 "Document nearcore Release Process"
We are moving to scheduled releases, i.e., nightly, staging, testnet, and eventually mainnet.  In order to do this, we must first document our current release process for staging.  We will use this documentation to automate our release process as much as possible.

The output of this task will be to create a markdown file in the nearprotocol/docs repo describing the steps required to produce a rel

[2020-02-13 20:00] lazaridiscom commented on #2135
Write self documenting release scripts

[2020-02-13 22:31] fckt commented on #1994
Note: It's not relevant to upgradability itself. It's related to the consensus algorithm.

[2020-02-13 23:03] SkidanovAlex opened #2137 "`collect_block_approval` uses `head`, which is wrong"
`collect_block_approval` uses the block producers based on the epoch id of `head`, not the actual block being approved. It is completely wrong, and breaks many assumptions and invariants (e.g. the last invocation to Doomslug can make it mistakenly assume that a block has enough approvals by using the account stake from a wrong epoch).

It should exclusively use the epoch based on the `parent_hash`

[2020-02-14 02:22] weekly-digest[bot] opened #2138 "Weekly Digest (7 February, 2020 - 14 February, 2020)"
Here's the **Weekly Digest** for [*nearprotocol/nearcore*](https://github.com/nearprotocol/nearcore):

 - - -
# ISSUES
Last week 29 issues were created.
Of these, 6 issues have been closed and 23 issues are still open.
## OPEN ISSUES
:green_heart: #2137 [`collect_block_approval` uses `head`, which is wrong](https://github.com/nearprotocol/nearcore/issues/2137), by [SkidanovAlex](https://github.com

[2020-02-14 02:43] #1976 closed

[2020-02-14 02:44] #2018 closed

[2020-02-14 02:44] #2051 closed

[2020-02-14 02:45] #2138 closed

[2020-02-14 02:45] #2108 closed

[2020-02-14 04:18] bowenwang1996 commented on #1967
No it's would be an endpoint where HSM is hosted. There is some trust involved.

[2020-02-14 08:02] ilblackdragon opened #2139 "Rent paid is 0 in the block / chunk header"
We have `rent_paid` field in block and chunk headers but it's always 0:

[code]

[2020-02-14 21:19] #1461 closed

[2020-02-14 22:34] #2092 closed

[2020-02-14 22:35] nearmax commented on #2070
@bowenwang1996 This is a blocker for the hackathon.

[2020-02-14 22:36] nearmax commented on #2069
@bowenwang1996 Are we able to quickly restart tesnet if needed during the hackathon?

[2020-02-14 23:05] ghost opened #2141 "Revise README"
## Expected

The usual, like:

* Build Status
* Description (very compact, consistent with repo-description)
* Install from Binaries (can point to online-manuals)
* Build from Source (basic build, e.g. for ubuntu, then point to manual for more info)
  * Running Tests
  * Install
  * Mention Mac and Win
* Contribution (tiny text, then point to manual / file)
* Developer Resources
* Acknowledgements

[2020-02-14 23:11] k06a commented on #2092
@nearmax I can confirm it works good enough with the bridge

[2020-02-15 00:47] nearmax commented on #2092
Thank you!

[2020-02-15 04:17] bowenwang1996 opened #2143 "Testnet reset testing"
There needs to be some tests to make sure that the state and config migration is successful. For state migration, we can do a reverse migration and check if the original state dump can be recovered (caveat: need to be extra careful when the migration is not a bijection). In addition, we also want to check:
* stake in `validators` match locked balance on their account.
* genesis time is properly up

[2020-02-15 04:27] bowenwang1996 commented on #2070
As we measured, the speed of state dumping is quite fast. We also have a PR that further improves the speed https://github.com/nearprotocol/nearcore/pull/2126

[2020-02-15 23:56] bowenwang1996 commented on #2139
It is because we don't use staging as much and if there is no transaction in that block there will be no rent paid as no account is touched. On testnet we can see that rent paid is nonzero:
[code]

[2020-02-17 14:08] Kouprin opened #2145 "Catchup tests fail"
- [x] test_catchup_random_single_part_* fixed in https://github.com/nearprotocol/nearcore/pull/2146
- [x] test_catchup_receipts_sync_distant_epoch fail (related to GC)

[2020-02-17 14:17] Kouprin commented on #2145
http://nightly.neartest.com/run/8fa00ac6ed6d093d69133aa7a6e2e7e992d2c711_200208_114405

[2020-02-17 16:22] bowenwang1996 commented on #2145
It would be more helpful if you link to the commit.

[2020-02-17 16:58] Kouprin commented on #2145
`git checkout 8fa00ac6`

I'm not sure what are you asking about. What link do you need?

[2020-02-17 16:58] Kouprin commented on #2145
commit 8fa00ac6ed6d093d69133aa7a6e2e7e992d2c711 in staging.

[2020-02-18 03:03] frol commented on #2048
I was able to reproduce the error. Digging into it further.

Here are the commands I use (just for the reference):

[code]

Then, I use `storage_paid_at` block height from the account information retrieved with:

[code]

Having block height, we get block hash using `block` RPC call (we don't have near-shell shortcut to do this), so here is [httpie](https://httpie.org/) command:

[code]

Finally, q

[2020-02-18 03:20] frol commented on #2048
Ouch, that was a stupid mistake in calculating a common prefix size for non-data-changes, see #2148

[2020-02-18 03:32] frol commented on #2128
The implementation is already there, `account_id` that is specified is used as a prefix, so passing an empty `account_id` works as one requested in this issue. This is definitely unexpected, so I will work on the design a little bit more, and make this feature clear especially since it is not really expected to receive info about changes to vlad, vlad111 and vlad222 accounts when you specify `vlad

[2020-02-18 03:33] frol commented on #2052
Duplicate of #2048 (resolved in #2148).

[2020-02-18 03:33] #2052 closed

[2020-02-18 05:06] ghost opened #2149 "[WEBSITE] "Validator" vs. "Producer""
The "Glossary of Terms":

https://nearprotocol.com/papers/nightshade/#glossary

contains

Reality seems to be closer to this:

- A Producer produces blocks
- A Validator validates blocks produced by a Producer
- A participant can be
  - only a Producer
  - only a Validator
  - both, Producer and Validator

Possibly the glossary should be corrected to reflect this.

[2020-02-18 16:59] #2145 closed

[2020-02-18 17:27] evgenykuzyakov commented on #1700
Blocked on discussion about shard congestion, because the current split might be deprecated based on the result of the discussion

[2020-02-18 17:31] evgenykuzyakov commented on #1266
The main reason for early validation is to avoid memory cost issues. We don't charge extra fees for the length of the `account_id` when creating a new receipt. So you only paying memory access when passing the account from the buffer.

Another reason: we should stop the contract as early as possible to save gas for the contract and for the user. It increases TPS and good for the network.

[2020-02-18 17:34] evgenykuzyakov commented on #1266
Validation requires  refactoring `core/primitives` to extract `utils`.

[2020-02-18 18:33] ilblackdragon commented on #2139
We should include pay rent based on the current state not on touched accounts.

The actual accounts don't need to be touched for us to charge the exact amount and put that into the block.

If we not really using this (to actually burn the right amounts of tokens), we should also drop this field.

[2020-02-18 18:43] evgenykuzyakov opened #2152 "Gracefully handle RuntimeError in NightshadeRuntime"
The following lines have panics for some errors: [https://github.com/nearprotocol/nearcore/blob/9ed24269598ac1f1e8e33319c80c17faac51ba93/near/src/runtime.rs#L304-L312](https://github.com/nearprotocol/nearcore/blob/9ed24269598ac1f1e8e33319c80c17faac51ba93/near/src/runtime.rs#L304-L312)

We need to handle them gracefully and create challenges whenever possible.

[2020-02-18 19:46] ghost opened #2154 "[BRANDING] "NEAR Protocol" and its Description"
(this belongs more in a top-level repo, like "org", but did not find one. Note that it does not belong into documentation repos)

Inconsistency:

* github org: **The highly scalable, developer-friendly blockchain.**
* This repo README: **NEAR Protocol - scalable and usable blockchain**

Problems:

* NEAR is more than a blockchain, its a DApp-Platform [1]
* NEAR is `highly scalable` and "usable"

p

[2020-02-18 22:48] evgenykuzyakov commented on #1692
@amgando
I think we need to document limits that we have within Runtime. E.g. maximum length of key to store, or maximum size of a contract that can be deployed, etc.

Here is the configuration for different limits. Each field has inline comments. If some comments are unclear then we need to expand on them:
https://github.com/nearprotocol/nearcore/blob/9ed24269598ac1f1e8e33319c80c17faac51ba93/runt

[2020-02-19 00:11] ailisp commented on #2132
in #2126

[2020-02-19 00:14] ailisp commented on #2143
How should they be updated?

[2020-02-19 00:16] ailisp opened #2156 "Considering how to integrate nightly test into release process: nightly.neartest.com"
In short:
@SkidanovAlex @bowenwang1996
- determine which tests must passed before release
- what if ^ tests doesn't pass, do we still release?

@ailisp
- have script check these tests passed
- update ui
- need database to track tests. loop to find all runs of existing tests seems already slow

[2020-02-19 00:29] bowenwang1996 commented on #2143
For genesis time, we will announce it when we plan the reset/upgrade so that should not be a problem. For total supply, we mainly want to check that if we change something about the account it is updated correctly. For example, if we change the denomination from yotcoNEAR (I don't think it will happen but just in case) to something else, we need to make sure that the total supply is correctly upda

[2020-02-19 00:30] bowenwang1996 commented on #2156
Also update the UI to make it easier to understand.

[2020-02-19 01:35] ailisp commented on #2135
Haven't find a very appropriate location to put this doc. Suggestions? https://docs.nearprotocol.com/docs/contribution/nearcore or https://docs.nearprotocol.com/docs/validator/staking-overview
Full possible places: https://github.com/nearprotocol/docs/tree/master/docs

[2020-02-19 01:52] lazaridiscom commented on #2135
@ailisp , a possible solution:

add a "dev" folder in the root of the sources, there you can add any information relevant to (core) development. README would start with "this documentation addresses core-developers and external core-contributors, e.g. people which work on the near-protocol source-code itself"

So, dapp/asset/chain-related documentation goes to the docs sites (normal developers, th

[2020-02-19 01:55] lazaridiscom commented on #2135
Just noticed this in the OP:

"docs" implies "standard documentation" (e.g. users/normal devs).

better to distinguish clearly (use of ./dev)

[2020-02-19 18:13] nearmax commented on #2129
Assuming this works: https://github.com/nearprotocol/nearcore/issues/2128#issuecomment-587262142 and we can query all changes to all accounts by providing no prefix then we can close this issue.

[2020-02-19 19:09] lazaridiscom opened #2158 "[WEBSITE] Provide High Contrast"
I'm excited by what the website describes:

https://nearprotocol.com/

but a bit annoyed by the low-contrast.

Readability first, design 2nd.

=> make the text black

## Assessing

use any "font contrast" or "High contrast" extension for the browser to see the difference quickly. Though "high contrast" for documentation like material is a no-brainer

[2020-02-19 19:41] damons opened #2160 "INFO logging level reporting of number of peers is incorrect"
During the staging release process today we noticed that the number of peers reported by the nearcore daemon is incorrect.  For example:
[code]

This shows a varying number of peers as they are discovered/brought online.  The bug is exposed whenever the first server is brought online (at that point the number of peers is reported correctly), then  more peers are started, what we see then is the fi

[2020-02-20 03:27] frol commented on #2129
Well, querying by a list of accounts has on overlap with querying by an account prefix, but they are not the same... Let me see into it while I am improving the API design for #2128.

[2020-02-20 10:45] amgando commented on #2158
@lazaridiscom moving this to the website repo since `nearcore` is unrelated

[2020-02-20 10:46] amgando commented on #2158
Issue moved to [nearprotocol/wp_website #2](https://github.com/nearprotocol/wp_website/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2020-02-20 10:46] #2158 closed

[2020-02-20 10:46] amgando commented on #2158
Issue moved to [nearprotocol/wp_website #3](https://github.com/nearprotocol/wp_website/issues/3) via [**ZenHub**](https://www.zenhub.com/)

[2020-02-20 15:50] lazaridiscom commented on #2158
Given the lack of a dedicated public repo, this would be the related repo.

https://github.com/nearprotocol/wp_website is a deadlink (assuming nonpublic).

(sidenote: GitHub has a new issue transfer functionality, button right)

[2020-02-20 20:21] nearmax commented on #1156
@bowenwang1996 Is this fixed?

[2020-02-20 20:22] bowenwang1996 commented on #1156
We run them in nightly tests now

[2020-02-20 20:22] nearmax commented on #1808
Moving to Ice Box since it does not affect readability, performance, safety or DevX.

[2020-02-20 20:23] #1156 closed

[2020-02-20 20:27] nearmax commented on #2115
Copying my suggestion here and assigning to @damons to get his input since he is looking at related things ATM.

[2020-02-20 20:30] nearmax commented on #1881
Assigning it to @frol so that we have only one assignee as per guidelines.

[2020-02-20 21:30] nearmax commented on #972
I think we have a decent coverage now, especially with https://github.com/nearprotocol/nearcore/blob/master/runtime/runtime/src/balance_checker.rs

The get the ultimate coverage we need to implement https://github.com/nearprotocol/nearcore/issues/1293
I am closing this issue in favor of the one above.

[2020-02-20 21:30] #972 closed

[2020-02-20 21:48] nearmax opened #2162 "After #2157 cleanup"
#2157 introduced some code that needs cleanup.
1. Remove unnecessary macros. There is no explanation why we cannot use regular type parameters there and I cannot see one myself. Macros are much harder to maintain and debug than regular code. https://doc.rust-lang.org/std/hash/trait.Hash.html seems like a perfect fit and I don't see a reason why we need anything different. Notice how it allows us t

[2020-02-20 21:56] abacabadabacaba commented on #2162
1. We need macros because Rust doesn't have variadic methods. I'd rather write `hash!(a, b, c, d)` than `Hash::new().chain(a).chain(b).chain(c).chain(d).result()`.
2. We need `typenum` to implement `digest::FixedOutput` trait for `Hash256`.
3. The underscore is to signal that this is not a part of public API. These functions are used from macros, so they must be declared `pub`.

[2020-02-20 22:07] nearmax commented on #2162
1. Could you tell where in the code invocation like `hash!(a, b, c, d)` is used? At the end there is always some structure like `Block` that needs to be hashed the way it is used is by declaring `#[derive(Hash)]` on the structure which does this chaining;
2. We need `FixedOutput` just so that we can cast `Hash256` to `[u8; 32]` here: https://github.com/nearprotocol/nearcore/pull/2157/files#diff-b3

[2020-02-20 22:19] abacabadabacaba commented on #2162
1. Currently, `hash!` (and similar macros `hash_s!` and `prs!`) are used in `near_crypto::randomness` (11 uses) and `near_crypto::vrf` (4 uses). Among them, I found 4 uses with 4 arguments and 2 uses with 5 arguments.
2. We need `FixedOutput` to implement `Digest`. We use traits in `digest` crate instead of `core::hash` because this is what other crates we use do. For example, `blake2::Blake2b` im

[2020-02-20 22:38] nearmax commented on #2162
1. It looks like `hash!` uses one or two params, we do not need variadic power here.  If we implement Hasher trait for blake2 then we can do `(key, &self.0[..32 * k + 32])).hash(&mut blake2_hasher)` instead of `hash!(key, &self.0[..32 * k + 32])`.
2. Got it.

[2020-02-20 22:51] abacabadabacaba commented on #2162
Looking at `std::hash`, I see that it is not suitable for our use case:
* The `Hasher` trait assumes 64-bit output, which is too short for us.
* The documentation doesn't specify how exactly does `#[derive(Hash)]` would hash the structure. The result may depend on compiler versions, but we need consistent results.

In general, this module is designed for hashes used in hash tables, not for cryptog

[2020-02-20 23:14] ghost opened #2164 "[TEST] Error: dependencies::External::keccak512"
running the test with

[code]

brings 2 test failures:

[code]

[code]

Any Ideas?

(ubuntu 18.04, Hyper-V on Windows)

## Reproduction

you can narrow the test run to:

[code]

EDIT: using master c2e4dc071e24e49beda71aa1895f4df5401e6759 or staging a083062f7390c8d11998156689094e2165b3ebb8

# Tasks

- [x] error cause https://github.com/nearprotocol/nearcore/issues/2164#issuecomment-589719181
- [ ]

[2020-02-20 23:52] nearmax commented on #2162
Reading the documentation:

I am sure it implies the order of declaration.

In general, the arguments against Hash are convincing.

[2020-02-20 23:52] #2162 closed

[2020-02-21 02:18] frol opened #2165 "Use master branch for development"
Currently, we keep `master` as our stable branch, so a user who wants to play with nearcore node, can join testnet without a need to learn about other branches. However, we have been very aggressive about evolving our protocol (i.e. adding new features and experiments, which touched the whole codebase, e.g. Nightshade, DoomSlug), and obviously, these efforts were not completed in a single day, so

[2020-02-21 02:22] weekly-digest[bot] opened #2166 "Weekly Digest (14 February, 2020 - 21 February, 2020)"
Here's the **Weekly Digest** for [*nearprotocol/nearcore*](https://github.com/nearprotocol/nearcore):

 - - -
# ISSUES
Last week 26 issues were created.
Of these, 11 issues have been closed and 15 issues are still open.
## OPEN ISSUES
:green_heart: #2164 [[TEST] Error: dependencies::External::keccak512](https://github.com/nearprotocol/nearcore/issues/2164), by [lazaridiscom](https://github.com/laz

[2020-02-21 02:58] lazaridiscom commented on #2165
I think the 1st goal here should be to have the github-UI work as expected: a casual contributor edits a document, github creates a feature branch, sends the PR toward the default branch: master.

## Workaround

Find a way to rebase the PR to what you need (my understanding is "staging"), without(!) asking the contributor to do so. This way both sides are happy.

[2020-02-21 04:37] nearmax opened #2167 "Cleanup Borsh Serializers"
- [x] Allow deriving Borsh schema using `#[derive(BorshSchema)]`. https://github.com/nearprotocol/borsh/pull/56
- [x] Implement Rust contract metadata and use Borsh schema for types;
- [ ] Reconcile and update Borsh for TS/JS (Applayer workspace): https://github.com/nearprotocol/nearlib/issues/252
- [ ] Upgrade rpctypegen to new Borsh Schema format (blocked by the above issue).

[2020-02-21 05:38] lazaridiscom commented on #2166
Hey, I'm famous!

[2020-02-21 05:47] lazaridiscom commented on #2167
Never liked cabbage, until I ate borsh.

Question is if this naming-indirection makes sense. I mean, reading technical docs and getting hungry, and guessing what this library does?

Possibly you should consider giving "borsh" a more expressive name, something that implies what this library does.

near-stream?

[2020-02-21 06:15] ghost opened #2168 "[TASK] Prepare Project Resources for External Contributors"
(draft)

Naturally, this task needs to be executed by a newcomer who

*   has not much knowledge of the project
*   is in the same time capable (fast work-in) to either
*   create/refine the resources, or
*   file/trigger issues which are executed by the existent team

The existent team knows too much, so it is not able to detect the barriers that newcomers will face.

Part of the task is to trigg

[2020-02-21 15:42] damons commented on #2165
I agree that using `master` for stable releases is awkward.   Personally, when I visit any given open source github repo, I expect master to be the bleeding edge of development.   One of the first things I look for is recent activity.  I want to know if the project is active or not.  If I see that there hasn't been a commit in a few months, I immediately become wary that the project is not activel

[2020-02-21 16:07] abacabadabacaba commented on #2164
This bug is introduced by #2045. @k06a, did you run the tests?

[2020-02-21 18:25] lazaridiscom commented on #2164
Added task section.

[2020-02-21 18:33] damons commented on #2165
Bo, Bowen, and I have been working through our release process which, today, is essentially rebuilding and lightly testing staging then merging it into master.    In our live/offline discussions, happening in person, we are proposing the following:

For the next release (i.e., next week), we propose switching tip development (i.e., the default branch of nearcore) to be `master` and actually use `m

[2020-02-21 19:02] vgrichina commented on #2165
As I understand there is some applayer part of transition:
- Deploy new networks including corresponding web stuff (this might be good time to move all config to `render.yml`)
- Have corresponding `ci-` networks for running integration tests
- Update default configs in create-near-app and near-shell

[2020-02-21 19:45] damons opened #2170 "Create a `devnet` network for daily development work"
Per #2165 we should consider creating a `devnet` network with lower stability constraints than `testnet`.

The idea is that whenever a fresh checkout of the default branch of `nearprotocol/nearcore` will be `master` (which is what it is today) which is the tip of development with the latest and greatest code fresh from hackers.  Today, `master` is acting as our release branch and scripts are used

[2020-02-21 19:58] k06a commented on #2164
@abacabadabacaba sure, you can check CI of the PR:

[2020-02-21 19:59] k06a commented on #2164
@abacabadabacaba sure, you can check CI of the PR:
- in `staging` branch: https://github.com/nearprotocol/nearcore/pull/2045
- in `master` branch: https://github.com/nearprotocol/nearcore/pull/2072

[2020-02-21 20:12] lazaridiscom commented on #2165
Be very careful here to not create a cascade of interdependent changes which can lead to a deadlock.

just to trigger some though:

First step is trivial, see https://github.com/nearprotocol/nearcore/issues/2165#issuecomment-589474812

second step is switch to a "master + feature-branches" standard-dev-model.

possibly the 3rd step to create the devnet (#2170) and related "dev" branch.

|  branch

[2020-02-21 20:23] damons opened #2171 "Create a `betanet` to be used as the chain network for the beta release branch"
As part of our efforts to move to schedule releases, I propose we create a new chain network called `betanet` which will be used for all beta releases.  Beta releases will eventually be promoted, after all testing has occurred, to the `stable` branch.

We should strive to keep `betanet` has stable as possible; however, due to the fact that we are still actively developing our chain protocol, we ex

[2020-02-21 20:26] damons opened #2172 "Stabilize staging and master branches and cut a release to the beta branch"
To move to scheduled releases, stabilize the `staging` branch, test it until we are satisfied it can be used with `testnet` by the community, and create a `beta` branch that points to a new network.

This effort depends on the creation of the `devnet` and `betanet` chain networks.  See: #2171

[2020-02-21 20:27] abacabadabacaba opened #2173 "gitlab-ci doesn't run doc tests"
It seems like gitlab-ci runs regular tests but not doc tests. As a result, bugs like #2164 slip through.

[2020-02-21 20:31] damons commented on #2172
Needed to realize #2165.

[2020-02-21 20:33] abacabadabacaba commented on #2164
It seems that our CI doesn't run doc tests. Did you run the tests yourself? Where do these [test](https://github.com/nearprotocol/nearcore/blob/05a82d8dd74531b21567623ab0e7e75946afea19/runtime/near-vm-logic/src/dependencies.rs#L563) [vectors](https://github.com/nearprotocol/nearcore/blob/05a82d8dd74531b21567623ab0e7e75946afea19/runtime/near-vm-logic/src/dependencies.rs#L584) come from?

[2020-02-21 20:36] damons commented on #2133
I'd really like to see these functions/use cases to be managed by NEAR Shell.

See:  https://github.com/nearprotocol/NEPs/pull/31

[2020-02-21 20:39] damons commented on #2115
Also see:  https://github.com/nearprotocol/NEPs/pull/31

[2020-02-21 20:52] k06a commented on #2164
@abacabadabacaba got it, I remember, I ran doc tests and copied result from error message (checked them manually). It's strange it is not working now.

[2020-02-21 20:52] damons opened #2174 "Adopt Feature Flags"
To move to scheduled releases, developers must have the ability to quickly disable any code that is not ready to be promoted from `nightly` to the `beta` and `stable` branches.

Let's begin.

For more information on Feature Flags, this is a good read:  https://www.worthe-it.co.za/programming/2018/11/18/compile-time-feature-flags-in-rust.html

[2020-02-21 20:58] damons commented on #2174
This is a dependency for #2165

[2020-02-21 20:59] ailisp commented on #2174
We have a few compile-time feature flags, but mostly been used for expensive test or debugging. Should we name the flag to `nightly`, `beta` and `stable` so we could guard some features to nightly-only or beta-only

[2020-02-21 21:01] abacabadabacaba commented on #2164
A good approach for generating such test vectors is to use a different implementation. In this case, you could install a keccak library for Python and use it to generate them from command line.

[2020-02-21 21:05] damons commented on #2174
Can we start with flagging any feature currently under active development that has yet to be merged to `staging` ?

In other words, let's begin gating all pull requests into `staging` related to new features or major changes that might result in a network failure--especially those?

We should have github issues for each of those.  Anyone currently working on code that's approaching a commit chime

[2020-02-21 21:05] bowenwang1996 commented on #2174
I don't think we should use feature flags for features of our system, or at least not extensively. Feature flags are mostly for things like adversarial testing, expensive tests, etc.

[2020-02-21 21:13] damons commented on #2174
Is this true?  I'm not so sure.

Also, if we can do this by using diffs and merges from feature branches (which is what we will be using as part of scheduled releases), we might not need them; however, I suspect they will be useful for adding well-defined/contained features we want to add in the future that put stability at risk.

[2020-02-21 21:14] damons commented on #2174
Adding Illia and Alex because I know they hecka influence nearcore's Rust code.

[2020-02-21 21:16] k06a commented on #2164
@abacabadabacaba agree I used an online calculator to verify manually, but copied formatted vector from the error message.

[2020-02-21 21:20] frol opened #2175 "Add a new RPC to specify finality in block call"
For the reference, the implementation for `query` API: https://github.com/nearprotocol/nearcore/pull/2127

Currently, we can only query `block` by hash and by height, but it is also useful to be able to query the latest, the finalized, and the near-finalized (DoomSlug) block without extra calls.

Current API:

[code]

Here is the design of the new extended API:

[code]

[2020-02-21 21:22] vgrichina commented on #2174
Ideally we need flags which can be enabled/disabled during execution time vs compilation time. So that eventually we can enable them on-chain.

[2020-02-21 21:24] bowenwang1996 commented on #2174
Code will get very messy if we add a feature flag for every feature we add. It is already quite messy with the adversarial test flag.

[2020-02-21 21:27] frol opened #2176 "Improve RPC APIs around returning enums with empty variants"
Currently, Actions in Transaction and Permissions in Access Key APIs are serialized into a list of `string` or `object` depending on whether the enum variant has anything inside:

https://github.com/nearprotocol/nearcore/blob/a031e4f670c70ae362244ef68cf1ed3235a78f4f/core/primitives/src/views.rs#L68-L76

Which leads to inconsistency like:

[code]

There is no simple way to force serde to always ser

[2020-02-21 21:28] lazaridiscom commented on #2172
May I suggest that you add this right at the beginning of the issue text https://github.com/nearprotocol/nearcore/issues/2172#issue-569167383, as a "blocks" relation?

`(blocks #2165)`

Better issue-trackers have this build in, well, here on github it needs improvisation.

[2020-02-21 21:30] lazaridiscom commented on #2174
I don't think that this issue blocks #2165.

[2020-02-21 21:33] evgenykuzyakov commented on #1838
Here is the scenario:

1. A malicious chunk producer creates an invalid chunk with invalid transition.
1. This chunk is included in the block and no one challenged this chunk.
1. A new malicious chunk is produced on top the previous malicious chunk.
1. A malicious challenge is created for the 2nd malicious chunk. The challenge is legit by itself, but it's built on top of 1st malicious chunk. The 1

[2020-02-21 21:44] bowenwang1996 commented on #2175
I am not sure whether this needs to be part of the rpc. If we implement this in rpc we have to change nearcore code. Alternatively we can provide this on the explorer side.

[2020-02-21 21:46] damons commented on #2172
Good idea.  Will do.

[2020-02-21 22:24] nearmax commented on #2174
@damons We should be extremely careful, because it has the following disadvantages:
1. It makes the code less readable because it creates obscure dependencies. Suppose we have the following code:
[code]
and we decide to modify it to the following in nightly:
[code]
How should we decorate it with conditional compilation? Should it be:
[code]
Or
[code]
The second solution is definitely not preferabl

[2020-02-21 22:28] nearmax commented on #2174
Few more questions:
* What is the process of promoting the code form `nightly` to `beta`? Are we going to replace-all `feature= "nigthly"` with `feature = "beta"` across our code base?
* It looks like we don't need `stable` feature, because the code that's not decorated with `nightly` or `beta` is the stable one, correct?

[2020-02-21 22:30] damons commented on #2174
What if we routinely surveyed our code for antiquated flagged code that we know is stable and removed the feature flags?

Once something has been in our `beta` releases long enough, we can remove the adornments, maybe?

[2020-02-21 22:31] damons commented on #2174
I was actually thinking only enabled or disabled as possible choices.  I hadn't considered enabling by major branch.

[2020-02-21 22:32] nearmax commented on #2174
Also, this is relevant: https://github.com/nearprotocol/nearcore/issues/2115 If we decide to have conditional compilation flags for different modes of running the node then we need to have clean separation of these features from enabled/disabled, as noted by @bowenwang1996

[2020-02-21 22:33] vgrichina commented on #2174
@damons @nearmax  I think that it's far better to always compile same code, but have flags which are disabled/enabled in run time using config for now (and on-chain data at some point in future).

This will allow building and qualifying single Docker image and then enabling different features based on environment, etc. Will also more or less solve problem with code going stale.

[2020-02-21 22:39] SkidanovAlex commented on #2174
Specifically for compile-time flags, why is it better than branches in git?

If we do need to do something on the feature level (which is not very frequent, usually all the features from nightly get promoted to beta, and all the features from beta get promoted to stable), we can remove / add them selectively:

Disabling a feature = git revert.
Enabling a feature = git cherry-pick

[2020-02-21 22:44] nearmax commented on #2174
@SkidanovAlex For me `git cherry-pick` always results in a lot of pain especially for not well-encapsulated code.

[2020-02-21 22:47] #1810 closed

[2020-02-21 22:54] bowenwang1996 commented on #2174
@damons I am very against decorating code with feature flags for every feature that we implement. This will make code extremely unreadable, hard to maintain, and hard to review. Imagine you implement some feature that interferes with some other feature, you now need to modify some code blocks to add an additional feature and our codebase would be flooded with `[cfg(feature=blah)]`.

[2020-02-21 22:56] nearmax commented on #2174
I suggest we survey on each release, instead of doing it periodically.

[2020-02-21 23:27] vgrichina commented on #2174
@bowenwang1996 this is hard reality we will have to accept at some point. There also will need to be alternate code paths for different RPC protocol versions, etc.

However given we will need flags at runtime going forward (for on-chain upgrades), I feel it's far better to start using runtime flags from beginning vs first moving to compile-time flags and then trying to figure out runtime flags lat

[2020-02-21 23:42] lazaridiscom commented on #2174
Elegantly modular and framework like architecture would make Feature-flags most possibly obsolete.

i guess.

[2020-02-21 23:56] frol commented on #2175
@bowenwang1996 Why is it so? It seems that we should be able to follow the `query` API implementation. Am I missing something?

[2020-02-22 00:55] bowenwang1996 commented on #2175
Ah you are right. I misunderstood the feature.

[2020-02-22 01:30] ghost opened #2182 "[PROJECT] Change Label "housekeeping" to "quality""
`housekeeping` sounds a little bit casual, it's about "dust", not that much about "how things are organized and work".

But several issues are in essence about `quality`, and a label should indicate this a bit stronger.

I mean, you can easily ignore `housekeeping`, but the label `quality` makes you think twice if you ignore it.

(please feel free to close immediately, this was just a thought when

[2020-02-22 01:35] evgenykuzyakov opened #2183 "Empty method_names for add_function_access_key causes an error"
Split returns an empty element instead of no elements at all:
https://github.com/nearprotocol/nearcore/blob/ed2f677920325a00da6e99e4e672c5b90050d495/runtime/near-vm-logic/src/logic.rs#L1442-L1452

The correct behavior is to allow empty vec as part of the key.

[2020-02-22 01:45] lazaridiscom commented on #2165
(I saw excerpts of a "whiteboard" video with near and solana, so i guess you have a communication channel with them)

Solana seems to build several binaries (beta, edge) without having dedicated branches:

https://github.com/solana-labs/solana#release-binaries

They are highly allergic to having multiple branches, not exactly sure why.

Just for your information.

[2020-02-22 02:14] lazaridiscom commented on #1959
was fixed in #1960, closable.

[2020-02-22 08:27] ilblackdragon commented on #2165
So here are few questions + thoughts to this and #2174:

 - Do we want to allow people who check out `master` to join TestNet / MainNet?
         - If yes, there are two options:
             - (1) `master` is the most recent stable / MainNet release. And we only update it when we hard fork our network (current approach). Merging to master is major release. This should be tested ~14 days of replay

[2020-02-22 08:45] lazaridiscom commented on #2165
Whatever you do, please ensure that you have a master that has standard-behavior (see https://github.com/nearprotocol/nearcore/issues/2165#issuecomment-589816770).

And one question: don't you use mock-nets for ci?

[2020-02-22 16:01] fckt commented on #2165
To prevent accidents there could be a `protocol_version` field in genesis file (and if feature changes `protocol_version` must be incremented). On a network level we have a check witch prevents nodes with a different genesis to connect to each other.

[2020-02-22 16:04] SkidanovAlex commented on #2165
@nearmax how hard would it be to make macro magic that has annotations like this:

[code]

And then have `serialize` / `deserialize` take a version as an argument?

[2020-02-22 19:59] lazaridiscom commented on #2165
I made a trivial #2153, and got finally capture in a complex analysis re deployment, networks, branches... All I wanted was "a standard-behavior of 'master branch', aligned to the github workflow".

Seeing how this here is processed, I insist that you need external help not only to fix/provide your documentation, but additionally your processes. It is one thing to win in competitions, it is anothe

[2020-02-23 18:53] nearmax commented on #2182
quality has connotations that are too generic. Also housekeeping is a common label on github.

[2020-02-23 18:53] #2182 closed

[2020-02-23 18:56] nearmax commented on #2167
Borsh name is too much ingrained into our codebase to be easily switched. Also, similar to CBOR, BORSH is a meaningful abbreviation see http://borsh.io/

[2020-02-24 12:23] fckt opened #2187 "Expose a block_hash into a Wasm runtime"
~@nearmax @SkidanovAlex @ilblackdragon
How do you think, is there any reason to have a `chunk_hash` exposed to smart contracts as well? I guess it's better to not expose it.~

[2020-02-24 16:13] bowenwang1996 commented on #2187
Smart contracts should not be aware of sharding at all, so I don't see why `chunk_hash` needs to be exposed.

[2020-02-24 16:22] fckt commented on #2187
Another question: we have a prev_block_hash available. In EVM up to 256 last block hashed are available. Do we need it as well?

[2020-02-24 20:29] ailisp commented on #2165
Sure, after switch to master for development I can help setup these

[2020-02-24 20:38] ailisp commented on #2165
@ilblackdragon

Current issue: we have many failed nightly tests, I think need them all green for a few days to consider both code and tests stable enough, otherwise too many rollback
Potential issue: rollback more than one PR possibly block several team members, I'd argue it's better to wait background test of previous merge success, before merge another PR

[2020-02-24 20:41] ailisp commented on #2165
Good point. I think we have protocol_version, but didn't increase it for a while

[2020-02-25 01:07] nearmax commented on #2187
What is it used for? In general, I would suggest we add host functions as they are requested. @evgenykuzyakov is going to write a bunch of contact examples soon based on Ethereum use-cases and if anything like this pops up we can discuss and add it. Closing it. Will reopen once we have a use case.

[2020-02-25 01:07] #2187 closed

[2020-02-25 01:08] nearmax commented on #2187
Thank you for reporting though!

[2020-02-25 18:16] damons opened #2192 "Update Build Docs for Running a Node"
Need to update the NEAR Documentation for Running a Node to direct hackers to use the `stable` branch instead of staging when using `testnet`

Here:  https://docs.nearprotocol.com/docs/local-setup/running-testnet

[2020-02-25 18:49] damons commented on #2165
Yes.  (3) is what I'm proposing.

Yes, with a few slight modifications:

`master` is lastest pushed code.  We're creating a new network for development work:  `devnet`.  Should be done by EOD tomorrow (Wed. Feb 26th).

`beta` branch is code promoted weekly (Wednesdays) from `master`.  We are creating a `betanet`for this branch.  We will no longer use `staging_testnet`.  EOD tomorrow.

`stable` bra

[2020-02-25 19:05] #2183 closed

[2020-02-25 21:42] ailisp commented on #2165
master is lastest pushed code. We're creating a new network for development work: devnet. Should be done by EOD tomorrow (Wed. Feb 26th).

beta branch is code promoted weekly (Wednesdays) from master. We are creating a betanet for this branch. We will no longer use staging_testnet. EOD tomorrow.

stable branch is code promoted monthly from beta branch. Stable uses testnet until mainnet is launched

[2020-02-25 21:43] #2132 closed

[2020-02-25 23:13] bowenwang1996 commented on #2165
Beta branch is already created by the way.

[2020-02-26 13:51] fckt commented on #1804
Checked it. It's not.

[2020-02-26 15:29] potatodepaulo commented on #2141
Thanks for this. Will update with these sections.

[2020-02-26 16:19] frol opened #2194 "Redesign TX-status RPC to avoid confusion"
According to @evgenykuzyakov and @bowenwang1996, only Receipt Outcome can have logs, but not the Transaction Outcome. Currently, we reuse the Outcome type for both and this leads to some confusion. At the very least, we should hide the field on the RPC level.

[2020-02-26 16:30] bowenwang1996 commented on #2175
#2186

[2020-02-26 16:30] #2175 closed

[2020-02-26 17:09] fckt commented on #1804
@mikhailOK I spent quite a time to find out how and where the computed memory usage is applied..

[2020-02-26 17:51] evgenykuzyakov commented on #2194
@frol, do we prohibit receipt hash query through the `tx-status` RPC?

[2020-02-26 17:58] frol commented on #2194
@evgenykuzyakov Sorry, I don't quite get the question. Can you elaborate more?

[2020-02-26 18:48] nearmax commented on #1838
Assigning to @SkidanovAlex since it might be triggering failure on chain side.

[2020-02-26 18:50] nearmax commented on #1700
@evgenykuzyakov to follow up with discussion on how this should be done.

[2020-02-26 21:20] evgenykuzyakov opened #2195 "`tx-status` hangs for invalid hash"
repro: `near tx-status 89gscCuj5qTv2YxsaXtAt9yYYEH6NXg2fjnytX2dghwT --account_id=ek-ethbridge-pusher`
near-shell version 0.20.1
target: testnet

Observed logs:
[code]

[2020-02-26 21:22] bowenwang1996 commented on #2194
@evgenykuzyakov yes it is prohibited

[2020-02-26 21:25] bowenwang1996 commented on #1838
Is this fixed in #2155?

[2020-02-26 21:29] evgenykuzyakov commented on #2194
Ok. In the past `tx-status` RPC returned the results even if the given hash was a a receipt hash. Now it doesn't but instead hangs for X seconds until returning 502.

Filed this following issue: #2195

[2020-02-26 21:58] nearmax commented on #1838
Assigning to @evgenykuzyakov  to provide reply.

[2020-02-26 22:11] evgenykuzyakov opened #2196 "[Discussion] How to stop shard congestion attack"
A shard can be attacked by continuously sending receipts to this shard through other shards.
The total cost of this attack doesn't increase by default, because the global gas_price doesn't go up with the current logic, because the total gas used doesn't go beyond the half of the entire system. This means the cost of the attack can be pretty low until the shard becomes completely clogged and can't

[2020-02-26 22:11] evgenykuzyakov commented on #1700
Blocked by #2196

[2020-02-26 22:11] nearmisterwhite opened #2197 "Third Party Security Audit of Mainnet Genesis Contracts"
Upd: I have added more contracts, since the review is going to be done for all of them together.

This includes the following contracts:
* Lockup/vesting contract;
* Staking pool;
* Voting contract;
* Whitelist contract;
* Fungible token contract;

Unfortunately the first two contracts are closely tied together, specifically we will allow staking from the vesting contract only through the staking

[2020-02-26 22:13] #1850 closed

[2020-02-26 22:14] evgenykuzyakov commented on #1838
It's addressed on Runtime side. I think Runtime is pretty safe, since it doesn't have `unwrap`s or `expect`s and doesn't trust the state at all.
It's likely still an issue on RPC side and maybe on chain side

[2020-02-26 22:22] bowenwang1996 commented on #2196
While there might be fewer transactions, each transaction will cost more and since we split reward between validators, I don't think it necessarily lead to lower revenue for validators.

[2020-02-26 23:11] frol commented on #1299
It seems that most of the items are already addressed.

[2020-02-26 23:11] #1299 closed

[2020-02-27 00:56] ailisp opened #2200 "Over 1bps in current master"
`target/debug/near init` then `target/debug/near run` gives a ~1.3bps. Expected 1bps or less

[2020-02-27 01:22] ailisp commented on #1746
Today run a skylake compiled binary to run on sandy bridge and ivy bridge without illegal instruction (weird :thinking:, it was illegal instruction immediately when `sde -ivb -- target/release/near run` and `sde -snb --`)
So it isn't a blocker to release binary/binary inside docker now

[2020-02-27 01:48] ailisp opened #2202 "Experiment gcloud build again and replace gitlab-ci"
The before try has two blocking problems:
- gcloud build took away `.git` after clone, git-version crate will throw compilation error
- docker in docker (d-n-d) is sub-optimal in speed and robustness (major reason)

The reason to bring it back
- gitlab-ci is not robust and slow, has issue of some test process will not been successfully terminated which result in worker slow down and die.
- reallyf

[2020-02-27 16:06] bowenwang1996 commented on #2200
This is expected. The default configure will produce blocks every 600ms if there is only one validator.

[2020-02-27 16:06] #2200 closed

[2020-02-27 18:40] #2070 closed

[2020-02-27 20:03] bowenwang1996 commented on #1838
I don't think it's an issue on the rpc side given that we prohibit querying receipts. On the chain side I don't see any issue because validators cannot inject receipts arbitrarily since receipts are all merklized and verified when they are received.

[2020-02-27 23:22] evgenykuzyakov commented on #1838
So if a shard produces an invalid `ExecutionOutcome` with the result `SuccessReceiptId` pointing at the transaction itself. It might create the infinite recursion during fetching of `get_recursive_transaction_results`

[2020-02-28 01:16] ailisp commented on #2202
gcloud build spec file can only define one job. You can only increase steps but not in parallel run a few jobs, this, if running a series of test, become slow. solana and discord seems to use buildkite, which seems a good self-hosted, auto scaling CI for rust, would use that instead

[2020-02-28 01:16] #2202 closed

[2020-02-28 01:50] bowenwang1996 commented on #1838
@evgenykuzyakov that's fine. The query will just time out.

[2020-02-28 02:22] weekly-digest[bot] opened #2205 "Weekly Digest (21 February, 2020 - 28 February, 2020)"
Here's the **Weekly Digest** for [*nearprotocol/nearcore*](https://github.com/nearprotocol/nearcore):

 - - -
# ISSUES
Last week 38 issues were created.
Of these, 22 issues have been closed and 16 issues are still open.
## OPEN ISSUES
:green_heart: #2197 [Third Party Security Audit of Mainnet Genesis Vesting Smart Contract](https://github.com/nearprotocol/nearcore/issues/2197), by [nearmisterwhite

[2020-02-28 21:29] frol commented on #2007
Reopen to track documentation

[2020-02-28 21:33] frol commented on #2007
@amgando #2109 has relevant examples of `EXPERIMENTAL_genesis_config` API call.

[2020-02-28 21:34] frol commented on #2025
@amgando https://github.com/nearprotocol/nearcore/pull/2109 has relevant examples of `EXPERIMENTAL_genesis_records` API call

[2020-02-28 23:05] SkidanovAlex opened #2206 "Re-enable fork_sync.py"
The test became mostly obsolete due to Doomslug, but would still be good to have it.

The way to fix it:

1. Move from `sanity` to `adversarial`
2. Add an adversarial RPC endpoint to disable doomslug
3. WIth disabled doomslug the test is expected to pass.

[2020-02-29 00:24] ilblackdragon commented on #2165
@ailisp @bowenwang1996 we just had discussion about this (see more details https://commonwealth.im/near/proposal/discussion/360-consistency-between-downloaded-state-github-branches-and-the-actual-networks) and there are few questions that popped up:
- How actual release is happening, specifically steps to go from PR that merges into `beta` to everyone in the network upgraded to the new code and ne

[2020-02-29 00:25] SkidanovAlex opened #2208 "Runtime expensive tests trigger an assert in `cache.rs`"
**When this issue is fixed, uncomment tests in nightly.txt that were affected. Search for 2208 in the file to find the tests.**

A series of night expensive runtime tests:

[code]

all fail with the same assert:

[code]

[2020-02-29 00:27] evgenykuzyakov commented on #1829
Here is the full testing results, going to summarize them in the next comment:
[code]

[2020-02-29 00:59] frol commented on #2165
@ilbackdragon these are essential questions, but I feel that they do not belong to this particular issue. Let’s have another tracking issue for the raised concerns

[2020-02-29 01:05] evgenykuzyakov commented on #1829
Base gas cost of full noop call is `0`
Base gas cost of calling a function with near_bindgen is `998,800,089`

Extra cost of JSON input for an extra character in an argument name e.g. (aa: u32) vs (a: u32) `351,803,305`

## Integers

Cost of JSON input of (a: u32) where a=1 is `14,101,273,583`
Extra cost of JSON for an additional digit in the input is `448,212,580`
Cost of JSON input of (a: u32, b

[2020-02-29 01:23] nearmax commented on #1829
@vgrichina ^

[2020-02-29 01:24] bowenwang1996 commented on #2165
@ilblackdragon I thought we will run devnet and betanet internally. If we allow external people to join it is much harder to automate things. For testnet release yes there needs to be some coordination. I somehow forgot about this and will think more about it. For how releases qualify, please checkout https://commonwealth.im/near/proposal/discussion/344-release-process

[2020-02-29 01:44] ilblackdragon commented on #2165
Closing this issue as @frol is right. Let's keep discussion to commonwealth.

[2020-02-29 01:44] #2165 closed

[2020-02-29 01:47] nearmax commented on #1829
Extra cost of Borsh per string char argument is higher than with JSON.
I wonder whether this is because we are actually verifying that the string is a valid UTF8 here: https://github.com/nearprotocol/borsh/blob/master/borsh-rs/borsh/src/de/mod.rs#L159
@evgenykuzyakov Could you please check what would happen if we replace it with https://doc.rust-lang.org/std/string/struct.String.html#method.from_u

[2020-02-29 02:04] ilblackdragon commented on #2135
Let's either use docs folder in this repo or contributing section in  https://docs.nearprotocol.com/docs/contribution/nearcore

[2020-02-29 22:14] bowenwang1996 commented on #2195
It is not easy to fix this. The main problem is that one cannot distinguish between the following:
* Transaction hasn't been included in any blocks yet.
* The transaction hash provided is invalid.
Since the block speed may vary from time to time, it is not clear how to fix this problem. Maybe we can have some expected block time and if the after that amount of time the transaction hash query still

[2020-03-02 17:22] #2166 closed

[2020-03-02 18:14] nearmax commented on #2006
Moving to Ice Box, until after the StakeWars launch

[2020-03-02 18:33] nearmax opened #2215 "Hash account ids in the Trie"
We need to prevent users from attacking the shard which they currently can if they create accounts with names `hello_aa`, `hello_aaa`, `hello_aaaa`, etc. This will create a deep trie that will be expensive to work with. Roughly 6 nodes of depth decrease the speed 4 times. So one can slow down the node approximately 40 times by creating 60 accounts using the above scheme.

To prevent this from happ

[2020-03-02 18:34] nearmax commented on #1666
Reducing the scope to https://app.zenhub.com/workspaces/chainmiddleware-5cea2bcf78297c385cf0ec81/issues/nearprotocol/nearcore/2215 and moving to the Ice Box until after the Stakewars launch.

[2020-03-02 18:54] SkidanovAlex opened #2216 "Transactions sent at epoch boundary can get lost"
The issue is the following: when a node receives a transaction, they check if they are a chunk producer for the shard of the tx in the next few slots, and if they are not, they send it to the chunk producer three heights from now.

The problem is that the block proudcer doesn't know if the epoch is about to change, so they do the check assuming it doesn't. Thus, if the epoch actually does change,

[2020-03-02 20:07] nearmax commented on #2196
@evgenykuzyakov did I understand your concern correctly, that adding dynamic gas after we have apps running static gas might break them and might even need an entire redesign, because it would break their composability?

[2020-03-02 22:36] evgenykuzyakov commented on #1829
Well it's not about the `String`, see `Vec<u8>`:
[code]
vs `String`:
[code]

[2020-03-02 22:40] nearmax commented on #1829
It might be related to the fact that Borsh deserialization is slower than bincode http://borsh.io/ . Something about the way we are reading slices of bytes is very unoptimal.

[2020-03-02 22:58] evgenykuzyakov commented on #1829
Switched String deserialization with the following:
[code]

Got the following results for `String`:
[code]

[2020-03-02 23:05] nearmax commented on #1829
Very cool, we should do the same for `Vec<u8>` and then rerun benchmarks for Borsh, maybe we will catch up with bincode.

[2020-03-02 23:57] evgenykuzyakov commented on #1829
Latest:
[code]

[2020-03-03 00:23] evgenykuzyakov commented on #1829
Well, I think I incorrectly implemented the deserialization for fixed size items, need more work on it

[2020-03-03 21:15] SkidanovAlex commented on #2195
This affects `tests/stress/stress.py`, when this bug is fixed please fix the test as well.
I will tag places that I hacked to work around this issue with "2195".

[2020-03-03 22:20] SkidanovAlex commented on #2216
`rpc_query.py` fails for the same reason.

[2020-03-03 22:23] mfornet commented on #2160
@damons From the logs you are showing I can't see the error, since that node correctly sees the other 3 nodes.  I can't reproduce this locally, are you looking at the correct numbers.

This are logs from two of the four nodes that I ran locally, the first that I spawn and the last one (fourth). In the first node you can see as the number of peers increase as I started spawning new nodes (manually)

[2020-03-04 00:03] evgenykuzyakov commented on #1829
Added a few extra tests

## `Vec<Vec<u8>>`

[code]

## `Vec<String>`

[code]

[2020-03-04 00:04] evgenykuzyakov commented on #1829
I think `Vec<u8>` needs to be optimized on borsh side.

[2020-03-04 01:11] SkidanovAlex commented on #2139
@ilblackdragon we naturally cannot charge accounts we do not touch for rent.

Do you suggest to compute `rent_paid` that _would have been paid if the accounts were touched_?

Right now the field shows the rent that was actually paid in the block, which for me personally makes sense.

[2020-03-04 01:14] #2137 closed

[2020-03-04 01:16] SkidanovAlex commented on #1484
Re-created as #2216

[2020-03-04 01:16] #1484 closed

[2020-03-04 02:29] bowenwang1996 commented on #2139
@ilblackdragon how do we compute the actual rent charged? I don't see an easy way.

[2020-03-04 13:04] damons commented on #2160
@mfornet I'll try to come up with a simple test case.  Have other higher priority items at them moment.

[2020-03-04 16:35] mfornet commented on #1221
Solved in #1758

[2020-03-04 16:35] #1221 closed

[2020-03-04 16:41] mfornet opened #2221 "Efficient broadcasting using MST"
Effectively evaluate current broadcast penalty in terms of number of messages, latency and network throughput consumed.

Use <span class="error">[Minimum Spanning Tree]</span>([https://www.gsd.inesc-id.pt/~ler/reports/srds07.pdf](https://www.gsd.inesc-id.pt/~ler/reports/srds07.pdf)) to improve performance of broadcasted messages.

[2020-03-04 16:43] mfornet commented on #1363
Network is feature complete and fully functional, though it can be improved in many ways, this will be tracked in separate issues.

[2020-03-04 16:43] #1363 closed

[2020-03-04 16:49] mfornet commented on #1367
Solved in #1752

[2020-03-04 16:49] #1367 closed

[2020-03-04 17:07] #1506 closed

[2020-03-04 23:26] SkidanovAlex opened #2223 "test: Add a python test in which one validator overtakes the network."
Create a python test that reproduces a failure that occurred several months ago during stake wars:

1\. Starts several block producing nodes, and run them for a couple epochs
 2\. Have one node stake enough to become the only block producer
 3\. Make sure that when the epoch switches, they are indeed the only block producer, but also that all the remaining nodes can successfully continue getting u

[2020-03-04 23:29] SkidanovAlex opened #2224 "test: Add a python tests that tests Infinite loops in contracts"
Create a test that deploys a contract with an infinite loop, and then sends hundreds of transactions invoking the contract. Make sure that the blocks are still produced, and that the transactions are included.

To see examples of contracts deploying in a pytest see `pytest/tests/sanity/deploy_call_smart_contract.py`.

[2020-03-04 23:42] SkidanovAlex commented on #2046
Moving the conversation here: https://commonwealth.im/near/proposal/discussion/374-create-a-good-welcoming-contributingmd

[2020-03-05 03:14] #2205 closed

[2020-03-05 03:19] ilblackdragon opened #2225 "Invalid state transition slashes only % of stake"
Following results of discussion [https://commonwealth.im/near/proposal/discussion/357-riskless-delegation-aka-tezos-delegation](https://commonwealth.im/near/proposal/discussion/357-riskless-delegation-aka-tezos-delegation) we decided to reduce the % slashed.

The exact % will be defined by the economics spec release, but we should switch from slashing 100%.

[2020-03-05 15:36] #2206 closed

[2020-03-05 15:49] bowenwang1996 commented on #2223
There is already a pytest that does most of what you said https://github.com/nearprotocol/nearcore/blob/master/pytest/tests/sanity/validator_switch.py. I think 3 is missing though.

[2020-03-05 20:24] nearmax opened #2226 ""Finalize cannot be called with uncommitted changes" error on RPC query"
Moving our discussion from the telegram group.

@vgrichina encountered the following error message when debugging an EVM contract:
[code]
The backtrace: https://gist.github.com/vgrichina/db0106ac6f6ae0e35d00e7254d609c5f

The MVP is non-trivial.

Overall, we don't need to call finalize in here https://github.com/nearprotocol/nearcore/blob/f605a11f2c3e4a47e118c9707db100ff6b7c9877/runtime/runtime/src

[2020-03-05 20:52] evgenykuzyakov commented on #2196
That's right. Basically we need to add think about the idea of fee surge. Instead of designing around dynamic gas price, we should design around dynamic gas fees for cross-contract promises. This will stop the receipt from propagating towards the attacked shards and stop old transactions in the middle. If the attack wants to continue it would have to buy more gas which will increase overall gas de

[2020-03-05 20:53] evgenykuzyakov commented on #1878
@bowenwang1996 This issue is obsolete right? We've solved it differently

[2020-03-05 20:54] vgrichina commented on #2226
@nearmax this might be helpful to reproduce https://github.com/nearprotocol/near-web3-provider/issues/12

note that I really cranked up my gas limits as well. Here's my `.near` folder https://drive.google.com/file/d/1gI-n1Bk-OXrIPM8geLk0J3J47LQaCAca/view?usp=sharing (I've been using `vg-evm` contract)

[2020-03-05 20:54] evgenykuzyakov commented on #1742
Should we close it?

[2020-03-05 20:54] vgrichina commented on #2226
[code]

here's the key for `vg-evm` there

[2020-03-05 21:06] evgenykuzyakov commented on #2226
@nearmax @vgrichina @bowenwang1996 @k06a @ilblackdragon

My question is should we prevent any state writes during view calls?
The current behavior is to execute the view call completely, but fail if the state is modified at the end. This will return all the logs during execution.

### Suggested solution is
change `storage_write` and `storage_remove` to fail when `VMContext` contains `is_view == tr

[2020-03-05 23:52] #2173 closed

[2020-03-06 00:04] bowenwang1996 opened #2231 "Testnet reset should keep height"
As noted by @SkidanovAlex, if we do not keep block height after the reset, which is what we currently do, then if not all nodes reset at the same time validators who have and who haven't reset will start slashing each other because of doomslug and finality gadget violation.

[2020-03-06 00:17] #2226 closed

[2020-03-06 01:29] bowenwang1996 commented on #2231
Update: actually slashing won't happen because the two networks have different genesis hash and therefore won't connect to each other.

[2020-03-06 01:41] bowenwang1996 commented on #1878
it's fixed.

[2020-03-06 01:41] #1878 closed

[2020-03-06 01:42] SkidanovAlex commented on #2231
The genesis hash is not part of the approval message or a block message today.
To challenge someone who doublesigned it is sufficient to provide two blocks or two conflicting approvals.
It is largely orthogonal to whether nodes can connect.

[2020-03-06 01:51] bowenwang1996 commented on #2231
I see. So this is an attack rather than what naturally happens.

[2020-03-06 01:52] bowenwang1996 commented on #2231
Actually how does the challenge get validated when this happens? Shouldn't it be the case that neither chain is able to validate the challenge because block header doesn't exist so that the challenge is invalid?

[2020-03-06 01:57] SkidanovAlex commented on #2231
The double sign challenge contains the headers. The headers are not fetched from the store when the challenge is validated.

[2020-03-06 02:27] bowenwang1996 commented on #2231
`verify_validator_signature` will fail because prev_hash cannot be found.

[2020-03-06 02:44] nearmax commented on #2226
@evgenykuzyakov I agree that having temporary storage modifications might be somehow useful, but I would prohibit storage access altogether because accessing storage is expensive, and queries currently have not protection mechanism against spam, by preventing access to the storage we are solving at least part of the problem. The idea of preventing it on `VMContext` level sounds good.

[2020-03-06 14:32] SkidanovAlex opened #2233 "Block challenge validation should not depend on the current storage."
According to Bowen here: #2231 currently double sign challenge validation depends on the presence of the blocks preceding the blocks that are challenged.

Thus, a node that doesn't have such a block will fail to validate the challenge, and will discard the block, effectively forking out.

Challenge validation should not depend on anything external.

[2020-03-06 14:32] SkidanovAlex commented on #2231
^^ this means that the validity of the challenge depends on the presence or absence of some other blocks in the storage, in other words the validity of the challenge is not deterministic, right?

And I presume the validity of the block depends on the validity of the challenge, so two nodes that have different set of other blocks in their storage will treat the same block with a challenge different

[2020-03-06 18:30] bowenwang1996 commented on #2231
It needs to access block info in storage to check whether the challenged block producer is already slashed. I think it would be hard to make the challenge self-contained as there is no way of proving that someone has not been slashed.

[2020-03-06 19:29] evgenykuzyakov commented on #1992
nearprotocol/nearcore#1714

[2020-03-06 19:40] evgenykuzyakov opened #2234 "(Runtime): Disable iterators in VMLogic"
We should disable host methods related to storage iterators. If we keep them as is right now and make developers think about optimizing their storage, we'll not be able to upgrade our storage towards unordered maps, because iterators require underlying storage to be in sorted order.

When we can completely remove them from VMLogic and eventually we remove them from the Runtime, we can upgrade Stor

[2020-03-06 19:51] evgenykuzyakov commented on #2234
To disable iterators we need to make sure both `near-sdk-as` and `near-bindgen` have collections that don't require iterators and also don't import method names related to storage iterators.

`near-bindgen` (Rust) already doesn't use storage iterators.
Created issue https://github.com/nearprotocol/near-sdk-as/issues/1

[2020-03-06 21:22] frol commented on #2128
I was under a wrong impression there. Well, it was a bug turning as a feature. I will need to implement a new RPC endpoint exposing a list of account IDs touched in a block.

Draft API:

[code]

[code]

[code]

NOTE: The endpoint naming needs some bikeshedding.

The response:

[code]

[2020-03-06 21:31] frol commented on #2129
Implementation notes:

This will extend #2148 to support a list of account IDs, where a single one is currently expected.

Draft API design:

[code]

This will add enother axis on the complexity of the API implementation, but I hope to figure it out.

[2020-03-07 02:31] ilblackdragon commented on #2231
@bowenwang1996 @SkidanovAlex  `verify_validator_signature` requires to know the epoch and latest known block hash (which is always known and can be different for different nodes for obvious reasons).
Latest known hash indeed will only affect if this validator is already slashed at this point or not.
Question in hand - epoch id from another network won't be found and slashing won't go through.
We s