[2020-07-06 14:53] bowenwang1996 commented on #2932
looks like it still fails because of timeout. @mfornet maybe we didn't give it enough time to run?

[2020-07-06 14:53] bowenwang1996 commented on #2934
@ailisp is there any update on this? looks like they still fail on nightly.

[2020-07-06 14:58] bowenwang1996 commented on #2778
@nearmax can we close this now?

[2020-07-06 14:58] bowenwang1996 commented on #2777
@willemneal this is done right?

[2020-07-06 15:00] #2778 closed

[2020-07-06 15:05] nearmax opened #2948 "Fix `no_cache` feature and recompute fees"
According to https://github.com/nearprotocol/nearcore/issues/2778#issuecomment-638506369 `no_cache` feature sets the cache size to 1 instead of disabling it entirely. This most likely leads to incorrect computation of fees, especially the newly added fee for loading/compiling the contract. We need to fix `no_cache` feature to disable the cache and recompute the fees

[2020-07-06 15:14] willemneal commented on #2777
Yep by #2845

[2020-07-06 15:15] #2777 closed

[2020-07-06 15:59] bowenwang1996 commented on #2948
Is `no_cache` on by default?

[2020-07-06 16:56] #2677 closed

[2020-07-06 16:57] #2670 closed

[2020-07-06 16:58] ailisp commented on #2934
Seems i only updated check pass logic for parallel nightly. Updated and deployed now

[2020-07-06 22:14] #2732 closed

[2020-07-06 23:03] bowenwang1996 opened #2949 "Properly fix `validator_switch_key.py`"
validator_switch_key.py fails because of a fundamental issue in how our account announcement works with epochs. The new node will announce their account one epoch beforehand and therefore causes other nodes to route messages to them in that epoch, whereas the messages should still be routed to the old node at that point. A proper fix should make the routing table aware of the epochs (this epoch vs

[2020-07-06 23:20] #2934 closed

[2020-07-07 10:14] hendrikhofstadt opened #2953 "Prevent node from locking itself out of the network by banning all peers"
**Version**: stable

Our node on testnet banned all peers for `HeightFraud` and got disconnected from the network.
The only way to recover was to manually write a tool to unban the peers (#2850).

Ideally a node should never ban all of its connected peers to maintain a link to the network.

[2020-07-07 16:10] #2443 closed

[2020-07-07 19:43] bowenwang1996 commented on #2953
We patched stable branch with the fix https://github.com/nearprotocol/nearcore/commit/0152d1e69d6d97bd6d34abda8e28684b08b6101b

[2020-07-07 19:43] #2953 closed

[2020-07-08 15:36] willemneal commented on #2948
@bowenwang1996 Yep
[code]

[2020-07-08 16:46] willemneal commented on #2948
According to the vm-runner it doesn't use the cache.

[code]

Regardless the values of how much it costs to load and compile are done by calling each VMKind's compile method directly.  And upon inspection the new runner for wasmtime doesn't use the cache at all.

It seems the cache size of 1 refers to the trie, which would only affect the performance if the same entry was read twice in a row.  And

[2020-07-08 16:59] nearmax commented on #2948
It is not by default for the regular node.

[2020-07-08 17:00] nearmax commented on #2948
CC @olonho

[2020-07-09 01:19] nearmax opened #2959 "Run near-sdk-rs tests in nearcore"
Currently, nearcore sometimes breaks near-sdk-rs and we find it out only when someone pushes a change to near-sdk-rs and triggers the CI. Sometimes we only find it out more than a week later. We need to run near-sdk-rs tests on nearcore commits to prevent this from happening.

This addresses our recurrent discussion on how we make sure nearcore is not breaking dependent repos. CC @SkidanovAlex , @

[2020-07-09 11:18] chefsale opened #2960 "CPU and memory utilization not being reported in Prometheus"
There is no data being reported in the grafana dashboards: http://grafana.neartest.com/d/CYmywxiGz/node-inspection?orgId=1.

It used to work few days ago, probably we want to fix that cc: @mfornet @bowenwang1996 @frol

There is Prometheus data though: http://34.94.78.219:9090/graph?g0.range_input=1h&g0.moment_input=2020-07-09%2011%3A27%3A11&g0.expr=up&g0.tab=0&g1.range_input=1h&g1.expr=&g1.tab=1

[2020-07-09 11:33] chefsale commented on #2960
Actually there is no data points for cpu usage, memusage. @mfornet do you have any idea why?

http://34.94.78.219:9090/graph?g0.range_input=1h&g0.moment_input=2020-07-09%2011%3A27%3A11&g0.expr=up&g0.tab=0&g1.range_input=1h&g1.expr=&g1.tab=1

[2020-07-09 12:37] mfornet commented on #2960
Will fix it, it was after updating metric names that dashboard was not updated properly

[2020-07-09 14:15] bowenwang1996 opened #2962 "Remove CI check for protocol version match"
Since we are moving towards proper upgrades of the node instead of doing hard forks, we should remove the CI check that asserts that `PROTOCOL_VERSION` is the same as `protocol_version` in `neard/src/genesis.json`.

[2020-07-09 14:21] #2960 closed

[2020-07-09 18:30] ailisp opened #2966 "Move pipeline definition in repo"
We used to have problems when we have beta/stable and master branch together and pipeline file in repo diverge from time to time and need to update three branches for any pipeline change. Now we're moving to single master branch as the PR destination, we should move pipeline definition in repo so each PR can add/delete pipeline definition without affect other PRs.

[2020-07-09 22:47] #2877 closed

[2020-07-09 23:56] mfornet commented on #2932
Test is still failing after timeout was increased.

[2020-07-10 09:55] chefsale commented on #2959
@nearmax @ailisp @frol @vgrichina I don't have access to our travis. near-sdk-rs is hosted on travis and our nearcore is on buildkite. I think the best way to make this happen is to migrate near-sdk-rs to buildkite as well and than trigger the pipeline from nearcore. Does that makes sense? As well could somebody give me access to travis?

[2020-07-10 10:11] chefsale commented on #2959
Login with github and opening the right pages did it. I plan to migrate near-sdk-rs to buildkite than. Let me know if that works for you?

[2020-07-10 10:14] frol commented on #2959
Why do we need to migrate near-sdk-rs to buildkite? Will the failure on near-sdk-rs happening on nearcore commit fail nearcore CI instead of near-sdk-rs then?

[2020-07-10 10:17] chefsale commented on #2959
So I would move near-sdk-rs to a seperate pipeline which would be triggered on commits in near-sdk-rs repo, but if you commit to nearcore it will also run the near-sdk-rs pipeline as a step to make sure that is still passing as well. Getting that to work to trigger travis from buildkite would be pretty hacky, so maybe better to move it.

[2020-07-10 10:18] chefsale commented on #2959
And yes failure on near-sdk-rs happening on nearcore commit fail nearcore CI and on near-sdk-rs. Essentially both, until it gets fixed.

[2020-07-10 11:24] chefsale commented on #2959
Created the pipeline on buildkite: https://buildkite.com/nearprotocol/near-sdk-rs/builds/10#730aa905-b845-4195-8215-1af5641c0d60

[2020-07-10 11:24] frol commented on #2959
@chefsale will it fail near-sdk-rs on a PR to nearcore?

[2020-07-10 11:45] weekly-digest[bot] opened #2971 "Weekly Digest (3 July, 2020 - 10 July, 2020)"
Here's the **Weekly Digest** for [*nearprotocol/nearcore*](https://github.com/nearprotocol/nearcore):

 - - -
# ISSUES
Last week 28 issues were created.
Of these, 19 issues have been closed and 9 issues are still open.
## OPEN ISSUES
:green_heart: #2966 [Move pipeline definition in repo](https://github.com/nearprotocol/nearcore/issues/2966), by [ailisp](https://github.com/ailisp)
:green_heart: #29

[2020-07-10 12:45] chefsale commented on #2959
Hmm, not sure what is the exact question? If you push a change which breaks near-sdk-rs compatability it will fail but on the PR on nearcore, it shouldn't be blocking an near-sdk-rs PR, now it will as the near-sdk-rs is broken.

[2020-07-10 13:11] chefsale commented on #2959
Near-sdk-rs runs their own tests now on buildkite as well: https://github.com/near/near-sdk-rs/pull/199. Last step is to make sure that we trigger the pipeline from nearcore.

[2020-07-10 13:16] chefsale commented on #2959
Now sdk tests are being ran inside nearcore as well: https://buildkite.com/nearprotocol/nearcore/builds/2450.

[2020-07-10 13:16] chefsale commented on #2959
cc: @nearmax @frol @SkidanovAlex you will have to make sure that SDK is now fixed and compatible otherwise tests will be failing.

[2020-07-10 17:32] ailisp commented on #2784
Also, we have about 5% of fail because github action runner is too weak, it's desirable to find a 10.13, paid mac cloud hosting

[2020-07-10 20:05] nearmax commented on #1839
Closing this issue, since the refactoring was done as you can see from checkmarks. Please file individual issues for bugs found within our structured RPC or errors wrapped by near-api-js.

[2020-07-10 20:05] #1839 closed

[2020-07-10 20:23] nearmax commented on #2959
Assigning this fixing near-sdk-rs to @evgenykuzyakov and re-opening.

[2020-07-10 21:09] vgrichina opened #2976 "nearcore doesn't return structured errors for most use cases of API"
Structured errors work (https://github.com/nearprotocol/nearcore/issues/1839) is not complete and it's hard to know what to expect.

Example of error from nearcore:

[code]

Note that even actual error message `Other Error: block DtdfWgnt3QDEjoeARUK25vg8qh31kc3Lrg6qREsoJsST is ahead of head block 34eT8dRWfDPhZBiRGYvkHDj65ThaXCBTrnM4LQjn2Zab` doesn't go into proper place in `message`.

This effecti

[2020-07-10 21:10] vgrichina commented on #2976
Another example is that Timeout errors are of unclear structure:

https://github.com/nearprotocol/nearcore/issues/1839#issuecomment-649215927

[2020-07-10 21:22] SkidanovAlex opened #2977 "state_sync frequently fails with timeout during store validity checks"
E.g. see state_sync.py failure here:

http://nightly.neartest.com/run/master_8b15d8bf35cc9099359cca9a09b38013679e1de2_20200710_170054

[2020-07-10 21:31] nearmax commented on #2976
@evgenykuzyakov Vlad Frolov is currently busy with P0 Rosetta. Would you be able to take a look at it?

[2020-07-10 22:55] akme opened #2978 "Approvals format in JSON-RPC response"
Current approvals format from JSON-RPC response differs from [documentation](https://docs.near.org/docs/interaction/rpc#block)
Current format from API:
[code]
Is it ok to see nulls here? Format from doc is outdated?

[2020-07-11 01:19] bowenwang1996 commented on #2959
near-sdk-rs tests are fixed https://github.com/near/near-sdk-rs/pull/200

[2020-07-11 01:53] bowenwang1996 commented on #2978
yes null means there is no approval from the validator.

[2020-07-11 08:28] akme commented on #2978
so documentation is outdated?

[2020-07-11 08:57] Kouprin opened #2981 "state_sync.py triggers read timeout during getting blocks while epoch is switching"
Origin: https://github.com/nearprotocol/NEPs/issues/91

@SkidanovAlex:
See state_sync.py failures here:

http://nightly.neartest.com/run/master_06b21f724204626db490f6062999a5832c323b01_20200710_124728

Note that the test finished and gets to the store valitity checks, and then triggers the read timeouts reported in the stderr

[2020-07-11 16:02] bowenwang1996 commented on #2978
yes. Please feel free to open an issue here https://github.com/near/docs

[2020-07-11 16:15] akme commented on #2978
Done: https://github.com/near/docs/pull/407

[2020-07-11 16:15] #2978 closed

[2020-07-11 18:19] bowenwang1996 opened #2984 "RPC response time is ridiculously long"
Some actix web logs from our rpc node
[code]
The format of the log can be found here https://docs.rs/actix-web/2.0.0/actix_web/middleware/struct.Logger.html. Notice that the last number is the response time in seconds, meaning that while some requests take < 1ms to serve, some take  more than 8 seconds to serve, which doesn't feel right.

[2020-07-11 23:56] #2751 closed

[2020-07-13 10:21] #2959 closed

[2020-07-13 11:15] frol commented on #2984
I believe that is the recent issue that caused betanet downtime when a flood of view method calls would block near-client and/or near-view-client leading nodes to fall out of sync. It is a long-standing issue once discussed in #2313. I hope #2970 will at least partially address this. Otherwise, the only fix I see is getting back to rate-limiting specifically view method calls as they are really ab

[2020-07-13 15:37] bowenwang1996 commented on #2663
@evgenykuzyakov is this done?

[2020-07-13 15:59] damons commented on #2738
Any update here?

[2020-07-13 16:00] damons commented on #2753
Any update here?

[2020-07-13 16:21] ailisp commented on #2753
Current devnet/mocknet + 8 loadtester provision script does this and it's running, but didn't have done a wrap up it to a documentation. Now since mocknet is running on every commit on nightly, I think just need to add load test, result, and document the process on how to do this in mocknet.

[2020-07-13 16:25] frol commented on #2738
The implementation is there, but Rosetta checker is not happy yet. I am currently resolving the mismatches between my understanding vs Rosetta expectations (working with Patrick from Coinbase on these).

[2020-07-13 16:51] damons commented on #2421
Moving to Phase 2.  Will re-address when we get there.

[2020-07-13 16:51] damons commented on #2738
Moving to Phase 2. Will re-address when we get there.

[2020-07-13 16:52] damons commented on #2536
Moving to Phase 2. Will re-address when we get there.

[2020-07-13 16:52] damons commented on #2444
Moving to Phase 2. Will re-address when we get there.

[2020-07-13 21:47] frol commented on #2738
@bowenwang1996 @nearmax @SkidanovAlex Implementation-wise, it is absolutely possible to attach the actions from the parent block instead of the current one, but I wonder how we communicate this mismatch with Explorer and the rest of the tooling... I can add any data into the metadata attached to the response, so I can have an extra field like `included_in_block_height` and `executed_in_block_heigh

[2020-07-13 22:52] vgrichina commented on #2939
@chain-police @nearmax BTW this is also super useful for the work on Web3 wallets integration. @mattlockyer tried verifying Ethereum signatures in contract and it resulted in dramatically huge contract (because of secp256k1 library).

[2020-07-13 22:58] nearmax commented on #2939
Which library did we use and what was the size of the contract?

[2020-07-13 23:03] nearmax commented on #2939
It seems like it is not implemented yet. The implementation would require the following steps:
* Selection of the library to use, please ask @abacabadabacaba to green light the usage of the selected library;
* Synchronously merging PRs into: near-vm-logic, near-vm-runner, near-sdk-rs, near-sdk-as, param-estimator -- this requires implementation by @evgenykuzyakov or @chain-police  or external pers

[2020-07-13 23:09] nearmax commented on #2939
Assigning to @evgenykuzyakov since @chain-police is on vacation.

[2020-07-13 23:15] nearmax commented on #2738
The problem that we have is that our transactions is complete only when all of its receipts have completed, and they are all gradually executed through the span of several blocks and not just in the last block. So I suggest: included_in_block_height, completed_in_block_height. WDYT?

[2020-07-14 00:11] ailisp commented on #2962
We solved this, still check entire neard/src/genesis.json match neard init, but not particularly require or check PROTOCOL_VERSION

[2020-07-14 00:11] #2962 closed

[2020-07-14 02:53] bowenwang1996 commented on #2738
@frol

This is not correct. Transactions included in block X are executed when we apply block X. I see two potential confusions that might lead to your conclusion above:
* The fact that transactions are not applied when the chunk is produced does not mean they are not applied when the block that the transaction is included is applied.
* Transactions generate receipts and those receipts are usually

[2020-07-14 02:59] nearmax commented on #2738
@bowenwang1996

Could you define what is "application of block X", and when according to the protocol it happens?

I would use light client to define when information is available. Information is available when it provably exists (no need for finality, since we can state that certain information provably exists but it was not globally agreed upon yet). Information that transaction was included is

[2020-07-14 03:20] bowenwang1996 commented on #2738
I think it is a bit hard to formally define it. Informally, for a node the application of the block consists mainly of the following two things:
* update information of the chain and attest to the validity of the block if the node is a block producer.
* perform state transition on the shard(s) that the node is assigned to, if the node is a chunk producer or cares about the shard(s).

From the prot

[2020-07-14 04:39] Kouprin commented on #2981
The issue still appears in Nighty but not in custom Nightly. It seems Nightly and custom Nightly use system resources in different way.

[2020-07-14 12:57] ilblackdragon commented on #2755
@Cloudpostru just pinged me that after 2 week uptime, it's 5.6GB.

I think we should move all the constants for cache sizes into a configuration - and try running a node with 0 cache size. This way we can probably see memory leaks vs natural cache growth.

[2020-07-14 16:08] mfornet commented on #2755
The problem with this is that some mechanics will be broken with 0 cache sizes.

[2020-07-14 20:27] frol commented on #2738
Well, let's solve the specific problem with Rosetta. Rosetta watches for the transactions and receipts (all merged into a single entity "transaction" for Rosetta); once it observes a transaction, it wants to fetch information about the accounts involved in the transaction and fails to do that when we have a CreateAccount action, which only get executed with the receipt. So far it seems that our tr

[2020-07-14 20:35] ilblackdragon commented on #2984
Given #2970 is merged - has this resolved the issue?
Also we should consider adding guards for some of the RPC methods given some are way more expensive than others.
We can guard it either via configuration or HTTP authentication.

[2020-07-14 20:54] #2927 closed

[2020-07-14 20:55] evgenykuzyakov commented on #2663
Unit tests are done by @bowenwang1996 , but it's not tested with real nodes

[2020-07-14 21:25] mfornet opened #2989 "Avoid route back cache if possible"
We have seen how some routed back messages are being dropped at some times. This means that reference in the cache to target from this message was evicted before response arrived.

This can be happening for several reasons: slow bandwidth, long routes (unlikely since longest routes use ~4hops usually), slow nodes that takes large time to compute the response.

The full point to use route back mess

[2020-07-14 23:32] bowenwang1996 commented on #2755
Yes I can immediately see that several things in chunk production and network will break or at least become quite suboptimal if we have zero cache size.

[2020-07-14 23:38] bowenwang1996 commented on #2738
Why does it matter? Is there also a concept of action in Rosetta?

[2020-07-14 23:40] bowenwang1996 commented on #2984
It's not available on any live network. Maybe we can use mocknet to check for rpc response time.

[2020-07-15 14:37] frol opened #2992 "test_simple_transfer fails"
**Describe the bug**

CI seems to fail due to a flacky test:

[code]

https://buildkite.com/nearprotocol/nearcore/builds/2552#d060f247-329f-4a2c-a0ca-4d86717851ac/6-3794

**To Reproduce**

Unknown

**Expected behavior**

The test should pass.

**Version (please complete the following information):**

- nearcore commit/branch: we caught it with unrelated changes in https://github.com/nearprotocol/n

[2020-07-15 15:15] #2795 closed

[2020-07-16 09:30] frol commented on #2833
*I have just discovered this issue, so I want to /cc @ilblackdragon, @vgrichina, @evgenykuzyakov, and @nearmax  to make sure we are aware of the concerns.*

The problem is that to store something under an account, you have to deploy a contract, and go through it, and you can only have a single contract on an account, so you cannot have this "key manager" contract co-hosted with some other contract

[2020-07-16 09:56] frol opened #2995 "neard init should NOT use the same key-pair for validator-key and test.near access key"
**I believe this is somewhat blocked on #4347**

***Describe the bug***

Currently, `neard init` implementation generates a single key-pair and re-uses it for `validator_key.json` and `test.near` access key (listed in `genesis.json`). <span class="error">[We teach]</span>([https://github.com/near/nearup/issues/64#issuecomment-633654830](https://github.com/near/nearup/issues/64#issuecomment-6336548

[2020-07-16 10:14] frol opened #2996 "NEAR Indexer ideas"
*This is a discussion board tracking requests and ideas for future work around [NEAR Indexer](https://github.com/nearprotocol/nearcore/tree/master/chain/indexer).*

As mentioned in [the README](https://github.com/nearprotocol/nearcore/tree/master/chain/indexer), we have plenty of ideas as to NEAR Indexer applications. Feel free to share your ideas and build your own indexers!

[2020-07-16 10:43] chefsale commented on #2995
So currently if you don't specify the chain-id to the arguments it generates an localnet, if you specify it it generates "production keys" for the specified network. Obviously there is no difference between the keys, but we only allow one set of keys for one environment if you want to init the setup you will have to delete the current keys aka do the clean, so one thing we could do is just to name

[2020-07-16 15:19] bowenwang1996 commented on #2995
yeah if you specify chain id it will be fine. For localnet I think convenience matters a bit more.

[2020-07-16 15:30] chefsale commented on #2995
Yep, I agree with bowen, it seems introducing this would make it more complicated for users. So, not really sure what would be the best follow up on this issue.

[2020-07-16 18:38] bowenwang1996 commented on #2995
Seems like we don't have an issue here.

[2020-07-17 09:52] ilblackdragon commented on #2536
The scope of this issue covers all RPC errors, including missing blocks and chunks, tx, etc
Currently only errors that are coming from transaction processing are structured and the rest are plain strings which also frequently missing context (like block was skipped in current chain vs garbage collected vs completely missing)

[2020-07-17 11:45] weekly-digest[bot] opened #3003 "Weekly Digest (10 July, 2020 - 17 July, 2020)"
Here's the **Weekly Digest** for [*nearprotocol/nearcore*](https://github.com/nearprotocol/nearcore):

 - - -
# ISSUES
Last week 31 issues were created.
Of these, 20 issues have been closed and 11 issues are still open.
## OPEN ISSUES
:green_heart: #3001 [fix: remove legacy config on block weight](https://github.com/nearprotocol/nearcore/pull/3001), by [bowenwang1996](https://github.com/bowenwang1

[2020-07-19 11:00] frol commented on #2995
`validator_key.json` should never be used to sign transactions, shouldn't it? If so, we should not teach the users bad practices of reusing the keys (ref #2833) /cc @abacabadabacaba

[2020-07-19 20:54] bowenwang1996 commented on #2995
Good point. To fix this we should generate separate key in `~/.near`, like `signer_key` or `account_key`. To make it work smoothly with near-shell is another endeavor on its own. Nearcore should not be aware of cli's like near-shell.

[2020-07-20 10:26] frol opened #3010 "Compilation error when using neard crate outside of the workspace"
**Describe the bug**

Currently, we rely on Cargo.lock to get reliable builds of nearcore, but when it comes to using nearcore as a crate (library), e.g. in NEAR Indexer, we bump into an issue of that nearcore may fail to compile due to releases of external dependencies since Cargo.lock is ignored for dependencies, and they are only effective on the binary builds.

**To Reproduce**

The simplest w

[2020-07-20 14:06] frol commented on #2260
dynasm-rs has its 1.0 release (they decided to have this milestone of compilation on stable Rust 1.45+ clearly communicated).

wasmer needs to migrate to this new version and they [claim](https://github.com/wasmerio/wasmer/pull/1489#event-3556183919) that the support is already addressed in their [new refactored version of wasmer](https://github.com/wasmerio/wasmer/issues/1495#issuecomment-6552249

[2020-07-20 14:37] bowenwang1996 commented on #3010
Should we really pin `.pre` versions? seems unreliable.

[2020-07-20 15:02] frol commented on #3010
@bowenwang1996 Why do you consider pinning to be unreliable? Alternatively, someone should now spend their time refactoring the usage of ed25519-dalek to resolve the compilation error, and require 1.0.0-pre.4 version. Do you see another solution?

[2020-07-20 15:59] nearmax opened #3012 "Ensure Phase 1 launch will be using new fees"
We need to examine both genesis configs of testnet, mainnet, and the default values hardcoded by `Default` trait of the config structures.

[2020-07-20 16:06] frol commented on #2738
Small update to bring up some knowledge about Rosetta RPC core focus:

[Rosetta RPC was mainly designed](https://community.rosetta-api.org/t/what-is-rosetta-main-use-case/92) to expose "balance-changing" events on blockchains. Thus, @evgenykuzyakov provided us with a complete list of balance-changing events in NEAR protocol:

- Genesis balance (account_id)
- Signed Transaction (signer_id) -> Recei

[2020-07-20 22:52] SkidanovAlex opened #3014 "Make cross_shard_tx adaptively change its block production time"
The usefulness and flakiness of `cross_shard_tx` depends heavily on the block production time.

If the block production time is too high, there isn't many forks, and the test passes easily without testing any complex scenarios.

If the block production time is too low, with doomslug disabled it often degrades into a situation in which exactly half of the validators are on one fork, and exactly hal

[2020-07-21 00:54] evgenykuzyakov commented on #2738
Links to Rosetta docs relevant to account balances:
- https://www.rosetta-api.org/docs/staking_contract_support.html
- https://www.rosetta-api.org/docs/AccountApi.html#accountbalance
- https://www.rosetta-api.org/docs/fetchable_accounts.html

I think we can distinguish 3 types of balances:
- `liquid` - the balance on account (no sub-account).
- `locked` - the amount locked for staking. (sub-accoun

[2020-07-21 08:23] #2852 closed

[2020-07-21 08:24] narniec commented on #2852
I have not encountered this problem again.

[2020-07-21 13:37] chefsale commented on #3010
Hmm, so if I just added a new step which does the build, but deletes Cargo.lock that should be good enough I assume?

[2020-07-21 13:38] frol commented on #3010
@chefsale yep :+1:

[2020-07-21 13:40] #2468 closed

[2020-07-21 14:19] chefsale commented on #3010
Added the cargo crate release: https://buildkite.com/nearprotocol/nearcore-private/builds/45#9a65d68b-5a70-4687-812f-dda6d504b587, but it fails as mentioned above, not sure should I disable it for now or not and we should make sure it gets fixed?

[2020-07-21 15:23] frol commented on #3010
@chefsale can you submit a PR with the proposed fix and confirm that CI gets fixed? Then we just merge it

[2020-07-21 15:38] chefsale commented on #3010
Added the PR: https://github.com/nearprotocol/nearcore/pull/3015

[2020-07-21 17:13] #3010 closed

[2020-07-21 19:06] evgenykuzyakov commented on #2992
Hmm. This might be due to random fees. I wonder what fee triggers it.

[2020-07-21 19:53] janedegtiareva commented on #2976
Consistent error-handling is important for devx:
* Ideally we want to have documentation on what each error means. It's best to standardize error handling before investing in documentation.
* More consistent errors are needed to implement https://github.com/near/near-shell/issues/410 for the error scenario cleanly

[2020-07-21 22:39] evgenykuzyakov opened #3019 "Refactor `near_vm_logic` to remove pure methods from `::External`."
There are 3 methods in the `External` trait that don't belong there:
- `sha256`
- `keccak256`
- `keccak512`

They should be implemented directly in `near_vm_logic` instead of being part of `::External`, since the compute of them don't require any external knowledge.

[2020-07-22 05:09] bowenwang1996 opened #3020 "Error in trie_node_touched"
On betanet some nodes crash with
[code]
when serving rpc.

[2020-07-22 05:19] pmnoxx commented on #3014
@SkidanovAlex Thanks for the explanation. I see that  doomslug.rs::process_timer method defines how we increase `height` based on current time. `Dumslug.timer.get_delay` is used to compute the amount of time spend on given height.

Instead of dynamically adjusting the block production time wouldn't it be simpler to do a binary search, run test multiple times. We could measure the number of forks,

[2020-07-22 05:19] bowenwang1996 commented on #3020
@mikhailOK could it be related to the view client change?

[2020-07-22 08:59] frol opened #3021 "nearcore does not disconnect from peers and stuck after network outage"
_**Describe the bug**_

I am running testnet RPC node on my laptop, and I observed that even when I have no WiFi connection, nearcore still reports non-zero number of peers and after the network connection goes back up, nearcore just sits there on the old block and does not sync up with the network (also, the network stats <span class="error">[download and upload speed is frozen]</span>).

!<span

[2020-07-22 12:03] frol opened #3022 "Confirm that full-sync can be forced by maxing out "block_fetch_horizon""
NEAR Indexer needs a way to get things synced starting from genesis, and @bowenwang1996 [suggested to use a high value to "block_fetch_horizon" (max u64: 18446744073709551615)](https://github.com/nearprotocol/nearcore/pull/2651#discussion_r454701740), so nearcore forces chunks sync instead of just block headers sync.

This needs to be confirmed on NEAR Indexer side as this is what we [recommend tw

[2020-07-22 13:20] frol commented on #2738
I don't see any workaround unless we give up and hide the `storage_balance`. Otherwise, it will overwhelm users with the number of transfers... :thinking:

[2020-07-22 13:58] frol commented on #2992
Failed again on a PR which just updates a README (https://github.com/nearprotocol/nearcore/pull/2997) file: https://buildkite.com/nearprotocol/nearcore/builds/2643#249b8945-fbf1-41b6-b2f1-1530c46a0a9f/6-3932

[2020-07-22 14:05] frol opened #3023 "rainbow-bridge test timeout"
**Describe the bug**

rainbow-bridge tests suite can stuck and break CI: https://buildkite.com/nearprotocol/nearcore/builds/2643#c4bfc018-aaab-46f2-9084-45578d989c65/69-2528 (the PR itself #2997 only touches README file, so it is definitely not related to the code changes)

**To Reproduce**

Unknown. It seems to be flaky.

**Expected behavior**

The tests should pass deterministically.

**Version

[2020-07-22 14:50] bowenwang1996 commented on #3021
Interesting. Does this last forever or do peers disconnect at some point if you wait for longer?

[2020-07-22 14:58] bowenwang1996 commented on #3023
duplicate of https://github.com/near/rainbow-bridge/issues/175

[2020-07-22 14:58] #3023 closed

[2020-07-22 16:11] pmnoxx commented on #3014
I see that this test takes 88 minutes, so maybe it's probably not good idea to make it run even longer.

Instead of changing block production time to cause forks to happen, we could change the test and add a packet loss in the network mock.
If the number of forks is too low, we can increase it, otherwise decrease is.

[2020-07-22 16:25] ailisp commented on #3023
I made it timeout in 15min, which is enough if it doesn't stuck in future, and less time than param-estimator to make this not bottleneck of ci

[2020-07-22 17:43] SkidanovAlex commented on #3014
**Re: Updating clients simultaneously**
Clients generally should continue operating even if briefly they have had inconsistent delays (the very same delays might be natural due to network conditions, and doomslug for liveness assumes that there could be arbitrarily long network delays, as long as they are followed by a sufficiently long period of bounded delays).

Re: packet drop
The basic `cross_

[2020-07-22 17:52] mikhailOK commented on #3020
View client change :(
Going to fix

[2020-07-22 19:17] pmnoxx commented on #3014
The issue here is with the timer that doomslug uses. It's defined as `{ started (time stamp of block to be produced at given height), height }`. It's basically a mapping from current time to expected height of the current block.

There is a possible race condition, that you can check out below:

Let's assume current block production time is 100 ms.

ClientActor 1:
at time X ... X + 100ms, wants to

[2020-07-22 22:32] SkidanovAlex commented on #2757
Assigning Marcelo.
This should be fixed once we implement separation of block and state chains.

[2020-07-22 22:33] SkidanovAlex commented on #2863
Putting into Milestone 1 to track read snapshots for state.
Read snapshots for the rest of the storage is considered Milestone 2.

[2020-07-22 23:09] SkidanovAlex commented on #3014
The timer however resets each time a block is received (and the head is updated). If we only change the block production time when statistics change, it must be that at least some blocks were produced since the last block was received.

Also, in doomslug such a discrepancy can result in stalling only if someone intentionally tries to take advantage of it (which the test doesn't). Otherwise even if

[2020-07-23 00:33] #3020 closed

[2020-07-24 11:09] #2992 closed

[2020-07-24 11:45] weekly-digest[bot] opened #3032 "Weekly Digest (17 July, 2020 - 24 July, 2020)"
Here's the **Weekly Digest** for [*nearprotocol/nearcore*](https://github.com/nearprotocol/nearcore):

 - - -
# ISSUES
Last week 29 issues were created.
Of these, 16 issues have been closed and 13 issues are still open.
## OPEN ISSUES
:green_heart: #3031 [fix(script): fix parse issue in compare_costs.py](https://github.com/nearprotocol/nearcore/pull/3031), by [ailisp](https://github.com/ailisp)
:g

[2020-07-24 12:56] frol commented on #3021
@bowenwang1996 It lasts forever (I regularly run a node on my laptop and after I get it from a sleep mode, I don't usually immediately restart it, and I observed it can be in such a state for hours)

[2020-07-24 16:52] #2941 closed

[2020-07-24 16:52] #2971 closed

[2020-07-24 16:52] #3003 closed

[2020-07-24 23:54] ailisp opened #3037 "add_key_cost.function_call_cost_per_byte is not correctly calculated from"
We found https://github.com/nearprotocol/nearcore/pull/2621 introduced a typo, which cause `add_key_cost.function_call_cost_per_byte` 1000x more than correct. But besides that, there probably a copy-paste error in https://github.com/nearprotocol/nearcore/commit/f024a28d9b0f1b2238f04d288ddebc8ac12ff4d1, this cause add_key_cost.function_call_cost_per_byte 10000x less than correct. As a result add_ke

[2020-07-25 22:29] ilblackdragon opened #3041 "High gas usage for function call"
This function call that creates a call to create account - 21Tg - https://explorer.near.org/transactions/CY5SNsfk8bpVv2168qzT5P9uAWz6q95giHBioRb1VkYx

In standalone runtime it claims to burn 12Tgas in call itself:
[code]

@evgenykuzyakov :
Our minimum cross-contract call cost is around 5Tgas, so with the amount promises, data receipts and returns, it’s expected to have around 20Tgas. This includes

[2020-07-25 22:37] nearmax commented on #3041
Function call involves fetching Wasm file, loading it to the memory, maybe dynamic linking (I am not sure how Wasmer works) and starting up JIT, 200 times per second. I agree however, that we should be working on optimization of it, in fact we have set it as a top priority post Phase 1 launch with @olonho, @willemneal  , and @ailisp . However, we should also adjust our expectations, the complexity

[2020-07-25 22:42] nearmax commented on #3041
@olonho , @ailisp and @willemneal would need to dig into how Wasmer works.

I don't think it is suspicious. Function call cost is not bounded by anything but our limits. Here is a 109Tgas function call https://explorer.testnet.near.org/transactions/Byd8GjGgCZKYY3dPcJcNi23C4bSWaEPPKQmqDYUGD6NW

[2020-07-26 19:38] bowenwang1996 opened #3042 "State sync unexpectedly fail"
On betanet we observe that state sync fail with
[code]
It appears that information needed for state sync is already garbage collected.

[2020-07-26 21:40] bowenwang1996 opened #3044 "Properly handle garbage collection when we do state sync"
Currently we use `reset_data_pre_state_sync` to delete data before state sync to prevent stale data from never being garbage collected. However, this is very aggressive and has caused issues if we need to access old data when we do state sync (#3042). It is desirable to remove such aggressive garbage collection to make code more maintainable. Therefore we should
* change gc invariant to allow mult

[2020-07-26 22:41] #3042 closed

[2020-07-27 07:59] Kouprin commented on #3044
There are my thoughts:
1. Let's say, the node skipped 1 mln blocks, then turns on without clearing old data by `reset_data_pre_state_sync`, download some blocks and turns off for skipping 1 mln blocks more, and then turns on again. In this case we will have [some data][1 mln skips][some data][1 mln skips][some data]. So, we should handle multiple non-overlapping segments, not only two.
2. Another

[2020-07-27 16:03] evgenykuzyakov commented on #2663
I can't claim this as done, since I've just fixed an issue by just reading the code. But:
- The code is simple and I have proof read it.
- Unit tests are covering most of the paths.
- There is a script to test it on localnet (that didn't cover the kick out bug)
- We've been testing it on testnet with validators and would have discovered the issue.

I'm 95% confident in the implementation contract

[2020-07-27 18:20] bowenwang1996 commented on #3044
That unfortunately doesn't always work. State sync isn't always invoked. When the node is close to the head of the network it will do block sync only.

[2020-07-27 19:57] #3019 closed

[2020-07-27 23:11] nearmax opened #3048 "[Discussion] Benchmarking and regression testing setup"
## Motivation

We need to have a way to benchmark our nodes in various scenarios and especially track regressions. We also need to have a clean and reproducible way to measure improvements to our core metrics.

## Metrics

The following metrics are important for us and need to be constantly tracked for each of the releases:

### Core metrics
* TPS (min, max, avg, stddev);
* Max TPS spike we can ha

[2020-07-27 23:17] vgrichina commented on #3048
I'd like to add that it's critical to test in production networks (betanet/testnet) in addition to aforementioned simulated conditions,

Otherwise we don't have visibility that some stuff just doesn't work in prod (e.g. recent issue is that we couldn't easily get claimed 200 TPS outside of some peak blocks and RPC performance generally degrades not nicely under load).

Previously we also had issue

[2020-07-27 23:18] nearmax commented on #3048
For that we need to collect organic traffic and then replay it.

[2020-07-27 23:25] vgrichina commented on #3048
@nearmax this is very useful and we should do it, but it's orthogonal thing. We need to test on actual production networks. Simulated workload already exposes a lot of problems.

[2020-07-27 23:54] nearmax opened #3049 "Investigate bridge failure"
As discussed in https://github.com/near/rainbow-bridge/issues/217 as of one week ago the bridge contracts sometimes reject headers and proofs coming from the nodes. And can be a sign that nearcore headers and proofs are not consistent with the format that the code was using a week ago, which might be a sign of an unintended breakage. We need to resolve this issue before launching Phase 1.

[2020-07-27 23:54] nearmax commented on #3049
Me and @ailisp are working on extracting reproducible tests. So far it is flaky and only manifests on the CI machines.

[2020-07-28 00:00] ailisp commented on #3049
I got an repro from logs in this: https://buildkite.com/nearprotocol/rainbow-bridge/builds/418#ee325a11-df0b-4425-8b17-b0f2ba8ce089

repro steps:
1. checkout to https://github.com/near/rainbow-bridge/pull/227
2. yarn test in libs-sols/nearprover

[2020-07-28 00:51] nearmax commented on #3049
@bowenwang1996 here is a reproducible light client issue.

[2020-07-28 01:56] ailisp commented on #3049
My repro is wrong, it fail because missing bridge.blockMerkleRoots[406]. In ci e2e, bridge.blockMerkleRoots[406] do exist but doesn't match prover's (line 48 of NearProver.sol). Still need to output that info from bridge side to make a correct repro

[2020-07-28 08:34] chefsale commented on #3048
We also have this issue already opened for pagerduty alerts + grafana setup: https://github.com/nearprotocol/near-ops/issues/61.

[2020-07-28 15:20] birchmd commented on #3048
Perhaps another metric to consider is performance persistence over time. For example, the existing mocknet load test running in nightly passes with a fresh network (newly restarted from genesis), but fails in subsequent runs. This indicates to me there could be some performance degradation over time.

* Fresh network: http://nightly.neartest.com/run/master_901619509c52bd6726b46a8d6b270160c593b17d_

[2020-07-28 15:50] SkidanovAlex opened #3050 "stress.py with network proxy"
We want to add various workers into `stress.py` that interfere with the network.

There's already an attempt to build such a worker (see `local_network` in the test), but that requires a certain machine setup, which can be avoided with the new proxying infrastructure.

What we want:

1. Remove the existing network infra from the stress.py;
2. Change `local_network` mode to use proxies (proxify eac

[2020-07-28 16:28] frol opened #3051 "feat(indexer): Extend the NEAR Indexer API with an ability to communicate the starting point of streaming"
**Describe the feature**

Currently, NEAR Indexer streams all the new blocks observed after the synchronization is finished. It is fine to observe the real-time events in the network, but if we want to perform historical data indexing without holes, and want to be able to restart the indexer, we need to provide a way to tell the streamer the starting block height or other condition.

**Expected be

[2020-07-28 18:31] nearmax commented on #3048
@chefsale Nice, so you are covering some health metrics.

@birchmd I agree, we should have special tests for degradation.

What would be the purpose of running it on nightly if it is not automatically updated to the new code? I thought nightly runs attempt to fetch the most recent code and run tests against it.

Also, I think the currently nightly setup can be the platform for benchmarking and reg

[2020-07-28 19:13] birchmd commented on #3048
@nearmax Nightly still fetches the most recent test code (the code it runs to execute tests), but it does not re-deploy a binary to the remote nodes which form the mocknet (they are all on their own machines in various gcloud regions). This is something we'll set up eventually, it's in the backlog. But for now, since I am actively working with the mocknet anyways, I manually update all the nodes o

[2020-07-28 22:59] ailisp commented on #3049
Found a correct repro and fixed in near/rainbow-bridge#227

[2020-07-29 02:31] vgrichina opened #3054 "Looks like broadcast_tx_commit sometimes returns nonce error erroneously"
**Describe the bug**

Getting following error:

[code]

For code which shouldn't ever try to create same account twice unless there is nonce error:
https://github.com/near-examples/listens-counter/blob/master/src/benchmark.js

**To Reproduce**

0. Make sure you use near-api-js with `retry-nonce` branch.
1. Compile the contract: `npm run build:contract`
2. Run `node src/benchmark.js 80 50`, sometim

[2020-07-29 03:34] bowenwang1996 opened #3055 "Fail to validate chunk with chunk extra"
On testnet we saw that some block producer fail during catch up because the node fails to validate some chunk with previous chunk extra. Upon investigation we realized that this failure is captured by test `test_cross_shard_tx_drop_chunks`. An example of such failure from logs
[code]
indicates that the prev state root of the chunk doesn't match the post state root of the previous chunk.

[2020-07-29 04:02] vgrichina commented on #3054
Looks like can fail on CI as well:
https://travis-ci.com/github/near/near-api-js/jobs/365987896

[2020-07-29 16:02] Kouprin commented on #3044
That's reasonable.

Discussed with @SkidanovAlex. After new Sync will be implemented, there may be an opportunity to refactor `reset_data_pre_state_sync`. Currently it's hard to do something useful and cheap here.

[2020-07-29 16:02] #3044 closed

[2020-07-29 17:12] #3049 closed

[2020-07-29 17:59] evgenykuzyakov commented on #3054
There is global retry as well, so it's possible that the `near-api-js` retries the transaction for some other error, not necessary nonce related. E.g. the first one worked and the local nonce was increased, but then the TX was lost by RPC even though it was forwarded, then it retries it again with the increased nonce and this one fails with conflicting account.

https://github.com/near/near-api-js

[2020-07-29 18:29] bowenwang1996 commented on #3054
@vgrichina what @evgenykuzyakov described is certainly a possibility.

[2020-07-29 19:47] evgenykuzyakov commented on #2663
I'm going close, since I'm confident with unit tests + localnet simulation to cover most of the issues. Covered by  https://github.com/near/core-contracts/pull/81

[2020-07-29 19:47] #2663 closed

[2020-07-29 22:00] #3055 closed

[2020-07-29 22:47] vgrichina commented on #3054
@evgenykuzyakov retry with new nonce is only done for specific error:
https://github.com/near/near-api-js/blob/4963d922c6f7783129bedfac0c232c4cb1606e42/src/account.ts#L152

[2020-07-29 22:49] pmnoxx commented on #3014
https://github.com/nearprotocol/nearcore/pull/3057/files

[2020-07-29 22:52] vgrichina commented on #3054
I've did another run and it looks like following is going on:

transaction takes a lot of time, so gets resubmitted because of timeout

nonce error gets returned erroneously, this log is only really possible for nonce error. Looks like race condition in determining whether transaction is the same that landed with given nonce? @bowenwang1996

AccountAlreadyExists [Error]: Can't create a new account

[2020-07-29 23:07] vgrichina commented on #3054
Looks like this happens for other transactions types as well, like adding a key:
https://travis-ci.com/github/near/near-api-js/jobs/366096520

[2020-07-29 23:41] nearmax commented on #3054
I have noticed a very similar error recently in the bridge https://github.com/near/rainbow-bridge/issues/229. It was not seen before, however I have attributed it to some bug in bridge or near-api-js. @vgrichina , @frol , @bowenwang1996 is it possible that we broke something in the nearcore or near-api-js ?

CC @ailisp

[2020-07-30 02:23] bowenwang1996 commented on #3054
@vgrichina are you submitting transactions through the rpc endpoint or your own node?

[2020-07-30 05:47] vgrichina commented on #3054
@bowenwang1996 I never use my own node.

[2020-07-30 05:49] vgrichina commented on #3054
@nearmax in my testing I for sure do use different near-api-js (`retry-nonce` branch), however main change which seems to expose error is that transactions are retried when there is error with nonce collision. We didn't do it before in near-api-js.

But also my understanding is that before recent change from @bowenwang1996 in nearcore re-submitting same transaction would just always fail with wron

[2020-07-30 12:42] frol commented on #3054
It seems that the following happens:

1. a transaction gets sent (via `broadcast_tx_commit`)
2. it goes through the RPC -> mempool -> network
3. the RPC times out waiting to observe the transaction to be applied
4. near-api-js re-sends the transaction with the same nonce
5. RPC checks if the transaction with such a hash already included in the chain (it seems we catch race condition here), and wit

[2020-07-30 14:33] #2135 closed

[2020-07-30 16:40] willemneal commented on #3041
After using @olonho's new gas profiler I got the following:

[code]

So it looks like the new_receipt action is 74% of the cost.

[2020-07-30 20:52] vgrichina commented on #3054
@nearmax @bowenwang1996 @frol I think this is actually a P0 as can easily result in double spends. Let's fix it for next release ideally.

[2020-07-30 22:30] #3054 closed

[2020-07-31 06:13] weekly-digest[bot] opened #3062 "Weekly Digest (24 July, 2020 - 31 July, 2020)"
Here's the **Weekly Digest** for [*nearprotocol/nearcore*](https://github.com/nearprotocol/nearcore):

 - - -
# ISSUES
Last week 29 issues were created.
Of these, 22 issues have been closed and 7 issues are still open.
## OPEN ISSUES
:green_heart: #3057 [test: add extra stats to cross_shard_tx](https://github.com/nearprotocol/nearcore/pull/3057), by [pmnoxx](https://github.com/pmnoxx)
:green_heart

[2020-07-31 09:21] ilblackdragon opened #3063 "Investigate RAM usage for newly started node"
Currently on TestNet node uses 4-4.5GB right after starting. This seems pretty high usage.

Causes:
 - Genesis json file is ~1GB and there might be a bunch of caches filled with it even though it's not really needed after creating initial block.
 - There are a lot of transactions that are been processed to catch up with the network, caches or leaks are possible.

[2020-07-31 09:39] adrianbrink commented on #3063
Additional information.

If a node is started on a machine with less than the required amount of RAM it halts the entire machine and in order to regain control it needs to be power-cycled.

The docker container shows this output when starting on a node without enough RAM.

[code]

During boot up it requires up to 5GB of RAM, and afterwards 4.38GB.

[2020-07-31 15:40] bowenwang1996 opened #3065 "Opening database takes a very long time"
After the hard-fork on testnet yesterday we observe that when restarting a node, it can potentially take more than half an hour to just open the database. To reproduce, initialize and start a testnet node by
[code]
where genesis.json can be found at https://s3-us-west-1.amazonaws.com/build.nearprotocol.com/nearcore-deploy/testnet/genesis.json.

After the node starts, you should be able to see that

[2020-08-02 03:08] ilblackdragon opened #3068 "Node Performance"
This is epic to track performance across the stack:

*   WASM execution
*   Chain processing
*   RPC latency and throughput
*   End2end TPS on various networks
*   EVM performance

Here are existing benchmarks:

*   Load test on mocknet - [https://github.com/nearprotocol/nearcore/blob/master/pytest/tests/mocknet/load_testing.py](https://github.com/nearprotocol/nearcore/blob/master/pytest/tests/moc

[2020-08-02 03:28] #3032 closed

[2020-08-02 14:52] SkidanovAlex commented on #2381
The work above is done as part of mocknet testing. The performance is tracked in #3068.

Currently the launch criteria is defined as having no issues on testnet and betanet for a week.

[2020-08-03 10:07] frol commented on #3065
My $0.02:

* `strace` reports tons of `pread64` reads to the same .sst file, that file is over 264MB (276170959 bytes) while the rest of the .sst files are usually quite small (order of kbytes).
* `pread64` tries to read `3566667` bytes from the same offset 272281385 over and over again (it succeeds as strace reports that it successfully reads `3566667` bytes, and the file size (276170959) is bigg

[2020-08-03 10:43] frol commented on #3065
There is a similar report in CEPH: https://tracker.ceph.com/issues/21092

It seems it is related to the cache size of RocksDB.

[2020-08-03 10:53] frol commented on #2850
Alternatively, we can implement a separate RPC server using a separate TCP port, by default listening on 127.0.0.1, so there is no way to suddenly expose the RPC to the outside world. Exposing this RPC then can be done with a reverse-proxy basic auth configuration or even a custom managing service. This way we don't need to roll out yet another key management.

[2020-08-03 12:27] frol commented on #3065
@ailisp Was it you who tweaked RocksDB before? Maybe you have an idea where we miss the cache?

[2020-08-03 16:50] evgenykuzyakov opened #3071 "[perf] Runtime: Optimize gas counter by splitting `burn_gas` and `used_gas`"
I’m thinking we should refactor `GasCounter`  to split `burn_gas` and `used_gas` . Right now `used_gas`  includes `burn_gas` which makes logic more complicated when we need to increment only `burn_gas`

This might save us 2X in the critical path, since `used_gas` increases are more rare than `burn_gas`.

The critical path in `near-vm-logic` is the call to host function `gas(amount)` from the VM as

[2020-08-03 16:52] ailisp commented on #3065
Great finding! This sounds can't be resolved by smaller write-ahead-log size (sst file). But rather the node exit before sst file is properly updated and flushed.

Rocksdb might have a 30min timeout on load sst, and would abandon to avoid infinite loop like above case, we might want to abandon earlier to speed up

[2020-08-03 17:03] frol commented on #3065
@ailisp Can you take it over or help @mikhailOK with this?

P.S. How critical is having a corrupted .sst file? (I just want to learn, so I can better understand how to provide useful debug information)

[2020-08-03 17:15] ailisp commented on #3065
I think in this case it's already corrupt, it shouldn't retry for 30 minute. In general i'm not sure. From how rocksdb works it suppose to keep the write-ahead-log file until it's fully flushed to sst. So if the last sst file isn't fully written, log file should exist and it should be okay to delete the last sst file and reconstruct from the write-ahead-log file.

[2020-08-03 18:03] frol commented on #3065
I tried removing it, but then it complained that there is not such .sst file :smile:

[2020-08-03 18:11] ailisp commented on #3065
That's bad, probably rocksdb thought last log has applied to sst and deleted the log :(

Or i think, more likely (given last sst file is much bigger than the old ones), rocksdb is doing appending into the latest sst. And compact it into several smaller ones once it grows to some limit. If this is the case we have to use rocksdb's functions to fix sst by undo the latest log.

[2020-08-03 18:14] ailisp commented on #3065
Is it possible sst corrupt because we didn't do this?

<img width="924" alt="image" src="https://user-images.githubusercontent.com/13259400/89213778-755d5a00-d57a-11ea-9431-c8ef3b64e8d7.png">

[2020-08-03 20:44] frol commented on #3065
In fact, it was not the last sst file, and usually it is the first or close to the first (based on the numbering in the name).

[2020-08-04 18:35] #2115 closed

[2020-08-04 18:35] #2192 closed

[2020-08-04 18:36] #2288 closed

[2020-08-04 18:39] #2920 closed

[2020-08-04 18:40] chefsale commented on #2452
There is another issue with more context being worked on.

[2020-08-04 18:40] #2452 closed

[2020-08-04 19:09] jimmy3dita commented on #2192
This may be related: https://github.com/near/docs/pull/426

[2020-08-04 19:26] chefsale opened #3075 "Create a list of hardware we support"

[2020-08-04 20:44] SkidanovAlex opened #3077 "Add a mocknet test that drops packages"
We have an infrastructure to run tests on a live cluster called mocknet, see examples here:

[https://github.com/nearprotocol/nearcore/tree/master/pytest/tests/mocknet](https://github.com/nearprotocol/nearcore/tree/master/pytest/tests/mocknet)

We want to add a test that tests a situation in which a percentage of all the packets gets lost.

One potential way to do that is to add an RPC-endpoint in

[2020-08-04 23:30] nearmax opened #3079 "Run param estimator on nightly"
We need to run runtime fees param estimator on nightly to make sure we don't accidentally introduce regression by tinkering with the runtime. Compilers are tricky and seemingly no-op changes might cause performance regression, especially around hight-performance code, like gas counter.

CC @olonho @evgenykuzyakov

[2020-08-04 23:32] nearmax commented on #3079
The test should fail if performance decreases by more than the tolerance margin provided by @olonho

[2020-08-04 23:32] evgenykuzyakov opened #3080 "Expose `max_gas_burnt_view` as part of client config"
`max_gas_burnt_view` defines the maximum burnt gas for a view call.

Since it doesn't influence the protocol (only affects RPC), it should be part of the client config instead of genesis config.

[2020-08-05 13:19] willemneal commented on #3079
Meeting with @chefsale tomorrow to discuss.

[2020-08-05 14:06] frol opened #3084 "nearcore stuck with crashes on betanet-node7"
**Describe the bug**

The node stuck with tons of logs of same backtraces:

[code]

The end of the log is the following (as is, without edits, note the timestamps):

[code]

Node uses 100% of all the CPU (the VM has 2 cores and all of them are busy with neard) and consumes 3.3GB or RAM.

`strace` reports that there are tons of writes of a single byte 0x01 (the file descriptors are anonymous pipes)

[2020-08-05 14:23] frol commented on #3084
In fact, this error happened "immediately" on node start ("immediately" is almost 10 minutes from the boot time, but there were no sync logs during that period of time):

[code]

[2020-08-05 14:42] frol opened #3085 "nearcore fall out of sync and ultimately stuck unable to broadcast messages on testnet"
**Describe the bug**

According to the logs it started like this:

[code]

The sync speed could not keep up with the block production speed, so ultimately it stuck:

[code]

`strace` reports tons of reads from RocksDB .sst files, though it does **not** seem to be similar to #3065 as here it reads different files. There are also some amount of writes of a single byte 0x01 to some anonymous pipes si

[2020-08-05 15:03] frol commented on #3085
testnet-node4 experiences the same "Mailbox has closed" issues, but it manages to keep working:

[code]

[2020-08-05 17:19] frol commented on #3022
The initial attempt failed when we tried to join an "old" network where there is no single node having the "first" blocks (due to garbage collection). The node with such a config just never got to start syncing.

After the hard-fork, I started the node again and it works fine since then, however, it is not clear if it will do so if I start it now. We need to have another test node with such a conf

[2020-08-06 02:26] bowenwang1996 commented on #3084
I believe this is caused by an unclean shutdown of the node, but I don't think this will cause the node to get stuck forever.

[2020-08-06 02:28] bowenwang1996 commented on #3085
Should be fixed by #3090

[2020-08-06 04:57] frol commented on #3084
It was in that state 5 hours, so I call it “forever”

[2020-08-06 16:59] SkidanovAlex commented on #3084
I don't think an unclean shut down can explain it? The batch writes to the storage are atomic, so the head should not be updated if the block is not persisted.

This appears to be a real bug.

[2020-08-06 21:30] nearmax opened #3093 "[Discussion] Ganache-like node"
# Motivation

We need a lightweight version of the nearcore node that will be used in the following situations:
* As part of the testing framework to test contracts;
* In integration tests of various L2 components and Applayer, e.g. bridge, near-api-*, near-sdk-*;
* By the developers during their development process to allow rapid iterations as they are tinkering with the node.

Based on the above

[2020-08-06 21:37] mfornet commented on #3085
[code]

This logs happens when a node B disconnects from node A, but A haven't had time to discover it, and it is more common due to current rebalancing strategy.

[2020-08-06 21:45] nearmax opened #3094 "function_call_cost number cannot be explained"
`function_call_cost` is currently `2319861500000` gas, see: https://github.com/nearprotocol/nearcore/blob/master/neard/res/genesis_config.json#L74

This is the major limiting factor that restricts contract call TPS to 200. Initially we thought it is so large because the fee computation accidentally adds it to it the cost of trie update, Wasm compilation and loading, receipt creation for refunds, e

[2020-08-06 22:04] vgrichina commented on #3068
@ilblackdragon where did you get 200 value for listen-counter TPS? It is only occasionally hitting 200 transaction blocks, we don't have sustainable 200 TPS on testnet.

Peak results like this are at best metric of what we theoretically can do. They do not represent actual real life performance.

[2020-08-06 22:53] bowenwang1996 commented on #3075
So far we have
* CPU must support AVX instructions
* Disk must be SSD

We can add such checks to nearup as well.

[2020-08-07 00:34] bowenwang1996 commented on #3084
Yes I was wrong. I was investigating it today but our nodes got nuked :(

[2020-08-07 01:50] bowenwang1996 commented on #3093
Would single node suffice or is there some need for having multiple nodes?

[2020-08-07 01:53] nearmax opened #3097 "Investigate whether param estimator is affected by disk caching"
As reported by @SkidanovAlex Ubuntu can cache up to 1GiB of disk, we need to make sure param estimator is hitting the actual disk and not the cache.

[2020-08-07 01:54] nearmax opened #3098 "Investigate whether param estimator is affected by whether it runs on HDD or SSD"
And if it is affected switch to specific SSD hardware.

[2020-08-07 02:54] vgrichina commented on #3093
I think it's best if we keep as close to real node as possible (including RocksDB, etc) as long as we can tune parameter to get good enough performance (e.g. by reducing block production time) and provide debug APIs like save/rollback state, fast forward time, etc.

Making WASM-runnable node seems like more or less independent project which needs more significant effort.

[2020-08-07 06:13] weekly-digest[bot] opened #3100 "Weekly Digest (31 July, 2020 - 7 August, 2020)"
Here's the **Weekly Digest** for [*nearprotocol/nearcore*](https://github.com/nearprotocol/nearcore):

 - - -
# ISSUES
Last week 33 issues were created.
Of these, 10 issues have been closed and 23 issues are still open.
## OPEN ISSUES
:green_heart: #3095 [fix: add a warning for disk type](https://github.com/nearprotocol/nearcore/pull/3095), by [bowenwang1996](https://github.com/bowenwang1996)
:gre

[2020-08-07 08:49] chefsale commented on #2491
Closing this issue in favour of https://github.com/nearprotocol/near-ops/issues/49, as we are migration all the nodes to nearup.

[2020-08-07 08:49] #2491 closed

[2020-08-07 17:05] evgenykuzyakov commented on #3094
Right now when a contract code is pulled from the trie without cache we rehash it to verify the hash matches the hash given in the account structure.

In particular these 2 lines:
https://github.com/nearprotocol/nearcore/blob/9ca3117e04fc87b89e69c19916f0ed82b7a8af16/runtime/runtime/src/cache.rs#L25

and

https://github.com/nearprotocol/nearcore/blob/9ca3117e04fc87b89e69c19916f0ed82b7a8af16/core/pr

[2020-08-07 20:23] evgenykuzyakov commented on #3094
Also it might be not hashing alone. Just reading 200Kb from the trie costs `1870335 * 200000` according to our tests 0.37 Tgas (pre safety multiplier).

[2020-08-07 20:24] evgenykuzyakov commented on #3094
I think the best way to measure cost of compilation is to run a function call block with cache on (warmed up) and a block with cache off. The difference is the cost of cold compilation.

[2020-08-07 21:54] SkidanovAlex opened #3105 "Add a mode to stress.py that drops a percentage of packets"

[2020-08-07 21:56] SkidanovAlex opened #3106 "Add a mode to stress.py that periodically completely stops the network for some time"

[2020-08-07 21:59] SkidanovAlex opened #3107 "Add a mode to stress.py that periodically introduces network splits"
Specifically, we want 50-50 split.

Also if stress.py can run with 7 nodes, we should add a particular run in nightly with 7 nodes and 2-5 split.

[2020-08-07 22:00] SkidanovAlex opened #3108 "Enable erasing data folder in node_set and node_restart modes in stress.py"

[2020-08-07 22:01] SkidanovAlex opened #3109 "Add a worker in stress.py that verifies that the RPC is responsive at all times"

[2020-08-07 22:23] SkidanovAlex opened #3110 "Sending large quantities of transactions slows the network down"
We observed on the mocknet that sending more than 500 transactions per second slows the network down, and it starts processing fewer transactions than when it is not under such a heavy load.

The network performance must not be negatively affected by the number of transactions submitted.

[2020-08-07 22:24] SkidanovAlex opened #3111 "Test that the network can handle biased workloads"
Add a mocknet test that runs the following workloads:

1. Lots of compute-heavy transactions (transactions that do not touch disk, and just run lots of heavy computations);
2. Lots of disk-read-heavy transactions (transactions that read from random locations on a huge state, the state should be at least 30GB of raw data; we might need to upgrade our instances because the actual database might be m

[2020-08-07 22:28] SkidanovAlex opened #3112 "Add a mocknet test that for a duration of time randomly restarts all the nodes"
Add a mocknet test for for a duration of time randomly restarts all the nodes.
We want to test that we can continue operating if
a) For some time no node is alive, and
b) Nodes get restarted multiple times in a row without getting a chance to fully sync

[2020-08-07 22:36] SkidanovAlex opened #3113 "A fuzz test that switches between phases of major interference, followed by phases during which all the messages are delivered"
A test that tests the end-2-end block production and consensus, with messages arbitrarily delayed (without an upper bound), and some participants arbitrarily dropped for a long duration of time. Then after that duration of time the network is allowed to operate normally, and we verify that it gets to a state in which blocks are produced at a steady pace, and the transactions are processed; We then

[2020-08-07 22:41] SkidanovAlex opened #3114 "Drop peers who have not upgraded when the protocol upgrade is voted for."

[2020-08-07 22:45] SkidanovAlex opened #3115 "Measure time of all the handlers in all actors in adversarial builds, and report delays"
1. In the build with the `adversarial` flag measure each handler of each actor;
2. Trace if the handler takes more than 50/200/500 ms
3. Add a feature to nayduck that reports pytest runs in which such tracing is present.

[2020-08-07 22:47] SkidanovAlex opened #3116 "Add a mocknet test that tests the behavior of the cluster under some simple adversarial conditions"
(a) creating large numbers of blocks per height and sending them to all the nodes;
 (c) spamming with state sync requests;
 (d) spamming with account announces;
 (e) spamming with NetworkRequest::Sync requests.

[2020-08-07 22:52] nearmax commented on #3094
FYI singlepass is JIT, so cache helps a little bit but not much.

[2020-08-08 01:37] vgrichina commented on #2381
I think we need to keep this constantly running for both betanet and testnet.

[2020-08-08 05:56] ilblackdragon commented on #161
To be more specific, the scope of work here:
 - Create a pool of runtime workers
    - Concerns: the state should be read from snapshot isolation to prevent other issues with parallel reads? Is there still big lock on the state or we have already removed?
    - Concerns: if we running this pool with actix, what is the performance / parallelism we are getting? Should this be a thread pool directly?

[2020-08-08 14:39] khorolets opened #3118 "near-vm-runner memory panicked at .expect("TODO creating memory cannot fail")"
**Describe the bug**
I had the running [NEAR Indexer for Wallet](https://github.com/near/near-indexer-for-wallet) for testnet. Unexpectedly it crashed with error on this line.
https://github.com/nearprotocol/nearcore/blob/master/runtime/near-vm-runner/src/memory.rs#L20

[code]

**To Reproduce**
It was running days before the crash, unfortunately I don't know how to reproduce it again

**Version (p

[2020-08-08 17:26] nearmax opened #3119 "Worst case CPU soak test"
# Motivation
We are currently using a cryptographic primitive computation to estimate the relationship between the number of CPU instructions and the time which leads to relationship between the number of CPU instructions and gas. However, we need to make sure it accounts for the worst possible case -- it should mostly miss CPU cache and it should mostly use the most expensive CPU instructions.

#

[2020-08-08 17:37] maxzaver opened #3120 "Worst case Wasm CPU soak test"
# Motivation

We are currently using this code [https://github.com/nearprotocol/nearcore/blob/master/runtime/runtime-params-estimator/test-contract/src/lib.rs#L681](https://github.com/nearprotocol/nearcore/blob/master/runtime/runtime-params-estimator/test-contract/src/lib.rs#L681) to compute the ratio `<num CPU instructions>/<num Wasm operations>`. However this code might not be pessimistic enough

[2020-08-08 17:59] nearmax commented on #161
The caveat is that parallel execution will not account for the worst case scenario  -- where all receipts are directed towards the same account. So we need to do a protocol change where we allow at most X gas directed towards the same account. It has the following disadvantages:
* It changes the protocol in a big way, and we might not be accounting for the second-order effects. We already have an

[2020-08-08 17:59] #161 closed

[2020-08-08 21:19] evgenykuzyakov commented on #3094
We also cache `preparation (e.g. gas injection) + contract code storage read`. Need to look further what takes the most amount of instructions for a base function call. Maybe allocating 64Mib of RAM for any contract call is an issue.

[2020-08-08 21:22] bowenwang1996 commented on #3118
This is expected when your node runs out of memory. Please let me know if you have any other concerns.

[2020-08-08 21:22] #3118 closed

[2020-08-08 21:23] bowenwang1996 commented on #3119
What kind of CPU are we doing the benchmark on?

[2020-08-08 21:27] bowenwang1996 commented on #3094
That's a lot :)

[2020-08-08 22:27] bowenwang1996 commented on #3084
It should have been fixed by #3099. We can reopen if we see it again.

[2020-08-08 22:27] #3084 closed

[2020-08-10 16:26] #2899 closed

[2020-08-10 17:21] evgenykuzyakov opened #3122 "runtime: Memory grow cost is not computed"
Current config memory grow cost is `1` which means we're not accounting for memory grow in Wasm.
Right now we allocate `64Mib` of RAM as start of the execution, but we allow to grow it to `128Mib`. This will be almost free from the gas cost. Not a critical issue, but if we change the base to `2Mib` then the growth has to be accounted for.

[2020-08-10 22:21] ailisp commented on #1546
Any future plans on single transaction event? while near/docs#288 is good for "Subscription to state changes", it's inconvenient to get single transaction finish/fail event and "subscribe to specific kind of log/receipt happens", like what other blockchain had such as:
https://docs.solana.com/apps/jsonrpc-api#accountsubscribe
https://docs.solana.com/apps/jsonrpc-api#programsubscribe
https://polkad

[2020-08-10 22:25] frol commented on #1546
This issue has been superseded by #2651. All the future work should be offloaded to an external implementation based on NEAR Indexer framework /cc @khorolets

[2020-08-10 22:25] #1546 closed

[2020-08-11 00:26] nearmax opened #3125 "Different RPC endpoints disagree on whether receipt of block header is known"
See comments here: https://github.com/near/rainbow-bridge/pull/254#issuecomment-671655192

CC @ailisp , @Kouprin

[2020-08-11 01:08] bowenwang1996 commented on #3125
https://github.com/near/rainbow-bridge/pull/254#issuecomment-671665710

[2020-08-11 16:29] #3115 closed

[2020-08-11 17:41] SkidanovAlex opened #3128 "staking tests are flaky"
All the staking tests occasionally miss a staking transactions, e.g:

staking2.py: http://52.149.162.182:3000/#/test/7719
staking_repro1.py: http://52.149.162.182:3000/#/test/7360
staking_repro2.py: http://52.149.162.182:3000/#/test/6521

[2020-08-11 17:43] SkidanovAlex opened #3129 "state_sync tests fail with RPC timeouts"
Rather consistently, e.g:

state_sync.py: http://52.149.162.182:3000/#/test/7604
state_sync_routed.py: http://52.149.162.182:3000/#/test/7611
state_sync_late.py: http://52.149.162.182:3000/#/test/7612

[2020-08-11 17:44] SkidanovAlex opened #3130 "state_sync_massive.py fails with timeout"
http://52.149.162.182:3000/#/test/7613

[2020-08-11 17:45] SkidanovAlex opened #3131 "skip_epoch.py consistently fails"
E.g. http://52.149.162.182:3000/#/test/7615

[2020-08-11 17:46] SkidanovAlex opened #3132 "rpc_state_changes.py is flaky"
Failed twice in the last 30 runs:

http://52.149.162.182:3000/#/test/6183
http://52.149.162.182:3000/#/test/4983

[2020-08-11 17:49] SkidanovAlex opened #3133 "GC python tests are flaky"
Often fail with connection refused, e.g:

gc_after_sync.py (connection refused):
http://52.149.162.182:3000/#/test/7746
http://52.149.162.182:3000/#/test/7626

gc_after_sync1.py (rpc timeout)
http://52.149.162.182:3000/#/test/4627

gc_sync_after_sync.py (connection refused):
http://52.149.162.182:3000/#/test/7748
http://52.149.162.182:3000/#/test/7628
http://52.149.162.182:3000/#/test/7508

[2020-08-11 17:59] SkidanovAlex opened #3134 "proxy_restart.py is flaky, fails with "Connect call failed ('127.0.0.1', 24578)""
E.g

http://52.149.162.182:3000/#/test/6792
http://52.149.162.182:3000/#/test/7512

[2020-08-11 18:02] SkidanovAlex opened #3135 "network_drop_package.py is flaky: times out"
A regular run takes 20 seconds, and the timeout is three minutes, so the timeouts are not due to the timeout being too small.

http://52.149.162.182:3000/#/test/7273
http://52.149.162.182:3000/#/test/4873

[2020-08-11 18:08] SkidanovAlex opened #3136 "handshake.py consistently fails"
E.g http://52.149.162.182:3000/#/test/7636

[2020-08-11 18:10] SkidanovAlex opened #3137 "wrong_sync_info.py consistently fails"

[2020-08-11 18:11] SkidanovAlex opened #3138 "start_from_genesis.py doomslug_off is flaky"
E.g.

http://52.149.162.182:3000/#/test/7284
http://52.149.162.182:3000/#/test/7644

[code]

[2020-08-11 18:13] SkidanovAlex opened #3139 "test_catchup_sanity_blocks_produced is flaky"
Fails skipping block at height 10, e.g.
http://52.149.162.182:3000/#/test/7535

Same for the `test_catchup_sanity_blocks_produced_doomslug`:
http://52.149.162.182:3000/#/test/7178

[2020-08-11 18:16] SkidanovAlex opened #3140 "Almost all cross_shard_tx* tests are flaky"
E.g. consider this run: http://52.149.162.182:3000/#/run/64

[2020-08-11 18:44] SkidanovAlex opened #3141 "test_rejoin test::test_4_20_kill1 is extremely flaky"
See

http://52.149.162.182:3000/#/test_history/7713

and

http://52.149.162.182:3000/#/test_history/7714

[2020-08-11 23:11] SkidanovAlex opened #3143 "block_production.py is flaky"
Fails with

[code]

http://nayduck.eastus.cloudapp.azure.com:3000/#/test/7836

[2020-08-12 04:28] mfornet commented on #3136
This will be fixed in #3016

[2020-08-12 04:52] bowenwang1996 opened #3146 "parallel test runner enables nondefault feature"
As reported by @mikhailOK, the parallel test runner enables nondefault feature when running tests, which causes some tests to be too slow after #3091.

[2020-08-12 05:34] nearmax opened #3147 "[Discussion] Reject sync request if too many peers are syncing"
# Motivation

When all network nodes are rebooted after the update they try syncing at the same time and this makes the booting slow.

# Proposed design 1

Node A should reject syncing requests using structured error X when it already has more than Y nodes syncing. Number Y should be determined by benchmarking the syncing code. When node B receives structured error X during the sync it should atte

[2020-08-12 05:44] bowenwang1996 commented on #3147
Let's not conflate nearup (which is a tool to manage the node) with the behavior of the node itself. Whatever we do with nearup should be separate from nearcore. As for syncing, since a node has a limited number of peers, the number of peers that are syncing is naturally limited. Also, other than state sync (for which we already have limits), syncing is not very resource intensive so I don't think

[2020-08-12 05:49] nearmax opened #3148 "[Discussion] Remove RPC routing from the protocol"
# Motivation
Currently RPC routing is part of the protocol. There are two issues with that:
* We reinvented routing protocol on top of RPC, which is something that already exists in multiple implementations;
* There is no reason for RPC routing to be part of the protocol, it makes it rigid and hard to change.

# Proposal

RPC routing should be implemented on top of RPC using existing routing stand

[2020-08-12 05:51] nearmax commented on #3147
I agree, let's not add hacks into nearup, like adding a randomized timer, that would solve node issues. Inability of the node to efficiently communicate with the peers and decide when and how to sync is the node issue.

[2020-08-12 05:54] nearmax commented on #3147
I see, you were talking about rolling release. Closing this issue.

[2020-08-12 05:54] #3147 closed

[2020-08-12 06:48] #3065 closed

[2020-08-12 11:19] frol commented on #3148
I agree that we should limit NEAR protocol networking to the needs NEAR protocol has. RPC routing should be designed separately; I am not aware of any peer-to-peer RPC standard (haven't had a need for it before). I am not 100% sold on having routing internally and currently consider just helping the client to learn which node it should reach out for the data instead of proxying the data through a

[2020-08-12 13:57] SkidanovAlex commented on #3105
Michael startred it here:

https://github.com/nearprotocol/nearcore/pull/3076

The logic is mostly implemented. On both Michael's and my machines test eventually fails with RPC timeouts.

Reassigning to Marcelo to finish it and make it pass.

[2020-08-12 13:58] SkidanovAlex commented on #3106
Should be done after #3105

[2020-08-12 13:58] SkidanovAlex commented on #3107
Should be done after #3105

[2020-08-12 14:03] SkidanovAlex commented on #3050
Split into #3105 and #3106

[2020-08-12 14:08] SkidanovAlex commented on #3050
Michael already started it here: https://github.com/nearprotocol/nearcore/pull/3076

Locally it currently fails hitting RPC timeouts.

Reassigning to Marcelo so that Michael can concentrate on mocknet tests.

[2020-08-12 15:29] mikhailOK opened #3151 "Don't write genesis to storage on restart"
Discovered in #3065. It's faster after the fix, but we should also not write genesis state again.

[2020-08-12 16:12] willemneal commented on #3120
This seems like a good use case for a fuzzer.

[2020-08-12 16:36] frol opened #3152 "Clean state sync fails (testnet)"
**Describe the bug**

Running a node from master I see these messages after the headers sync:

[code]

It proceeded with block sync, so I assume it is not critical, yet it might be an indicator of a potential issue.

**To Reproduce**

I am not sure how reproducible this behavior, but there was no `data` folder and I just let it sync up.

**Expected behavior**

I think it might be an indicator of s

[2020-08-12 23:29] #3128 closed

[2020-08-13 00:34] bowenwang1996 commented on #3152
I am not sure what is the issue here. Are you referring to something in the logs? I agree that we should probably suppress the warning as it is unlikely to finish downloading state in 10 seconds.

[2020-08-13 03:18] bowenwang1996 commented on #3114
Requires #3016

[2020-08-13 04:50] SkidanovAlex commented on #3133
gc_sync_after_sync.py started consistently failing after https://github.com/nearprotocol/nearcore/commit/9ca3117e04fc87b89e69c19916f0ed82b7a8af16

Assigning to Bowen.

[2020-08-13 10:26] frol opened #3156 "Introduce --boot-nodes argument to `neard init`"
As per an offline discussion with @khorolets @bowenwang1996 @chefsale, the extension to `neard init` has been suggested to address the empty `boot_nodes` upon the default config generation (currently, when you run a node with `neard init` + `neard run` you will get "waiting for peers" message due to the fact that the default config generated by `neard init` does not have any boot nodes in it).

If

[2020-08-13 10:53] frol commented on #3152
The node was running fine and I expect it not to produce ERROR message unless those need to be addressed. I still think those messages are valiable, so we may just transform those to INFO level. I am not sure about the "ERROR sync: State sync received hash 9YCa51LtyuYVL7rqP3KgaSAGqtywTpmLHm6eEP7LavGE that we're not expecting, potential malicious peer" error as it appears to me as some sort of race

[2020-08-13 14:50] bowenwang1996 commented on #3152
That happens when a peer is behind the head of the network or the head is close to the epoch boundary. I can change the log level.

[2020-08-13 19:04] nearmax opened #3158 "Fix contract call fee issue"
We have discovered that we were underpricing contract call fee due to a bug in param estimator tool that was hidden by a bug introduced in this PR: https://github.com/nearprotocol/nearcore/pull/2845/files#diff-a811f7fb6a4892a2b6cc0098f7f68616R567. It turns out 300KiB contracts would cost >100Tgas to compile which is prohibitively expensive for our partners. According to @willemneal this is not onl

[2020-08-13 19:53] frol commented on #3152
I think those should be DEBUG level logs if you can actually test those conditions you listed, and if those conditions are not met that needs to be reported as WARNING.

Let's reserve ERRORs to the items that require some action.

I think it is a low priority.

[2020-08-13 19:54] mikedotexe commented on #3158
Please advise if this affects if/how we should communicate to launch partners when you have a free moment.

[2020-08-13 21:47] evgenykuzyakov commented on #3158
Please comment on https://github.com/nearprotocol/NEPs/issues/97#issuecomment-673724401
Does this work?

[2020-08-13 23:11] #3133 closed

[2020-08-14 00:55] nearmax opened #3161 "Disable refunds and burn all gas"
After a brief discussion with @SkidanovAlex I think this issue is severe enough to be promoted to Phase 1. Also, I think https://github.com/nearprotocol/NEPs/issues/104 is not framing the right problem: the problem is not that it is not expensive enough to perform shard congestion, the problem that it is possible in the first place. It should not be possible to disable transaction processing of a

[2020-08-14 01:12] bowenwang1996 commented on #3161
I don't think that is the case. When we process receipts, we look at burnt gas to determine the limit. This means that if there are a lot of transactions that have 300Tgas attached but only uses 5Tgas, we will be able to process all receipts in one block. I agree that it is a problem if each of the transaction actually burns 300Tgas, but if that is the case, I don't think what proposed here helps

[2020-08-14 01:22] nearmax commented on #3161
The argument that you quoted explains why users don't have incentive to care about the prepaid gas. The contr-argument: "This means that if there are a lot of transactions that have 300Tgas attached but only uses 5Tgas, we will be able to process all receipts in one block." does not argue that users will care about the prepaid gas. Here is an example: Imagine we've been running network for 2 month

[2020-08-14 01:26] bowenwang1996 commented on #3161
I don't think I understand. How is burning all prepaid gas different from a transaction that uses all prepaid gas in the current setting?

[2020-08-14 01:27] nearmax commented on #3161
I don't understand your question.

[2020-08-14 01:45] bowenwang1996 commented on #3161
I think I understand your argument now. Let's say that we burn all prepaid gas. Now if an attacker wants to execute the same attack they have to saturate every block with transactions that attach a lot of gas. But the overall cost is the same as the attack in the current system because we charge receipts at the gas price of the block in which they are processed. Is your argument that it is much ha

[2020-08-14 01:48] nearmax commented on #3161
The argument is that there won't be a difference between the attacker and the user -- if user is willing to saturate the block and pay for it it does not matter whether they saturate it with useful computation, useless computation, or they underutilize the block but still pay for the unused CPU.

[2020-08-14 01:56] maxzaver opened #3162 "Recomputing blocks from genesis can take months"
# Motivation

Currently it is possible that every node in the TestNet/MainNet does not have blocks before block X, except the genesis. This can happen if all nodes were restarted and fast-synced from each other. We however we have users that want to have access to information about all blocks starting from genesis, using Rosetta API.

Our current solution is to tell these clients to always run nod

[2020-08-14 01:59] nearmax commented on #3162
CC @frol

[2020-08-14 02:51] bowenwang1996 commented on #3161
It seems that you suggest that in the current system attacker can abuse without paying for unused CPU. I don't see why that is the case. As I mentioned before, the number of receipts we process depends on their burnt gas, not used gas. So I don't see how the attacker get away without paying for unused CPU.

[2020-08-14 06:01] nearmax commented on #3161
In the current system attacker can create a congestion for 2 mins.
In a system where all prepaid gas is burnt and blocks are filled in based on prepaid gas, and not just fees, it is not possible.

In the current system the attack described in the issue is possible, with the proposed modification it is not possible.

[2020-08-14 06:13] weekly-digest[bot] opened #3163 "Weekly Digest (7 August, 2020 - 14 August, 2020)"
Here's the **Weekly Digest** for [*nearprotocol/nearcore*](https://github.com/nearprotocol/nearcore):

 - - -
# ISSUES
Last week 64 issues were created.
Of these, 19 issues have been closed and 45 issues are still open.
## OPEN ISSUES
:green_heart: #3159 [fix: Batch edges on routing table sync](https://github.com/nearprotocol/nearcore/pull/3159), by [mfornet](https://github.com/mfornet)
:green_hea

[2020-08-14 08:11] frol commented on #3158
Consider testing the rewrite of wasmer (wasmer-reborn): https://github.com/wasmerio/wasmer-reborn

[2020-08-14 14:23] #3139 closed

[2020-08-14 14:41] bowenwang1996 commented on #3161
But that is not the case. When we process receipts the block is filled based on burnt gas, not prepaid gas. So we can process a lot of receipts with 300T prepaid gas but 5T burnt gas.

[2020-08-14 14:42] bowenwang1996 commented on #3158
@frol looks like the repo doesn't exist

[2020-08-14 14:47] frol commented on #3158
It seems they had made it private again... Should we ask them to share it with us?)

[2020-08-14 15:00] SkidanovAlex opened #3165 "state_sync3.py is flaky"
E.g http://nayduck.eastus.cloudapp.azure.com:3000/#/test/8509

[2020-08-14 15:01] #3129 closed

[2020-08-14 15:02] SkidanovAlex opened #3166 "controlled_edge_nonce.py fails"
http://nayduck.eastus.cloudapp.azure.com:3000/#/test/12301

[2020-08-14 15:33] willemneal commented on #3158
It seems risky to try a new VM that is less tested.  We could revisit when it's stabilized.

[2020-08-14 16:10] evgenykuzyakov commented on #3161
Has to go to a NEP

[2020-08-14 16:33] SkidanovAlex opened #3167 "Do not show the number of validators in the node log until it is synced"
Currently during the sync the number of validators displayed is as of the head of the chain, which is somewhere in the past.
The number can be confusing, so it makes sense to not display it at all until the sync is completed.

[2020-08-14 17:45] SkidanovAlex opened #3169 "Receipts, unlike transactions, are not refcoutned."
The same receipt (and the same transaction) can be in multiple chunks. Thus, when we garbage collect chunks, we need to make sure it is the last occurrence of a particular receipt or transaction. For txs we have a refcount in place, but for receipts we do not.

In `clear_chunk_data`:

[code]

We need to implement the same refcounting for receipts.

UPD: When fixed, uncomment the debug assert in co

[2020-08-14 20:13] #3165 closed

[2020-08-14 22:05] SkidanovAlex opened #3172 "switch_node_key.py is flaky"
E.g http://nayduck.eastus.cloudapp.azure.com:3000/#/test/12488

[2020-08-15 15:50] #3143 closed

[2020-08-16 04:45] ilblackdragon opened #3177 "RPC for querying receipts"
Getting timeout errors while fetching tx-status of the receipt when using a single node setup on localhost.

[code]

# Steps to reproduce

1. Send some transaction that has receipts (function calls / transfers)
2. Find the receipt ID
3. Call `near tx-status <account_id>:<receipt_hash>`

Observe timeout error.

Expected:
 - Either "not found" error
 - Or receipt info

[2020-08-16 06:30] #3163 closed

[2020-08-16 10:16] ilblackdragon opened #3179 "View call RPC is returning byte arrays instead of base64"
Steps to reproduce:

1. Run any view call, for example `query call/evm.test.near/view_call_contract`
2. Observe that output has byte array in result.
[code]

Expectation: result is base64 encoded.

[2020-08-16 16:08] bowenwang1996 commented on #3158
@frol looks like it's already merged https://github.com/wasmerio/wasmer/commit/518e0f32226abffff78d01af195d6de0dbaea00b

[2020-08-16 16:31] #3172 closed

[2020-08-16 17:40] SkidanovAlex opened #3180 "Revisit seals implementation"
I was debbugging an issue today related to (but not really caused by) Seals, and discovered that the implementation is likely incorrect.
 Given we do not need seals for the single shard setting, in which the chunk producer is almost always the same as the block producer, I disabled the seals for now.

Specific concerns:

1\. This logic of retaining seals appears incorrect:

[code]

It seems like `

[2020-08-16 20:16] bowenwang1996 commented on #3177
We disabled receipt query long ago. The issue here is that a node cannot distinguish just from the hash whether you intend to query transaction or receipt and it assumes that you are trying to query a transaction.

[2020-08-16 23:45] nearmax commented on #3179
Assigning to @khorolets , CC-ing @frol

[2020-08-16 23:52] #2721 closed

[2020-08-16 23:53] nearmax opened #3183 "Exhaustively cover potential error types returned from JSON RPC in docs"
We need to add JSON RPC spec to nomicon.io . It should describe all endpoints, use-cases of these points, together with all situations when they return normal result vs error. It is blocked by https://github.com/nearprotocol/nearcore/issues/2976

[2020-08-17 00:22] nearmax opened #3184 "Regression tests for JSON RPC"
We need to cover every JSON RPC endpoint, it's usages, together with all successful and erroneous responses. Basically we need to hardcode a list of tuples: `(setup, request, response)`, where `setup` is some condition that we need to check, e.g. node going out of sync, gc collecting some blocks, etc. `request` and `response` have to be actually hardcoded as much as possible, so that if anything u

[2020-08-17 00:29] maxzaver opened #3185 "Add Rosetta Spec to nomicon"
We should write a spec that exhaustively describes how we map Rosetta API (I would rather call it Rosetta runtime though) to our runtime. Specifically, how do we map Rosetta primitives to state change primitives and what assumptions are we making.

[2020-08-17 00:33] nearmax opened #3186 "Add Rosetta tests to CI"
We need to run Rosetta test suite as part of our CI to be able to know when something gets broken.

[2020-08-17 00:39] #2895 closed

[2020-08-17 00:47] maxzaver opened #3187 "Run Wasmer and Wasmtime together"
To ensure there are no Wasmer- or Wasmtime-specific bugs in our codebase we need to run both Wasmer and Wasmtime side-by-side and panic when they disagree.

Specifically, each block is going to be produced using Wasmer and Wasmtime executed in parallel. Each of them would produce a different `TrieUpdate` and other artifacts, like execution outcome and receipts. Before we call `TrieUpdate::finalize

[2020-08-17 00:56] nearmax opened #3188 "[Epic] Gain 100% confidence in Wasmer"
NEAR collective to be 100% confident in Wasmer+singlepass codebase. To gain this confidence we need to do the following:
* Have at least 2 people in NEAR collective fully understand Wasmer+singlepass codebase. This is not measurable and therefore it is not a goal. Therefore we define it through measurable subgoals:
  - [ ] Have these 2 people write exhaustive Wasmer+singlepass spec, potentially tu

[2020-08-17 01:00] SkidanovAlex commented on #3169
When fixed, uncomment the debug assert in core/store/src/lib.rs (search for 3169 there)

[2020-08-17 02:15] leor-w opened #3190 "rpc node bug"
**Describe the bug**
On this node, request the return of the block from 3 days ago  **Block Missing (unavailable on the node): 6oHKZvXVtSzPacFYEWGzzfqDTrZFmbQmZ9pwWrR4pWJq \n Cause: Unknown \n Backtrace: **
https://rpc.mainnet.near.org

**To Reproduce**
Request the above node using JSONRPC request body:

[code]

**Expected behavior**
I want the node to return the block information normally

**Scre

[2020-08-17 02:53] nearmax opened #3191 "[Epic] Gain 100% confidence in pwasm-utils"
A large portion of our safety relies on assumption that static checks and gas injection from pwasm-utils always work correctly and are not abusable, e.g. they cannot be used to grind nodes for unpredictable amount of resources and they cannot be circumvented by smartly written Wasm code. We need to have enough of the in-house competence in pwasm-utils, specifically we need to have at least 2 peopl

[2020-08-17 02:55] nearmax commented on #3190
@bowenwang1996 , is this the case of https://github.com/nearprotocol/nearcore/issues/2976 hiding the fact that the block was GCed?

[2020-08-17 03:00] nearmax opened #3192 "[Discussion] Ensure deletion of large contracts cannot be abused"
While users cannot have more than one contract deletion in the transaction, deletion of a large contract can still be disruptive to the node. We need to do the following:
* Come up with a list of potential attacks and their hypothetical effects on the node;
* If the effects turn out to be abusable to substantially disruptive to the node, discuss what we can do about it. Potential solutions: severe

[2020-08-17 03:15] nearmax opened #3193 "Ensure touch_trie_node fee is correct"
The computation of the touch_trie_node fee is tricky, since it requires constructing states of various sizes and measuring the difference in the number of CPU instructions it takes for the write operation.

Also, we need to make sure the fee is only applied for write operations, since we are going to flatten the trie and it won't matter much for read operations how deep is the trie, cc @mikhailOK

[2020-08-17 03:21] nearmax opened #3194 "Param estimator should be run with a very large state"
It is possible that when we run param estimator most of the state is getting cached by the OS and we are not hitting SSD. We need to investigate:

*   How disk caching works in various OSs, specifically Ubuntu, since this is our target platform for validators. CC @jimmy3dita ;
*   Make sure param estimator is executed on the state that's large enough to make sure we are hitting the disk;

Note, la

[2020-08-17 03:24] nearmax opened #3195 "Fuzz test state trie"
We need to add a fuzz test to exercise the trie API using various configurations of the trie: deep trie, shallow trie, lots of extensions, no extensions, etc.
Extracting state trie into a separate crate might help with deciding from trie API is.

[2020-08-17 03:31] maxzaver opened #3196 "State Trie Spec"
We need to finish writing the spec for the Merkle Patricia Trie and put it into nomicon.io. It is a part of the protocol, and we need specification for all components of the protocol to reduce the bus factor [https://en.wikipedia.org/wiki/Bus_factor](https://en.wikipedia.org/wiki/Bus_factor) Also, we need it to write the tests for the state.

[2020-08-17 03:32] maxzaver opened #3197 "State trie corner cases"
I have looked through the tests of the state trie and was not able to find tests that would exercise whether our implementation of the Merkle Patricia Trie is correct. These tests would go through various cases of the MPT spec: no extension, some extensions, no branches, etc, and ensure that our MPT implementation is correct. This is blocked by [https://app.zenhub.com/workspaces/chainmiddleware-5c

[2020-08-17 03:36] maxzaver opened #3198 "State trie iterator tests"
AFAIU there are no tests for the state trie iterator. Unfortunately the iterator part was known to be complex and to have bugs in the past. We still rely on it to iterate over access keys and to delete contract state. We need to have exhaustive tests for the iterator, since it is a part of the protocol.

[2020-08-17 04:55] #3105 closed

[2020-08-17 05:44] SkidanovAlex commented on #3190
"Unavailable on the node" means it was garbage collected. Non-archival nodes garbage collect information that is more than 5 epochs (2.5 days) old.
If you want to serve data that is older, you'd need to run an archival node (`neard --archive`)

[2020-08-17 06:08] leor-w commented on #3190
Thank you, I see, but I would like to have a archival node, which I see here.
https://docs.near.org/docs/interaction/rpc#block

[2020-08-17 06:35] SkidanovAlex commented on #3190
Sorry, I misread the issue, I was under an impression that it's your local node.
Yes, we should consider converting our RPC nodes to archival, thanks for bringing it up.

[2020-08-17 06:41] leor-w commented on #3190
Thank you for your answer. I closed the question

[2020-08-17 06:41] #3190 closed

[2020-08-17 10:03] Kouprin commented on #3180
CC @birchmd.

[2020-08-17 20:40] SkidanovAlex commented on #3136
The failure is commented out, and the test passes in nayduck, but keeping the task open until the test is fixed properly.

[2020-08-17 20:41] #3131 closed

[2020-08-17 20:56] frol commented on #3179
We should not break the existing API, so I see two ways to handle this:

1. Respond with two fields (`result` and `result_base64`)
2. Extend the query API (we have the extended version of `query` API where we can now easily add new parameters), so user can request the encoding (bytes or base64 string), this way the deprecated API (`query call/...`) will not be touched in any way.

[2020-08-17 21:11] frol commented on #3184
We use nightly tests (see `/pytest/tests/sanity/rpc_*.py`) to implement such tests. Essentially, the current pytest suite implements the regression tests through JSON RPC, so it is not immediately clear what we as an RPC team can do better on this front. Feel free to re-open.

[2020-08-17 21:12] nearmax commented on #3184
Are the current tests exhaustive, i.e. do they cover all error responses?

[2020-08-17 21:27] frol commented on #3186
Plan
====

* [ ] Configure the test suite:
  a. Run `rosetta-cli check:construction` (configure `rosetta.cfg` with some scenarios)
  b. Run `rosetta-cli check:data` in parallel with `rosetta-cli check:construction`
* [ ] Add compilation of nearcore with the `rosetta_rpc` feature flag enabled and include the test suite execution to our CI setup

[2020-08-17 21:30] frol commented on #3184
They don't cover all error responses. It is blocked by #2536

[2020-08-17 22:27] SkidanovAlex opened #3201 "Move expensive computation related to state sync / catch up into a separate actor"
Today calls to `combine_state_parts` take up to 20 seconds blocking `ClientActor`.
Similarly, calling to `catchup_blocks` can take a lot of time, since it in a single blocking call applies all the blocks downloaded while state for the next epoch had been downloading.

We want to move these two methods (or their callers) into a separate actor, so that neither blocks operation of the current epoch.

[2020-08-18 00:55] SkidanovAlex opened #3202 "stress.py with node_restart and packets_drop appears to stall block production"
E.g. see the bottom five runs here:

[http://nayduck.eastus.cloudapp.azure.com:3000/#/run/138](http://nayduck.eastus.cloudapp.azure.com:3000/#/run/138)

I believe it might be related to the fact that when nodes restart with proxy enabled, they take longer time to realize the peer is gone, and thus then fail to respond to a handshake (it is seen in the logs). While they end up establishing the conn

[2020-08-18 02:17] #3050 closed

[2020-08-18 02:17] SkidanovAlex commented on #3050
The `local_network` mode is moderately stable in master now, closing this issue

[2020-08-18 09:11] pmnoxx commented on #3201
@SkidanovAlex Thanks, I'll take a look

[2020-08-18 09:13] pmnoxx commented on #3014
the fix got merged, I'll close this issue

[2020-08-18 09:13] #3014 closed

[2020-08-18 09:15] pmnoxx commented on #3113
@SkidanovAlex Does https://github.com/nearprotocol/nearcore/pull/3089 solve this issue?

[2020-08-18 10:40] olonho commented on #2779
Fixed by upgrade to 0.17.1.

[2020-08-18 10:40] #2779 closed

[2020-08-18 10:41] olonho commented on #2815
As discussed, we likely need to somewhat reconsider scope of this issue.

[2020-08-18 10:42] olonho commented on #2501
@nearmax do you believe it is still relevant?

[2020-08-18 10:48] olonho commented on #3041
Think most important problem we have is proper definition of the fees. I.e. how individual cost to be counted, and here we need consensus. For example, the meaning of the receipt creating (new_receipt) is rather convoluted aggregated cost of several operations, and it's not entirely clear why those operations are accounted this way. So I'd suggest to start effort on cost definition review to be pe

[2020-08-18 10:51] olonho commented on #3071
Think it is to be done after https://github.com/nearprotocol/nearcore/pull/3038 is merged.

[2020-08-18 11:00] nearmax opened #3206 "LightClient RPC returns unfinalized blocks"
I ran rainbow-bridge on our current TestNet and observed that LightClient RPC returns unfinalized blocks which are promptly getting rejected by the contracts. Unfortunately, it returns unfinalized blocks in large amounts sequentially which makes it sometimes unusable.

Observe the test added by https://github.com/near/rainbow-bridge/pull/275 that contains the responses from the LightClient RPC. Yo

[2020-08-18 11:00] nearmax commented on #3206
CC @Kouprin , @ailisp

[2020-08-18 11:09] olonho commented on #3075
Actually SSD requirement is an optional one, it shall not affect correctness, only performance. AVX now is checked automatically, and we are planning to eventually eliminate it as a hard requirement using updated Wasm VM. Practically speaking our machine requirements include:

  * x86-64 machine (with AVX support currently)
  * Linux operating system. @bowenwang1996 which version of Linux do we us

[2020-08-18 11:14] olonho commented on #3194
Note, that if we hit OS caches, it's not really important, as we count instructions, not wall time. What's important, is to not run from DB caches. Probably just explicitly disable those when estimating would be the best choice.

[2020-08-18 11:17] olonho commented on #3093
Agree, having `neard` standalone mode with REST interface seems to be the best. We need to decide on how we'd better emulate rest of the blockchain, shall we be able to snapshot the actual state of the chain and be able to rune node on it. To me it seems rather natural approach, which would simplify testing and debugging.

[2020-08-18 11:27] olonho commented on #3094
As mentioned in https://github.com/nearprotocol/nearcore/issues/3041#issuecomment-675407067 we *do* need proper definition of what meaning we expect from every individual fee, especially actions ones. Definition better be present in form of *probes:, inserted in proper places of the estimator code. @nearmax @evgenykuzyakov could you please cooperate here?

[2020-08-18 17:18] bowenwang1996 commented on #3206
How did you see this? A block cannot be produced if there is less than 67% approval

[2020-08-18 17:19] bowenwang1996 commented on #3075
while SSD doesn't affect correctness, if a node does not use SSD it cannot keep up with the network and therefore I consider it to be required.

[2020-08-18 17:28] mfornet commented on #2932
Tracking timeout issue in #3130

[2020-08-18 17:28] #2932 closed

[2020-08-18 17:38] mfornet opened #3207 "chunks_recovered_from_full_timeout_too_short is flaky"
`chunks_recovered_from_full_timeout_too_short` fails (to fail) some times in CI ([example](https://buildkite.com/nearprotocol/nearcore/builds/3085#958e5f96-cea6-4082-81c7-43f97228b2e8)). Locally if I run all tests within `chunks_management` this particular test fails some times, and when run it in isolation it always passes.

[2020-08-18 17:38] mfornet commented on #3207
I see it was fixed in #3182

Will reopen if I see this again.

[2020-08-18 17:38] #3207 closed

[2020-08-18 17:45] jimmy3dita commented on #3187
Is this a long-term requirement, or is needed by now to provide additional stability?

[2020-08-18 17:51] jimmy3dita commented on #3194
I'm happy to put you directly in contact with some of NEAR validators, to discuss with them these issues

[2020-08-18 18:33] evgenykuzyakov commented on #3193
Can you point me to the issue?

[2020-08-18 21:31] nearmax commented on #3206
Bridge has literally received a light client header with <60% approving stake from the node. See the attached PR it has commented out test with dumped light client header.

[2020-08-18 21:47] SkidanovAlex commented on #3206
Which particular block has less than 60% stake?

[2020-08-18 21:57] SkidanovAlex commented on #3206
Can confirm that the block at the height ending with 218 in there appears to have less than 60% of stake, investigating further.

[2020-08-18 22:11] SkidanovAlex commented on #3206
@nearmax how is the file `libs-sol/nearbridge/test/init_validators_12640118.json` computed? It appears to be in a format different than `next_bps`. Is it just an output of validators RPC request?

[2020-08-18 22:13] nearmax commented on #3206
Yes, we compute it here: https://github.com/near/rainbow-bridge/blob/master/environment/lib/near2eth-relay.js#L71

[2020-08-18 22:19] nearmax commented on #3206
Here is the full logs dump from `near-relay` service: https://drive.google.com/file/d/1v3tbqrqAQ2hHDfgHGax5VoeqvChBF9HA/view?usp=sharing

[2020-08-18 22:40] damons commented on #2381
Are we going to do what the description suggests?  i.e., Are we spinning up 100 validating nodes, loading up with 100tps, etc.?  If so, when is this happening?

[2020-08-18 23:06] nearmax commented on #3206
It actually looks worse than I thought the testnet node was sending bad light client headers between 2020-08-18 20:01:17.246 and 2020-08-18 11:48:23.748 -- for 8 hours!

[2020-08-18 23:12] SkidanovAlex commented on #3206
Is it correct to say that the test relies on the `validators` endpoint to return the block producers in the same order as the `next_bps`?
If yes, there's no such guarantee.

[2020-08-18 23:16] ailisp commented on #3206
Yes

[2020-08-18 23:22] SkidanovAlex commented on #3206
As I said, there's no such guarantee. So likely that is what is causing it.
We should always use block producers from `next_bps` of the previous epoch.
The only question is how to fetch the very first (genesis) set of block producers. Given `validators` don't give the correct order, I'm not sure we have such a way, so we need to add it.

We should either make the RPC end point return in the same o

[2020-08-18 23:24] ailisp commented on #3206
This would cause near2eth-relay wait one epoch to initialize (to get next_bps of last epoch), so it's not ideal

Will be great if we can do that

[2020-08-19 03:25] bowenwang1996 commented on #2381
We are running mocknet with 50 validators and loading it with much higher tps (500). We can change to 100 nodes if needed.

[2020-08-19 03:27] bowenwang1996 commented on #3206
The new rpc is introduced in https://github.com/nearprotocol/nearcore/pull/3213. It returns validators in the current epoch.

[2020-08-19 04:08] nearmax commented on #3206
@SkidanovAlex thank you for debugging it and thank you @bowenwang1996 for implementing it. I am assigning it to @ailisp since it is a bridge issue. Unfortunately I cannot transfer it to bridge repo.

[2020-08-19 05:52] #3140 closed

[2020-08-19 17:24] nearmax commented on #3162
@bowenwang1996 Just mentioned that because there is no node in the testnet that has all blocks from the genesis we will be doing a hardfork. This demonstrates how important this functionality is. We don't want to be doing another hardfork in the future if somehow we lose the nodes that have all the blocks from the genesis. Therefore I am raising this priority to P1.

[2020-08-19 22:37] ailisp commented on #3206
Looks @Kouprin have a wip PR https://github.com/near/rainbow-bridge/pull/279

[2020-08-20 00:52] nearmax opened #3216 "ED25519 Specification"
There is a lot of ambiguity on what ED25519 specification is. NEAR Protocol implements ED25519 in a specific way which is not the same as how many cryptographic libraries do. We need to write a detailed not ambiguous on what ED25519 specification NEAR uses and how it is different from other versions. We also need to compare it to the proposed Ethereum implementation and whether it is compatible: h

[2020-08-20 00:53] nearmax commented on #3206
Closing it, since it is an issue of the bridge.

[2020-08-20 00:53] #3206 closed

[2020-08-20 05:36] mikhailOK opened #3217 "Improve db migration test"
`pytest/tests/sanity/db_migrtation.py`: the test produces some empty blocks, restarts with upgraded binary and produces more empty blocks. We should send some transactions too, otherwise we're not testing some columns

[2020-08-20 19:05] mikhailOK commented on #3217
Features that still need to be tested:
- upgrading from not just the oldest version (version 6->7 has logic that's only relevant if 6 ran and wrote something)
- having some cross-shard transactions
- running store-validator at the end

[2020-08-21 01:26] bowenwang1996 opened #3220 "lightclient.py is flaky"
lightclient.py occasionally fails http://nayduck.eastus.cloudapp.azure.com:3000/run#/test_history/18902

[2020-08-21 01:38] bowenwang1996 opened #3222 "`run_handshake` is not updated after the handshake was updated"
See the results of recent runs here http://nayduck.eastus.cloudapp.azure.com:3000/run#/test_history/18918

[2020-08-21 01:52] #3169 closed

[2020-08-21 11:04] frol opened #3227 "Document Docker Deployment for Rosetta API"
It is related to #2738.

*   [https://www.rosetta-api.org/docs/automated_deployment.html#docker-deployment](https://www.rosetta-api.org/docs/automated_deployment.html#docker-deployment)
*   [https://www.rosetta-api.org/docs/node_deployment.html](https://www.rosetta-api.org/docs/node_deployment.html)

Our Dockerfile builds a local version of the project (`COPY` a local folder instead of fetching th

[2020-08-21 14:28] chefsale opened #3228 "Ability to revert a commit without owners permission"
Currently we depend on @bowenwang1996 and @SkidanovAlex to get a revert into master which breaks the canary and we have to wait until we can verify this is fixing master.

[2020-08-21 15:11] bowenwang1996 opened #3229 "Ensure that an archival node can sync all the blocks"
We should test on a live network to make sure that an archival node can sync all the blocks after #3168 is released.

[2020-08-21 15:54] #3228 closed, assigned to SkidanovAlex, chefsale, mhalambek, bowenwang1996

[2020-08-21 21:00] nearmax opened #3231 "Increase RPC limit of contract deployment size"
Currently RPC prevents contract deployments of the size that it allowed by the runtime. We should increase this limit and make it configurable without code recompilation.

[2020-08-21 21:46] bowenwang1996 opened #3232 "Ability to revert database migration"
When we migrate database in some commit and the commit is later found out to be problematic, we need to not only revert the commit, but also revert the database migration for the node to continue operating. Otherwise we have to remove data folder and resync from scratch, which is substandard.

[2020-08-24 14:41] frol commented on #3231
@nearmax @evgenykuzyakov what is the runtime limit of contract size? The current RPC limit is 2MB of JSON data where contract is base64-encoded (which is 33% overhead), so given the metadata size in the payload and base64 encoding overhead, I estimate the current max contract size is ~1MB.

[2020-08-24 16:28] frol commented on #3177
Should this be transformed into an issue of adding an API for fetching Receipt status (execution outcome)?

[2020-08-24 18:40] olonho commented on #3187
It is medium term goal.

[2020-08-24 19:50] frol commented on #3051
Resolved in #3236

[2020-08-24 19:50] #3051 closed

[2020-08-24 20:29] #3137 closed

[2020-08-25 02:23] nearmax commented on #3187
We should try to enable it in the next 1-2 months, to ensure extra layer of safety.

[2020-08-25 07:36] olonho commented on #3194
Yeah, let's discuss it.

[2020-08-25 07:37] olonho commented on #3187
OK, will take a look on feasibility of this one.

[2020-08-25 07:38] olonho commented on #3075
Think if it can keep up with the network depends on multiple factors, and currently AFAIK we don't have enough data to confirm or deny this hypothesis.

[2020-08-25 11:14] #3231 closed

[2020-08-25 16:37] bowenwang1996 opened #3244 "Avoid unnecessary hash computation during block sync"
Currently on every iteration of block sync we would recompute the hashes of blocks that we need to sync. This is extremely slow when the number of blocks we need to sync is large and should be fixed.

[2020-08-25 17:27] bowenwang1996 commented on #3075
I did investigate this in the past. When we use HDD garbage collection became very slow because of storage read. Some read can take more than 100ms.

[2020-08-25 21:44] #3222 closed

[2020-08-25 23:34] #3135 closed

[2020-08-26 05:10] bowenwang1996 opened #3247 "investigate database migration failure"
During a migration from database version 6 to version 7 (which changes transaction and receipt refcounting), many nodes on betanet failed with number of transactions in `ColTransaction` not matching the number of refcounts in `ColTransactionRefCount`, which indicates an inconsistency in the storage. We should investigate such failure and prevent it from happening again.

[2020-08-26 19:27] nearmax opened #3249 "Move nearcore to near organization once there are no launches"
Once there is a period of relative stability and we don't have large launches we should move neracore repo from nearprotocol to near organization.

* @bowenwang1996  should make a decision when we migrate, therefore he is an assignee;
* Release team with @chefsale are responsible for the migration, fixing the CI, and updating the release scripts.

[2020-08-26 22:16] nearmax opened #3250 "[Epic] Create process for proposing Nearcore changes"
Currently, we are using the following process to propose the Nearcore changes:
* Someone submits NEP PR;
* Various Nearcore people review it at their convenience and have a discussion;
* At some point the discussion ends and it gets implemented.

There are the following issues with this approach:
* Too much information is figured out during the discussion, which is suboptimal in terms of time that

[2020-08-27 15:05] bowenwang1996 commented on #3250
Does this specifically refer to protocol changes? For other changes we don't need to go through NEP.

[2020-08-27 17:48] mikhailOK commented on #3247
Possible way it could happen: `decode_and_persist_encoded_chunk` in version 6 increments refcounts, but does not save transactions.
If that's the case,
- store validator should fail in validate::chunk_tx_exists
- there is a chunk with transactions not in storage
- there is no block with this chunk
Going to verify it from the repro dump

[2020-08-27 18:41] willemneal opened #3253 "[Feature] Improve cross contract/simulation testing experience"
Currently simulation testing requires a lot of boilerplate and the Bridge team has reported difficulties in writing tests. This aims to create a more general purpose testing environment that more closely resembles creating real transactions. Ideally the API should be close to one that could be used to interact with a ganache like node.

[2020-08-27 19:07] #3141 closed

[2020-08-27 20:59] nearmax commented on #3253
I would suggest to first focus on improving tests like this one: https://github.com/near/rainbow-token-connector/blob/master/bridge-token-factory/tests/token_transfer.rs#L131 and only later work on how to make the API close to the Ganache-like node.

[2020-08-27 23:18] bowenwang1996 commented on #2512
Happened on testnet again. The node is syncing has a sudden surge in memory usage and crashes due to oom

[2020-08-28 15:30] frol commented on #3156
Consider also fixing https://github.com/nearprotocol/nearcore/issues/1655 when you are implementing this.

[2020-08-28 17:48] bowenwang1996 opened #3256 "Request chunks from nonvalidator nodes"
We need to be able to request chunks from nonvalidator nodes for two reasons:

1.  Currently if a node wants to sync blocks that are already garbage collected by the validator nodes in the network, they will not be able to do so even if they have the block. The issue is that the node needs to request partial encoded chunks to process the block, and today we only request partial encoded chunks from

[2020-08-29 22:54] bowenwang1996 commented on #3244
Fixed in https://github.com/nearprotocol/nearcore/pull/3241

[2020-08-29 22:54] #3244 closed

[2020-08-30 16:54] bowenwang1996 commented on #3232
It is not always easy to do such reversion and we decide it's better to use tools to snapshot the storage before we run migration.

[2020-08-30 16:54] #3232 closed

[2020-08-30 19:09] #3167 closed

[2020-08-30 19:26] bowenwang1996 opened #3262 "Combine state parts should work when the state is large"
Currently in `confirm_state`, we assemble state parts all in memory, which becomes a problem when the state is large (15GB for example).

[2020-08-31 16:51] frol commented on #2738
Construction API is not implemented yet.

[2020-08-31 18:09] nearmax opened #3265 "Enable Inflation on Mainnet"
Our current Mainnet is running without inflation, but once transfers are enabled we need to enable it.

[2020-08-31 18:36] bowenwang1996 opened #3266 "Ability to shutdown neard cleanly"
Neard should shutdown cleanly. More specifically,
* SIGTERM and SIGINT should be enough to shutdown neard. One should not have to resort to SIGKILL to kill neard.
* When neard is killed, the database integrity should not be damaged. Currently we sometimes see DBNotFound errors after stopping and restarting a node.

[2020-08-31 18:58] bowenwang1996 opened #3268 "Option to enable next protocol version immediately"
@ilblackdragon proposed that we figure out a better way to test the latest protocol changes instead of going through the upgrade process. However, this should not interfere with our existing backward compatible protocol upgrades. To this purpose, I think we should do the following:
* Introduce constant `LASTEST_KNOWN_PROTOCOL_VERSION` that is separate from `PROTOCOL_VERSION`. This new constant ind

[2020-08-31 20:06] #2307 closed

[2020-08-31 20:06] #2596 closed

[2020-08-31 20:08] #2308 closed

[2020-08-31 20:10] #2916 closed

[2020-08-31 20:11] #2310 closed

[2020-08-31 20:12] #2311 closed

[2020-08-31 20:12] #2309 closed

[2020-08-31 20:12] #2553 closed

[2020-08-31 20:13] #3136 closed

[2020-08-31 20:38] bowenwang1996 opened #3269 "Limit memory usage on database migration"
We should be aware of the memory usage during database migration and try to set a reasonable limit. Dumping data from an entire column into memory may cause oom errors.

[2020-08-31 21:36] bowenwang1996 commented on #2755
Currently we see that under normal operation the node can consume more than 10GB of memory. We should start investigating its cause.

[2020-08-31 22:37] bowenwang1996 commented on #3125
looks like this is resolved.

[2020-08-31 22:37] #3125 closed

[2020-08-31 22:41] bowenwang1996 opened #3270 "Investigate rpc performance"
We should investigate rpc performance and stability. More specifically,
* For transactions, a rpc node should be able to handle at least several hundred request per second. This allows a single client to saturate blocks without the need to build a complex setup to send transactions.
* For known expensive calls, find a way to limit them so that they don't consume too much resources and potentially

[2020-08-31 22:41] bowenwang1996 commented on #2984
close in favor of #3270

[2020-08-31 22:41] #2984 closed

[2020-09-01 14:47] damons commented on #2755
This is a constant problem now on testnet:

Via Slack from Mario in Release Engineering:

[2020-09-01 15:18] chefsale commented on #2755
@pmnoxx @bowenwang1996 This can be most likely used to the profiling: https://github.com/gperftools/gperftools

[2020-09-01 15:21] nearmax commented on #3266
We need to use this new feature: https://github.com/rust-rocksdb/rust-rocksdb/pull/459
Kudos to @ailisp

[2020-09-02 17:58] bowenwang1996 opened #3273 "1.13.0-rc.1 tag builds 1.13.0-beta.1"
Steps to reproduce:
* Clone this repo and do `git checkout 1.13.0-rc.1`
* Run `cargo build -p neard`
* Check version by `neard --version`

[2020-09-02 18:03] chefsale commented on #3273
It looks like the automatoc version bump failed in the script, we have to manually bump it.

[2020-09-02 18:19] chefsale commented on #3273
The build was fine, just the tag was wrong

[2020-09-02 18:19] #3273 closed

[2020-09-02 19:49] bowenwang1996 opened #3274 "Limit transaction size"
Currently we have some limits on how large a valid transaction can be, but it is too relaxed. For example, a transaction that contains 100 actions each of which deploys a 4MB contract can make the transaction unnecessarily large whereas in reality it will definitely exceed gas limit. We should introduce a more reasonable limit to the size of transactions to roughly match the gas limit.

[2020-09-03 04:07] bowenwang1996 opened #3277 "gas price inconsistency during state sync"
When state sync is about to finish, we call `set_state_finalize` to apply the chunk in the prev block of sync block. However, when we apply the chunk, instead of using the gas price of the prev block, we use the gas price in the block that contains the chunk, which can cause the state to diverge after the chunk is applied.

[2020-09-03 05:02] #3277 closed

[2020-09-03 18:17] bowenwang1996 opened #3281 "Investigate potentially slowdowns in network code"
I observed two kinds of delays on testnet in the network module:

1\. When we process routed messages [https://github.com/nearprotocol/nearcore/blob/a480d6eb3d9c6542100efdc6364eb89daac69383/chain/network/src/peer_manager.rs#L1597](https://github.com/nearprotocol/nearcore/blob/a480d6eb3d9c6542100efdc6364eb89daac69383/chain/network/src/peer_manager.rs#L1597)
 Example:
[code]
 It appears that this mi

[2020-09-03 18:49] nearmax opened #3282 "Do not run all compilation features in tests"
Currently our CI tests assume that if we enable all features the code will work correctly. This have been the case mostly because we were very conservative with adding compilation features (because they are difficult to maintain) and we made sure for some features that at least one of them is enabled, and if both of them are enabled then only one is used https://github.com/nearprotocol/nearcore/bl

[2020-09-03 18:58] bowenwang1996 opened #3283 "Handshake breaks backward compatibility"
This line https://github.com/nearprotocol/nearcore/blob/3652a0901a280b9b5da3ccde920c1fd7557c7732/chain/network/src/peer.rs#L683 breaks backward compatibility because nodes with newer version will not be able to connect to nodes with even one version older.

[2020-09-03 19:08] birchmd opened #3284 "Bound size of `TransactionPool` in memory"
Presently transactions are simply stored in a `BTreeMap` in memory, however, if we receive too many transactions too quickly, then this could grow over time, especially if the transactions are large.

[2020-09-03 20:15] SkidanovAlex commented on #3283
When we upgrade to HandhakeV2, we should make old Handshake message to include the oldest supported version, not the current version. This will allow connecting to the old peers.
CC @mfornet

[2020-09-03 20:35] mfornet commented on #3283
@bowenwang1996 The workflow is as following:

There are two nodes,  A with version=4 and oldest_supported_version=3 and B with version=3.
- A initiates a handshake to B and let B knows it is using version 4.

- Since version 4 is newer and unknown to B, then B respond to A with:

[code]

- A learns that B is using version=3, and starts serializing and deserializing all messages to B with version=3

[2020-09-04 00:31] bowenwang1996 commented on #3282
@chefsale @mhalambek can you look into this?

[2020-09-04 00:36] bowenwang1996 commented on #3283
So we agreed to address this in the following way:
* Merge #3157. This will allow nodes to recognize older versions in the next release. Since both betanet and testnet already contains #3016, this will work fine.
* For mainnet, we need to do a two-step upgrade. First we need to upgrade nodes to a version that contains #3016. After that is done, we do a second upgrade to a newer version that contai

[2020-09-04 02:39] bowenwang1996 commented on #3229
Superseded by #3256 since now archival node will automatically try to sync all blocks.

[2020-09-04 02:39] #3229 closed

[2020-09-04 02:42] bowenwang1996 commented on #2312
@chefsale @mhalambek do you think this is worth investigating?

[2020-09-04 02:43] bowenwang1996 commented on #2325
@chefsale @mhalambek we should start looking into cpu profiling.

[2020-09-04 02:44] bowenwang1996 commented on #2134
The part that is still relevant is tracked in https://github.com/nearprotocol/near-ops/issues/136.

[2020-09-04 02:44] #2134 closed

[2020-09-04 02:49] bowenwang1996 commented on #2486
This is no longer needed since hard forks will happen only very rarely.

[2020-09-04 02:49] #2486 closed

[2020-09-04 02:51] bowenwang1996 commented on #2753
Superseded by #3111, #3112, and #3116

[2020-09-04 02:51] #2753 closed

[2020-09-04 02:52] bowenwang1996 commented on #2436
@evgenykuzyakov this is done right?

[2020-09-04 14:29] bowenwang1996 opened #3285 "Upgradability test uses the wrong branch"
`upgradable.py` still uses `beta` branch as the "stable" branch, but we have already deprecated beta and stable branch and we should use the branch that current testnet uses as the branch for testing. The branch can change dynamically, so we should use the same logic that the release script uses to find the correct branch.

[2020-09-04 17:43] mikhailOK commented on #3247
- There are two transactions in ColTransactionRefCount that are not in ColTransactions
- Both these transactions are in one chunk with `height_created and height_included: 11603776`
- **There is a block in storage with this chunk included**
- Chain head is at height `12388051`

store-validator actually has the check disabled because it's a known bug: #2930
Investigating why this happens

[2020-09-04 17:44] bowenwang1996 opened #3286 "validator key generation is not supported in neard when chain_id is mainnet"
When `chain_id` is `mainnet`, neard does not generate validator key even if we pass in `--accout-id`,

[2020-09-04 18:50] bowenwang1996 opened #3288 "Upgradability issues"
There are a couple of suboptimalities in the current upgradability implementation:
* When there is no protocol version change in an epoch, we say that the new protocol version is the same as the protocol version in the current epoch. However, that poses a problem. Say in epoch X validators voted to upgrade protocol version to P+1, but this will not take effect until at least epoch X+2. Meanwhile,

[2020-09-04 20:31] mikhailOK commented on #3247
pre-migration storage writes to `ColTransactions` only in `apply_chunks`, and only when `care_about_shard && chunk_header.height_included == block.header().height()`.
Writing to `ColTransactionRefCount` happens for all chunks saved by `save_chunk`, so seems like `save_chunk` could happen without `apply_chunks called && conditions met`.

In the dump the node has no blocks between `11592636` and `11

[2020-09-04 21:10] mfornet opened #3289 "Ensure Upgradability Process"
The goal of this design is keep each pair of consecutive version compatible with each other

Most notable elements to take into account:

1. Which type of message each version is using in the function `send_handshake`
2. Which type of handshake is it able to deserialize.
3. What are the response to each type of handshake.

**Step 1**:

1. It is using old version of Handshake
2. It is able to deser

[2020-09-04 22:43] bowenwang1996 commented on #3289
Thanks for documenting this 🚀

[2020-09-05 02:53] bowenwang1996 commented on #3247
@mikhailOK thanks for investigating this. Notice that we don't necessarily apply every chunk we save. If, for example, there is some shard we don't care about and we receive enough chunk parts for some chunk in that shard, we will still decode and save the chunk.

[2020-09-06 19:16] #3286 closed

[2020-09-07 09:55] chefsale commented on #3285
Created a PR to fix this issue: https://buildkite.com/nearprotocol/nearcore/builds/3512

[2020-09-07 14:52] chefsale commented on #3285
Added to use rc instead of beta: https://github.com/nearprotocol/nearcore/pull/3296

[2020-09-08 00:37] bowenwang1996 commented on #3283
This is mostly resolved in #3157. The rest of the work is laid out in https://github.com/nearprotocol/nearcore/issues/3289

[2020-09-08 00:37] #3283 closed

[2020-09-08 09:30] #3285 closed

[2020-09-08 09:38] chefsale commented on #3075
Can we close this issue? cc: @bowenwang1996

[2020-09-08 17:52] alexandruast opened #3298 "High Availability Considerations"
Please note that this discussion is related to locally stored identities (files or pipes), and not HSM solutions.

We understand how important it is for the network to be online and lose as few blocks as possible.
 Being a NEAR validator in mainnet is both a rewarding and also a responsibility proposition.
 We developed a simple daemon, to be run with the validator (because we use docker, we defin

[2020-09-08 23:47] bowenwang1996 commented on #3298
Is there some concern or questions that you would like to see addressed? I cannot tell from the issue what the issue actually is.

[2020-09-09 05:38] alexandruast commented on #3298
The issue is that somehow it is expected for a service to be highly available, and this is clearly something that cannot be handled by the operator/infrastructure layer. Are there any plans for implementing KMS or RAFT?

[2020-09-09 14:47] Avadon opened #3300 "Thread main panicked at AVX support"
**Describe the bug**
Thread 'main' panicked at 'AVX support is required in order to run Wasmer VM Singlepass backend.', runtime/near-vm-runner/src/wasmer_runner.rs:196:9

**To Reproduce**
It was one time, so I couldn't find a pattern or a way to reproduce it

**Expected behavior**
Stable work of nearcore

**Screenshots**
![alt text](https://i.ibb.co/cQ7BYdq/Screen-Shot-2020-09-09-at-11-34-34.png "

[2020-09-09 15:30] olonho commented on #3300
Is it lscpu on the host or in container?

[2020-09-09 15:32] Avadon commented on #3300
Inside docker container. On the host machine:

[2020-09-09 16:38] olonho commented on #3300
Could you please upload the docker image somewhere?

[2020-09-09 16:39] Avadon commented on #3300
It's not a custom image, it's an official one - https://hub.docker.com/r/nearprotocol/nearup

[2020-09-09 16:55] olonho commented on #3300
And you always see this crash?

[2020-09-09 16:58] Avadon commented on #3300
Surprisingly it was just 1-2 times in today's morning. Since that everything runs smoothly.

[2020-09-09 17:19] olonho commented on #3300
Is it always the same machine/OS? Because check that fails checks rather basic CPU capability, and either here or not.

[2020-09-09 17:27] olonho commented on #3300
What command do you execute inside image?

[2020-09-09 17:41] Avadon commented on #3300
Yes, it's always the same.

nearup run betanet

[2020-09-09 18:49] #3265 closed

[2020-09-09 21:42] SkidanovAlex commented on #3298
@alexandruast individual validators going offline for some periods of time is handled gracefully on the protocol level.
In the worst case if the node went offline for too long, it will be kicked out, and will need to restake (and will lose two epocs worth of rewards).
There's no plans to build any high availability into nearcore.

[2020-09-10 18:02] frol opened #3305 "Expose execution outcomes of a given chunk via view-client"
**Describe the feature request**

NEAR Indexer needs to expose execution outcomes for every chunk, but there is no relevant interface to fetch the data.

**Expected behavior**

It would be great to have a view-client method to expose the execution outcomes. I don't think we should extend any of the existing view-client methods, but rather we should add a new one.

Where should I start or maybe som

[2020-09-10 19:49] #2843 closed

[2020-09-10 20:23] nearmax opened #3307 "Update light client spec"
While running bridge we have observed these two light headers from two consecutive epochs (`3Y2LeXHxrsYoXiNSs1YTLiir7XUyrXqCy5RZWVpMjj2f` and `F6Kte1BopdxesfLSx2C4qX5D2pfHJLK2tPwAfPBjW7yb`). Notice that the first header has 36 entries in `next_bps` indicating the validators of the next epoch. While the second header has 40 entries in `approvals_after_next` which should correspond to the same set o

[2020-09-10 20:38] nearmax commented on #3307
This caused failure of the bridge that was running in production: https://rinkeby.etherscan.io/tx/0x57013652303ebdf5bba8370e175ef8fb37f78a256bf07b9e3bac5d70ed5d2c43

[2020-09-10 20:47] SkidanovAlex commented on #3307
This is because the approvals on the epoch boundary contains several extra approvals from the blockproducers of the next epoch, which are not present in the current.

We can fix it in two ways:
1. Change the light client provers to be OK with the approvals having more entries than `next_bp`
2. Fix `nearcore` to truncate those extra approvals

I am in favor of (1), because for some other use cases

[2020-09-10 20:51] nearmax commented on #3307
Are the extract approvals at the end of the list?

[2020-09-10 20:54] SkidanovAlex commented on #3307
Yes, the first 36 will always correspond to the `next_bps` from the previous epoch, in exactly the same order. The approvals from the extra BPs are always at the end (see `get_all_block_approvers_ordered`)

[2020-09-10 21:12] nearmax commented on #3307
@SkidanovAlex @bowenwang1996 Could we please update the spec?

[2020-09-11 06:37] frol commented on #3305
The implementation only exposes the execution outcomes for "Incoming Receipts" that were processed and included into the chunk.receipts, but there are "local receipts", which are never recorded as chunk.receipts, and they are, essentially, ephemeral though they still have execution outcomes. @evgenykuzyakov and @nearmax suggested that instead of querying execution outcomes one by one, we can extra

[2020-09-11 14:41] bowenwang1996 commented on #3305
Sorry for misunderstanding what you wanted. I'll try to fix it today.

[2020-09-11 16:33] #3247 closed

[2020-09-12 00:23] mikhailOK commented on #3138
What the test is doing:
1. start node0 and node1, wait for 30 blocks
2. stop node0 and node1, clear data of node1
3. restart node1 and set `adv_disable_header_sync`
4. restart node0
5. Use `adv_produce_blocks` on node1, producing 10 blocks from current head
6. verify that node0 did not save those blocks

The test expects that node1 does not not sync, and produces 10 blocks from genesis to height ~

[2020-09-12 02:43] SkidanovAlex commented on #3138
The first way should be OK, I don't think there's any reason for the current order of those two operations

[2020-09-13 17:20] bowenwang1996 commented on #3269
Done in #3303

[2020-09-13 17:20] #3269 closed

[2020-09-13 17:42] bowenwang1996 opened #3313 "Use `protocol_upgrade_num_epochs` for protocol upgrades"
Today we do not use `protocol_upgrade_num_epochs` for protocol upgrades and this means that there is only one epoch time between when the new protocol version is voted and when it is instantiated. We should support `protocol_upgrade_num_epochs` in the future to give more time for validators to react to the upcoming upgrade.

[2020-09-13 17:43] bowenwang1996 commented on #3288
Discussed with @SkidanovAlex. We are not going to make the change that uses `protocol_upgrade_num_epochs` in the short term. Created #3313 to track this.

The first item is fixed in #3297.

[2020-09-13 17:43] #3288 closed

[2020-09-13 17:54] bowenwang1996 opened #3314 "Do not keep genesis records in memory"
Now that https://github.com/near/near-explorer/issues/393 is closed, we can stop holding genesis records (which can be several gigabytes large) in memory to lower memory usage.

[2020-09-14 09:06] haiheipijuan opened #3315 "exchange integrated"
NEAR’s account design is not friendly enough for exchange access. Is there any document describing how the exchange integrated?

[2020-09-14 14:33] bowenwang1996 commented on #3315
Please check out https://docs.near.org/docs/roles/integrator/exchange-integration and regarding implicit account creation, https://github.com/nearprotocol/NEPs/pull/71/

[2020-09-14 14:38] bowenwang1996 commented on #3315
Also for documentation request, please open issues on https://github.com/near/docs

[2020-09-14 14:38] #3315 closed

[2020-09-14 16:16] bowenwang1996 opened #3318 "upgradable.py should be runnable on mac"
Current `upgradable.py` cannot be run on mac because it tries to pull pre-compiled binary for the rc release and there is none for mac. We should fall back to compile the branch when pulling the binary failed.

[2020-09-14 21:32] gaia commented on #2834
Version/Build is already available via `echo -n "Remote " && curl -s https://rpc.testnet.near.org/status | jq -r .version.build && echo -n "Local " && curl -s http://localhost:3030/status | jq -r .version.build`? What else would you like to see?

[2020-09-15 00:38] mikhailOK opened #3322 "malicious_chain.py and adv_produce_blocks"
`malicious_chain.py` without `valid_blocks_only` mode always passes:
The test calls `adv_produce_blocks` on `test1`, which always makes the node crash, and then checks that `test0` does not switch to the wrong chain and passes.

Calling `adv_produce_blocks` with `valid_blocks_only=false` is just another way to write `node.kill()`.
`valid_blocks_only` mode works fine.
example: http://nayduck.eastus

[2020-09-15 03:01] #3138 closed

[2020-09-15 17:29] #3305 closed

[2020-09-15 23:08] bowenwang1996 commented on #3268
The origin proposal doesn't quite work because if between 1/3 and 2/3 of nodes stop on one height while the others stop on a different height and the protocol changes the network may stall since some nodes will reject blocks coming from other nodes that were produced under the old protocol.
Discussed with @SkidanovAlex and we agreed on the following approach: have a special flag that, once enabled

[2020-09-16 18:09] #3110 closed

[2020-09-16 21:47] #3314 closed

[2020-09-16 23:00] nearmax opened #3323 "Detailed spec of `Genesis::total_supply`"
As mentioned by @ilblackdragon here https://github.com/nearprotocol/nearcore/pull/3257#discussion_r484551300 `Genesis::total_supply` has not well-defined properties, for instance it is hard to understand why account are not included, and why the amount increased with EVM. We need to have an exhaustive explanation of what this quantity represents. Currently https://nomicon.io/GenesisConfig/GenesisC

[2020-09-17 00:17] nearmax opened #3325 "Design EVM challenges"
Before we release a stable version of the native EVM we need to make sure that the design allows implementation of challenges. We need to design exactly how EVM challenges will look like for all EVM operations. Note, some challenges might be tricky to implement, if we use state iteration anywhere the challenge for state iterator is not trivial to design.

[2020-09-17 00:22] ilblackdragon commented on #3325
EVM doesn't have any state iteration.
The only state iteration is done for removing subtree in state, via the same operation we use for deleting account.
Whatever we are using for account deletion - we can leverage there.

[2020-09-17 00:23] nearmax commented on #3325
Okay, let's consider this superseded by https://github.com/nearprotocol/nearcore/issues/2445 We take @ilblackdragon 's comment as a guarantee that they are enable-able.

[2020-09-17 00:23] #3325 closed

[2020-09-17 00:56] nearmax opened #3326 "[Interface cleanup, Discussion] DeterministicError marker trait"
# Motivation

Our current runtime error hierarchy is extremely complex, unfortunately we have to differentiate several kinds of errors:
* Deterministic and non-deterministic errors. Deterministic errors are caused during transaction execution and in most cases result of user executing an invalid transaction.
* Transient and persistent non-deterministic errors. Transient errors go away when the ope

[2020-09-17 10:10] frol commented on #3326
FYI, negative bounds are not available in Rust (those `!Sync` and `!Send` are special cases)

[2020-09-18 15:03] #3075 closed

[2020-09-18 15:06] chefsale commented on #3318
Possibly my PR on fixing the branch broke this.

[2020-09-18 15:11] chefsale commented on #3249
Lets make an announcement two weeks ahead and give time to validators to upgrade, also we should create a list of files which have to be changed. As well, we have to check all the documentation once this happens. cc: @bowenwang1996 @jimmy3dita

[2020-09-18 15:16] chefsale commented on #2482
So, we have to make sure that the generated config is actually supported by the node before running the tests.

[2020-09-18 15:16] #2312 closed

[2020-09-18 15:21] chefsale commented on #2444
Currently we run all the tests with master, the concern with adding stable could cause compatibility issues. Have to have a chat with @bowenwang1996 how to approach this.

[2020-09-18 16:57] ngmiller commented on #3318
It does appear that we are generating `Darwin` binaries, which are for mac
[code]

[2020-09-18 17:05] ngmiller opened #3328 "neard init does not support --home"
Running `neard` on latest master branch shows `--home` as a valid flag, but `neard init` does not. My assumption is this would cause an issue for a user running `neard init` (which puts configuration in `~/.near`) who also wants to keep network data separate, i.e. `~/.near/betanet` or `~/.near/testnet`

[2020-09-18 17:20] ngmiller commented on #3328
Nevermind, I got this to work with

[code]

[2020-09-18 17:20] #3328 closed

[2020-09-18 17:21] willemneal commented on #3122
Looking into this the following is what the gas metering code injects for every memory call instruction

[code]

Which multiplies the config cost `1` times the number of pages grown. each page is 64Kib.  Thus currently it would cost 1000 pages to double the memory allocation, and more if we reduce starting memory to 2MB.

Question is how do we measure the cost of additional pages? @olonho Does qem

[2020-09-18 19:14] nearmax opened #3329 "Adjust the fees for new hardware requirements"
We have bumped hardware requirements for our validators: https://docs.near.org/docs/roles/validator/hardware#machine-specifications

This does not change how many CPU instructions each runtime operation takes, however it might change how many CPU instructions fit into 1 second of computation.  As the result all fees need to be rescaled proportionally.

Assigning to @olonho to triage and reassign t

[2020-09-18 20:33] #2738 closed

[2020-09-18 20:36] ailisp commented on #2784
Why this is closed? without build near binary in an earlier Mac, people with mac 10.13 or 10.14 will not able to run official build binary

[2020-09-19 01:12] nearmax opened #3332 "Rosetta Maintenance Ticket 21.09.2020-02.10.2020"
This is a tracking issue for accounting of the time spent on communicating with Rosetta developers during 21.09.2020-02.10.2020 time period. This includes engineering help and design iterations.

[2020-09-19 01:23] nearmax commented on #2976
Assigning 1 day since I assume the merging of the PR is blocked by near-api-js support.

[2020-09-19 01:38] nearmax commented on #3012
This is irrelevant now, since we are launching without new fees.

[2020-09-19 01:38] #3012 closed

[2020-09-19 01:58] nearmax opened #3333 "Debug on-disk compilation cache failure"
@olonho has introduced compilation of the contracts during their deployment together with storing compiled contracts a file. However, the part where we store it on disk makes the CI fail. This needs investigation. See https://github.com/nearprotocol/nearcore/pull/3310/files

[2020-09-19 02:08] nearmax opened #3334 "Thread store into runtime for on-disk compilation"
In #3333 @olonho introduces compilation of the contract during its deployment. However, he still uses local file for storage. Instead we should be using a column in rocksdb. Unfortunately, runtime does not have direct access to the storage (only to the state). We need to thread storage into runtime. One of the options would be to pass https://github.com/nearprotocol/nearcore/blob/master/neard/src/

[2020-09-19 02:10] nearmax opened #3335 "Connect on-disk cache to compilation"
Once #3333 and #3334 are working we need to connect the on-disk storage to be used for storing compiled contracts.

[2020-09-19 02:26] nearmax commented on #3326
Closing then.

[2020-09-19 02:26] #3326 closed

[2020-09-19 02:28] nearmax commented on #1510
Dynamic pricing is incorporated into design by counting touched nodes.

[2020-09-19 02:28] #1510 closed

[2020-09-19 02:39] nearmax opened #3336 "Research including disk cost into param estimator tool"
Currently, param estimator tool only counts the number of userland CPU instructions for estimation of operation fees. It however, does not account for the cost of reading from the disk. We need to research different ways for on how we can account for it. This issue tracks only the research part and does not track the implementation part.

[2020-09-19 06:26] chefsale commented on #2784
Because we haven't build a mac binary in months.

[2020-09-19 06:26] #2784 closed

[2020-09-20 00:09] bowenwang1996 commented on #3166
@mfornet it's still flaky http://nayduck.eastus.cloudapp.azure.com:3000/run#/test_history/31765

[2020-09-20 22:33] nearmax opened #3337 "[Tracking issue] Review Native EVM Implementation"
Review of the native EVM implementation takes time and effort from multiple people. Specifically, the following two PRs need to be reviewed b @nearmax and @evgenykuzyakov : #3299 and #3257

It will take approximately 3 days from 2 people to review, plus some extra time in case @abacabadabacaba finds time to review it. Therefore setting estimate to 8.

CC @ilblackdragon

[2020-09-20 22:36] nearmax opened #3338 "Implement meta-transactions flow in EVM"
As explained here: https://github.com/nearprotocol/NEPs/pull/106#issuecomment-691337854 we want to support meta-transactions in our EVM. @ilblackdragon estimated that it will take 4 days to implement.

[2020-09-20 22:43] nearmax opened #3339 "[Tracking issue] Implement calling NEAR from EVM"
As discussed here: https://github.com/nearprotocol/NEPs/pull/106#issuecomment-686808411 and allegedly already prototyped by @ilblackdragon , we need a way for EVM contacts to be able to call NEAR contracts. Since design has been already discussed it is a matter of implementation and @ilblackdragon estimates it to take 2 days.

[2020-09-20 22:53] nearmax opened #3340 "Investigate adding more tests to EVM and add low-hanging fruits"
We need to research tests that we could add to EVM to make sure it is compatible with standard EVM implementation. @ailisp estimated that it would take 0.5 day to research what tests we should add (e.g. Ethereum test suite) and about 1 day to add low-hanging fruits that he thinks we might have. Assigning 2 days to this issue.

[2020-09-20 22:58] nearmax opened #3341 "Investigate whether we need to update EVM crate"
Currently, we are using outdated EVM crate, however to update it we need to fork many of its dependencies. We need to investigate whether we actually need to update it first. We need to investigate whether there are important contracts that we need to support in the early days that use functionality not available in the outdated EVM crate. Specifically, some pairing functions might not be availabl

[2020-09-20 23:00] nearmax opened #3342 "Review values of EVM fees"
https://github.com/nearprotocol/nearcore/pull/3299 integrates EVM with gas estimator, however, we still need to review whether the values were computed correctly and have several people agree on them. @evgenykuzyakov estimated to spend 1 day on reviewing the fees.

[2020-09-20 23:16] bowenwang1996 opened #3343 "Final state should be consistent"
Consider the following scenario
[code]
When a node finish processing block `h+1` on top of `h`, the final block is `h-1`. However, if, at this point, block `h+2` arrives and is accepted, the last final block becomes `h-2` and will not change at least until `h+4` is accepted. This becomes a problem for someone who tracks the final state. If there is a transaction that sends 1M tokens from alice to

[2020-09-20 23:58] nearmax opened #3347 "[Tracking issue] Merge into master automatic forwarding of parts"
https://github.com/nearprotocol/nearcore/tree/post-phase-1 implements automatic forwarding of parts. Unfortunately, this branch wasn't merged into master for quite some time and gone stale. @birchmd estimated that it will take about 3 days to merge it.

[2020-09-21 00:09] nearmax opened #3348 "Research improvements to the fix 3317"
https://github.com/nearprotocol/nearcore/pull/3317 Separates deserialization of network messages from each other. Previously deserialization of transactions would steal resources from deserialization of other important things. This PR has placed deserialization associated with each peer into a separate actor. However, it is a partial solution. Potentially, we might want to have a separate actor fo

[2020-09-21 00:23] nearmax opened #3349 "[Tracking issue] GHSA-38x6-48jm-cx7j"
This issue tracks fix for https://github.com/nearprotocol/nearcore/security/advisories/GHSA-38x6-48jm-cx7j security advisory. It is separate from advisory so that it can be included into a Milestone and Zenhub.

[2020-09-21 00:25] nearmax opened #3350 "[Tracking issue] GHSA-qgwh-g5gr-8mxg"
This is a tracking issue for https://github.com/nearprotocol/nearcore/security/advisories/GHSA-qgwh-g5gr-8mxg . It is a separate issue so that we can add it to Milestones and Zenhub.

[2020-09-21 01:24] nearmax commented on #3130
According to @mfornet the solution is to move it to MockNet.

[2020-09-21 01:25] nearmax commented on #3289
Converting it from discussion and renaming it. The remaining work for @mfornet is to monitor that the upgrades are done as described above.

[2020-09-21 01:45] nearmax opened #3351 "Test syncing from archival nodes"
@SkidanovAlex has implemented synching from archival nodes in https://github.com/nearprotocol/nearcore/pull/3302. @bowenwang1996 suggested that he needs to manually test it to see if the full history can indeed be synced. If it cannot then we need to identify the blockers.

[2020-09-21 01:47] nearmax commented on #3249
@bowenwang1996 suggests that he would need to work with @chefsale and @jimmy3dita on it.

[2020-09-21 01:50] nearmax opened #3352 "Establish security advisory process"
Some members of Mainnet Guild identified that we lack well-defined process on how we create and fix security advisory features, and how we communicate and coordinate these non-public changes with the validators. @bowenwang1996 suggested that he needs to work on defining this process together with @jimmy3dita .

[2020-09-21 01:54] nearmax opened #3353 "Coordinate the Testnet hardfork after Rainbow Bridge hackathon"
In the current Testnet, some blocks are entirely missing from the storage of every validator. However, partners that user Rosetta would like to be able to re-validate all blocks from the genesis to ensure consistency of the balances (CC @frol ). Unfortunately, since blocks are not recoverable it is not possible, so we need to hardfork Testnet to rebase the genesis. Unfortunately, we don't want to

[2020-09-21 01:56] nearmax opened #3354 "Tracking ticket to coordinating Mainnet Releases"
This is a tracking issue to account for time spent on coordinating Mainnet releases during 21.09-02.10 cycle. There are two important work items:
- [ ] Roll out the release that contains implicit account creation to unblock partner integration.
- [ ] Prepare the release that enables inflation when the voting for phase 2 is done.

[2020-09-21 04:00] nearmax commented on #3196
@bowenwang1996 @mikhailOK Is this done?

[2020-09-21 04:05] maxzaver opened #3355 "Spec of Runtime fees"
Currently it is very difficult to understand from the Runtime code which operations correspond to which fees and how they are measured. This information is even harder to understand than the Runtime spec itself, because this information is implicit and scattered all over the code base. Contract runtime team would benefit greatly from having a spec that describes how certain fees are associated wit

[2020-09-21 04:10] nearmax opened #3356 "Create NEP that specifies how to upgrade to new fees"
With https://github.com/nearprotocol/nearcore/issues/3158 we are going to introduce invasive changes to the runtime that we might be rolling out in increments. Since the procedure might be quite complex we would benefit from having a NEP that describes in high detail how exactly the rollout is going to happen. This issue is tracking the work of writing this NEP. Specifically we need to cover the f

[2020-09-21 04:18] nearmax opened #3357 "Write Runtime Specification"
Our current Runtime implementation is quite complex, and it is getting increasingly more complex with addition of implicit accounts and native EVM. At the same time, other projects like Rosetta, Indexer, and Contract Runtime, require deep and precise understanding of internal functions of the runtime. Unfortunately, most of this knowledge is currently locked in @evgenykuzyakov and @nearmax 's head

[2020-09-21 14:40] chefsale commented on #3318
https://app.zenhub.com/workspaces/site-reliability-engineering-5f10314fb21679001345df96/issues/nearprotocol/near-ops/167

[2020-09-21 18:54] bowenwang1996 commented on #3130
Discussed with @mfornet. He will try again to fix the test within nayduck and if it fails, he will move it to mocknet. Updated the estimate according to the new plan.

[2020-09-21 19:00] bowenwang1996 opened #3359 "Investigate potentially flakiness during handshake"
As part of https://github.com/nearprotocol/nearcore/issues/3351, I tested syncing with archival nodes from #3302 and noticed that sometimes two nodes running the same commit cannot finish handshake due to handshake timeout. This issue tracks the investigation of the new handshake.

[2020-09-21 20:25] nearmax commented on #3158
Setting estimate to 5 -- how much time it is going to take in this cycle.

[2020-09-22 00:00] bowenwang1996 commented on #3353
Looks like this will not be done in this milestone given the hackathon duration. Removing it from this milestone.

[2020-09-22 00:23] bowenwang1996 commented on #3196
No

[2020-09-22 12:30] frol commented on #3353
@bowenwang1996 coordination (announcement and other preparations) should be done ahead of times, that is during the hackathon, shouldn’t it?

[2020-09-22 14:37] bowenwang1996 commented on #3353
That's fair

[2020-09-22 16:27] ailisp commented on #3334
Implement in #3331

[2020-09-22 17:36] mfornet commented on #3348
Also regarding #3317 we need a fix for the method [is_forward_tx](https://github.com/nearprotocol/nearcore/blob/master/chain/network/src/codec.rs#L87). The way it is implemented right now is too hacky and require manual intervention for some updates to the PeerMessage layout (for example the change introduced in  #3088).

It also makes much more complex handling several versions at the same time d

[2020-09-23 00:09] mfornet commented on #3359
@bowenwang1996 I tested locally several times with `tests/sanity/block_sync_archival.py` and handshake never failed. I'll test on different machines next. Is it possible that in the setup you see this nodes had large state, and they consumed large time initializing, affecting first few Handshake attempts?

[2020-09-23 03:41] bowenwang1996 commented on #3348
@mfornet Do you have any suggestions here regarding `is_forward_tx`?

[2020-09-23 03:42] bowenwang1996 commented on #3359
@mfornet did it reproduce with `start_from_genesis.py`?

[2020-09-23 04:13] mfornet commented on #3359
@bowenwang1996 I'm not sure this is the same issue as the one fixed in #3360. The problem fixed there wasn't handshake timeouts, but nodes incorrectly removing some of its peers from the active peer set, leading to constant unsuccessful handshake retry. `start_from_genesis.py` was fixed in #3360, but I'm still unable to reproduce this issue (handshake timeout).

[2020-09-23 04:47] mfornet commented on #3348
As suggested by @birchmd I think we should have this from the borsh side. It is not completely clear, but we can have some object that gives us a lazy view over a raw borsh serialization of an object. It should allow to access (deserialize) some particular fields (maybe deeply inside structs/enums) without needing to deserialize the full object, at most the prefix that contains the target field. I

[2020-09-23 07:06] 1971192997 opened #3361 "how to get the private key?"
1 how to get the private key to sign the transaction?

2 how to get private key from 12 word which is called seeds?

i do not get private key from the wallet on testnet , pls help me ,thanks

[2020-09-23 11:07] frol opened #3362 ""Waiting for peers" gets never recovered"
**Describe the bug**

Sometimes I observe a freshly started node fails to find peers for a long time, but if I just restart it, it immediately finds peers and proceeds to work just fine.

**To Reproduce**

I don't know how to reproduce, but it is not the first time I observe such behavior.

**Expected behavior**

The node should retry reaching peers and identify dead connections.

**Screenshots**

[2020-09-23 11:13] frol commented on #3361
Please, use [stackoverflow (with tag #nearprotocol)](https://stackoverflow.com/questions/tagged/nearprotocol) for support questions.

Here are the resources you may find helpful:

* https://docs.near.org/docs/development/near-cli
* https://stackoverflow.com/questions/58550759/how-to-create-an-account-with-a-specific-private-key
* https://stackoverflow.com/questions/58772724/how-do-i-sign-a-message

[2020-09-23 11:13] #3361 closed

[2020-09-23 12:15] frol opened #3363 "Consider using alternative Wasm runtimes"
We had some conversations here and there about wasmer 1.0 and wasmtime. The current approach is to compile Wasm down to machine code and execute that. There is an alternative approach, which is to interpret Wasm code. Given that the smart contracts are relatively small in size and already optimized, and expect to be executed in well under 1 second, I wonder if interpreting is a better strategy ove

[2020-09-23 15:31] willemneal commented on #3363
I definitely think this is worth an experiment.  I wonder what the cost compares with a large binaries.  Even if they are mostly small some won't be and there might be a larger warm up cost vs the load and execution of the precompiled assembly.  Also since we have been measuring the cost of compiling contracts we would need to inject gas metering into the interpreter.

Perhaps we could have the be

[2020-09-23 16:05] bowenwang1996 commented on #3359
Doesn't this cause handshake timeout eventually or did I miss something?

[2020-09-23 16:27] bowenwang1996 commented on #3362
How long did you wait?

[2020-09-23 16:43] bowenwang1996 opened #3364 "Archival nodes should anchor archival peers"
It may take a long time for an archival node to sync. Currently we have this rebalance strategy on the network so that nodes will disconnect from older connections when newer connections come in. This means that while an archival node is syncing, it could actively disconnect from its archival peers or its peers disconnect from it, in which case this might lead to the node not having peers to sync

[2020-09-23 16:50] bowenwang1996 opened #3365 "Archival nodes should request old blocks only from archival peers"
Currently when we request blocks during block sync, we do not consider whether the node is archival. This means that when an archival node is syncing, it can try to request blocks from its peers who do not have the blocks that are already garbage collected. This is not only inefficient but also poses problems when the archival peers are not in `highest_height_peers`, the node that is syncing may g

[2020-09-23 18:15] #3318 closed

[2020-09-24 10:18] frol commented on #3362
@bowenwang1996 It was in this state for around half an hour.

[2020-09-24 15:10] khorolets opened #3370 "ExecutionOutcome for the Transaction expected in the same block but it is not there"
**Describe the bug**
From slack discussion:

Guys when we were dealing with local receipts and found the way to handle them via ExecutionOutcome for transaction. I’ve asked whether I can be sure ExecutionOutcome for transaction is always in the same block (once tx just coverts to receipt for magic to start). And I had positive answer. But indexers went down recently in the place where I expect out

[2020-09-24 15:54] bowenwang1996 commented on #3362
That is very abnormal. @mfornet please take a look

[2020-09-24 16:01] mfornet commented on #3362
I'll take a look, but is it possible that the node got banned for some reason?

[2020-09-24 16:09] mfornet commented on #3359
Not necessarily, and actually while I was debugging that was not the case. When one peer drops the connection, the other peer will note the stream have been closed, and will call to stop the PeerActor, in this case, handshake timeout won't be triggered. This was the actual situation, since one peer was closing connection as soon as it noticed that the inbound peer was already an active connection.

[2020-09-24 17:22] ailisp opened #3371 "Evm gas counting and deduct gas from run evm contract"
It's WIP in #3299

[2020-09-24 17:41] bowenwang1996 commented on #3370
Is the transaction execution outcome that is missing or is it the receipt execution outcome?

[2020-09-24 17:42] khorolets commented on #3370
@bowenwang1996 Transaction

[2020-09-24 22:34] evgenykuzyakov commented on #3337
done

[2020-09-24 23:05] nearmax commented on #3352
It is getting more important. Please check with @mikhailOK

[2020-09-25 00:48] bowenwang1996 commented on #3359
I see. Maybe try connecting a node to testnet and see if that helps reproducing the issue. Also I believe #3362 may be related.

[2020-09-25 10:20] ilblackdragon opened #3373 "Update default bootnodes for mainnet"
The nodes that are in the config are offline.
We should switch to using RPC nodes as boot nodes and may be sample of some well establish other validator nodes.

[2020-09-25 12:37] #3370 closed

[2020-09-25 15:34] bowenwang1996 commented on #3373
Is it fixed @chefsale?

[2020-09-25 15:45] chefsale commented on #3373
Yes it is.

[2020-09-25 15:45] #3373 closed

[2020-09-25 18:40] nearmax commented on #3334
Lets keep the scope of this issue for on-disk singleton cache only.

[2020-09-25 18:41] nearmax commented on #3371
@ailisp Please add smaller issues into this Epic, and assign some of them to the current Milestone.

[2020-09-25 20:56] SkidanovAlex commented on #2552
Removing from Avocado. The test was mostly fixed, the remaining issues are not worth keeping the test at this point.

[2020-09-25 20:57] #3307 closed

[2020-09-25 20:57] ashpooljh opened #3375 "neard compilation fails in Docker due to `git_version` macro"
**Describe the bug**
Building `nearcore` in Docker using the provided `Dockerfile` fails with error:
[code]

**To Reproduce**
Issue `DOCKER_BUILDKIT=1 docker build .` in project root as a sufficiently privileged user.

**Expected behavior**
The Docker image is expected to build successfully.

**Version**
- nearcore commit `9a2c9d49`
- docker version 19.03.12 running on Linux.

[2020-09-25 21:52] ashpooljh commented on #3375
Looks like this has to do with the fact that I'm trying to build `nearcore` as a git submodule of another project. This could be a bug in [rust-git-version](https://github.com/fusion-engineering/rust-git-version).

[2020-09-25 22:19] SkidanovAlex commented on #2251
Removing from Avocado since it is only applicable to the multishard setup

[2020-09-25 22:20] #3256 closed

[2020-09-25 22:36] #3130 closed

[2020-09-26 00:00] #3365 closed

[2020-09-26 00:28] #3364 closed

[2020-09-26 03:24] bowenwang1996 opened #3377 "Add extra options to print memory usage by all actors"
We should add options to print the memory usage by actors to help check for memory leaks. This does not include memory consumed by actix itself.

[2020-09-26 03:25] bowenwang1996 opened #3378 "Add stats to print memory usage for rocksdb"
Add memory usage diagnostics for rocksdb similar to https://github.com/nervosnetwork/ckb/pull/2036 to help debug memory leaks.

[2020-09-26 03:27] bowenwang1996 opened #3379 "add stats for the amount of memory allocated with jemalloc"
Similar to https://github.com/nervosnetwork/ckb/pull/1940, add stats for memory allocated by jemalloc.

[2020-09-26 03:28] bowenwang1996 opened #3380 "Investigate memory usage by actix"
Investigate memory usage inside actix, especially the messages that are queued when they are about to be sent from one actor to another actor. Since we mostly use `do_send` and `send`, the mailbox limit is ignored.

[2020-09-26 10:23] #3375 closed

[2020-09-28 05:27] bowenwang1996 opened #3382 "Return receipts generated by transaction in transaction status query"
Currently in transaction status query we only return receipts outcomes but not the actual receipts.

[2020-09-28 07:56] ilblackdragon opened #3384 "Reorganize primitives and dedup with runtime utils"
We have primitives cargo, which grew outside of it's original intention.

Given requirement to have WASM compilable primitives, we should reorganize to move all the non primitive stuff (especially, one that doesn't compile to WASM) out.

Runtime now has tons of it's own utils that should be then merged back when primitives is cleaned up.

[2020-09-28 12:49] frol opened #3386 "Restrict Function method names to be only valid identifiers"
***Describe the bug***

Through Indexer for Explorer (/cc @khorolets) we observed that some people played with invalid transactions being constructed, namely ones that have method names with NULL byte in it. I suggest we only allow certain naming for method names as we display them in various places and it has no sense to display `\u0000` bytes.

Proposed valid identifier for exported method names

[2020-09-28 13:58] birchmd commented on #2925
Issue seems to now be resolved (cannot reproduce)

[2020-09-28 13:58] #2925 closed

[2020-09-28 14:47] bowenwang1996 commented on #3386
Just want to point out that this requires a protocol change, but I think it's a good idea.

[2020-09-28 15:21] bowenwang1996 commented on #3351
It works now after #3376, #3369, #3345, #3344.

[2020-09-28 15:21] #3351 closed

[2020-09-28 15:54] ailisp opened #3389 "Review, understanding EVM in near and thread evm gas spent in function calls"

[2020-09-28 15:54] ailisp commented on #3389
Done in #3299 and PR review

[2020-09-28 15:54] #3389 closed

[2020-09-28 15:57] ailisp opened #3390 "Add evm runner in runtime-parames-estimator"
add evm runner in runtime-params-estimator, measure deploy_code and function call cost from runtime-param-estimator (Y), gas_used (X) of different contracts

    - deploy_code
    - function call
    - call precompiled evm function

[2020-09-28 15:57] ailisp commented on #3390
done in #3299

[2020-09-28 15:57] #3390 closed

[2020-09-28 16:01] ailisp opened #3391 "Calculate near gas from evm gas"
Calculate near cost of any evm deploy/function call operation in near, possibly call precompiled function, (evm gas => near gas),
cap evm prepaid gas calculated from prepaid near gas, so evm won't use more gas than corresponding prepaid near gas

[2020-09-28 16:02] ailisp commented on #3391
done in #3299

[2020-09-28 16:02] #3391 closed

[2020-09-28 16:05] ailisp opened #3392 "Measure full evm gas used include finalize state in block but deduct action receipt"
Address @evgenykuzyakov comment, since if only counting evm execution but no operation state it's under estimate a lot, compare to how near operation is counted.

[2020-09-28 16:07] ailisp commented on #3392
Functionality finished, need some code clean up

[2020-09-28 16:33] ailisp opened #3393 "Code cleanup in evm gas estimate and deduct"
There's a few code style comment, some TODO comment, and recurring merge conflict to be addressed

[2020-09-28 20:04] #3071 closed

[2020-09-28 20:17] #3342 closed

[2020-09-28 20:47] #3343 closed

[2020-09-28 21:07] ailisp commented on #3340
Research on evm tests:
https://docs.google.com/document/d/1kJ2VGK-ufyvA_izrsEuNhGORt0f3azjBxbfVeOk4PJU/edit?usp=sharing

[2020-09-28 21:18] bowenwang1996 commented on #3134
still doesn't work http://nayduck.eastus.cloudapp.azure.com:3000/#/test_history/36161

[2020-09-28 21:28] vgrichina opened #3395 "RPC API versioning and re-design"
We need to introduce API versioning to support breaking API changes like https://github.com/nearprotocol/nearcore/pull/3204

There are multiple ways to pass API version. However specifying it in URL is likely the easiest to use in every context (i.e. including curl and other manual ways to query), basically something like this:

[code]

Given that we are introducing new API version anyway – it mig

[2020-09-28 22:10] ailisp opened #3396 "Investigate volatile numbers in evm cost estimate"
It becomes volatile (sometimes 50% difference !) after switch to testbed approach, so far haven't see issue in code

[2020-09-28 22:22] #3382 closed

[2020-09-28 23:54] bowenwang1996 opened #3399 "Reconstruct local receipts from transaction"
Since we now have a rpc endpoint that returns the generated receipts for a given transaction, it makes sense to also include local receipts in the return result. To achieve this, we need:
 1) expose a method to compute transaction cost given runtime config and gas price at the block in which the transaction is included. This can be done in `RuntimeAdapter`
 2) use this method in view client to con

[2020-09-29 00:01] evgenykuzyakov commented on #3399
It doesn't have to be part of `RuntimeAdapter` since it's a standalone method, but since interaction with `Runtime` is done through this trait, it should be fine.

[2020-09-29 00:18] bowenwang1996 commented on #3399
What do you suggest instead though?

[2020-09-29 04:06] pmnoxx commented on #3378
I added printing  RocksDB stats to our code base as a part of (https://github.com/nearprotocol/nearcore/pull/3319).
[code]
All those stats were queried from rocksdb api.

[2020-09-29 04:06] #3378 closed

[2020-09-29 04:08] pmnoxx commented on #3379
I added printing Jemalloc stats to our code base as a part of (https://github.com/nearprotocol/nearcore/pull/3319).
Those can queried from jemalloc api.

[code]

[2020-09-29 04:09] #3379 closed

[2020-09-29 04:19] pmnoxx opened #3400 "Add procedural macro to compute size of all rust datastructures used by Near"
I added a modified version of DeepSize package to our repo (https://github.com/nearprotocol/nearcore/pull/3319).
I also added annotations to a few hundred data structures in our code base, that measure memory usage given by a datastructure.

Counting is recursive is include Vec<...>, Rc<...>, Option<...>, RwLock<...>, Mutex<...>, arrays, as well as dyn traits.

[2020-09-29 04:19] #3400 closed

[2020-09-29 04:26] pmnoxx commented on #3377
I added printing memory stats for the following
ClientActor
ViewActor
PeerActor
PeerManagerActor

I'll need to take a look whenever there are any other actors.
as part of (https://github.com/nearprotocol/nearcore/pull/3319)

[2020-09-29 04:30] pmnoxx opened #3401 "Add counting the amount of memory allocated per thread as well as number of allocations."
As part of (https://github.com/nearprotocol/nearcore/pull/3319).
I added counting amount of memory allocated by jemalloc per thread by adding a wrapper around alloc/dealloc. This should allow us to see how much memory each thread uses. In addition we will be able to measure how much memory each function is using/leaking.

[2020-09-29 04:31] #3401 closed

[2020-09-29 04:34] pmnoxx opened #3402 "Investigate memory usage by Wasmer."

[2020-09-29 05:05] pmnoxx opened #3403 "Change lto to off by default, and only to on in actual release"
Linking process takes around 5m on my machine by default for release build.
I can get it down to 17s by changing `Cargo.toml`.
`
lto = off
codegen-units = 256
`
It would be best not to have to apply this patch patch manually. I was thinking about adding a feature, which turns those flags off.
For example
`
cargo build --release --features "fast_build" -p neard
`

[2020-09-29 05:15] pmnoxx commented on #2755
I added a couple changes that hopefully will show us where the memory leak is.
We will measure the amount of memory used by rocksdb, from jemalloc, memory used by each actor.
Also most importantly the number of allocations/size of allocations per thread.
Here is a draft PR: (https://github.com/nearprotocol/nearcore/pull/3319)

I'll run a node for a few days, hopefully we will know more soon.

[2020-09-29 05:23] pmnoxx opened #3404 "Move DeepSize into a separate repo / rewrite library in a cleaner way."
DeepSize library needs some work in case we want to publish it, move it out of our repo.

[2020-09-29 05:30] pmnoxx opened #3405 "Hotfix ClientActor to prioritize block production"
Client actor may delay running triggers if some channels get busy processing messages.

https://github.com/nearprotocol/nearcore/pull/2983

[2020-09-29 05:31] #3405 closed

[2020-09-29 05:36] pmnoxx opened #3406 "BUG: Actix doesn't guarantee fairness when processing different messages inside one client actor"
I noticed that in Actix current implementation of futures, Actix will continue reading messages until given channel is empty. During that time no other messages or trigger will execute.
This change requires either submitting a hotfix to Actix or creating our own Actix branch.

[2020-09-29 06:09] pmnoxx opened #3407 "move MemoryTracker into a separate repo"
It may be a good idea to move MemoryTracker into separate repo, it could be useful for other people as well.

[2020-09-29 10:52] i7495 opened #3408 "Node crashed"
**Describe the bug**
My betanet validator node crashed twice with the latest near version. See the logs below.

**To Reproduce**
Start the node, wait till it crashes.

**Version:**
- nearcore `Version: 1.16.0-beta.1, Build: 4ad5b868-modified, Latest Protocol: 39`
- betanet

**Additional context**
[code]

[2020-09-29 13:17] joesixpack opened #3409 "Bug: Node Crashing on StorageInconsistentState"
Betanet 1.16.0-beta.1.

[code]

[2020-09-29 13:21] mfornet commented on #3408
This is failing because nearcore is unable to bind to a port. There are two potential reasons here:

1. This error may happen if you try to reuse a port that is already being used, i.e. if you start two instances of nearcore simultaneously.

2. Right now, there is one thread and one port being used per active connection, and those are not being pooled, i.e. nearcore tries to bind to a new port eac

[2020-09-29 14:34] bowenwang1996 commented on #3402
What is the plan there?

[2020-09-29 14:37] bowenwang1996 commented on #3403
Duplicate of https://github.com/nearprotocol/near-ops/issues/169. @pmnoxx please discuss the issue there

[2020-09-29 14:37] #3403 closed

[2020-09-29 14:38] bowenwang1996 commented on #3406
From actix's perspective is this a bug or a feature?

[2020-09-29 14:40] bowenwang1996 commented on #3409
@joesixpack can you provide the full log?

[2020-09-29 14:42] bowenwang1996 commented on #3408
Are you trying to run two neard's at the same time?

[2020-09-29 15:06] mfornet commented on #3362
Fixed in #3397

[2020-09-29 15:06] #3362 closed

[2020-09-29 15:06] mfornet commented on #3359
Fixed in #3397

[2020-09-29 15:06] #3359 closed

[2020-09-29 15:23] joesixpack commented on #3409
[logs.tar.zip](https://github.com/nearprotocol/nearcore/files/5300121/logs.tar.zip)

[2020-09-29 15:50] i7495 commented on #3408
I have a systemd service that checks for near process, and if near is not running the script will start it.
So it is possible that the issue related to my setup and somehow two near processes was started at the same time. But it worked well before the 1.16.0-beta.1 version.

It's 4 cores CPU and 8 GB RAM (+4 GB swap)

[2020-09-29 16:14] birchmd opened #3410 "Version ShardChunkHeader"
In order to complete https://github.com/nearprotocol/nearcore/issues/3347 we need to make the changes in the `post-phase-1` branch backwards compatible. One such change was the away hashes are computed for shard chunk headers (for details about why this change is needed see https://github.com/nearprotocol/nearcore/pull/2769#discussion_r434730109 ). To be backwards compatible, we need to know the p

[2020-09-29 16:21] ailisp opened #3411 "EVM testing suite"
# Low level, like each evm assembly operation/builtin function tests, ethereum builtin test suite:
Openethereum has tested this, and it’s quite complete
https://github.com/openethereum/openethereum/blob/master/ethcore/src/json_tests/executive.rs#L367-379
https://github.com/openethereum/openethereum/tree/master/ethcore/res/ethereum
https://github.com/ethereum/tests/tree/develop/VMTests
Since we use

[2020-09-29 17:32] pmnoxx commented on #3402
I have two options.
1) Add code to warmer to measure memory usage, that's what I was originally planning to do.
2) Modify memory_tracker package to compute memory allocation per package. This will require some work to research how to do it, but it may be possible.
I'm going to investigate whenever option 2 is doable.

[2020-09-29 17:47] pmnoxx commented on #3406
Actix doesn't make any claims about fairness guarantees. I suppose this could be considered as adding a new feature.

The issue is with how one particular async function is implemented in Actix. It's implementation can be changed in order to add fairness guarantees.

[2020-09-29 18:03] chefsale opened #3415 "Implement --download-config flag which overrides the config, as --download-genesis does"
We have support for --download-genesis which downloads testnet or betanet config and overrides it, we want to have some logic for config.json.

[2020-09-29 21:21] bowenwang1996 commented on #3409
It is a known issue that your node may very occasionally crash on state sync. When this happens, simply restarting the node should address the issue. It will be addressed when we rewrite syncing.

[2020-09-30 15:21] bowenwang1996 commented on #3410
@birchmd what about your idea of passing the protocol version along by creating a new version of `RoutedMessage`? Do we see any issue with that?

[2020-09-30 15:27] birchmd commented on #3410
I'm looking into it now. It looks like it could require quite a lot of code duplication, which I really would like to avoid.

[2020-09-30 15:31] birchmd commented on #3410
I am wondering if maybe instead I should add a new variant to `RoutedMessageBody` which carries a new version of `PartialEncodedChunk`, which will carry the new `ShardChunkHeader`. I'll also need to add a new version of `Block` which carries the new chunk headers as well. I think this might be less work and less code duplication overall.

[2020-09-30 16:42] bowenwang1996 commented on #3410
yeah that sounds like a good plan.

[2020-10-01 20:48] mikhailOK opened #3420 "one_val.py: Storage Validation failed"
http://nayduck.eastus.cloudapp.azure.com:3000/#/test/33948
Colmmit: 52f3627591aa0a142618af6771a9dbe5532b437b

[code]

[2020-10-01 20:53] evgenykuzyakov opened #3421 "Upgrade `DeleteAccount` action to generate regular transfer"
Currently `DeleteAccount` action generates a refund. A refund can't create an implicit account.
If we switch it to generate regular accounts, then beneficiary receiver account can be created. This allows to support UTXO like transactions on NEAR. Where every transaction on an implicit account instead a `Transfer` and `DeleteAccount` action that removes current account and splits the amount into a

[2020-10-01 21:21] mikhailOK opened #3422 "nayduck 34370: start_from_genesis.py"
http://nayduck.eastus.cloudapp.azure.com:3000/#/test/34370
The test kills both nodes, then restarts the second node with empty storage, and calls `adv_produce_blocks`, but in this run it syncs from the observer and produces blocks on top instead of a new chain.

[2020-10-01 21:39] mikhailOK opened #3424 "nayduck 36645: staking2.py Storage Validation failed"
run: http://nayduck.eastus.cloudapp.azure.com:3000/#/test/36645
commit: ccf8e87175da72553a05fc58c7e97c129ee6a401
Likely same as #3420
[code]

[2020-10-01 22:44] evgenykuzyakov commented on #3386
For validity check we need to see, what's allowed by WebAssembly standard. I know the unicode is allowed, but I don't think anyone is actually using it.

[2020-10-01 22:54] evgenykuzyakov opened #3428 "Run disk vs RAM param fee estimation"
The idea is to estimate the cost of disk overhead to be included into the fees as a safety multiplier.

For this I plan to run the param estimator with RAM-disk/SSD and icount/CPU-time.

This will give us 4 metrics that might give the idea of the overhead for SSD.

This can be adjusted later once we have the proper benchmarks.

[2020-10-01 23:42] mikhailOK opened #3429 "nayduck 37544: rpc_query.py query same account gives different result"
http://nayduck.eastus.cloudapp.azure.com:3000/#/test/37544

account.locked is different because of epoch change

[2020-10-02 00:11] nearmax commented on #3334
@evgenykuzyakov @ailisp @bowenwang1996 I have discussed it with @mikhailOK and he has a valid point against Singleton:
* Compilation cache is part of the protocol and therefore it should be explicit in the semantics of the runtime methods;
* We want to avoid compiling in store crate with rocksdb into runtime because, which would make standalone runtime more complex. Also, our runtime currently enj

[2020-10-02 00:36] pmnoxx commented on #3377
We have 7 actors in total. The first 4 I already covered. The remaining ones are WaitOrTimeout, TelemetryActor, EdgeVerifier. All of those data structures contain no data, so there isn't any point in printing stats for them.

[2020-10-02 00:36] #3377 closed

[2020-10-02 00:58] pmnoxx opened #3430 "Investigate how to measure memory usage in each external C module"
Previously I added a measurement of memory usage in `neard`.
I noticed that in a day the memory usage grew from 1.2gb to 3.9gb. That's 2.7gb increase.
Meanwhile allocated memory by Rust code grew from 400mb to 1.4gb (1.7gb mapped).
main thread:  872151 allocations 593 mb  (up from 25275 / 49mb)
peermanager: 37890 allocations 275 mb (up from 8566/28mb)
33 peer actors: 55 allocations each, total 503

[2020-10-02 01:00] pmnoxx opened #3431 "Investigate memory leak in mainthread/peermanager."
Previously I added a measurement of memory usage in `neard`.
I noticed that in a day the memory usage grew from 1.2gb to 3.9gb. That's 2.7gb increase.
Meanwhile allocated memory by Rust code grew from 500mb (600mb mapped) to 1.4gb (1.7gb mapped).
main thread:  872151 allocations 593 mb  (up from 25275 / 49mb)
peermanager: 37890 allocations 275 mb (up from 8566/28mb)
33 peer actors: 55 allocations

[2020-10-02 03:02] #3429 closed

[2020-10-02 04:10] ailisp commented on #3334
I think when discussed with Evgeny, we had assumption that "Compilation
cache is not part of the protocol"

because, which would make standalone runtime more complex. Also, our
runtime currently enjoys benefit of having few dependencies and it would be
nice to keep it this way. It is easy to make dependency inversion through
interface to cut this dependency when store is an explicit argument/field

[2020-10-02 04:43] ailisp commented on #3334
Hmm currently singleton store is set in create_store(rocksdb), but it
doesn't need to be rocksdb, if there's a concern to use in standalone
runtime i can made it initialize from store that's irrelevant to which
database trait is used

On Thu, Oct 1, 2020 at 9:09 PM Bo Yao <bo@near.org> wrote:

[2020-10-02 09:06] khorolets opened #3433 "feat(indexer): Add receipts to execution outcome in streamer"
We want to attach receipt to `ExecutionOutcome` so Indexers will be able to watch for ExecutionOutcomes and get receipts right away. It could simplify the storing logic for the cases when Indexer interested only in receipts that have completed and have statuses without storing receipts in the first place and waiting for outcome.

[2020-10-02 10:00] frol opened #3434 "feat(rosetta-rpc): Update rosetta.cfg to pass rosetta-cli validation"
Currently, rosetta.cfg is configured to only test Rosetta Data API, and Construction API was tested with an external script.

[2020-10-02 10:15] frol opened #3435 "fix(rosetta-rpc): Avoid duplicate "fake transaction" hashes in Rosetta Data API"
"fake" transactions (block events like validator rewards get a `block:<block_hash>` as a Rosetta transaction hash) got duplicated:

[code]

`block:4MvNEmwBNjcVd4cH1jFuTWFs9khhzU5c2BYurA592Kky` appeared 3 times due to the fact that some of the block changes happen before the transactions and receipts are processed, but some appear after those being processed, which creates this duplication.

[2020-10-02 13:22] chefsale opened #3437 "Migrate nearprotocol/nearcore to near/nearcore"

[2020-10-02 15:16] mfornet commented on #3134
Fixed in #3414

[2020-10-02 15:16] #3134 closed

[2020-10-02 16:09] bowenwang1996 opened #3438 "Investigate network bottleneck when there are many shards"
@birchmd did some preliminary investigation to understand the performance of data transmission when there are many shards. The experiment was done by creating chunks with only garbage data and skip applying chunks to see the scalability on the network level. The result is as follows:

![image (1)](https://user-images.githubusercontent.com/13601726/94944551-438b4580-048e-11eb-9424-05ef27402999.png)

[2020-10-02 16:52] pmnoxx commented on #3431
https://stackoverflow.com/questions/262439/create-a-wrapper-function-for-malloc-and-free-in-chttps://stackoverflow.com/questions/6083337/overriding-malloc-using-the-ld-preload-mechanism

[2020-10-02 16:54] pmnoxx commented on #3430
https://stackoverflow.com/questions/262439/create-a-wrapper-function-for-malloc-and-free-in-chttps://stackoverflow.com/questions/6083337/overriding-malloc-using-the-ld-preload-mechanism

[2020-10-02 17:21] pmnoxx commented on #3430
The next step is to investigate how rust to C linking works, and  then write a C proxy alloc module, which can measure the amount of memory allocated/freed.

[2020-10-02 18:05] ilblackdragon opened #3439 "Add erc20/amount charge for meta transaction"
Linked to meta-tx tracking issue: [https://github.com/near/nearcore/issues/3338](https://github.com/near/nearcore/issues/3338)
 There is spec described here: [https://github.com/nearprotocol/NEPs/pull/106#issuecomment-701421283](https://github.com/nearprotocol/NEPs/pull/106#issuecomment-701421283)

We should add an extra (`address fee_token_address` and `unit268 fee_amount`) into the message and c

[2020-10-02 19:30] birchmd commented on #3348
Closing this issue since the "research" is considered concluded for now. Another ticket will be created for implementing the lazy deserialization feature in Borsh.

[2020-10-02 19:30] #3348 closed

[2020-10-02 19:36] #3392 closed

[2020-10-02 19:36] #3393 closed

[2020-10-02 19:41] #3337 closed

[2020-10-02 19:46] birchmd opened #3440 "Version ShardChunkHeader (continued)"
This is a continuation of https://github.com/nearprotocol/nearcore/issues/3410

Work on this issue is being pushed to https://github.com/birchmd/nearcore/tree/versioned-routed-message

[2020-10-02 19:49] birchmd commented on #3410
There is a lot of code which is touched when changing `ShardChunkHeader` to be an enum. Much of the modifications are mechanical, but still take time to complete. I am also trying to minimize the overall impact as much as possible, which takes additional time.

This issue is being closed because the current cycle is completed, but will continue in https://github.com/nearprotocol/nearcore/issues/34

[2020-10-02 22:45] evgenykuzyakov commented on #3355
Part one is done here: https://github.com/nearprotocol/NEPs/pull/117

[2020-10-02 22:55] mikhailOK opened #3443 "nayduck 37092: epoch_switch.py"
7/30 failures, most recent: http://nayduck.eastus.cloudapp.azure.com:3000/#/test/37092

[2020-10-02 23:35] bowenwang1996 commented on #3353
Announcement done. Migration script done here https://github.com/nearprotocol/near-ops/pull/178 and tested by @mhalambek

[2020-10-02 23:35] #3353 closed

[2020-10-02 23:38] bowenwang1996 commented on #3354
Release that contains implicit account creation https://github.com/nearprotocol/nearcore/releases/tag/1.13.1
Release for enabling inflation prepared in https://github.com/nearprotocol/nearcore/tree/1.13.2. Will release it once the voting is done.

[2020-10-02 23:38] #3354 closed

[2020-10-02 23:39] bowenwang1996 commented on #3249
We have announced that this will happen on 12th of October at 4PM CET. Will close the issue once the migration is done.

[2020-10-02 23:57] bowenwang1996 opened #3444 "Investigate security advisory issue GHSA-pxcr-rf8m-mh2x"

[2020-10-03 18:46] #3422 closed

[2020-10-04 14:52] Ivan123-ops opened #3446 "Node doesn't download headers, can't sync"
**Describe the bug**
Node doesn't download headers or downloads too slowly.
Message in logs
Telemetry data could not be sent due to: Failed to connect to host: the handshake failed: error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed:ssl/statem/statem_clnt.c:1915:: certificate has expired

**To Reproduce**
Remove .near folder and start nearup betanet

**Expected be

[2020-10-04 20:19] bowenwang1996 opened #3447 "Test enabling inflation"
Make a dry run of the protocol change that enables inflation to make sure that 1) inflation is properly enabled and 2) validator reward is correctly calculated.

[2020-10-04 22:56] bowenwang1996 commented on #3446
The node is downloading headers. It's just that there are so many headers that downloading is slow. If you wait for a while you should see it making progress.

[2020-10-05 05:44] bowenwang1996 commented on #3322
@mikhailOK is this done?

[2020-10-05 09:16] Ivan123-ops commented on #3446
It took 2 days to sync now OK(

[2020-10-05 09:16] #3446 closed

[2020-10-05 09:17] #3433 closed

[2020-10-05 09:20] ilblackdragon opened #3448 "RPC to dry run of transaction"
This is similar to view call, but allows to call state changing functions, attach deposit and sender.

This can be used to estimate gas used, find issues in arguments and debugging in general.

This is needed for proper charging of meta transactions #3439 and https://github.com/near/near-cli/issues/561

CC @frol @nearmax

[2020-10-05 09:24] frol commented on #3448
Can we call testnet to be the dry-run environment? It seems that standalone runtime should be a much nicer facility to solve the gas estimation

[2020-10-05 09:47] ilblackdragon opened #3449 "Add precompile in NEAR EVM to schedule a promise"
There needs to be an EVM precompile(s) that will allow a solidity code to schedule a promise call outside.

We probably can mimic the interface of the NEAR's promises:
[code]

Additional discussion <span class="error">[here]</span>([https://github.com/nearprotocol/NEPs/pull/106#issuecomment-686808411](https://github.com/nearprotocol/NEPs/pull/106#issuecomment-686808411)).

[2020-10-05 09:50] ilblackdragon opened #3450 "Add Balancer truffle tests into nightly test"
We have running Balancer's tests here - https://github.com/ilblackdragon/balancer-core/pull/1

We should run them in the nightly test to make sure that EVM + web3 provider continues to function.
Also later we can add more contracts / setups there.

[2020-10-05 16:14] #3410 closed

[2020-10-05 16:29] ilblackdragon opened #3455 "Error propagation from NearExt::call"
There is a TODO error right now that gets ignored, as some errors are not due to runtime and can be non deterministic. Also return value is vector which is limiting.

Instead should propagate error via state and catch in on high level.

[2020-10-05 16:44] ilblackdragon opened #3456 "Support blockhash API"
Currently we return hash of 0x0 for `blockhash` API for Solidity.

Challenge with this, is that we don't have access to blocks data at all from `NearExt`.

[2020-10-05 16:45] ilblackdragon commented on #3456
Also given most of the times, this used for randomness and time in Ethereum, it may be useful to add separate precompiles for those two things.

[2020-10-05 22:12] maxzaver opened #3458 "Max limit on chunk size"
As suggested by @mikhailOK , we need to introduce two types of limits into our protocol for chunks:

*   Limit the total size of the transactions in bytes;
*   Limit the total state diff in bytes (how much the state is changed by an individual chunk);

Both of these limits will allow to early filter out state sync and chunk messages on a network level. Currently, this is partially limited by the g

[2020-10-06 00:19] SkidanovAlex commented on #3458
Why is the total diff of the state change matter?

[2020-10-06 01:38] nearmax commented on #3458
Please disregard. I thought it was so that OOM cannot be caused by we can have at most ~32MiB of state diff per chunk, which is 3.2GiB for 100 shards which should be tolerable.

[2020-10-06 03:47] bowenwang1996 commented on #3458
Depending on how we want to implement this, #3274 may need to be addressed first.

[2020-10-06 09:31] #3434 closed

[2020-10-06 14:54] #3435 closed

[2020-10-06 18:15] nearmax commented on #3340
Investigation is done. Now @ailisp is going to do #3450

[2020-10-06 18:15] #3340 closed

[2020-10-06 18:20] nearmax opened #3461 "Include contract input into EVM gas cost"
Following @ilblackdragon 's comment: https://github.com/nearprotocol/nearcore/pull/3299#issuecomment-703881207 we need to include input into gas cost evaluation of EVM.

[2020-10-06 18:38] ailisp commented on #2444
Step back since no longer have time to work on this. My investigation was adding to all nightly tests require some rewrites to all nightly tests' start_cluster util function. It currently takes and start all with same binary, should be modified so it take different neard binaries run X node of one binary, and one node of another binary

[2020-10-06 18:54] evgenykuzyakov commented on #3428
# Raw configs
[config_icount_ram.json.txt](https://github.com/nearprotocol/nearcore/files/5335997/config_icount_ram.json.txt)
[config_icount_ssd.json.txt](https://github.com/nearprotocol/nearcore/files/5335999/config_icount_ssd.json.txt)
[config_time_ram.json.txt](https://github.com/nearprotocol/nearcore/files/5336000/config_time_ram.json.txt)
[config_time_ssd.json.txt](https://github.com/nearprot

[2020-10-06 18:58] ailisp opened #3462 "Address two evm gas est refactor issue"
- Given you already have EvmGasCounter -> it should receive prepaid NEAR gas, and then should support both charging evm gas and NEAR gas and returning left NEAR/EVM gas.

_Originally posted by @ilblackdragon in https://github.com/nearprotocol/nearcore/pull/3299#discussion_r499493629_

- remove hack of `evm_last_deployed_addr`, use test-utils/testlib to query result

[2020-10-06 22:24] mikhailOK opened #3464 "nayduck 42085: lightclnt.py KeyError height_to_hash"
http://nayduck.eastus.cloudapp.azure.com:3000/#/test/42085
[code]

[2020-10-07 00:29] evgenykuzyakov commented on #3356
Created https://github.com/nearprotocol/NEPs/issues/120

[2020-10-07 00:29] #3356 closed

[2020-10-07 06:04] #3420 closed

[2020-10-07 06:04] #3424 closed

[2020-10-07 09:17] khorolets opened #3467 "The order of ExecutionOutcomes"
To properly implement accounts and access keys tracking (add, delete) in indexers we need to correct order of ExecutionOutcomes.

For example if in one block we have actions for the same `CreateAccount` and `DeleteAccount` we should create it and then delete it. But we have unordered outcomes so we might have try to delete account first and then create it what ends up in the wrong representation o

[2020-10-07 09:22] frol commented on #3467
For the context, `ColOutcomesByBlockHash` stores the outcomes by block in as `HashSet`:

https://github.com/nearprotocol/nearcore/blob/b3bb1da661b374f9c13a28f3932bcb06ff076313/chain/chain/src/store.rs#L2584

Is there a way to store outcomes in their execution order? (well, from Indexer point of view, it does not care about how it is stored, it needs to retrieve them so they are sorted in their exe

[2020-10-07 10:37] q9f opened #3468 "Extremely slow header sync on betanet"
Downloading 5% of the headers of betanet takes ~~28~~ 21 minutes.

**To Reproduce**
1. get archlinux
2. fresh install of nearup
3. nearup run betanet --account-id q.betanet

**Expected behavior**
Assuming this is a testnet, it should be much quicker in synchronization.

Assuming the "header download" is some kind of fast sync, it should be much faster.

**Screenshots**

![Screenshot at 2020-10-07

[2020-10-07 16:51] bowenwang1996 commented on #3467
Yes we can. The problem is that when we do the migration, trying to recover the order could be nontrivial if we had delayed receipts.

[2020-10-07 16:55] bowenwang1996 commented on #3468
There are about 4 million blocks on betanet right now so syncing is slow. That said, we will be working on improving syncing speed.

[2020-10-07 17:26] frol commented on #3467
Well, at least you have some plan to recover the order while on the indexer side it does not appear to be feasible at all.

Meanwhile, Indexer for Explorer is going to be working at its best effort, but corner cases like adding and removing same keys/accounts in a single block/chunk/transaction/receipt may get corrupted. I believe other Indexer implementations may also require strict order of even

[2020-10-07 18:10] bowenwang1996 commented on #3447
Done here https://github.com/nearprotocol/nearcore/blob/enable-inflation-dry-run/pytest/tests/sanity/enable_inflation.py. Also posted in the phase 2 discussion https://github.com/nearprotocol/NEPs/issues/115#issuecomment-704013114

[2020-10-07 18:10] #3447 closed

[2020-10-08 05:25] mikhailOK commented on #3063
With #3470 first start uses 3 GB, second uses 1 GB (to read genesis into memory). After booting up memory usage goes down.

[2020-10-08 15:02] bowenwang1996 commented on #3467
I thought about it again and it doesn't appear to be difficult to do. I can work on this if needed